<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "footable-0.1.js" %>
<script type="text/javascript">
    $(function() {
        $('table').footable();
    });
</script>

<div id="image" class="welcomes start report">
<%= render "side" %>
<div id="page-content">
<h1>风险评估报告
  <a class="btn btn-primary btn-large pull-right reporthide win" href="/userfinanceplan/p4s1_Emergency_fund">下一步：制定理财规划</a>
</h1>
<div class="tablet">
<div class="row-fluid">
  <div class="span12">
   <div class="mleft">
    <p class="q-text" id="risk">
      <% if @userfinancedata!=nil %>
      您的风险评估得分是<%= @userfinancedata.risk_score %>分,
      <% if @userfinancedata.risk_score>8 && @userfinancedata.risk_score<=10 %>  您属于激进型投资人。
          <% elsif @userfinancedata.risk_score>6 && @userfinancedata.risk_score<=8 %>您属于积极型投资人。
          <% elsif @userfinancedata.risk_score>4 && @userfinancedata.risk_score<=6 %>您属于稳健型投资人。
          <% elsif @userfinancedata.risk_score>2 && @userfinancedata.risk_score<=4 %>您属于保守型投资人。
          <% elsif @userfinancedata.risk_score>=0 && @userfinancedata.risk_score<=2 %>您属于安益型投资人。
          <% end %>
      <% end %>
    </p>
    <div class="left">
      <div id="container2" style="width: 280px;height: 170px;"></div>
      <table id="type" class="table table-striped table-bordered footable">
        <thead>
        <tr>
          <th data-sort-initial="descending" data-class="expand" style="width: 80px;">风险类型</th>
          <th data-sort-ignore="true">分值范围</th>
          <th data-hide="phone">年收益率</th>
          <th data-hide="phone" style="width: 120px;">适合产品</th>
          <th data-hide="phone">说明</th>
        </tr>
        </thead>
        <% @risktype.each do |r| %>
            <tr>
              <td><%= r.risk_typename %></td>
              <td><%= r.risk_score_arrange %></td>
              <td><% if r.risk_type_returnrate!=nil %><%= r.risk_type_returnrate %>%<% end %></td>
              <td><%= r.risk_type_products %></td>
              <td><%= r.risk_spec_intro %></td>
            </tr>
        <% end %>
      </table>
      <a class="introduce pull-right" href="#myModal" role="button" data-toggle="modal" tabindex="-1">为何我的风险评估结果和我想象中的不是很一致？</a>
    </div>
    </div>
  </div>
</div>
</div>
<div id="q-buttons" class="">
  <a class="btn btn-primary btn-large pull-right" href="/userfinanceplan/p4s1_Emergency_fund">下一步：制定理财规划</a>
</div>
</div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>为何我的风险评估结果和我想象中的不是很一致？这个风险评估准嘛？</h3>
  </div>
  <div class="modal-body">
    <% if @blog!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/56EC6735-84CC-4B22-BD6B-2806435D811D.png"><br><br>
        <%=raw @blog.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确认</button>
  </div>
</div>
<script>
    $(document).ready(function(){
        <% if @userfinancedata!=nil %>
        <% if @userfinancedata.risk_score>8 && @userfinancedata.risk_score<=10 %>
        $("#type tr:eq(5)").addClass("back");
        <% elsif @userfinancedata.risk_score>6 && @userfinancedata.risk_score<=8 %>
        $("#type tr:eq(4)").addClass("back");
        <% elsif @userfinancedata.risk_score>4 && @userfinancedata.risk_score<=6 %>
        $("#type tr:eq(3)").addClass("back");
        <% elsif @userfinancedata.risk_score>2 && @userfinancedata.risk_score<=4 %>
        $("#type tr:eq(2)").addClass("back");
        <% elsif @userfinancedata.risk_score>=0 && @userfinancedata.risk_score<=2 %>
        $("#type tr:eq(1)").addClass("back");
        <% end %>
        <% end %>
    });

    var chart = new Highcharts.Chart({

                chart: {
                    renderTo: 'container2',
                    type: 'gauge',
                    plotBorderWidth: 1,
                    plotBackgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#FFF4C6'],
                            [0.3, '#FFFFFF'],
                            [1, '#FFF4C6']
                        ]
                    },
                    plotBackgroundImage: null,
                    height: 170,
                    width: 280
                },
                title: false,
                pane: [{
                    startAngle: -45,
                    endAngle: 45,
                    background: null,
                    center: ['50%', '145%'],
                    size: 280
                }],

                yAxis: [{
                    min: 0,
                    max: 10,
                    tickInterval: 2,
                    minorTickPosition: 'outside',
                    tickPosition: 'outside',
                    labels: {
                        rotation: 'auto',
                        distance: 20
                    },
                    plotBands: [{
                        from: 0,
                        to: 2,
                        color: '#09a509',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 2,
                        to: 4,
                        color: '#69c908',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 4,
                        to: 6,
                        color: '#eded07',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 6,
                        to: 8,
                        color: '#fa8c1e',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 8,
                        to: 10,
                        color: '#C02316',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    }],
                    pane: 0,
                    title: false
                }],

                plotOptions: {
                    gauge: {
                        dataLabels: {
                            enabled: false
                        },
                        dial: {
                            radius: '90%'
                        }
                    }
                },
                series: [{
                    data: [0],
                    yAxis: 0
                }],
                credits: {
                    enabled: false
                }
            },

            // Let the music play
            function(chart) {
                    var left = chart.series[0].points[0],
                            leftVal;
                <% if @userfinancedata!=nil %>
                leftVal = <%= @userfinancedata.risk_score %>;
                <% end %>
                    left.update(leftVal, false);
                    chart.redraw();
            });
</script>