<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<style>
    #page-content .mleft {
        margin-left: 40px;
    }
</style>

<div class="welcomes">
  <%= render "side" %>
  <div id="page-content">
    <h1>风险评估</h1>

    <div class="tablet">
      <div class="row-fluid">
        <div class="span7">
          <h2><span>1</span>风险评估重要性：</h2>
          <div class="mleft">
            <p class="q-text">每个人的风险承受能力的高低也是家庭理财规划中需要考虑的重要因素。我们应了解自己可接受的风险程度，选取适合的投资工具。若风险承受能力较高，可考虑一些高风险高回报的投资工具，如股票、基金。若风险承受能力较低，可考虑一些较为保守的投资工具，如债券、保本基金等。</p>
          </div>
          <h2><span>2</span>通天顺风险评估介绍：</h2>
          <div class="mleft">
            <p class="q-text">这个风险承受度评估系统是通天顺使用美国Caterina Lucarelli & Gianni Brighetti的Risk Tolerance in Financial Decision Making的投资风险评估理论，引用美国高盛公司的开源资产风险度管理模型，通过10个问题，包含投资取向，个人资金状况，个人工作情况，个人投资经验，从而了解您的风险承受度。</p>
            <p class="q-text">我们的整体风险度量结合主观和客观的风险承受度，较重的加权得分意味着风险厌恶越强。我们选择了这种方法，是因为行为经济学的研究表明，个人往往会夸大他们的真实的风险承受能力，尤其是男性投资者，越是经过高等教育，越易于过于自信，高估自己的风险承受能力（Barber＆Odean，2001）。如果基于对投资者的偏见的答案，可能会导致风险过高，过于波动的投资组合，真其实往往是不合适的，举个例子，这将会增加投资者卖出可能性，特别是市场下跌的情况下。</p>
            <p class="q-text">我们将为每个投资人，选择了以下经典实用功能最大化理论，为客户设定资产组合有效边界，该理论由诺贝尔经济学奖得主Harry Markowitz, 我们的风险承受能力度量参数化如下：</p>
            <img src="/assets/121015.jpg"><br><br>
            <p class="plink"><a class="introduce pull-left" href="#myModal" role="button" data-toggle="modal">更多风险评估理论介绍</a></p>
            <br><a class="btn btn-primary btn-large" href="/userrisktolerance/p3steps">开 始 风 险 评 估</a>
          </div>
        </div>
        <div class="span4 offset1">
          <a href="#myModal_pic" role="button" data-toggle="modal"><img src="/assets/userrisktolerance-1.jpg"></a>
          <p> </p>
          <a class="btn btn-primary btn-large" href="/userrisktolerance/p3steps">开 始 风 险 评 估</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><% if @blog!=nil %><%=raw @blog.btitle %><% end %></h3>
  </div>
  <div class="modal-body">
    <% if @blog!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%=@blog.imagepath %>"><br><br>
        <%=raw @blog.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div id="myModal_pic" class="modal hide fade p1_usersurvey" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>&nbsp;</h3>
  </div>
  <div class="modal-body">
    <img src="/assets/userrisktolerance-2.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>

</div>