<%= javascript_include_tag "jquery.dataTables.columnFilter.js" %>
<%= stylesheet_link_tag "personmanagement.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "demo_page.css" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<style>
    tr.even td.sorting_1{ background-color: #f9f9f9;}
    tr.odd td.sorting_1{ background-color: #fffafa!important;}
    .investor{padding-bottom: 50px;}
</style>
<div class="main-content investor">
  <a href="/">首页</a>  <br>
  <h1 class="deploy">梦想墙：</h1>
  <br>
  <div id="optionsRadios">
    <div class="box_sxtj">
      <div class="box_sxtj_top">梦想墙－查询</div>
      <div class="box_sxtj_center">
        <dl class="fore" id="category_all">
          <dt id="category-category_all">服务费:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="category" class="curr category btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="category1" class="curr category1 btn-link"> 1-10元 </a>
            </label>
            <label class="checkbox inline">
              <a id="category10" class="curr category10 btn-link"> 10-100元 </a>
            </label>
            <label class="checkbox inline">
              <a id="category100" class="curr category100 btn-link"> 100-400元 </a>
            </label>
            <label class="checkbox inline">
              <a id="category400" class="curr category400 btn-link"> 400元以上 </a>
            </label>
          </dd>
        </dl>
        <dl class="fore">
          <dt id="category-expectYID">梦想:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="expectYID" class="curr expectYID btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID1" class="curr expectYID3 btn-link"> 购房、装修 </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID2" class="curr expectYID6 btn-link"> 购车 </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID3" class="curr expectYID10 btn-link"> 子女教育 </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID4" class="curr expectYID15 btn-link"> 退休计划 </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID5" class="curr expectYID30 btn-link"> 度假旅游 </a>
            </label>
          </dd>
        </dl>
        <dl class="fore" id="duration">
          <dt id="category-duration">梦想价值:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="durations" class="curr duration btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="duration1" class="curr duration1 btn-link"> 1万-10万</a>
            </label>
            <label class="checkbox inline">
              <a id="duration10" class="curr duration10 btn-link"> 10万-20万</a>
            </label>
            <label class="checkbox inline">
              <a id="duration20" class="curr duration20 btn-link"> 20万-50万</a>
            </label>
            <label class="checkbox inline">
              <a id="duration50" class="curr duration50 btn-link"> 50万-100万</a>
            </label>
            <label class="checkbox inline">
              <a id="duration100" class="curr duration100 btn-link"> 100万以上</a>
            </label>
          </dd>
        </dl>

        <dl class="fore" id="outset">
          <dt id="category-outset">已有存款:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="outsets" class="curr outset btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="outset1" class="curr outset1 btn-link">1万-10万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset10" class="curr outset10 btn-link">10万-20万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset20" class="curr outset20 btn-link">20万-50万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset50" class="curr outset50 btn-link">50万-100万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset100" class="curr outset100 btn-link">100万以上</a>
            </label>
          </dd>
        </dl>
      </div>

      <div class="box_sxtj_bottom">
        <dl class="fore">
          <dt>已选择的筛选条件:&nbsp;</dt>
          <dd id="selected">

            <div id="s-category" class="del hide">
              <h6 class="text" id="st-category" condition="">服务费:不限</h6>
              <a class="delete" cid="category"></a>
            </div>

            <div id="s-expectYID" class="del hide">
              <h6 class="text" id="st-expectYID" condition="">梦想:不限</h6>
              <a class="delete" cid="expectYID"></a>
            </div>

            <div id="s-duration" class="del hide">
              <h6 class="text" id="st-duration" condition="">梦想价值：不限</h6>
              <a class="delete" cid="duration"></a>
            </div>

            <div id="s-outset" class="del hide">
              <h6 class="text" id="st-outset" condition="">已有存款：不限</h6>
              <a class="delete" cid="outset"></a>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <table class="table table-striped table-bordered" id="invsetor"  cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
      <th class="hide">ID</th><th>会员名</th><th>服务费（元）</th>
      <th>城市</th><th>我的梦想</th><th>梦想价值（万）</th><th>已有存款</th>
      <th>每月存款</th><th>状态</th>
    </tr></thead>
    <tfoot class="hide">
    <tr>
      <th class="hide">ID</th><th>会员名</th><th>服务费（元）</th>
      <th>城市</th><th>我的梦想</th><th>梦想价值（万）</th><th>已有存款</th>
      <th>每月存款</th><th>状态</th>
    </tr></tfoot>

    <% @webuser.each do |b| %>
        <tr>
          <% if b.address == nil || b.tel=="" || b.tel=="1" || b.tel==nil || b.email==nil || b.email=="1" %>
              <td class="hide"><%= b.id %></td>
              <td><a href="/personmanagement/personfinance/<%= b.id%>"><%= b.username%></a></td>
              <% if b.scharge !=nil %><td><%= format("%0.0f", b.scharge) %></td><% else %><td></td><% end %>
              <td><%= b.city %></td>
              <td><%= b.dream %></td>
              <% if b.amount !=nil %><td><%= b.amount/10000 %></td><% else %><td></td><% end %>
              <% if @hash_reference[b.id][0] !=nil %><td><%= format("%0.0f", @hash_reference[b.id][0]) %></td><% else %><td>50000</td><% end %>
              <% if b.monthpay !=nil %><td><%= format("%0.0f", b.monthpay) %></td><% else %><td></td><% end %>
              <td>完成</td>
          <% else %>
              <td class="hide"><%= b.id %></td>
              <td><a href="/personmanagement/personfinance/<%= b.id%>"><%= b.username%></a></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <% if @hash_reference[b.id][0] !=nil %><td><%= format("%0.0f", @hash_reference[b.id][0]) %></td><% else %><td>50000</td><% end %>
              <td></td>
              <td>等待帮助</td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>


<script>
    $(document).ready(function(){
        /* Initialise datatables */
        var oTable = $('#invsetor').dataTable({
            "iDisplayLength": 15,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "aaSorting": [[ 0, "desc" ]],
            "aLengthMenu": [[15, 25, 50, 100], [15, 25, 50, 100]],
            "bProcessing": true
    });

        $('#invsetor').dataTable().columnFilter({
            aoColumns: [
                null,
                null,
                { type: "number-range" },
                null,
                { type: "text"},
                { type: "number-range" },
                { type: "number-range"},
                { type: "number-range" },
                null
            ]
        });

    });

    function fnFilterGlobal ()
    {
        var x=$(".text_filter").val();

        $('#invsetor').dataTable().fnFilter(
                x,
                null,
                1,
                1
        );
    }
</script>

<script>
    $("[class*='category']").click(function(){
        $("[class*='category']").removeClass('currbg');
        if(this.id=='category'){$("#invsetor_range_from_2").val('');$("#invsetor_range_to_2").val('');$("#s-category").addClass('hide');$("#category").addClass('currbg');}
        else{
            if(this.id=='category1'){$("#invsetor_range_from_2").val('1');$("#invsetor_range_to_2").val('10');$("#category1").addClass('currbg');};
            if(this.id=='category10'){$("#invsetor_range_from_2").val('10');$("#invsetor_range_to_2").val('100');$("#category10").addClass('currbg');};
            if(this.id=='category100'){$("#invsetor_range_from_2").val('100');$("#invsetor_range_to_2").val('400');$("#category100").addClass('currbg');};
            if(this.id=='category400'){$("#invsetor_range_from_2").val('400');$("#invsetor_range_to_2").val('');$("#category400").addClass('currbg');};
            $("#s-category").removeClass('hide');
            $("#st-category").html('服务费:'+$('#'+this.id).html());
        }
        $("#invsetor_range_from_2").keyup();
    });

    $("[class*='expectYID']").click(function(){
        $("[class*='expectYID']").removeClass('currbg');
        if(this.id=='expectYID'){$(".text_filter").val('');$("#s-expectYID").addClass('hide');$("#expectYID").addClass('currbg');}
        else{
            if(this.id=='expectYID1'){$(".text_filter").val('(购房置业|装修)');$("#expectYID1").addClass('currbg');};
            if(this.id=='expectYID2'){$(".text_filter").val('购车');$("#expectYID2").addClass('currbg');};
            if(this.id=='expectYID3'){$(".text_filter").val('子女教育');$("#expectYID3").addClass('currbg');};
            if(this.id=='expectYID4'){$(".text_filter").val('养老');$("#expectYID4").addClass('currbg');};
            if(this.id=='expectYID5'){$(".text_filter").val('度假旅游');$("#expectYID5").addClass('currbg');};
            $("#s-expectYID").removeClass('hide');
            $("#st-expectYID").html('梦想:'+$('#'+this.id).html());
        }
        $(".text_filter").keyup( fnFilterGlobal );
        fnFilterGlobal();
    });

    $("[class*='duration']").click(function(){
        $("[class*='duration']").removeClass('currbg');
        if(this.id=='durations'){$("#invsetor_range_from_5").val('');$("#invsetor_range_to_5").val('');$("#s-duration").addClass('hide');$("#durations").addClass('currbg');}
        else{
            if(this.id=='duration1'){$("#invsetor_range_from_5").val('1');$("#invsetor_range_to_5").val('10');$("#duration1").addClass('currbg');};
            if(this.id=='duration10'){$("#invsetor_range_from_5").val('10');$("#invsetor_range_to_5").val('20');$("#duration10").addClass('currbg');};
            if(this.id=='duration20'){$("#invsetor_range_from_5").val('20');$("#invsetor_range_to_5").val('50');$("#duration20").addClass('currbg');};
            if(this.id=='duration50'){$("#invsetor_range_from_5").val('50');$("#invsetor_range_to_5").val('100');$("#duration50").addClass('currbg');};
            if(this.id=='duration100'){$("#invsetor_range_from_5").val('100');$("#invsetor_range_to_5").val('');$("#duration100").addClass('currbg');};
            $("#s-duration").removeClass('hide');
            $("#st-duration").html('梦想价值:'+$('#'+this.id).html());
        }
        $("#invsetor_range_from_5").keyup();
    });


    $("[class*='outset']").click(function(){
        $("[class*='outset']").removeClass('currbg');
        if(this.id=='outsets'){$("#invsetor_range_from_6").val('');$("#invsetor_range_to_6").val('');$("#s-outset").addClass('hide');$("#outsets").addClass('currbg');}
        else{
            if(this.id=='outset1'){$("#invsetor_range_from_6").val('10000');$("#invsetor_range_to_6").val('100000');$("#outset1").addClass('currbg');};
            if(this.id=='outset10'){$("#invsetor_range_from_6").val('100000');$("#invsetor_range_to_6").val('200000');$("#outset10").addClass('currbg');};
            if(this.id=='outset20'){$("#invsetor_range_from_6").val('200000');$("#invsetor_range_to_6").val('500000');$("#outset20").addClass('currbg');};
            if(this.id=='outset50'){$("#invsetor_range_from_6").val('500000');$("#invsetor_range_to_6").val('1000000');$("#outset50").addClass('currbg');};
            if(this.id=='outset100'){$("#invsetor_range_from_6").val('1000000');$("#invsetor_range_to_6").val('');$("#outset100").addClass('currbg');};
            $("#s-outset").removeClass('hide');
            $("#st-outset").html('已有存款:'+$('#'+this.id).html());
        }
        $("#invsetor_range_from_6").keyup();
    });

    $(".delete").click(function(){
        $('#s-'+$(this).attr("cid")).addClass('hide');
        if($(this).attr("cid")=='category'){
            $("[class*='category']").removeClass('currbg');
            $("#category").addClass('currbg');
            $("#invsetor_range_from_2").val('');$("#invsetor_range_to_2").val('');$("#s-category").addClass('hide');
            $("#invsetor_range_from_2").keyup();
        }
        else if($(this).attr("cid")=='expectYID'){
            $("[class*='expectYID']").removeClass('currbg');
            $("#expectYID").addClass('currbg');
            $(".text_filter").val('');$("#s-expectYID").addClass('hide');
            $(".text_filter").keyup();
        }
        else if($(this).attr("cid")=='duration'){
            $("[class*='duration']").removeClass('currbg');
            $("#durations").addClass('currbg');
            $("#invsetor_range_from_5").val('');$("#invsetor_range_to_5").val('');$("#s-duration").addClass('hide');
            $("#invsetor_range_from_5").keyup();
        }
        else if($(this).attr("cid")=='outset'){
            $("[class*='outset']").removeClass('currbg');
            $("#outsets").addClass('currbg');
            $("#invsetor_range_from_6").val('');$("#invsetor_range_to_6").val('');$("#s-outset").addClass('hide');
            $("#invsetor_range_from_6").keyup();
        }
    });
</script>