<%= stylesheet_link_tag "personmanagement.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "demo_page.css" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<style>
    tr.even td.sorting_1{ background-color: #f9f9f9;}
    tr.odd td.sorting_1{ background-color: #fffafa!important;}
    .investor{padding-bottom: 50px;}
</style>
<div class="main-content investor">
  <a href="/">首页</a>  <br>
  <h1 class="deploy">个人、家庭投资者：</h1>
  <br>
  <table class="table table-striped table-bordered" id="invsetor"  cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
      <th class="hide">ID</th><th>会员名</th><th>服务费</th>
      <th>城市</th><th>我的梦想</th><th>何时实现</th><th>已有存款</th>
      <th>每月存款</th><th>身份验证？</th>
    </tr></thead>

    <% @webuser.each do |b| %>

        <tr>
          <% if b.address == nil || (b.address != nil && (b.tel=="" || b.tel=="1" || b.tel==nil || @hash_reference[b.id][0] ==nil)) %>
              <td class="hide"><%= b.id %></td>
              <% if @hash_reference[b.id][0] !=nil %>
                  <td><a href="/home/plan?username=<%= b.username%>"><%= b.username%></a></td>
              <% else %>
                  <td><a style="color: #000000;text-decoration: none!important;"><%= b.username%></a></td>
              <% end %>
              <% if b.scharge !=nil %><td><%= format("%0.0f", b.scharge) %></td><% else %><td></td><% end %>
              <td><%= b.city %></td>
              <td><%= b.dream %></td>
              <td><%= b.realizetime %></td>
              <% if @hash_reference[b.id][0] !=nil %><td><%= format("%0.0f", @hash_reference[b.id][0]) %></td><% else %><td>50000</td><% end %>
              <% if b.monthpay !=nil %><td><%= format("%0.0f", b.monthpay) %></td><% else %><td></td><% end %>
              <% if b.address == nil%>
                  <td>否</td>
              <% else %>
                  <td>是</td>
              <% end %>
          <% else %>
              <td class="hide"><%= b.id %></td>
              <% if @hash_reference[b.id][0] !=nil %>
                  <td><a href="/home/plan?username=<%= b.username%>"><%= b.username%></a></td>
              <% else %>
                  <td><a style="color: #000000;text-decoration: none!important;"><%= b.username%></a></td>
              <% end %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <% if @hash_reference[b.id][0] !=nil %><td><%= format("%0.0f", @hash_reference[b.id][0]) %></td><% else %><td></td><% end %>
              <td></td>
              <td>是</td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
<script>

    $(document).ready(function(){

        /* Initialise datatables */
        var oTable = $('#invsetor').dataTable({
            "iDisplayLength": 15,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "aaSorting": [[ 0, "desc" ]],
            "aLengthMenu": [[15, 25, 50, 100], [15, 25, 50, 100]],
            "bProcessing": true
    });

    });
</script>