<%= stylesheet_link_tag "personmanagement.css" %>

<%= javascript_include_tag "footable-0.1.js" %>
<script type="text/javascript">
    $(function() {
        $('table').footable();
    });
</script>

<style>
    tr.even td.sorting_1{ background-color: #f9f9f9;}
    tr.odd td.sorting_1{ background-color: #fffafa!important;}
    .investor{padding-bottom: 50px;}
    form{margin: 0;}
    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
        position: static;
    }
    tr.odd{background-color: #f9f9f9;}
    #activity td{
        padding: 8px;
    }
    .footable.breakpoint > tbody > tr > td.expand {
        background: url('/assets/plus.png') no-repeat 5px center;
        padding-left: 40px!important;
    }
    th,td{font-family: Hiragino Sans GB W3;}
</style>
<div class="main-content investor">
<a href="/">首页</a>  <br>
<h1 class="deploy">有奖活动：</h1>
<br>
<table class="table table-striped table-bordered footable" id="activity"  cellpadding="0" cellspacing="0" border="0">
  <thead>
  <tr>
    <th data-sort-initial="descending" data-class="expand">活动名称</th>
    <th data-sort-ignore="true" style="min-width: 50px;">活动性质</th>
    <th data-hide="phone,tablet">活动奖励</th>
    <th data-hide="phone,tablet">活动开始</th>
    <th data-hide="phone,tablet">活动结束</th>
    <th data-hide="phone">状态</th>
  </tr></thead>

  <% @activity.each do |b| %>
      <tr>
        <td><a href="/personmanagement/activity/<%= b.id%>"><%= b.name %></a></td>
        <td><%= b.naturef + ' / ' + b.natures%></td>
        <td><%= b.reward%></td>
        <td style="white-space:nowrap;"><%= b.begintime%></td>
        <td style="white-space:nowrap;"><%= b.endtime%></td>
        <td style="white-space:nowrap;"></td>
      </tr>
  <% end %>
</table>
</div>

<script>
    $(document).ready(function(){

        var length=$("#activity").find("tr").size();
        for(i=1;i<length;i++){
            var arr=$("#activity tr:eq("+i+") td:eq(3)").html().split("-");
            var starttime=new Date(arr[0],arr[1],arr[2]);
            var starttimes=starttime.getTime();

            var arrs=$("#activity tr:eq("+i+") td:eq(4)").html().split("-");
            var lktime=new Date(arrs[0],arrs[1],arrs[2]);
            var lktimes=lktime.getTime();

            var myDate = new Date();
            var todaydate= new Date(myDate.getFullYear(),myDate.getMonth()+1,myDate.getDate());
            var todaydates=todaydate.getTime();

            if(todaydates>lktimes)
            {
                $("#activity tr:eq("+i+") td:eq(5)").html("已结束")
            }
            else if(todaydates<starttimes){
                $("#activity tr:eq("+i+") td:eq(5)").html("未开始")
            }
            else{
                $("#activity tr:eq("+i+") td:eq(5)").html("进行中")
            }
        }
    });
</script>
