<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= stylesheet_link_tag "personmanagement.css" %>
<%= stylesheet_link_tag "chosen.css" %>
<%= javascript_include_tag "chosen.jquery.js" %>

<div class="main-content">
  <a href="/">首页</a>
  <h1>个人投资信息添加</h1>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">产品种类*:</label>
      <div class="controls">
        <select  name="producttype" id="producttype" title="产品种类">
          <option value="基金">基金</option>
          <option value="股票">股票</option>
          <option value="P2P信贷">P2P信贷</option>
          <option value="商品期货">商品期货</option>
          <option value="银行理财产品">银行理财产品</option>
          <option value="银行贵金属产品">银行贵金属产品</option>
        </select>
      </div>
    </div>
    <!--
    <div class="control-group">
      <label class="control-label" for="inputPassword">百分比:</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" id="percentage" title="百分比" placeholder="百分比">
          <span class="add-on">%</span>
        </div>
      </div>
    </div>
    -->
    <div class="control-group">
      <label class="control-label" for="inputPassword">可购金额:</label>
      <div class="controls">
        <input type="text" id="investamount" title="可购金额" placeholder="可购金额">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">状态:</label>
      <div class="controls">
        <select  name="purchasproducts" id="purchasproducts" title="状态"  onclick="purchas()">
          <option value="已购">已购</option>
          <option value="未购">未购</option>
        </select>
      </div>
    </div>
    <div class="control-group" id="rebuy">
      <label class="control-label" for="inputPassword">已购产品到期日期:</label>
      <div class="controls">
        <input type="text" id="collectperiod" title="已购产品到期日期" placeholder="已购产品到期日期" onclick="WdatePicker()" class="Wdate">
      </div>
    </div>
    <br>
    <label class="control-label" for="inputPassword"></label>
    <div class="controls">
      <a type="submit" class="btn btn-primary" id="personconfig">确认</a>
    </div>
  </form>
  <br><br>
</div>

<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
<script>
    window.onload=function(){
        purchas()
    }

    function purchas(){
        if($("#purchasproducts").attr("value")=="未购"){
            $('#rebuy').hide();
            $("#collectperiod").attr("value",'');
        }
        else{
            $('#rebuy').show();
        }
    }

    <% if params[:id]!="0" %>
    $("#producttype").attr("value",'<%= @personal[0]%>');
    $("#investamount").attr("value",'<%=format("%0.0f",@personal[2]) %>');
    $("#purchasproducts").attr("value",'<%= @personal[3]%>');
    $("#collectperiod").attr("value",'<%= @personal[4]%>');
    <% end %>
    $("#personconfig").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;
        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!=""){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }
        if(nom_flag==0){
            $.post("/personmanagement/personinfoconfigajax/<%= params[:id] %>",{ username:'<%= session[:webusername]%>',producttype: $("#producttype").attr("value"),
                percentage: $("#investamount").attr("value")/'<%= @personalfinance.investamount%>',investamount:$("#investamount").attr("value"),purchasproducts: $("#purchasproducts").attr("value"),
                collectperiod: $("#collectperiod").attr("value")
            },function(data){
                if(data=="f1"){
                    alert("产品已存在！");
                }
                else if(data=="s1"){
                    alert("创建成功！");
                    location.href='/personmanagement/personfinance';
                }
                else{
                    alert("修改成功！");
                    location.href='/personmanagement/personfinance';
                }
            });
        }
    });
</script>