<%= stylesheet_link_tag "personmanagement.css" %>

<div class="main-content">
  <% if session[:webusername]!=nil && @personalfinance%>
  <h1><%= @personalfinance.username%>的投资页面</h1>
      <h2>个人信息：</h2>
      <div class="row-fluid">
        <div class="span8">
          <table class="table table-striped table-bordered">
            <thead><tr>
              <th>用户名</th><th>公司</th><th>职务</th><th>年龄</th>
            </tr></thead>
            <tr>
              <td><%= @personalfinance.username%></td>
              <td><%= @personalfinance.company%></td>
              <td><%= @personalfinance.post%></td>
              <td><%= @personalfinance.age%></td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      <h2>个人投资信息：</h2>
      <p>
        <strong  style="color: #ff0000;">总资金：<%= @personalfinance.investamount%>元</strong>
        <span style="float: right;margin-right: 55px;"><a href="/personmanagement/personinformation/0">添加</a></span>
      </p>
      <table class="table table-striped table-bordered" id="info">
        <thead>
        <tr>
          <th>产品种类</th><th>百分比</th><th>总金额</th>
          <th>已购产品</th><th>到期日期</th><th>操作</th>
        </tr></thead>

        <% @personalinfo.each do |b| %>
            <tr>
              <td><%= b.producttype%></td>
              <td><%= format("%0.1f",b.percentage*100)%>%</td>
              <td><%= b.investamount%></td>
              <td><%= b.purchasproducts%></td>
              <td><%= b.collectperiod%></td>
              <td><a href="/personmanagement/personinformation/<%= b.id %>">修改</a></td>
            </tr>
        <% end %>
      </table>
    <!--  <h2>个人资产配置点评</h2>   -->
  <% end %>
</div>
