<%= stylesheet_link_tag "personmanagement.css" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
<%= javascript_include_tag "nicEdit-latest.js" %>
<script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    //]]>
</script>
<style>
    .dream{font-family:"Source Sans Pro",Tahoma,sans-serif;}
    h1,h2{font-weight: 600;}
    #table th,#table td,#allocation th,#allocation td{text-align: left;}
    .table th {
        font-family: Georgia;
        font-weight: normal;
        text-transform: uppercase;
        height: 10px;
        font-size: 14px;
    }
    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
        position: static;
    }
</style>

<div class="main-content dream">
<h1><%= @webuser.username %>的个人首页</h1>
<div id="top-tabs" style="padding: 15px 60px;background: #f4f4f4;border-bottom: 1px solid #ececec;">
  <div class="row-fluid" style="height: 18px;">
    <% if @webuser.risktolerance ==nil %>
        <div class="span12">
          <a href="/home/questions"><b>1.</b> <span>风险承受度评估</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <span class="disabled"><b>2.</b> <span>登记梦想</span><span class="separator"> > </span></span>   <div class="mobile"><br></div>
          <span class="disabled"><b>3.</b> <span>等待理财师帮助</span><span class="separator"> > </span></span> <div class="mobile"><br></div>
          <span class="disabled"><b>4.</b> <span>梦想规划设计</span><span class="separator"> > </span></span> <div class="mobile"><br></div>
          <span class="disabled"><b>5.</b> <span>梦想成真中</span></span>
        </div>
    <% elsif @webuser.dream ==nil || @webuser.organuser=='2' %>
        <div class="span12">
          <a class="demo-tip-yellowsimple" title="已完成"><b>1.</b> <span>风险承受度评估</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <a href="/usersurvey/apply"><b>2.</b> <span>登记梦想</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <span class="disabled"><b>3.</b> <span>等待理财师帮助</span><span class="separator"> > </span></span>  <div class="mobile"><br></div>
          <span class="disabled"><b>4.</b> <span>梦想规划设计</span><span class="separator"> > </span></span>  <div class="mobile"><br></div>
          <span class="disabled"><b>5.</b> <span>梦想成真中</span></span>
        </div>
    <% elsif @webuser.organusername==nil %>
        <div class="span12">
          <a class="demo-tip-yellowsimple" title="已完成"><b>1.</b> <span>风险承受度评估</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a class="demo-tip-yellowsimple" title="已完成"><b>2.</b> <span>登记梦想</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <b>3.</b> <span>等待理财师帮助</span><span class="separator"> > </span>       <div class="mobile"><br></div>
          <span class="disabled"><b>4.</b> <span>梦想规划设计</span></a><span class="separator"> > </span></span>   <div class="mobile"><br></div>
          <span class="disabled"><b>5.</b> <span>梦想成真中</span></span>
        </div>
    <% elsif @hash2[0][1] ==nil %>
        <div class="span12">
          <a class="demo-tip-yellowsimple" title="已完成"><b>1.</b> <span>风险承受度评估</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a class="demo-tip-yellowsimple" title="已完成"><b>2.</b> <span>登记梦想</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <a class="demo-tip-yellowsimple" title="已完成"><b>3.</b> <span>等待理财师帮助</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <b>4.</b> <span>梦想规划设计</span><span class="separator"> > </span>   <div class="mobile"><br></div>
          <span class="disabled"><b>5.</b> <span>梦想成真中</span></span>
        </div>
    <% else %>
        <div class="span12">
          <a class="demo-tip-yellowsimple" title="已完成"><b>1.</b> <span>风险承受度评估</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <a class="demo-tip-yellowsimple" title="已完成"><b>2.</b> <span>登记梦想</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a class="demo-tip-yellowsimple" title="已完成"><b>3.</b> <span>等待理财师帮助</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <a class="demo-tip-yellowsimple" title="已完成">4.</b> <span>梦想规划设计</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <b>5.</b> <span>梦想成真中</span>
        </div>
    <% end %>
  </div>
</div>
<div style="height: 30px;"></div>
<table id="person" style="width: 97%;margin-left: 3%;color: #555;">
<tr>
<td style="width: 200px;padding: 0 15px;text-align: center;">
  <div id="title" style="font-size: 14px;line-height: 30px;"><% if  @webuser.risktolerance!=nil %><%= @webuser.username %>的风险承受度：<%= @webuser.risktolerance %><% else %><%= @webuser.username %> 尚未进行 风险承受度评估<% end %></div>
  <div id="container"></div>
  <% if @webuser.username == session[:webusername] %>
      <% if @webuser.risktolerance ==nil %>
          <a href="/home/questions" id="change-answers" style="font-size: 12px;">风险承受度评估</a>
      <% else %>
          <a href="/home/questions" id="change-answers" style="font-size: 12px;">修改我的答案</a>
      <% end %>
  <% end %>
  <% if  @webuser.risktolerance!=nil %>
      <% if @webuser.risktolerance.to_f>=0 && @webuser.risktolerance.to_f<=2 %>
          <p class="risk">
            对于安益型投资人，其投资组合配置在风险最小的领域，如货币市场基金或中短债基金。<br>
            此类投资人注重获得相对确定的投资回报，而不追求最大回报，且限制短期内的大幅波动。投资期限内，回报率的波动性较小。<br>
            大多数情况下，相对风险较高的投资方法，这种方法的回报率最低，五年以上的投资尤其如此。
          </p>
      <% elsif @webuser.risktolerance.to_f>2 && @webuser.risktolerance.to_f<=4 %>
          <p class="risk">
            对于保守型投资人，其投资组合较大比例配置债券类资产或债券型基金，同时也有一部分比例配制于股票类资产或股票型基金以及配置型基金。<br>
            此类投资人注重获得稳定的投资回报，而不追求最大回报，且限制短期内的大幅波动。投资期限内，虽然难以准确预测其回报率，但是也不会有大起大落的情况。<br>
            大多数情况下，相对风险较高的投资方法，这种方法的回报率较低，五年以上的投资尤其如此。
          </p>
      <% elsif @webuser.risktolerance.to_f>4 && @webuser.risktolerance.to_f<=6 %>
          <p class="risk">
            对于稳健型投资人，其投资组合均衡配置股票类资产和债券类资产（或股票型基金和债券型基金）以及配置型基金。<br>
            此类投资人注重获得稳健的投资回报。投资的市值在短期内可能会有一些波动。投资期限内，其综合回报难以准确预测，但也不会过于出乎意外。<br>
            大多数情况下，相对较为保守的投资方法，这种方法的回报率较高，五年以上的投资更是如此。
          </p>
      <% elsif @webuser.risktolerance.to_f>6 && @webuser.risktolerance.to_f<=8 %>
          <p class="risk">
            对于积极型投资人，其投资组合较大比例配置股票类资产或股票型基金，同时还有小部分比例配置于债券和现金。<br>
            此类投资人注重获得丰厚的投资回报，但对大多数投机领域敬而远之。投资价值在短期内可能会有大幅波动。投资期限内，最终获得的投资回报较难预料。<br>
            大多数情况下，较之其它相对保守的投资方法，这种投资方法的回报率较高，五年以上的投资尤其如此。
          </p>
      <% elsif @webuser.risktolerance.to_f>8 && @webuser.risktolerance.to_f<=10 %>
          <p class="risk">
            对于激进型投资人，其投资组合将绝大部分比例投资于股票类资产或股票型基金，并且敢于涉足一些投机领域。<br>
            为了追求最大回报，同时愿意承受资产价格的短期大幅波动风险，甚至相对长时间亏损的可能。因为其承受较大波动性，投资者最后获得的回报率较难预测。<br>
            大多数情况下，其长期回报率高于其它较为保守的投资方法。
          </p>
      <% end %>
  <% end %>
</td>
<td id="center" style="border-left:1px solid #E2E2E2;border-right:1px solid #E2E2E2;padding: 0 20px;">
  <div class="account-type-tab active" id="taxable-account-type" style="border-bottom: 1px solid #E2E2E2;padding-left: 20px;margin-bottom: 20px;">
    <p style="padding-top: 5px;"><span class="product" style="line-height: 20px;"><%= @webuser.username %>的梦想</span></p>
    <p class="product-description" style="line-height: 12px;">因梦想而伟大
      <% if @webuser.dream ==nil || @webuser.organuser=='2' %>
          <a class="pull-right" style="width: 100px;" href="/usersurvey/apply">登记梦想</a>
      <% else %>
          <% if @webuser.username == session[:webusername] %>
              <a style="width: 100px;" class="pull-right" href="/usersurvey/dreamrevise/<%= @webuser.id %>" target="_blank">修改</a>
          <% end %>
      <% end %>
    </p>
  </div>
  <table style="width: 100%;">
    <tr>
      <td class="left">

      </td>
      <td style="vertical-align: middle;">
        <table id="allocation" class="table allocation report apply-asset-class-colors">
          <tr  class="" data-type="US_STOCKS">
            <td id="td1" style="border: 0;" class="asset-class-color"><div class="legend US_STOCKS"></div></td>
            <td id="td2" style="border: 0;width: 280px;">梦想</td>
            <td id="td3" style="border: 0;"><% if @webuser.dream !=nil && @webuser.organuser!='2' %><%= @webuser.dream %><% else %>没有<% end %></td>
          </tr>
          <tr  class="" data-type="US_STOCKS">
            <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
            <td>梦想价值</td>
            <td><% if @webuser.dream !=nil && @webuser.organuser!='2' %><% if @webuser.amount !=nil %><span class="num"><%= format("%0.0f",@webuser.amount) %></span><% end %><% else %>没有<% end %></td>
          </tr>
          <tr  class="" data-type="US_STOCKS">
            <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
            <td>已有存款</td>
            <td><% if @webuser.dream !=nil && @webuser.organuser!='2' %><% if @webuser.exeitdeposit !=nil %><span class="num"><%= format("%0.0f",@webuser.exeitdeposit) %></span><% end %><% else %>没有<% end %></td>
          </tr>
          <tr  class="" data-type="US_STOCKS">
            <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
            <td>每月存款</td>
            <td><% if @webuser.dream !=nil && @webuser.organuser!='2' %><% if @webuser.monthpay !=nil %><span class="num"><%= format("%0.0f",@webuser.monthpay) %></span><% end %><% else %>没有<% end %></td>
          </tr>
          <tr  class="" data-type="US_STOCKS">
            <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
            <td>实现时间</td>
            <td><% if @webuser.dream !=nil && @webuser.organuser!='2' %><span class="num"><%= @webuser.realizetime %></span><% else %>没有<% end %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div style="height: 55px;"></div>
  <table id="table" style="width: 100%;">
    <tr>
      <td style="padding-left: 20px;">
        <div class="account-types">
          <div class="account-type-tab active taxable-account-type">
            <p><span class="product" style="line-height: 20px;">梦想实现</span></p>
            <p class="product-description" style="line-height: 12px;"><span style="margin-right: 95px;">一步一步向上爬</span><div class="mobile"><br></div>
              <% if @webuser.dream !=nil && @webuser.organuser!='2' %>
                  <% if @webuser.organusername!=nil %>
                      <span style="font-size: 14px;font-style: normal;" class="product-description" style="margin-top: 0px;font-size: 12px;"><%= @webuser2.company %> <%= @webuser.organusername %> 提供服务</span>
                  <% end %>
              <% end %><div class="mobile"><br></div>
              <% if @webuser.dream != nil && @webuser.organuser!='2' %>
                  <% if @hash2[0][3]!=nil %>
                    <% if @webuser.username == session[:webusername] || params[:id]==nil %>
                       <a class="pull-right" style="width: 100px;font-size: 14px;font-style: normal;" id="picture" href="/home/download/data?filename=<%= @hash2[0][7] %>">报告下载</a>
                    <% else %>
                        <a class="pull-right" style="width: 100px;font-size: 14px;font-style: normal;" id="picture" href="#" onclick="alert('您不能下载其他用户的理财规划报告！');">报告下载</a>
                    <% end %>
                  <% elsif @hash2[0][1]==nil %>
                      <span class="pull-right" style="width: 100px;font-size: 14px;font-style: normal;">方案制作中</span>
                  <% else %>
                      <span style="width: 100px;" class="pull-right">&nbsp;</span>
                  <% end %>
              <% end %>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="plan-details">
          <section id="asset-allocation" class="">
            <table style="width: 100%;">
              <tr><td style="width: 135px;height: 200px;padding-top: 20px;">
                <div class="allocation-chart-container">
                  <div id="container2" style="width: 130px;height: 130px;"></div>
                </div>
              </td><td>
                <table id="table2" class="table allocation report apply-asset-class-colors">
                  <thead>
                  <tr>
                    <th id="th1"></th>
                    <th id="th2" style="width: 105px;">投资品种</th>
                    <th id="th3" style="width: 140px;">投资产品</th>
                    <th id="th4" style="width: 95px;">总额</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if (@hash2[0][6]!=0 && @hash2[0][6]!=nil) || @hash2[0][1] ==nil %>
                      <tr class="" data-type="MUNI_BONDS">
                        <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                        <td class="asset-class-name">
                          <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="保本型产品">银行理财产品</a></span>
                        </td>
                        <td class="asset-class-percentage number"><%= @webuser.bankfinancep %></td>
                        <td class="asset-class-amount number"><% if @hash2[0][6]!=nil %>￥<%= format("%0.0f",@hash2[0][6]) %><% else %>0<% end %></td>
                      </tr>
                  <% end %>
                  <% if (@hash2[0][4]!=0 && @hash2[0][4]!=nil) || @hash2[0][1] ==nil %>
                      <tr class="" data-type="INTL_EMERGING">
                        <td class="asset-class-color"><div class="legend INTL_EMERGING"></div></td>
                        <td class="asset-class-name">
                          <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="保本型产品">债券型基金</a></span>
                        </td>
                        <td class="asset-class-percentage number"><%= @webuser.deptp %></td>
                        <td class="asset-class-amount number"><% if @hash2[0][4]!=nil %>￥<%= format("%0.0f",@hash2[0][4]) %><% else %>0<% end %></td>
                      </tr>
                  <% end %>
                  <% if (@hash2[0][3]!=0 && @hash2[0][3]!=nil) || @hash2[0][1] ==nil %>
                      <tr class="" data-type="US_STOCKS">
                        <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                        <td class="asset-class-name">
                          <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="随存随取型产品">货币型基金</a></span>
                        </td>
                        <td class="asset-class-percentage number"><%= @webuser.stockp %></td>
                        <td class="asset-class-amount number"><% if @hash2[0][3]!=nil %>￥<%= format("%0.0f",@hash2[0][3]) %><% else %>0<% end %></td>
                      </tr>
                  <% end %>
                  <tr class="" data-type="DIV_STOCKS">
                    <td class="asset-class-color"><div class="legend DIV_STOCKS"></div></td>
                    <td class="asset-class-name">
                      <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="定投产品">指数基金</a></span>
                    </td>
                    <td class="asset-class-percentage number"><%= @webuser.trustp %></td>
                    <td class="asset-class-amount number"><% if @hash2[0][8]!=nil %>￥<%= format("%0.0f",@hash2[0][8]) %>/月<% else %>0<% end %></td>
                  </tr>
                  <% if (@hash2[0][5]!=0 && @hash2[0][5]!=nil) || @hash2[0][1] ==nil %>
                      <tr class="" data-type="DIV_STOCKS">
                        <td class="asset-class-color"><div class="legend DIV_STOCKS" style="background: #000000;"></div></td>
                        <td class="asset-class-name">
                          <span class="ktip-link"><a class="ktip-a">保险产品</a></span>
                        </td>
                        <td class="asset-class-percentage number"><%= @webuser.insurep %></td>
                        <td class="asset-class-amount number"><% if @hash2[0][5] !=nil %>￥<%= format("%0.0f",@hash2[0][5]) %>/年<% else %>0<% end %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </td></tr></table>
            <div class="clearfix"></div>
          </section>
        </div>
        <% if @webuser.username==session[:webusername] && @hash2[0][1] != nil %>
            <div id="comment">
              <a name='评论'><div style="height: 30px;"></div></a>
              <p class="product" style="line-height: 30px;border-bottom: 1px solid #E2E2E2;">规划点评</p>
              <table cellpadding="0" cellspacing="0" border="0" class="display" id="comments">
                <% @comments.each do |b| %>
                    <tr>
                      <td>
                        <p class="text2"><%= b.username%> 说：</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text2"> <%=raw b.comments%> </p>
                        <hr>
                      </td>
                    </tr>
                <% end %>
              </table>
              <div id="new" class="hide">
                <p id="username" class="text2"></p>
                <p id="newcomment" class="text2"></p>
                <div class="zm-tab-content weibo-panel" id="tb-webshare-sina-content" style="">
                  <div class="zg-section">
                    <p class="product" style="line-height: 30px;border-bottom: 1px solid #E2E2E2;">分享到微博</p>
                    <label>
                      <input data-bindurl="/oauth/auth/sina?next=/oauth/callback" class="sina-checkbox" type="checkbox">
                      <span class="zg-ico-sina"></span> 新浪微博</label>
                  </div>
                  <div class="zg-section">
                    <div class="zg-form-text-input">

                    </div>
                  </div>
                  <div class="zm-command">
                    <!-- Baidu Button BEGIN -->
                    <div class="baidu_btn">
                      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare hide" onclick="$('.zm-tab-content').hide();" style="float: right;" data="{'url':'http://www.tongtianshun.com/personmanagement/personfinance/<%= @webuser.id %>'}">
                        <a class="bds_tsina btn btn-primary" style="float: right;color: #ffffff;padding: 4px 12px;line-height: 16px;">分享到微博</a>
                      </div>
                      <div id="notcheck" class="bdshare_t bds_tools get-codes-bdshare">
                        <a class="bds_tsina btn btn-primary" onclick="alert('请选择微博后再进行分享！');" style="float: right;padding: 4px 12px;line-height: 16px;background: #eee;color: #888;">分享到微博</a>
                      </div>
                    </div>
                    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2419455" ></script>
                    <script type="text/javascript" id="bdshell_js"></script>
                    <script type="text/javascript">
                        var bds_config ;
                    </script>
                    <!-- Baidu Button END -->
                  </div>
                </div>
              </div>
              <div id="sample">
                <textarea id="area2" name="area2" style="width: 100%;height: 150px;"></textarea><br>
                <a class="btn btn-primary pull-right" id="saved" href="javascript:;">发布评论</a>
              </div>
            </div>
        <% end %>
      </td>
    </tr>
  </table>
</td>
<td style="width: 200px;padding: 0 15px;">
  <div class="faq-container">
    <div class="mobile" style="height:20px;"><hr></div>
    <p>关于<%= @webuser.username %></p>
    <ul class="common-q">
      <% if @hash[0][1]!=nil %>
          <li>年纪：</li>
          <li class="answer"><% if @hash[0][2] !=nil %><%= format("%0.0f",@hash[0][2]) %><% end %></li>
          <li>所在城市：</li>
          <li class="answer"><%= @webuser.city %></li>
          <li>您所处的行业是?</li>
          <li class="answer"><%= @hash[0][4] %></li>
          <li>梦想规划服务费：</li>
          <li class="answer"><% if @webuser.scharge!=nil %><%= format("%0.0f",@webuser.scharge) %>元<% end %></li>
          <li>当前的股票市场波动是非常剧烈的，如果你在该市场的投入资金在一个月内达到10%的跌幅，你会选择怎么做呢?</li>
          <li class="answer"><%= @hash[0][7] %></li>
          <li>投资收益率及风险承受度爱好：</li>
          <li class="answer">投资收益率：<% if @hash[0][5] !=nil %><%= format("%0.0f",@hash[0][5]*100) %>%<% end %><br>可承担风险：<% if @hash[0][6] !=nil %><%= format("%0.0f",@hash[0][6]*100) %>%<% end %></li>
          <li>当您准备资金进行投资时，您最在意的是哪一项指标?</li>
          <li class="answer"><%= @hash[0][8] %></li>
          <li>您资金主要放在哪家银行帐号里?</li>
          <li class="answer"><%= @hash[0][9] %></li>
          <li>您对如下哪些产品比较感兴趣?</li>
          <li class="answer"><%= @hash[0][1] %></li>
      <% else %>
          <li><%= @webuser.username %> 尚未进行 风险承受度评估</li>
      <% end %>
    </ul>
  </div>
</td>
</tr>
</table>
</div>

<script>

    $(function () {
        var chart;

        <% if @webuser.risktolerance!=nil %>
        var dataArray2= [<%= @webuser.risktolerance %>];
        <% else %>
        var dataArray2= [0];
        <% end %>

        $(document).ready(function() {
            var chart = new Highcharts.Chart({

                chart: {
                    renderTo: 'container',
                    type: 'gauge',
                    plotBorderWidth: 1,
                    plotBackgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#FFF4C6'],
                            [0.3, '#FFFFFF'],
                            [1, '#FFF4C6']
                        ]
                    },
                    plotBackgroundImage: null,
                    height: 105,
                    width: 200
                },

                title: false,

                pane: [{
                    startAngle: -45,
                    endAngle: 45,
                    background: null,
                    center: ['50%', '145%'],
                    size: 150
                }],

                yAxis: [{
                    min: 0,
                    max: 10,
                    tickInterval: 2,
                    minorTickPosition: 'outside',
                    tickPosition: 'outside',
                    labels: {
                        rotation: 'auto',
                        distance: 20
                    },
                    plotBands: [{
                        from: 0,
                        to: 2,
                        color: '#09a509',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 2,
                        to: 4,
                        color: '#69c908',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 4,
                        to: 6,
                        color: '#eded07',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 6,
                        to: 8,
                        color: '#fa8c1e',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 8,
                        to: 10,
                        color: '#C02316',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    }],
                    pane: 0,
                    title: false
                }],

                plotOptions: {
                    gauge: {
                        dataLabels: {
                            enabled: false
                        },
                        dial: {
                            radius: '90%'
                        }
                    }
                },
                series: [{
                    data: dataArray2,
                    yAxis: 0
                }],
                credits: {
                    enabled: false
                }
            });
        });
    });

    //图
    $(function () {
        <% if @hash2[0][3]!=nil %>
        d = new Date(),
                nowYear = d.getFullYear();
        var dataArray= [parseFloat(<%= @hash2[0][3] %>),parseFloat(<%= @hash2[0][4] %>),parseFloat((<%= @webuser.realizetime %>-nowYear)*12*<%= @hash2[0][8] %>),parseFloat(<%= @hash2[0][6] %>)];
        <% else %>
        var dataArray=[1]
        <% end %>
        $(document).ready(function () {

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container2',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: false
                },
                tooltip: false,
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true,
                        size: 120,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: dataArray
                }],
                legend: false,
                credits: {
                    enabled: false
                }
            });
        });
        Highcharts.theme = {
            colors: ['#d76f32', '#f1b77a', '#9c7746', '#294b6e']
        };

// Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });


    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'center',
            offsetY: 5,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
</script>


<script>
    $("#submit").click(function(){
        <% if @webuser.scharge!=nil %>
        $.get("/usersurvey/zhifubao",{scharge:'<%= @webuser.scharge %>',username:'<%= session[:webusername] %>'},function(data){
            location.href=data;
        });
        <% end %>
    });
</script>

<script>
    $("#sample").click(function(){
        <% if session[:webusername]==nil %>
        location.href="/sales/login?pid=<%= params[:id] %>&comments=1";
        <% end %>
    });

    $(".btns").click(function(){
        $("#comment").show();
    });

    $(".sina-checkbox").click(function(){
        var a=document.getElementsByClassName("sina-checkbox");
        if(a[0].checked){
            $("#bdshare").show();
            $("#notcheck").hide();
       }
        else{
            $("#bdshare").hide();
            $("#notcheck").show();
        }
    });

    $("#saved").click(function(){
        var nom_flag=0;
        var dateTime=new Date();
        var hh=dateTime.getHours();
        var mm=dateTime.getMinutes();
        var ss=dateTime.getSeconds();

        var yy=dateTime.getFullYear();
        var MM=dateTime.getMonth()+1;  //因为1月这个方法返回为0，所以加1
        var dd=dateTime.getDate();

        var week=dateTime.getDay();
        var days=[ "日 ", "一 ", "二 ", "三 ", "四 ", "五 ", "六 "]

//  var time=yy+"年"+MM+"月"+dd+"日 "+"星期"+days[week]+hh+"时"+mm+"分"+ss+"秒";
        var time=yy+"-"+MM+"-"+dd+" "+hh+":"+mm+":"+ss;

        if($(".nicEdit-main").html()=="<br>"){
            alert("评论为空！");
            nom_flag=1;
        }

        if(nom_flag==0){
            $.get("/personmanagement/comment3configajax",{username:'<%= session[:webusername] %>',email:'<%= @webusers.email %>',comments:$(".nicEdit-main").html(),
                time:time,company:'<%= @webusers.company %>',pid:'<%= @webuser.id %>' },function(data){
                $("#sample").hide();
                $("#new").show();
                $("#username").html('<%= session[:webusername] %> 说：');
                $("#newcomment").html($(".nicEdit-main").html());
                $(".zg-form-text-input").html('<textarea style="width: 100%; white-space: pre; height: 66px; min-height: 66px;" >'+'我在 @通天顺 评论了理财师给我提供的的理财规划书：'+$(".nicEdit-main").html().replace(/<[^>].*?>/g,"")+'</textarea>');
                bds_config = {'bdText':'我在 @通天顺 评论了理财师给我提供的的理财规划书：'+$(".nicEdit-main").html().replace(/<[^>].*?>/g,"")};
                document.getElementById("bdshell_js").src="http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
            });
        }
    });
</script>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".mobile").remove();
    }else{
        $("#erweima").remove();
    }
</script>