<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= stylesheet_link_tag "personmanagement.css" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
<%= javascript_include_tag "nicEdit-latest.js" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "excanvas.js" %>
<%= javascript_include_tag "jquery.easy-pie-chart.js" %>
<%= javascript_include_tag "footable-0.1.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "bootstrap-datetimepicker.js" %>
<%= stylesheet_link_tag "datetimepicker.css" %>
<script type="text/javascript">
    $(function() {
        $('table').footable();
    });
</script>

<style>
    #target td,#target th{
        font-family: Hiragino Sans GB W3;
    }
    .footable.breakpoint > tbody > tr > td.expand {
        background: url('/assets/plus.png') no-repeat 5px center;
        padding-left: 40px!important;
    }
    .footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
        background: url('/assets/minus.png') no-repeat 5px center;
    }
    .dream{font-family:"Source Sans Pro",Tahoma,sans-serif;}
    h1,h2{font-weight: 600;}

    .table th {
        font-family: Georgia;
        text-transform: uppercase;
        height: 10px;
        font-size: 14px;
    }
    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
        position: static;
    }
    tr.even td.sorting_1 {
        background-color: #ffffff;
    }
    .easyPieChart {
        position: relative;
        text-align: center;
    }
    .table th,.table td{
        font-family: Hiragino Sans GB W3;
    }
    .easyPieChart canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    .percentage{
        margin-left:88px;
    }

    #records_length,#records_filter{
        display: none;
    }

    .modal.fade.in{
        width: 950px;
        left: 40%;
    }
</style>

<div class="main-content dream">
<div class="mobile"><br></div>
<a href="/">首页</a>
<h1><%= @webuser.username %>的个人首页</h1>
<div id="top-tabs" style="padding: 15px 60px;background: #f4f4f4;border-bottom: 1px solid #ececec;">
  <div class="row-fluid" style="height: 18px;">
    <% if @webuser.score ==nil %>
        <div class="span12">
          <a href="/usersurvey/startup"><b>1.</b> <span>资产体检</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <span class="disabled"><b>2.</b> <span>风险评估</span><span class="separator"> > </span></span>   <div class="mobile"><br></div>
          <span class="disabled"><b>3.</b> <span>理财建议</span></span>
        </div>
    <% elsif @webuser.risktolerance ==nil %>
        <div class="span12">
          <a href="/usersurvey/startup"><b>1.</b> <span>资产体检</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <a href="/home/questions"><b>2.</b> <span>风险评估</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <span class="disabled"><b>3.</b> <span>理财建议</span></span>
        </div>
    <% else %>
        <div class="span12">
          <a href="/usersurvey/startup"><b>1.</b> <span>资产体检</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a href="/home/questions"><b>2.</b> <span>风险评估</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <b>3.</b> <span>理财建议</span>
        </div>
    <% end %>
  </div>
</div>
<div style="height: 30px;"></div>
<table id="person" style="width: 100%;color: #555;">
<tr class="hide">
  <td style="width: 200px;padding: 0 15px;text-align: center;">
    <div style="font-size: 14px;line-height: 30px;"><%= @webuser.username %>的家庭诊断</div>
    <div style="height: 30px;">
      <% if @webuser.username == session[:webusername] %>
          <a href="/usersurvey/startup" id="change-answers" style="font-size: 12px;">重新体检</a>
      <% end %>
    </div>
    <hr>
    <div id="title" style="font-size: 14px;line-height: 30px;"><% if  @webuser.risktolerance!=nil %><%= @webuser.username %>的风险承受度：<%= @webuser.risktolerance %><% else %><%= @webuser.username %> 尚未进行 风险承受度评估<% end %></div>
    <div id="container" style="width: 130px;margin: auto;"></div>
    <% if @webuser.username == session[:webusername] %>
        <% if @webuser.risktolerance ==nil %>
            <a href="/home/questions" id="change-answers" style="font-size: 12px;">风险承受度评估</a>
        <% else %>
            <a href="/home/questions" id="change-answers" style="font-size: 12px;">修改我的答案</a>
        <% end %>
    <% end %>
    <% if  @webuser.risktolerance!=nil %>
        <% if @webuser.risktolerance.to_f>=0 && @webuser.risktolerance.to_f<=2 %>
            <p class="risk">对于安益型投资人，其投资组合配置在风险最小的领域，如现金、活期存储、定期存款等。</p>
        <% elsif @webuser.risktolerance.to_f>2 && @webuser.risktolerance.to_f<=4 %>
            <p class="risk">对于保守型投资人，其投资组合较大比例配置纯债券型基金，此类投资人注重获得稳定的投资回报，而不追求最大回报，且限制短期内的大幅波动。</p>
        <% elsif @webuser.risktolerance.to_f>4 && @webuser.risktolerance.to_f<=6 %>
            <p class="risk"> 对于稳健型投资人，其投资组合均衡配置债券类基金资产，通过这种债券型基金，将有少许被配置到股票等二级市场。</p>
        <% elsif @webuser.risktolerance.to_f>6 && @webuser.risktolerance.to_f<=8 %>
            <p class="risk">对于积极型投资人，其投资组合较大比例配置指数型基金或混合型基金，同时还有小部分比例配置于现金、活期、货币基金等流动性资产。</p>
        <% elsif @webuser.risktolerance.to_f>8 && @webuser.risktolerance.to_f<=10 %>
            <p class="risk">对于激进型投资人，其投资组合将绝大部分比例投资于股票类资产或股票型基金，并且敢于涉足一些投机领域。</p>
        <% end %>
    <% end %>
  </td>
</tr><tr>
<td id="center">

<!--
<div class="account-type-tab active" id="taxable-account-type" style="border-bottom: 1px solid #E2E2E2;padding-left: 20px;margin-bottom: 20px;">
  <p style="padding-top: 5px;"><span class="product" style="line-height: 20px;"><%= @webuser.username %>的梦想</span></p>
  <p class="product-description" style="line-height: 12px;width: 69%;">因梦想而伟大
    <% if @webuser.dream ==nil || @webuser.organuser=='2' %>
        <a class="pull-right" style="width: 100px;" href="/usersurvey/apply">登记梦想</a>
    <% else %>
        <% if @webuser.username == session[:webusername] %>
            <a style="width: 100px;" class="pull-right" href="/usersurvey/dreamrevise/<%= @webuser.id %>" target="_blank">修改</a>
        <% end %>
    <% end %>
  </p>
</div>
<table style="width: 100%;">
  <tr>
    <td class="left">
      <img style="width: 135px;" src="/assets/girl_credit_cards.jpg">
    </td>
    <td style="vertical-align: middle;padding-left: 20px;">
      <table id="allocation" style="width: 85%;" class="table allocation report apply-asset-class-colors">
        <tr  class="" data-type="US_STOCKS">
          <td id="td1" style="border: 0;" class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td id="td2" style="border: 0;width: 47%;">梦想</td>
          <td id="td3" style="border: 0;"><% if @webuser.dreamset !=nil %><%= @webuser.dreamset %><% else %>没有<% end %></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>梦想价值</td>
          <td><% if @webuser.dreamset !=nil %>无价<% else %>没有<% end %></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>已有存款</td>
          <td id="jixu"></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>每月存款</td>
          <td id="deposit"></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>实现时间</td>
          <td><% if @webuser.dreamset !=nil %>1年<% else %>没有<% end %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="height: 55px;"></div>
-->
<table id="table" style="width: 100%;">
<tr>
  <td style="padding-left: 80px;">
    <div class="account-types">
      <form method="post" style="margin-bottom: 0;" name="creator" enctype="multipart/form-data">
        <table style="width: 100%;">
          <tr>
            <td colspan="3">
              <div class="account-type-tab active taxable-account-type">
                <p><span class="product" style="line-height: 20px;">本月目标</span></p>
              </div>
              <div class="clearfix"></div>
            </td>
          </tr>
          <tr>
            <td style="width: 25%;vertical-align: middle;">
              <!-- Button to trigger modal -->
              <a href="#myModal" role="button" data-toggle="modal">全年目标</a>
            </td>
            <td style="width: 255px;">
              <div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input size="16" id="dates" type="text" readonly onchange="select()">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
              <input type="hidden" id="dtp_input2" value="" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </td>
</tr>
<tr>
  <td  style="border-bottom: 1px solid #E2E2E2;" >
    <div class="plan-details">

      <table style="width: 100%;float: left;">
        <tr><td class="cation high" style="width: 30%;height: 180px;padding-bottom: 50px;">
          <div class="allocation-chart-container">
            <div id="container3" style="width: 280px;height: 180px;"></div>
          </div>
        </td><td class="cation">
          <table class="table table-striped table-bordered footable">
            <thead>
            <tr class="win">
              <th style="width: 25%;">投资产品</th>
              <th style="width: 25%;">本月目标</th>
              <th style="width: 25%;">已完成</th>
              <th style="width: 25%;">产品详情</th>
            </tr>
            <tr class="mobile">
              <th data-sort-ignore="true">投资产品</th>
              <th>本月目标</th>
              <th data-hide="phone,tablet">已完成</th>
              <th data-hide="phone,tablet">产品详情</th>
            </tr>
            </thead>
            <tbody>
            <tr class="monthpay2">
              <td class="name2"><%= @hash3['流动'][0] %></td>
              <td class="amounts2"></td>
              <td class="finish2"></td>
              <td><a href="/bankinvest/productdetails/<%= @hash3['流动'][1] %>">查看</a></td>
            </tr>
            <tr class="monthpay4">
              <td class="name4"><%= @hash3['保本'][0] %></td>
              <td class="amounts4"></td>
              <td class="finish4"></td>
              <td><a href="/bankinvest/productdetails/<%= @hash3['保本'][1] %>">查看</a></td>
            </tr>
            <% if  @webuser.risktolerance!=nil %>
                <% if @webuser.selection!=nil && @webuser.selection.to_f!="" %>
                    <tr class="monthpay5">
                      <td class="name5"><%= @webuser.selection %></td>
                      <td class="amounts5"></td>
                      <td class="finish5"></td>
                      <td></td>
                    </tr>
                <% elsif @webuser.risktolerance.to_f>=0 && @webuser.risktolerance.to_f<=2 %>
                    <tr class="monthpay5">
                      <td class="name5"><%= @hash3['风险1'][0] %></td>
                      <td class="amounts5"></td>
                      <td class="finish5"></td>
                      <td></td>
                    </tr>
                <% elsif @webuser.risktolerance.to_f>2 && @webuser.risktolerance.to_f<=4 %>
                    <tr class="monthpay5">
                      <td class="name5"><%= @hash3['风险2'][0] %></td>
                      <td class="amounts5"></td>
                      <td class="finish5"></td>
                      <td><a href="/bankinvest/productdetails/<%= @hash3['风险2'][1] %>">查看</a></td>
                    </tr>
                <% elsif @webuser.risktolerance.to_f>4 && @webuser.risktolerance.to_f<=6 %>
                    <tr class="monthpay5">
                      <td class="name5"><%= @hash3['风险3'][0] %></td>
                      <td class="amounts5"></td>
                      <td class="finish5"></td>
                      <td><a href="/bankinvest/productdetails/<%= @hash3['风险3'][1] %>">查看</a></td>
                    </tr>
                <% elsif @webuser.risktolerance.to_f>6 && @webuser.risktolerance.to_f<=8 %>
                    <tr class="monthpay5">
                      <td class="name5"><%= @hash3['风险4'][0] %></td>
                      <td class="amounts5"></td>
                      <td class="finish5"></td>
                      <td><a href="/bankinvest/productdetails/<%= @hash3['风险4'][1] %>">查看</a></td>
                    </tr>
                <% elsif @webuser.risktolerance.to_f>8 && @webuser.risktolerance.to_f<=10 %>
                    <tr class="monthpay5">
                      <td class="name5"><%= @hash3['风险5'][0] %></td>
                      <td class="amounts5"><%= @hash3['风险5'][1] %></td>
                      <td class="finish5"></td>
                      <td><a href="/bankinvest/productdetails/<%= @hash3['风险5'][1] %>">查看</a></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
          <blockquote>
          <small>产品是完全根据您的风险评估结果来推荐的。重新进行<a href="/home/questions">风险评估</a></small>
          </blockquote>
        </td></tr></table>

    </div>
  </td>
</tr>
<tr><td>
  <div class="plan-details" style="border-bottom: 1px solid #E2E2E2;padding-bottom: 40px;">
<div class="account-type-tab active" id="taxable-account-type" style="padding-left: 80px;margin-bottom: 20px;">
    <p style="padding-top: 20px;">
      <span class="product" style="line-height: 20px;">投资记录</span>
      <% if @webuser.username==session[:webusername] %>
          <a href="#login-box" role="button" data-toggle="modal" style="margin-left: 175px;" class="btn btn-success" onclick="waithelp(0,'');">新增投资记录</a>
      <% end %>
    </p>
</div>
<table style="width: 100%;">
  <tr>
    <td style="width: 30%;"></td>
    <td>
      <table class="table table-striped table-bordered" id="records">
        <thead>
        <tr>
          <% if @webuser.username==session[:webusername] %>
              <th style="width: 20%;">日期</th>
              <th style="width: 20%;">属性</th>
              <th style="width: 20%;">投资产品</th>
              <th style="width: 20%;">金额(元)</th>
              <th style="width: 20%;">操作</th>
          <% else %>
              <th style="width: 25%;">日期</th>
              <th style="width: 25%;">属性</th>
              <th style="width: 25%;">投资产品</th>
              <th style="width: 25%;">金额(元)</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @record.each do |r| %>
            <tr>
              <td><%= r.date %></td>
              <td><%= r.nature %></td>
              <td><%= r.pname %></td>
              <td><%= r.amount %></td>
              <% if @webuser.username==session[:webusername] %>
                  <td>
                      <a href="#login-box" role="button" data-toggle="modal" onclick="waithelp(<%= r.id %>,'<%= r.pname %>');">修改</a>
                    <a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= r.id %>','recorddeleteajax')">删除</a>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </td>
  </tr>
</table>

      </div>
</td></tr>
<tr><td style="height: 20px;"></td></tr>
<tr>
  <td style="padding-left: 80px;">
    <div class="account-types">
      <div class="account-type-tab active taxable-account-type">
        <p><span class="product" style="line-height: 20px;">理想资产比例</span></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="plan-details">
      <section id="asset-allocation" class="">
        <table style="width: 100%;">
          <tr><td class="high" style="width: 30%;height: 200px;padding-top: 20px;">
            <div class="allocation-chart-container">
              <div class="percentage" data-percent="0"><span  style="font-size: 20px;font-family: Microsoft YaHei;">0</span>分</div>
            </div>
          </td><td>
            <table id="table2" style="width: 100%;" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th style="width: 25%;">理财产品大类</th>
                <th style="width: 25%;">建议比例</th>
                <th style="width: 25%;">当前比例</th>
                <th style="width: 25%;">当前金额</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="demo-tip-yellowsimple" title="一般指随存随取类的资产，例如现金、活期存款、余额宝、货币基金。这些资产都是今天存，最迟明天就可以取出来，而且几乎没有手续费的资产。">流动型资产</td>
                <td id="proposed1" class="asset-class-percentage number"></td>
                <td id="rate1" class="asset-class-amount number"></td>
                <td id="amount1" class="asset-class-amount number"></td>
              </tr>
              <tr>
                <td class="ktip-a demo-tip-yellowsimple" title="顾名思义，您的投入本金是不会亏损的，当前市场上该类产品有银行定期存款，国债，保本型基金等。">保本型资产</td>
                <td id="proposed2" class="asset-class-percentage number"></td>
                <td id="rate2" class="asset-class-amount number"></td>
                <td id="amount2" class="asset-class-amount number"></td>
              </tr>
              <tr>
                <td class="ktip-a demo-tip-yellowsimple" title="很有可能会亏损本金的投资资产。当然，我们会结合您的具体风险承受评估来给您做相应产品的介绍。当前市场上风险最高，预期利润最高的是股票和股票型基金。">风险型资产</td>
                <td id="proposed3" class="asset-class-percentage number"></td>
                <td id="rate3" class="asset-class-amount number"></td>
                <td id="amount3" class="asset-class-amount number"></td>
              </tr>
              </tbody>
            </table>
          </td></tr></table>
      </section>
    </div>
    <!--
        <% if @webuser.username==session[:webusername] && @hash2[0][1] != nil %>
            <div id="comment">
              <a name='评论'><div style="height: 30px;"></div></a>
              <p class="product" style="line-height: 30px;border-bottom: 1px solid #E2E2E2;">规划点评</p>
              <table cellpadding="0" cellspacing="0" border="0" class="display" id="comments">
                <% @comments.each do |b| %>
                    <tr>
                      <td>
                        <p class="text2"><%= b.username%> 说：</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text2"> <%=raw b.comments%> </p>
                        <hr>
                      </td>
                    </tr>
                <% end %>
              </table>
              <div id="new" class="hide">
                <p id="username" class="text2"></p>
                <p id="newcomment" class="text2"></p>
                <div class="zm-tab-content weibo-panel" id="tb-webshare-sina-content" style="">
                  <div class="zg-section">
                    <p class="product" style="line-height: 30px;border-bottom: 1px solid #E2E2E2;">分享到微博</p>
                    <label>
                      <input data-bindurl="/oauth/auth/sina?next=/oauth/callback" class="sina-checkbox" type="checkbox">
                      <span class="zg-ico-sina"></span> 新浪微博</label>
                  </div>
                  <div class="zg-section">
                    <div class="zg-form-text-input">

                    </div>
                  </div>
                  <div class="zm-command">
                    <div class="baidu_btn">
                      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare hide" onclick="$('.zm-tab-content').hide();" style="float: right;" data="{'url':'http://www.tongtianshun.com/personmanagement/personfinance/<%= @webuser.id %>'}">
                        <a class="bds_tsina btn btn-primary" style="float: right;color: #ffffff;padding: 4px 12px;line-height: 16px;">分享到微博</a>
                      </div>
                      <div id="notcheck" class="bdshare_t bds_tools get-codes-bdshare">
                        <a class="bds_tsina btn btn-primary" onclick="alert('请选择微博后再进行分享！');" style="float: right;padding: 4px 12px;line-height: 16px;background: #eee;color: #888;">分享到微博</a>
                      </div>
                    </div>
                    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2419455" ></script>
                    <script type="text/javascript" id="bdshell_js"></script>
                    <script type="text/javascript">
                        var bds_config ;
                    </script>
                  </div>
                </div>
              </div>
              <div id="sample">
                <textarea id="area2" name="area2" style="width: 100%;height: 150px;"></textarea><br>
                <a class="btn btn-primary pull-right" id="saved" href="javascript:;">发布评论</a>
              </div>
            </div>
<% end %>
        -->
  </td>
</tr>
</table>
</td>
<!--
<td style="width: 200px;padding: 0 15px;">
  <div class="faq-container">
    <div class="mobile" style="height:20px;"><hr></div>
    <p>关于<%= @webuser.username %></p>
    <ul class="common-q">
      <% if @hash[0][1]!=nil %>
          <li>年纪：</li>
          <li class="answer"><% if @hash[0][2] !=nil %><%= format("%0.0f",@hash[0][2]) %><% end %></li>
          <li>所在城市：</li>
          <li class="answer"><%= @webuser.city %></li>
          <li>您所处的行业是?</li>
          <li class="answer"><%= @hash[0][4] %></li>
          <li>梦想规划服务费：</li>
          <li class="answer"><% if @webuser.scharge!=nil %><%= format("%0.0f",@webuser.scharge) %>元<% end %></li>
          <li>当前的股票市场波动是非常剧烈的，如果你在该市场的投入资金在一个月内达到10%的跌幅，你会选择怎么做呢?</li>
          <li class="answer"><%= @hash[0][7] %></li>
          <li>投资收益率及风险承受度爱好：</li>
          <li class="answer">投资收益率：<% if @hash[0][5] !=nil %><%= format("%0.0f",@hash[0][5]*100) %>%<% end %><br>可承担风险：<% if @hash[0][6] !=nil %><%= format("%0.0f",@hash[0][6]*100) %>%<% end %></li>
          <li>当您准备资金进行投资时，您最在意的是哪一项指标?</li>
          <li class="answer"><%= @hash[0][8] %></li>
          <li>您资金主要放在哪家银行帐号里?</li>
          <li class="answer"><%= @hash[0][9] %></li>
          <li>您对如下哪些产品比较感兴趣?</li>
          <li class="answer"><%= @hash[0][1] %></li>
      <% else %>
          <li><%= @webuser.username %> 尚未进行 风险承受度评估</li>
      <% end %>
    </ul>
  </div>
</td>
-->
</tr>
</table>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">全年目标</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered" id="target">
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div id='login-box' class="modal hide fade" style="width: 430px;left:50%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>投资记录</h3>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td>日期：</td><td><input type="text" name="date" id="date" title="日期" onclick="WdatePicker()" class="Wdate"> </td>
      </tr>
      <tr>
        <td>属性：</td>
        <td>
          <div id="insert">
          <select name="nature" id="nature" onChange='nature();'>
            <option style="" value="买入">买入</option>
            <option value="赎回取现">赎回取现</option>
          </select>
          </div>
          <div id="edit">
            <select name="nature1" id="nature1">
              <option style="" value="买入">买入</option>
              <option value="赎回取现">赎回取现</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td>投资产品：</td>
        <td>
          <select name="pname" id="pname">
            <option value="<%= @hash3['流动'][0] %>"><%= @hash3['流动'][0] %></option>
            <option value="<%= @hash3['保本'][0] %>"><%= @hash3['保本'][0] %></option>
            <% if @webuser.selection!=nil && @webuser.selection.to_f!="" %>
                <option value="<%= @hash3[@finances.pname][0] %>"><%= @hash3[@finances.pname][0] %></option>
            <% elsif @webuser.risktolerance.to_f>=0 && @webuser.risktolerance.to_f<=2 %>
                <option value="<%= @hash3['风险1'][0] %>"><%= @hash3['风险1'][0] %></option>
            <% elsif @webuser.risktolerance.to_f>2 && @webuser.risktolerance.to_f<=4 %>
                <option value="<%= @hash3['风险2'][0] %>"><%= @hash3['风险2'][0] %></option>
            <% elsif @webuser.risktolerance.to_f>4 && @webuser.risktolerance.to_f<=6 %>
                <option value="<%= @hash3['风险3'][0] %>"><%= @hash3['风险3'][0] %></option>
            <% elsif @webuser.risktolerance.to_f>6 && @webuser.risktolerance.to_f<=8 %>
                <option value="<%= @hash3['风险4'][0] %>"><%= @hash3['风险4'][0] %></option>
            <% elsif @webuser.risktolerance.to_f>8 && @webuser.risktolerance.to_f<=10 %>
                <option value="<%= @hash3['风险5'][0] %>"><%= @hash3['风险5'][0] %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td>投资金额：</td>
        <td>
          <input type="text" name="amount" id="amount" title="投资金额" >
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button id="record" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确认</button>
  </div>
</div>

<script language="javascript">
    var handle=0;
    var product;
    var a2="<%= @hash3['流动'][0] %>";
    var a4="<%= @hash3['保本'][0] %>";
    <% if @webuser.selection!=nil && @webuser.selection.to_f!="" %>
    var a5="<%= @hash3[@finances.pname][0] %>";
    <% elsif @webuser.risktolerance.to_f>=0 && @webuser.risktolerance.to_f<=2 %>
    var a5="<%= @hash3['风险1'][0] %>";
    <% elsif @webuser.risktolerance.to_f>2 && @webuser.risktolerance.to_f<=4 %>
    var a5="<%= @hash3['风险2'][0] %>";
    <% elsif @webuser.risktolerance.to_f>4 && @webuser.risktolerance.to_f<=6 %>
    var a5="<%= @hash3['风险3'][0] %>";
    <% elsif @webuser.risktolerance.to_f>6 && @webuser.risktolerance.to_f<=8 %>
    var a5="<%= @hash3['风险4'][0] %>";
    <% elsif @webuser.risktolerance.to_f>8 && @webuser.risktolerance.to_f<=10 %>
    var a5="<%= @hash3['风险5'][0] %>";
    <% end %>
    function jsSelectIsExitItem(objSelect, objItemValue) {
        var isExit = false;
        for (var i = 0; i < objSelect.options.length; i++) {
            if (objSelect.options[i].value == objItemValue) {
                isExit = true;
                break;
            }
        }
        return isExit;
    }
    function addoption(objSelect, objItemText, objItemValue) {
        //判断是否存在
        if (jsSelectIsExitItem(objSelect, objItemValue)) {
        } else {
            var varItem = new Option(objItemText, objItemValue);
            objSelect.options.add(varItem);
        }
    }
    function removeoption(objSelect, objItemValue) {
        //判断是否存在
        if (jsSelectIsExitItem(objSelect, objItemValue)) {
            for (var i = 0; i < objSelect.options.length; i++) {
                if (objSelect.options[i].value == objItemValue) {
                    objSelect.options.remove(i);
                    break;
                }
            }
        }
    }
    function waithelp(e,q){
        removeoption(document.getElementById("pname"),product);
        if(e==0){
            $("#edit").hide();
            $("#insert").show();
            select();
            handle=0;
        }
        else{
            product=q;
            $("#edit").show();
            $("#insert").hide();
            addoption(document.getElementById("pname"),q,q);
            addoption(document.getElementById("pname"),a2,a2);
            addoption(document.getElementById("pname"),a4,a4);
            addoption(document.getElementById("pname"),a5,a5);
            addoption(document.getElementById("pname"),'其他流动性产品','其他流动性产品');
            addoption(document.getElementById("pname"),'其他保本性产品','其他保本性产品');
            addoption(document.getElementById("pname"),'其他风险性产品','其他风险性产品');
        <% @record.each do |r| %>
           if('<%= r.id %>'==e){
              $("#date").attr("value",'<%= r.date %>')
              $("#nature1").attr("value",'<%= r.nature %>')
              $("#pname").attr("value",'<%= r.pname %>')
              $("#amount").attr("value",'<%= r.amount %>')
           }
        <% end %>
            handle=e;
        }
    }

    function nature(){
        if($("#nature").attr("value")=='买入'){
            select();
        }
        else if($("#nature").attr("value")=='赎回取现'){
            addoption(document.getElementById("pname"),a2,a2);
            addoption(document.getElementById("pname"),a4,a4);
            addoption(document.getElementById("pname"),a5,a5);
            removeoption(document.getElementById("pname"),'其他流动性产品');
            removeoption(document.getElementById("pname"),'其他保本性产品');
            removeoption(document.getElementById("pname"),'其他风险性产品');
        }
    }

    var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
    $("#record").click(function(){
        if($("#date").attr("value")==""){
            alert("请选择日期！");
        }
        else if(numfor.test($("#amount").attr("value"))==false){
            alert("投资金额必须为数字！");
        }
        else{
            if(parseInt($("#date").attr("value").split('-')[1]).toString()==parseInt($("#dates").attr("value").split('-')[1]).toString() && $("#date").attr("value").split('-')[0]==$("#dates").attr("value").split('-')[0]){
                if($("#nature").attr("value")=='买入'){
                    var amount=parseInt($("#amount").attr("value"))
                }
                else if($("#nature").attr("value")=='赎回取现'){
                    var amount=0-parseInt($("#amount").attr("value"))
                }

                if($("#pname").attr("value")=='<%= @hash3['流动'][0] %>'){
                    if($(".finish2").html()=="") {
                        $(".finish2").html(amount);
                    }
                    else{
                        $(".finish2").html(amount+parseInt($(".finish2").html()))
                    }
                    $("#amount1").html(amount+parseInt($("#amount1").html()));
                }
                else if($("#pname").attr("value")=='<%= @hash3['保本'][0] %>'){
                    if($(".finish4").html()=="") {
                        $(".finish4").html(amount);
                    }
                    else{
                        $(".finish4").html(amount+parseInt($(".finish4").html()))
                    }
                    $("#amount2").html(amount+parseInt($("#amount2").html()));
                }
                else if($("#pname").attr("value")=='<%= @hash3['风险1'][0] %>' || $("#pname").attr("value")=='<%= @hash3['风险2'][0] %>' || $("#pname").attr("value")=='<%= @hash3['风险3'][0] %>' || $("#pname").attr("value")=='<%= @hash3['风险4'][0] %>' || $("#pname").attr("value")=='<%= @hash3['风险5'][0] %>'){
                    if($(".finish5").html()=="") {
                        $(".finish5").html(amount);
                    }
                    else{
                        $(".finish5").html(amount+parseInt($(".finish5").html()))
                    }
                    $("#amount3").html(amount+parseInt($("#amount3").html()));
                }
                else if($("#pname").attr("value")=='其他流动性产品'){
                    $("#amount1").html(amount+parseInt($("#amount1").html()));
                }
                else if($("#pname").attr("value")=='其他保本性产品'){
                    $("#amount2").html(amount+parseInt($("#amount2").html()));
                }
                else if($("#pname").attr("value")=='其他风险性产品'){
                    $("#amount3").html(amount+parseInt($("#amount3").html()));
                }
                else{
                <% if @webuser.selection!=nil && @webuser.selection.to_f!="" %>
                    if($("#pname").attr("value")=='<%= @hash3[@finances.pname][0] %>' ){
                        if($(".finish5").html()=="") {
                            $(".finish5").html(amount);
                        }
                        else{
                            $(".finish5").html(amount+parseInt($(".finish5").html()))
                        }
                        $("#amount3").html(amount+parseInt($("#amount3").html()));
                    }
                <% end %>
                }

                var sun=parseInt($("#amount1").html())+parseInt($("#amount2").html())+parseInt($("#amount3").html())
                $("#rate1").html((parseInt($("#amount1").html())/sun*100).toFixed(1).toString()+'%');
                $("#rate2").html((parseInt($("#amount2").html())/sun*100).toFixed(1).toString()+'%');
                $("#rate3").html((parseInt($("#amount3").html())/sun*100).toFixed(1).toString()+'%');
            }
            if(handle==0){
              $.post("/personmanagement/recordconfigajax/0",{ username: '<%= session[:webusername] %>',date: $("#date").attr("value"),nature: $("#nature").attr("value"),pname: $("#pname").attr("value"),amount: $("#amount").attr("value")},function(data){
                  location.reload();
              });
            }
            else{
              $.post("/personmanagement/recordconfigajax/"+handle,{ username: '<%= session[:webusername] %>',date: $("#date").attr("value"),nature: $("#nature1").attr("value"),pname: $("#pname").attr("value"),amount: $("#amount").attr("value")},function(data){
                  location.reload();
              });
            }
        }
    });

    var amounts1=0;
    var amounts0=0;
    <% if @examination!=nil %>
    amounts1=parseFloat('<%= @examination.rent %>');
    amounts0=parseFloat('<%= @examination.salary-@examination.rent-@examination.wages %>');
    <% end %>

    var dateNow = new Date();
    var yearNow = dateNow.getFullYear();
    var monthNow = dateNow.getMonth()+1;
    var thisyear="",nextyear="";
    for(i=monthNow;i<=12;i++){
        if(thisyear==""){
            thisyear='|'+i+'月';
        }
        else{
            thisyear=thisyear+'|'+i+'月';
        }
    }
    for(i=1;i<=monthNow;i++){
        if(nextyear==""){
            nextyear='|'+i+'月';
        }
        else{
            nextyear=nextyear+'|'+i+'月';
        }
    }

    var arrayObj = new Array();
    var jixu,monthdeposit,totak,xian,feng,wen;


    function select() {

    <% if @examination !=nil %>
        var xianjin=0;
        var wenjian=0;
        var fengxian=0;
        var variety='<%= @examination.variety %>'.split(",");
        var amount='<%= @examination.amount %>'.split(",");
        for(i=0;i<variety.length;i++){
            if(variety[i]=="银行活期"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="余额宝"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="其他货币基金"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="银行理财产品"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="银行定期"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="债券型基金"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="股票"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="股票型基金"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="贵金属"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="其它"){fengxian=fengxian+parseFloat(amount[i])}
        }
        jixu=xianjin+wenjian+fengxian;
        monthdeposit=parseFloat('<%= @examination.wages %>');
        total=monthdeposit*12+jixu;//总资产
        xian=parseFloat('<%= @examination.rent %>')*3;
        feng=total*(80-parseFloat('<%= @examination.age %>'))/100;
        wen=total-xian-feng;
        if(wen<1000){
            xian=xian+wen-1000;
            wen=1000;
        }
    <% end %>

        var loca2=$("#dates").attr("value").split("-")[0]+'年';
        var loca4=parseInt($("#dates").attr("value").split("-")[1]).toString()+'月';

        if(yearNow+'年'==loca2 && monthNow+'月'==loca4){
        <% if @examination !=nil %>
            //   var a=[xian,wen,feng,xianjin,wenjian,fengxian]
            //    alert(a)
            $(".amounts2").html('');
            $(".amounts3").html('');
            $(".amounts4").html('');
            $(".amounts5").html('');
            var before=0;
        <% @record.each do |r| %>
            if(parseInt('<%= r.date %>'.split('-')[0])<parseInt(loca2.replace('年','')) || (parseInt('<%= r.date %>'.split('-')[0])==parseInt(loca2.replace('年',''))&& parseInt('<%= r.date %>'.split('-')[1])<=loca4.replace('月',''))){

                if('<%= r.nature %>'=='买入' && '<%= r.pname %>'==a2){
                    before=before+parseInt('<%= r.amount %>')
                }
                else if('<%= r.nature %>'=='赎回取现' && '<%= r.pname %>'==a2){
                    before=before-parseInt('<%= r.amount %>')
                }
            }
        <% end %>
            var amounts3=0;
            var remain1=xianjin;
            if(remain1>xian){
                var amounts2=0;
                $(".amounts2").html(parseInt(xian/100)*100);
                var remain2=remain1-xian;
                if(wen<=wenjian){
                    var amounts4=0;
                    $(".monthpay4").hide();
                    removeoption(document.getElementById("pname"),a4);
                    var remain3=remain2;
                    if(feng<=fengxian){
                        var amounts5=0;
                        $(".monthpay5").hide();
                        removeoption(document.getElementById("pname"),a5);
                    }
                    else{
                        if(remain3+fengxian>feng){
                            var amounts5=0;
                            $(".amounts5").html(parseInt((feng-fengxian)/100)*100);
                            var remain4=remain3+fengxian-feng;
                            $(".amounts4").html(parseInt((wen-wenjian+remain4)/100)*100);
                        }
                        else{
                            var amounts5=feng-fengxian-remain3;
                            $(".amounts5").html(parseInt(remain3/100)*100);
                        }
                    }
                }
                else{
                    if(remain2+wenjian>wen){
                        var amounts4=0;
                        $(".amounts4").html(parseInt((wen-wenjian)/100)*100);
                        var remain3=remain2+wenjian-wen;
                        if(feng<=fengxian){
                            var amounts5=0;
                            $(".monthpay5").hide();
                            removeoption(document.getElementById("pname"),a5);
                            var remain4=remain3;
                            $(".amounts4").html(parseInt((wen-wenjian+remain4)/100)*100);
                        }
                        else{
                            if(remain3+fengxian>feng){
                                var amounts5=0;
                                $(".amounts5").html(parseInt((feng-fengxian)/100)*100);
                                var remain4=remain3+fengxian-feng;
                                $(".amounts4").html(parseInt((wen-wenjian+remain4)/100)*100);
                            }
                            else{
                                var amounts5=feng-fengxian-remain3;
                                $(".amounts5").html(parseInt(remain3/100)*100);
                            }
                        }
                    }
                    else{
                        var amounts4=wen-wenjian-remain2;
                        var amounts5=feng-fengxian;
                        $(".amounts4").html(parseInt(remain2/100)*100);
                    }
                }
            }
            else{
                var amounts2=xian-remain1-before;
                var amounts4=wen-wenjian;
                var amounts5=feng-fengxian;
                $(".amounts2").html(parseInt(remain1/100)*100);
            }

            if($(".amounts2").html()!="" && $(".amounts2").html()!="0"){
                $(".monthpay2").show();
                addoption(document.getElementById("pname"),a2,a2);
            }
            else{
                $(".monthpay2").hide();
                removeoption(document.getElementById("pname"),a2);
            }
            if($(".amounts4").html()!="" && $(".amounts4").html()!="0"){
                $(".monthpay4").show();
                addoption(document.getElementById("pname"),a4,a4);
            }
            else{
                $(".monthpay4").hide();
                removeoption(document.getElementById("pname"),a4);
            }
            if($(".amounts5").html()!="" && $(".amounts5").html()!="0"){
                $(".monthpay5").show();
                addoption(document.getElementById("pname"),a5,a5);
            }
            else{
                $(".monthpay5").hide();
                removeoption(document.getElementById("pname"),a5);
            }
            if(wen<wenjian+100){
                $(".monthpay4").hide();
                removeoption(document.getElementById("pname"),a4);
            }
            if(feng<fengxian+100){
                $(".monthpay5").hide();
                removeoption(document.getElementById("pname"),a5);
            }
            arrayObj[0]=[amounts1,amounts3,amounts2,amounts4,amounts5,$(".amounts3").html(),$(".amounts2").html(),$(".amounts4").html(),$(".amounts5").html()];
            array();
            $(".finish2").html('');
            $(".finish4").html('');
            $(".finish5").html('');
        <% @record.each do |r| %>
            if('<%= r.date %>'.split('-')[0]+'年'==loca2 && parseInt('<%= r.date %>'.split('-')[1]).toString()+'月'==loca4){
                if('<%= r.nature %>'=='买入'){
                    var aa=parseInt('<%= r.amount %>')
                }
                else if('<%= r.nature %>'=='赎回取现'){
                    var aa=0-parseInt('<%= r.amount %>')
                }
                if('<%= r.pname %>'==a2){
                    if($(".finish2").html()=="") {
                        $(".finish2").html(aa);
                    }
                    else{
                        $(".finish2").html(aa+parseInt($(".finish2").html()))
                    }
                }

                if('<%= r.pname %>'==a4){
                    if($(".finish4").html()=="") {
                        $(".finish4").html(aa);
                    }
                    else{
                        $(".finish4").html(aa+parseInt($(".finish4").html()))
                    }
                }
                if('<%= r.pname %>'==a5){
                    if($(".finish5").html()=="") {
                        $(".finish5").html(aa);
                    }
                    else{
                        $(".finish5").html(aa+parseInt($(".finish5").html()))
                    }
                }
            }
        <% end %>
        <% end %>
            if($("#nature").attr("value")=='买入'){
                addoption(document.getElementById("pname"),'其他流动性产品','其他流动性产品');
                addoption(document.getElementById("pname"),'其他保本性产品','其他保本性产品');
                addoption(document.getElementById("pname"),'其他风险性产品','其他风险性产品');
            }
            else if($("#nature").attr("value")=='赎回取现'){
                removeoption(document.getElementById("pname"),'其他流动性产品');
                removeoption(document.getElementById("pname"),'其他保本性产品');
                removeoption(document.getElementById("pname"),'其他风险性产品');
            }
        }

        //
        if(!(yearNow+'年'==loca2 && monthNow+'月'==loca4) && loca4!=""){
            if(yearNow+'年'==loca2){
                var month=parseFloat(loca4.replace("月",""))-monthNow;
            }
            else{
                var month=parseFloat(loca4.replace("月",""))+12-monthNow;
            }

            $(".amounts2").html(parseInt(arrayObj[month][6]/100)*100)
            $(".amounts3").html(parseInt(arrayObj[month][5]/100)*100)
            $(".amounts4").html(parseInt(arrayObj[month][7]/100)*100)
            $(".amounts5").html(parseInt(arrayObj[month][8]/100)*100)
            if($("#nature").attr("value")=='买入'){
                addoption(document.getElementById("pname"),'其他流动性产品','其他流动性产品');
                addoption(document.getElementById("pname"),'其他保本性产品','其他保本性产品');
                addoption(document.getElementById("pname"),'其他风险性产品','其他风险性产品');
            }
            else if($("#nature").attr("value")=='赎回取现'){
                removeoption(document.getElementById("pname"),'其他流动性产品');
                removeoption(document.getElementById("pname"),'其他保本性产品');
                removeoption(document.getElementById("pname"),'其他风险性产品');
            }

            if(parseInt(arrayObj[month][6]/100)*100<=0){
                $(".monthpay2").hide();
                removeoption(document.getElementById("pname"),a2);
            }
            else{
                $(".monthpay2").show();
            }
            if(parseInt(arrayObj[month][7]/100)*100<=0){
                $(".monthpay4").hide();
                removeoption(document.getElementById("pname"),a4);
            }
            else{
                $(".monthpay4").show();
                addoption(document.getElementById("pname"),a4,a4);
            }
            if(parseInt(arrayObj[month][8]/100)*100<=0){
                $(".monthpay5").hide();
                removeoption(document.getElementById("pname"),a5);
            }
            else{
                $(".monthpay5").show();
                addoption(document.getElementById("pname"),a5,a5);
            }
            $(".finish2").html('');
            $(".finish4").html('');
            $(".finish5").html('');
        <% @record.each do |r| %>
            if('<%= r.date %>'.split('-')[0]+'年'==loca2 && parseInt('<%= r.date %>'.split('-')[1]).toString()+'月'==loca4){
                if('<%= r.nature %>'=='买入'){
                    var aa=parseInt('<%= r.amount %>')
                }
                else if('<%= r.nature %>'=='赎回取现'){
                    var aa=0-parseInt('<%= r.amount %>')
                }
                if('<%= r.pname %>'==a2){
                    if($(".finish2").html()=="") {
                        $(".finish2").html(aa);
                    }
                    else{
                        $(".finish2").html(aa+parseInt($(".finish2").html()))
                    }
                }

                if('<%= r.pname %>'==a4){
                    if($(".finish4").html()=="") {
                        $(".finish4").html(aa);
                    }
                    else{
                        $(".finish4").html(aa+parseInt($(".finish4").html()))
                    }
                }
                if('<%= r.pname %>'==a5){
                    if($(".finish5").html()=="") {
                        $(".finish5").html(aa);
                    }
                    else{
                        $(".finish5").html(aa+parseInt($(".finish5").html()))
                    }
                }
            }
        <% end %>
        }
    }

    function array(){
        for(i=1;i<=12;i++){
            var months=monthNow+i;
            if(months>12){
                months=months-12;
                var year=yearNow+1;
            }
            else{
                var year=yearNow;
            }
            var thismonth=0;
        <% @record.each do |r| %>
            if(parseInt('<%= r.date %>'.split('-')[0])== year && parseInt('<%= r.date %>'.split('-')[1])==months){

                if('<%= r.nature %>'=='买入' && '<%= r.pname %>'==a2){
                    thismonth=thismonth+parseInt('<%= r.amount %>')
                }
                else if('<%= r.nature %>'=='赎回取现' && '<%= r.pname %>'==a2){
                    thismonth=thismonth-parseInt('<%= r.amount %>')
                }
            }
        <% end %>

            if(arrayObj[i-1][3]<=0){
                if(arrayObj[i-1][1]<=0){            //arrayObj[i-1][1]=0;活期存款
                    if(arrayObj[i-1][2]<=0){
                        if(arrayObj[i-1][4]<=0){
                            arrayObj[i]=[arrayObj[0][0],0,0,0,0,0,0,0,0];
                        }
                        else{
                            if(feng/12<monthdeposit){
                                arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,0,0,0,feng/12];
                            }
                            else{
                                var a=arrayObj[i-1][4]-monthdeposit
                                arrayObj[i]=[arrayObj[0][0],0,0,0,a,0,0,0,monthdeposit];
                            }
                        }
                    }
                    else{
                        if(arrayObj[i-1][2]<=monthdeposit){
                            if(arrayObj[i-1][4]<=0){
                                arrayObj[i]=[arrayObj[0][0],0,0,0,0,0,arrayObj[i-1][2],0,0];
                            }
                            else{
                                if(feng/12<monthdeposit-arrayObj[i-1][2]){
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,0,arrayObj[i-1][2],0,feng/12];
                                }
                                else{
                                    var a=arrayObj[i-1][4]-(monthdeposit-arrayObj[i-1][2])
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,a,0,arrayObj[i-1][2],0,monthdeposit-arrayObj[i-1][2]];
                                }
                            }
                        }
                        else{
                            arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-monthdeposit-thismonth,0,arrayObj[i-1][4],0,monthdeposit,0,0];
                        }
                    }
                }
                else{
                    if(arrayObj[i-1][1]<=monthdeposit){
                        var b=monthdeposit-arrayObj[i-1][1];
                        if(arrayObj[i-1][2]<=0){
                            if(arrayObj[i-1][4]<=0){
                                arrayObj[i]=[arrayObj[0][0],0,0,0,0,arrayObj[i-1][1],0,0,0];
                            }
                            else{
                                if(feng/12<b){
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,arrayObj[i-1][1],0,0,feng/12];
                                }
                                else{
                                    var a=arrayObj[0][4]-b
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,a,arrayObj[i-1][1],0,0,b];
                                }
                            }
                        }
                        else{
                            if(arrayObj[i-1][2]<=b){
                                if(arrayObj[i-1][4]<=0){
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,0,arrayObj[i-1][1],arrayObj[i-1][2],0,0];
                                }
                                else{
                                    if(feng/12<b-arrayObj[i-1][2]){
                                        arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,arrayObj[i-1][1],arrayObj[i-1][2],0,feng/12];
                                    }
                                    else{
                                        var a=arrayObj[i-1][4]-(b-arrayObj[i-1][2])
                                        arrayObj[i]=[arrayObj[0][0],0,0,0,a,arrayObj[i-1][1],arrayObj[i-1][2],0,b-arrayObj[i-1][2]];
                                    }
                                }
                            }
                            else{
                                arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-b-thismonth,0,arrayObj[i-1][4],0,b,0,0];
                            }
                        }
                    }
                    else{
                        arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1]-monthdeposit,arrayObj[i-1][2]-thismonth,0,arrayObj[i-1][4],monthdeposit,0,0,0];
                    }
                }
            }
            else{
                if(wen/12<monthdeposit){
                    var d=monthdeposit-wen/12;
                    if(arrayObj[i-1][1]<=0){
                        if(arrayObj[i-1][2]<=0){
                            if(arrayObj[i-1][4]<=0){
                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,0,0,wen/12,0];
                            }
                            else{
                                if(feng/12<d){
                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,0,0,wen/12,feng/12];
                                }
                                else{
                                    var a=arrayObj[i-1][4]-d
                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,0,0,wen/12,d];
                                }
                            }
                        }
                        else{
                            if(arrayObj[i-1][2]<=d){
                                if(arrayObj[i-1][4]<=0){
                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,0,arrayObj[i-1][2],wen/12,0];
                                }
                                else{
                                    if(feng/12<d-arrayObj[i-1][2]){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,0,arrayObj[i-1][2],wen/12,feng/12];
                                    }
                                    else{
                                        var a=arrayObj[i-1][4]-(d-arrayObj[i-1][2])
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,0,arrayObj[i-1][2],wen/12,d-arrayObj[i-1][2]];
                                    }
                                }
                            }
                            else{
                                arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-d-thismonth,arrayObj[0][3]-wen/12,arrayObj[i-1][4],0,d,wen/12,0];
                            }
                        }
                    }
                    else{
                        if(arrayObj[i-1][1]<=d){
                            var b=d-arrayObj[i-1][1];
                            if(arrayObj[i-1][2]<=0){
                                if(arrayObj[i-1][4]<=0){
                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,arrayObj[i-1][1],0,wen/12,0];
                                }
                                else{
                                    if(feng/12<b){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,arrayObj[i-1][1],0,wen/12,feng/12];
                                    }
                                    else{
                                        var a=arrayObj[i-1][4]-b
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,arrayObj[i-1][1],0,wen/12,b];
                                    }
                                }
                            }
                            else{
                                if(arrayObj[i-1][2]<=b){
                                    if(arrayObj[i-1][4]<=0){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,arrayObj[i-1][1],arrayObj[i-1][2],wen/12,0];
                                    }
                                    else{
                                        if(feng/12<b-arrayObj[i-1][2]){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,arrayObj[i-1][1],arrayObj[i-1][2],wen/12,feng/12];
                                        }
                                        else{
                                            var a=arrayObj[i-1][4]-(b-arrayObj[i-1][2])
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,arrayObj[i-1][1],arrayObj[i-1][2],wen/12,b-arrayObj[i-1][2]];
                                        }
                                    }
                                }
                                else{
                                    arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-b-thismonth,arrayObj[0][3]-wen/12,arrayObj[i-1][4],0,b,wen/12,0];
                                }
                            }
                        }
                        else{
                            arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1]-d,arrayObj[i-1][2]-thismonth,arrayObj[0][3]-wen/12,arrayObj[i-1][4],d,0,wen/12,0];
                        }
                    }
                }
                else{
                    if(arrayObj[i-1][3]<monthdeposit) {
                        var c=monthdeposit-arrayObj[i-1][3];
                        if(arrayObj[i-1][1]<=0){
                            if(arrayObj[i-1][2]<=0){
                                if(arrayObj[i-1][4]<=0){
                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,0,0,arrayObj[i-1][3],0];
                                }
                                else{
                                    if(feng/12<c){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,0,0,arrayObj[i-1][3],feng/12];
                                    }
                                    else{
                                        var a=arrayObj[i-1][4]-c
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,0,0,arrayObj[i-1][3],c];
                                    }
                                }
                            }
                            else{
                                if(arrayObj[i-1][2]<=c){
                                    if(arrayObj[i-1][4]<=0){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,0,arrayObj[i-1][2],arrayObj[i-1][3],0];
                                    }
                                    else{
                                        if(feng/12<c-arrayObj[i-1][2]){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,0,arrayObj[i-1][2],arrayObj[i-1][3],feng/12];
                                        }
                                        else{
                                            var a=arrayObj[i-1][4]-(c-arrayObj[i-1][2])
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,0,arrayObj[i-1][2],arrayObj[i-1][3],c-arrayObj[i-1][2]];
                                        }
                                    }
                                }
                                else{
                                    arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-c-thismonth,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[i-1][4],0,c,arrayObj[i-1][3],0];
                                }
                            }
                        }
                        else{
                            if(arrayObj[i-1][1]<=c){
                                var b=c-arrayObj[i-1][1];
                                if(arrayObj[i-1][2]<=0){
                                    if(arrayObj[i-1][4]<=0){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,arrayObj[i-1][1],0,arrayObj[i-1][3],0];
                                    }
                                    else{
                                        if(feng/12<b){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,arrayObj[i-1][1],0,arrayObj[i-1][3],feng/12];
                                        }
                                        else{
                                            var a=arrayObj[i-1][4]-b
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,arrayObj[i-1][1],0,arrayObj[i-1][3],b];
                                        }
                                    }
                                }
                                else{
                                    if(arrayObj[i-1][2]<=b){
                                        if(arrayObj[i-1][4]<=0){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,arrayObj[i-1][1],arrayObj[i-1][2],arrayObj[i-1][3],0];
                                        }
                                        else{
                                            if(feng/12<b-arrayObj[i-1][2]){
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,arrayObj[i-1][1],arrayObj[i-1][2],arrayObj[i-1][3],feng/12];
                                            }
                                            else{
                                                var a=arrayObj[i-1][4]-(b-arrayObj[i-1][2])
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,arrayObj[i-1][1],arrayObj[i-1][2],arrayObj[i-1][3],b-arrayObj[i-1][2]];
                                            }
                                        }
                                    }
                                    else{
                                        arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-b-thismonth,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[i-1][4],0,b,arrayObj[i-1][3],0];
                                    }
                                }
                            }
                            else{
                                arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1]-c,arrayObj[i-1][2]-thismonth,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[i-1][4],c,0,arrayObj[i-1][3],0];
                            }
                        }
                    }
                    else{
                        arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1],arrayObj[i-1][2]-thismonth,arrayObj[i-1][3]-monthdeposit,arrayObj[i-1][4],0,0,monthdeposit,0];
                    }
                }
            }
        }
        var mon=(thisyear+nextyear).split('|')
        $("#target tr:eq(0) td:eq(0)").html('理财产品');
        $("#target tr:eq(0) td:eq(13)").html(mon[13]);
        $("#target tr:eq(1) td:eq(0)").html(a2);
        $("#target tr:eq(2) td:eq(0)").html(a4);
        $("#target tr:eq(3) td:eq(0)").html(a5);
        for(i=0;i<13;i++){
            var a=i+1;
            if(i!=0){
                $("#target tr:eq(0) td:eq("+i+")").html(mon[i]);
            }
            $("#target tr:eq(1) td:eq("+a+")").html(parseInt(arrayObj[i][6]/100)*100);
            $("#target tr:eq(2) td:eq("+a+")").html(parseInt(arrayObj[i][7]/100)*100);
            $("#target tr:eq(3) td:eq("+a+")").html(parseInt(arrayObj[i][8]/100)*100);
        }
    }

    $(document).ready(function(){
        initPieChart();
        <% if @webuser.score!=nil %>
        $('.percentage').each(function() {
            $(this).data('easyPieChart').update(<%= format("%0.1f",@webuser.score) %>);
            $('span', this).text('<%= format("%0.1f",@webuser.score) %>');
        });
        <% end %>
        $('#records').dataTable({});
     //   var dateNow = new Date();
    //    var yearNow = dateNow.getFullYear()+'年';
    //    var monthNow = (dateNow.getMonth()+1).toString()+'月';
        $("#dates").attr("value",yearNow+'-'+monthNow);
        select();
    });

    var perfinance=1;
</script>

<script type="text/javascript">
    var initPieChart = function() {
        $('.percentage').easyPieChart({
            animate: 1000
        });
    };
</script>

<script>

    $(function () {
        var chart;

        <% if @webuser.risktolerance!=nil %>
        var dataArray2= [<%= @webuser.risktolerance %>];
        <% else %>
        var dataArray2= [0];
        <% end %>

        $(document).ready(function() {
            var chart = new Highcharts.Chart({

                chart: {
                    renderTo: 'container',
                    type: 'gauge',
                    plotBorderWidth: 1,
                    plotBackgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#FFF4C6'],
                            [0.3, '#FFFFFF'],
                            [1, '#FFF4C6']
                        ]
                    },
                    plotBackgroundImage: null,
                    height: 80,
                    width: 130
                },

                title: false,

                pane: [{
                    startAngle: -45,
                    endAngle: 45,
                    background: null,
                    center: ['50%', '145%'],
                    size: 80
                }],

                yAxis: [{
                    min: 0,
                    max: 10,
                    tickInterval: 2,
                    minorTickPosition: 'outside',
                    tickPosition: 'outside',
                    labels: {
                        rotation: 'auto',
                        distance: 20
                    },
                    plotBands: [{
                        from: 0,
                        to: 2,
                        color: '#09a509',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 2,
                        to: 4,
                        color: '#69c908',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 4,
                        to: 6,
                        color: '#eded07',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 6,
                        to: 8,
                        color: '#fa8c1e',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 8,
                        to: 10,
                        color: '#C02316',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    }],
                    pane: 0,
                    title: false
                }],

                plotOptions: {
                    gauge: {
                        dataLabels: {
                            enabled: false
                        },
                        dial: {
                            radius: '90%'
                        }
                    }
                },
                series: [{
                    data: dataArray2,
                    yAxis: 0
                }],
                credits: {
                    enabled: false
                }
            });
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container3',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    events:{
                        load: function(){
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function() {
                                var data = [];
                                var a1= amounts1;
                                var a0= amounts0;
                                var a2= parseFloat($(".amounts2").html());
                                var a4= parseFloat($(".amounts4").html());
                                var a5= parseFloat($(".amounts5").html());
                                var numfor= /^[-+]?[0-9]+(\.[0-9]+)?$/
                                if(numfor.test(a1)==false){a1=0}
                                if(numfor.test(a0)==false){a0=0}
                                if(numfor.test(a2)==false){a2=0}
                                if(numfor.test(a4)==false){a4=0}
                                if(numfor.test(a5)==false){a5=0}
                                data.push(['吃喝住行',a1]);
                                data.push(['零花钱',a0]);
                                data.push([$(".name2").html(),a2]);
                                data.push([$(".name4").html(),a4]);
                                data.push([$(".name5").html(),a5]);
                                series.setData(data);
                            }, 500);
                        }
                    }
                },
                title: {
                    text: false
                },
                tooltip: false,
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            distance: 10,
                            connectorColor: '#000000',
                            formatter:function(index) {
                                if(this.point.percentage>0){
                                    var str=this.point.name,str1,aa='';
                                    for(var i=0,len=str.length/5;i<len;i++) {
                                        str1 = str.substr(0,5);
                                        str = str.replace(str1,'');
                                        if(i==0){aa=str1}
                                        else{aa=aa+"<br>"+str1}
                                    }
                                    return  '<span>'+aa + ':<br>'+this.point.percentage.toFixed(1)+'%</span>';
                                }
                            }
                        },
                        showInLegend: true,
                        size: 120,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                        ['吃喝住行', amounts1],
                        ['零花钱', amounts0],
                        [$(".name3").html(), parseFloat($(".amounts3").html())],
                        [$(".name2").html(), parseFloat($(".amounts2").html())],
                        [$(".name4").html(), parseFloat($(".amounts4").html())],
                        [$(".name5").html(), parseFloat($(".amounts5").html())]
                    ]
                }],
                legend: false,
                credits: {
                    enabled: false
                }
            });
        });
    });

    //图
    $(function () {
        d = new Date(),
                nowYear = d.getFullYear();
        <% if @examination !=nil %>
        var xianjin=0;
        var wenjian=0;
        var fengxian=0;
        var variety='<%= @examination.variety %>'.split(",");
        var amount='<%= @examination.amount %>'.split(",");
        for(i=0;i<variety.length;i++){
            if(variety[i]=="银行活期"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="余额宝"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="其他货币基金"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="银行理财产品"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="银行定期"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="债券型基金"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="股票"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="股票型基金"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="贵金属"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="其它"){fengxian=fengxian+parseFloat(amount[i])}
        }
        var jixu=xianjin+wenjian+fengxian;

        var xian=parseFloat('<%= @examination.xian %>');
        var feng=parseFloat('<%= @examination.feng %>');
        var wen=parseFloat('<%= @examination.wen %>');
        var total=parseFloat('<%= @examination.xian %>')+parseFloat('<%= @examination.feng %>')+parseFloat('<%= @examination.wen %>');

        if(wen<1000){
            xian=xian+wen-1000;
            wen=1000;
        }

        <% if @webuser.dreamset !=nil %>
        $("#jixu").html(jixu);
        $("#deposit").html(parseFloat('<%= @examination.wages %>'));
        <% else %>
        $("#jixu").html("没有");
        $("#deposit").html("没有");
        <% end %>
        var xian1=0,wen1=0,feng1= 0,jin=0;
        <% @record.each do |r| %>
        if('<%= r.date %>'.split('-')[0]==yearNow && parseInt('<%= r.date %>'.split('-')[1]).toString()==monthNow){
            if('<%= r.nature %>'=='买入'){
                jin=parseInt('<%= r.amount %>')
            }
            else if('<%= r.nature %>'=='赎回取现'){
                jin=0-parseInt('<%= r.amount %>')
            }
            if('<%= r.pname %>'==a2){
                xian1=xian1+jin;
            }
            else if('<%= r.pname %>'==a4){
                wen1=wen1+jin;
            }
            else if('<%= r.pname %>'==a5){
                feng1=feng1+jin;
            }
            else if('<%= r.pname %>'=='其他流动性产品'){
                xian1=xian1+jin;
            }
            else if('<%= r.pname %>'=='其他保本性产品'){
                wen1=wen1+jin;
            }
            else if('<%= r.pname %>'=='其他风险性产品'){
                feng1=feng1+jin;
            }
        }
        <% end %>

        $("#amount1").html(xianjin+xian1);
        $("#amount2").html(wenjian+wen1);
        $("#amount3").html(fengxian+feng1);
        $("#rate1").html(((xianjin+xian1)/(jixu+xian1+wen1+feng1)*100).toFixed(1)+'%');
        $("#rate2").html(((wenjian+wen1)/(jixu+xian1+wen1+feng1)*100).toFixed(1)+'%');
        $("#rate3").html(((fengxian+feng1)/(jixu+xian1+wen1+feng1)*100).toFixed(1)+'%');

        $("#proposed1").html((xian/total*100).toFixed(1)+'%');
        $("#proposed2").html((wen/total*100).toFixed(1)+'%');
        $("#proposed3").html((feng/total*100).toFixed(1)+'%');
        var dataArray= [['流动型资产',xian/total],['保本型资产',wen/total],['风险型资产',feng/total]];
        <% else %>
        var dataArray= [['流动型资产',1],['保本型资产',1],['风险型资产',1]];
        <% end %>
    });


    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'center',
            offsetY: 5,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
</script>


<script>
    $("#submit").click(function(){
        <% if @webuser.scharge!=nil %>
        $.get("/usersurvey/zhifubao",{scharge:'<%= @webuser.scharge %>',username:'<%= session[:webusername] %>'},function(data){
            location.href=data;
        });
        <% end %>
    });
</script>

<script>
    $("#sample").click(function(){
        <% if session[:webusername]==nil %>
        location.href="/sales/login?pid=<%= params[:id] %>&comments=1";
        <% end %>
    });

    $(".btns").click(function(){
        $("#comment").show();
    });

    $(".sina-checkbox").click(function(){
        var a=document.getElementsByClassName("sina-checkbox");
        if(a[0].checked){
            $("#bdshare").show();
            $("#notcheck").hide();
        }
        else{
            $("#bdshare").hide();
            $("#notcheck").show();
        }
    });

    $("#saved").click(function(){
        var nom_flag=0;
        var dateTime=new Date();
        var hh=dateTime.getHours();
        var mm=dateTime.getMinutes();
        var ss=dateTime.getSeconds();

        var yy=dateTime.getFullYear();
        var MM=dateTime.getMonth()+1;  //因为1月这个方法返回为0，所以加1
        var dd=dateTime.getDate();

        var week=dateTime.getDay();
        var days=[ "日 ", "一 ", "二 ", "三 ", "四 ", "五 ", "六 "]

//  var time=yy+"年"+MM+"月"+dd+"日 "+"星期"+days[week]+hh+"时"+mm+"分"+ss+"秒";
        var time=yy+"-"+MM+"-"+dd+" "+hh+":"+mm+":"+ss;

        if($(".nicEdit-main").html()=="<br>"){
            alert("评论为空！");
            nom_flag=1;
        }

        if(nom_flag==0){
            $.get("/personmanagement/comment3configajax",{username:'<%= session[:webusername] %>',email:'<%= @webusers.email %>',comments:$(".nicEdit-main").html(),
                time:time,company:'<%= @webusers.company %>',pid:'<%= @webuser.id %>' },function(data){
                $("#sample").hide();
                $("#new").show();
                $("#username").html('<%= session[:webusername] %> 说：');
                $("#newcomment").html($(".nicEdit-main").html());
                $(".zg-form-text-input").html('<textarea style="width: 100%; white-space: pre; height: 66px; min-height: 66px;" >'+'我在 @通天顺 评论了理财师给我提供的的理财规划书：'+$(".nicEdit-main").html().replace(/<[^>].*?>/g,"")+'</textarea>');
                bds_config = {'bdText':'我在 @通天顺家庭理财 评论了理财师给我提供的的理财规划书：'+$(".nicEdit-main").html().replace(/<[^>].*?>/g,"")};
                document.getElementById("bdshell_js").src="http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
            });
        }
    });
</script>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".mobile").remove();
    }else{
        $(".win").remove();
    }
</script>

<script type="text/javascript">
    ;(function($){
        $.fn.datetimepicker.dates['fr'] = {
            days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
            daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
            daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
            months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
            monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
            today: "本月",
            meridiem: ["am", "pm"]
        };
    }(jQuery));
    var start=yearNow+'-'+monthNow
    $('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 3,
        minView: 3,
        forceParse: 0,
        startDate: yearNow+'-'+monthNow,
        endDate: (parseInt(yearNow)+1).toString()+'-'+monthNow,
        format: 'yyyy-mm',
        pickerPosition: "bottom-left"
    }).on('changeDate', function(ev){
                select();
            });

</script>

<script>
    function deleteajax(id,type){
        $.get("/personmanagement/"+type+"/"+id,function(data){
            if(data=="s"){
                alert("删除成功！");
                location.reload();
            }
            else{
                alert("删除失败！");
                location.reload();
            }
        });
    }
</script>