<%= stylesheet_link_tag "personmanagement.css" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
<%= javascript_include_tag "nicEdit-latest.js" %>
<!--[if !IE]><!-->
<%= javascript_include_tag "jquery.percentageloader-0.1.js" %>
<!--<![endif]-->

<%= javascript_include_tag "footable-0.1.js" %>
<script type="text/javascript">
    $(function() {
        $('table').footable();
    });
</script>

<style>
    .footable.breakpoint > tbody > tr > td.expand {
        background: url('/assets/plus.png') no-repeat 5px center;
        padding-left: 40px!important;
    }
    .dream{font-family:"Source Sans Pro",Tahoma,sans-serif;}
    h1,h2{font-weight: 600;}
    #table th,#table td,#allocation th,#allocation td{text-align: left;}
    .table th {
        font-family: Georgia;
        font-weight: normal;
        text-transform: uppercase;
        height: 10px;
        font-size: 14px;
    }
    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
        position: static;
    }
</style>

<div class="main-content dream">
<div class="mobile"><br></div>
<a href="/">首页</a>
<h1><%= @webuser.username %>的个人首页</h1>
<div id="top-tabs" style="padding: 15px 60px;background: #f4f4f4;border-bottom: 1px solid #ececec;">
  <div class="row-fluid" style="height: 18px;">
    <% if @webuser.score ==nil %>
        <div class="span12">
          <a href="/usersurvey/startup"><b>1.</b> <span>家庭资产体检</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <span class="disabled"><b>2.</b> <span>风险承受力评估</span><span class="separator"> > </span></span>   <div class="mobile"><br></div>
          <span class="disabled"><b>3.</b> <span>梦想目标设定</span><span class="separator"> > </span></span> <div class="mobile"><br></div>
          <span class="disabled"><b>4.</b> <span>规划建议书生成</span></span>
        </div>
    <% elsif @webuser.risktolerance ==nil %>
        <div class="span12">
          <a href="/usersurvey/startup"><b>1.</b> <span>家庭资产体检</span></a><span class="separator"> > </span> <div class="mobile"><br></div>
          <a href="/home/questions"><b>2.</b> <span>风险承受力评估</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <span class="disabled"><b>3.</b> <span>梦想目标设定</span><span class="separator"> > </span></span>  <div class="mobile"><br></div>
          <span class="disabled"><b>4.</b> <span>规划建议书生成</span></span>
        </div>
    <% elsif @webuser.dreamset ==nil %>
        <div class="span12">
          <a href="/usersurvey/startup"><b>1.</b> <span>家庭资产体检</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a href="/home/questions"><b>2.</b> <span>风险承受力评估</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a href="/usersurvey/dreamset"><b>3.</b> <span>梦想目标设定</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <span class="disabled"><b>4.</b> <span>规划建议书生成</span></span>
        </div>
    <% else %>
        <div class="span12">
          <a href="/usersurvey/startup"><b>1.</b> <span>家庭资产体检</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a href="/home/questions"><b>2.</b> <span>风险承受力评估</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <a href="/usersurvey/dreamset"><b>3.</b> <span>梦想目标设定</span></a><span class="separator"> > </span>  <div class="mobile"><br></div>
          <b>4.</b> <span>规划建议书生成</span>
        </div>
    <% end %>
  </div>
</div>
<div style="height: 30px;"></div>
<table id="person" style="width: 97%;margin-left: 3%;color: #555;">
<tr>
<td style="width: 200px;padding: 0 15px;text-align: center;">
  <div style="font-size: 14px;line-height: 30px;"><%= @webuser.username %>的家庭诊断</div>
  <div id="topLoader" style="width: 100px;height: 100px;margin: auto;"></div>
  <div style="height: 30px;">
    <% if @webuser.username == session[:webusername] %>
        <a href="/usersurvey/startup" id="change-answers" style="font-size: 12px;">重新体检</a>
    <% end %>
  </div>
  <hr>
  <div id="title" style="font-size: 14px;line-height: 30px;"><% if  @webuser.risktolerance!=nil %><%= @webuser.username %>的风险承受度：<%= @webuser.risktolerance %><% else %><%= @webuser.username %> 尚未进行 风险承受度评估<% end %></div>
  <div id="container" style="width: 130px;margin: auto;"></div>
  <% if @webuser.username == session[:webusername] %>
      <% if @webuser.risktolerance ==nil %>
          <a href="/home/questions" id="change-answers" style="font-size: 12px;">风险承受度评估</a>
      <% else %>
          <a href="/home/questions" id="change-answers" style="font-size: 12px;">修改我的答案</a>
      <% end %>
  <% end %>
  <% if  @webuser.risktolerance!=nil %>
      <% if @webuser.risktolerance.to_f>=0 && @webuser.risktolerance.to_f<=2 %>
          <p class="risk">对于安益型投资人，其投资组合配置在风险最小的领域，如现金、活期存储、定期存款等。</p>
      <% elsif @webuser.risktolerance.to_f>2 && @webuser.risktolerance.to_f<=4 %>
          <p class="risk">对于保守型投资人，其投资组合较大比例配置纯债券型基金，此类投资人注重获得稳定的投资回报，而不追求最大回报，且限制短期内的大幅波动。</p>
      <% elsif @webuser.risktolerance.to_f>4 && @webuser.risktolerance.to_f<=6 %>
          <p class="risk"> 对于稳健型投资人，其投资组合均衡配置债券类基金资产，通过这种债券型基金，将有少许被配置到股票等二级市场。</p>
      <% elsif @webuser.risktolerance.to_f>6 && @webuser.risktolerance.to_f<=8 %>
          <p class="risk">对于积极型投资人，其投资组合较大比例配置指数型基金或混合型基金，同时还有小部分比例配置于现金、活期、货币基金等流动性资产。</p>
      <% elsif @webuser.risktolerance.to_f>8 && @webuser.risktolerance.to_f<=10 %>
          <p class="risk">对于激进型投资人，其投资组合将绝大部分比例投资于股票类资产或股票型基金，并且敢于涉足一些投机领域。</p>
      <% end %>
  <% end %>
</td>
<td id="center" style="border-left:1px solid #E2E2E2;padding: 0 20px;">
<div class="account-type-tab active" id="taxable-account-type" style="border-bottom: 1px solid #E2E2E2;padding-left: 20px;margin-bottom: 20px;">
  <p style="padding-top: 5px;"><span class="product" style="line-height: 20px;"><%= @webuser.username %>的梦想</span></p>
  <p class="product-description" style="line-height: 12px;width: 69%;">因梦想而伟大
    <!--
    <% if @webuser.dream ==nil || @webuser.organuser=='2' %>
        <a class="pull-right" style="width: 100px;" href="/usersurvey/apply">登记梦想</a>
    <% else %>
        <% if @webuser.username == session[:webusername] %>
            <a style="width: 100px;" class="pull-right" href="/usersurvey/dreamrevise/<%= @webuser.id %>" target="_blank">修改</a>
        <% end %>
    <% end %>
     -->
  </p>
</div>
<table style="width: 100%;">
  <tr>
    <td class="left">
      <img style="width: 135px;" src="/assets/girl_credit_cards.jpg">
    </td>
    <td style="vertical-align: middle;padding-left: 20px;">
      <table id="allocation" style="width: 85%;" class="table allocation report apply-asset-class-colors">
        <tr  class="" data-type="US_STOCKS">
          <td id="td1" style="border: 0;" class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td id="td2" style="border: 0;width: 47%;">梦想</td>
          <td id="td3" style="border: 0;"><% if @webuser.dreamset !=nil %><%= @webuser.dreamset %><% else %>没有<% end %></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>梦想价值</td>
          <td><% if @webuser.dreamset !=nil %>无价<% else %>没有<% end %></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>已有存款</td>
          <td id="jixu"></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>每月存款</td>
          <td id="deposit"></td>
        </tr>
        <tr  class="" data-type="US_STOCKS">
          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
          <td>实现时间</td>
          <td><% if @webuser.dreamset !=nil %>1年<% else %>没有<% end %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="height: 55px;"></div>
<table id="table" style="width: 100%;">
<tr>
  <td style="padding-left: 20px;">
    <div class="account-types">
      <div class="account-type-tab active taxable-account-type">
        <p><span class="product" style="line-height: 20px;">战略性资产分配</span></p>
        <p class="product-description" style="line-height: 25px;">
          <span style="margin-right: 95px;">我们将主要从家庭资产保值增值的角度，来帮你进行家庭资产战略性规划： 我们将主要遵循如下几个原则：1）身边要保留3个月左右的现金或活期，以应对个人、家庭特殊紧急情况。
2）保本型资产必不可少，作为家庭财务配置的平衡力量。 3）年轻时，风险承受能力强，风险性资产占有比重会多一些。</span><div class="mobile"><br></div>
        <!--
            <% if @webuser.dream !=nil && @webuser.organuser!='2' %>
                  <% if @webuser.organusername!=nil %>
                      <span style="font-size: 14px;font-style: normal;" class="product-description" style="margin-top: 0px;font-size: 12px;"><%= @webuser2.company %> <%= @webuser.organusername %> 提供服务</span>
                  <% end %>
              <% end %>
            <div class="mobile"><br></div>
              <% if @webuser.dream != nil && @webuser.organuser!='2' %>
                  <% if @hash2[0][3]!=nil %>
                    <% if @webuser.username == session[:webusername] || params[:id]==nil %>
                       <a class="pull-right" style="width: 100px;font-size: 14px;font-style: normal;" id="picture" href="/home/download/data?filename=<%= @hash2[0][7] %>">报告下载</a>
                    <% else %>
                        <a class="pull-right" style="width: 100px;font-size: 14px;font-style: normal;" id="picture" href="#" onclick="alert('您不能下载其他用户的理财规划报告！');">报告下载</a>
                    <% end %>
                  <% elsif @hash2[0][1]==nil %>
                      <span class="pull-right" style="width: 100px;font-size: 14px;font-style: normal;">方案制作中</span>
                  <% else %>
                      <span style="width: 100px;" class="pull-right">&nbsp;</span>
                  <% end %>
              <% end %>
             -->
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="plan-details">
      <section id="asset-allocation" class="">
        <table style="width: 100%;">
          <tr><td class="high" style="width: 135px;height: 200px;padding-top: 20px;">
            <div class="allocation-chart-container">
              <div id="container2" style="width: 130px;height: 130px;"></div>
            </div>
          </td><td style="padding-left: 20px;">
            <table id="table2" style="width: 100%;" class="table allocation report apply-asset-class-colors">
              <thead>
              <tr>
                <th id="th1"></th>
                <th id="th2" style="width: 20%;">理财产品大类</th>
                <th id="th3" style="width: 20%;">建议配置<br>%</th>
                <th id="th4" style="width: 20%;">当前情况<br>%</th>
                <th id="th5" style="width: 20%;">当前情况<br>金额</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr class="" data-type="MUNI_BONDS">
                <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                <td class="asset-class-name">
                  <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="一般指随存随取类的资产，例如现金、活期存款、余额宝、货币基金。这些资产都是今天存，最迟明天就可以取出来，而且几乎没有手续费的资产。">流动型资产</a></span>
                </td>
                <td id="proposed1" class="asset-class-percentage number"></td>
                <td id="rate1" class="asset-class-amount number"></td>
                <td id="amount1" class="asset-class-amount number"></td>
              </tr>
              <tr class="" data-type="INTL_EMERGING">
                <td class="asset-class-color"><div class="legend INTL_EMERGING"></div></td>
                <td class="asset-class-name">
                  <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="顾名思义，您的投入本金是不会亏损的，当前市场上该类产品有银行定期存款，国债，保本型基金等。">保本型资产</a></span>
                </td>
                <td id="proposed2" class="asset-class-percentage number"></td>
                <td id="rate2" class="asset-class-amount number"></td>
                <td id="amount2" class="asset-class-amount number"></td>
              </tr>
              <tr class="" data-type="US_STOCKS">
                <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                <td class="asset-class-name">
                  <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="很有可能会亏损本金的投资资产。当然，我们会结合您的具体风险承受评估来给您做相应产品的介绍。当前市场上风险最高，预期利润最高的是股票和股票型基金。">风险型资产</a></span>
                </td>
                <td id="proposed3" class="asset-class-percentage number"></td>
                <td id="rate3" class="asset-class-amount number"></td>
                <td id="amount3" class="asset-class-amount number"></td>
              </tr>
              </tbody>
            </table>
          </td></tr></table>
        <div class="clearfix"></div>
      </section>
    </div>
    <!--
        <% if @webuser.username==session[:webusername] && @hash2[0][1] != nil %>
            <div id="comment">
              <a name='评论'><div style="height: 30px;"></div></a>
              <p class="product" style="line-height: 30px;border-bottom: 1px solid #E2E2E2;">规划点评</p>
              <table cellpadding="0" cellspacing="0" border="0" class="display" id="comments">
                <% @comments.each do |b| %>
                    <tr>
                      <td>
                        <p class="text2"><%= b.username%> 说：</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text2"> <%=raw b.comments%> </p>
                        <hr>
                      </td>
                    </tr>
                <% end %>
              </table>
              <div id="new" class="hide">
                <p id="username" class="text2"></p>
                <p id="newcomment" class="text2"></p>
                <div class="zm-tab-content weibo-panel" id="tb-webshare-sina-content" style="">
                  <div class="zg-section">
                    <p class="product" style="line-height: 30px;border-bottom: 1px solid #E2E2E2;">分享到微博</p>
                    <label>
                      <input data-bindurl="/oauth/auth/sina?next=/oauth/callback" class="sina-checkbox" type="checkbox">
                      <span class="zg-ico-sina"></span> 新浪微博</label>
                  </div>
                  <div class="zg-section">
                    <div class="zg-form-text-input">

                    </div>
                  </div>
                  <div class="zm-command">
                    <div class="baidu_btn">
                      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare hide" onclick="$('.zm-tab-content').hide();" style="float: right;" data="{'url':'http://www.tongtianshun.com/personmanagement/personfinance/<%= @webuser.id %>'}">
                        <a class="bds_tsina btn btn-primary" style="float: right;color: #ffffff;padding: 4px 12px;line-height: 16px;">分享到微博</a>
                      </div>
                      <div id="notcheck" class="bdshare_t bds_tools get-codes-bdshare">
                        <a class="bds_tsina btn btn-primary" onclick="alert('请选择微博后再进行分享！');" style="float: right;padding: 4px 12px;line-height: 16px;background: #eee;color: #888;">分享到微博</a>
                      </div>
                    </div>
                    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2419455" ></script>
                    <script type="text/javascript" id="bdshell_js"></script>
                    <script type="text/javascript">
                        var bds_config ;
                    </script>
                  </div>
                </div>
              </div>
              <div id="sample">
                <textarea id="area2" name="area2" style="width: 100%;height: 150px;"></textarea><br>
                <a class="btn btn-primary pull-right" id="saved" href="javascript:;">发布评论</a>
              </div>
            </div>
        <% end %>
        -->
  </td>
</tr>
<tr><td style="height: 20px;"></td></tr>
<tr>
  <td style="padding-left: 20px;">
    <div class="account-types">
      <form method="post" style="margin-bottom: 0;" name="creator" enctype="multipart/form-data">
        <table>
          <tr>
            <td colspan="3">
              <div class="account-type-tab active taxable-account-type">
                <p><span class="product" style="line-height: 20px;">摆脱月光族</span></p>
                <p class="product-description" style="line-height: 25px;">
                  <span style="margin-right: 95px;">您应该如何分配月收入：您将通过科学精确的每月工资收入分配计算，帮助得到最理想的家庭资产分配，即符合您个人家庭的需求，又能享受合适的投资收益回报。</span><div class="mobile"><br></div>
                </p>
              </div>
              <div class="clearfix"></div>
            </td>
          </tr>
          <tr>
            <td style="width: 180px;">
            </td>
            <td style="width: 255px;">
              <select name="year" id="year" onChange = "select()" style="margin-left: 0;"></select>
            </td>
            <td>
              <select name="month" id="month" onChange = "select()" style="margin-left: 10px;"></select>
              <input type=text name="newlocation" id="newlocation" maxlength=12 size=12 style="font-weight: bold;display: none;">
            </td>
          </tr>
        </table>
      </form>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="plan-details">
      <section class="asset-allocation" class="">
        <table style="width: 100%;float: left;">
          <tr><td class="cation high" style="width: 135px;height: 200px;padding-top: 20px;">
            <div class="allocation-chart-container">
              <div id="container3" style="width: 130px;height: 130px;"></div>
            </div>
          </td><td class="cation" style="padding-left: 20px;">
            <table class="table allocation report apply-asset-class-colors footable">
              <thead>
              <tr class="win">
                <th></th>
                <th style="width: 20%">理财产品大类</th>
                <th style="width: 20%;">理财产品小类</th>
                <th style="width: 20%;">投资产品</th>
                <th style="width: 20%;">本月金额</th>
                <th>产品详情</th>
              </tr>
              <tr class="mobile">
                <th data-sort-initial="descending" data-class="expand" style="width: 40px;"></th>
                <th data-hide="phone,tablet">理财产品大类</th>
                <th data-sort-ignore="true">理财产品小类</th>
                <th data-hide="phone,tablet">投资产品</th>
                <th>本月金额</th>
                <th data-hide="phone,tablet">产品详情</th>
              </tr>
              </thead>
              <tbody>
              <tr class="monthpay1" data-type="MUNI_BONDS">
                <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                <td>流动型资产</td>
                <td>月开销</td>
                <td class="name1">吃喝住行</td>
                <td class="amounts1"></td>
                <td></td>
              </tr>
              <tr class="" data-type="MUNI_BONDS">
                <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                <td>流动型资产</td>
                <td>月开销</td>
                <td class="name0">零花钱</td>
                <td class="amounts0"><% if @examination!=nil %><%= format("%0.0f",@examination.salary-@examination.rent-@examination.wages) %><% end %></td>
                <td></td>
              </tr>
              <tr class="monthpay3" data-type="MUNI_BONDS">
                <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                <td>流动型资产</td>
                <td>银行活期</td>
                <td class="name3"><%= @hash3['随存随取型资产活期存款'][0] %></td>
                <td class="amounts3"></td>
                <td><a href="/bankinvest/productdetails/<%= @hash3['随存随取型资产活期存款'][1] %>">查看</a></td>
              </tr>
              <tr class="monthpay2" data-type="MUNI_BONDS">
                <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                <td>流动型资产</td>
                <td>货币基金</td>
                <td class="name2"><%= @hash3['随存随取型资产货币基金'][0] %></td>
                <td class="amounts2"></td>
                <td><a href="/bankinvest/productdetails/<%= @hash3['随存随取型资产货币基金'][1] %>">查看</a></td>
              </tr>
              <tr class="monthpay4" data-type="INTL_EMERGING">
                <td class="asset-class-color"><div class="legend INTL_EMERGING"></div></td>
                <td>保本型资产</td>
                <td>保本型基金</td>
                <td class="name4"><%= @hash3['保本型资产保本型基金'][0] %></td>
                <td class="amounts4"></td>
                <td><a href="/bankinvest/productdetails/<%= @hash3['保本型资产保本型基金'][1] %>">查看</a></td>
              </tr>
              <% if  @webuser.risktolerance!=nil %>
                  <% if @webuser.risktolerance.to_f>=0 && @webuser.risktolerance.to_f<=2 %>
                      <tr class="monthpay5" data-type="US_STOCKS">
                        <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                        <td>风险型资产</td>
                        <td>保本型基金</td>
                        <td class="name5"></td>
                        <td class="amounts5"></td>
                        <td></td>
                      </tr>
                  <% elsif @webuser.risktolerance.to_f>2 && @webuser.risktolerance.to_f<=4 %>
                      <tr class="monthpay5" data-type="US_STOCKS">
                        <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                        <td>风险型资产</td>
                        <td>纯债型基金</td>
                        <td class="name5"><%= @hash3['风险型资产纯债型基金'][0] %></td>
                        <td class="amounts5"></td>
                        <td><a href="/bankinvest/productdetails/<%= @hash3['风险型资产纯债型基金'][1] %>">查看</a></td>
                      </tr>
                  <% elsif @webuser.risktolerance.to_f>4 && @webuser.risktolerance.to_f<=6 %>
                      <tr class="monthpay5" data-type="US_STOCKS">
                        <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                        <td>风险型资产</td>
                        <td>偏债型基金</td>
                        <td class="name5"><%= @hash3['风险型资产偏债型基金'][0] %></td>
                        <td class="amounts5"></td>
                        <td><a href="/bankinvest/productdetails/<%= @hash3['风险型资产偏债型基金'][1] %>">查看</a></td>
                      </tr>
                  <% elsif @webuser.risktolerance.to_f>6 && @webuser.risktolerance.to_f<=8 %>
                      <tr class="monthpay5" data-type="US_STOCKS">
                        <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                        <td>风险型资产</td>
                        <td>指数型基金</td>
                        <td class="name5"><%= @hash3['风险型资产指数型基金'][0] %></td>
                        <td class="amounts5"></td>
                        <td><a href="/bankinvest/productdetails/<%= @hash3['风险型资产指数型基金'][1] %>">查看</a></td>
                      </tr>
                  <% elsif @webuser.risktolerance.to_f>8 && @webuser.risktolerance.to_f<=10 %>
                      <tr class="monthpay5" data-type="US_STOCKS">
                        <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                        <td>风险型资产</td>
                        <td>P2P理财产品</td>
                        <td class="name5"></td>
                        <td class="amounts5"></td>
                        <td></td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
          </td></tr></table>
        <div class="clearfix"></div>
      </section>
    </div>
  </td>
</tr>
</table>
</td>
<!--
<td style="width: 200px;padding: 0 15px;">
  <div class="faq-container">
    <div class="mobile" style="height:20px;"><hr></div>
    <p>关于<%= @webuser.username %></p>
    <ul class="common-q">
      <% if @hash[0][1]!=nil %>
          <li>年纪：</li>
          <li class="answer"><% if @hash[0][2] !=nil %><%= format("%0.0f",@hash[0][2]) %><% end %></li>
          <li>所在城市：</li>
          <li class="answer"><%= @webuser.city %></li>
          <li>您所处的行业是?</li>
          <li class="answer"><%= @hash[0][4] %></li>
          <li>梦想规划服务费：</li>
          <li class="answer"><% if @webuser.scharge!=nil %><%= format("%0.0f",@webuser.scharge) %>元<% end %></li>
          <li>当前的股票市场波动是非常剧烈的，如果你在该市场的投入资金在一个月内达到10%的跌幅，你会选择怎么做呢?</li>
          <li class="answer"><%= @hash[0][7] %></li>
          <li>投资收益率及风险承受度爱好：</li>
          <li class="answer">投资收益率：<% if @hash[0][5] !=nil %><%= format("%0.0f",@hash[0][5]*100) %>%<% end %><br>可承担风险：<% if @hash[0][6] !=nil %><%= format("%0.0f",@hash[0][6]*100) %>%<% end %></li>
          <li>当您准备资金进行投资时，您最在意的是哪一项指标?</li>
          <li class="answer"><%= @hash[0][8] %></li>
          <li>您资金主要放在哪家银行帐号里?</li>
          <li class="answer"><%= @hash[0][9] %></li>
          <li>您对如下哪些产品比较感兴趣?</li>
          <li class="answer"><%= @hash[0][1] %></li>
      <% else %>
          <li><%= @webuser.username %> 尚未进行 风险承受度评估</li>
      <% end %>
    </ul>
  </div>
</td>
-->
</tr>
</table>
</div>

<script language="javascript">
    var where = new Array(2);

    function comefrom(loca,locacity) { this.loca = loca; this.locacity = locacity; }
    where[0]= new comefrom("请选择","请选择");
    var dateNow = new Date();
    var yearNow = dateNow.getFullYear();
    var monthNow = dateNow.getMonth()+1;
    var y=yearNow;
    var thisyear="",nextyear="";
    for(i=monthNow;i<=12;i++){
        if(thisyear==""){
            thisyear='|'+i+'月';
        }
        else{
            thisyear=thisyear+'|'+i+'月';
        }
    }
    for(i=1;i<=monthNow;i++){
        if(nextyear==""){
            nextyear='|'+i+'月';
        }
        else{
            nextyear=nextyear+'|'+i+'月';
        }
    }
    where[1]= new comefrom(y+"年",thisyear);
    y=y+1;
    if(nextyear!=""){
        where[2]= new comefrom(y+"年",nextyear);
    }

    var arrayObj = new Array();
    function select() {

    <% if @examination !=nil %>
        var xianjin=0;
        var wenjian=0;
        var fengxian=0;
        var variety='<%= @examination.variety %>'.split(",");
        var amount='<%= @examination.amount %>'.split(",");
        for(i=0;i<variety.length;i++){
            if(variety[i]=="银行活期"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="余额宝"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="其他货币基金"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="银行理财产品"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="银行定期"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="债券型基金"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="股票"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="股票型基金"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="贵金属"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="其它"){fengxian=fengxian+parseFloat(amount[i])}
        }
        var jixu=xianjin+wenjian+fengxian;
        var monthdeposit=parseFloat('<%= @examination.wages %>');
        var total=monthdeposit*12+jixu;//总资产
        var xian=parseFloat('<%= @examination.rent %>')*3;
        var feng=total*(80-parseFloat('<%= @examination.age %>'))/100;
        var wen=total-xian-feng;
        if(wen<1000){
            xian=xian+wen-1000;
            wen=1000;
        }
    <% end %>
        with(document.creator.year) { var loca2 = options[selectedIndex].value; }
        for(i = 0;i < where.length;i ++) {
            if (where[i].loca == loca2) {
                loca3 = (where[i].locacity).split("|");
                for(j = 0;j < loca3.length;j++) { with(document.creator.month) { length = loca3.length; options[j].text = loca3[j]; options[j].value = loca3[j]; var loca4=options[selectedIndex].value;}}
                break;
            }}

        if(yearNow+'年'==loca2 && monthNow+'月'==loca4){
        <% if @examination !=nil %>
            //   var a=[xian,wen,feng,xianjin,wenjian,fengxian]
            //    alert(a)
            var amounts1=parseFloat('<%= @examination.rent %>');
            $(".amounts1").html(parseInt(parseFloat('<%= @examination.rent %>')/100)*100);
            $(".amounts2").html('');
            $(".amounts3").html('');
            $(".amounts4").html('');
            $(".amounts5").html('');
            if(xianjin>1/3*xian){
                var amounts3=0;
                $(".amounts3").html(parseInt(1/3*xian/100)*100);
                var remain1=xianjin-1/3*xian;
                if(remain1>2/3*xian){
                    var amounts2=0;
                    $(".amounts2").html(parseInt(2/3*xian/100)*100);
                    var remain2=remain1-2/3*xian;
                    if(wen<=wenjian){
                        var amounts4=0;
                        $(".monthpay4").hide();
                        var remain3=remain2;
                        if(feng<=fengxian){
                            var amounts5=0;
                            $(".monthpay5").hide();
                        }
                        else{
                            if(remain3+fengxian>feng){
                                var amounts5=0;
                                $(".amounts5").html(parseInt(feng-fengxian/100)*100);
                                var remain4=remain3+fengxian-feng;
                                $(".amounts4").html(parseInt(wen-wenjian+remain4/100)*100);
                            }
                            else{
                                var amounts5=feng-fengxian-remain3;
                                $(".amounts5").html(parseInt(remain3/100)*100);
                            }
                        }
                    }
                    else{
                        if(remain2+wenjian>wen){
                            var amounts4=0;
                            $(".amounts4").html(parseInt(wen-wenjian/100)*100);
                            var remain3=remain2+wenjian-wen;
                            if(feng<=fengxian){
                                var amounts5=0;
                                $(".monthpay5").hide();
                                var remain4=remain3;
                                $(".amounts4").html(parseInt(wen-wenjian+remain4/100)*100);
                            }
                            else{
                                if(remain3+fengxian>feng){
                                    var amounts5=0;
                                    $(".amounts5").html(parseInt(feng-fengxian/100)*100);
                                    var remain4=remain3+fengxian-feng;
                                    $(".amounts4").html(parseInt(wen-wenjian+remain4/100)*100);
                                }
                                else{
                                    var amounts5=feng-fengxian-remain3;
                                    $(".amounts5").html(parseInt(remain3/100)*100);
                                }
                            }
                        }
                        else{
                            var amounts4=wen-wenjian-remain2;
                            var amounts5=feng-fengxian;
                            $(".amounts4").html(parseInt(remain2/100)*100);
                        }
                    }
                }
                else{
                    var amounts2=2/3*xian-remain1;
                    var amounts4=wen-wenjian;
                    var amounts5=feng-fengxian;
                    $(".amounts2").html(parseInt(remain1/100)*100);
                }
            }
            else{
                var amounts3=1/3*xian-xianjin;
                var amounts2=2/3*xian;
                var amounts4=wen-wenjian;
                var amounts5=feng-fengxian;
                $(".amounts3").html(parseInt(xianjin/100)*100);
            }

            if($(".amounts2").html()!="" && $(".amounts2").html()!="0"){
                $(".monthpay2").show();
            }
            else{
                $(".monthpay2").hide();
            }
            if($(".amounts3").html()!="" && $(".amounts3").html()!="0"){
                $(".monthpay3").show();
            }
            else{
                $(".monthpay3").hide();
            }
            if($(".amounts4").html()!="" && $(".amounts4").html()!="0"){
                $(".monthpay4").show();
            }
            else{
                $(".monthpay4").hide();
            }
            if($(".amounts5").html()!="" && $(".amounts5").html()!="0"){
                $(".monthpay5").show();
            }
            else{
                $(".monthpay5").hide();
            }
            if(wen<wenjian+100){
                $(".monthpay4").hide();
            }
            if(feng<fengxian+100){
                $(".monthpay5").hide();
            }
            arrayObj[0]=[$(".amounts1").html(),amounts3,amounts2,amounts4,amounts5];
        <% end %>
        }
        if(!(yearNow+'年'==loca2 && monthNow+'月'==loca4) && loca4!=""){
            if(yearNow+'年'==loca2){
                var month=parseFloat(loca4.replace("月",""))-monthNow;
            }
            else{
                var month=parseFloat(loca4.replace("月",""))+12-monthNow;
            }

            for(i=1;i<=12;i++){
                if(arrayObj[i-1][3]<=0){
                    if(arrayObj[i-1][1]<=0){
                        if(arrayObj[i-1][2]<=0){
                            if(arrayObj[i-1][4]<=0){
                                arrayObj[i]=[arrayObj[0][0],0,0,0,0,0,0,0,0];
                            }
                            else{
                                if(feng/12<monthdeposit){
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,0,0,0,feng/12];
                                }
                                else{
                                    var a=arrayObj[i-1][4]-monthdeposit
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,a,0,0,0,monthdeposit];
                                }
                            }
                        }
                        else{
                            if(arrayObj[i-1][2]<=monthdeposit){
                                if(arrayObj[i-1][4]<=0){
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,0,0,arrayObj[i-1][2],0,0];
                                }
                                else{
                                    if(feng/12<monthdeposit-arrayObj[i-1][2]){
                                        arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,0,arrayObj[i-1][2],0,feng/12];
                                    }
                                    else{
                                        var a=arrayObj[i-1][4]-(monthdeposit-arrayObj[i-1][2])
                                        arrayObj[i]=[arrayObj[0][0],0,0,0,a,0,arrayObj[i-1][2],0,monthdeposit-arrayObj[i-1][2]];
                                    }
                                }
                            }
                            else{
                                arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-monthdeposit,0,arrayObj[i-1][4],0,monthdeposit,0,0];
                            }
                        }
                    }
                    else{
                        if(arrayObj[i-1][1]<=monthdeposit){
                            var b=monthdeposit-arrayObj[i-1][1];
                            if(arrayObj[i-1][2]<=0){
                                if(arrayObj[i-1][4]<=0){
                                    arrayObj[i]=[arrayObj[0][0],0,0,0,0,arrayObj[i-1][1],0,0,0];
                                }
                                else{
                                    if(feng/12<b){
                                        arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,arrayObj[i-1][1],0,0,feng/12];
                                    }
                                    else{
                                        var a=arrayObj[0][4]-b
                                        arrayObj[i]=[arrayObj[0][0],0,0,0,a,arrayObj[i-1][1],0,0,b];
                                    }
                                }
                            }
                            else{
                                if(arrayObj[i-1][2]<=b){
                                    if(arrayObj[i-1][4]<=0){
                                        arrayObj[i]=[arrayObj[0][0],0,0,0,0,arrayObj[i-1][1],arrayObj[i-1][2],0,0];
                                    }
                                    else{
                                        if(feng/12<b-arrayObj[i-1][2]){
                                            arrayObj[i]=[arrayObj[0][0],0,0,0,arrayObj[0][4]-feng/12,arrayObj[i-1][1],arrayObj[i-1][2],0,feng/12];
                                        }
                                        else{
                                            var a=arrayObj[i-1][4]-(b-arrayObj[i-1][2])
                                            arrayObj[i]=[arrayObj[0][0],0,0,0,a,arrayObj[i-1][1],arrayObj[i-1][2],0,b-arrayObj[i-1][2]];
                                        }
                                    }
                                }
                                else{
                                    arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-b,0,arrayObj[i-1][4],0,b,0,0];
                                }
                            }
                        }
                        else{
                            arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1]-monthdeposit,arrayObj[i-1][2],0,arrayObj[i-1][4],monthdeposit,0,0,0];
                        }
                    }
                }
                else{
                    if(wen/12<monthdeposit){
                        var d=monthdeposit-wen/12;
                        if(arrayObj[i-1][1]<=0){
                            if(arrayObj[i-1][2]<=0){
                                if(arrayObj[i-1][4]<=0){
                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,0,0,wen/12,0];
                                }
                                else{
                                    if(feng/12<d){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,0,0,wen/12,feng/12];
                                    }
                                    else{
                                        var a=arrayObj[i-1][4]-d
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,0,0,wen/12,d];
                                    }
                                }
                            }
                            else{
                                if(arrayObj[i-1][2]<=d){
                                    if(arrayObj[i-1][4]<=0){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,0,arrayObj[i-1][2],wen/12,0];
                                    }
                                    else{
                                        if(feng/12<d-arrayObj[i-1][2]){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,0,arrayObj[i-1][2],wen/12,feng/12];
                                        }
                                        else{
                                            var a=arrayObj[i-1][4]-(d-arrayObj[i-1][2])
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,0,arrayObj[i-1][2],wen/12,d-arrayObj[i-1][2]];
                                        }
                                    }
                                }
                                else{
                                    arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-d,arrayObj[0][3]-wen/12,arrayObj[i-1][4],0,d,wen/12,0];
                                }
                            }
                        }
                        else{
                            if(arrayObj[i-1][1]<=d){
                                var b=d-arrayObj[i-1][1];
                                if(arrayObj[i-1][2]<=0){
                                    if(arrayObj[i-1][4]<=0){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,arrayObj[i-1][1],0,wen/12,0];
                                    }
                                    else{
                                        if(feng/12<b){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,arrayObj[i-1][1],0,wen/12,feng/12];
                                        }
                                        else{
                                            var a=arrayObj[i-1][4]-b
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,arrayObj[i-1][1],0,wen/12,b];
                                        }
                                    }
                                }
                                else{
                                    if(arrayObj[i-1][2]<=b){
                                        if(arrayObj[i-1][4]<=0){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,0,arrayObj[i-1][1],arrayObj[i-1][2],wen/12,0];
                                        }
                                        else{
                                            if(feng/12<b-arrayObj[i-1][2]){
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,arrayObj[0][4]-feng/12,arrayObj[i-1][1],arrayObj[i-1][2],wen/12,feng/12];
                                            }
                                            else{
                                                var a=arrayObj[i-1][4]-(b-arrayObj[i-1][2])
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-wen/12,a,arrayObj[i-1][1],arrayObj[i-1][2],wen/12,b-arrayObj[i-1][2]];
                                            }
                                        }
                                    }
                                    else{
                                        arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-b,arrayObj[0][3]-wen/12,arrayObj[i-1][4],0,b,wen/12,0];
                                    }
                                }
                            }
                            else{
                                arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1]-d,arrayObj[i-1][2],arrayObj[0][3]-wen/12,arrayObj[i-1][4],d,0,wen/12,0];
                            }
                        }
                    }
                    else{
                        if(arrayObj[i-1][3]<monthdeposit) {
                            var c=monthdeposit-arrayObj[i-1][3];
                            if(arrayObj[i-1][1]<=0){
                                if(arrayObj[i-1][2]<=0){
                                    if(arrayObj[i-1][4]<=0){
                                        arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,0,0,arrayObj[i-1][3],0];
                                    }
                                    else{
                                        if(feng/12<c){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,0,0,arrayObj[i-1][3],feng/12];
                                        }
                                        else{
                                            var a=arrayObj[i-1][4]-c
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,0,0,arrayObj[i-1][3],c];
                                        }
                                    }
                                }
                                else{
                                    if(arrayObj[i-1][2]<=c){
                                        if(arrayObj[i-1][4]<=0){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,0,arrayObj[i-1][2],arrayObj[i-1][3],0];
                                        }
                                        else{
                                            if(feng/12<c-arrayObj[i-1][2]){
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,0,arrayObj[i-1][2],arrayObj[i-1][3],feng/12];
                                            }
                                            else{
                                                var a=arrayObj[i-1][4]-(c-arrayObj[i-1][2])
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,0,arrayObj[i-1][2],arrayObj[i-1][3],c-arrayObj[i-1][2]];
                                            }
                                        }
                                    }
                                    else{
                                        arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-c,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[i-1][4],0,c,arrayObj[i-1][3],0];
                                    }
                                }
                            }
                            else{
                                if(arrayObj[i-1][1]<=c){
                                    var b=c-arrayObj[i-1][1];
                                    if(arrayObj[i-1][2]<=0){
                                        if(arrayObj[i-1][4]<=0){
                                            arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,arrayObj[i-1][1],0,arrayObj[i-1][3],0];
                                        }
                                        else{
                                            if(feng/12<b){
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,arrayObj[i-1][1],0,arrayObj[i-1][3],feng/12];
                                            }
                                            else{
                                                var a=arrayObj[i-1][4]-b
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,arrayObj[i-1][1],0,arrayObj[i-1][3],b];
                                            }
                                        }
                                    }
                                    else{
                                        if(arrayObj[i-1][2]<=b){
                                            if(arrayObj[i-1][4]<=0){
                                                arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],0,arrayObj[i-1][1],arrayObj[i-1][2],arrayObj[i-1][3],0];
                                            }
                                            else{
                                                if(feng/12<b-arrayObj[i-1][2]){
                                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[0][4]-feng/12,arrayObj[i-1][1],arrayObj[i-1][2],arrayObj[i-1][3],feng/12];
                                                }
                                                else{
                                                    var a=arrayObj[i-1][4]-(b-arrayObj[i-1][2])
                                                    arrayObj[i]=[arrayObj[0][0],0,0,arrayObj[0][3]-arrayObj[i-1][3],a,arrayObj[i-1][1],arrayObj[i-1][2],arrayObj[i-1][3],b-arrayObj[i-1][2]];
                                                }
                                            }
                                        }
                                        else{
                                            arrayObj[i]=[arrayObj[0][0],0,arrayObj[i-1][2]-b,arrayObj[0][3]-arrayObj[i-1][3],arrayObj[i-1][4],0,b,arrayObj[i-1][3],0];
                                        }
                                    }
                                }
                                else{
                                    arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1]-c,arrayObj[i-1][2],arrayObj[0][3]-arrayObj[i-1][3],arrayObj[i-1][4],c,0,arrayObj[i-1][3],0];
                                }
                            }
                        }
                        else{
                            arrayObj[i]=[arrayObj[0][0],arrayObj[i-1][1],arrayObj[i-1][2],arrayObj[i-1][3]-monthdeposit,arrayObj[i-1][4],0,0,monthdeposit,0];
                        }
                    }
                }
            }

            $(".amounts1").html(parseInt(arrayObj[month][0]/100)*100)
            $(".amounts2").html(parseInt(arrayObj[month][6]/100)*100)
            $(".amounts3").html(parseInt(arrayObj[month][5]/100)*100)
            $(".amounts4").html(parseInt(arrayObj[month][7]/100)*100)
            $(".amounts5").html(parseInt(arrayObj[month][8]/100)*100)

            if(parseInt(arrayObj[month][5]/100)*100<=0){
                $(".monthpay3").hide();
            }
            else{
                $(".monthpay3").show();
            }
            if(parseInt(arrayObj[month][6]/100)*100<=0){
                $(".monthpay2").hide();
            }
            else{
                $(".monthpay2").show();
            }
            if(parseInt(arrayObj[month][7]/100)*100<=0){
                $(".monthpay4").hide();
            }
            else{
                $(".monthpay4").show();
            }
            if(parseInt(arrayObj[month][8]/100)*100<=0){
                $(".monthpay5").hide();
            }
            else{
                $(".monthpay5").show();
            }
        }

        document.creator.newlocation.value=loca2+" "+loca4;
    }

    function init() {
        with(document.creator.year) {
            length = where.length;
            for(k=0;k<where.length;k++) { options[k].text = where[k].loca; options[k].value = where[k].loca; }
            options[selectedIndex].text = where[0].loca; options[selectedIndex].value = where[0].loca;
        }
        with(document.creator.month) {
            loca3 = (where[0].locacity).split("|");
            length = loca3.length;
            for(l=0;l<length;l++) { options[l].text = loca3[l]; options[l].value = loca3[l]; }
            options[selectedIndex].text = loca3[0]; options[selectedIndex].value = loca3[0];
        }}

    $(document).ready(function(){
        init();
        var dateNow = new Date();
        var yearNow = dateNow.getFullYear()+'年';
        var monthNow = (dateNow.getMonth()+1).toString()+'月';
        $("#year").attr("value",yearNow)
        select();
        $("#month").attr("value",monthNow)
        select();
    });
    var perfinance=1;
</script>
<!--[if !IE]><!-->
<script>
    $(function() {
        <% if @webuser.score!=nil %>
        $topLoader = $("#topLoader").percentageLoader({width: 100, height: 100, controllable : false, progress : <%= format("%0.3f",@webuser.score/100) %>, onProgressUpdate : function(val) {
            $topLoader.setValue(Math.round(val * 100.0));
        }});
        $topLoader.setValue('');
        <% else %>
        var $topLoader = $("#topLoader").percentageLoader({width: 100, height: 100, controllable : false, progress : 0, onProgressUpdate : function(val) {
            $topLoader.setValue(Math.round(val * 100.0));
        }});
        $topLoader.setValue('<span style="font-size: 12px;line-height: 12px;font-family: Microsoft YaHei;">尚未体检</span>');
        <% end %>
    });
</script>
<!--<![endif]-->

<script>

    $(function () {
        var chart;

        <% if @webuser.risktolerance!=nil %>
        var dataArray2= [<%= @webuser.risktolerance %>];
        <% else %>
        var dataArray2= [0];
        <% end %>

        $(document).ready(function() {
            var chart = new Highcharts.Chart({

                chart: {
                    renderTo: 'container',
                    type: 'gauge',
                    plotBorderWidth: 1,
                    plotBackgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#FFF4C6'],
                            [0.3, '#FFFFFF'],
                            [1, '#FFF4C6']
                        ]
                    },
                    plotBackgroundImage: null,
                    height: 80,
                    width: 130
                },

                title: false,

                pane: [{
                    startAngle: -45,
                    endAngle: 45,
                    background: null,
                    center: ['50%', '145%'],
                    size: 80
                }],

                yAxis: [{
                    min: 0,
                    max: 10,
                    tickInterval: 2,
                    minorTickPosition: 'outside',
                    tickPosition: 'outside',
                    labels: {
                        rotation: 'auto',
                        distance: 20
                    },
                    plotBands: [{
                        from: 0,
                        to: 2,
                        color: '#09a509',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 2,
                        to: 4,
                        color: '#69c908',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 4,
                        to: 6,
                        color: '#eded07',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 6,
                        to: 8,
                        color: '#fa8c1e',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 8,
                        to: 10,
                        color: '#C02316',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    }],
                    pane: 0,
                    title: false
                }],

                plotOptions: {
                    gauge: {
                        dataLabels: {
                            enabled: false
                        },
                        dial: {
                            radius: '90%'
                        }
                    }
                },
                series: [{
                    data: dataArray2,
                    yAxis: 0
                }],
                credits: {
                    enabled: false
                }
            });
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container3',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    events:{
                        load: function(){
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function() {
                                var data = [];
                                var a1= parseFloat($(".amounts1").html());
                                var a0= parseFloat($(".amounts0").html());
                                var a3= parseFloat($(".amounts3").html());
                                var a2= parseFloat($(".amounts2").html());
                                var a4= parseFloat($(".amounts4").html());
                                var a5= parseFloat($(".amounts5").html());
                                var numfor= /^[-+]?[0-9]+(\.[0-9]+)?$/
                                if(numfor.test(a1)==false){a1=0}
                                if(numfor.test(a0)==false){a0=0}
                                if(numfor.test(a3)==false){a3=0}
                                if(numfor.test(a2)==false){a2=0}
                                if(numfor.test(a4)==false){a4=0}
                                if(numfor.test(a5)==false){a5=0}
                                data.push([$(".name1").html(),a1]);
                                data.push([$(".name0").html(),a0]);
                                data.push([$(".name3").html(),a3]);
                                data.push([$(".name2").html(),a2]);
                                data.push([$(".name4").html(),a4]);
                                data.push([$(".name5").html(),a5]);
                                series.setData(data);
                            }, 500);
                        }
                    }
                },
                title: {
                    text: false
                },
                tooltip: {
                    pointFormat: ''         //???
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true,
                        size: 120,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                        [$(".name1").html(), parseFloat($(".amounts1").html())],
                        [$(".name0").html(), parseFloat($(".amounts0").html())],
                        [$(".name3").html(), parseFloat($(".amounts3").html())],
                        [$(".name2").html(), parseFloat($(".amounts2").html())],
                        [$(".name4").html(), parseFloat($(".amounts4").html())],
                        [$(".name5").html(), parseFloat($(".amounts5").html())]
                    ]
                }],
                legend: false,
                credits: {
                    enabled: false
                }
            });
        });
    });

    //图
    $(function () {
        d = new Date(),
                nowYear = d.getFullYear();
        <% if @examination !=nil %>
        var xianjin=0;
        var wenjian=0;
        var fengxian=0;
        var variety='<%= @examination.variety %>'.split(",");
        var amount='<%= @examination.amount %>'.split(",");
        for(i=0;i<variety.length;i++){
            if(variety[i]=="银行活期"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="余额宝"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="其他货币基金"){xianjin=xianjin+parseFloat(amount[i])}
            else if(variety[i]=="银行理财产品"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="银行定期"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="债券型基金"){wenjian=wenjian+parseFloat(amount[i])}
            else if(variety[i]=="股票"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="股票型基金"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="贵金属"){fengxian=fengxian+parseFloat(amount[i])}
            else if(variety[i]=="其它"){fengxian=fengxian+parseFloat(amount[i])}
        }
        var jixu=xianjin+wenjian+fengxian;
        var total=parseFloat('<%= @examination.wages %>')*12+jixu;//总资产
        var xian=parseFloat('<%= @examination.rent %>')*3;
        var feng=total*(80-parseFloat('<%= @examination.age %>'))/100;
        var wen=total-xian-feng;
        if(wen<1000){
            xian=xian+wen-1000;
            wen=1000;
        }

        <% if @webuser.dreamset !=nil %>
        $("#jixu").html(jixu);
        $("#deposit").html(parseFloat('<%= @examination.wages %>'));
        <% else %>
        $("#jixu").html("没有");
        $("#deposit").html("没有");
        <% end %>
        $("#amount1").html(xianjin);
        $("#amount2").html(wenjian);
        $("#amount3").html(fengxian);
        $("#rate1").html((xianjin/jixu*100).toFixed(1)+'%');
        $("#rate2").html((wenjian/jixu*100).toFixed(1)+'%');
        $("#rate3").html((fengxian/jixu*100).toFixed(1)+'%');

        $("#proposed1").html((xian/total*100).toFixed(1)+'%');
        $("#proposed2").html((wen/total*100).toFixed(1)+'%');
        $("#proposed3").html((feng/total*100).toFixed(1)+'%');
        var dataArray= [xian/total,wen/total,feng/total];
        <% else %>
        var dataArray= [1,1,1];
        <% end %>

        $(document).ready(function () {

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container2',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: false
                },
                tooltip: false,
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true,
                        size: 120,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: dataArray
                }],
                legend: false,
                credits: {
                    enabled: false
                }
            });
        });
        Highcharts.theme = {
            colors: ['#294b6e','#f1b77a','#d76f32']
        };

// Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });


    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'center',
            offsetY: 5,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
</script>


<script>
    $("#submit").click(function(){
        <% if @webuser.scharge!=nil %>
        $.get("/usersurvey/zhifubao",{scharge:'<%= @webuser.scharge %>',username:'<%= session[:webusername] %>'},function(data){
            location.href=data;
        });
        <% end %>
    });
</script>

<script>
    $("#sample").click(function(){
        <% if session[:webusername]==nil %>
        location.href="/sales/login?pid=<%= params[:id] %>&comments=1";
        <% end %>
    });

    $(".btns").click(function(){
        $("#comment").show();
    });

    $(".sina-checkbox").click(function(){
        var a=document.getElementsByClassName("sina-checkbox");
        if(a[0].checked){
            $("#bdshare").show();
            $("#notcheck").hide();
        }
        else{
            $("#bdshare").hide();
            $("#notcheck").show();
        }
    });

    $("#saved").click(function(){
        var nom_flag=0;
        var dateTime=new Date();
        var hh=dateTime.getHours();
        var mm=dateTime.getMinutes();
        var ss=dateTime.getSeconds();

        var yy=dateTime.getFullYear();
        var MM=dateTime.getMonth()+1;  //因为1月这个方法返回为0，所以加1
        var dd=dateTime.getDate();

        var week=dateTime.getDay();
        var days=[ "日 ", "一 ", "二 ", "三 ", "四 ", "五 ", "六 "]

//  var time=yy+"年"+MM+"月"+dd+"日 "+"星期"+days[week]+hh+"时"+mm+"分"+ss+"秒";
        var time=yy+"-"+MM+"-"+dd+" "+hh+":"+mm+":"+ss;

        if($(".nicEdit-main").html()=="<br>"){
            alert("评论为空！");
            nom_flag=1;
        }

        if(nom_flag==0){
            $.get("/personmanagement/comment3configajax",{username:'<%= session[:webusername] %>',email:'<%= @webusers.email %>',comments:$(".nicEdit-main").html(),
                time:time,company:'<%= @webusers.company %>',pid:'<%= @webuser.id %>' },function(data){
                $("#sample").hide();
                $("#new").show();
                $("#username").html('<%= session[:webusername] %> 说：');
                $("#newcomment").html($(".nicEdit-main").html());
                $(".zg-form-text-input").html('<textarea style="width: 100%; white-space: pre; height: 66px; min-height: 66px;" >'+'我在 @通天顺 评论了理财师给我提供的的理财规划书：'+$(".nicEdit-main").html().replace(/<[^>].*?>/g,"")+'</textarea>');
                bds_config = {'bdText':'我在 @通天顺家庭理财 评论了理财师给我提供的的理财规划书：'+$(".nicEdit-main").html().replace(/<[^>].*?>/g,"")};
                document.getElementById("bdshell_js").src="http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
            });
        }
    });
</script>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".mobile").remove();
    }else{
        $(".win").remove();
    }
</script>