<%= stylesheet_link_tag "personmanagement.css" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>

<style>
    p{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
        margin: 0;
    }
    label{
        font-family: "Source Sans Pro",Tahoma,sans-serif;
    }
    .main-content{
        padding: 0px;
    }

    p.product {
        font-size: 20px;
        font-weight: 600;
        font-family: "Source Sans Pro",Tahoma,sans-serif!important;
        color: #555;
        line-height: 30px;
        border-bottom: 1px solid #E2E2E2;
        margin-bottom: 10px;
    }
    p.share{
        max-width: 450px;
		color:red;
    }

    a.publishButton{
        width: 111px;
    }

    @media screen and (max-width: 767px){
      .content{
          width: 90%;
          margin: 0 auto;
      }
        textarea {
            width: 97%!important;
            height: 180px!important;
        }
    }
    h1, h2, h3 {
        font-family: "Oswald", "arial narrow", sans-serif;
        font-weight: normal;
        margin: 0px;
    }

   td.left{
       padding-left: 20px;
   }
   .table{
	   margin-bottom:30px;
   }
</style>

<div class="main-content">
<div class="top-tabs-content">
  <div style="padding-left: 20px;">
    <b>1.</b> <span> 家庭资产体检</span>
    <b>&nbsp;&gt;&nbsp;</b>
    <span><b>2.</b> 风险承受力评估</span>
    <b>&nbsp;&gt;&nbsp;</b>
    <span class="disabled"><b>3.</b> 梦想目标设定</span>
    <b>&nbsp;&gt;&nbsp;</b>
    <span class="disabled"><b>4.</b> 规划建议书生成</span>
  </div>
</div>
  <div style="padding: 0 20px 50px;">
  <table class="press-table" border="0" style="width: 100%;" >
    <tbody>
    <tr>
      <td colspan="2">
        <h1 class="content">风险承受度评估结果</h1>
      </td>
    </tr>
    <tr>
      <td class="left" style="width: 35%;">
        <br>
        <p style="padding-left: 90px;">您的风险承受度</p>
        <div id="container"></div>
        <a id="retest" style="font-size: 15px;padding-left: 110px;" href="/home/questions?score=<%= params[:score] %>&variety=<%= params[:variety] %>&pname=<%= params[:pname] %>&amount=<%= params[:amount] %>&age=<%= params[:age] %>&salary=<%= params[:salary] %>&expenses=<%= params[:expenses] %>">重新评估</a><br>
        <div class="win" style="padding: 10px 0 0 95px;">
          <% if params[:risk].to_f>8 && params[:risk].to_f<=10 %>
              <div id="click" style="width: 111px;"><wb:share-button count="n" type="button" appkey="3700511820" relateuid="3196249771" url="http://www.tongtianshun.com/personmanagement/share?risk=<%= params[:risk] %>" title="我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是激进型投资人，偏爱高风险投资，高风险的投资产品，这能激发我热情参与的动力，我和李嘉诚一样，推崇“大手笔、大投资、大收益”，与生俱来的霸气让您得到更多的收获。 “ 参与评估活动可手机充值抽奖，"></wb:share-button></div>
          <% elsif params[:risk].to_f>6 && params[:risk].to_f<=8 %>
              <div id="click" style="width: 111px;"><wb:share-button count="n" type="button" appkey="3700511820" relateuid="3196249771" url="http://www.tongtianshun.com/personmanagement/share?risk=<%= params[:risk] %>" title="我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是积极型投资人，以冷静著称的我有天然的理性和了解内心的本能，同时拥有高度的容忍力，富于研究精神，喜爱一切新颖的东西。和我一样的复兴集团掌门人郭广昌帮我做了最好的诠释。参与评估活动可手机充值抽奖，"></wb:share-button></div>
          <% elsif params[:risk].to_f>4 && params[:risk].to_f<=6 %>
              <div id="click" style="width: 111px;"><wb:share-button count="n" type="button" appkey="3700511820" relateuid="3196249771" url="http://www.tongtianshun.com/personmanagement/share?risk=<%= params[:risk] %>" title="我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是稳健型投资人，自我保护、善于观察的我能够轻易抵制住投资市场所带来的诱惑，我和巴菲特不谋而合，“避开我们不能评估其未来的业务， 无论他们的产品可能多么激动人心。”参与评估活动可手机充值抽奖，"></wb:share-button></div>
          <% elsif params[:risk].to_f>2 && params[:risk].to_f<=4 %>
              <div id="click" style="width: 111px;"><wb:share-button count="n" type="button" appkey="3700511820" relateuid="3196249771" url="http://www.tongtianshun.com/personmanagement/share?risk=<%= params[:risk] %>" title="我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是保守型投资人，我以谨慎、勤奋、稳健和积极的特性著称，对个人信仰脚踏实地，直到达成目标为止。和我相似的约翰•伯格，被誉为“指数基金教父”，投资回报资产高达9500亿美元。参与评估活动可手机充值抽奖，"></wb:share-button></div>
          <% elsif params[:risk].to_f>=0 && params[:risk].to_f<=2 %>
              <div id="click" style="width: 111px;"><wb:share-button count="n" type="button" appkey="3700511820" relateuid="3196249771" url="http://www.tongtianshun.com/personmanagement/share?risk=<%= params[:risk] %>" title="我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是安益型投资人，勤奋、意志坚定、深入细节、善于分析，我深思熟虑后才会选择适合自己的投资，尽一切可能来降低风险，和史玉柱一样，“手握资金，等待投资机会上门”。参与评估活动可手机充值抽奖，"></wb:share-button></div>
          <% end %>
        </div>
        <div class="zm-command" style="padding-left: 90px;">
          <div class="baidu_btn">
            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" data="{'url':'http://www.tongtianshun.com/personmanagement/share?risk=<%= params[:risk] %>'}">
              <a class="bds_tsina">分享到微博</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <br>
        <div class="table">
          <div class="cell" style="width: 32px;"> <h1><b>1</b></h1> </div>
          <div class="cell">
            <p class="q-text">评估结果：</p>
            <% if params[:risk].to_f>8 && params[:risk].to_f<=10 %>
                <p>您是激进型投资人，其投资组合将绝大部分比例投资于股票类资产或股票型基金，并且敢于涉足一些投机领域。</p>
                <p>为了追求最大回报，同时愿意承受资产价格的短期大幅波动风险，甚至相对长时间亏损的可能。因为其承受较大波动性，投资者最后获得的回报率较难预测。</p>
                <p>大多数情况下，其长期回报率高于其它较为保守的投资方法。</p>
            <% elsif params[:risk].to_f>6 && params[:risk].to_f<=8 %>
                <p>您是积极型投资人，其投资组合较大比例配置指数型基金或混合型基金，同时还有小部分比例配置于现金、活期、货币基金等流动性资产。</p>
                <p>此类投资人注重获得丰厚的投资回报，但对大多数投机领域敬而远之。投资价值在短期内可能会有大幅波动。投资期限内，最终获得的投资回报较难预料。</p>
                <p>大多数情况下，较之其它相对保守的投资方法，这种投资方法的回报率较高，五年以上的投资尤其如此。</p>
            <% elsif params[:risk].to_f>4 && params[:risk].to_f<=6 %>
                <p>您是稳健型投资人，其投资组合均衡配置债券类基金资产，通过这种债券型基金，将有少许被配置到股票等二级市场。</p>
                <p>此类投资人注重获得稳健的投资回报。投资的市值在短期内可能会有一些波动。投资期限内，其综合回报难以准确预测，但也不会过于出乎意外。</p>
                <p>大多数情况下，相对较为保守的投资方法，这种方法的回报率较高，五年以上的投资更是如此。</p>
            <% elsif params[:risk].to_f>2 && params[:risk].to_f<=4 %>
                <p>您是保守型投资人，其投资组合较大比例配置纯债券型基金，此类投资人注重获得稳定的投资回报，而不追求最大回报，且限制短期内的大幅波动。</p>
                <p>投资期限内，虽然难以准确预测其回报率，但是也不会有大起大落的情况。</p>
                <p>大多数情况下，相对风险较高的投资方法，这种方法的回报率较低，五年以上的投资尤其如此。</p>
            <% elsif params[:risk].to_f>=0 && params[:risk].to_f<=2 %>
                <p>您是安益型投资人，其投资组合配置在风险最小的领域，如现金、活期存储、定期存款等。</p>
                <p>此类投资人注重获得相对确定的投资回报，而不追求最大回报，且限制短期内的波动。投资期限内，回报率的波动性较小。</p>
                <p>大多数情况下，相对风险较高的投资方法，这种方法的回报率最低，五年以上的投资尤其如此。</p>
            <% end %>
          </div>
        </div>
        <div class="table">
          <div class="cell" style="width: 32px;"> <h1><b>2</b></h1> </div>
          <div class="cell">
            <p class="q-text">下一步：梦想目标设定</p>
            <p>- 我们将为您罗列月光族目标、买房、买车等目标，目前我们将免费为月光族做规划服务哦。</p>
            <% if session[:webusername]!=nil %>
                <a id="clicks" class="btn btn-primary" href="/usersurvey/dreamset">下一步</a>
            <% else %>
                <a id="clicks" class="btn btn-primary" href="/sales/login?logintype=creat&risk=<%= params[:risk] %>&save=<%= params[:save] %>&stacked=<%= params[:stacked] %>&age=<%= params[:age] %>&investamount=<%= params[:investamount] %>&score=<%= params[:score] %>&variety=<%= params[:variety] %>&pname=<%= params[:pname] %>&amount=<%= params[:amount] %>&age=<%= params[:age] %>&salary=<%= params[:salary] %>&rent=<%= params[:rent] %>&wages=<%= params[:wages] %>">下一步</a>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    </tbody></table>
    </div>
</div>

<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2419455" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    <% if params[:risk].to_f>8 && params[:risk].to_f<=10 %>
    var bds_config = {'bdText':'我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是激进型投资人，偏爱高风险投资，高风险的投资产品，这能激发我热情参与的动力，我和李嘉诚一样，推崇“大手笔、大投资、大收益”，与生俱来的霸气让您得到更多的收获。  参与评估活动可手机充值抽奖，'} ;
    <% elsif params[:risk].to_f>6 && params[:risk].to_f<=8 %>
    var bds_config = {'bdText':'我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是积极型投资人，以冷静著称的我有天然的理性和了解内心的本能，同时拥有高度的容忍力，富于研究精神，喜爱一切新颖的东西。和我一样的复兴集团掌门人郭广昌帮我做了最好的诠释。参与评估活动可手机充值抽奖，'} ;
    <% elsif params[:risk].to_f>4 && params[:risk].to_f<=6 %>
    var bds_config = {'bdText':'我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是稳健型投资人，自我保护、善于观察的我能够轻易抵制住投资市场所带来的诱惑，我和巴菲特不谋而合，“避开我们不能评估其未来的业务， 无论他们的产品可能多么激动人心。”参与评估活动可手机充值抽奖，'} ;
    <% elsif params[:risk].to_f>2 && params[:risk].to_f<=4 %>
    var bds_config = {'bdText':'我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是保守型投资人，我以谨慎、勤奋、稳健和积极的特性著称，对个人信仰脚踏实地，直到达成目标为止。和我相似的约翰•伯格，被誉为“指数基金教父”，投资回报资产高达9500亿美元。参与评估活动可手机充值抽奖，'} ;
    <% elsif params[:risk].to_f>=0 && params[:risk].to_f<=2 %>
    var bds_config = {'bdText':'我在@通天顺家庭理财 参与了美国高盛公司的开源资产风险度承受评估：我是安益型投资人，勤奋、意志坚定、深入细节、善于分析，我深思熟虑后才会选择适合自己的投资，尽一切可能来降低风险，和史玉柱一样，“手握资金，等待投资机会上门”。参与评估活动可手机充值抽奖，'} ;
    <% end %>
    document.getElementById("bdshell_js").src="http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $("#mobile").remove();
        $(".zm-command").remove();
    }else{
        $(".win").remove();
        var mid1=$(".press-table tr:eq(0)").html()
        var mid2=$(".press-table tr:eq(2)").html()
        $(".press-table tr:eq(0)").html(mid2)
        $(".press-table tr:eq(2)").html(mid1)
    }

    $(function () {
        var chart;

        <% if params[:risk]!=nil %>
        var dataArray2= [<%= params[:risk] %>];
        <% else %>
        var dataArray2= [0];
        <% end %>

        $(document).ready(function() {
            var chart = new Highcharts.Chart({

                chart: {
                    renderTo: 'container',
                    type: 'gauge',
                    plotBorderWidth: 1,
                    plotBackgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#FFF4C6'],
                            [0.3, '#FFFFFF'],
                            [1, '#FFF4C6']
                        ]
                    },
                    plotBackgroundImage: null,
                    height: 160,
                    width: 280
                },

                title: false,

                pane: [{
                    startAngle: -45,
                    endAngle: 45,
                    background: null,
                    center: ['50%', '145%'],
                    size: 280
                }],

                yAxis: [{
                    min: 0,
                    max: 10,
                    tickInterval: 2,
                    minorTickPosition: 'outside',
                    tickPosition: 'outside',
                    labels: {
                        rotation: 'auto',
                        distance: 20
                    },
                    plotBands: [{
                        from: 0,
                        to: 2,
                        color: '#09a509',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 2,
                        to: 4,
                        color: '#69c908',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 4,
                        to: 6,
                        color: '#eded07',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 6,
                        to: 8,
                        color: '#fa8c1e',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    },{
                        from: 8,
                        to: 10,
                        color: '#C02316',
                        innerRadius: '100%',
                        outerRadius: '105%'
                    }],
                    pane: 0,
                    title: false
                }],

                plotOptions: {
                    gauge: {
                        dataLabels: {
                            enabled: false
                        },
                        dial: {
                            radius: '90%'
                        }
                    }
                },
                series: [{
                    data: dataArray2,
                    yAxis: 0
                }],
                credits: {
                    enabled: false
                }
            });
        });
    });

</script>