<%= stylesheet_link_tag "common2.css" %>
<%= javascript_include_tag "base.js" %>
<%= stylesheet_link_tag "founder.css" %>
<%= stylesheet_link_tag "red.css" %>
<%= javascript_include_tag "jquery.icheck.js" %>
<script>
    function onReady(fn){onReady.fns.push(fn)}
    onReady.fns=[]
</script>
<style>
    th, td {font-family: Hiragino Sans GB W3;}
    tr.first td{background-color: #f9f9f9!important;}
    #category td.second,#category th.second,tr.third td{
        background-color: #CCCCCC!important;
    }
    td.left{text-align: left!important;}
    blockquote{margin: 0;}
    td.leng{width: 15%!important;}
    #category td,#select td{width: 10%;}
    .iradio_square-red{margin-left: 25px;}
</style>
<div class="welcomes">
  <div class="ofa-funnel-pages">
    <div id="page-wrapper">
      <div id="top-tabs">
        <div class="top-tabs-content">
          <a href="/usersurvey/startup"><b>1.</b> <span>资产体检</span></a>
          <b>&nbsp;>&nbsp;</b>
          <a href="/home/questions"><b>2.</b> <span>风险评估</span></a>
          <b>&nbsp;>&nbsp;</b>
          <span><b>3.</b> 理财建议</span>
        </div>
      </div>
      <div id="page-content">
        <div class="clearfix"></div>
        <h1>
          <span id="title">理财产品 选择</span>
          <div id="q-numbers" style="right: 205px;"><b class="q-num curr"></b><b class="q-num"></b><b class="q-num"></b></div>
        </h1>

        <div id="questionnaire-view">
          <div id="questionnaire">
            <div class="question first" style="padding-right: 0;height: 630px;overflow: auto;">
              <p class="q-text" id="risk2"></p>
              <table id="category" class="table table-striped table-bordered" style="width: 100%;">
                <thead>
                <tr>
                  <th rowspan="2">风险类型</th>
                  <th rowspan="2">投资品种</th>
                  <th colspan="3">亏损概率</th>
                  <th colspan="3">最高年收益率</th>
                  <th rowspan="2">选择</th>
                </tr>
                <tr>
                  <th>1年</th>
                  <th>3年</th>
                  <th>5年</th>
                  <th>1年</th>
                  <th>3年</th>
                  <th>5年</th>
                </tr>
                </thead>
                <% for i in 0..@category1.size-1 %>
                    <tr id="<%= @category1[i].id %>" onclick="show(this);" class="level1">
                      <td class="leng expand">安逸型</td>
                      <td class="leng"><%= @category1[i].classify %></td>
                      <td><% if @category1[i].risk1 !=nil %><%= @category1[i].risk1 %>%<% end %></td>
                      <td><% if @category1[i].risk3 !=nil %><%= @category1[i].risk3 %>%<% end %></td>
                      <td><% if @category1[i].risk5 !=nil %><%= @category1[i].risk5 %>%<% end %></td>
                      <td><% if @category1[i].return1 !=nil %><%= @category1[i].return1 %>%<% end %></td>
                      <td><% if @category1[i].return3 !=nil %><%= @category1[i].return3 %>%<% end %></td>
                      <td><% if @category1[i].return5 !=nil %><%= @category1[i].return5 %>%<% end %></td>
                      <td><input type="radio" name="iCheck" id="iCheck1" class="<%= @category1[i].id %>,<%= @category1[i].classify %>"></td>
                    </tr>
                    <tr id="show<%= @category1[i].id %>" class="right level1 hide">
                      <td class="left" colspan="9"><blockquote><small><%= @category1[i].ptype %></small></blockquote></td>
                    </tr>
                <% end %>
                <% for i in 0..@category2.size-1 %>
                    <tr id="<%= @category2[i].id %>" onclick="show(this);" class="level2">
                      <td class="leng expand">保守型</td>
                      <td class="leng"><%= @category2[i].classify %></td>
                      <td><% if @category2[i].risk1 !=nil %><%= @category2[i].risk1 %>%<% end %></td>
                      <td><% if @category2[i].risk3 !=nil %><%= @category2[i].risk3 %>%<% end %></td>
                      <td><% if @category2[i].risk5 !=nil %><%= @category2[i].risk5 %>%<% end %></td>
                      <td><% if @category2[i].return1 !=nil %><%= @category2[i].return1 %>%<% end %></td>
                      <td><% if @category2[i].return3 !=nil %><%= @category2[i].return3 %>%<% end %></td>
                      <td><% if @category2[i].return5 !=nil %><%= @category2[i].return5 %>%<% end %></td>
                      <td><input type="radio" name="iCheck" id="iCheck2" class="<%= @category2[i].id %>,<%= @category2[i].classify %>"></td>
                    </tr>
                    <tr id="show<%= @category2[i].id %>" class="right level2 hide">
                      <td class="left" colspan="9"><blockquote><small><%= @category2[i].ptype %></small></blockquote></td>
                    </tr>
                <% end %>
                <% for i in 0..@category3.size-1 %>
                    <tr id="<%= @category3[i].id %>" onclick="show(this);" class="level3">
                      <td class="leng expand">稳健型</td>
                      <td class="leng"><%= @category3[i].classify %></td>
                      <td><% if @category3[i].risk1 !=nil %><%= @category3[i].risk1 %>%<% end %></td>
                      <td><% if @category3[i].risk3 !=nil %><%= @category3[i].risk3 %>%<% end %></td>
                      <td><% if @category3[i].risk5 !=nil %><%= @category3[i].risk5 %>%<% end %></td>
                      <td><% if @category3[i].return1 !=nil %><%= @category3[i].return1 %>%<% end %></td>
                      <td><% if @category3[i].return3 !=nil %><%= @category3[i].return3 %>%<% end %></td>
                      <td><% if @category3[i].return5 !=nil %><%= @category3[i].return5 %>%<% end %></td>
                      <td><input type="radio" name="iCheck" id="iCheck3" class="<%= @category3[i].id %>,<%= @category3[i].classify %>"></td>
                    </tr>
                    <tr id="show<%= @category3[i].id %>" class="right level3 hide">
                      <td class="left" colspan="9"><blockquote><small><%= @category3[i].ptype %></small></blockquote></td>
                    </tr>
                <% end %>
                <% for i in 0..@category4.size-1 %>
                    <tr id="<%= @category4[i].id %>" onclick="show(this);" class="level4">
                      <td class="leng expand">积极型</td>
                      <td class="leng"><%= @category4[i].classify %></td>
                      <td><% if @category4[i].risk1 !=nil %><%= @category4[i].risk1 %>%<% end %></td>
                      <td><% if @category4[i].risk3 !=nil %><%= @category4[i].risk3 %>%<% end %></td>
                      <td><% if @category4[i].risk5 !=nil %><%= @category4[i].risk5 %>%<% end %></td>
                      <td><% if @category4[i].return1 !=nil %><%= @category4[i].return1 %>%<% end %></td>
                      <td><% if @category4[i].return3 !=nil %><%= @category4[i].return3 %>%<% end %></td>
                      <td><% if @category4[i].return5 !=nil %><%= @category4[i].return5 %>%<% end %></td>
                      <td><input type="radio" name="iCheck" id="iCheck4" class="<%= @category4[i].id %>,<%= @category4[i].classify %>"></td>
                    </tr>
                    <tr id="show<%= @category4[i].id %>" class="right level4 hide">
                      <td class="left" colspan="9"><blockquote><small><%= @category4[i].ptype %></small></blockquote></td>
                    </tr>
                <% end %>
                <% for i in 0..@category5.size-1 %>
                    <tr id="<%= @category5[i].id %>" onclick="show(this);" class="level5">
                      <td class="leng expand">激进型</td>
                      <td class="leng"><% if @category5[i].risk1 !=nil %><%= @category5[i].risk1 %>%<% end %></td>
                      <td><% if @category5[i].risk3 !=nil %><%= @category5[i].risk3 %>%<% end %></td>
                      <td><% if @category5[i].risk5 !=nil %><%= @category5[i].risk5 %>%<% end %></td>
                      <td><% if @category5[i].return1 !=nil %><%= @category5[i].return1 %>%<% end %></td>
                      <td><% if @category5[i].return3 !=nil %><%= @category5[i].return3 %>%<% end %></td>
                      <td><% if @category5[i].return5 !=nil %><%= @category5[i].return5 %>%<% end %></td>
                      <td><input type="radio" name="iCheck" id="iCheck5" class="<%= @category5[i].id %>,<%= @category5[i].classify %>"></td>
                    </tr>
                    <tr id="show<%= @category5[i].id %>" class="right level5 hide">
                      <td class="left" colspan="9"><blockquote><small><%= @category5[i].ptype %></small></blockquote></td>
                    </tr>
                <% end %>
              </table>
              <div id="finance" class="hide">
                <table id="select" class="table table-striped table-bordered" style="width: 100%;">
                  <thead>
                  <tr>
                    <th rowspan="2">投资品种</th>
                    <th rowspan="2">理财产品</th>
                    <th colspan="2">一年</th>
                    <th colspan="2">三年</th>
                    <th colspan="2">五年</th>
                    <th rowspan="2">选择</th>
                  </tr>
                  <tr>
                    <th>收益率</th>
                    <th>排名</th>
                    <th>收益率</th>
                    <th>排名</th>
                    <th>收益率</th>
                    <th>排名</th>
                  </tr>
                  </thead>
                  <% @financial2.each do |f| %>
                      <tr id="de<%= f.id %>" onclick="show2(this);" class="finance<%= f.id %> hide">
                        <td class="leng expand"><%= f.classify %></td>
                        <td class="leng"><%= f.pname %></td>
                        <td><% if f.rate !=nil %><% if /^[-+]?[0-9]+(\.[0-9]+)?$/ =~f.rate %><%= format("%0.2f",f.rate.to_f*100) %>%<% else %><%= f.rate %><% end %><% end %></td>
                        <td><%= f.rank %></td>
                        <td><% if f.rate1 !=nil %><% if /^[-+]?[0-9]+(\.[0-9]+)?$/ =~f.rate1 %><%= format("%0.2f",f.rate1.to_f*100) %>%<% else %><%= f.rate1 %><% end %><% end %></td>
                        <td><%= f.rank1 %></td>
                        <td><% if f.rate2 !=nil %><% if /^[-+]?[0-9]+(\.[0-9]+)?$/ =~f.rate2 %><%= format("%0.2f",f.rate2.to_f*100) %>%<% else %><%= f.rate2 %><% end %><% end %></td>
                        <td><%= f.rank2 %></td>
                        <td><input type="radio" id="iCheck" name="iCheck2" class="<%= f.id %>"></td>
                      </tr>
                      <tr id="hide<%= f.id %>" class="right hide">
                        <td class="left" colspan="9"><blockquote><small><%= f.pintroduction %></small></blockquote></td>
                      </tr>
                  <% end %>
                </table>
              </div>
              <input type="checkbox" class="hide">
              <div class="mobile"><br></div>
            </div>
            <div class="question" style="height: 336px;">
              <table class="center">
                <tr>
                  <td>
                    <p class="q-text" id="result"></p>
                    <input type="checkbox" class="hide">
                    <table id="ground" class="table table-striped table-bordered center" style="height: 200px;">
                      <tr>
                        <th style="width: 110px;">理财产品大类</th>
                        <th style="width: 80px;">当前比例</th>
                        <th class="grey" style="width: 80px;">建议比例</th>
                        <th style="width: 152px;">建议金额</th>
                        <th style="width: 80px;">产品类型</th>
                        <th>产品选择</th>
                      </tr>
                      <tr>
                        <td>流动性资产</td>
                        <td id="xianjin"></td>
                        <td class="grey" id="xian0"></td>
                        <td>
                          <button id="age-decrease0" class="light-gray" tabindex="-1">−</button>
                          <input id="xian1" name="xian" value="28" type="text" style="width: 60px;margin: 0;text-align: center;" readonly>
                          <button id="age-increase0" class="light-gray" tabindex="-1">+</button>
                        </td>
                        <td><a href="/bankinvest/classify/7">货币基金</a></td>
                        <td><a href="/bankinvest/productdetails/8">余额宝</a></td>
                      </tr>
                      <tr>
                        <td>保本性资产</td>
                        <td id="wenjian"></td>
                        <td class="grey" id="wen"></td>
                        <td>
                          <button id="age-decrease1" class="light-gray" tabindex="-1">−</button>
                          <input id="wen1" name="wen" value="28" type="text" style="width: 60px;margin: 0;text-align: center;" readonly>
                          <button id="age-increase1" class="light-gray" tabindex="-1">+</button>
                        </td>
                        <td><a href="/bankinvest/classify/8">定期存款</a></td>
                        <td><a href="/bankinvest/productdetails/26">定期存款</a></td>
                      </tr>
                      <tr>
                        <td>风险性资产</td>
                        <td id="fengxian"></td>
                        <td class="grey" id="feng"></td>
                        <td>
                          <button id="age-decrease2" class="light-gray" tabindex="-1">−</button>
                          <input id="feng1" name="feng" value="28" type="text" style="width: 60px;margin: 0;text-align: center;" readonly>
                          <button id="age-increase2" class="light-gray" tabindex="-1">+</button>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>年总积蓄</td>
                        <td>100%</td>
                        <td class="grey">100%</td>
                        <td id="total" style="text-align: center;"></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                    <blockquote><small id="remark"></small></blockquote>
                  </td>
                  <td>
                    <div style="width: 150px;"><div class="percentage" style="margin: 0 auto;" data-percent="0"><span  style="font-size: 20px;font-family: Microsoft YaHei;">0</span>分</div></div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="question" style="padding-right: 0;height: 376px;">
              <table class="center">
                <tr>
                  <td>
                    <input type="checkbox" class="hide">
                    <table class="table table-striped table-bordered" id="update" style="height: 200px;">
                      <tr>
                        <th style="width: 150px;"></th>
                        <th style="width: 150px;">已有资产名称</th>
                        <th style="width: 150px;">金额</th>
                        <th>操作</th>
                      </tr>
                      <tr id="liudong0"><td>流动型资产</td><td>现金</td><td>0</td><td></td></tr>
                      <tr id="liudong1"><td>流动型资产</td><td>货币基金</td><td>0</td><td></td></tr>
                      <tr id="baoben0"><td>保本型资产</td><td>银行定期</td><td>0</td><td></td></tr>
                      <tr id="baoben1"><td>保本型资产</td><td>银行理财产品</td><td>0</td><td></td></tr>
                      <tr id="baoben2"><td>保本型资产</td><td>债券型基金</td><td>0</td><td></td></tr>
                      <tr id="fengxian0"><td>风险型资产</td><td>股票</td><td>0</td><td></td></tr>
                      <tr id="fengxian1"><td>风险型资产</td><td>股票型基金</td><td>0</td><td></td></tr>
                      <tr id="fengxian2"><td>风险型资产</td><td>贵金属</td><td>0</td><td></td></tr>
                      <tr id="fengxian3"><td>风险型资产</td><td>其它</td><td>0</td><td></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <input type="hidden" name="rec" value="0.1" tabindex="-1">
          </div>
          <div id="q-fade-t"></div>
          <div id="q-fade-b"></div>
        </div>
        <div id="q-buttons">
          <button class="q-button light-gray big-button" style="line-height: 16px;" id="q-back"><span>上一项</span></button>
          <button class="q-button orange-button big-button" id="q-next">下一项</button>
          <button class="q-button orange-button big-button" id="q-submit">个人首页</button>

          <p class="q-privacy">
            <span class="q-privacy-1">这是匿名的，所以你可以如实回答<span class="win">，</span></span>
            <span class="win">我们不会问你的身份识别信息，除非阁下主动联系我们。</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var risk=0;

    <% if params[:risk]!=nil && params[:risk]!='' %>
       risk= '<%= params[:risk] %>';
    <% elsif session[:webusername]!=nil %>
       risk='<%= @webuser.risktolerance %>'
    <% end %>

    $(function(){
        window.onerror = function(error, url, lineNumber) {
            var payload = {"rev": "80126", "error": error, "agent": navigator.userAgent, "stack": []};

            // begin ie9 only stack trace grabbing
            var value = arguments.callee;
            for(i=0; i!=10; ++i) {
                if(value.caller) {
                    payload.stack.push(value.caller.toString());
                    value = value.caller;
                }
            }

            if (!w.jsErrors[payload]) {
                w.jsErrors[payload] = true;
                w.trackESP("ClientSideError", location.href, JSON.stringify(payload));
            }

            return false;
        }
        $.each(onReady.fns, function(i,f) {f()});
    });
</script>

<script>
    $(function() {

        var $qv = $("#questionnaire-view");
        var $qr = $("#questionnaire");
        var accountMin = 0;

        $("#questionnaire-view .ktip-link").bind("tip.show", function() {
            w.trackEvent("OFA", "questionnaire_faq_show", this.id);
        });

        $("#q-numbers").delegate(".q-num.past", "click", function() {
            var $i = $qr.find(".invalid");
            if ($i.length) {
                $i.focus().select();
            } else {
                showQn($(this).index());
            }
        });

        $qr.data("vals", 0)
                .data("init", function(doCalc) {

                    $("#q-back,#q-next").click(function(e) {
                        var back = this.id == "q-back";
                        if (back) {
                            w.trackEvent("OFA", "questionnaire_back");
                        } else {
                            w.trackEvent("OFA", "questionnaire_next", qPayload());
                        }
                        var new_q_num = $qr.data("q") + (back ? -1 : 1);
                        showQn(new_q_num);
                    });
                    $("#q-submit").click(function(e) {
                        <% if session[:webusername]!=nil %>
                        $.post("/personmanagement/userajax/0",{ username:"<%= session[:webusername] %>",selection: selection,xianp:$("#xian1").attr("value"),
                            wenp: $("#wen1").attr("value"),fengp: $("#feng1").attr("value")
                        },function(data){
                            location.href='/personmanagement/personfinance';
                        });
                        <% else %>
                        location.href='/sales/login?logintype=creat&risk=<%= params[:risk] %>&save=<%= params[:save] %>&age=<%= params[:age] %>&investamount=<%= params[:investamount] %>&investvarieties=<%= params[:investvarieties] %>'+
                                '&score=<%= params[:score] %>&variety=<%= params[:variety] %>&pname=<%= params[:pname] %>&amount=<%= params[:amount] %>&age=<%= params[:age] %>&salary=<%= params[:salary] %>&rent=<%= params[:rent] %>&wages=<%= params[:wages] %>&xian=<%= params[:xian] %>&wen=<%= params[:wen] %>&feng=<%= params[:feng] %>'+
                                '&xianp='+$("#xian1").attr("value")+'&wenp='+$("#wen1").attr("value")+'&fengp='+$("#feng1").attr("value")+'&selection='+selection
                        <% end %>
                    });
                    function qPayload() {
                        var $n = $qr.find("input[tabindex=0]").filter(":checked");
                        if (!$n.length) {
                            $n = $n.end();
                        }
                        return $n.attr("name") + ":" + $n.val();
                    }
                    showQn(0);
                });

        function showQn(i, immediately) {
            var $qns = $qr.children(".question");
            var $qn = $qns.eq(i);
            if(i==0){
                $("#title").html("理财产品 选择");
                if(risk>8 && risk<=10){
                    $("#risk2").html("您是激进型的投资者，但我们将和您类似的积极型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level1").hide();$(".level2").hide();$(".level3").hide();
                    $(".level5").addClass('first');
                }
                else if(risk>6 && risk<=8){
                    $("#risk2").html("您是积极型的投资者，但我们将和您类似的稳健型、激进型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level1").hide();$(".level2").hide();
                    $(".level4").addClass('first');
                }
                else if(risk>4 && risk<=6){
                    $("#risk2").html("您是稳健型的投资者，但我们将和您类似的保守型、积极型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level1").hide();$(".level5").hide();
                    $(".level3").addClass('first');
                }
                else if(risk>2 && risk<=4){
                    $("#risk2").html("您是保守型的投资者，但我们将和您类似的安益型、稳健型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level4").hide();$(".level5").hide();
                    $(".level2").addClass('first');
                }
                else if(risk>=0 && risk<=2){
                    $("#risk2").html("您是安益型的投资者，但我们将和您类似的安益型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level3").hide();$(".level4").hide();$(".level5").hide();
                    $(".level1").addClass('first');
                }
                var test_div=document.getElementById("questionnaire-view");
                test_div.style.width="98%";
                test_div.style.height="660px";
            }
            if(i==1){
                $("#title").html("概要总结");
                var test_div=document.getElementById("questionnaire-view");
                test_div.style.width="98%";
                test_div.style.height="366px";
            }
            if(i==2){
                $("#title").html("已有资金调整");
                var test_div=document.getElementById("questionnaire-view");
                test_div.style.width="98%";
                test_div.style.height="406px";
            }
            if (i >= 0 && $qn.length) {
                $qns.eq($qr.data("q")).find("input").attr("tabindex", "-1");
             //   $("#q-back span").text(i === 2 ? "上一项" : "上一项");
                $qr.data({q: i, transition: true});
                var newTop = -i * $qn.height() + "px";
                if(i==1){newTop= "-630px"}
                if(i==2){newTop= "-966px"}
                //  alert(newTop)
                if (immediately) {
                    $qr.css("top", newTop);
                }
                if (immediately || $qr.css("top") === newTop) {
                    setTimeout(onAtQn, 5);
                } else {
                    $qr.animate({"top": newTop}, onAtQn);
                }

                var isLastQn = i == $qns.length - 1;
                $("#q-buttons").toggleClass("q-submit", isLastQn);

                var $i = $qn.find("input");
                var done = $i.is(":radio") ? $i.is(":checked") : !!$i.val();
                done=true;   //下
                $(isLastQn ? "#q-submit" : "#q-next").attr("disabled", !done);
                $qr.trigger("qr:nav", i);

                w.trackEvent("OFA", "question_display", (i+1) + "." + $i.attr("name"));
            }

            function onAtQn() {
                $qr.removeData("transition");
                $qn.find("input").attr("tabindex", "0")
                        .filter("[checked=true],input:first").focus().select();
            }
        }
    });
</script>
<script>
    $(function() {
        var $n = $("#q-numbers"), $qr = $("#questionnaire");
        $qr.bind("qr:nav", function(e, i) {
            var $n = $("#q-numbers");
            $n.children(".q-num.curr").removeClass("curr").addClass("past");
            $n.children().eq(i).removeClass("past").addClass("curr");
        })
                .data("init")(true);
    });
</script>

<script>
    var selection='';
    var variety,amount,pname,jixu,total,xian,feng,wen;
    var xianjin= 0,wenjian= 0,fengxian=0;
    $(document).ready(function(){
        $('[id*="iCheck"]').iCheck({
            checkboxClass: 'icheckbox_square-red',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
        initPieChart();

        <% if session[:webusername]==nil %>
            location.href="/sales/login?summary=1";
        <% end %>

      <% if params[:score]!=nil &&  params[:score]!='' %>
        variety='<%= params[:variety] %>'.split(",")  //资产品种
        amount='<%= params[:amount] %>'.split(",")  //资产金额
      <% elsif session[:webusername]!=nil %>
        variety='<%= @examination.variety %>'.split(",")  //资产品种
        amount='<%= @examination.amount %>'.split(",")  //资产金额
      <% end %>

        for(j=0;j<variety.length;j++){
            var ccc=amount[j].replace(/,/g, "");
            if(ccc==''){ccc=0;}
            if(variety[j]=="银行活期"){xianjin=xianjin+parseFloat(ccc);$("#liudong0 td:eq(2)").html(parseInt($("#liudong0 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="余额宝"){xianjin=xianjin+parseFloat(ccc);$("#liudong1 td:eq(2)").html(parseInt($("#liudong1 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="其他货币基金"){xianjin=xianjin+parseFloat(ccc);$("#liudong1 td:eq(2)").html(parseInt($("#liudong1 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="银行定期"){wenjian=wenjian+parseFloat(ccc);$("#baoben0 td:eq(2)").html(parseInt($("#baoben0 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="银行理财产品"){wenjian=wenjian+parseFloat(ccc);$("#baoben1 td:eq(2)").html(parseInt($("#baoben1 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="债券型基金"){wenjian=wenjian+parseFloat(ccc);$("#baoben2 td:eq(2)").html(parseInt($("#baoben2 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="股票"){fengxian=fengxian+parseFloat(ccc);$("#fengxian0 td:eq(2)").html(parseInt($("#fengxian0 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="股票型基金"){fengxian=fengxian+parseFloat(ccc);$("#fengxian1 td:eq(2)").html(parseInt($("#fengxian1 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="贵金属"){fengxian=fengxian+parseFloat(ccc);$("#fengxian2 td:eq(2)").html(parseInt($("#fengxian2 td:eq(2)").html())+parseInt(ccc))}
            else if(variety[j]=="其它"){fengxian=fengxian+parseFloat(ccc);$("#fengxian3 td:eq(2)").html(parseInt($("#fengxian3 td:eq(2)").html())+parseInt(ccc))}
        }
        var kk=0
        for(k=1;k<10;k++){
            if($("#update tr:eq("+k+") td:eq(2)").html()=='0'){
                $("#update tr:eq("+k+")").hide();
            }
            else{
                $("#update tr:eq("+k+")").addClass("mon"+kk);
                kk++;
            }
        }
        jixu=xianjin+wenjian+fengxian;//积蓄
        <% if params[:score]!=nil &&  params[:score]!='' %>
        total=parseInt((parseFloat('<%= params[:wages] %>')*12+jixu)/100)*100;//总资产
        xian=parseInt((parseFloat('<%= params[:rent] %>')*3)/100)*100;
        feng=parseInt((total*(80-parseFloat('<%= params[:age] %>'))/100)/100)*100;
        wen=total-xian-feng;
        <% elsif session[:webusername]!=nil %>
        total=parseInt((parseFloat('<%= @examination.wages %>')*12+jixu)/100)*100;//总资产
        xian=parseInt((parseFloat('<%= @examination.rent %>')*3)/100)*100;
        feng=parseInt((total*(80-parseFloat('<%= @examination.age %>'))/100)/100)*100;
        wen=total-xian-feng;
        <% end %>

           $("#xianjin").html((xianjin/jixu*100).toFixed(1).toString()+'%');
           $("#wenjian").html((wenjian/jixu*100).toFixed(1).toString()+'%');
           $("#fengxian").html((fengxian/jixu*100).toFixed(1).toString()+'%');
           $("#xian0").html((xian/total*100).toFixed(1).toString()+'%');
           $("#wen").html((wen/total*100).toFixed(1).toString()+'%');
           $("#feng").html((feng/total*100).toFixed(1).toString()+'%');
           $("#xian1").attr("value",xian);
           $("#wen1").attr("value",wen);
           $("#feng1").attr("value",feng);
           $("#total").html(total);
        if(xianjin/jixu>xian/total){
            $("#result").html("您当期的流动型资产配置过高，")
        }
        else if(xianjin/jixu<xian/total){
            $("#result").html("您当期的流动型资产配置过低，")
        }
        else{
            $("#result").html("您当期的流动型资产配置适中，")
        }
        if(wenjian/jixu>wen/total){
            $("#result").html($("#result").html()+'保本型配置过高，')
        }
        else if(wenjian/jixu<wen/total){
            $("#result").html($("#result").html()+'保本型配置过低，')
        }
        else{
            $("#result").html($("#result").html()+'保本型配置适中，')
        }
        if(fengxian/jixu>feng/total){
            $("#result").html($("#result").html()+'风险型配置过高。')
        }
        else if(fengxian/jixu<feng/total){
            $("#result").html($("#result").html()+'风险型配置过低。')
        }
        else{
            $("#result").html($("#result").html()+'风险型配置适中。')
        }
        <% if params[:score]!=nil &&  params[:score]!='' %>
        animate(0,parseFloat('<%= params[:score] %>'));
        <% elsif session[:webusername]!=nil %>
        animate(0,parseFloat('<%= @webuser.score %>'));
        <% end %>
        update();
    });

    $("#age-decrease0").click(function(){
        if(parseInt(xian*0.9)<parseInt($("#xian1").attr("value")) && parseInt(feng*1.1)>parseInt($("#feng1").attr("value")) && parseInt($("#xian1").attr("value"))>=200){
            $("#xian1").attr("value",parseInt($("#xian1").attr("value"))-100);
            $("#feng1").attr("value",parseInt($("#feng1").attr("value"))+100);
            $("#xian0").html((parseInt($("#xian1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#feng").html((parseInt($("#feng1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#xian1").removeClass("invalid");
            $("#feng1").removeClass("invalid");
            $(".alert").hide();
        }
        else{
            if(parseInt(xian*0.9)>=parseInt($("#xian1").attr("value"))){$("#xian1").addClass("invalid");}
            if(parseInt(feng*1.1)<=parseInt($("#feng1").attr("value"))){$("#feng1").addClass("invalid");}
            $(".alert").show();
        }
        update();
    });
    $("#age-increase0").click(function(){
        if(parseInt(xian*1.1)>parseInt($("#xian1").attr("value")) && parseInt(feng*0.9)<parseInt($("#feng1").attr("value"))  && parseInt($("#feng1").attr("value"))>=200){
            $("#xian1").attr("value",parseInt($("#xian1").attr("value"))+100);
            $("#feng1").attr("value",parseInt($("#feng1").attr("value"))-100);
            $("#xian0").html((parseInt($("#xian1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#feng").html((parseInt($("#feng1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#xian1").removeClass("invalid");
            $("#feng1").removeClass("invalid");
            $(".alert").hide();
        }
        else{
            if(parseInt(xian*1.1)<=parseInt($("#xian1").attr("value"))){$("#xian1").addClass("invalid");}
            if(parseInt(feng*0.9)>=parseInt($("#feng1").attr("value"))){$("#feng1").addClass("invalid");}
            $(".alert").show();
        }
        update();
    });

    $("#age-decrease1,#age-increase2").click(function(){
        if(parseInt(wen*0.9)<parseInt($("#wen1").attr("value")) && parseInt(feng*1.1)>parseInt($("#feng1").attr("value")) && parseInt($("#wen1").attr("value"))>=200){
            $("#wen1").attr("value",parseInt($("#wen1").attr("value"))-100);
            $("#feng1").attr("value",parseInt($("#feng1").attr("value"))+100);
            $("#wen").html((parseInt($("#wen1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#feng").html((parseInt($("#feng1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#wen1").removeClass("invalid");
            $("#feng1").removeClass("invalid");
            $(".alert").hide();
        }
        else{
            if(parseInt(wen*0.9)>=parseInt($("#wen1").attr("value"))){$("#wen1").addClass("invalid");}
            if(parseInt(feng*1.1)<=parseInt($("#feng1").attr("value"))){$("#feng1").addClass("invalid");}
            $(".alert").show();
        }
        update();
    });
    $("#age-increase1,#age-decrease2").click(function(){
        if(parseInt(wen*1.1)>parseInt($("#wen1").attr("value")) && parseInt(feng*0.9)<parseInt($("#feng1").attr("value"))  && parseInt($("#feng1").attr("value"))>=200){
            $("#wen1").attr("value",parseInt($("#wen1").attr("value"))+100);
            $("#feng1").attr("value",parseInt($("#feng1").attr("value"))-100);
            $("#wen").html((parseInt($("#wen1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#feng").html((parseInt($("#feng1").attr("value"))/total*100).toFixed(1).toString()+'%');
            $("#wen1").removeClass("invalid");
            $("#feng1").removeClass("invalid");
            $(".alert").hide();
        }
        else{
            if(parseInt(wen*1.1)<=parseInt($("#wen1").attr("value"))){$("#wen1").addClass("invalid");}
            if(parseInt(feng*0.9)>=parseInt($("#feng1").attr("value"))){$("#feng1").addClass("invalid");}
            $(".alert").show();
        }
        update();
    });

    var eq='';
    $('input').on('ifChecked', function(event){
        if(this.name=='iCheck'){
             eq=this.className.split(",");
            $("#category td").removeClass("second");
            var length=$("#category").find("tr").size();
            for(i=0;i<length;i++){
                if($("#category tr:eq("+i+") td:eq(1)").html()==eq[1]){
                    for(j=0;j<9;j++){
                        $("#category tr:eq("+i+") td:eq("+j+")").addClass("second")
                    }
                }
            }
            $("#finance").show();
            $('[class*="finance"]').hide();
            $('[class*="right"]').addClass('hide');
            $('[class*="detail"]').removeClass('detail');
        <%  for i in 0..@hash.size-1 %>
            if(eq[0]=='<%= @hash[i][0] %>'){
                var pid= '<%= @hash[i][2] %>'.split(",");
                for(var k=0;k<pid.length;k++){
                    $('.finance'+pid[k]).show();
                }
            }
        <% end %>
        }
        else if(this.name=='iCheck2'){
            $("tr").removeClass("third");
            $(".finance"+this.className).addClass("third");
            $('[class*="right"]').addClass('hide');
            $('[class*="detail"]').removeClass('detail');
            document.getElementById("q-submit").disabled=false;
        <% @financial2.each do |f| %>
            if(this.className=='<%= f.id %>'){
                selection='<%= f.pname %>';
            <% if f.risklevel==1 ||  f.risklevel==2 %>
            <% if f.category=="随存随取型资产" %>
                $("#xian0").html(((xian+feng)/total*100).toFixed(1).toString()+'%');
                $("#wen").html((wen/total*100).toFixed(1).toString()+'%');
                $("#feng").html('0%');
                $("#xian1").attr("value",(xian+feng));
                $("#wen1").attr("value",wen);
                $("#feng1").attr("value",0);
            <% elsif f.category=="保本型资产" %>
                $("#xian0").html((xian/total*100).toFixed(1).toString()+'%');
                $("#wen").html(((wen+feng)/total*100).toFixed(1).toString()+'%');
                $("#feng").html('0%');
                $("#xian1").attr("value",xian);
                $("#wen1").attr("value",(wen+feng));
                $("#feng1").attr("value",0);
            <% else %>
                $("#xian0").html((xian/total*100).toFixed(1).toString()+'%');
                $("#wen").html((wen/total*100).toFixed(1).toString()+'%');
                $("#feng").html((feng/total*100).toFixed(1).toString()+'%');
                $("#xian1").attr("value",xian);
                $("#wen1").attr("value",wen);
                $("#feng1").attr("value",feng);
            <% end %>
            <% else %>
                $("#xian0").html((xian/total*100).toFixed(1).toString()+'%');
                $("#wen").html((wen/total*100).toFixed(1).toString()+'%');
                $("#feng").html((feng/total*100).toFixed(1).toString()+'%');
                $("#xian1").attr("value",xian);
                $("#wen1").attr("value",wen);
                $("#feng1").attr("value",feng);
            <% end %>
                var aa="<a href='/bankinvest/classify/"+eq[0]+"'><%= f.classify %></a>";
                $("#ground tr:eq(3) td:eq(4)").html(aa)
                $("#ground tr:eq(3) td:eq(5)").html("<a href='/bankinvest/productdetails/<%= f.id %>'><%= f.pname %>")
            <% for i in 0..@category.size-1 %>
                <% if @category[i].classify==f.classify %>
                  $("#remark").html("这里您的风险型资产是 <%= @category[i].classify %>，<%= @category[i].prisk %>");
                <% end %>
             <% end %>
            }
        <% end %>
            var fxian=parseInt($("#xian1").attr("value"));
            var fwen=parseInt($("#wen1").attr("value"));
            var ffeng=parseInt($("#feng1").attr("value"));
            var score=((3-(Math.abs(fxian/total-xianjin/jixu)+Math.abs(fwen/total-wenjian/jixu)+Math.abs(ffeng/total-fengxian/jixu)))*100/3).toFixed(1);
            $.post("/usersurvey/score",{username:"<%= session[:webusername] %>",score:score},function(data){
            });
            animate(0,score);
            update();
        }
    });


function update(){
    var sxian=$("#xian1").attr("value");
    var swen=$("#wen1").attr("value");
    var sfeng=$("#feng1").attr("value");
    var yxian=parseInt($("#liudong0 td:eq(2)").html());
    var yhuo=parseInt($("#liudong1 td:eq(2)").html());
    var text0='',text1='',text2='',text3=''
    // xianjin=yxian+yhuo\wenjian\fengxian
    //$(".mon0 td:eq(3)").html()
    if(yhuo>sxian){
        text0="赎回"+(yhuo-sxian).toString()+"货币基金";
       // $(".mon0 td:eq(3)").html("赎回"+(yhuo-sxian).toString()+"货币基金");
        var remain0=xianjin-sxian;
    }
    else if(xianjin>sxian){
        text0="买入"+(sxian-yhuo).toString()+"货币基金";
      //  $(".mon0 td:eq(3)").html("买入"+(sxian-yhuo).toString()+"货币基金");
        var remain0=xianjin-sxian;
    }
    else{
        text0="买入"+(yxian).toString()+"货币基金";
      //  $(".mon0 td:eq(3)").html("买入"+(yxian).toString()+"货币基金");
        var remain0=0;
    }
    if(remain0>0){
        if(wenjian>swen){
          text1="保本型资产保留不动";
           // $(".mon1 td:eq(3)").html("保本型资产保留不动");
            var remain1=remain0;
        }
        else if(swen-wenjian>remain0){
            text1="买入"+(remain0).toString()+"保本产品";
           // $(".mon1 td:eq(3)").html("买入"+(remain0).toString()+"保本产品");
            var remain1=0;
        }
        else{
            text1="买入"+(swen-wenjian).toString()+"保本产品";
           // $(".mon1 td:eq(3)").html("买入"+(swen-wenjian).toString()+"保本产品");
            var remain1=remain0-(swen-wenjian);
        }
        if(remain1>0){
            if(fengxian>sfeng){
                text2="风险型资产保留不动";
               // $(".mon2 td:eq(3)").html("风险型资产保留不动");
                var remain2=remain1;
            }
            else if(sfeng-fengxian>remain1){
                var text2="买入"+(remain1).toString()+"风险产品";
               // $(".mon2 td:eq(3)").html("买入"+(remain1).toString()+"风险产品");
                var remain2=0;
            }
            else{
                text2="买入"+(sfeng-fengxian).toString()+"风险产品";
               // $(".mon2 td:eq(3)").html("买入"+(sfeng-fengxian).toString()+"风险产品");
                var remain2=remain1-(sfeng-fengxian);
            }
            if(remain2>0){
               text3="买入"+(remain2).toString()+"保本产品";
               // $(".mon3 td:eq(3)").html("买入"+(remain2).toString()+"保本产品");
            }
        }
    }
    $(".mon0 td:eq(3)").html(text0+'<br>'+text1+'<br>'+text2+'<br>'+text3)
}

function show(e){
    var aaa=document.getElementById('show'+e.id);
    if(aaa.className.indexOf("hide")<0){
        $('[class*="right"]').addClass('hide');
        $('[class*="detail"]').removeClass('detail');
        $('#show'+e.id).addClass('hide');
        $('#'+e.id).removeClass('detail');
    }
    else{
        $('[class*="right"]').addClass('hide');
        $('[class*="detail"]').removeClass('detail');
        $('#show'+e.id).removeClass('hide');
        $('#'+e.id).addClass('detail');
    }
}
function show2(e){
    var aaa=document.getElementById('hi'+e.id);
    if(aaa.className.indexOf("hide")<0){
        $('[class*="right"]').addClass('hide');
        $('[class*="detail"]').removeClass('detail');
        $('#hi'+e.id).addClass('hide');
        $('#'+e.id).removeClass('detail');
    }
    else{
        $('[class*="right"]').addClass('hide');
        $('[class*="detail"]').removeClass('detail');
        $('#hi'+e.id).removeClass('hide');
        $('#'+e.id).addClass('detail');
    }
}
</script>


<%= javascript_include_tag "excanvas.js" %>
<%= javascript_include_tag "jquery.easy-pie-chart.js" %>
<script type="text/javascript">
    var initPieChart = function() {
        $('.percentage').easyPieChart({
            animate: 1000
        });
    };
    function animate(i,a){
        if(i<a){
            $('.percentage').each(function() {
                $(this).data('easyPieChart').update(i);
                $('span', this).text(i);
            });
            setTimeout("animate("+(i+1).toString()+','+a+")",50);
        }
        else{
            $('.percentage').each(function() {
                $(this).data('easyPieChart').update(a);
                $('span', this).text(a);
            });
        }
    }
</script>