<%= form_for(@webuser) do |f| %>
  <% if @webuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webuser.errors.count, "") %> 个表项您填写出错。</h2>

      <ul>
      <%= error_div(@webuser, :name, "用户名")%> <br>
      <%= error_div(@webuser, :email, "电子邮箱")%><br>
      <%= error_div(@webuser, :password, "密码")%><br>
      </ul>
    </div>
  <% end %>
<div id="form_wrapper1" class="form_wrapper1">
					<form class="register1 active">
						<h3>注册</h3>
						<div class="column">
							<div>
								<label>用户名:</label>
    <%= f.text_field :name, :size=>40 %>
  </div>
							<div>
								<label>密码:</label>
    <%= f.password_field :password, :size=>40 %>
  </div>
						</div>
						<div class="column">
							<div>
								<label>电子邮件:</label>
								<%= f.email_field :email %>
							</div>
							<div>
								<label>密码确认:</label>
    <%= f.password_field :password_confirmation, :size=>40 %>
  </div>
  </div>
  
						<div class="bottom">
  <div class="actions">
							<%= f.submit value="注册"%>
							</div>
							<a><%= link_to " 您早已有帐号，请点击登录", :controller=>"sessions",:action=>"new"%></a>
							<div class="clear"></div>
  </div>
					</form>
				</div> 

<% end %>
