
<%= form_for(@webuser) do |f| %>
  <% if @webuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webuser.errors.count, "error") %> prohibited this webuser from being saved:</h2>

      <ul>
      <% @webuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>用户注册</legend>
  
  <div class="field">
    <%= f.label :用户名 %><br />
    <%= f.text_field :name, :size=>40 %>
  </div>
  
  <div class="field">
    <%= f.label :password, '请设置密码' %><br />
    <%= f.password_field :password, :size=>40 %>
  </div>
  
  <div class="field">
    <%= f.label :passowrd_confirmation, '请确认密码' %><br />
    <%= f.password_field :password_confirmation, :size=>40 %>
  </div>

  <div class="field">
    <%= f.label :电子邮件 %><br />
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
