
<div class="slider2">
<div class="slice12">
  <h2>管理员</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">

  <div class="News">
	  <h2>管理</h2>
	  <ul>
		<li><%= link_to "用户管理",webusers_path %> </li>
		<li><%= link_to "策略管理",strategywebs_path %></li>
	  </ul>
	  <p></p>
  </div>
  <div class="frame">
<h1>Editing webuser</h1>

<%= render 'form' %>

<%= link_to 'Show', @webuser %> |
<%= link_to 'Back', webusers_path %>

</div>

 <div class="clr"></div>
    </div>
  <div class="clr"></div>
  </div>
