<%= render "side" %>
<div class="centerrightframe">
<%= stylesheet_link_tag "faary.css" %>
<% if session[:webuser_name]!=nil %>
<%= form_for(@webuser, :html=>{:class=>"iform"}) do |f| %>

	<h2>修改</h2>
	
	<ul>
	<li><%= f.label :"用户名：" %><%= f.text_field :name,:disable=>true,:readonly=>true,:class=>"itext" %></li>
	<%= image_tag("tiyijian_line.gif")%>
    <li><%= f.label :"电子邮件：" %><%= f.email_field :email,:class=>"itext" %></li>
	<%= image_tag("tiyijian_line.gif")%>
    <% if params[:fp]==nil %>
     <li><%= f.label :"原始密码：" %><input id="oldpassword" name="oldpassword" type="password" class="itext"/><div id="old_m"></div></li>
    <% end %>
    <li><%= f.label :"密码：" %><%= f.password_field :password,:class=>"itext" %><div id="p_m"></div></li>
      <li><%= f.label :"密码确认：" %><input id="passwordconfirm" name="passwordconfirm" type="password" class="itext" /><div id="pc_m"></div></li>
	<%= image_tag("tiyijian_line.gif")%>

	</ul>
    <div class="button_confirm_2"><a href="javascript:void(0)" onclick="mysubmit()">确认</a></div>
    <div class="frameprevious"><%= link_to "取消",:class=>"accountunsure1" %></div>
    <br >

<% end %>
<% end %>
<script type="text/javascript">
    <% if session[:webuser_name]==nil%>
    box("#login-box");
    <% end %>

    function mysubmit(){
    <% if params[:fp]==nil %>
        if($("#oldpassword").attr("value")==""){
           $("#old_m").html("原始密码为空！")
        }

        else <% end %>if($("#webuser_password").attr("value")==""){
            $("#old_m").hide();
            $("#p_m").html("密码为空！")
        }
        else if($("#passwordconfirm").attr("value")==""){
            $("#p_m").hide();
           $("#pc_m").html("密码确认为空！")
        }
        else if($("#webuser_password").attr("value")!=$("#passwordconfirm").attr("value")){
           $("#pc_m").html("密码输入不一致！")
        }
        else{

            $.get("/webusers/oldpassword/1",{ <% if params[:fp]==nil %>oldpassword:$("#oldpassword").attr("value"),<%else%>fp:1,<% end %>password:$("#webuser_password").attr("value")},function(data){
                if(data=="s"){
                    alert("修改成功!") ;
                    location.reload()
                   //$("#pc_m").hide();
                }
                else{
                    alert("原始密码不正确!")
                location.reload()}
                   // $("#pc_m").hide();
            })
        }

    }

</script>
</div>