
<%= render "side" %>
<div class="frame">
<%= stylesheet_link_tag "faary.css" %>
<% if session[:webuser_name]!=nil %>
<br />
<%= form_for(@webuser, :html=>{:class=>"iform"}) do |f| %>

	<div style="margin:18px 0 0 0;*margin:18px 0 0 0;font:24px Microsoft Yahei;color:#c71314" >修改</div>
	
	<ul>
	<li><%= f.label :"用户名：" %><%= f.text_field :name,:disable=>true,:readonly=>true,:class=>"itext" %></li>
	<%= image_tag("tiyijian_line.gif")%>
    <li><%= f.label :"电子邮件：" %><%= f.email_field :email,:class=>"itext" %></li>
	<%= image_tag("tiyijian_line.gif")%>

     <li><%= f.label :"原始密码：" %><input id="oldpassword" name="oldpassword" type="password" class="itext"/><div id="old_m"></div></li>
    <li><%= f.label :"密码：" %><%= f.password_field :password,:class=>"itext" %><div id="p_m"></div></li>
      <li><%= f.label :"密码确认：" %><input id="passwordconfirm" name="passwordconfirm" type="password" class="itext" /><div id="pc_m"></div></li>
	<%= image_tag("tiyijian_line.gif")%>
	<li class="accountsure"><a href="javascript:void(0)" onclick="mysubmit()">确认</a></li>
	<br />
	<li class="accountunsure"><%= link_to "取消",:class=>"accountunsure1" %></li>
	<br />
	
	</ul>
<% end %> 	
<% else %>
<a href="#login-box" class="login-window">请先登录</a>
<% end %>
<script type="text/javascript">
    function mysubmit(){
        if($("#oldpassword").attr("value")==""){
           $("#old_m").html("原始密码为空！")
        }
        else if($("#webuser_password").attr("value")==""){
            $("#old_m").hide();
            $("#p_m").html("密码为空！")
        }
        else if($("#passwordconfirm").attr("value")==""){
            $("#p_m").hide();
           $("#pc_m").html("密码确认为空！")
        }
        else if($("#webuser_password").attr("value")!=$("#passwordconfirm").attr("value")){
           $("#pc_m").html("密码输入不一致！")
        }
        else{

            $.get("/webusers/oldpassword/1",{oldpassword:$("#oldpassword").attr("value"),password:$("#webuser_password").attr("value")},function(data){
                if(data=="s"){
                    alert("修改成功!") ;
                    location.reload()
                   //$("#pc_m").hide();
                }
                else
                    alert("原始密码不正确!")
                location.reload()
                   // $("#pc_m").hide();
            })
        }

    }

</script>
</div>