<%= stylesheet_link_tag "faary.css" %>
<br />
<%= form_for(@webuser, :html=>{:class=>"iform"}) do |f| %>

	<div style="margin:-18px 0 0 0;*margin:18px 0 0 0"><h3>个人信息管理</h3></div>

	<ul>
	<li><%= f.label :"用户名：" %><%= f.text_field :name,:disable=>true,:readonly=>true,:class=>"itext" %></li>
    <li><%= f.label :"电子邮件：" %><%= f.email_field :email,:class=>"itext" %></li>
    <li><%= f.label :"密码：" %><%= f.password_field :password,:class=>"itext" %></li>
    <li><%= f.label :"密码确认：" %><%= f.password_field :password_confirmation,:class=>"itext" %></li>
	<li><%= f.submit :value=>"确定",:class=>"ibutton" %></li>
	<br />
	<li class="iseparator">&nbsp;</li>
	</ul>
<% end %> 	
