<%= stylesheet_link_tag "faary.css" %>
<br />
<%= form_for(@webuser, :html=>{:class=>"iform"}) do |f| %>

	<div style="margin:18px 0 0 0;*margin:18px 0 0 0;font:24px Microsoft Yahei;color:#c71314" >修改</div>
	
	<ul>
	<li><%= f.label :"用户名：" %><%= f.text_field :name,:disable=>true,:readonly=>true,:class=>"itext" %></li>
	<%= image_tag("tiyijian_line.gif")%>
    <li><%= f.label :"电子邮件：" %><%= f.email_field :email,:class=>"itext" %></li>
	<%= image_tag("tiyijian_line.gif")%>

     <li><%= f.label :"原始密码：" %><input id="oldpassword" name="oldpassword" type="password" class="itext"/></li>
    <li><%= f.label :"密码：" %><%= f.password_field :password,:class=>"itext" %></li>
      <li><%= f.label :"密码确认：" %><input id="passwordconfirm" name="passwordconfirm" type="password" class="itext" /></li>
	<%= image_tag("tiyijian_line.gif")%>
	<li class="accountsure"><%= link_to "确定",:class=>"accountsure1" %></li>
	<br />
	<li class="accountunsure"><%= link_to "取消",:class=>"accountunsure1" %></li>
	<br />
	
	</ul>
<% end %> 	
