<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>

    <div class="leftframe">
       <div class="pagedomain">
         <h1>忘记密码</h1>
       </div>
    </div>
<div class="centerrightframe">
  <h2>找回密码</h2>
   <% if @error==true%>
       <p>您输入的注册邮箱<%= params[:my_email]%>没有注册过！</p>

        <div id="forget_passwd_errmail">
        <a href="/webusers/forgetpassword/<%= Time.now.to_s(:stamp)%>" id="forgetpassword">返回</a>
        </div>
          
  <% elsif @error==false %>
      <div class="forget_password_domain">
      <p>邮件发送成功！</p>
       <p>请到您的邮箱中收取您的邮件以更改密码。
        <div class="button_confirm_4">
        <a onclick="fp_url()" href="javascript:void(0)">点击跳转</a>
        </div>
      </div>
      <% else %>
      <div class="forget_password_domain">
      <p>请输入您的注册邮箱:</p>
      <%= form_tag do %>
      <p>电子邮箱：</p><%= text_field_tag :my_email, params[:my_email],:id=>"my_email",:name=>"my_email",:title=>"您的注册邮箱"%>

      <div class="button_confirm_3">
      <%= submit_tag "提交",:id=>"submit"%>
       <a href="javascript:void(0)" id="submit_r">提交</a>
      </div>
      </div>

  <% end %>
  <% end %>

</div>


<script type="text/javascript">
    $("#submit_r").click(function (){$("#submit").click();});
    $("#submit").hide();
    $(function() {
         $("form").validity(function() {
             $("#my_email")
                 .match("email")
                 .require();
         });
     });
        function fp_url(){
            window.open('<%= @fp_url %>')
        }
</script>