<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<div class="body">
  <div class="body_resize">
    <div class="StrategyNews">
    <h2>忘记密码</h2>
    <ul>
    <li><%= link_to "忘记密码",:controller=>"webusers" ,:action=>"forgetpassword" ,:id=>params[:id]%></li>
    </ul>
    </div>
<div class="frame">
   <% if @error==true%>
       您输入的注册邮箱<%= params[:my_email]%>没有注册过！
  <% elsif @error==false %>
      邮件发送成功！<br>
       请到您的邮箱中收取您的邮件以更改密码，<a onclick="fp_url()" href="javascript:void(0)">点击跳转</a>
      <% else %>
  <%= form_tag do %>
      请输入您的注册邮箱：<%= text_field_tag :my_email, params[:my_email],:id=>"my_email",:name=>"my_email",:title=>"您的注册邮箱"%>
	  <br><%= submit_tag "提交",:id=>"submit"%>
  <% end %>
  <% end %>
</div>

<div class="clr"></div>
</div>
<div class="clr"></div>
</div>
<script type="text/javascript">
    $(function() {
         $("form").validity(function() {
             $("#my_email")
                 .match("email")
                 .require();
         });
     });
        function fp_url(){
            window.open('<%= @fp_url %>')
        }
</script>