<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<div class="body">
  <div class="body_resize">
    <div class="StrategyNews">
      <div id="forgetpassword_img">
      </div>
      <div id="forgetpassword_img_steps">
      </div>

    </div>
<div class="frame">
  <div id="forget_password">
   <% if @error==true%>
       <p>您输入的注册邮箱<%= params[:my_email]%>没有注册过！</p>
  <% elsif @error==false %>
      <p>邮件发送成功！</p>
       <p>请到您的邮箱中收取您的邮件以更改密码。
       <div id="forget_passwd_foundjump">
        <a onclick="fp_url()" href="javascript:void(0)">点击跳转</a>
      </div>
      <% else %>
      <p id="forget_passwd_smallfont">请输入您的注册邮箱</p>
  <%= form_tag do %>
      <p>电子邮箱：</p><%= text_field_tag :my_email, params[:my_email],:id=>"my_email",:name=>"my_email",:title=>"您的注册邮箱"%>
	  <div id="forget_passwd_submit">
      <%= submit_tag "提交",:id=>"submit"%>
       <a href="javascript:void(0)" id="submit_r">提交</a>
    </div>   
  <% end %>
  <% end %>
</div>
</div>

<div class="clr"></div>
</div>
<div class="clr"></div>
</div>
<script type="text/javascript">
    $.get("/webusers/forgetpassword_af/'<%= params[:id]%>'",
            { my_email:'<%= params[:my_email]%>'});

    $("#submit_r").click(function (){$("#submit").click();});
    $("#submit").hide();
    $(function() {
         $("form").validity(function() {
             $("#my_email")
                 .match("email")
                 .require();
         });
     });
        function fp_url(){
            window.open('<%= @fp_url %>')
        }
</script>