<div class="slider2">
<div class="slice12">
  <h2>管理员</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">

  <div class="News">
	  <h2>管理</h2>
	  <ul>
		<li><%= link_to "用户管理",webusers_path %> </li>
		<li><%= link_to "策略管理",strategywebs_path %></li>
	  </ul>
	  <p></p>
  </div>
  <div class="frame">

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webusers.each do |webuser| %>
  <tr>
    <td><%= webuser.name %></td>
    <td><%= webuser.email %></td>
    <td><%= link_to '显示用户信息', webuser %></td>
    <td><%= link_to '修改用户信息', edit_webuser_path(webuser) %></td>
    <td><%= button_to '删除用户', webuser, :method=> :delete %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to '新建用户', new_webuser_path %>

  </div>

   <div class="clr"></div>
      </div>
    <div class="clr"></div>
    </div>
