<div class="slider2">
<div class="slice12">
  <h2>管理员</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize_login">
  <div class="StrategyNews">
  <h2>用户管理</h2>
  <ul>
    <li><%= link_to "用户管理", webusers_path %></li>
  </ul>
  <h2>数据管理</h2>
      <ul>
    <li><%= link_to "保涨比较",:controller=>"admin" ,:action=>"comparison" %></li>
      </ul>
  <h2>网站管理</h2>
  <ul>
    <li><%= link_to "版本管理",:controller=>"admin" ,:action=>"currentversion" %></li>
  </ul>
<p></p>
</div>
    <h3>修改用户<%= @webuser.name  %>的权限</h3>
<%= form_tag do %>
        <%  if session[:webuser_name]=="administrator"  %>

    <%= text_field_tag :level, params[:level],:value=>@webuser.level,:size=>3 %><%= @hash_level[@webuser.level]  %>

        <% end %>
  <%= submit_tag "提交"%>

 <% end %><br>
<%  if session[:webuser_name]=="administrator"  %>
0为普通用户
1为收费用户
<% end %> <br><br><br><br><br><br>
  </div></div>