
<div class="slider2">
<div class="slice12">
  <h2>管理员</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">

  <div class="News">
	  <h2>管理</h2>
	  <ul>
		<li><%= link_to "用户管理",webusers_path %> </li>
		<li><%= link_to "策略管理",strategywebs_path %></li>
	  </ul>
	  <p></p>
  </div>
  <div class="frame">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @webuser.name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @webuser.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @webuser.salt %>
</p>

<p>
  <b>Email:</b>
  <%= @webuser.email %>
</p>


<%= link_to 'Edit', edit_webuser_path(@webuser) %> |
<%= link_to 'Back', webusers_path %>

</div>

 <div class="clr"></div>
    </div>
  <div class="clr"></div>
  </div>

