<%= stylesheet_link_tag "style.css" %>

<div class="slider2">
<div class="slice12">
  <h2>用户登录</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize">

	<div class = "loginpage" >
		<% if flash[:notice] %>
		<p id="notice"><%= flash[:notice] %></p>
		<% end %>

		<%= form_tag do %>
			<fieldset>
			  <legend>请登录</legend>

			  <div class="username-div">
				<label for="name">帐号名：</label><br />
				<%= text_field_tag :name, params[:name], :class =>"name-input" %>
			  </div>

			  <div>
				<label for="password">密码：</label><br />
				<%= password_field_tag :password, params[:password],:class =>"passwd-input" %>
			  </div>
		  
			  <div>
				<%= submit_tag "登录" %>
			  </div>
			</fieldset>
		<% end %>
	</div>  
	<div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>