<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "myaccount.css" %>

<div class="main-head">
  <table>
    <tbody><tr><td>
        <div id="link-box">
          <a onmouseover="loginPageShowHeader('#main-login');"  onclick="loginPageShowHeader('#main-login');" class="top">登陆</a>

          <div id="login-header" style="display: none;" >
            <div style="display: none;" id="login-form" >
              <div id="main-login" class="login-container" style="display: block;">
                <div style="margin-bottom: 5px;" >登陆</div>
                <div>
                  <input  id="username" class="input-field" size="16" placeholder="姓名" type="text" >
                </div>
                <div>
                  <input id="password" style="margin-bottom: 2px" class="input-field" size="16" placeholder="密码" type="password">
                </div>
                <div style="text-align: right">
                  <button onclick="userlogin('#username','#password')" id="login" class="btn btn-success">登陆</button>&nbsp;
                  <span onclick="loginPageDismiss();" class="btn btn-success">取消</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </td></tr></tbody>
  </table>
</div>

<div class="main-content">

<div class="main-inputs">
  <div id="inputs" class="content">
      <div class="padded">
        <h3>忘记密码了?</h3>
        <p>尊敬的用户，我们将为您提供一对一的服务，您可以打电话025-83428345，致电重人软件公司查询您的密码。</p>
      </div>

    <div style="display: block;" id="overlay-inputs-login" class="overlay">
      <div id="login-form">
        <div id="main-login" class="login-container" style="display: block;">
          <div id="signin-message" style="margin-bottom: 5px;">
            登陆
          </div>
          <div>
            <input id="username2" class="input-field" size="16" placeholder="姓名" type="text">
          </div>
          <div>
            <input id="password2" style="margin-bottom: 2px" class="input-field" size="16" placeholder="密码" type="password">
          </div>
          <div style="text-align: right">
            <button onclick="userlogin('#username2','#password2')" id="login-field-button" class="btn btn-success">登陆</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="main-body">
    <div class="content">
          <div class="fthb faded">

            <table class="body-container" cellspacing="0" cellpadding="0" border="0">

              <!-- tr head-->
              <tr><td>
                        <div class="crumbs">
                          <a href="/">首页</a>&nbsp; >&nbsp;
                          <a href="/myaccount" >贵宾服务</a>
                        </div>
                </td>
              </tr>

              <!-- tr body-content-->
              <tr>
			     <td>
				   <table width="100%" class="body-header" cellspacing="0" cellpadding="0">
                    <tr><td>
                        <h1>基金产品表</h1>
                      </td></tr>
                  </table>
                   <table cellpadding="0" cellspacing="0" border="0" class="display" id="bankfinance" style="text-align:center;">
                     <thead><tr>
                       <th>发行银行</th><th>预期收益率</th><th>产品类型</th><th>起售价</th>
                       <th>投资期限</th><th>产品名称</th><th>状态</th>
                     </tr></thead>

                     <% @bankfinances.each do |b| %>
                         <tr>
                           <td><%= b.trustee%></td>
                           <td><%= format("%0.1f",b.returnrate*100)%>%</td>
                           <td><%= b.btype%></td>
                           <td><%= b.startvalue%></td>
                           <td><%= b.investperiod%></td>
                           <td><%= b.bname%></td>
                           <td><%= b.status%></td>
                         </tr>
                     <% end %>
                   </table>
		         </td>
              </tr>

            </table>
          </div>
    </div>
  </div>
</div>

<script>
    function loginPageShowHeader(sectionIdentifier){
        $("#login-header #login-form .login-container").hide();
        $("#login-header").show();
        $("#login-header #login-form").show();
        $("div#link-box").addClass("active");
        $(sectionIdentifier).show();
        $(sectionIdentifier+" input").first().focus();
        $(document).on("mouseup",loginMouseUpHandler);
    }
    function loginMouseUpHandler(e){
        var container=$("#login-form");
        if(container.has(e.target).length===0){
            loginPageDismiss();
        }
    }
    function loginPageDismiss(){
        $("#login-header #login-form").hide();
        $("div#link-box").removeClass("active");
        $("#login-header").hide();
    }
   function userlogin(uid,pid){
       if($(uid).attr("value")==""){
           alert("用户名为空！");
       }
       else if($(pid).attr("value")==""){
           alert("密码为空！");
       }
       else{
           $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value")},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
                else if(data=="admin"){
                    location.href="/admin";
                }
               else if(data=="s"){
                    location.href="/myaccount/investrecord/";
                }
           })
       }
   }
    $(document).ready(function(){
        $('#bankfinance').dataTable();
    });
</script>