<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "myaccount.css" %>

<div class="main-content" style="margin-top: 50px;">

<div class="main-inputs">
  <div id="inputs" class="content">
      <div class="padded">
        <h3>忘记密码了?</h3>
        <p>尊敬的用户，我们将为您提供一对一的服务，您可以打电话025-83428345，致电重人软件公司查询您的密码。</p>
      </div>

    <div style="display: block;" id="overlay-inputs-login" class="overlay">
      <div id="login-form">
        <div id="main-login" class="login-container" style="display: block;">
          <div id="signin-message" style="margin-bottom: 5px;">
            登陆
          </div>
          <div>
            <input id="username2" class="input-field" size="16" placeholder="姓名" type="text">
          </div>
          <div>
            <input id="password2" style="margin-bottom: 2px" class="input-field" size="16" placeholder="密码" type="password">
          </div>
          <div style="text-align: right">
            <a href="javascript:void(userlogin('#username2','#password2'))">登陆</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="main-body">
    <div class="content">
          <div class="fthb faded">

            <table class="body-container" cellspacing="0" cellpadding="0" border="0">

              <!-- tr head-->
              <tr><td>
                        <div class="crumbs">
                          <a href="/">首页</a>&nbsp; >&nbsp;
                          <a href="/myaccount" >银行服务</a>
                        </div>
                </td>
              </tr>

              <!-- tr body-content-->
              <tr>
			     <td>
                   <h1>银行理财产品 <a class="btn btn-success" href="/usersurvey">问卷调查</a><br><p>点击下面表格标题进行排序，例如点击预期收益率，则可从低到高显示理财产品，再点击一次，则可从高到低显示。</p></h1>
                   <table cellpadding="0" cellspacing="0" border="0" class="display" id="bankfinance" style="text-align:center;">
                     <thead><tr>
                       <th>发行银行</th><th>预期收益率</th><th>产品类型</th><th>起售价(万)</th>
                       <th>投资期限(天)</th><th>产品名称</th><th>状态</th>
                     </tr></thead>

                     <% @bankfinances.each do |b| %>
                         <tr>
                           <td><%= b.trustee%></td>
                           <td><%= format("%0.1f",b.returnrate*100)%>%</td>
                           <td><%= b.btype%></td>
                           <td><%= format("%0.0f",b.startvalue/10000)%></td>
                           <td><%= format("%0.0f",b.investperiod)%></td>
                           <td><%= b.bname%></td>
                           <td><%= b.status%></td>
                         </tr>
                     <% end %>
                   </table>
		         </td>
              </tr>

            </table>
          </div>
    </div>
  </div>
</div>

<script>
   function userlogin(uid,pid){
       if($(uid).attr("value")==""){
           alert("用户名为空！");
       }
       else if($(pid).attr("value")==""){
           alert("密码为空！");
       }
       else{
           $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value")},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
                else if(data=="admin"){
                    location.href="/admin";
                }
               else if(data=="s"){
                    location.href="/myaccount/investrecord/";
                }
           })
       }
   }


    $(document).ready(function(){
        $('#bankfinance').dataTable({
            "iDisplayLength": 50
    });
    });
</script>