<% if @webuser!=nil %>
    <%= javascript_include_tag "highstock.js" %>
    <%= stylesheet_link_tag "myaccount.css" %>

    <div style="float: right;*margin-top: -25px;"><a onclick="logout()" href="javascript:void(0)">用户注销</a></div> <br>
    <div class="main-content" style="margin-top: 50px;">

      <div class="main-inputs">
        <div id="inputs" class="content">
          <% @products.each do |p| %>
          <div class="padded">
            <h3><%= p.pname %></h3>
            <a href="/products/index/<%= p.id%>">查看详细</a>
            <p><%= p.description %></p>
            <a href="/products/index/<%= p.id%>"><div id="container" style="min-width: 160px; height: 120px; margin: 0 auto;overflow: hidden;position:relative;"></div></a>
            <script type="text/javascript">

                $(function() {
                    $.getJSON('/products/precordajax/<%=p.id%>', function(data) {
                        // Create the chart
                        window.chart = new Highcharts.StockChart({
                            chart : {
                                renderTo : 'container',
                                type: 'line',
                                width: 160,
                                height: 200
                            },

                            rangeSelector : {
                                enabled : false
                            },

                            title : {
                                text : '基金净值曲线图'
                            },
                            subtitle: {
                                enabled: false
                            },
                            xAxis: {
                                title:{
                                    enabled: false
                                } ,
                                labels: {
                                    enabled: false
                                }
                            },
                            yAxis: {
                                title:{
                                    enabled: false
                                } ,
                                labels: {
                                    enabled: false
                                }
                            },
                            plotOptions: {
                                line: {
                                    //pointStart: 1940,
                                    marker: {
                                        enabled: true,
                                        symbol: 'circle',
                                        radius: 2,
                                        states: {
                                            hover: {
                                                enabled: false
                                            }
                                        }
                                    }
                                }
                            },
                            series : [{
                                name : '净值',
                                data : data
                            }]
                        });
                    });
                });
            </script>
          </div>
          <% end %>

        </div>
      </div>

      <div class="main-body2">
        <div class="content">
          <div class="fthb faded">

            <table class="body-container" cellspacing="0" cellpadding="0" border="0">

              <!-- tr head-->
              <tr><td>
                <table width="100%" class="body-header" cellspacing="0" cellpadding="0">
                  <tr><td>
                    <div class="crumbs">
                      <a href="/">首页</a>&nbsp; >&nbsp;
                      <a href="/myaccount" >我的账号</a>
                    </div>
                    <h1>投资账号</h1>
                  </td></tr>
                </table>
              </td>
              </tr>

              <!-- tr login-->
              <tr>
                <td>
                  <div id="inputs-income-tip" class="inputs-tip">
                    <div class="inputstip-content">
                      <div id="inputs-income-tiptext" class="inputstip-text">

                        欢迎您，<span style="color: red;"> <%= @webuser.username %></span> <br>
                        您可以点击左侧基金简介，得到基金详细信息。
                      </div>
                    </div>
                    <div class="arrow-container">
                      <div class="arrow"></div>
                    </div>
                  </div>
                </td>
              </tr>

              <!-- tr body-content-->
              <tr>
                <!-- td body-content-->
                <td class="body-content">
                  <div class="body-content-wrapper">
                    <div class="page-interaction">

                      <!-- div2-->
                      <div style="border: 2px solid #C3E4EC;">
                        <!-- main table-->
                        <table class="block">
                          <tr>
                            <td style="width:30%">
                              <h4 class="spaced">
                                总回报金额:<br>
                                <span style="color: red;line-height:42px;">￥ <%= @allinvest %> 元</span><br>
                              </h4>
                              <h5 id="display-hv" class="value"></h5>
                              <div id="hm-icon" class="home-icon hsprite-green">
                                <img class="ls-s2" id='s-glow' src='/assets/account_1.jpg' width="200px" height="200px">
                              </div>
                              <div id="hm-homevalue">
                                  <span class="infos">
                                    <b>投资模式：<br></b> 保本。（本金不损）<br> 保息。（年收益率8%）<br> 利润返现，周期2个月。
                                  </span>
                              </div>
                            </td>
                            <td class="bleft">
                              <table>
                                <tr>
                                  <td class="bbottom" style="width: 34%;"><h4 style="text-align: left; margin-bottom: 10px">
                                    投入本金： <br>
                                    <span style="color: red;line-height:42px;">￥ <%= @allfund %> 元</span> <br>
                                  </h4></td>
                                  <td class="bbottom" style="width: 70%;">
                                    <table class="sub"><tr>
                                      <td class="bright" align="right" width="130px"></td>
                                      <td  class="total">
                                        <table>
                                          <tr><td> <h4>认购时间</h4></td><td> <h4>认购产品</h4></td><td><h4>认购金额</h4></td></tr>
                                          <% @funds.each do |f| %>
                                              <tr><td><%= f.date.to_s(:stamp)%></td><td><%= @product.pname%></td><td><%= f.recordvalue%></td></tr>
                                          <% end %>
                                        </table>
                                        <table class="totals">
                                          <div class="spacer s5"></div>
                                          <tr><td class="total right" colspan="2"><b id="display-ctotal"><p style="float: left;"><%= @allfund %></p></b></td></tr>
                                        </table>
                                      </td>
                                    </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <table>
                                <tr>
                                  <td  style="width: 34%;"><h4 style="text-align: left; margin-bottom: 10px">
                                    已付利息： <br>
                                     <span style="color: red;line-height:42px;">￥ <%= @allinterest %> 元</span>
                                    <br>
                                  </h4></td>
                                  <td style="width: 70%;">
                                    <table class="sub"><tr>
                                      <td class="bright" align="right" width="130px"></td>
                                      <td  class="total">
                                        <table>
                                          <tr><td><h4>支付时间</h4></td><td><h4>支付产品</h4></td><td><h4>支付利息</h4></td></tr>
                                          <% @interests.each do |i| %>
                                              <tr><td><%= i.date.to_s(:stamp)%></td><td><%= @product.pname%></td><td><%= i.recordvalue%></td></tr>
                                          <% end %>
                                        </table>
                                        <table class="totals">
                                          <div class="spacer s5"></div>
                                          <tr><td class="total right" colspan="2"><b id="display-ctotal"><p style="float: left;"><%= @allinterest %></p></b></td></tr>
                                        </table>
                                      </td>
                                    </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
							  <div class="arrow-container4">
                                <div class="arrow"></div>
                              </div>				  
							  <div class="arrow-container5">
                                <div class="arrow"></div>
                              </div>
                            </td>
                          </tr>
						  </tr>
                          <tr class="mortgage-details">
                            <td colspan="5" class="find-mortgage">
                              我所投资的基金产品信息
                              <a class="back mortgage-button full back" id="see-mortgage-link" href="" onclick="showMortgagePopup(); return false">查看基金</a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
      function logout(){
          $.get('/admin/userlogout',function(data){
              if(data=="s"){
                  alert("退出成功！");
                  location.href="/myaccount";
              }
          })
      }
    </script>

<% end %>







