<%= form_for(@webuserstrategy) do |f| %>
  <% if @webuserstrategy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webuserstrategy.errors.count, "error") %> prohibited this webuserstrategy from being saved:</h2>

      <ul>
      <% @webuserstrategy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :strategyid %><br />
    <%= f.text_field :strategyid %>
  </div>
  <div class="field">
    <%= f.label :paraname %><br />
    <%= f.text_field :paraname %>
  </div>
  <div class="field">
    <%= f.label :paravalue %><br />
    <%= f.text_field :paravalue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
