<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @webuserstrategy.username %>
</p>

<p>
  <b>Strategyid:</b>
  <%= @webuserstrategy.strategyid %>
</p>

<p>
  <b>Paraname:</b>
  <%= @webuserstrategy.paraname %>
</p>

<p>
  <b>Paravalue:</b>
  <%= @webuserstrategy.paravalue %>
</p>


<%= link_to 'Edit', edit_webuserstrategy_path(@webuserstrategy) %> |
<%= link_to 'Back', webuserstrategies_path %>
