亲爱的 <%= @username %> 您好，<br>
一、已收到您的理财规划申请。<br>
我们将在1个工作日内尽快和你沟通，核实，然后提交给国家理财规划师。<br><br>
二、您的个人投资信息描述：<br>
<% if @level==1 %>
    您在通天顺 家庭理财规划方案测试中风险承受度为<%= @risktolerance %>，属于 安益型 投资用户。<br><br>
    对于安益型投资人，其投资组合配置在风险最小的领域，如货币市场基金或中短债基金。此类投资人注重获得相对确定的投资回报，而不追求最大回报，且限制短期内的大幅波动。投资期限内，回报率的波动性较小。大多数情况下，相对风险较高的投资方法，这种方法的回报率最低，五年以上的投资尤其如此<br><br>
<% elsif  @level==2 %>
    您在通天顺 家庭理财规划方案测试中风险承受度为<%= @risktolerance %>，属于 保守型 投资用户。<br><br>
    对于保守型投资人，其投资组合较大比例配置债券类资产或债券型基金，同时也有一部分比例配制于股票类资产或股票型基金以及配置型基金。此类投资人注重获得稳定的投资回报，而不追求最大回报，且限制短期内的大幅波动。投资期限内，虽然难以准确预测其回报率，但是也不会有大起大落的情况。大多数情况下，相对风险较高的投资方法，这种方法的回报率较低，五年以上的投资尤其如此<br><br>
<% elsif  @level==3 %>
    您在通天顺 家庭理财规划方案测试中风险承受度为<%= @risktolerance %>，属于 稳健型 投资用户。<br><br>
    对于稳健型投资人，其投资组合均衡配置股票类资产和债券类资产（或股票型基金和债券型基金）以及配置型基金。此类投资人注重获得稳健的投资回报。投资的市值在短期内可能会有一些波动。投资期限内，其综合回报难以准确预测，但也不会过于出乎意外。大多数情况下，相对较为保守的投资方法，这种方法的回报率较高，五年以上的投资更是如此<br><br>
<% elsif  @level==4 %>
    您在通天顺 家庭理财规划方案测试中风险承受度为<%= @risktolerance %>，属于 积极型 投资用户。<br><br>
    对于积极型投资人，其投资组合较大比例配置股票类资产或股票型基金，同时还有小部分比例配置于债券和现金。此类投资人注重获得丰厚的投资回报，但对大多数投机领域敬而远之。投资价值在短期内可能会有大幅波动。投资期限内，最终获得的投资回报较难预料。大多数情况下，较之其它相对保守的投资方法，这种投资方法的回报率较高，五年以上的投资尤其如此<br><br>
<% elsif  @level==5 %>
    您在通天顺 家庭理财规划方案测试中风险承受度为<%= @risktolerance %>，属于 激进型 投资用户。<br><br>
    对于激进型投资人，其投资组合将绝大部分比例投资于股票类资产或股票型基金，并且敢于涉足一些投机领域。为了追求最大回报，同时愿意承受资产价格的短期大幅波动风险，甚至相对长时间亏损的可能。因为其承受较大波动性，投资者最后获得的回报率较难预测。大多数情况下，其长期回报率高于其它较为保守的投资方法<br><br>
<% end %>
您可以点击下面的链接查看:<br>
<a href="http://www.tongtianshun.com/home/plan?username=<%= @username %>">http://www.tongtianshun.com/home/plan</a><br><br>
三、关于您的个人信息描述，如果有和您理解不一致的，您可以通过如下两种方式进行纠正：<br>
1）、网络自助修改：<a href="http://www.tongtianshun.com">www.tongtianshun.com</a>，登陆后通过“个人信息设置”进行修改，第一次登陆后可以自行修改登陆密码。<br>
2）、人工服务修改：<br>
您可以拨打我们的热线电话 025 - 83428345 寻求客服帮助进行修改。
