来自<%= @company %>的<%= @username %>对您的投资情况发表了评论：<br>
<%= @comment %>   <br>
您可以点击下面的链接查看:<br>
<a href="http://www.tongtianshun.com/personmanagement/personfinance/<%= @aid %>">http://www.tongtianshun.com/personmanagement/personfinance/<%= @aid %></a><br>