<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
 <style>
   textarea {
       width: 450px;
   }
 </style>
<div id="nor">
  <div>
    是否具有开放性：<select  name="ispatent" id="ispatent" title="是否具有开放性">
    <option value="1">是</option>
    <option value="0">否</option>
  </select><br>
    是否特供：<select  name="ispickout" id="ispickout" title="是否特供">
    <option value="1">是</option>
    <option value="0">否</option>
  </select><br>
    产品名称：<input type="text" name="bname" id="bname" title="产品名称"> <br>
    投资及收益币种：<input type="text" name="currencytype" id="currencytype" title="投资及收益币种" value="人民币"> <br>
    是否保本：<select  name="btype" id="btype" title="是否保本">
    <option value="保本">保本</option>
    <option value="不保本">不保本</option>
  </select><br>
    销售起始：<input type="text" name="sailsstart" id="sailsstart" title="销售起始" onclick="WdatePicker()" class="Wdate">  <br>
    销售结束：<input type="text" name="collectperiod" id="collectperiod" title="销售结束" onclick="WdatePicker()" class="Wdate">  <br>
    起售价：<input type="text" name="startvalue" id="startvalue" title="起售价"> <br>
    预期投资期限：<input type="text" name="investperiod" id="investperiod" title="预期投资期限">天<br>
    预期收益率：<input type="text" name="returnrate" id="returnrate" title="预期收益率">% <br>
    发行银行：<input type="text" name="trustee" id="trustee" title="发行银行"> <br>
    状态：<input type="text" name="status" id="status" title="状态" value="在售"> <br>
    发行地区：<input type="text" name="status" id="distributionarea" title="状态"> <br>
    产品关键词：<input type="text" name="status" id="productkeywords" title="状态"> <br>
  </div>
</div>

<div id="organ">
  <div>
    发行机构：<select  name="trustee2" id="trustee2" title="发行机构">
    <% @organizationname.each do |b| %>
        <option value="<%= b.company %>"><%= b.company %></option>
    <% end %>
  </select><br>
    <% if session[:webusername]=='admin' %>
        是否精选：<select  name="ischosen" id="ischosen" title="是否精选">
    <option value="1">是</option>
    <option value="0">否</option>
  </select><br>
    收益率标准：投资区间小 <input type="text" name="rate1" id="rate1" title="投资区间小">万 <br>
    收益率标准：投资区间中 <input type="text" name="rate2" id="rate2" title="投资区间中">万 <br>
    收益率标准：投资区间大 <input type="text" name="rate3" id="rate3" title="投资区间大">万 <br>
    收益率标准：通天顺（小）<input type="text" name="tong10" id="tong10" title="通天顺（小）">% <br>
    收益率标准：通天顺（中）<input type="text" name="tong100" id="tong100" title="通天顺（中）">% <br>
    收益率标准：通天顺（大）<input type="text" name="tong500" id="tong500" title="通天顺（大）">% <br>
    收益率标准：银行（小）<input type="text" name="bank10" id="bank10" title="银行（小）">% <br>
    收益率标准：银行（中）<input type="text" name="bank100" id="bank100" title="银行（中）">% <br>
    收益率标准：银行（大）<input type="text" name="bank500" id="bank500" title="银行（大）">% <br>
    <% end %>
    产品名称：<input type="text" name="bname2" id="bname2" title="产品名称"> <br>
    年化收益率：<input type="text" name="returnrate2" id="returnrate2" title="年化收益率">% <br>
    是否保本：<select  name="btype2" id="btype2" title="是否保本">
    <option value="保本">保本</option>
    <option value="不保本">不保本</option>
  </select><br>
    起售价：<input type="text" name="startvalue2" id="startvalue2" title="起售价"> <br>
    理财期限：<input type="text" name="investperiod2" id="investperiod2" title="理财期限">天<br>
    起购日期：<input type="text" name="sailsstart2" id="sailsstart2" title="起购日期" onclick="WdatePicker()" class="Wdate">  <br>
    结束日期：<input type="text" name="collectperiod2" id="collectperiod2" title="结束日期" onclick="WdatePicker()" class="Wdate">  <br>
    <% if params[:id]!="0" %>
        投资标的：<br><br><textarea class="ckeditor" cols="180" rows="15" name="invsetsubject" id="invsetsubject" title="投资标的"><%= @bankfinanceinfo[14]%></textarea> <br>
        收益计算方法：<br><br><textarea class="ckeditor" cols="180" rows="15" name="formula" id="formula" title="收益计算方法"><%= @bankfinanceinfo[15]%></textarea> <br>
        风险提示：<br><br><textarea class="ckeditor" cols="180" rows="15" name="risktip" id="risktip" title="风险提示"><%= @bankfinanceinfo[16]%></textarea> <br>
    <% else %>
        投资标的：<br><br><textarea class="ckeditor" cols="180" rows="15" name="invsetsubject" id="invsetsubject" title="投资标的"></textarea> <br>
        收益计算方法：<br><br><textarea class="ckeditor" cols="180" rows="15" name="formula" id="formula" title="收益计算方法"></textarea> <br>
        风险提示：<br><br><textarea class="ckeditor" cols="180" rows="15" name="risktip" id="risktip" title="风险提示"></textarea> <br>
    <% end %>
  </div>
</div>
<a class="btn btn-primary" href="javascript:void(0)" id="bankfinanceconfig">确认</a>

<script type="text/javascript">
    var isorgan,name;
    window.onload=function(){
       if(Request("organ")==1){
          $("#nor").remove();
       }
        else{
           $("#organ").remove();
       }
    }

    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }

    var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
    <% if params[:id]!="0" %>
    $("#bname").attr("value",'<%= @bankfinanceinfo[0]%>');
    $("#bname2").attr("value",'<%= @bankfinanceinfo[0]%>');
    $("#currencytype").attr("value",'<%= @bankfinanceinfo[1]%>');
    $("#btype").attr("value",'<%= @bankfinanceinfo[2]%>');
    $("#btype2").attr("value",'<%= @bankfinanceinfo[2]%>');
    $("#collectperiod").attr("value",'<%= @bankfinanceinfo[3]%>');
    $("#collectperiod2").attr("value",'<%= @bankfinanceinfo[3]%>');
    $("#startvalue").attr("value",'<%= @bankfinanceinfo[4]%>');
    $("#startvalue2").attr("value",'<%= @bankfinanceinfo[4]%>');
    $("#investperiod").attr("value",'<%= @bankfinanceinfo[5]%>');
    $("#investperiod2").attr("value",'<%= @bankfinanceinfo[5]%>');
    $("#returnrate").attr("value",'<%= format("%0.1f",@bankfinanceinfo[6]*100)%>');
    $("#returnrate2").attr("value",'<%= format("%0.1f",@bankfinanceinfo[6]*100)%>');
    $("#trustee").attr("value",'<%= @bankfinanceinfo[7]%>');
    $("#trustee2").attr("value",'<%= @bankfinanceinfo[7]%>');
    $("#status").attr("value",'<%= @bankfinanceinfo[8]%>');
    $("#sailsstart").attr("value",'<%= @bankfinanceinfo[9]%>');
    $("#sailsstart2").attr("value",'<%= @bankfinanceinfo[9]%>');
    $("#distributionarea").attr("value",'<%= @bankfinanceinfo[10]%>');
    $("#ispickout").attr("value",'<%= @bankfinanceinfo[11]%>');
    $("#ispatent").attr("value",'<%= @bankfinanceinfo[12]%>');
    $("#productkeywords").attr("value",'<%= @bankfinanceinfo[13]%>');
    $("#ischosen").attr("value",'<%= @bankfinanceinfo[17]%>');
    $("#tong10").attr("value",'<%= @bankfinanceinfo[18]%>');
    $("#tong100").attr("value",'<%= @bankfinanceinfo[19]%>');
    $("#tong500").attr("value",'<%= @bankfinanceinfo[20]%>');
    $("#bank10").attr("value",'<%= @bankfinanceinfo[21]%>');
    $("#bank100").attr("value",'<%= @bankfinanceinfo[22]%>');
    $("#bank500").attr("value",'<%= @bankfinanceinfo[23]%>');
    $("#rate1").attr("value",'<%= format("%0.0f",@bankfinanceinfo[24])%>');
    $("#rate2").attr("value",'<%= format("%0.0f",@bankfinanceinfo[25])%>');
    $("#rate3").attr("value",'<%= format("%0.0f",@bankfinanceinfo[26])%>');
    <% end %>

    $("#bankfinanceconfig").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;
        var name='<%=session[:webusername]%>';
        <% if params[:id]!="0" %>
        var tong10='<%= @bankfinanceinfo[18]%>';
        var tong100='<%= @bankfinanceinfo[19]%>';
        var tong500='<%= @bankfinanceinfo[20]%>';
        var bank10='<%= @bankfinanceinfo[21]%>';
        var bank100='<%= @bankfinanceinfo[22]%>';
        var bank500='<%= @bankfinanceinfo[23]%>';
        var rate1='<%= @bankfinanceinfo[24]%>';
        var rate2='<%= @bankfinanceinfo[25]%>';
        var rate3='<%= @bankfinanceinfo[26]%>';
        <% else %>
        var tong10=4.6;
        var tong100=4.7;
        var tong500=4.8;
        var bank10=4.5;
        var bank100=4.6;
        var bank500=4.6;
        var rate1=10;
        var rate2=100;
        var rate3=500;
        <% end %>
        var flag='0';
        for(var i=0;i<o.length;i++)
        {
            if(o[i].value==""){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }
        if('<%=session[:webusername]%>'=='admin'){
            flag=$("#ischosen").attr("value");
            name='<%=@bankfinance.name%>';
            var tong10=$("#tong10").attr("value");
            var tong100=$("#tong100").attr("value");
            var tong500=$("#tong500").attr("value");
            var bank10=$("#bank10").attr("value");
            var bank100=$("#bank100").attr("value");
            var bank500=$("#bank500").attr("value");
            var rate1=$("#rate1").attr("value");
            var rate2=$("#rate2").attr("value");
            var rate3=$("#rate3").attr("value");
        }
        if(nom_flag==0 && Request("organ")!=1){
            if( numfor.test($("#investperiod").attr("value"))==false){
                alert("预期投资期限必须为数字！");
                nom_flag=1;
            }
            else if(numfor.test($("#returnrate").attr("value"))==false){
                alert("预期收益率必须为数字！");
                nom_flag=1;
            }
            else if(numfor.test($("#startvalue").attr("value"))==false){
                alert("起售价必须为数字！");
                nom_flag=1;
            }
        }

        if(nom_flag==0 && Request("organ")==1){
            if( numfor.test($("#investperiod2").attr("value"))==false){
                alert("理财期限必须为数字！");
                nom_flag=1;
            }
            else if(numfor.test($("#returnrate2").attr("value"))==false){
                alert("年化收益率必须为数字！");
                nom_flag=1;
            }
            else if(numfor.test($("#startvalue2").attr("value"))==false){
                alert("起售价必须为数字！");
                nom_flag=1;
            }
            else if($("#invsetsubject").attr("value")=="") {
                alert("投资标的为空！");
                nom_flag=1;
            }
            else if($("#formula").attr("value")=="") {
                alert("收益计算方法为空！");
                nom_flag=1;
            }
            else if($("#risktip").attr("value")=="") {
                alert("风险提示为空！");
                nom_flag=1;
            }
        }

        if(nom_flag==0){
            if(Request("organ")==1){
                $.post("/admin/bankfinanceconfigajax/<%= params[:id] %>",{ bname: $("#bname2").attr("value"),currencytype: '人民币',
                    btype: $("#btype2").attr("value"),collectperiod: $("#collectperiod2").attr("value"),
                    startvalue: $("#startvalue2").attr("value"),returnrate: $("#returnrate2").attr("value")/100,
                    trustee: $("#trustee2").attr("value"),investperiod: $("#investperiod2").attr("value"),status: '在售',
                    sailsstart: $("#sailsstart2").attr("value"),distributionarea: '南京',
                    ispickout: 0,ispatent: 0,productkeywords: $("#bname2").attr("value"),invsetsubject: $("#invsetsubject").attr("value"),
                    formula: $("#formula").attr("value"),risktip: $("#risktip").attr("value"),
                    isorgan:1,name:name,ischosen:flag,tong10:tong10,tong100:tong100,tong500:tong500,
                    bank10:bank10,bank100:bank100,bank500:bank500,rate1:rate1,rate2:rate2,rate3:rate3
                },function(data){
                    if(data=="f1"){
                        alert("产品已存在！");
                    }
                    else if(data=="s1"){
                        alert("产品创建成功！");
                        if('<%=session[:webusername]%>'=='admin'){
                        location.href='/admin';
                        }
                        else{
                        location.href='/bankinvest/organ';
                    }
                    }
                    else{
                        alert("修改成功！");
                        if('<%=session[:webusername]%>'=='admin'){
                            location.href='/admin';
                        }
                        else{
                        location.href='/bankinvest/organ';
                    }
                    }
                });
            }
            else{
            $.get("/admin/bankfinanceconfigajax/<%= params[:id] %>",{ bname: $("#bname").attr("value"),currencytype: $("#currencytype").attr("value"),
                btype: $("#btype").attr("value"),collectperiod: $("#collectperiod").attr("value"),
                startvalue: $("#startvalue").attr("value"),returnrate: $("#returnrate").attr("value")/100,
                trustee: $("#trustee").attr("value"),investperiod: $("#investperiod").attr("value"),status: $("#status").attr("value"),
                sailsstart: $("#sailsstart").attr("value"),distributionarea: $("#distributionarea").attr("value"),
                ispickout: $("#ispickout").attr("value"),ispatent: $("#ispatent").attr("value"),productkeywords: $("#productkeywords").attr("value"),
                isorgan:0,name:0,invsetsubject: '',formula: '',risktip: '',ischosen:flag,tong10:tong10,tong100:tong100,tong500:tong500,
                bank10:bank10,bank100:bank100,bank500:bank500,rate1:rate1,rate2:rate2,rate3:rate3
            },function(data){
                if(data=="f1"){
                    alert("产品已存在！");
                }
                else if(data=="s1"){
                    alert("产品创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
            }
        }
    });
</script>
