<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "ckeditor/ckeditor.js" %>
<%= javascript_include_tag "jquery.min.js" %>

<div style="width: 700px;height: 700px;">
  <div>

    <% if params[:id]!="0" %>
        博客标题：<input type="text" name="btitle" id="btitle" title="博客标题" value="<%=raw @bloginfo[0]%>"> <br>
    <% else %>
        博客标题：<input type="text" name="btitle" id="btitle" title="博客标题"> <br>
    <% end %>
    发表人：<input type="text" name="blname" id="blname" title="发表人"> <br>
    发表时间：<input type="text" name="publishdate" id="publishdate" title="发表时间" onclick="WdatePicker()" class="Wdate"> <br>
    <% if params[:id]!="0" %>
        正文：<br><textarea class="ckeditor" cols="80" rows="15" name="barticle" id="barticle" title="正文"><%= @bloginfo[3]%></textarea>
      <% else %>
        正文：<br><textarea class="ckeditor" cols="80" rows="15" name="barticle" id="barticle" title="正文"></textarea>
    <% end %>
		<script type="text/javascript">
			CKEDITOR.replace('barticle', {
				toolbar : 'Full',
				uiColor : '#c6e4ee'
			});
		</script><br>

    栏目：<select  name="bcolumn" id="bcolumn" title="栏目">
             <option value="银行理财产品">银行理财产品</option>
             <option value="创业人生">创业人生</option>
          </select><br>

    <form accept-charset="UTF-8" action="/admin/create" enctype="multipart/form-data" method="post" target="actionframe">
      选择图片: <input id="file_file" name="file[file]" type="file"><br><br>
      <input name="commit" id="create" value="上传图片" type="submit">
    </form>
    图片名称：<input type="text" name="imagepath" id="imagepath" title="图片"> <br>
    <a href="javascript:void(0)" id="blogconfig">确认</a>
  </div>
</div>

<script type="text/javascript">

    $("#create").click(function(e){
        $("#imagepath").attr("value",'<%= cookies[:filename]%>');
    });

    <% if params[:id]!="0" %>
    $("#blname").attr("value",'<%= @bloginfo[1]%>');
    $("#publishdate").attr("value",'<%= @bloginfo[2]%>');
    $("#bcolumn").attr("value",'<%= @bloginfo[4]%>');
    $("#imagepath").attr("value",'<%= @bloginfo[5]%>');
    <% end %>

	function CKupdate() {
		for (instance in CKEDITOR.instances) {
			CKEDITOR.instances[instance].updateElement();
		}
	}

    $("#blogconfig").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;
        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!=""){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }

		CKupdate();

        if(nom_flag==0){
            $.post("/admin/blogconfigajax/<%= params[:id] %>",{ btitle: $("#btitle").attr("value"),blname: $("#blname").attr("value"),
                publishdate: $("#publishdate").attr("value"),barticle: $("#barticle").attr("value"),bcolumn: $("#bcolumn").attr("value"),
                imagepath: $("#imagepath").attr("value")
            },function(data){
                if(data=="s1"){
                    alert("博客创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
        }
    });
</script>
