<style>
    .main-body {
        width: 100%;
        border-left: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        background-color: rgb(255, 255, 255);
        border-width: 2px 1px;
        border-style: solid;
        border-color: rgb(85, 85, 85) rgb(204, 204, 204);
    }
    span{
        color: #999;
        font-size: 12px;
    }
</style>

<div class="main-body">
  产品大类：<select  name="category" id="category" title="产品大类">
  <% @category1.each do |b| %>
    <option value="<%= b.category %>"><%= b.category %></option>
  <% end %>
</select><br>
  产品小类：<input type="text" name="classify" id="classify" title="产品小类"> <br>
  风险级别：<input type="text" name="risklevel" id="risklevel" title="风险级别"><span>(1,2,3,4,5)</span> <br>
  亏损概率 1 年：<input type="text" name="risk1" id="risk1" title="亏损概率1年">% <span>(数字)</span> <br>
  亏损概率 3 年：<input type="text" name="risk3" id="risk3" title="亏损概率">% <span>(数字)</span> <br>
  亏损概率 5 年：<input type="text" name="risk5" id="risk5" title="亏损概率">% <span>(数字)</span> <br>
  最高可达收益率 1 年：<input type="text" name="return1" id="return1" title="最高可达收益率1年">% <span>(数字)</span> <br>
  最高可达收益率 3 年：<input type="text" name="return3" id="return3" title="最高可达收益率3年">% <span>(数字)</span> <br>
  最高可达收益率 5 年：<input type="text" name="return5" id="return5" title="最高可达收益率5年">% <span>(数字)</span> <br>
  <% if params[:id]!="0" %>
      产品类型介绍：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="ptype" id="ptype" title="产品类型介绍"><%= @category2.ptype %></textarea><br>
      产品风险介绍：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="prisk" id="prisk" title="产品风险介绍"><%= @category2.prisk %></textarea><br>
      潜在收益回报：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="returns" id="returns" title="潜在收益回报"><%= @category2.returns %></textarea><br>
  <% else %>
      产品类型介绍：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="ptype" id="ptype" title="产品类型介绍"></textarea><br>
      产品风险介绍：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="prisk" id="prisk" title="产品风险介绍"></textarea><br>
      潜在收益回报：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="returns" id="returns" title="潜在收益回报"></textarea><br>
  <% end %>
  最低投资金额：<input type="text" name="startvalue" id="startvalue" title="最低投资金额"> <br>

  <a class="btn btn-primary" href="javascript:void(0)" id="categoryconfig">确认</a>
</div>

<script type="text/javascript">
    var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
    <% if params[:id]!="0" %>
    $("#category").attr("value",'<%= @category2.category%>');
    $("#classify").attr("value",'<%= @category2.classify%>');
    $("#risklevel").attr("value",'<%= @category2.risklevel%>');
    $("#startvalue").attr("value",'<%= @category2.startvalue%>');
    $("#risk1").attr("value",'<%= @category2.risk1%>');
    $("#risk3").attr("value",'<%= @category2.risk3%>');
    $("#risk5").attr("value",'<%= @category2.risk5%>');
    $("#return1").attr("value",'<%= @category2.return1%>');
    $("#return3").attr("value",'<%= @category2.return3%>');
    $("#return5").attr("value",'<%= @category2.return5%>');
    <% end %>

    $("#categoryconfig").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;
        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!=""){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }

        if(nom_flag==0){
            if( numfor.test($("#risk1").attr("value"))==false){
                alert("亏损概率1年必须为数字！");
                nom_flag=1;
            }
            else if( numfor.test($("#risk3").attr("value"))==false){
                alert("亏损概率3年必须为数字！");
                nom_flag=1;
            }
            else if( numfor.test($("#risk5").attr("value"))==false){
                alert("亏损概率5年必须为数字！");
                nom_flag=1;
            }
            else if( numfor.test($("#return1").attr("value"))==false){
                alert("最高可达收益率1年必须为数字！");
                nom_flag=1;
            }
            else if( numfor.test($("#return3").attr("value"))==false){
                alert("最高可达收益率3年必须为数字！");
                nom_flag=1;
            }
            else if( numfor.test($("#return5").attr("value"))==false){
                alert("最高可达收益率5年必须为数字！");
                nom_flag=1;
            }
            else if( numfor.test($("#startvalue").attr("value"))==false){
                alert("最低投资金额必须为数字！");
                nom_flag=1;
            }
        }

        if(nom_flag==0){
            $.post("/admin/category2configajax/<%= params[:id] %>",{ category: $("#category").attr("value"),classify: $("#classify").attr("value"),risklevel: $("#risklevel").attr("value"),
                risk1: $("#risk1").attr("value"),risk3: $("#risk3").attr("value"),risk5: $("#risk5").attr("value"),return1: $("#return1").attr("value"),return3: $("#return3").attr("value"),return5: $("#return5").attr("value"),
                ptype: $("#ptype").attr("value"),prisk: $("#prisk").attr("value"),returns: $("#returns").attr("value"),startvalue: $("#startvalue").attr("value")
            },function(data){
                if(data=="s1"){
                    alert("产品小类创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
        }
    });
</script>
