<style>
    .main-body {
        width: 100%;
        border-left: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        background-color: rgb(255, 255, 255);
        border-width: 2px 1px;
        border-style: solid;
        border-color: rgb(85, 85, 85) rgb(204, 204, 204);
    }
</style>

<div class="main-body">
  基金网站名称：<input type="text" name="fundname" id="fundname" title="基金网站名称"><br>
  公司名称：<input type="text" name="company" id="company" title="公司名称"><br>
  注册资本：<input type="text" name="capital" id="capital" title="注册资本"><br>
  <% if params[:id]!="0" %>
      公司简介：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="profile" id="profile" title="公司简介"><%= @salescompany.profile %></textarea><br>
  <% else %>
      公司简介：<br><textarea class="ckeditor" style="width: 50%;padding:0;" rows="10" name="profile" id="profile" title="公司简介"></textarea><br>
  <% end %>
  官网介绍：<input type="text" name="introduced" id="introduced" title="官网介绍"><br>
  图文购买指导：<input type="text" name="imglink" id="imglink"><br>
  视频购买指导：<input type="text" name="videolink" id="videolink"><br>
  <form accept-charset="UTF-8" action="/admin/create" enctype="multipart/form-data" method="post" target="actionframe">
    公司logo: <input id="file_file" name="file[file]" type="file"><br><br>
    <input name="commit" id="create" value="上传图片" type="submit">
  </form>
  <form accept-charset="UTF-8" action="/admin/create" enctype="multipart/form-data" method="post" target="actionframe">
    基金销售许可证图: <input id="file" name="file[file]" type="file"><br><br>
    <input name="commit" id="create2" value="上传图片" type="submit">
  </form>
  有无购买指导：<select  name="guide" id="guide" title="有无购买指导">
  <option value="有">有</option>
  <option value="无">无</option>
</select><br>
  购买时间：<input type="text" name="time" id="time" title="购买时间"><br>
  <form accept-charset="UTF-8" action="/admin/create" enctype="multipart/form-data" method="post" target="actionframe">
    基金购买帮助图片: <input id="file3" name="file[file]" type="file"><br>
    <input name="commit" id="create3" value="上传图片" type="submit"><br><br>
    <input type="text" name="assist" id="assist" placeholder="基金购买帮助图片">
  </form>
  <a class="btn btn-primary" href="javascript:void(0)" id="companyconfig">确认</a>
</div>

<script type="text/javascript">
     var logo='';
     var license='';
     function getFileName(path){
         var pos1 = path.lastIndexOf('/');
         var pos2 = path.lastIndexOf('\\');
         var pos  = Math.max(pos1, pos2)
         if( pos<0 )
             return path;
         else
             return path.substring(pos+1);
     }
     $("#create").click(function(e){
         if(document.getElementById('file_file').value==''){
             alert('请选择公司logo');
             return false;
         }
         logo=getFileName(document.getElementById("file_file").value);
     });
     $("#create2").click(function(e){
         if(document.getElementById('file').value==''){
             alert('请选择基金销售许可证图');
             return false;
         }
         license=getFileName(document.getElementById("file").value);
     });
     $("#create3").click(function(e){
         if(document.getElementById('file3').value==''){
             alert('基金购买帮助图片');
             return false;
         }
         var assist=getFileName(document.getElementById("file3").value);
         if($("#assist").attr("value")==""){
             $("#assist").attr("value",assist)
         }
         else{
             $("#assist").attr("value",$("#assist").attr("value")+','+assist)
         }
     });

    $("#companyconfig").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;

        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!="" && nom_flag==0){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }
        <% if params[:id]!="0" %>
             if(logo==""){logo='<%= @salescompany.logo%>'}
             if(license==""){license='<%= @salescompany.license%>'}
        <% end %>

       if($("#videolink").attr("value")!='' && $("#videolink").attr("value").indexOf('100%')<0){
        var video=$("#videolink").attr("value").replace('allowfullscreen','allowfullscreen width="100%" height="400"')
       }
        if(nom_flag==0){
            $.post("/admin/companyconfigajax/<%= params[:id] %>",{ fundname: $("#fundname").attr("value"),company: $("#company").attr("value"),capital: $("#capital").attr("value"),
                profile: $("#profile").attr("value"),introduced: $("#introduced").attr("value"),imglink: $("#imglink").attr("value"),videolink: video,logo:logo,license:license,guide:$("#guide").attr("value"),time:$("#time").attr("value"),assist:$("#assist").attr("value")},function(data){
                if(data=="s1"){
                    alert("理财产品销售公司创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
        }
    });
</script>

<script language="javascript">
    $(document).ready(function(){
        <% if params[:id]!="0" %>
        $("#fundname").attr("value",'<%= @salescompany.fundname%>');
        $("#company").attr("value",'<%= @salescompany.company %>');
        $("#capital").attr("value",'<%= @salescompany.capital%>');
        $("#introduced").attr("value",'<%= @salescompany.introduced%>');
        $("#videolink").attr("value",'<%= @salescompany.videolink%>');
        $("#imglink").attr("value",'<%= @salescompany.imglink%>');
        $("#guide").attr("value",'<%= @salescompany.guide%>');
        $("#time").attr("value",'<%= @salescompany.time%>');
        $("#assist").attr("value",'<%= @salescompany.assist%>');
        <% end %>
    });
</script>