<%= render "side" %><h2>版本信息</h2>
<table>
  <tr>
    <th>版本信息</th>
    <th>更新时间</th>
    <th>查看详细</th>
    <th>编辑</th>
    <th>删除</th>
  </tr>

<% @versions.each do |version| %>
  <tr>
    <td><%= version.current_version_id %></td>
    <td><%= version.update_date %></td>
    <td><%= link_to "查看", :controller=>"admin",:action=>"showversion", :id=>version.id%></td>
    <td><%= link_to "编辑", :controller=>"admin",:action=>"editversion", :id=>version.id%></td>
    <td><%= button_to "删除",:controller=>"admin",:action=>"deleteversion", :id=>version.id %></td>
	</tr>
<% end %>
</table>
<%= link_to "填写新版本信息", :controller=>"admin",:action=>"creatversion"%>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />