<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "jquery.autocomplete.js" %>
<%= stylesheet_link_tag "jquery.autocomplete.css" %>

<div style="width: 700px;height: 700px;" xmlns="http://www.w3.org/1999/html">
  <div>
    用户名：<input type="text" name="username" id="username" title="用户名"> <br>
    本金存入日期：<input type="text" name="date" id="date" title="本金存入日期" onclick="WdatePicker()" class="Wdate">  <br>
    本金金额：<input type="text" name="recordvalue" id="recordvalue" title="本金金额"> <br>
    <a href="javascript:void(0)" id="fundconfig">确认</a>
  </div>
</div>

  <script type="text/javascript">
      <% if params[:id]!="0" %>
      $("#username").attr("value",'<%= @fundinfo[0]%>');
      $("#date").attr("value",'<%= @fundinfo[1]%>');
      $("#recordvalue").attr("value",'<%= @fundinfo[2]%>');
      <% end %>

      $("#fundconfig").click(function(e){
         var o=document.getElementsByTagName("input");
          var nom_flag=0;
          for(var i=0;i<o.length;i++)
          {
              if(o[i].value==""){
                  alert(o[i].title+"为空！");
                  nom_flag=1;
                  break;
              }
          }

          if(nom_flag==0){
                  $.get("/admin/fundconfigajax/<%= params[:id] %>",{ username: $("#username").attr("value"),date: $("#date").attr("value"),
                      recordvalue: $("#recordvalue").attr("value")},function(data){
                      if(data=="nouser"){
                          alert("该用户不存在！");
                      }
                      else if(data=="f"){
                          alert("本金已存在！");
                      }
                      else if(data=="s"){
                          alert("本金添加成功！");
                          location.href='/admin';
                      }
                      else{
                          alert("修改成功！");
                          location.href='/admin';
                      }
                  });
          }
      });

      function user(name)
      {
          this.name=name;
      }
      var username=new Array();

      <% for i in 0..@webusers.size-1%>
      username[<%=i%>]=new user('<%= @webusers[i].username%>');
      <% end %>

      $(function() {
          $('#username').autocomplete(username, {
              max: 12,    //列表里的条目数
              minChars: 0,    //自动完成激活之前填入的最小字符
              width: 150,     //提示的宽度，溢出隐藏
              scrollHeight: 300,   //提示的高度，溢出显示滚动条
              matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
              autoFill: false,    //自动填充
              formatItem: function(row) {
                  return row.name;
              }
          });
      });

  </script>
