<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "admin.css" %>

<div class="main-content">
 <%= %>
  <div class="main-body">
    <div class="content">
      <div class="fthb faded">

        <table class="body-container" cellspacing="0" cellpadding="0" border="0">

          <!-- tr head-->
          <tr><td>
            <table width="100%" class="body-header" cellspacing="0" cellpadding="0">
              <tr><td>
                <div class="crumbs">
                  <a href="/">首页</a>&nbsp; >&nbsp;
                  <a href="/admin/" >admin管理页面</a>
                </div>
              </td></tr>
            </table>
          </td>
          </tr>

          <!-- tr body-content-->
          <tr>
            <!-- td body-content-->
            <td class="body-content">
              <div class="body-content-wrapper" style="max-width: 1000px;">
                <div class="page-interaction">

                  <!-- div2-->
                  <div>
                    <!-- main table-->
                    <table class="block">
                      <tr>
                        <td>
                          <h1>用户管理</h1><br>
<a href="/admin/userconfig/0">新建用户</a>
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="users">
    <thead><tr>
      <th>用户名</th><th>密码</th>
      <th>联系电话</th><th>邮编</th><th>通信地址</th>
      <th>修改</th><th>删除</th><th>投资信息</th>
    </tr></thead>
    <tbody>
     <% @webusers.each do |w|  %>
       <tr>
         <td><%= w.username%></td>
         <td><%= @hash_password[w.id]%></td>
         <td><%= w.tel%></td>
         <td><%= w.postcode%></td>
         <td><%= w.address%></td>
         <td><a href="/admin/userconfig/<%= w.id %>">修改</a></td>
         <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= w.id %>','userdeleteajax')">删除</a></td>
         <td><a href="/privatefund/investrecord/<%= w.id %>">查看</a></td>
       </tr>
    <% end %>
    </tbody>
  </table>
  <br> <br>
                        </td>
                      </tr>

                      <!--
                      <tr>
                        <td>
                          <h2>本金管理</h2><br>

                          <a href="/admin/fundconfig/0">添加本金</a>
                          <table cellpadding="0" cellspacing="0" border="0" class="display" id="funds">
                            <thead><tr>
                              <th>用户名</th><th>投资产品</th><th>本金存入日期</th>
                              <th>本金金额</th>
                              <th>修改</th><th>删除</th><th>查看</th>
                            </tr></thead>
                            <tbody>
                            <% @investfunds.each do |i|  %>
                                <tr>
                                  <td><%= i.username%></td>
                                  <td><%= i.pname%></td>
                                <td><%= i.date.to_s(:stamp)%></td>
                                  <td><%= i.recordvalue%></td>
                                  <td><a href="/admin/fundconfig/<%= i.id %>">修改</a></td>
                                  <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= i.id %>','funddeleteajax')">删除</a></td>
                                <td><a href="/privatefund/investrecord/<%= Webuser.find_by_username(i.username).id%>">查看</a></td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>

                        </td>
                      </tr>
                      -->
                      <!--
                      <tr>
                        <td>
                          <h2>利息管理</h2><br>
                          <h3>下一次提取利息时间：</h3>
                          <table cellpadding="0" cellspacing="0" border="0" class="display" id="interests_r">
                            <thead><tr>
                              <th>用户名</th><th>返还产品</th><th>返还批次</th><th>返还利息日期</th>
                              <th>返还利息金额</th>
                            </tr></thead>
                            <tbody>
                            <% for i in 0..@hash_remind.keys.size-1 %>
                                <tr>
                                  <td><%= @hash_remind[@hash_remind.keys[i]][0]%></td>
                                  <td><%= @hash_remind[@hash_remind.keys[i]][1]%></td>
                                  <td><%= @hash_remind[@hash_remind.keys[i]][2]%></td>
                                  <td><%= @hash_remind[@hash_remind.keys[i]][3]%></td>
                                  <td><%= @hash_remind[@hash_remind.keys[i]][4]%></td>
                                </tr>
                                  <% end %>
                            <% for i in 0..@adminremind.keys.size-1 %>
                                <tr>
                                  <td>admin</td>
                                  <td><%= @adminremind[@adminremind.keys[i]][0]%></td>
                                  <td>0</td>
                                  <td><%= @adminremind[@adminremind.keys[i]][1]%></td>
                                  <td><%= @adminremind[@adminremind.keys[i]][2]%></td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>

                          <br><h3>还没有确认支付的利息：</h3>
                          <table cellpadding="0" cellspacing="0" border="0" class="display" id="interests_c">
                            <thead><tr>
                              <th>用户名</th><th>返还产品</th><th>返还批次</th><th>返还利息日期</th>
                              <th>返还利息金额</th><th>确认</th>
                            </tr></thead>
                            <tbody>
                            <% for i in 0..@hash_confirm.keys.size-1 %>
                                    <tr>
                                  <td><%= @hash_confirm[@hash_confirm.keys[i]][0]%></td>
                                  <td><%= @hash_confirm[@hash_confirm.keys[i]][1]%></td>
                                  <td><%= @hash_confirm[@hash_confirm.keys[i]][2]%></td>
                                  <td><%= @hash_confirm[@hash_confirm.keys[i]][3]%></td>
                                  <td><input id="<%= @hash_confirm.keys[i]%>" style="display: none;" value="<%= @hash_confirm[@hash_confirm.keys[i]][4]%>"><div id="d<%= @hash_confirm.keys[i]%>"><%= @hash_confirm[@hash_confirm.keys[i]][4]%></div></td>
                                      <% if /^[-+]?[0-9]+(\.[0-9]+)?$/.match(@hash_confirm[@hash_confirm.keys[i]][4])!=nil%>
                                  <td><a href="javascript:void(0)" onclick="if(confirm('确认已经支付？'))interestconfirm('<%= @hash_confirm[@hash_confirm.keys[i]][0]%>','<%= @hash_confirm[@hash_confirm.keys[i]][3]%>','<%= @hash_confirm[@hash_confirm.keys[i]][4]%>','<%= @hash_confirm[@hash_confirm.keys[i]][2]%>','<%= @hash_confirm[@hash_confirm.keys[i]][1]%>')">确认</a></td>
                                      <% else %>
                                          <td><a href="javascript:void(0)" onclick="alert('不可确认！')">确认</a></td>
                                   <% end %>
                                    </tr>
                                <% end %>
                            <% for i in 0..@adminconfirm.keys.size-1 %>
                                <tr>
                                  <td>admin</td>
                                  <td><%= @adminconfirm[@adminconfirm.keys[i]][0]%></td>
                                  <td>0</td>
                                  <td><%= @adminconfirm[@adminconfirm.keys[i]][1]%></td>
                                  <td><%= @adminconfirm[@adminconfirm.keys[i]][2]%></td>
                                  <% if /^[-+]?[0-9]+(\.[0-9]+)?$/.match(@adminconfirm[@adminconfirm.keys[i]][2])!=nil%>
                                  <td><a href="javascript:void(0)" onclick="if(confirm('确认已经支付？'))interestconfirm('admin','<%= @adminconfirm[@adminconfirm.keys[i]][1]%>','<%= @adminconfirm[@adminconfirm.keys[i]][2]%>',0,'<%= @adminconfirm[@adminconfirm.keys[i]][0]%>')">确认</a></td>
                                  <% else %>
                                      <td><a href="javascript:void(0)" onclick="alert('不可确认！')">确认</a></td>
                                  <% end %>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>

                        </td>
                      </tr>
                      -->

                      <!--
                      <tr>
                        <td>
                          <h2>产品管理</h2><br>
                          <h3>产品基本信息</h3>
                          <a href="/admin/productconfig/0?optype=edit">添加产品</a>
                          <table cellpadding="0" cellspacing="0" border="0" class="display" id="products">
                            <thead><tr>
                              <th>产品名称</th><th>成立日期</th><th>分红方式</th>
                              <th>分红值</th><th>分红周期</th><th>承受风险</th>
                              <th>修改</th><th>删除</th><th>查看</th>
                            </tr></thead>
                            <tbody>
                            <% @products.each do |p|  %>
                                <tr>
                                  <td><%= p.pname%></td>
                                  <td><%= p.founddate%></td>
                                  <td><%= p.dividendtype%></td>
                                  <td><%= p.dividendvalue%></td>
                                  <td><%= p.period%></td>
                                  <td><%= p.riskvalue%></td>
                                  <td><a href="/admin/productconfig/<%= p.id %>?optype=edit">修改</a></td>
                                  <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= p.id %>','productdeleteajax')">删除</a></td>
                                  <td><a href="/privatefund/index/<%= p.id %>">查看</a></td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                          <h3>产品净值更新表</h3>

  <table cellpadding="0" cellspacing="0" border="0" class="display" id="productsupdate">
    <thead><tr>
      <th>产品名称</th><th>上日结存</th>
      <th>当日盈亏</th><th>更新日期</th>
      <th>更新</th><th>查看净值记录</th><th>查看分红记录</th>
    </tr></thead>
    <tbody>
    <% @products.each do |p|  %>
        <tr>
          <td><%= p.pname%></td>
          <td><%= p.lastprofits%></td>
          <td><%= p.todayprofit%></td>
          <td><%= p.date%></td>
          <td><a href="/admin/productconfig/<%= p.id %>?optype=update">添加/更新</a></td>
          <td> <a href="/admin/productrecords/<%= p.id %>">查看净值</a></td>
          <td> <a href="/admin/interestrecords/<%= p.id %>">查看分红</a></td>
        </tr>
    <% end %>
    </tbody>
  </table>
                        </td>
                      </tr>
                       -->

                    <tr><td>
                      <h1>产品预订</h1>
                      <table cellpadding="0" cellspacing="0" border="0" class="display" id="reserve">
                        <thead><tr>
                          <th>产品名</th><th>银行名</th><th>银行支行</th><th>投资金额</th><th>用户名</th>
                          <th>用户电话</th><th>客户经理名字</th><th>客户经理电话</th><th>状态</th>
                          <th>修改</th>
                        </tr></thead>

                        <% @reserves.each do |b| %>
                            <tr>
                              <td><%= b.bname%></td>
                              <td><%= b.trustee%></td>
                              <td><%= b.bankbranch%></td>
                              <td><%= b.investamount%></td>
                              <td><%= b.username%></td>
                              <td><%= b.tel%></td>
                              <td><%= b.managername%></td>
                              <td><%= b.managertel%></td>
                              <td><%= b.state%></td>
                              <td><a href="/admin/reserveconfig/<%= b.id %>?optype=edit">修改</a></td>
                            </tr>
                        <% end %>
                      </table>
                    </td></tr>

                      <tr><td>
  <h1>银行销售产品管理</h1>
            <a href="/admin/bankfinanceconfig/0">添加</a>
  <label class="checkbox"><input type="checkbox" name="keywords" id="keywords">产品关键词为空的产品。</label>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="bankfinance">
              <thead><tr>
      <th>发行银行</th><th>预期收益率</th><th>是否保本</th>
      <th>投资期限</th><th>产品名称</th><th>产品关键词</th>
                <th>修改</th><th>删除</th><th>查看</th>
              </tr></thead>

              <% @bankfinances.each do |b| %>
                  <tr>
                    <td><%= b.trustee%></td>
                    <td><%= b.returnrate%></td>
                    <td><%= b.btype%></td>
                    <td><%= b.investperiod%></td>
                    <td><%= b.bname%></td>
          <td><%= b.productkeywords%></td>
                    <td><a href="/admin/bankfinanceconfig/<%= b.id %>?optype=edit">修改</a></td>
                    <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= b.id %>','bankfinancedeleteajax')">删除</a></td>
                    <td><a href="">查看</a></td>
                  </tr>
              <% end %>
            </table>
                      </td></tr>

<tr>
  <td>
    <h1>银行大类产品管理</h1><br>
    <a href="/admin/bankproductsconfig/0">添加产品类</a>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="bankproducts">
      <thead><tr>
        <th>银行</th><th>产品名称</th><th>产品代码</th>
        <th>产品类型</th><th>产品风险评级</th>
        <th>适合的投资者</th><th>产品关键字</th><th>修改</th><th>删除</th>
      </tr></thead>
      <tbody>
      <% @bankproducts.each do |w|  %>
          <tr>
            <td><%= w.trustee%></td>
            <td><%= w.bname%></td>
            <td><%= w.bcode%></td>
            <td><%= w.btype%></td>
            <td><%= w.risk%></td>
            <td><%= w.forinvestors%></td>
            <td><%= w.productkeywords%></td>
            <td><a href="/admin/bankproductsconfig/<%= w.id %>">修改</a></td>
            <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= w.id %>','bankproductsdeleteajax')">删除</a></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br> <br>
  </td>
</tr>
       <!--
                      <tr><td>
                        <h1>上传图片</h1>
                        <%= form_tag({:action => 'create'}, :multipart => true) %>
                        选择图片: <%= file_field("file", "file") %><br><br>
                        <%= submit_tag("上传图片") %>
                        </form>
                      </td></tr>
           -->
                      <tr><td>
                        <h1>博客</h1>
                        <a href="/admin/blogconfig/0">添加</a>
                        <table cellpadding="0" cellspacing="0" border="0" class="display" id="blog">
                          <thead><tr>
                            <th>博客标题</th><th>发表人</th><th>发表时间</th>
                            <th>栏目</th><th>图片</th><th>修改</th><th>删除</th><th>查看</th>
                          </tr></thead>

                          <% @blogs.each do |b| %>
                              <tr>
                                <td><%=raw b.btitle%></td>
                                <td><%= b.blname%></td>
                                <td><%= b.publishdate%></td>
                                <td><%= b.bcolumn%></td>
                                <td><%= b.imagepath%></td>
                                <td><a href="/admin/blogconfig/<%= b.id %>">修改</a></td>
                                <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= b.id %>','blogdeleteajax')">删除</a></td>
                                <td><a href="/blog/blogarticle/<%= b.id%>">查看</a></td>
                  </tr>
              <% end %>
            </table>
                      </td></tr>

                    </table>
                  </div>
                </div>

              </div>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>

<script>
    $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                if(oSettings.nTable.id == "bankfinance"){
                    var flag1;
                    var tom=document.getElementsByName("keywords");
                    if(tom[0].checked){
                        if(aData[5]=="newproduct"){
                            flag1=1;
                        }
                    }
                    else{
                        flag1=1;
                    }

                    if(flag1==1){
                        return true;
                    }
                }
                else{
                    return true;
                }
            }
    );

    $(document).ready(function(){
        $('#users,#products,#funds,#interests_r,#interests_c,#productsupdate,#bankfinance,#blog,#reserve,#bankproducts').dataTable();
        var oTable = $('#bankfinance').dataTable();
        $("#keywords").click( function() { oTable.fnDraw(); } );
    });
    function deleteajax(id,type){
        $.get("/admin/"+type+"/"+id,function(data){
            if(data=="s"){
                alert("删除成功！");
                location.reload();
            }
            else{
                alert("删除失败！");
                location.reload();
            }
        });
    }

    function interestconfirm(username,date,value,ordernum,pname){
        $.get("/admin/interestconfirm",{username:username,date:date,recordvalue:value,ordernum:ordernum,pname:pname},function(data){
            if(data=="s"){
                alert("确认成功！");
                location.reload();
            }
            else if(data=="f"){
                alert("确认失败！");
                location.reload();
            }

        })
    }
</script>