<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<a href="/admin/userconfig/0">新建用户</a>
<div style="width: 700px;height: 700px;">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="users">
    <thead><tr>
      <th>用户名</th><th>密码</th>
      <th>联系电话</th><th>通信地址</th>
      <th>利息返还周期</th><th>年化收益率</th>
      <th>修改</th><th>删除</th><th>投资信息</th>
    </tr></thead>
    <tbody>
     <% @webusers.each do |w|  %>
       <tr>
         <td><%= w.username%></td>
         <td><%= @hash_password[w.id]%></td>
         <td><%= w.tel%></td>
         <td><%= w.address%></td>
         <td><%= w.period%></td>
         <td><%= w.returnrate%></td>
         <td><a href="/admin/userconfig/<%= w.id %>">修改</a></td>
         <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= w.id %>','userdeleteajax')">删除</a></td>
         <td><a href="/myaccount/investrecord/<%= w.id %>">查看</a></td>
       </tr>
    <% end %>
    </tbody>
  </table>
  <br> <br>
  <a href="/admin/productconfig/0">添加产品</a>
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="products">
    <thead><tr>
      <th>产品名称</th><th>上日结存</th>
      <th>当日盈亏</th><th>日期</th>
      <th>修改</th><th>删除</th><th>查看</th>
    </tr></thead>
    <tbody>
    <% @products.each do |p|  %>
        <tr>
          <td><%= p.pname%></td>
          <td><%= p.lastprofits%></td>
          <td><%= p.todayprofit%></td>
          <td><%= p.date%></td>
          <td><a href="/admin/productconfig/<%= p.id %>">修改</a></td>
          <td><a href="javascript:void(0)" onclick="if(confirm('确认要删除？'))deleteajax('<%= p.id %>','productdeleteajax')">删除</a></td>
          <td><a href="/products/index/<%= p.id %>">查看</a></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<script>
    $(document).ready(function(){
        $('#users,#products').dataTable();
    });
    function deleteajax(id,type){
        $.get("/admin/"+type+"/"+id,function(data){
            if(data=="s"){
                alert("删除成功！");
                location.reload();
            }
            else{
                alert("删除失败！");
                location.reload();
            }
        });
    }
</script>