<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>

<a onclick="$('#newinterest').fadeOut(300);$('#newinterest').fadeIn(300);" href="javascript:void(0)">添加</a>

  <table cellpadding="0" cellspacing="0" border="0" class="display" id="productrecords">
    <thead><tr>
      <th>产品名称</th><th>用户名</th><th>分红日期</th>
      <th>分红值</th><th>对于本金序号</th>
      <th>修改</th><th>删除</th>
    </tr></thead>
    <tbody>
    <tr style="display: none;" id="newinterest">
      <td><%= @pname  %></td>
      <td><input type="text" id="new_uername" size='6'></td>
      <td><input type="text" id="new_date" size='6'onclick="WdatePicker()" class="Wdate"></td>
      <td><input type="text" id="new_recordvalue" size='6'></td>
      <td><input type="text" id="new_ordernum" size='6'></td>
      <td><a onclick="newinterest()" href="javascript:void(0)">确认</a></td>
      <td><a onclick="$('#newinterest').fadeOut(300);" href="javascript:void(0)">取消</a></td>
    </tr>
    <% @interests.each do |i|  %>
        <tr>
          <td><%= i.pname%></td>
          <td><%= i.username%></td>
          <td><%= i.date.to_date%></td>
          <td><input type="text" value="<%= i.recordvalue%>" id="edit<%= i.id%>_recordvalue" size='6' style="display: none;"><div id="show<%= i.id%>_recordvalue"><%= i.recordvalue%></div></td>
          <td><%= i.ordernum%></td>
          <td><a onclick="editop('<%= i.id%>')" href="javascript:void(0)" id="clickedit<%= i.id%>">修改</a><a href="javascript:void(0)" onclick="ajaxedit('<%= i.id%>')" id="finish<%= i.id%>" style="display: none;">完成</a></td>
          <td>删除</td>
        </tr>
    <% end %>
    </tbody>
  </table>


<script>
  function newinterest(){
      if($("#new_uername").attr("value")==""||$("#new_date").attr("value")==""||$("#new_recordvalue").attr("value")==""||$("#new_ordernum").attr("value")==""){
          alert("有项目为空！");
      }
      else{
          $.get("/admin/interestrecordajax/",{type:"new",username:$("#new_uername").attr("value"),date:$("#new_date").attr("value"),
              recordvalue:$("#new_recordvalue").attr("value"),ordernum:$("#new_ordernum").attr("value"),pname:'<%= @pname%>'},function(data){
              if(data=="s"){
                  alert("添加成功！");
                  location.reload();
              }
              else if(data=="f"){
                  alert("该记录存在！")
              }
          })

      }
  }
  function editop(id){
      $("#edit"+id+"_recordvalue").show();
      $("#show"+id+"_recordvalue").hide();
      $("#clickedit"+id).hide();
      $("#finish"+id).show();
  }
  function ajaxedit(id){
      $.get("/admin/interestrecordajax/"+id,{type:"edit",recordvalue:$("#edit"+id+"_recordvalue").attr("value")},function(data){
          if(data=="s"){
              $("#edit"+id+"_recordvalue").hide();
              $("#show"+id+"_recordvalue").show();
              $("#show"+id+"_recordvalue").html($("#edit"+id+"_recordvalue").attr("value"));
              $("#clickedit"+id).show();
              $("#finish"+id).hide();
          }
          else{
              alert("修改失败！");
              $("#edit"+id+"_lastprofits").hide();
              $("#show"+id+"_lastprofits").show();
              $("#clickedit"+id).show();
              $("#finish"+id).hide();
          }
      })
  }
    $(document).ready(function(){
        $('#productrecords').dataTable({
            "bPaginate":false,
            "aaSorting": [[1,"desc"]]
        });
    });
    function deleteajax(id,type){
        $.get("/admin/"+type+"/"+id,function(data){
            if(data=="s"){
                alert("删除成功！");
                location.reload();
            }
            else{
                alert("删除失败！");
                location.reload();
            }
        });
    }

    function interestconfirm(name,date,value,ordernum){
        $.get("/admin/interestconfirm",{username:name,date:date,recordvalue:value,ordernum:ordernum},function(data){
            if(data=="s"){
                alert("确认成功！");
                location.reload();
            }
            else if(data=="f"){
                alert("确认失败！");
                location.reload();
            }

        })
    }
</script>