<%= javascript_include_tag "ckeditor/ckeditor.js" %>
<%= javascript_include_tag "jquery.min.js" %>
<style>
    .main-body {
        width: 100%;
        border-left: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        background-color: rgb(255, 255, 255);
        border-width: 2px 1px;
        border-style: solid;
        border-color: rgb(85, 85, 85) rgb(204, 204, 204);
    }
</style>

<div class="main-body">
  标题：<input type="text" name="mname" id="mname" title="标题"> <br>
  <% if params[:id]!="0" %>
      内容：<br><textarea class="ckeditor" cols="80" rows="15" name="article" id="article" title="内容"><%= @methodology.article %></textarea>  <br>
  <% else %>
      内容：<br><textarea class="ckeditor" cols="80" rows="15" name="article" id="article" title="内容"></textarea>  <br>
  <% end %>
  <script type="text/javascript">
      CKEDITOR.replace('article', {
          toolbar : 'Full',
          uiColor : '#c6e4ee'
      });
  </script><br>
  <form accept-charset="UTF-8" action="/admin/create" enctype="multipart/form-data" method="post" target="actionframe">
    选择图片: <input id="file_file" name="file[file]" type="file"><br><br>
    <input name="commit" id="create" value="上传图片" type="submit">
  </form>
  图片名称：<input type="text" name="picture" id="picture" title="图片"> <br>
  <a class="btn btn-primary" href="javascript:void(0)" id="categoryconfig">确认</a>
</div>

<script type="text/javascript">
    function getFileName(path){
        var pos1 = path.lastIndexOf('/');
        var pos2 = path.lastIndexOf('\\');
        var pos  = Math.max(pos1, pos2)
        if( pos<0 )
            return path;
        else
            return path.substring(pos+1);
    }

    $("#create").click(function(e){
        if(document.getElementById('file_file').value==''){
            alert('请选择您所要上传的图片');
            return false;
        }
        var name=getFileName(document.getElementById("file_file").value);
        if($("#picture").attr("value")==""){
            $("#picture").attr("value",name)
        }
        else{
            $("#picture").attr("value",$("#picture").attr("value")+','+name)
        }
    });

    <% if params[:id]!="0" %>
    $("#mname").attr("value",'<%= @methodology.mname%>');
    $("#picture").attr("value",'<%= @methodology.picture%>');
    <% end %>
    function CKupdate() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }
    $("#categoryconfig").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;
        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!=""){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }
        CKupdate();
        if(nom_flag==0){
            $.post("/admin/methodconfigajax/<%= params[:id] %>",{ mname: $("#mname").attr("value"),article: $("#article").attr("value"),picture: $("#picture").attr("value")
            },function(data){
                if(data=="s1"){
                    alert("理论依据创建成功！");
                    location.href='/admin';
                }
                else{
                    alert("修改成功！");
                    location.href='/admin';
                }
            });
        }
    });
</script>
