<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<div style="width: 700px;height: 700px;" xmlns="http://www.w3.org/1999/html">
  <div>
    产品名称：<input type="text" name="pname" id="pname" title="产品名称"> <br>
    产品简介：<br><textarea cols="20" rows="5" name="description" id="description"  title="产品简介"></textarea> <br>
    成立日期：<input type="text" name="founddate" id="founddate" title="成立日期" onclick="WdatePicker()" class="Wdate">  <br>
    上日结存：<input type="text" name="lastprofits" id="lastprofits" title="上日结存"> <br>
    当日盈亏：<input type="text" name="todayprofit" id="todayprofit" title="当日盈亏"> <br>
    更新日期：<input type="text" name="date" id="date" title="日期" onclick="WdatePicker()" class="Wdate">  <br>
    <a href="javascript:void(0)" id="productconfig">确认</a>
  </div>
</div>

  <script type="text/javascript">

    var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
      <% if params[:id]!="0" %>
      $("#pname").attr("value",'<%= @productinfo[0]%>');
      $("#description").attr("value",'<%= @productinfo[1]%>');
      $("#lastprofits").attr("value",'<%= @productinfo[2]%>');
      $("#todayprofit").attr("value",'<%= @productinfo[3]%>');
      $("#date").attr("value",'<%= @productinfo[4]%>');
      $("#founddate").attr("value",'<%= @productinfo[5]%>');
      <% end %>

      $("#productconfig").click(function(e){
         var o=document.getElementsByTagName("input");
          var nom_flag=0;
          for(var i=0;i<o.length;i++)
          {
              if(o[i].value==""){
                  alert(o[i].title+"为空！");
                  nom_flag=1;
                  break;
              }
          }
          if( numfor.test($("#lastprofits").attr("value"))==false){
              alert("上日结存必须为数字！");
              nom_flag=1;
          }
          else if(numfor.test($("#todayprofit").attr("value"))==false){
              alert("当日盈亏必须为数字！");
              nom_flag=1;
          }

          if(nom_flag==0){
                  $.get("/admin/productconfigajax/<%= params[:id] %>",{ pname: $("#pname").attr("value"),description: $("#description").attr("value"),founddate: $("#founddate").attr("value"),
                      lastprofits: $("#lastprofits").attr("value"),todayprofit: $("#todayprofit").attr("value"),date: $("#date").attr("value")},function(data){
                      if(data=="f"){
                          alert("产品已存在！");
                      }
                      else if(data=="s"){
                          alert("产品创建成功！");
                          location.href='/admin';
                      }
                      else{
                          alert("修改成功！");
                          location.href='/admin';
                      }
                  });
          }
      });
  </script>
