<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<% if params[:optype]=="update" %>
<div style="width: 700px;height: 700px;" xmlns="http://www.w3.org/1999/html">
  <div>
    产品名称：<%= @productinfo[0]%> <br>
    上日结存：<input type="text" name="lastprofits" id="lastprofits" title="上日结存"> <br>
    当日盈亏：<input type="text" name="todayprofit" id="todayprofit" title="当日盈亏"> <br>
    更新日期：<input type="text" name="date" id="date" title="更新日期" onclick="WdatePicker()" class="Wdate">  <br>
    <a href="javascript:void(0)" id="productconfig">确认</a>
  </div>
</div>

  <script type="text/javascript">

    var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;

      $("#productconfig").click(function(e){
         var o=document.getElementsByTagName("input");
          var nom_flag=0;
          for(var i=0;i<o.length;i++)
          {
              if(o[i].value==""){
                  alert(o[i].title+"为空！");
                  nom_flag=1;
                  break;
              }
          }

          if(nom_flag==0){
          if( numfor.test($("#lastprofits").attr("value"))==false){
              alert("上日结存必须为数字！");
              nom_flag=1;
          }
          else if(numfor.test($("#todayprofit").attr("value"))==false){
              alert("当日盈亏必须为数字！");
              nom_flag=1;
          }
          }

          if(nom_flag==0){
                  $.get("/admin/productconfigajax/<%= params[:id] %>?optype=update",{ lastprofits: $("#lastprofits").attr("value"),
                      todayprofit: $("#todayprofit").attr("value"),date: $("#date").attr("value")},function(data){
                      if(data=="us1"){
                          if(confirm('添加成功，继续添加？')){
                              for(var i=0;i<o.length;i++)
                              {
                                  o[i].value="";
                              }
                          }
                          else
                              location.href='/admin';
                      }
                      else if(data=="us2"){
                          if(confirm('更新成功，继续操作？')){
                              for(var i=0;i<o.length;i++)
                              {
                                  o[i].value="";
                              }
                          }
                          else
                              location.href='/admin';
                      }
                      else{
                          alert("添加失败！");
                          location.href='/admin';
                      }
                  });
          }
      });
  </script>
    <% elsif params[:optype]=="edit" %>
    <div style="width: 700px;height: 700px;" xmlns="http://www.w3.org/1999/html">
      <div>
        产品名称：<input type="text" name="pname" id="pname" title="产品名称"> <br>
        产品简介：<br><textarea cols="60" rows="6" name="description" id="description"  title="产品简介"></textarea> <br>
        格式：简介上的黑体字|简介<br>
        产品详细：<br><textarea cols="80" rows="15" name="description" id="descriptions"  title="产品简介"></textarea> <br>
        格式：项目1:******|项目2:*******(英文冒号)(需要分行的放在最后，用#号隔开)<br>
        成立日期：<input type="text" name="founddate" id="founddate" title="成立日期" onclick="WdatePicker()" class="Wdate">  <br>
        分红方式：
        <input type="radio" name="dividendtype" id="fix" value="fix" checked="true">固定
        <input type="radio" name="dividendtype" id="float" value="float">浮动<br>
        分红值：<input type="text" name="dividendvalue" id="dividendvalue" title="分红值"> <br>
        分红周期：<input type="text" name="period" id="period" title="分红周期"> <br>
        承受风险：<input type="text" name="riskvalue" id="riskvalue" title="承受风险"> <br>
        <a href="javascript:void(0)" id="productconfig_e">确认</a>
      </div>
    </div>

    <script type="text/javascript">
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        <% if params[:id]!="0" %>
        $("#pname").attr("value",'<%= @productinfo[0]%>');
        $("#description").attr("value",'<%= @productinfo[1]%>');
        $("#descriptions").attr("value",'<%= @productinfo[7]%>');
        $("#founddate").attr("value",'<%= @productinfo[2]%>');
        $("#<%= @productinfo[3]%>").attr("checked",true);
        $("#dividendvalue").attr("value",'<%= @productinfo[4]%>');
        $("#period").attr("value",'<%= @productinfo[5]%>');
        $("#riskvalue").attr("value",'<%= @productinfo[6]%>');
        <% end %>

        $("#productconfig_e").click(function(e){
            var od=document.getElementsByName("dividendtype");
            var dividendtype;
            for(var i=0;i<od.length;i++){
              if(od[i].checked){
                  dividendtype=od[i].value;
                  break;
              }
            }
            var o=document.getElementsByTagName("input");
            var nom_flag=0;
            for(var i=0;i<o.length;i++)
            {
                if(o[i].value==""){
                    alert(o[i].title+"为空！");
                    nom_flag=1;
                    break;
                }
            }
            if(nom_flag==0){
            if( numfor.test($("#dividendvalue").attr("value"))==false){
                alert("分红值必须为数字！");
                nom_flag=1;
            }
            else if(numfor.test($("#period").attr("value"))==false){
                alert("当日盈亏必须为数字！");
                nom_flag=1;
            }
            else if(numfor.test($("#riskvalue").attr("value"))==false){
                alert("投资风险必须为数字！");
                nom_flag=1;
            }
            }
            if(nom_flag==0){
                $.post("/admin/productconfigajax/<%= params[:id] %>?optype=edit",{ pname: $("#pname").attr("value"),description: $("#description").attr("value"),founddate: $("#founddate").attr("value"),
                    dividendtype: dividendtype,dividendvalue: $("#dividendvalue").attr("value"),period: $("#period").attr("value"),
                    riskvalue: $("#riskvalue").attr("value"),descriptions: $("#descriptions").attr("value")},function(data){
                    if(data=="ef"){
                        alert("产品已存在！");
                    }
                    else if(data=="es"){
                        alert("产品创建成功！");
                        location.href='/admin';
                    }
                    else{
                        alert("修改成功！");
                        location.href='/admin';
                    }
                });
            }
        });
    </script>

<% end %>
