<style>
  form{margin-bottom: 0;}
  td{vertical-align: top;}
</style>

<div style="width: 700px;">
  <div>
    <table>
      <tr><td>用户名：</td><td><input type="text" name="username" id="username" title="用户名"></td></tr>
      <tr><td>电子邮箱：</td><td><input type="text" name="email" id="email" title="电子邮箱地址"></td></tr>
      <tr><td>联系电话：</td><td><input type="text" name="tel" id="tel" title="电话号码"></td></tr>
      <tr><td>我的梦想：</td>
        <td>
          <select  name="dream" id="dream" title="我的梦想">
            <option value="购房置业">购房置业</option>
            <option value="购车">购车</option>
            <option value="养老">养老</option>
            <option value="子女教育">子女教育</option>
            <option value="度假旅游">度假旅游</option>
            <option value="结婚">结婚</option>
            <option value="装修">装修</option>
          </select>
        </td>
      </tr>
      <tr><td>实现梦想金额：</td><td><input type="text" name="amount" id="amount" title="实现梦想金额"></td></tr>
      <tr><td>何时梦想成真：</td>
        <td>
          <select name="realizetime" id="realizetime" title="何时梦想成真"></select>
        </td>
      </tr>
      <tr><td>已有存款：</td><td><input type="text" name="exeitdeposit" id="exeitdeposit" title="已有存款"></td></tr>
      <tr><td>每月可存款：</td><td><input type="text" name="monthpay" id="monthpay" title="每月可存款"></td></tr>
      <tr><td>您愿意给理财师支付：</td><td><input type="text" name="scharge" id="scharge" title="您愿意给理财师支付"  placeholder="最低为10元"></td></tr>
      <tr><td>会员信息审核：</td><td>
        <input type="text" name="confirm" id="confirm" title="会员信息审核"></td>
      <tr><td>银行理财产品：</td><td>
        <input type="text" name="bankfinancep" id="bankfinancep"></td>
      <tr><td>债券型基金：</td><td>
        <input type="text" name="deptp" id="deptp"></td>
      <tr><td>货币型基金：</td><td>
        <input type="text" name="stockp" id="stockp"></td>
      <tr><td>指数型基金：</td><td>
        <input type="text" name="trustp" id="trustp"></td>
      <tr><td>备注：</td><td>
        <textarea rows="8" name="remark" id="remark" title="备注"></textarea>
      </td></tr>
      <tr><td colspan="2">
        <a href="javascript:void(0)" id="userconfig" class="btn btn-primary pull-right">确认</a>
      </td></tr>
    </table>
  </div>
</div>

  <script type="text/javascript">
      $(document).ready(function(){
          for(var a=2014;a<=2064;a++){
              document.getElementById("realizetime").options.add(new Option(a,a));
          }
          <% if params[:id]!="0" %>
          $("#username").attr("value",'<%= @webuser.username %>');
          $("#username").attr("disabled",true);
          $("#email").attr("value",'<%= @webuser.email %>');
          $("#tel").attr("value",'<%= @webuser.tel %>');
          $("#dream").attr("value",'<%= @webuser.dream %>');
          $("#amount").attr("value",'<%= @webuser.amount %>');
          $("#realizetime").attr("value",'<%= @webuser.realizetime %>');
          $("#exeitdeposit").attr("value",'<%= @webuser.exeitdeposit %>');
          $("#monthpay").attr("value",'<%= @webuser.monthpay %>');
          $("#scharge").attr("value",'<%= @webuser.scharge %>');
          $("#remark").attr("value",'<%= @webuser.remark %>');
          $("#confirm").attr("value",'<%= @webuser.confirm %>');
          $("#bankfinancep").attr("value",'<%= @webuser.bankfinancep %>');
          $("#deptp").attr("value",'<%= @webuser.deptp %>');
          $("#stockp").attr("value",'<%= @webuser.stockp %>');
          $("#trustp").attr("value",'<%= @webuser.trustp %>');
          <% end %>
      });


      $("#userconfig").click(function(e){
         var o=document.getElementsByTagName("input");
          var nom_flag=0;
          for(var i=0;i<o.length;i++)
          {
              if(o[i].value=="" && o[i].title!=""){
                  alert(o[i].title+"为空！");
                  nom_flag=1;
                  break;
              }
          }

          if(nom_flag==0){
                  $.get("/admin/userconfigajax/<%= params[:id] %>",{ username: $("#username").attr("value"),email: $("#email").attr("value"),
                      tel: $("#tel").attr("value"),dream: $("#dream").attr("value"),amount: $("#amount").attr("value"),
                      realizetime: $("#realizetime").attr("value"),investamount: $("#investamount").attr("value"),monthpay: $("#monthpay").attr("value"),update: 1,
                      bankfinancep: $("#bankfinancep").attr("value"),deptp: $("#deptp").attr("value"), stockp: $("#stockp").attr("value"), trustp: $("#trustp").attr("value"),
                      scharge: $("#scharge").attr("value"),remark: $("#remark").attr("value"),confirm: $("#confirm").attr("value"),isauto: 0
                  },function(data){
                      if(data=="f"){
                          alert("用户名已注册！");
                      }
                      else if(data=="s"){
                          alert("用户注册成功！");
                          location.href='/admin';
                      }
                      else{
                          alert("修改成功！");
                          location.href='/admin';
                      }
                  });
          }
      });
  </script>
