<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "usersurvey.css" %>
<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "ckeditor/ckeditor.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<style>
    .main-footer{ display: none; }
   select{width: 223px;}
   #date{width: 210px;}
</style>

<div class="main-content">
    <table style="margin: 0 auto;">
      <tr><td><p>我的梦想：</p></td>
        <td class="right"><select  name="type" id="type" title="我的梦想">
          <option value="家庭整体规划">家庭整体规划</option>
          <option value="购房置业">购房置业</option>
          <option value="购车">购车</option>
          <option value="养老">养老</option>
          <option value="子女教育">子女教育</option>
          <option value="度假旅游">度假旅游</option>
          <option value="结婚">结婚</option>
          <option value="装修">装修</option>
        </select></td>
      </tr>
      <tr><td><p>所在城市：</p></td>
        <td class="right"><input class="input-large" type="text" id="area"  valType="NOTNULL" msg="请输入您所在城市！" title="所在城市"></td></tr>
      <tr><td><p>实现梦想金额：</p></td>
        <td class="right"><input class="input-large" type="text" id="amount"  valType="NUMBER" msg="实现梦想金额必须是数字！" title="实现梦想金额"></td></tr>
      <tr><td><p>准备何时梦想成真：</p></td>
        <td class="right"><input type="text" name="date" id="date"  valType="DAY" msg="日期格式不对！" title="准备何时梦想成真" onclick="WdatePicker()" class="Wdate"></td></tr>
      <tr><td><p>已有存款：</p></td>
        <td class="right"><input class="input-large demo-form-name nuser deposit" id="deposit" type="text" valType="NUMBER" msg="已有存款必须是数字！" title="已有存款"></td></tr>
      <tr><td><p>每月可存款：</p></td>
        <td class="right"><input class="input-large demo-form-name nuser monthpay" id="monthpay" type="text" valType="NUMBER" msg="每月可存款必须是数字！" title="每月可存款"></td><td></td></tr>
            <tr><td><p>备注：</p></td>
        <td class="right"><input class="input-large demo-form-name nuser remark" id="remark" type="text" valType="NOTNULL" msg="请输入备注！" title="备注"></td><td></td></tr>
            <tr><td><p>您愿意给理财师支付：</p></td>
        <td class="right"><input class="input-large demo-form-name nuser scharge" id="scharge" type="text" valType="NUMBER" msg="每月可存款必须是数字,且最低为1元！" title="每月可存款" placeholder="最低为1元"></td><td></td></tr>

      <tr>
        <td colspan="2" class="present" style="vertical-align: bottom;">
          <br>
          <a class="btn btn-primary pull-right res" href="javascript:void(0)" id="submit"> 支付宝付款 </a>
          <span class="pull-right" style="margin: 30px 30px 0 0;">满意后付款</span>
        </td>
      </tr>
    </table>
</div>

<script>
    $(function(e) {
        var vali=new Validators();
        $("#submit").bind("click", vali.subByJs);
    });
    //submit之前对所有表单进行验证
    function beforeSubmit() {
        var flag=true;
        var b="[valType]";
        $.each($(b),function(i, n) {
            //清除可能已有的提示信息
            $(n).poshytip('hide');
            if($(n).attr("valType")=='required') {//对不能为空的文本框进行验证
                if($(n).val()=='') {
                    //显示tips
                    $(n).poshytip('show');
                    flag=false;
                }
            }
            else if($(n).attr("valType")=='OTHER') {//对自定义的文本框进行验证
                if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')}))) {
                    $(n).poshytip('show');
                    flag=false;
                }
            }
            else {//对使用已定义规则的文本框进行验证
                if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'),reg:$(this).attr('id')}))) {
                    $(n).poshytip('show');
                    flag=false;
                }
            }
        });
        return flag;
    }
    $(function(){
        //拦截form,在form提交前进行验证
        $('form').bind('submit',beforeSubmit);

        //为带有valType属性的元素初始化提示信息并注册onblur事件
        $.each($("[valType]"),function(i, n) {
            $(n).poshytip({
                className: 'tip-yellowsimple',
                content: $(n).attr('msg'),
                showOn: 'none',
                alignTo: 'target',
                alignX: 'right',
                alignY: 'center',
                offsetX: 5,
                offsetY: 10
            });
            $(n).bind('blur',validateBefore);

        });

        //定义一个验证器
        $.Validator=function(para) {
        }

        $.Validator.ajaxValidate=function() {
            var nom_flag=0;
            if(!beforeSubmit()){
                nom_flag=1;
            }
            if(nom_flag==0){
              <% if session[:webusername]==nil %>
                location.href="/sales/login?type="+$("#type").attr("value")+"&area="+$("#area").attr("value")+"&amount="+$("#amount").attr("value")+"&date="+$("#date").attr("value")+"&deposit="+$("#deposit").attr("value")+"&monthpay="+$("#monthpay").attr("value")+"&scharge="+$("#scharge").attr("value")+"&scharge="+$("#scharge").attr("value");
              <% else %>
                location.href="/usersurvey/pay";
              <% end %>
            }
        }

        //验证的方法
        $.Validator.match=function(para) {
            //定义默认的验证规则
            var defaultVal = {
                NUMBER : "^[0-9]*$",
                TEL : "^0(10|2[0-5789]|\\d{3})-\\d{7,8}$",
                IP : "^((\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])\\.){3}(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])$",
                MOBILE : "^1(3[0-9]|5[0-35-9]|8[0235-9])\\d{8}$",
                MAIL : "^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$",
                IDENTITY : "((11|12|13|14|15|21|22|23|31|32|33|34|35|36|37|41|42|43|44|45|46|50|51|52|53|54|61|62|63|64|65|71|81|82|91)\\d{4})((((19|20)(([02468][048])|([13579][26]))0229))|((20[0-9][0-9])|(19[0-9][0-9]))((((0[1-9])|(1[0-2]))((0[1-9])|(1\\d)|(2[0-8])))|((((0[1,3-9])|(1[0-2]))(29|30))|(((0[13578])|(1[02]))31))))((\\d{3}(x|X))|(\\d{4}))",
                CHINESE : "^([\u4E00-\uFA29]|[\uE7C7-\uE7F3])*$",
                URL : "^http[s]?://[\\w\\.\\-]+$" ,
                NOTNULL : "^.*$"   ,
                DAY: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            };
            var flag=false;
            if(para.rule=='OTHER') {//自定义的验证规则匹配
                flag=new RegExp(para.regString).test(para.data);
            }
            else {
                if(para.rule in defaultVal) {//默认的验证规则匹配
                    flag=new RegExp(defaultVal[para.rule]).test(para.data);
                }
            }
            if(para.reg=='scharge'){
                if(para.data<1){
                    flag=false;
                }
            }
            return flag;
        }

        //为jquery扩展一个doValidate方法，对所有带有valType的元素进行表单验证，可用于ajax提交前自动对表单进行验证
        $.extend({
            doValidate: function() {
                return $.Validator.ajaxValidate();
            }
        });

    });

    //输入框焦点离开后对文本框的内容进行格式验证
    function validateBefore() {
        //验证通过标识
        var flag=true;
        //获取验证类型
        var valType=$(this).attr('valType');
        //获取验证不通过时的提示信息
        var msg=$(this).attr('msg');
        //自定义的验证字符串
        var regString;

        if(valType=='OTHER') {//如果类型是自定义，则获取自定义的验证字符串
            regString=$(this).attr('regString');
            flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')});
        }
        else {//如果类型不是自定义，则匹配默认的验证规则进行验证
            if($(this).attr('valType')=='required') {//不能为空的判断
                if($(this).val()=='') {
                    flag=false;
                }
            }
            else {//已定义规则的判断
                flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType')});
            }
        }
        //先清除原来的tips
        $(this).poshytip('hide');
        //如果验证没有通过，显示tips
        if(!flag) {
            $(this).poshytip('show');
        }
    }


    //下面是测试代码，不属于验证器的功能代码之内
    //用原型的方式来模拟js的类
    function Validators() {

    }

    Validators.prototype.subByJs=function(e) {
        if($.doValidate()) {
            alert('验证通过');
            //todo
        }
    }
</script>