<%= stylesheet_link_tag "common2.css" %>
<%= stylesheet_link_tag "founder.css" %>
<%= javascript_include_tag "base.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "highcharts.js" %>

<style type="text/css">
 .modal-body input{
      width: 40px; text-align: center;
  }
</style>

<script>
    function onReady(fn){onReady.fns.push(fn)}
    onReady.fns=[]
</script>

<div class="welcomes goal">
<div class="ofa-funnel-pages">
<div id="page-wrapper">
<div id="page-content">
<a class="home" href="/">首页</a>
<h1>
  <span id="title">理财目标选择</span>
          <div id="q-numbers" class="hide" style="right: 205px;"><b class="q-num curr"></b><b class="q-num"></b></div>
</h1>

<div id="questionnaire-view">
<div id="questionnaire">
<div class="question first">
  <table id="tiles">
    <tbody>
    <tr>
      <td><a class="img1"  href="#myModal" role="button" data-toggle="modal"></a></td>
      <td><a class="img2" href="#myModal2" role="button" data-toggle="modal"></a></td>
      <td><a class="img3" href="#myModal4" role="button" data-toggle="modal"></a></td>
    </tr>
    <tr>
      <td><a class="img4" href="#myModal6" role="button" data-toggle="modal"></a></td>
      <td><a class="img5" href="#myModal5" role="button" data-toggle="modal"></a></td>
      <td><a class="img6" href="#myModal7" role="button" data-toggle="modal"></a></td>
    </tr>
    </tbody>
  </table>
  <input type="checkbox" class="hide">
</div>

            <div class="question second">
              <div id="num" style="height: 1570px;overflow: auto;">
              <h2><span>1</span>目标的重要性：</h2>
              <p class="q-text">现代社会的理财之路，不仅需要了解国家政策、寻找到各种投资机会之外，我们还要强调一下制定理财目标的重要性。如同出海要有一个目的地一样，我们需要明确自己家庭朝着哪一个方向发展。理财理的是资产，规划的是生活。</p>
              <p class="q-text">一个好的理财目标，最好能有明确的投资金额、时间跨度和有明确的结果。有了明确的目标，你才会去懂得不断在实践中去修正和完善，你的理财很可能更顺利一些。</p>
              <div style="display: table;width: 100%;"><a class="introduce pull-right" href="#myModal9" role="button" data-toggle="modal" tabindex="-1">我真的需要设置理财目标吗？</a></div>
              <h2><span>2</span>目标的阶段性：</h2>
              <p class="q-text">明天你要做什么?不管你是否相信，这个问题包含了财富目标的确立。<br>
                -- 短期目标是指在下一个年度就要达到的目标，比如为假期存钱和为还小债存钱等。<br>
                -- 中期目标是指2-5年的目标。<br>
                -- 长期目标是指5年以上的财富计划，比如退休储蓄、子女的高等教育费用或购买度假屋等。</p>
              <p class="q-text">长期目标的确立应与短期和中期目标组合规划，设计和实现短期目标通常是走向长期目标成功之路的基础。例如：付分期购房贷款是短期目标，但却是实现“拥有自己的房子”这个长期目标的基础。</p>
              <h2><span>3</span>目标的更新频率：</h2>
              <p class="q-text">理财目标更新频率是理财规划过程中的一个组成部分。有些目标，如储蓄去度假，一般是每年都有的。而其他目标，如高等教育、汽车或住房，更新的频率就相对少了。</p>
              <h2><span>4</span>您的目标概述：</h2>
              <div class="left">
   <table id="target" class="table table-striped table-bordered">
     <thead>
     <tr><th>目标描述</th><th>现需资金</th><th>实现所需年限</th><th>属性</th><th>到期所需资金</th><th>每年投入</th><th>每月投入</th><th>需要投资报酬率</th></tr>
     </thead>
     <% for i in 0..5 %><tr class="goals<%= i %> hide"><% for i in 0..7 %><td></td><% end %></tr><% end %>
     <tr></tr>
   </table>
  <blockquote><small class="intro">上表基于如下假设：<span>通货膨胀率 6%</span><span>投资回报率 4%-10%</span><span>退休后净报酬率 2%</span><span>学费增长率 6%</span><span>薪资成长率 5%</span><span>退休金增长率 3%</span><span>社会平均寿命： 80岁</span></small></blockquote>
              </div>
              <div style="display: table;width: 100%;"><a class="introduce pull-right" onclick="showQn(0)">修改理财目标</a></div>
              <h2><span>5</span>目标实现准备：</h2>
              <p class="q-text" id="intro"></p>
              <div class="left">
                <table id="calculate" class="table table-striped table-bordered"></table>
                <a id="tnext" class="pull-right">下一页</a><a id="tback" class="pull-right grey" name="0">上一页</a>
                <div id="container" style="width: 100%;height: 300px;"></div>
              </div>
  <input type="checkbox" class="hide">
</div>
</div>
          </div>
<div id="q-fade-t"></div>
<div id="q-fade-b"></div>
</div>
<div id="q-buttons">
  <button class="q-button light-gray big-button" style="line-height: 16px;" id="q-back"><span>上一项</span></button>
  <button class="q-button orange-button big-button" id="q-next">下一项</button>
  <button class="q-button orange-button big-button" id="q-submit">风险评估</button>

  <p class="q-privacy">
    <span class="q-privacy-1">这是匿名的，所以你可以如实回答<span class="win">，</span></span>
    <span class="win">我们不会问你的身份识别信息，除非阁下主动联系我们。</span>
  </p>
</div>
</div>
</div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>买房梦想描述</h3>
  </div>
  <div class="modal-body">
    我准备用<input type="text" id="target_period1" onkeyup="updatenum(this)">年时间来实现买房的梦想，我希望买的房子大约总价是<input type="text" id="amount10" class="amount1" onkeyup="updatenum(this)">万。<br>
    我应该会向父母亲戚借<input type="text" id="amount11" class="amount1" onkeyup="updatenum(this)">万元，向银行商业贷款<input type="text" id="amount12" class="amount1" onkeyup="updatenum(this)">万元，公积金贷款<input type="text" id="amount13" class="amount1" onkeyup="updatenum(this)">万元，
    所以我只需要在这几年内准备首付金额 <span id="target_value1">0</span> 万元就可以了。
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="target1">确认</button>
  </div>
</div>
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>买车梦想描述</h3>
  </div>
  <div class="modal-body">
    我准备用<input type="text" id="target_period2" onkeyup="updatenum2(this)">年时间来实现买车的梦想，我希望买的车子大约总价是<input type="text" id="amount20" class="amount2" onkeyup="updatenum2(this)">万。<br>
    我应该会向亲戚或银行借<input type="text" id="amount21" class="amount2" onkeyup="updatenum2(this)">万元，所以我只需要在这几年内准备资金 <span id="target_value2">0</span> 万元。
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="target2">确认</button>
  </div>
</div>
<div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>结婚梦想描述</h3>
  </div>
  <div class="modal-body">
    我准备用<input type="text" id="target_period3" onkeyup="updatenum3(this)">年时间来准备结婚，我预估这次婚礼准备开销将在<input type="text" id="amount30" class="amount3" onkeyup="updatenum3(this)">万元左右，
    我会向父母借<input type="text" id="amount31" class="amount3" onkeyup="updatenum3(this)">万元左右，所以我只需要准备 <span id="target_value3">0</span> 万元。
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="target3">确认</button>
  </div>
</div>
<div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>结婚梦想描述</h3>
  </div>
  <div class="modal-body">
    我想去<input type="text" id="amount40">旅游度假，我准备用<input type="text" id="target_period4" class="amount4" onkeyup="updatenum4(this)">年时间来准备预算和工作假期，
    我预估这次旅游的开销将在<input type="text" id="target_value4" class="amount4" onkeyup="updatenum4(this)">万元左右。
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="target4">确认</button>
  </div>
</div>
<div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>结婚梦想描述</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered">
      <thead><tr><th>上学阶段</th><th>年数</th><th>年均支出（元）</th><th>总支出（元）</th></tr></thead>
      <tr><td>幼儿园</td><td>3</td><td>5400</td><td>162000</td></tr>
      <tr><td>小学</td><td>6</td><td>11100</td><td>66600</td></tr>
      <tr><td>初中</td><td>3</td><td>15200</td><td>45600</td></tr>
      <tr><td>高中</td><td>3</td><td>31000</td><td>93000</td></tr>
      <tr><td>总和</td><td>15</td><td></td><td>221400</td></tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="target5">确认</button>
  </div>
</div>
  <div id="myModal7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>结婚梦想描述</h3>
    </div>
    <div class="modal-body">
      您当前家庭月正常开销将是<%= @userdatamonth.must_expense_month %>元，您现在是<%= @webuser.age %>岁，您距离退休年纪还有<% if @webuser.age<=65 %><%= 65-@webuser.age %><% else %>0<% end %>年。
      假设80岁之前，您还希望维持当前的生活水准，则需要<%= (@userdatamonth.must_expense_month*12*15).to_f/10000 %>万元。
      所以您需要在这<% if @webuser.age<=65 %><%= 65-@webuser.age %><% else %>0<% end %>年内准备将近<%= (@userdatamonth.must_expense_month*12*15).to_f/10000 %>万的退休基金。
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="target6">确认</button>
    </div>
  </div>
  <div id="myModal8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>计算过程</h3>
    </div>
    <div class="modal-body">
      <table id="compute" class="table table-striped table-bordered">
        <thead><tr><th>年数</th><th>通货膨胀下实际所需资金量</th></tr></thead>
        <tbody id="newbody"></tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确认</button>
    </div>
  </div>
  <div id="myModal9" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>我真的需要设置理财目标吗？</h3>
    </div>
    <div class="modal-body">
      <% if @blog!=nil %>
          <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/savemoneytarget1.png"><br><br>
          <%=raw @blog.barticle %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确认</button>
    </div>
  </div>
</div>

<script>
    var count=new Array();
    $(document).ready(function(){
        <% if @targets!=nil %>
        <% @targets.each do |t| %>
        <% if t.user_target=="买房" %>
        $("#target_period1").attr("value","<%= t.user_target_period %>")
        $("#target_value1").html("<%= t.user_target_value %>")
        <% elsif t.user_target=="买车" %>
        $("#target_period2").attr("value","<%= t.user_target_period %>")
        $("#target_value2").html("<%= t.user_target_value %>")
        <% elsif t.user_target=="结婚" %>
        $("#target_period3").attr("value","<%= t.user_target_period %>")
        $("#target_value3").html("<%= t.user_target_value %>")
        <% elsif t.user_target=="旅游度假" %>
        $("#target_period4").attr("value","<%= t.user_target_period %>")
        $("#target_value4").attr("value","<%= t.user_target_value %>")
        <% end %>
        <% end %>
       <% end %>
    });

    function updatenum(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        if(numfor.test(e.value)==false && e.value!=""){
            $("#"+e.id).attr('value',0);
        }
        if(e.id=="amount10" || e.id=="amount11" || e.id=="amount12" || e.id=="amount13"){
            if($("#amount10").attr('value')-$("#amount11").attr('value')-$("#amount12").attr('value')-$("#amount13").attr('value')<0){
                $("#"+e.id).addClass("invalid");
            }
            else{
                $(".amount1").removeClass("invalid");
            }
            $("#target_value1").html($("#amount10").attr('value')-$("#amount11").attr('value')-$("#amount12").attr('value')-$("#amount13").attr('value'));
        }
    }
    function updatenum2(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        if(numfor.test(e.value)==false && e.value!=""){
            $("#"+e.id).attr('value',0);
        }
        if(e.id=="amount20" || e.id=="amount21"){
            if($("#amount20").attr('value')-$("#amount21").attr('value')<0){
                $("#"+e.id).addClass("invalid");
            }
            else{
                $(".amount2").removeClass("invalid");
            }
            $("#target_value2").html($("#amount20").attr('value')-$("#amount21").attr('value'));
        }
    }
    function updatenum3(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        if(numfor.test(e.value)==false && e.value!=""){
            $("#"+e.id).attr('value',0);
        }
        if(e.id=="amount30" || e.id=="amount31"){
            if($("#amount30").attr('value')-$("#amount31").attr('value')<0){
                $("#"+e.id).addClass("invalid");
            }
            else{
                $(".amount3").removeClass("invalid");
            }
            $("#target_value3").html($("#amount30").attr('value')-$("#amount31").attr('value'));
        }
    }
    function updatenum4(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        if(numfor.test(e.value)==false && e.value!=""){
            $("#"+e.id).attr('value',0);
        }
    }

    $("#target1").click(function(){
        $.post("/usersurvey/target1",{username:'<%= session[:webusername] %>',target:"买房",target_period:$("#target_period1").attr("value"),target_value:$("#target_value1").html()},function(data){
           showQn(1);
        });
    })
    $("#target2").click(function(){
        $.post("/usersurvey/target1",{username:'<%= session[:webusername] %>',target:"买车",target_period:$("#target_period2").attr("value"),target_value:$("#target_value2").html()},function(data){
           showQn(1);
        });
    })
    $("#target3").click(function(){
        $.post("/usersurvey/target1",{username:'<%= session[:webusername] %>',target:"结婚",target_period:$("#target_period3").attr("value"),target_value:$("#target_value3").html()},function(data){
           showQn(1);
        });
    })
    $("#target4").click(function(){
        $.post("/usersurvey/target1",{username:'<%= session[:webusername] %>',target:"旅游度假",target_period:$("#target_period4").attr("value"),target_value:$("#target_value4").attr("value")},function(data){
           showQn(1);
        });
    })
    $("#target5").click(function(){
        $.post("/usersurvey/target1",{username:'<%= session[:webusername] %>',target:"子女教育",target_period:15,target_value:22.14},function(data){
           showQn(1);
        });
    })
    $("#target6").click(function(){
        <% if @webuser.age<=65 %>
        var year='<%= 65-@webuser.age %>';
        <% else %>
        var year=0
        <% end %>

        $.post("/usersurvey/target1",{username:'<%= session[:webusername] %>',target:"退休计划",target_period:year,target_value:'<%= (@userdatamonth.must_expense_month*12*15).to_f/10000 %>'},function(data){
           showQn(1);
        });
    })
    function model(e){
        var text="<tr><td></td><td>6%</td></tr>"
       for(var i=1;i<count[e].length;i++){
           text=text+"<tr><td>"+i+"</td>"+"<td>"+count[e][i]+"</td></tr>"
       }
        $("#newbody").html(text);
    }
</script>

<script>

    $(function(){
        window.onerror = function(error, url, lineNumber) {
            var payload = {"rev": "80126", "error": error, "agent": navigator.userAgent, "stack": []};

            // begin ie9 only stack trace grabbing
            var value = arguments.callee;
            for(i=0; i!=10; ++i) {
                if(value.caller) {
                    payload.stack.push(value.caller.toString());
                    value = value.caller;
                }
            }

            if (!w.jsErrors[payload]) {
                w.jsErrors[payload] = true;
                w.trackESP("ClientSideError", location.href, JSON.stringify(payload));
            }

            return false;
        }
        $.each(onReady.fns, function(i,f) {f()});
    });
</script>

<script>

    var $qv = $("#questionnaire-view");
    var $qr = $("#questionnaire");
    var accountMin = 0;

    $("#questionnaire-view .ktip-link").bind("tip.show", function() {
        w.trackEvent("OFA", "questionnaire_faq_show", this.id);
    });

    $("#q-numbers").delegate(".q-num.past", "click", function() {
        var $i = $qr.find(".invalid");
        if ($i.length) {
            $i.focus().select();
        } else {
            showQn($(this).index());
        }
    });

    $qr.data("vals", 0)
            .data("init", function(doCalc) {

                $("#q-back,#q-next").click(function(e) {
                    $("html,body").animate({"scrollTop":"0"},"slow")
                    var back = this.id == "q-back";
                    if (back) {
                        w.trackEvent("OFA", "questionnaire_back");
                    } else {
                        w.trackEvent("OFA", "questionnaire_next", qPayload());
                    }
                    var new_q_num = $qr.data("q") + (back ? -1 : 1);
                    showQn(new_q_num);
                });
                $("#q-submit").click(function(e) {
                    location.href='/home/questions';
                });
                function qPayload() {
                    var $n = $qr.find("input[tabindex=0]").filter(":checked");
                    if (!$n.length) {
                        $n = $n.end();
                    }
                    return $n.attr("name") + ":" + $n.val();
                }
                showQn(0);
            });

    $("#tback,#tnext").click(function(){
        var length=$("#calculate tbody").find("tr").size();
        var total= Math.ceil(length/8);
        var page=parseInt($("#tback").attr("name"));
        if(this.id=="tnext"){
            if(page<total-1){
                page=page+1
            }
        }
        else if(this.id=="tback"){
            if(page>0){
                page=page-1;
            }
        }
        if(total<=1){
            $("#tback,#tnext").addClass("grey");
        }
        else if(page==0){
            $("#tback").addClass("grey");
            $("#tnext").removeClass("grey");
        }
        else if(page==total-1){
            $("#tback").removeClass("grey");
            $("#tnext").addClass("grey");
        }
        else{
            $("#tback,#tnext").removeClass("grey");
        }
        $("#tback").attr("name",page);
        $("#calculate tbody tr").addClass("hide");
        for(i=page*8;i<(page+1)*8;i++){
            $("#calculate tbody tr:eq("+i+")").removeClass("hide");
        }
    });

    function showQn(i, immediately) {
        $("html,body").animate({"scrollTop":"0"},"slow")
        var $qns = $qr.children(".question");
        var $qn = $qns.eq(i);
        var test_div=document.getElementById("questionnaire-view");
        if(i==0){
            $("#title").html("理财目标选择");
            test_div.style.height="600px";
        }
        if(i==1){
            $("#title").html("目标描述");
            test_div.style.height="1600px";
            $.post("/usersurvey/targets",{username:'<%= session[:webusername] %>'},function(data){
                $("[class*='goals']").hide();
             for(j=0;j<parseInt(data["length"][0]);j++){
                 $(".goals"+ j).show();
                 $(".goals"+ j + " td:eq(0)").html(data[j][0]);
                 $(".goals"+ j + " td:eq(1)").html(data[j][2]+"万");
                 $(".goals"+ j + " td:eq(2)").html(data[j][1]+"年");
                 $(".goals"+ j + " td:eq(3)").html(data[j][3]);
                 $(".goals"+ j + " td:eq(4)").html(parseInt(parseInt(data[j][2])*10000*Math.pow(1.06,data[j][1]))+" <a href='#myModal8' role='button' data-toggle='modal' onclick='model("+j+")'>(?)</a>");
                 $(".goals"+ j + " td:eq(5)").html(data["length"][1]);
                 $(".goals"+ j + " td:eq(6)").html(data["length"][2]);
                 count[j]=new Array();
                 for(var k=1;k<=data[j][1];k++){
                     count[j][k]=parseInt(parseInt(data[j][2])*10000*Math.pow(1.06,k))
                 }

                 var x=100,y=0;
                    while(Math.abs(x-y)>Math.pow(0.1,7)){
                      var z=parseFloat(x+y)/2
                        if(data["length"][1]*(1+z)*(Math.pow(1+z,data[j][1])-1)/z+data["length"][3]*Math.pow(1+z,data[j][1])>parseInt(parseInt(data[j][2])*10000*Math.pow(1.06,data[j][1]))){
                        x=z
                     }
                     else{
                         y=z
                     }
                 }

                 $(".goals"+ j + " td:eq(7)").html((x*100).toFixed(2)+'%');

                    if(j==0){
                        $("#intro").html("您的目标是"+data[j][0]+"，您将需要在"+data[j][1]+"年后准备"+parseInt(parseInt(data[j][2])*10000*Math.pow(1.06,data[j][1]))+"元，您现在的已有的资金为"+data[j][2]+"万，之后，您每年将投入资金"+data["length"][1]+"元，如果您能找到年收益率为"+(x*100).toFixed(2)+"%左右的投资渠道，您将能在"+data[j][1]+"年后实现您的目标。")
                        var array=new Array();
                        var today=new Date();
                        var year=today.getFullYear();
                        for(var k=0;k<parseInt(data[j][1])+2;k++){
                            array[k]=new Array();
                            if(k>0){
                                array[k][0]=parseInt(year)+k-1
                            }
                        }
                        array[0][0]="";
                        array[0][1]="已有资金";
                        array[0][parseInt(data[j][1])+2]="总计";
                        for(m=0;m<parseInt(data[j][1])+3;m++){
                            if(m>=2 && m<parseInt(data[j][1])+2){
                                array[0][m]="第"+(m-1).toString()+"年";
                            }
                            if(m>=1 && m<=parseInt(data[j][1])+2){
                                for(var k=1;k<parseInt(data[j][1])+2;k++){
                                    if(m==parseInt(data[j][1])+2){
                                        array[k][m]=0;
                                        for(n=1;n<parseInt(data[j][1])+2;n++){
                                            if(array[k][n]!="-"){
                                                array[k][m]=array[k][m]+array[k][n]
                                            }
                                        }
                                    }
                                    else{
                                        if(m==1){
                                            array[k][m]=data["length"][3]*Math.pow(1+z,k-m)
                                        }
                                        else{
                                            if(k<m-1){array[k][m]="-"}
                                            else{
                                                array[k][m]=data["length"][1]*Math.pow(1+z,k-m+1)
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        var text="<thead><tr><th></th><th>投入本金</th><th>"+array[parseInt(data[j][1])+1][0]+"年的回报金额</th></thead>"
                        text=text+'<tr><td>总计</td><td>'+(parseInt(data["length"][3])+parseInt(data["length"][1])*parseInt(data[j][1])).toString()+"</td><td>"+parseInt(array[parseInt(data[j][1])+1][parseInt(data[j][1])+2])+"</td></tr>"
                        for(m=1;m<parseInt(data[j][1])+2;m++){
                            if(m==1){
                            text=text+"<tr><td>"+array[0][m]+"</td><td>"+data["length"][3]+"</td><td>"+parseInt(array[parseInt(data[j][1])+1][m])+"</td></tr>"
                            }
                            else if(m>7){
                                text=text+"<tr class='hide'><td>"+array[0][m]+"</td><td>"+data["length"][1]+"</td><td>"+parseInt(array[parseInt(data[j][1])+1][m])+"</td></tr>"
                            }
                            else{
                                text=text+"<tr><td>"+array[0][m]+"</td><td>"+data["length"][1]+"</td><td>"+parseInt(array[parseInt(data[j][1])+1][m])+"</td></tr>"
                            }
                        }
                        if(parseInt(data[j][1])<=6){
                            $("#tback,#tnext").addClass("grey");
                        }
                        $("#calculate").html(text);
                        var dataarray=new Array();
                        var dataarray1=new Array();
                        for(var k=1;k<parseInt(data[j][1])+2;k++){
                            dataarray.push(array[k][0]);
                            dataarray1.push(parseInt(array[k][parseInt(data[j][1])+2]));
                        }

                        var chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'container',
                                type: 'column'
                            },
                            title: {
                                text: false
                            },
                            subtitle: {
                                text: false
                            },
                            xAxis: {
                                categories: dataarray ,
                                labels: {
                                    rotation: -45,
                                    align: 'right',
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '回报金额'
                                },
                                labels:{
                                    formatter: function() {
                                        return this.value
                                    }
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            tooltip: {
                                pointFormat: '{point.y} '
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: [{
                                data: dataarray1
                            }],
                            credits: {
                                enabled: false
                            }
                        });
                    }
             }
            });
        }

        var test_div1=document.getElementsByClassName("question");
            test_div1[0].style.height="570px";
        test_div1[1].style.height="1570px";

        if (i >= 0 && $qn.length) {
            $qns.eq($qr.data("q")).find("input").attr("tabindex", "-1");
            //   $("#q-back span").text(i === 2 ? "上一项" : "上一项");
            $qr.data({q: i, transition: true});
            var newTop = -i * $qn.height() + "px";
            if(i==1){newTop='-570px'}
            //  alert(newTop)
            if (immediately) {
                $qr.css("top", newTop);
            }
            if (immediately || $qr.css("top") === newTop) {
                setTimeout(onAtQn, 5);
            } else {
                $qr.animate({"top": newTop}, onAtQn);
            }

            var isLastQn = i == $qns.length - 1;
            $("#q-buttons").toggleClass("q-submit", isLastQn);

            var $i = $qn.find("input");
            var done = $i.is(":radio") ? $i.is(":checked") : !!$i.val();
            $(isLastQn ? "#q-submit" : "#q-next").attr("disabled", !done);
            $qr.trigger("qr:nav", i);

            w.trackEvent("OFA", "question_display", (i+1) + "." + $i.attr("name"));
        }

        function onAtQn() {
            $qr.removeData("transition");
            $qn.find("input").attr("tabindex", "0")
                    .filter("[checked=true],input:first").focus().select();
        }
    }

</script>
<script>
    $(function() {
        var $n = $("#q-numbers"), $qr = $("#questionnaire");
        $qr.bind("qr:nav", function(e, i) {
            var $n = $("#q-numbers");
            $n.children(".q-num.curr").removeClass("curr").addClass("past");
            $n.children().eq(i).removeClass("past").addClass("curr");
        })
                .data("init")(true);
    });
</script>