<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "excanvas.js" %>
<%= javascript_include_tag "jquery.easy-pie-chart.js" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "html2canvas.js" %>
<!--
<%= javascript_include_tag "jspdf.js" %>
<%= javascript_include_tag "basic.js" %>
<%= javascript_include_tag "FileSaver.js" %>
<%= javascript_include_tag "jspdf.plugin.standard_fonts_metrics.js" %>
<%= javascript_include_tag "jspdf.plugin.split_text_to_size.js" %>
<%= javascript_include_tag "jspdf.plugin.from_html.js" %>
-->
<div id="image" class="welcomes start report">
<%= render "side" %>
<div id="page-content">
<div class="convas_image hide"><img style="height: 54px;" src="/assets/logo.jpg"></div>
<h1 id="financialreport">家庭财务诊断报告
  <a id="goaltop" class="btn btn-primary btn-large pull-right reporthide win" href="#">下一步：理财目标</a>
<!--
  <a id="downloadtop" class="pull-right reporthide win" href="#myModal_image" role="button" data-toggle="modal" style="display: block;margin-top: 15px;">下载报告</a>
-->

</h1>
<!--<a href="javascript:demoFromHTML()" class="button">生成pdf</a>-->
<div class="tablet">
<div class="row-fluid">
  <div class="span7">
    <h2>诊断简报：<% @moonlite.each do |m| %><% if @userfinancedata!=nil && m.typeid==@userfinancedata.moonlite_typeid.to_i  %><%= m.typename %><% end %><% end %></h2>
    <div class="mleft">
      <p class="q-text"><% @moonlite.each do |m| %><% if @userfinancedata!=nil && m.typeid==@userfinancedata.moonlite_typeid.to_i  %><%=raw m.type_intro %><% end %><% end %></p>
    </div>
    <h2>家庭财务诊断报告：</h2>
    <div class="mleft">
      <p class="q-text">对家庭财务现状进行体检剖析是家庭理财规划的起点。如果没有健康的财务现状，则一切美好的未来都无从叹气，根据您的家庭财务输入，我们为您绘制了相应比例结构图，并做出了各项结构图的分析：</p>
    </div>
  </div>
  <div class="span4 offset1">
    <div id="percent" style="width: 300px;margin-top:50px;text-align: center;">
      <div class="percentage" style="margin: 0 auto;" data-percent="0"><span  style="font-size: 20px;font-family: Microsoft YaHei;">0</span>分</div>
      <br>
      <blockquote><small>
        <% @moonlite.each do |m| %>
            <% if @userfinancedata!=nil && m.typeid==@userfinancedata.moonlite_typeid.to_i  %>
                您属于<%= m.typename %>，您当前家庭资产体检得分约等于<%= @userfinancedata.asset_score %>分。
            <% end %>
        <% end %>
      </small></blockquote>
      <a class="introduce" href="#myModal" role="button" data-toggle="modal">分数如何计算得到的？</a>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span7">
    <div class="mleft">
      <h1 class="h1"><span>1</span>家庭资产负债表：</h1>
      <p class="q-text">家庭当前经济状况是进行理财规划的常用起始点。家庭资产负债表，又叫净资产表或经济状况表，报告了您的资产和负债情况。</p>
      <p class="q-text">该表可以衡量您向家庭财富积累的进展。每当您发现您的净资产增长，这说明您的经济状况一直在改善。</p>

      <a href="#myModal_calc" role="button" class="btn btn-mini btn-info" data-toggle="modal">计算器</a>
      <a href="/usersurvey/p1s4_asset_table" class="btn btn-mini btn-info"> 更新</a>

      <table id="asset" class="table table-striped table-bordered">
        <thead>
        <tr><th class="grey">资产项目</th><th>金额(元)</th><th class="grey">负债项目</th><th>金额(元)</th></tr>
        </thead>
        <tbody>
        <tr><td class="grey">&nbsp;</td><td></td><td class="grey"></td><td></td></tr>
        <% for k in 0..@assettype1.size-1 %>
            <tr><td class="grey"><%= @assettype1[k].asset_typename %></td><td><%= @hash1[@assettype1[k].asset_typeid.to_i][0] %></td><td class="grey"></td><td></td></tr>
        <% end %>
        <tr class="sum1"><td class="grey right strong">流动资产合计</td><td class="right strong"><% if @userbalancesheet!=nil %><%= @userbalancesheet.asset_fluid_account %><% end %></td><td class="grey"></td><td></td></tr>
        <% for k in 0..@assettype2.size-1 %>
            <tr><td class="grey"><% if @userbalancesheet!=nil %><%= @assettype2[k].asset_typename %><% end %></td><td><%= @hash1[@assettype2[k].asset_typeid.to_i][0] %></td><td class="grey"></td><td></td></tr>
        <% end %>
        <tr class="sum2"><td class="grey right strong">保本资产合计</td><td class="right strong"><% if @userbalancesheet!=nil %><%= @userbalancesheet.asset_safefy_account %><% end %></td><td class="grey"></td><td></td></tr>
        <% for k in 0..@assettype3.size-1 %>
            <tr><td class="grey"><%= @assettype3[k].asset_typename %></td><td><%= @hash1[@assettype3[k].asset_typeid.to_i][0] %></td><td class="grey"></td><td></td></tr>
        <% end %>
        <tr class="sum3"><td class="grey right strong">投资资产合计</td><td class="right strong"><% if @userbalancesheet!=nil %><%= @userbalancesheet.asset_risky_account %><% end %></td><td class="grey"></td><td></td></tr>
        <% for k in 0..@assettype4.size-1 %>
            <tr><td class="grey"><%= @assettype4[k].asset_typename %></td><td><%= @hash1[@assettype4[k].asset_typeid.to_i][0] %></td><td class="grey"></td><td></td></tr>
        <% end %>
        <tr class="sum4">
          <td class="grey right strong">固定资产</td>
          <td class="right strong"><% if @userbalancesheet!=nil %><%= @userbalancesheet.asset_account-@userbalancesheet.asset_fluid_account-@userbalancesheet.asset_safefy_account-@userbalancesheet.asset_risky_account %><% end %></td>
          <td class="grey"></td><td></td>
        </tr>
        <tr><td class="grey">&nbsp;</td><td></td><td class="grey"></td><td></td></tr>
        <tr class="red">
          <td class="grey right">总资产</td>
          <td class="total0 right"><% if @userbalancesheet!=nil %><%= @userbalancesheet.asset_account %><% end %></td>
          <td class="grey right">总负债</td>
          <td class="total1 right"><% if @userbalancesheet!=nil %><%= @userbalancesheet.debt_account %><% end %></td></tr>
        <tr class="red"><td class="grey strong right">家庭资产净值</td>
          <td class="total2 right strong"><% if @userbalancesheet!=nil %><%= @userbalancesheet.net_account %><% end %></td><td class="grey"></td><td></td>
        </tr>
        </tbody>
      </table>
      <h1 class="h1"><span>2</span>家庭现金流量表：</h1>
      <p class="q-text">现金流量表，又称家庭收入和支出表，是对某段时间，例如一个月或一年，现金流入和流出情况的总结。这个报表对于您做家庭财政规划非常有帮助。
        通俗的概括，这张表将告诉您，您的钱到什么地方去了？</p>
    </div>
  </div>

  <div class="span4 offset1">
<!--    <p class="q-text tips">资产分布图</p>  -->
    <div id="container3" class="win" style="width: 300px;height: 200px;margin-top:300px"></div>
    <div id="container3" class="mobile" style="width: 100%;height: 200px;"></div>
    <div class="convas_image red hide" style="width: 300px;height: 200px;"><p>请登录通天顺家庭理财<br>(www.tongtianshun.com)<br>个人首页进行浏览</p></div>
<!--    <p class="q-text tips">资产负债对比</p> -->
    <div id="container4" class="win" style="width: 300px;height: 200px;margin-top:150px"></div>
    <div id="container4" class="mobile" style="width: 100%;height: 200px;"></div>
    <div class="convas_image red hide" style="width: 300px;height: 200px;"><p>请登录通天顺家庭理财<br>(www.tongtianshun.com)<br>个人首页进行浏览</p></div>
    <a href="/usersurvey/p1s4_asset_table"> 更新</a>
  </div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div class="mleft">
      <p class="q-text">月收入开销表</p>
      <a href="#myModal_calc" role="button" class="btn btn-mini btn-info" data-toggle="modal">计算器</a>
      <a class="btn btn-mini btn-info" href="/usersurvey/p1s2_cash_flow_statement_month"> 更新</a>
      <table id="detailed" class="table table-striped table-bordered">
        <thead>
        <tr><th class="grey">家庭收入项目</th><th>金额(元)</th><th class="grey">家庭支出项目</th><th>金额(元)</th><th>理想状况(<a class="xtip update" href="#myModal_ideal" role="button" data-toggle="modal">?</a>)</th></tr>
        </thead>
        <% @expensetype.each do |e| %>
            <% if e.expense_type=="must_expense" %>
                <tr><td class="grey">&nbsp;</td><td></td><td class="grey"><%= e.expense_name %></td><td>
                  <% if @expensemonth.size>0 %>
                      <% for k in 0..@expensemonth.size-1 %>
                          <% if @expensemonth[k].expense_typeid==e.expense_id %>
                              <%= @expensemonth[k].expense_value %>
                              <% break %>
                          <% elsif k==@expensemonth.size-1 %>
                              --
                          <% end %>
                      <% end %>
                  <% else %>
                      --
                  <% end %>
                </td><td>
                  <% if @userdatamonth!=nil %><%= ((@userdatamonth.salary_month+@userdatamonth.extra_income_month)*e.expense_expect/100).to_i %><% end %>
                </td></tr>
            <% end %>
        <% end %>
        <tr>
          <td class="grey">&nbsp;</td><td></td><td class="grey right">生活必要支出</td>
          <td class="right"><% if @userdatamonth!=nil %><%= @userdatamonth.must_expense_month %><% end %></td>
          <td class="right">
            <% if @userdatamonth!=nil %><%= ((@userdatamonth.salary_month+@userdatamonth.extra_income_month)*@hash['must_expense'][0]/100).to_i %><% end %>
          </td>
        </tr>
        <% @expensetype.each do |e| %>
            <% if e.expense_type=="fun_expense" %><tr>
                <tr><td class="grey">&nbsp;</td><td></td><td class="grey"><%= e.expense_name %></td><td>
                  <% if @expensemonth.size>0 %>
                      <% for k in 0..@expensemonth.size-1 %>
                          <% if @expensemonth[k].expense_typeid==e.expense_id %>
                              <%= @expensemonth[k].expense_value %>
                              <% break %>
                          <% elsif k==@expensemonth.size-1 %>
                              --
                          <% end %>
                      <% end %>
                  <% else %>
                      --
                  <% end %>
                </td><td>
                  <% if @userdatamonth!=nil %><%= ((@userdatamonth.salary_month+@userdatamonth.extra_income_month)*e.expense_expect/100).to_i %><% end %>
                </td></tr>
            <% end %>
        <% end %>
        <tr>
          <td class="grey">&nbsp;</td><td></td><td class="grey right">消费性支出</td>
          <td class="right"><% if @userdatamonth!=nil %><%= @userdatamonth.fun_expense_month %><% end %></td>
          <td class="right">
            <% if @userdatamonth!=nil %><%= ((@userdatamonth.salary_month+@userdatamonth.extra_income_month)*@hash['fun_expense'][0]/100).to_i %><% end %>
          </td>
        </tr>
        <% @debttype.each do |d| %>
            <tr><td class="grey">&nbsp;</td><td></td><td class="grey"><%= d.debt_typename %></td><td>
              <% for k in 0..@userdebtsheet.size-1 %>
                  <% if @userdebtsheet[k].debt_typeid==d.debt_typeid %>
                      <%= @userdebtsheet[k].debt_value_monthly %>
                      <% break %>
                  <% elsif k==@userdebtsheet.size-1 %>
                      0
                  <% end %>
              <% end %>
            </td><td></td></tr>
        <% end %>
        <tr><td class="grey">&nbsp;</td><td></td><td class="grey right">贷款支出</td>
          <td class="right"><% if @userdatamonth!=nil %><%= @userdatamonth.debt_month %><% end %></td>
          <td class="right">
            <%# if @userdatamonth!=nil %><%#= ((@userdatamonth.salary_month+@userdatamonth.extra_income_month)/2).to_i %><%# end %>
            --
          </td>
        </tr>
        <tr><td class="grey">&nbsp;</td><td></td> <td class="grey"></td><td></td><td></td></tr>
        <tr class="red"><td class="grey right">月总收入</td>
          <td class="right"><% if @userdatamonth!=nil %><%= @userdatamonth.salary_month+@userdatamonth.extra_income_month %><% end %></td>
          <td class="grey right">月总支出</td>
          <td class="right"><% if @userdatamonth!=nil %><%= @userdatamonth.must_expense_month+@userdatamonth.fun_expense_month+@userdatamonth.debt_month %><% end %></td>
          <td class="right"></td>
        </tr>
        <tr class="red"><td class="grey right strong">家庭月度结余</td>
          <td class="right strong"><% if @userdatamonth!=nil %><%= @userdatamonth.net_month %><% end %></td>
          <td class="grey"></td><td></td><td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="span4 offset1">
<!--    <p class="q-text tips">月收入开销图</p> -->
    <div id="container" class="win" style="width: 300px;height: 200px;margin-top:100px"></div>
    <div id="container" class="mobile" style="width: 100%;height: 200px;"></div>
    <div class="convas_image red hide" style="width: 300px;height: 200px;"><p>请登录通天顺家庭理财<br>(www.tongtianshun.com)<br>个人首页进行浏览</p></div>
<!--    <blockquote><small class="intro"></small></blockquote>    -->

<!--    <p class="q-text tips">月收入、支出对比图</p>  -->
    <div id="container5" class="win" style="width: 300px;height: 200px;margin-top:100px;"></div>
    <div id="container5" class="mobile" style="width: 100%;height: 200px;"></div>

  </div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div class="mleft">
      <p class="q-text">年收入开销表</p>
      <a href="#myModal_calc" role="button" class="btn btn-mini btn-info" data-toggle="modal">计算器</a>
      <a class="btn btn-mini btn-info" href="/usersurvey/p1s3_cash_flow_statement_year"> 更新</a>      

      <table id="detailannual" class="table table-striped table-bordered">
        <thead>
        <tr><th class="grey">家庭收入项目</th><th>金额(元)</th><th class="grey">家庭支出项目</th><th>金额(元)</th></tr>
        </thead>
        <tr><td class="grey">工资</td><td><%= @userdataannyal.salary_annual %></td><td class="grey">生活必要支出</td><td><%= @userdataannyal.must_expense_annual %></td></tr>
        <tr><td class="grey">额外收入</td><td><%= @userdatamonth.extra_income_month*12 %></td><td class="grey">消费性支出</td><td><%= @userdataannyal.fun_expense_annual %></td></tr>
        <tr><td class="grey">年终奖</td><td><%= @userdataannyal.bonus_annual %></td><td class="grey">贷款支出</td><td><%= @userdataannyal.debt_annual %></td></tr>
        <tr><td class="grey">其他年终收入</td><td><%= @userdataannyal.other_income_annual-@userdatamonth.extra_income_month*12 %></td><td class="grey"></td><td></td></tr>
        <tr><td class="grey">&nbsp;</td><td></td><td class="grey"></td><td></td></tr>
        <tr class="red"><td class="grey right">年度收入</td><td class="right">
          <%= @userdataannyal.income_annual %>
        </td><td class="grey right">年度支出</td><td  class="right">
          <%= @userdataannyal.expense_annual %>
        </td></tr>
        <tr class="red"><td class="grey strong right">年结余金额</td><td class="strong right"><%= @userdataannyal.net_annual %></td><td class="grey"></td><td></td></tr>
      </table>
      <h1 class="h1"><span>3</span>家庭财务指数：</h1>
      <table id="indicators" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th data-sort-initial="descending" data-class="expand">家庭财务比率</th>
          <th data-hide="phone">合理范围</th>
          <th data-sort-ignore="true">实际比率</th>
          <th data-hide="phone">建议</th>
        </tr>
        </thead>
        <% @indicators.each do |i| %>
            <tr>
              <!-- 家庭财务比率  -->
              <td><%= i.indicators_names %>(<a onclick="intro('<%= i.indicators_names %>','<%=raw i.indicators_intro %>')" href="#myModal_intro" role="button" data-toggle="modal">?</a>)</td>

              <!-- 合理范围 -->
              <% if i.indicators_recomn_max!=nil && i.indicators_recomn_min!=nil %>
                  <td><%= i.indicators_recomn_min %>-<%= i.indicators_recomn_max %></td>
              <% elsif i.indicators_recomn_max==nil && i.indicators_recomn_min!=nil %>
                  <td>><%= i.indicators_recomn_min %></td>
              <% elsif i.indicators_recomn_max!=nil && i.indicators_recomn_min==nil %>
                  <td><<%= i.indicators_recomn_max %></td>
              <% else %>
                  <td></td>
              <% end %>

              <!-- 实际比率 -->
              <td class="center">
                <% @financialindicators.each do |f| %>
                    <% if i.indicators_id==f.indicatortypeid %>
                        <%= f.indicators_value %>
                    <% end %>
                <% end %>
              </td>
              <!-- 定义 -->
              <td><%= i.indicators_defination %></td>


            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="span4 offset1">
<!--    <p class="q-text tips">年收入开销图</p> -->
    <div id="container2" class="win" style="width: 300px;height: 200px;margin-top:80px;"></div>
    <div id="container2" class="mobile" style="width: 100%;height: 200px;"></div>
    <div class="convas_image red hide" style="width: 300px;height: 200px;"><p>请登录通天顺家庭理财<br>(www.tongtianshun.com)<br>个人首页进行浏览</p></div>
<!--    <a class="btn btn-success win" href="/usersurvey/p1s3_cash_flow_statement_year"> 更新 年收入开销 数据 </a> -->
  </div>
</div>
</div>
<div id="q-buttons" class="win">
  <a id="goal" class="btn btn-primary btn-large pull-right" href="#">下一步：理财目标</a>
  <a id="downloadtop" class="pull-right reporthide win" href="#myModal_image" role="button" data-toggle="modal" style="display: block;margin-top: 15px;">下载报告</a>
</div>
</div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>分数如何计算得到的？</h3>
  </div>
  <div class="modal-body">
    <% if @blog!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%=raw @blog.imagepath %>"><br><br>
        <%=raw @blog.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div id="myModal_ideal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><% if @blog2!=nil %><%= @blog2.btitle %><% end %></h3>
  </div>
  <div class="modal-body">
    <% if @blog2!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%=@blog2.imagepath %>"><br><br>
        <%=raw @blog2.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div id="myModal_image" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>家庭财务分析报告 下载发送</h3>
  </div>
  <div class="modal-body">
    <p>由于文件较大，为了不影响您下面的理财目标设定，我们将把您的家庭财务分析报告发送到您的注册邮箱。</p>
    <input type="text" id="email" value="<%= @webuser.email %>">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="confirm">发送</button>
  </div>
</div>

<div id="myModal_intro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="indicatorsnames"></h3>
  </div>
  <div class="modal-body">
    <p id="indicatorsintro" style="font-family: georgia,serif;font-size: 16px;line-height: 2em;"></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确认</button>
  </div>
</div>

<div id="myModal_calc" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>计算器</h3>
  </div>

  <div class="modal-body">
      <div id="calculator">
    <!-- Screen and clear key -->
    <div class="top">
      <span class="clear">C</span>
      <div class="screen"></div>
    </div>
    <div class="keys">
      <!-- operators and other keys -->
      <span>7</span>
      <span>8</span>
      <span>9</span>
      <span class="operator">+</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span class="operator">-</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span class="operator">÷</span>
      <span>0</span>
      <span>.</span>
      <span class="eval">=</span>
      <span class="operator">x</span>
    </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确认</button>
  </div>
</div>


<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".mobile").remove();
    }else{
        $(".win").remove();
    }
</script>


<script type="text/javascript">
// Get all the keys from document 计算器实现
var keys = document.querySelectorAll('#calculator span');
var operators = ['+', '-', 'x', '÷'];
var decimalAdded = false;

// Add onclick event to all the keys and perform operations
for(var i = 0; i < keys.length; i++) {
  keys[i].onclick = function(e) {
    // Get the input and button values
    var input = document.querySelector('.screen');
    var inputVal = input.innerHTML;
    var btnVal = this.innerHTML;
    
    // Now, just append the key values (btnValue) to the input string and finally use javascript's eval function to get the result
    // If clear key is pressed, erase everything
    if(btnVal == 'C') {
      input.innerHTML = '';
      decimalAdded = false;
    }
    
    // If eval key is pressed, calculate and display the result
    else if(btnVal == '=') {
      var equation = inputVal;
      var lastChar = equation[equation.length - 1];
      
      // Replace all instances of x and ÷ with * and / respectively. This can be done easily using regex and the 'g' tag which will replace all instances of the matched character/substring
      equation = equation.replace(/x/g, '*').replace(/÷/g, '/');
      
      // Final thing left to do is checking the last character of the equation. If it's an operator or a decimal, remove it
      if(operators.indexOf(lastChar) > -1 || lastChar == '.')
        equation = equation.replace(/.$/, '');
      
      if(equation)
        input.innerHTML = eval(equation);
        
      decimalAdded = false;
    }
    
    // Basic functionality of the calculator is complete. But there are some problems like 
    // 1. No two operators should be added consecutively.
    // 2. The equation shouldn't start from an operator except minus
    // 3. not more than 1 decimal should be there in a number
    
    // We'll fix these issues using some simple checks
    
    // indexOf works only in IE9+
    else if(operators.indexOf(btnVal) > -1) {
      // Operator is clicked
      // Get the last character from the equation
      var lastChar = inputVal[inputVal.length - 1];
      
      // Only add operator if input is not empty and there is no operator at the last
      if(inputVal != '' && operators.indexOf(lastChar) == -1) 
        input.innerHTML += btnVal;
      
      // Allow minus if the string is empty
      else if(inputVal == '' && btnVal == '-') 
        input.innerHTML += btnVal;
      
      // Replace the last operator (if exists) with the newly pressed operator
      if(operators.indexOf(lastChar) > -1 && inputVal.length > 1) {
        // Here, '.' matches any character while $ denotes the end of string, so anything (will be an operator in this case) at the end of string will get replaced by new operator
        input.innerHTML = inputVal.replace(/.$/, btnVal);
      }
      
      decimalAdded =false;
    }
    
    // Now only the decimal problem is left. We can solve it easily using a flag 'decimalAdded' which we'll set once the decimal is added and prevent more decimals to be added once it's set. It will be reset when an operator, eval or clear key is pressed.
    else if(btnVal == '.') {
      if(!decimalAdded) {
        input.innerHTML += btnVal;
        decimalAdded = true;
      }
    }
    
    // if any other key is pressed, just append it
    else {
      input.innerHTML += btnVal;
    }
    
    // prevent page jumps
    e.preventDefault();
  } 
}
</script>


<script>
    function intro(u,p){
        $("#indicatorsnames").html(u);
        $("#indicatorsintro").html(p);
    }

    $(document).ready(function(){
        <% if session[:webusername]!=nil || params[:username]!=nil || params[:fromusername]!=nil %>
        <% for i in 0..@debttype.size-1 %>
        $("#asset tr:eq(<%= i+2 %>) td:eq(2)").html('<%= @debttype[i].debt_typename %>');
        $("#asset tr:eq(<%= i+2 %>) td:eq(3)").html('0');
        <% for k in 0..@userdebtsheet.size-1 %>
        <% if @userdebtsheet[k].debt_typeid==@debttype[i].debt_typeid %>
        $("#asset tr:eq(<%= i+2 %>) td:eq(3)").html('<%= @userdebtsheet[k].debt_value %>');
        <% end %>
        <% end %>
        <% end %>
        $("#detailed tr:eq(1) td:eq(0)").html("工资");
        $("#detailed tr:eq(2) td:eq(0)").html("额外收入");
        $("#detailed tr:eq(1) td:eq(1)").html("<%= @userdatamonth.salary_month %>");
        $("#detailed tr:eq(2) td:eq(1)").html("<%= @userdatamonth.extra_income_month %>");

        <% if @incomemonth.size>0 && @expensemonth.size>0 %>
        var intro='';
        <% for i in 0..@expensetype.size-1 %>
        var amount=0;
        var cause=<%= ((@userdatamonth.salary_month+@userdatamonth.extra_income_month)*@expensetype[i].expense_expect/100).to_i %>;
        <% for k in 0..@expensemonth.size-1 %>
        <% if @expensemonth[k].expense_typeid==@expensetype[i].expense_id && @expensemonth[k].expense_value!=nil %>
        amount=<%= @expensemonth[k].expense_value %>;
        <% end %>
        <% end %>

        if(amount>cause){
            if(intro==""){
                intro=intro+'<%= @expensetype[i].expense_name %>开销 略显偏高<br>'
            }
            else{
                intro=intro+'<span style="padding-left: 15px;"><%= @expensetype[i].expense_name %>开销 略显偏高</span><br>'
            }
        }
        <% end %>
        $(".intro").html(intro);
        <% else %>
        $(".intro").html("因为月支出数据太少，可能会导致分析不够完整。请点击下面按钮进行完善。");
        <% end %>
        <% for i in 0..@indicators.size-1 %>
        if(parseFloat('<%= @indicators[i].indicators_recomn_min %>')>parseFloat($("#indicators tr:eq(<%= i+1 %>) td:eq(3)").html()) || parseFloat('<%= @indicators[i].indicators_recomn_max %>')<parseFloat($("#indicators tr:eq(<%= i+1 %>) td:eq(3)").html())){
            $("#indicators tr:eq(<%= i+1 %>) td:eq(3)").addClass("red");
        }
        <% end %>
        initPieChart();
        <% if @userfinancedata!=nil %>
        animate(0,<%= @userfinancedata.asset_score %>);
        <% end %>
        <% end %>
    });

    var dataarray3=[];

    <% for i in 0..@userassetsheet.size-1 %>
    <% for k in 0..@assettype.size-1 %>
    <% if @assettype[k].asset_typeid==@userassetsheet[i].asset_typeid.to_s %>
    dataarray3.push(['<%= @assettype[k].asset_typename %>',parseInt('<%= @userassetsheet[i].asset_value %>')])
    <% end %>
    <% end %>
    <% end %>

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container3',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: false
        },
        tooltip: {
            pointFormat: '{point.y} '
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    distance: 10,
                    connectorColor: '#000000',
                    formatter:function(index) {
                        if(this.point.percentage>0){
                            var str=this.point.name,str1,aa='';
                            for(var i=0,len=str.length/4;i<len;i++) {
                                str1 = str.substr(0,4);
                                str = str.replace(str1,'');
                                if(i==0){aa=str1}
                                else{aa=aa+"<br>"+str1}
                            }
                            return  '<span>'+aa + ':<br>'+this.point.percentage.toFixed(1)+'%</span>';
                        }
                    }
                },
                showInLegend: true,
                size: 120,
                borderWidth: 0
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: dataarray3
        }],
        legend: false,
        credits: {
            enabled: false
        }
    });

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container4',
            type: 'column'
        },
        title: {
            text: false
        },
        subtitle: {
            text: false
        },
        xAxis: {
            categories: ["总资产","总负债"]
        },
        yAxis: {
            min: 0,
            title: {
                text: '金额'
            },
            labels:{
                formatter: function() {
                    return this.value
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{point.y} '
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            data: [<%= @userbalancesheet.asset_account %>,<%= @userbalancesheet.debt_account %>]
        }],
        credits: {
            enabled: false
        }
    });

    var dataarray=[];
    var dataarray1=[];


    <% if @incomemonth.size>0 && @expensemonth.size>0 %>
    <% @expensemonth.each do |m| %>
    <% @expensetype.each do |e| %>
    <% if m.expense_typeid==e.expense_id %>
    dataarray.push('<%= e.expense_name %>')
    dataarray1.push(<%= m.expense_value %>)
    <% end %>
    <% end %>
    <% end %>
    <% else %>
    dataarray.push('生活必要支出')
    dataarray1.push(<%=@userdatamonth.must_expense_month %>)
    dataarray.push('消费性支出')
    dataarray1.push(<%= @userdatamonth.fun_expense_month %>)
    <% end %>

    <% for k in 0..@userdebtsheet.size-1 %>
    <% for i in 0..@debttype.size-1 %>
    <% if @userdebtsheet[k].debt_typeid==@debttype[i].debt_typeid %>
    dataarray.push('<%= @debttype[i].debt_typename %>')
    dataarray1.push(<%= @userdebtsheet[k].debt_value_monthly %>)
    <% end %>
    <% end %>
    <% end %>
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column'
        },
        title: {
            text: false
        },
        subtitle: {
            text: false
        },
        xAxis: {
            categories: dataarray ,
            labels: {
                rotation: -45,
                align: 'right',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '金额'
            },
            labels:{
                formatter: function() {
                    return this.value
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{point.y} '
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            data: dataarray1
        }],
        credits: {
            enabled: false
        }
    });
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container5',
            type: 'column'
        },
        title: {
            text: false
        },
        subtitle: {
            text: false
        },
        xAxis: {
            categories: ["月总收入","月总支出"]
        },
        yAxis: {
            min: 0,
            title: {
                text: '金额'
            },
            labels:{
                formatter: function() {
                    return this.value
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{point.y} '
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            data: [<% if @userdatamonth!=nil %><%= @userdatamonth.salary_month+@userdatamonth.extra_income_month %><% else %>0<% end %>,<% if @userdatamonth!=nil %><%= @userdatamonth.must_expense_month+@userdatamonth.fun_expense_month+@userdatamonth.debt_month %><% else %>0<% end %>]
        }],
        credits: {
            enabled: false
        }
    });
    var dataarray2=[
        ['生活必要支出', <%= @userdataannyal.must_expense_annual %>],
        ['消费性支出', <%= @userdataannyal.fun_expense_annual %>],
        ['贷款支出', <%= @userdataannyal.debt_annual %>]
    ];
    <% @expenseannual.each do |e| %>
    <% for k in 0..@expensetypeannual.size-1 %>
    <% if e.expense_type==@expensetypeannual[k].expense_id %>
    dataarray2.push(['<%= @expensetypeannual[k].expense_name %>',<%= e.expense_value %>])
    <% end %>
    <% end %>
    <% end %>
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container2',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: false
        },
        tooltip: {
            pointFormat: '{point.y} '
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    distance: 10,
                    connectorColor: '#000000',
                    formatter:function(index) {
                        if(this.point.percentage>0){
                            var str=this.point.name,str1,aa='';
                            for(var i=0,len=str.length/4;i<len;i++) {
                                str1 = str.substr(0,4);
                                str = str.replace(str1,'');
                                if(i==0){aa=str1}
                                else{aa=aa+"<br>"+str1}
                            }
                            return  '<span>'+aa + ':<br>'+this.point.percentage.toFixed(1)+'%</span>';
                        }
                    }
                },
                showInLegend: true,
                size: 120,
                borderWidth: 0
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: dataarray2
        }],
        legend: false,
        credits: {
            enabled: false
        }
    });
</script>

<script type="text/javascript">
    var initPieChart = function() {
        $('.percentage').easyPieChart({
            animate: 1000
        });
    };
    function animate(i,a){
        if(i<a){
            $('.percentage').each(function() {
                $(this).data('easyPieChart').update(i);
                $('span', this).text(i);
            });
            setTimeout("animate("+(i+1).toString()+','+a+")",50);
        }
        else{
            $('.percentage').each(function() {
                $(this).data('easyPieChart').update(a);
                $('span', this).text(a);
            });
        }
    }
</script>

<script>
    var number=0;
    $("#download,#downloadtop").click(function(){
        $("[id*='container']").hide();
        $(".btn-success").hide();
        $(".reporthide").hide();
        $(".convas_image").show();
        html2canvas(document.getElementById("page-content"), {
            onrendered: function(canvas) {
                if(number==0){
                    document.body.appendChild(canvas);
                    number=number+1;
                }
                $("[id*='container']").show();
                $(".btn-success").show();
                $(".reporthide").show();
                $(".convas_image").hide();
                var canvas = document.getElementsByTagName("canvas");
                canvas[1].className="hide";
                canvas[1].id='myCanvas';
                var canvas=document.getElementById("myCanvas");
                var type = 'png';
                var imgData = canvas.toDataURL(type);
                <% if params[:username]!=nil %>
                username='<%= params[:username] %>'
                <% elsif params[:fromusername]!=nil %>
                username='<%= @webuser.username %>'
                <% else %>
                username='<%= session[:webusername] %>'
                <% end %>
                $.post("/usersurvey/save_image",{username:username+'-p1usersurvey',image:imgData},function(data){

                });
                /*
                 var _fixType = function(type) {
                 type = type.toLowerCase().replace(/jpg/i, 'jpeg');
                 var r = type.match(/png|jpeg|bmp|gif/)[0];
                 return 'image/' + r;
                 };

                 //    imgData = imgData.replace(_fixType(type),'image/octet-stream');

                 var saveFile = function(data, filename){
                 var save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
                 save_link.href = data;
                 save_link.download = filename;

                 var event = document.createEvent('MouseEvents');
                 event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                 save_link.dispatchEvent(event);
                 };
                 var filename = 'tongtianshun_' + (new Date()).getTime() + '.' + type;
                 saveFile(imgData,filename);
                 */
            }
        });

    });
    $("#confirm").click(function(){
        if($("#email").attr("value")!=""){
        <% if params[:username]!=nil %>
            username='<%= params[:username] %>'
        <% elsif params[:fromusername]!=nil %>
            username='<%= @webuser.username %>'
        <% else %>
            username='<%= session[:webusername] %>'
        <% end %>
            $.post("/usersurvey/send_image",{username:username,imagename:username+'-p1usersurvey',reportname:"家庭财务诊断报告",email:$("#email").attr("value")},function(data){
                //   location.href="/usersurvey/goal";
            });
        }
        else{
            alert("请输入邮箱！")
        }
    });
    $("#goal,#goaltop").click(function(){
        <% if @webuser.ischarge==1 || @webuser.payforhouse==1 %>
        location.href="/usertargets/p2_usertargets";
        <% else %>
        location.href="/payment";
        <% end %>
    });
</script>

<!--
<%= javascript_include_tag "canvas2image.js" %>

<div class="doc">
 <button id="save">保存</button> 或者 <button id="convert">显示</button>
  <div id="imgs">
  </div>
</div>
<script>
    var canvas, ctx, bMouseIsDown = false,
            $save, $imgs,
            $convert, $imgW, $imgH,
            $sel;
    function init (e) {
        html2canvas(document.getElementById("image"), {
            onrendered: function(canvas) {
                if(number==0){
                    document.body.appendChild(canvas);
                    number=number+1;
                }
                var canvas = document.getElementsByTagName("canvas");
                canvas[1].className="hide";
                canvas[1].id='myCanvas';
                ahah(e);
            }
        });
    }

    $imgs = document.getElementById('imgs');
    $imgW = '100%';
    $imgH = '100%';
    function ahah(e){
        canvas=document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');

        var type = 'png',
                w = $imgW.value,
                h = $imgH.value;
        if (e==1){
            $imgs.appendChild(Canvas2Image.convertToImage(canvas, w, h, type))
        }
        else{
            Canvas2Image.saveAsImage(canvas, w, h, type);
        }
    }

    $("#save").click(function (e) {
        init(2);
    })
    $("#convert").click(function (e) {
        init(1);
    })
</script>
-->