<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<div class="welcomes start p1s4">
  <%= render "side" %>
  <div id="page-content">
    <h1>资产净值表<span class="red">（负债）</span>
      <div id="q-numbers"><b class="q-num past">1</b><b class="q-num past">2</b><b class="q-num past">3</b><b class="q-num past">4</b><b class="q-num curr">5</b></div>
    </h1>
    <div class="tablet">
      <div class="row-fluid">
        <div class="span1">
          <span>5</span>
        </div>
        <div class="span11">
          <div class="mleft">
            <div class="row-fluid op-label">
              <div class="span2 q-text">贷款类型</div>
              <div class="span2 q-text" style="text-align: left;">总负债</div>
              <div class="span2 q-text" style="text-align: left;">每月还贷</div>
              <div class="span2 q-text" style="text-align: left;">贷款年限</div>
              <div class="span1"></div>
            </div>
            <div class="seperator thick"></div>
            <div class="line-inputs">

              <div class="op-input first" fid="line">
                <div class="seperator bottom"></div>

                <div class="row-fluid">
                  <div class="span2 control-group">
                    <select  name="debt_typeid" id="debt_typeid" class="debt_typeid" title="贷款类型" style="width: 140px;">
                      <% @debttype.each do |d| %>
                          <option value="<%= d.debt_typeid %>"><%= d.debt_typename %></option>
                      <% end %>
                    </select>
                  </div>
                  <div class="span2 control-group" style="text-align: left;">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="debt_value" name="lnw" id="debt_value" style="width: 120px;" onMouseOver="if(this.value==0){this.value='';}"value="0" type="text">
                    </div>
                  </div>
                  <div class="span2">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="debt_value_monthly" name="lnw" id="debt_value_monthly" style="width: 120px;" type="text">
                    </div>
                  </div>
                  <div class="span2">
                    <input class="debt_years" id="debt_years" style="width: 120px;" type="text">
                  </div>
                  <div class="span1 top5" style="margin-top: 10px;margin-left: 0;height: 20px;overflow: hidden;"><i class="icon-remove-sign" style="display: none;margin-left: 20px;font-size: 30px;" onclick="removeline(this);">&nbsp;&nbsp;</i></div>
                </div>
              </div>
            </div>
            <div class="seperator bottom thick"></div>
            <a class="xtip pull-right" style="padding: 0 20px 10px 0;" onclick="addline();"> + 添加贷款 </a>
          </div>
        </div>
      </div>
    </div>
    <div id="q-buttons" class="">
      <button class="q-button light-gray big-button" id="q-back">◄&nbsp; <span>上一题</span>&nbsp;</button>
      <button class="q-button orange-button big-button" id="q-next">&nbsp;下一题 &nbsp;►</button>
    </div>
  </div>
</div>

<script>
    var newline = new Object();
    var debug = false;

    function addline()
    {
        var number = genId(newline);
        var line = new lines();
        line.id= "line-" + number;
        line.name = "line " + getNewNameNumber(newline);
        newline[line.id] = line;

        var fi = $("div.line-inputs div.op-input").last().clone().removeClass("first");
        $(fi).find(".icon-remove-sign").show();
        var fid = line.id;
        $(fi).attr("fid", fid);
        // put values in
        $(fi).find(".debt_typeid").attr("id",'debt_typeid'+number);
        $(fi).find(".debt_value").val(0);
        $(fi).find(".debt_value").attr("id",'debt_value'+number);
        $(fi).find(".debt_value_monthly").attr("id",'debt_value_monthly'+number);
        $(fi).find(".debt_years").attr("id",'debt_years'+number);
        $("div.line-inputs").append(fi);
    }

    function genId(newline)
    {
        var tId = 0;
        for(var id in newline)
        {
            var count = id.split("-")[1];
            if(getInteger(count) > tId)
            {
                tId = count;
            }
        }
        return getInteger(tId) + 1;
    }

    function getInteger(v)
    {
        if (v != null && typeof(v) == 'string' & v != "")
        {
            v = v.replace(/\$/, "");
            v = v.replace(/,/g, "");
            v = v.replace(/\..*/g, "");
            var r = parseInt(v, 10);
            if (!isNaN(r))
                return r;
        }
        if (typeof(v) == "number")
        {
            return parseInt(v, 10);
        }

        return 0;
    }

    var lines = function()
    {
        this.name = "name";
        this.id = null;
    }

    function getNewNameNumber(newline)
    {
        var fRegex = /line\s\d/i;
        var latestId = 1;
        for(var id in newline)
        {
            if(newline[id].isline && fRegex.test(newline[id].name))
            {
                var curNum = getInteger(fRegex.exec(newline[id].name)[0].split(" ")[1]);
                if(curNum >= latestId)
                {
                    latestId  = curNum + 1;
                }
            }
        }
        return latestId;
    }

    function removeline(e)
    {
        var fi = $(e).closest("div.op-input");
        var fid = $(fi).attr("fid");
        delete newline[fid];
        $(fi).detach();
    }
</script>

<script>

    $(document).ready(function(){
        <% if session[:webusername]!=nil %>
        var first=0;
        <% if @userdebtsheet!=nil && @userdebtsheet.size!=0 %>
        <% for i in 0..@userdebtsheet.size-1 %>
        if(first==0){
            $("#debt_typeid").attr("value",'<%= @userdebtsheet[i].debt_typeid %>')
            $("#debt_value").attr("value",'<%= @userdebtsheet[i].debt_value %>')
            $("#debt_value_monthly").attr("value",'<%= @userdebtsheet[i].debt_value_monthly %>')
            $("#debt_years").attr("value",'<%= @userdebtsheet[i].debt_years %>')
        }
        else{
            addline();
            $("#debt_typeid"+first).attr("value",'<%= @userdebtsheet[i].debt_typeid %>')
            $("#debt_value"+first).attr("value",'<%= @userdebtsheet[i].debt_value %>')
            $("#debt_value_monthly"+first).attr("value",'<%= @userdebtsheet[i].debt_value_monthly %>')
            $("#debt_years"+first).attr("value",'<%= @userdebtsheet[i].debt_years %>')
        }
        first=first+1;
        <% end %>
        <% end %>
        <% end %>
    });

    $("#q-numbers").delegate(".q-num.past", "click", function() {
        if($(this).html()=='1'){
            save("/usersurvey/p1s1_user_basic_info");
        }
        if($(this).html()=='2'){
            save("/usersurvey/p1s2_cash_flow_statement_month");
        }
        if($(this).html()=='3'){
            save("/usersurvey/p1s3_cash_flow_statement_year");
        }
        if($(this).html()=='4'){
            save("/usersurvey/p1s4_asset_table");
        }
    });

    $("#q-back").click(function(){
        location.href="/usersurvey/p1s4_asset_table";
    });

    $("#q-next").click(function(){
        save("/usersurvey/p1_user_survey_report");
    });

    function save(e){
        var ie = !-[1,];
        if(ie){
            document.getElementsByClassName = function(){
                var tTagName ="*";
                if(arguments.length > 1){
                    tTagName = arguments[1];
                }
                if(arguments.length > 2){
                    var pObj = arguments[2]
                }
                else{
                    var pObj = document;
                }
                var objArr = pObj.getElementsByTagName(tTagName);
                var tRObj = new Array();
                for(var k=0; k<objArr.length; k++){
                    if(objArr[k].className == arguments[0]){
                        tRObj.push(objArr[k]);
                    }
                }
                return tRObj;
            }
        }
       var debt_typeid=document.getElementsByClassName("debt_typeid")  //贷款类型
       var debt_value=document.getElementsByClassName("debt_value")  //总负债
       var debt_value_monthly=document.getElementsByClassName("debt_value_monthly")  //每月还贷
       var debt_years=document.getElementsByClassName("debt_years")  //贷款年限
       var debtid='',debtvalue='',debtvaluemonth='',debtyear='';
        for(k=0;k<debt_typeid.length;k++){
            var c1=debt_value[k].value.replace(/,/g, "");
            var c2=debt_value_monthly[k].value.replace(/,/g, "");
            if(c1==''){c1=0;}
            if(c2==''){c2=0;}
            if(k==0){
                debtid=debt_typeid[k].value
                debtvalue=c1
                debtvaluemonth=c2
                debtyear=debt_years[k].value
            }
            else{
                debtid=debtid+','+debt_typeid[k].value
                debtvalue=debtvalue+','+c1
                debtvaluemonth=debtvaluemonth+','+c2
                debtyear=debtyear+','+debt_years[k].value
            }
        }
        $.post("/usersurvey/p1s5_debt_table_save",{username:'<%= session[:webusername] %>',debt_typeid:debtid,debt_value:debtvalue,debt_value_monthly:debtvaluemonth,debt_years:debtyear},function(data){
            $.post("/weixins/create",{username:'<%= session[:webusername] %>'},function(data){
                location.href=e;
            });
        });
    }
</script>