<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<div class="welcomes start p1s4">
  <%= render "side" %>
  <div id="page-content">
    <h1>资产净值表<span class="red">（负债）</span>
      <div id="q-numbers"><b class="q-num past">1</b><b class="q-num past">2</b><b class="q-num past">3</b><b class="q-num past">4</b><b class="q-num curr">5</b></div>
    </h1>
    <div class="tablet">
      <div class="row-fluid">
        <div class="span1">
          <span>5</span>
        </div>
        <div class="span11">
          <div class="mleft">
            <div class="row-fluid op-label">
              <div class="span2 q-text">贷款类型</div>
              <div class="span2 q-text" style="text-align: left;">总负债</div>
              <div class="span2 q-text" style="text-align: left;">每月还贷</div>
              <div class="span2 q-text" style="text-align: left;">贷款年限</div>
              <div class="span1"></div>
            </div>
            <div class="seperator thick"></div>
            <div class="founder-inputs">

              <div class="op-input first" fid="founder">
                <div class="seperator bottom"></div>

                <div class="row-fluid">
                  <div class="span2 control-group">
                    <select  name="variety" id="debttype" class="founder-name" title="贷款类型" style="width: 140px;">
                      <% @debttype.each do |d| %>
                          <option value="<%= d.debt_typeid %>"><%= d.debt_typename %></option>
                      <% end %>
                    </select>
                  </div>
                  <div class="span2 control-group" style="text-align: left;">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="init" name="lnw" id="loan" style="width: 120px;" onMouseOver="if(this.value==0){this.value='';}"value="0" type="text">
                    </div>
                  </div>
                  <div class="span2">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="repayment" name="lnw" id="repayment" style="width: 120px;" type="text">
                    </div>
                  </div>
                  <div class="span2">
                    <input class="period" id="period" style="width: 120px;" type="text">
                  </div>
                  <div class="span1 top5" style="margin-top: 10px;margin-left: 0;height: 20px;overflow: hidden;"><i class="icon-remove-sign" style="display: none;margin-left: 20px;font-size: 30px;" onclick="removeFounder(this);">&nbsp;&nbsp;</i></div>
                </div>
              </div>
            </div>
            <div class="seperator bottom thick"></div>
            <a class="xtip pull-right" style="padding: 0 20px 10px 0;" onclick="addFounder(null, false);"> + 添加贷款 </a>
          </div>
        </div>
      </div>
    </div>
    <div id="q-buttons" class="">
      <button class="q-button light-gray big-button" id="q-back">◄&nbsp; <span>上一题</span>&nbsp;</button>
      <button class="q-button orange-button big-button" id="q-next">&nbsp;下一题 &nbsp;►</button>
    </div>
  </div>
</div>

<script>
    var eCalcShareHolders = new Object();
    var debug = false;

    function addFounder(founder, isFirst)
    {
        var aaa = genId(eCalcShareHolders);
        var f = founder;
        if(f == null) // create a new share holder
        {
            f = new ShareHolder();
            f.setupShareHolder(true, false, false);
            f.id= "founder-" + aaa;
            f.name = "Founder " + getNewNameNumber(eCalcShareHolders, "founder");
            eCalcShareHolders[f.id] = f;
        }

        if(!isFirst)
        {
            var fi = $("div.founder-inputs div.op-input").last().clone().removeClass("first");
            $(fi).find(".icon-remove-sign").show();
            var fid = f.id;
            $(fi).attr("fid", fid);
            // put values in
            $(fi).find(".founder-name").attr("id",'debttype'+aaa);
            $(fi).find(".init").val(0);
            $(fi).find(".init").attr("id",'loan'+aaa);
            $(fi).find(".repayment").attr("id",'repayment'+aaa);
            $(fi).find(".period").attr("id",'period'+aaa);
            $("div.founder-inputs").append(fi);
        }
    }

    function genId(map)
    {
        //cslog("Generating id for object.");
        var tId = 0;
        for(var id in map)
        {
            var count = id.split("-")[1];
            if(getInteger(count) > tId)
            {
                tId = count;
            }
        }
        return getInteger(tId) + 1;
    }

    function getInteger(v)
    {
        if (v != null && typeof(v) == 'string' & v != "")
        {
            v = v.replace(/\$/, "");
            v = v.replace(/,/g, "");
            v = v.replace(/\..*/g, "");
            var r = parseInt(v, 10);
            if (!isNaN(r))
                return r;
        }
        if (typeof(v) == "number")
        {
            return parseInt(v, 10);
        }

        return 0;
    }

    var ShareHolder = function()
    {
        this.isFounder = true;
        this.isEmployee = false;
        this.isSeries = false;
        this.percentStake = 0;
        this.exitValue = 0;
        this.totalShares = 0;
        this.name = "name";
        this.id = null;

        this.setFounder = function()
        {
            this.isFounder = true;
            this.isEmployee = false;
            this.isSeries = false;
        }

        this.setSeries = function()
        {
            this.isFounder = false;
            this.isEmployee = false;
            this.isSeries = true;
        }

        this.setEmployee = function()
        {
            this.isFounder = false;
            this.isEmployee = true;
            this.isSeries = false;
        }

        this.setupShareHolder = function(isFounder, isEmployee, isSeries)
        {
            if(isFounder)
            {
                this.isFounder = true;
                this.isEmployee = false;
                this.isSeries = false;
            }
            else if(isEmployee)
            {
                this.isFounder = false;
                this.isEmployee = true;
                this.isSeries = false;
            }
            else if(isSeries)
            {
                this.isFounder = false;
                this.isEmployee = false;
                this.isSeries = true;
            }
        }

        // Use to create a JSON object from the Founder
        this.renderJson = function()
        {
            return {
                isFounder: this.isFounder, isEmployee: this.isEmployee,
                isSeries: this.isSeries, percentStake: this.percentStake,
                totalShares: this.totalShares, id: this.id, name:this.name
            };
        }
    }

    function getNewNameNumber(shareHolders, type)
    {
        var fRegex = /founder\s\d/i;
        if(type == "employee")
        {
            fRegex = /employee\s\d/i;
        }
        var latestId = 1;
        for(var id in shareHolders)
        {
            if(type != "employee" && shareHolders[id].isFounder && fRegex.test(shareHolders[id].name))
            {
                var curNum = getInteger(fRegex.exec(shareHolders[id].name)[0].split(" ")[1]);
                if(curNum >= latestId)
                {
                    latestId  = curNum + 1;
                }
            }
            else if(type == "employee" && shareHolders[id].isEmployee && fRegex.test(shareHolders[id].name))
            {
                var curNum = getInteger(fRegex.exec(shareHolders[id].name)[0].split(" ")[1]);
                if(curNum >= latestId)
                {
                    latestId  = curNum + 1;
                }
            }
        }
        return latestId;
    }

    function removeFounder(e)
    {
        var fi = $(e).closest("div.op-input");
        var fid = $(fi).attr("fid");
        delete eCalcShareHolders[fid];
        $(fi).detach();
    }
</script>

<script>

    $(document).ready(function(){
        <% if session[:webusername]!=nil %>
        var first=0;
        <% if @userdebtsheet!=nil && @userdebtsheet.size!=0 %>
        <% for i in 0..@userdebtsheet.size-1 %>
        if(first==0){
            $("#debttype").attr("value",'<%= @userdebtsheet[i].debt_typeid %>')
            $("#loan").attr("value",'<%= @userdebtsheet[i].debt_value %>')
            $("#repayment").attr("value",'<%= @userdebtsheet[i].debt_value_monthly %>')
            $("#period").attr("value",'<%= @userdebtsheet[i].debt_years %>')
        }
        else{
            addFounder(null, false);
            $("#debttype"+first).attr("value",'<%= @userdebtsheet[i].debt_typeid %>')
            $("#loan"+first).attr("value",'<%= @userdebtsheet[i].debt_value %>')
            $("#repayment"+first).attr("value",'<%= @userdebtsheet[i].debt_value_monthly %>')
            $("#period"+first).attr("value",'<%= @userdebtsheet[i].debt_years %>')
        }
        first=first+1;
        <% end %>
        <% end %>
        <% end %>
    });

    $("#q-numbers").delegate(".q-num.past", "click", function() {
        if($(this).html()=='1'){
            save("/usersurvey/p1s1_user_basic_info");
        }
        if($(this).html()=='2'){
            save("/usersurvey/p1s2_cash_flow_statement_month");
        }
        if($(this).html()=='3'){
            save("/usersurvey/p1s3_cash_flow_statement_year");
        }
        if($(this).html()=='4'){
            save("/usersurvey/p1s4_asset_table");
        }
    });

    $("#q-back").click(function(){
        location.href="/usersurvey/p1s4_asset_table";
    });

    $("#q-next").click(function(){
        save("/usersurvey/p1_user_survey_report");
    });

    function save(e){
        debttype=document.getElementsByClassName("founder-name")  //贷款类型
        loan=document.getElementsByClassName("init")  //总负债
        repayment=document.getElementsByClassName("repayment")  //每月还贷
        period=document.getElementsByClassName("period")  //贷款年限
        var debtid='',debtvalue='',debtvaluemonth='',debtyear='';
        for(k=0;k<debttype.length;k++){
            var c1=loan[k].value.replace(/,/g, "");
            var c2=repayment[k].value.replace(/,/g, "");
            if(c1==''){c1=0;}
            if(c2==''){c2=0;}
            if(k==0){
                debtid=debttype[k].value
                debtvalue=c1
                debtvaluemonth=c2
                debtyear=period[k].value
            }
            else{
                debtid=debtid+','+debttype[k].value
                debtvalue=debtvalue+','+c1
                debtvaluemonth=debtvaluemonth+','+c2
                debtyear=debtyear+','+period[k].value
            }
        }
        $.post("/usersurvey/p1s5_debt_table_save",{username:'<%= session[:webusername] %>',debt_typeid:debtid,debt_value:debtvalue,debt_value_monthly:debtvaluemonth,debt_years:debtyear},function(data){
            location.href=e;
        });
    }
</script>