<%= stylesheet_link_tag "founder.css" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<!--[if !IE]><!-->
<%= javascript_include_tag "jquery.percentageloader-0.1.js" %>
<!--<![endif]-->

<style>
    .container {
        position: relative;
        display: table;
        border-width: 2px 1px;
        border-style: solid;
        border-color: #555 #CCC;
        background-color: #ffffff;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .span12 {
        width: 940px;
    }

    .span3{
        width: 270px!important;
        float: left;
    }

    [class^="icon-"], [class*=" icon-"] {
        font-family: FontAwesome;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        display: inline;
        width: auto;
        height: auto;
        line-height: normal;
        vertical-align: baseline;
        background-image: url("/assets/glyphicons-halflings.png");
        background-repeat: repeat;
        margin-top: 0;
    }

    h1{
        font-size: 20px;
        line-height: 36px;
        padding: 0 0 0 10px!important;
        font-weight: normal;
        color:black;
    }

    #topLoader {
        width: 150px;
        height: 150px;
        margin: 20px;
    }

    td.left{
        width: 35%;
        padding-left: 20px;
        vertical-align: top;
        padding-top: 20px;
    }
    td{
        vertical-align: top!important;
    }

    .login-popup{
        display:none;
        padding: 10px;
        border: 0px solid white;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%; left: 50%;
        z-index: 99999;
        width:430px
    }

    #mask {
        display: none;
        background: #000;
        position: fixed; left: 0; top: 0;
        width: 100%; height: 100%;
        opacity: 0.3;
        z-index: 999;
    }
</style>
<div class="container">
  <div class="top-tabs-content">
    <div style="width: 940px;margin: 0 auto;padding-left: 20px;">
      <b>1.</b> <span> 家庭资产体检</span>
      <b>&nbsp;&gt;&nbsp;</b>
      <span class="disabled"><b>2.</b> 风险承受力评估</span>
      <b>&nbsp;&gt;&nbsp;</b>
      <span class="disabled"><b>3.</b> 梦想目标设定</span>
      <b>&nbsp;&gt;&nbsp;</b>
      <span class="disabled"><b>4.</b> 规划建议书生成</span>
    </div>
  </div>
  <div class="tijian" style="width: 940px;margin: 0 auto;">
    <h1 class="content">家庭资产体检</h1>
    <div class="row s-op">
      <div class="span12 well-b">


        <div class="row title">
          <div class="span12">
            <div class="box c1">
              <h1 class="op-title">您的个人资料</h1>
              <!--  <div class="toggle-btn pull-right" style="margin: 20px 20px 0 0;"><a tid="s" onclick="toggleButton(this);"><span>关闭</span>&nbsp;&nbsp;<i class="icon-minus" style="font-size: 14px;">&nbsp;&nbsp;</i></a></div> -->
            </div>
          </div>
        </div>

        <div style="display: block;" class="row tgl-content-s">
          <div class="span12 well-c">

            <div class="row op-label">
              <div class="span3" style="text-align: left;">年龄</div>
              <div class="span3" style="text-align: left;">平均月收入</div>
              <div class="span2 member hide" style="text-align: left;">家庭成员收入</div>
            </div>
            <div class="seperator thick"></div>

            <div class="founding-inputs">
              <div class="op-input first" fid="founder">
                <div class="seperator bottom"></div>
                <div class="row">
                  <div class="span3">
              <span class="control-group">
                <input class="span2 age" id="age" style="width: 206px;" type="text" placeholder="年龄">
              </span>
                  </div>
                  <div class="span3">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="ctl demo-form-name span2 salary" title="平均月收入：每个月到手的收入，包括工资加上额外收入。" id="salary" value="0" style="width: 180px;" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="span2 member hide">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="span2 salary" id="salary2" value="0" style="width: 180px;" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="span1 top5 member hide" style="margin-top: 10px;margin-left: 70px\9;height: 20px;overflow: hidden;"><i class="icon-remove-sign" style="margin-left: 20px;font-size: 24px;" onclick="move();">&nbsp;&nbsp;</i></div>
                </div>
              </div>
              <div class="row op-label" style="margin: 10px 0 10px -30px;">
                <div class="span3">衣食住行</div>
                <div class="span3" style="text-align: left;">每月至少储蓄</div>
                <div class="span2" style="text-align: left;"></div>
              </div>
              <div class="op-input" fid="founder-1">
                <div class="row">
                  <div class="span3">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="ctl demo-form-name span2 rent" title="衣食住行:包括房租、房贷、伙食费等衣食住行，仅供维持最低生活标准的费用。" id="rent" value="0" style="width: 180px;" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="span3">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="ctl demo-form-name span2 wages" title="每月至少储蓄：您目标每月储蓄的金额，请不要过分苛求自己。" id="wages" value="0" style="width: 180px;" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="span2">
                    <!--
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="span2 pinmoney" id="pinmoney" value="0" style="width: 180px;" type="text" placeholder="">
                    </div>
                    -->
                  </div>
                </div>
              </div>
            </div>
            <div class="seperator bottom thick"></div>
            <a data-original-title="Click here to add another company founder" class="xtip pull-right"style="padding: 0 20px 10px 0;" onclick="add();"> + 添加家庭成员收入 </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row s-op">
      <div class="span12 well-b">

        <div class="row title">
          <div class="span12">
            <div class="box c1">
              <h1 class="op-title">您的资产分配</h1>
              <!-- <div class="toggle-btn pull-right" style="margin: 20px 20px 0 0;"><a tid="f" onclick="toggleButton(this);"><span>关闭</span>&nbsp;&nbsp;<i class="icon-minus" style="font-size: 14px;">&nbsp;&nbsp;</i></a></div>-->
            </div>
          </div>
        </div>

        <div style="display: block;" class="row tgl-content-f">
          <div class="span12 well-c">

            <div class="row op-label">
              <div class="span3">资产品种</div>
              <div class="span3" style="text-align: left;">资产金额</div>
              <div class="span2" style="text-align: left;">产品名称（可选）</div>
              <div class="span1"></div>
            </div>

            <div class="seperator thick"></div>

            <div class="founder-inputs">

              <div class="op-input first" fid="founder">
                <div class="seperator bottom"></div>

                <div class="row">
                  <div class="span3 control-group">
                    <select  name="variety" id="variety" class="founder-name" title="资产品种">
                      <option value="银行活期">银行活期</option>
                      <option value="银行定期">银行定期</option>
                      <option value="银行理财产品">银行理财产品</option>
                      <option value="余额宝">余额宝</option>
                      <option value="其他货币基金">其他货币基金</option>
                      <option value="债券型基金">债券型基金</option>
                      <option value="股票">股票</option>
                      <option value="股票型基金">股票型基金</option>
                      <option value="贵金属">贵金属</option>
                      <option value="其它">其它</option>
                    </select>
                  </div>
                  <div class="span3 control-group" style="text-align: left;">
                    <div class="input-prepend">
                      <span class="add-on">￥</span>
                      <input class="init-share" id="amount" style="width: 180px;" value="0" type="text" placeholder="资产金额">
                    </div>
                  </div>
                  <div class="span2" style="text-align: center;">
                    <input class="pname" id="pname" style="width: 206px;" type="text" placeholder="产品名称">
                  </div>
                  <div class="span1 top5" style="margin-top: 10px;margin-left: 70px\9;height: 20px;overflow: hidden;"><i class="icon-remove-sign" style="display: none;margin-left: 20px;font-size: 24px;" onclick="removeFounder(this);">&nbsp;&nbsp;</i></div>
                </div>
              </div>

            </div>

            <div class="seperator bottom thick"></div>

            <a data-original-title="Click here to add another company founder" class="xtip pull-right"style="padding: 0 20px 10px 0;" onclick="addFounder(null, false);"> + 添加资产 </a>

          </div>
        </div>
      </div>
      <div style="text-align: center;">
        <a id="animateButton"  href="#login-box"><img style="margin-top: 20px;" src="/assets/121081.jpg"></a> <br>
      </div>
    </div>

  </div>

  <div class="jieguo hide" style="width: 940px;margin: 0 auto;">
    <h1 class="content">体检结果</h1>
    <table class="press-table" border="0" style="width: 100%;" >
      <tbody>
      <tr>
        <td style="width: 35%;vertical-align: top;">
          <div id="topLoader"></div>
          <a id="retest" style="font-size: 15px;padding-left: 65px;">重新体检</a><br>
          <div style="padding: 10px 0 0 50px;">
            <wb:share-button count="n" type="button" appkey="3700511820" relateuid="3196249771" url="http://www.tongtianshun.com/usersurvey/startup" title=""></wb:share-button>
          </div>
        </td>
        <td>
          <div class="table">
            <div class="cell" style="width: 32px;"> <h1><b>1</b></h1> </div>
            <div class="cell">
              <p class="q-text">您的家庭资产体检报告：</p>
              <p id="liudong"></p>
              <p id="baoben"></p>
              <p id="fengxian"></p>
            </div>
          </div>
          <div id="next" class="table hide">
            <div class="cell" style="width: 32px;"> <h1><b>2</b></h1> </div>
            <div class="cell">
              <p class="q-text">下一步：风险承受度评估</p>
              <p>- 这个风险承受度评估系统是我们引用美国高盛公司的开源资产风险度管理模型，通过10个问题，包含投资取向，个人资金状况，个人工作情况，个人投资经验，从而了解您的风险承受度。</p>
              <a id="risk" class="btn btn-primary" style="margin-top: 20px;padding: 5px 46px;font-size: 16px;">下一步</a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id='login-box' class='login-popup modal' style="display: none;">
  <div class="modal">
    <div id="save">
      <div class="modal-header">
        <a class="close" href="javascript:">×</a>
        <h3>提示</h3>
      </div>
      <div class="modal-body">
        <p id="tishi"></p>
        <input class="hide" id="statusid">
      </div>
      <div class="modal-footer">
        <div class="clear"><input type="submit" value="修改" name="subscribe" id="subscribe" class="btn btn-primary">
          <input type="submit" value="确认" name="sub" id="sub" class="btn btn-primary"></div>
      </div>
    </div>
  </div>
</div>

<!--[if !IE]><!-->
<script>
    var perfinance=0;
    var $topLoader = $("#topLoader").percentageLoader({width: 150, height: 150, controllable : false, progress : 0, onProgressUpdate : function(val) {
        $topLoader.setValue(Math.round(val * 100.0));
    }});
</script>
<!--<![endif]-->

<script>
    function waithelp(){
        $("#login-box").show();
        var loginBox = $(this).attr('href');
        //Fade in the Popup and add close button
        //Set the center alignment padding + border
        var popMargTop = ($(loginBox).height() + 24) / 2;
        var popMargLeft = ($(loginBox).width() + 24) / 2;

        $(loginBox).css({
            'margin-top' : -popMargTop,
            'margin-left' : -popMargLeft
        });

        // Add the mask to body
        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);
    }

    $('a.close, #mask,#subscribe,#sub').live('click', function() {
        $('#mask , .login-popup').fadeOut(300 , function() {
            $('#mask').remove();
        });
        return false;
    });


    var varietys,amounts,pnames;
    $("#risk").click(function() {
        <% if session[:webusername]!=nil %>
        location.href='/home/questions';
        <% else %>
        var salary= $("#salary").attr("value")+$("#salary").attr("value");
        location.href='/home/questions?score='+run()+'&variety='+varietys+'&pname='+pnames+'&amount='+amounts+'&age='+$("#age").attr("value")
                +'&salary='+salary+'&rent='+$("#rent").attr("value")+'&wages='+$("#wages").attr("value");
        <% end %>
    });

        var topLoaderRunning = false;
        var ie = !-[1,];
        $("#retest").click(function() {
            $("#next").hide();
            $(".jieguo").hide();
            $(".tijian").show();
            $("#liudong").html("");
            $("#baoben").html("");
            $("#fengxian").html("");
           if(ie){
            $("#topLoader").html("");
           }
        });

    var variety,amount,pname,jixu,total,xian,feng,wen;
    var xianjin= 0,wenjian= 0,fengxian=0;
    var score1,score2,score3;
        $("#animateButton").click(function() {
            if(ie){
                document.getElementsByClassName = function(){
                    var tTagName ="*";
                    if(arguments.length > 1){
                        tTagName = arguments[1];
                    }
                    if(arguments.length > 2){
                        var pObj = arguments[2]
                    }
                    else{
                        var pObj = document;
                    }
                    var objArr = pObj.getElementsByTagName(tTagName);
                    var tRObj = new Array();
                    for(var i=0; i<objArr.length; i++){
                        if(objArr[i].className == arguments[0]){
                            tRObj.push(objArr[i]);
                        }
                    }
                    return tRObj;
                }
            }
            //   var array=[[0.1,0.3,0.6],[0.1,0.35,0.55],[0.15,0.35,0.5],[0.15,0.4,0.45],[0.2,0.4,0.4]]
             variety=document.getElementsByClassName("founder-name")  //资产品种
             amount=document.getElementsByClassName("init-share")  //资产金额
             pname=document.getElementsByClassName("pname")  //产品名称

            // alert($("#age").attr("value"));  年龄层次
            for(i=0;i<variety.length;i++){
                if(variety[i].value=="银行活期"){xianjin=xianjin+parseFloat(amount[i].value)}
                else if(variety[i].value=="余额宝"){xianjin=xianjin+parseFloat(amount[i].value)}
                else if(variety[i].value=="其他货币基金"){xianjin=xianjin+parseFloat(amount[i].value)}
                else if(variety[i].value=="银行理财产品"){wenjian=wenjian+parseFloat(amount[i].value)}
                else if(variety[i].value=="银行定期"){wenjian=wenjian+parseFloat(amount[i].value)}
                else if(variety[i].value=="债券型基金"){wenjian=wenjian+parseFloat(amount[i].value)}
                else if(variety[i].value=="股票"){fengxian=fengxian+parseFloat(amount[i].value)}
                else if(variety[i].value=="股票型基金"){fengxian=fengxian+parseFloat(amount[i].value)}
                else if(variety[i].value=="贵金属"){fengxian=fengxian+parseFloat(amount[i].value)}
                else if(variety[i].value=="其它"){fengxian=fengxian+parseFloat(amount[i].value)}
                if(i==0){
                    varietys=variety[i].value;
                    amounts=amount[i].value;
                    pnames=pname[i].value;
                }
                else{
                    varietys=varietys+','+variety[i].value;
                    amounts=amounts+','+amount[i].value;
                    pnames=pnames+','+pname[i].value;
                }
            }
             jixu=xianjin+wenjian+fengxian;//积蓄
             total=parseFloat($("#wages").attr("value"))*12+jixu;//总资产
             xian=parseFloat($("#rent").attr("value"))*3;
             feng=(total*(80-parseFloat($("#age").attr("value")))/100);
             wen=total-xian-feng;

            if(xian/total>xianjin/jixu)
            {
                score1=1;
            }
            else if(xian/total<xianjin/jixu){
                score1=0;
            }
            if(wen/total>wenjian/jixu)
            {
                score2=1;
            }
            else if(wen/total<wenjian/jixu){
                score2=0;
            }
            if(feng/total>fengxian/jixu)
            {
                score3=1;
            }
            else if(feng/total<fengxian/jixu){
                score3=0;
            }

            if(wen<=0 || (parseFloat($("#salary").attr("value"))+parseFloat($("#salary2").attr("value"))-parseFloat($("#rent").attr("value"))-parseFloat($("#wages").attr("value")))/total>=2/3){
                $("#tishi").html("您每个月的零花钱会不会太多了？");
                $("#sub").hide();
                $("#subscribe").addClass("btn-primary");
                waithelp();
            }
            else if(xianjin<=0){
                $("#tishi").html("我们看您没有输入活期存款金额，您应该不会身上一分钱现金都没有吧？");
                $("#sub").hide();
                $("#subscribe").addClass("btn-primary");
                waithelp();
            }
            else if(jixu>=500000){
                $("#tishi").html("请不要把房屋资产也算进去哦。");
                $("#sub").show();
                $("#subscribe").removeClass("btn-primary");
                waithelp();
            }
            else{
                animate();
            }
        });

        $("#sub").click(function() {
            animate();
        });
 </script>

<script>
    function animate() {
        if(ie){
            $(".tijian").hide();
            $(".jieguo").show();
        <% if session[:webusername]!=nil %>

            $.post("/usersurvey/savescore",{username:'<%= session[:webusername] %>',score:run(),pname:pnames,amount:amounts,variety:varietys,age:$("#age").attr("value"),
                salary:parseFloat($("#salary").attr("value"))+parseFloat($("#salary2").attr("value")),rent:$("#rent").attr("value"),wages:$("#wages").attr("value")},function(data){
            });
        <% end %>
            var kb = 0;
            var totalKb = 999;
            var animateFunc = function() {
                kb += 5;
              if(kb<=400){
                    if(kb==400){
                        if(score1==1){$("#liudong").html("您的流动性资产配置 过低。");}
                        else if (score1==0){$("#liudong").html("您的流动性资产配置 过高。");}
                        else{$("#liudong").html("您的流动性资产配置 适中。");}
                    }
                }
                else if(kb<=600){
                    if(kb==600){
                        if(score2==1){$("#baoben").html("您的保本性资产配置 过低。");}
                        else if (score2==0){$("#baoben").html("您的保本性资产配置 过高。");}
                        else{$("#baoben").html("您的保本性资产配置 适中。");}
                    }
                }
                else if(kb<=800){
                    if(kb==800){
                        if(score3==1){$("#fengxian").html("您的风险性资产配置 过低。");}
                        else if (score3==0){$("#fengxian").html("您的风险性资产配置 过高。");}
                        else{$("#fengxian").html("您的风险性资产配置 适中。");}
                    }
                }

                if (kb < totalKb) {
                    setTimeout(animateFunc, 25);
                } else {
                    $("#next").show();
                    $("#topLoader").html("<h1 style='font-style: 30px;text-align: center;'>您的家庭资产体检得分为：<br>"+run()+"分</h1>");
                }
            }
            setTimeout(animateFunc, 25);
        }
        else{
            $(".tijian").hide();
            $(".jieguo").show();
        <% if session[:webusername]!=nil %>
            $.post("/usersurvey/savescore",{username:'<%= session[:webusername] %>',score:run(),pname:pnames,amount:amounts,variety:varietys,age:$("#age").attr("value"),
                salary:parseFloat($("#salary").attr("value"))+parseFloat($("#salary2").attr("value")),rent:$("#rent").attr("value"),wages:$("#wages").attr("value")},function(data){
            });
        <% end %>

            if (topLoaderRunning) {
                return;
            }
            topLoaderRunning = true;
            $topLoader.setProgress(0);
            $topLoader.setValue('0kb');
            var kb = 0;
            var totalKb = 999;

            var animateFunc = function() {
                kb += 5;

                $topLoader.setProgress(kb / totalKb);
                //$topLoader.setValue(kb.toString() + 'kb');
                if(kb<=200){
                    $topLoader.setValue('<span style="font-size: 12px;line-height: 12px;font-family: Microsoft YaHei;">个人资产信息分析</span>');
                }
                else if(kb<=400){
                    $topLoader.setValue('<span style="font-size: 12px;line-height: 12px;font-family: Microsoft YaHei;">流动性资金分布分析</span>');
                    if(kb==400){
                        if(score1==1){$("#liudong").html("您的流动性资产配置 过低。");}
                        else if (score1==0){$("#liudong").html("您的流动性资产配置 过高。");}
                        else{$("#liudong").html("您的流动性资产配置 适中。");}
                    }
                }
                else if(kb<=600){
                    $topLoader.setValue('<span style="font-size: 12px;line-height: 12px;font-family: Microsoft YaHei;">保本性资金分布分析</span>');
                    if(kb==600){
                        if(score2==1){$("#baoben").html("您的保本性资产配置 过低。");}
                        else if (score2==0){$("#baoben").html("您的保本性资产配置 过高。");}
                        else{$("#baoben").html("您的保本性资产配置 适中。");}
                    }
                }
                else if(kb<=800){
                    $topLoader.setValue('<span style="font-size: 12px;line-height: 12px;font-family: Microsoft YaHei;">风险性资金分布分析</span>');
                    if(kb==800){
                        if(score3==1){$("#fengxian").html("您的风险性资产配置 过低。");}
                        else if (score3==0){$("#fengxian").html("您的风险性资产配置 过高。");}
                        else{$("#fengxian").html("您的风险性资产配置 适中。");}
                    }
                }
                else if(kb<=1000){
                    $topLoader.setValue('<span style="font-size: 12px;line-height: 12px;font-family: Microsoft YaHei;">生成概述报告</span>');
                }

                if (kb < totalKb) {
                    setTimeout(animateFunc, 25);
                } else {
                    $("#next").show();
                    topLoaderRunning = false;
                }
            }

            setTimeout(animateFunc, 25);
        }
    }
 </script>

<script>

    function run(){
        var score=(3-(Math.abs(xian/total-xianjin/jixu)+Math.abs(wen/total-wenjian/jixu)+Math.abs(feng/total-fengxian/jixu)))*100/3
        return  score.toFixed(1);
    }

    var eCalcShareHolders = new Object();
    var settingSavedUser = false;
    var debug = false;
    var econValidations;

    // use to add founders
    function addFounder(founder, isFirst)
    {
        var aaa = genId(eCalcShareHolders);
        var f = founder;
        if(f == null) // create a new share holder
        {
            f = new ShareHolder();
            f.setupShareHolder(true, false, false);
            f.id= "founder-" + aaa;
            f.name = "Founder " + getNewNameNumber(eCalcShareHolders, "founder");
            eCalcShareHolders[f.id] = f;
        }

        if(!isFirst)
        {
            var fi = $("div.founder-inputs div.op-input").last().clone().removeClass("first");
            $(fi).find(".icon-remove-sign").show();
            var fid = f.id;
            $(fi).attr("fid", fid);
            // put values in
            $(fi).find(".founder-name").attr("id",'variety'+aaa);
            $(fi).find(".init-share").val(0);
            $(fi).find(".init-share").attr("id",'amount'+aaa);
            $(fi).find(".pname").attr("id",'pname'+aaa);
            $("div.founder-inputs").append(fi);
        }
    }

    function add()
    {
        $(".member").removeClass("hide");
    }
    function move()
    {
        $(".member").addClass("hide");
        $("#salary2").attr("value",0);
    }

    // use to remove founders
    function removeFounder(e)
    {
        var fi = $(e).closest("div.op-input");
        var fid = $(fi).attr("fid");
        delete eCalcShareHolders[fid];
        $(fi).detach();
        cslog("Removing share holder");
        cslog(eCalcShareHolders);
    }

    function cslog(message)
    {
        if(debug == true)
        {
            console.log(message);
        }
    }
    /*

     function toggleButton(e)
     {
     var text = $(e).find("span").html();
     if(text == "关闭")
     {
     $(".tgl-content-"+$(e).attr("tid")).slideUp();
     $(e).find("span").html("打开");
     $(e).find("i").removeClass().addClass("icon-plus");

     }
     else
     {
     $(".tgl-content-"+$(e).attr("tid")).slideDown();
     $(e).find("span").html("关闭");
     $(e).find("i").removeClass().addClass("icon-minus");
     }
     }
     */
</script>

<script>
    var ShareHolder = function()
    {
        this.isFounder = true;
        this.isEmployee = false;
        this.isSeries = false;
        this.percentStake = 0;
        this.exitValue = 0;
        this.totalShares = 0;
        this.name = "name";
        this.id = null;

        this.setFounder = function()
        {
            this.isFounder = true;
            this.isEmployee = false;
            this.isSeries = false;
        }

        this.setSeries = function()
        {
            this.isFounder = false;
            this.isEmployee = false;
            this.isSeries = true;
        }

        this.setEmployee = function()
        {
            this.isFounder = false;
            this.isEmployee = true;
            this.isSeries = false;
        }

        this.setupShareHolder = function(isFounder, isEmployee, isSeries)
        {
            if(isFounder)
            {
                this.isFounder = true;
                this.isEmployee = false;
                this.isSeries = false;
            }
            else if(isEmployee)
            {
                this.isFounder = false;
                this.isEmployee = true;
                this.isSeries = false;
            }
            else if(isSeries)
            {
                this.isFounder = false;
                this.isEmployee = false;
                this.isSeries = true;
            }
        }

        // Use to create a JSON object from the Founder
        this.renderJson = function()
        {
            return {
                isFounder: this.isFounder, isEmployee: this.isEmployee,
                isSeries: this.isSeries, percentStake: this.percentStake,
                totalShares: this.totalShares, id: this.id, name:this.name
            };
        }
    }

    function genId(map)
    {
        //cslog("Generating id for object.");
        var tId = 0;
        for(var id in map)
        {
            var count = id.split("-")[1];
            if(getInteger(count) > tId)
            {
                tId = count;
            }
        }
        return getInteger(tId) + 1;
    }

    function getInteger(v)
    {
        if (v != null && typeof(v) == 'string' & v != "")
        {
            v = v.replace(/\$/, "");
            v = v.replace(/,/g, "");
            v = v.replace(/\..*/g, "");
            var r = parseInt(v, 10);
            if (!isNaN(r))
                return r;
        }
        if (typeof(v) == "number")
        {
            return parseInt(v, 10);
        }

        return 0;
    }

    function getNewNameNumber(shareHolders, type)
    {
        var fRegex = /founder\s\d/i;
        if(type == "employee")
        {
            fRegex = /employee\s\d/i;
        }
        var latestId = 1;
        for(var id in shareHolders)
        {
            if(type != "employee" && shareHolders[id].isFounder && fRegex.test(shareHolders[id].name))
            {
                var curNum = getInteger(fRegex.exec(shareHolders[id].name)[0].split(" ")[1]);
                if(curNum >= latestId)
                {
                    latestId  = curNum + 1;
                }
            }
            else if(type == "employee" && shareHolders[id].isEmployee && fRegex.test(shareHolders[id].name))
            {
                var curNum = getInteger(fRegex.exec(shareHolders[id].name)[0].split(" ")[1]);
                if(curNum >= latestId)
                {
                    latestId  = curNum + 1;
                }
            }
        }
        return latestId;
    }
</script>

<script>
  $(function(){
      $('.demo-form-name').poshytip({
          className: 'tip-yellowsimple',
          showOn: 'focus',
          alignTo: 'target',
          alignX: 'right',
          alignY: 'center',
          offsetX: 5
      });
    var flickrFeedsCache = {};
    $('#demo-async-flickr > a').poshytip({
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        alignY: 'bottom',
        content: function(updateCallback) {
            var rel = $(this).attr('rel');
            if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                return flickrFeedsCache[rel].container;
            if (!flickrFeedsCache[rel]) {
                flickrFeedsCache[rel] = { container: null };
                var tagsComma = rel.substring(4).replace('-', ',');
                $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                        function(data) {
                            var container = $('<div/>').addClass('flickr-thumbs');
                            $.each(data.items, function(i, item) {
                                $('<a/>')
                                        .attr('href', item.link)
                                        .append($('<img/>').attr('src', item.media.m))
                                        .appendTo(container)
                                        .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                if (i == 4)
                                    return false;
                            });
                            // add tips for the images inside the main tip
                            container.find('a').poshytip({
                                content: function(){return $(this).data('tip');},
                                className: 'tip-yellowsimple',
                                showTimeout: 100,
                                alignTo: 'target',
                                alignX: 'center',
                                alignY: 'bottom',
                                offsetY: 5,
                                allowTipHover: false,
                                hideAniDuration: 0
                            });
                            // call the updateCallback function to update the content in the main tooltip
                            // and also store the content in the cache
                            updateCallback(flickrFeedsCache[rel].container = container);
                        }
                );
            }
            return 'Loading images...';
        }
    });
});

  $(document).ready(function(){
      <% if session[:webusername]!=nil %>
         $("#age").attr("value",parseInt('<%= @examination.age %>'));
         $("#salary").attr("value",parseInt('<%= @examination.salary %>'));
         $("#rent").attr("value",parseInt('<%= @examination.rent %>'));
         $("#wages").attr("value",parseInt('<%= @examination.wages %>'));
         var variety='<%= @examination.variety %>'.split(",");
         var amount='<%= @examination.amount %>'.split(",");
         var pname='<%= @examination.pname %>'.split(",");
        for(i=0;i<variety.length;i++){
            if(i==0){
                $("#variety").attr("value",variety[i]);
                $("#amount").attr("value",amount[i]);
                $("#pname").attr("value",pname[i]);
            }
            else{
                addFounder(null, false);
                $("#variety"+i).attr("value",variety[i]);
                $("#amount"+i).attr("value",amount[i]);
                $("#pname"+i).attr("value",pname[i]);
            }
        }
      <% end %>
  });
</script>
