<%= form_for(@usercommodity_t) do |f| %>
  <% if @usercommodity_t.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usercommodity_t.errors.count, "error") %> prohibited this usercommodity_t from being saved:</h2>

      <ul>
      <% @usercommodity_t.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    修改<%= @usercommodity_t.commodityid%>的交易价格：<br />
    <%= f.text_field :tradecharge ,:size=>3%>元/每手
  </div>
  <div class="actions">
    <%= f.submit :"提交" %>
  </div>
<% end %>
