<%= stylesheet_link_tag "faary.css" %>
<h2>贷款利率定制</h2>
<h3>您好<%= @webuser.name %>！请修改贷款利率：
  <%= form_tag do %><%= text_field_tag :lendrate_p, params[:lendrate_p],:value=>@usercommodity[0].lendrate.to_d*100,:size=>3 %>%
      <div  class="iform">
	  <%= submit_tag "提交" ,:class=>"ibutton",:style=>"margin:100px,100px,0px,0px"%>
	  </div>
	  <% end %>
</h3>




