<%= stylesheet_link_tag "faary.css" %>
<h2>保证金比例修改：</h2>
<%= form_tag do %>
    请修改商品品种<%= @usercommodity_t.commodityid%>的保证金比例：
    <br>
    <%= text_field_tag :trademargingap_p ,params[:trademargingap_p] ,:value=>(@usercommodity_t.trademargingap.to_d+@exchtrademargin[@usernum].to_d)*100,:size=>3%>%
    <% session[:exchtrademargin]=@exchtrademargin[@usernum].to_d  %>
    <div  class="iform">
	<%= submit_tag "提交",:class=>"ibutton",:style=>"margin:100px,100px,0px,0px"%>
     </div>
<% end %>
