
    <p id="notice"><%= notice %></p>

    <p>
      <b><%= @usercommodity_t.commodityid%>的保证金比例：</b>
      <%= (@usercommodity_t.trademargingap.to_d+session[:exchtrademargin].to_d)*100 %> %
    </p>

    <td><%= link_to '修改', :controller =>"usercommodity_ts", :action => "edittm" , :id => @usercommodity_t.id %></td>
    <%= link_to '返回', :controller=>"usermanagement" ,:action=>"usertrademargin", :id=>@webuser.id %>


