
    <p id="notice"><%= notice %></p>

    <p>
      <b><%= @usercommodity_t.commodityid%>的交易价格：</b>
      <%= @usercommodity_t.tradecharge %>
    </p>


    <td><%= link_to '修改', edit_usercommodity_t_path(@usercommodity_t) %></td>
    <%= link_to '返回', :controller=>"usermanagement" ,:action=>"usertradecharge", :id=>@webuser.id %>


