<%= stylesheet_link_tag "child.css" %>
<%= javascript_include_tag "jquery.easing.1.3.js" %>
<%= javascript_include_tag "jquery.jscrollpane.min.js" %>
<%= javascript_include_tag "core074.js" %>
  <!--[if lt IE 9]>
<%= javascript_include_tag "html5.js" %>
<%= javascript_include_tag "excanvas.js" %>
  <![endif]-->
  <!--[if IE 7]>
<%= stylesheet_link_tag "ie7.css" %>
  <![endif]-->
<%= javascript_include_tag "inits.js" %>

<div id="container" style="width: 100%; overflow: hidden; height: 100%;padding-top: 20px;">

<div id="branding">
  <table>
    <tr>
      <td class="left">
        <a class="crumbs" href="/">首页</a>
  <a href="#" rel="track:0.25" style="height: 130px;text-decoration: none;" title="理财观 伴随宝贝你 长大">
  <h1>理财观 伴随宝贝你长大</h1>
  <p>宝贝，你需要了解的20个理财观念，他们会帮助你走向自由、富裕、健康的人生</p></a>
      </td>
      <td class="right">
          <a style="color: #0088cc;" href="/blog/index?classify=儿童理财观">我想了解更多儿童理财观的知识>></a>
          <p style="line-height: 25px;margin: 0 0 11px 0; font-weight: normal;color: black;font-size: 14px;">我必须和我的父母朋友们分享这个。</p>
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
          <a class="bds_tsina"></a>
          <a class="bds_tqq"></a>
        </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=6562014" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END -->
      </td>
      </tr>
      </table>
</div>


<div id="wrapper">

<!-- Article 1 -->

<article id="article1">

  <!-- Section 1 -->

  <section id="section_1">
    <h1><font><font>1</font></font></h1>
    <p><em><font><font>你需要钱，</font></font></em><br><font><font>买东西。</font></font></p>
    <hr>
    <a href="#" rel="track:0.1" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 43px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>认识硬币和他们的价值。</font></font></li>
        <li><font><font>告诉您的宝贝，很多幸福的东西是免费的</font></font><br><font><font>例如和小伙伴一起玩。</font></font></li>
        <li><font><font>告诉宝贝，有些东西是需要花钱的，</font></font><br><font><font>例如巧克力，衣服，超市前的摇摇车。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 2 -->

  <section id="section_2">
    <h1><font><font>2</font></font></h1>
    <p><font><font>你需要通过<em>工作</em><br>来赚钱。</font></font><br></em><font><font></font></font></p>
    <hr>
    <a href="#" rel="track:0.2" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: -19px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>向您的宝贝描述您的工作</font></font></li>
        <li><font><font>走到户外</font></font><br><font><font>指出外边工作的人们，例如公交车司机</font></font><br><font><font>或警察叔叔。</font></font></li>
        <li><font><font>向宝贝解释有些人创办自己的公司赚钱</font></font><br><font><font>如服装店或小餐馆，</font></font><br><font><font>这些人被称为创业者或企业家。</font></font></li>
        <li><font><font>鼓励你的孩子去思考，她怎样</font></font><br><font><font>才可能赚到钱，例如帮家里打扫卫生。</font></font><br><font><font></font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 3 -->

  <section id="section_3">
    <h1><font><font>3</font></font></h1>
    <p><font><font>在买到你想要的东西之前，你需要<em>等待</em>。</font><em><font></font></em><em><font></font></em><font></font><font></font><font></font><em><font></font></em><font></font></font><em><font></font><br><font></font></em><font></font><font></font></p>
    <hr>
    <a href="#" rel="track:0.3" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 1px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>当你的孩子在排队</font></font><br><font><font>玩秋千</font><font>时</font><font>，或期待着她最喜欢的</font></font><br><font><font>节日时，向他指出，有时我们不得不</font></font><br><font><font>耐心的等待，才能得到我们想要的东西。</font></font></li>
        <li><font><font>找到三个广口瓶，一个用来储蓄，</font></font><br><font><font>一个用来消费，一个用于和小朋友们分享。</font></font></li>
        <li><font><font>建议您的孩子把一些钱放进储蓄瓶子里，</font></font><br><font><font>这样当他储蓄到一定金额，</font></font><br><font><font>他就可以买他喜欢的玩具。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 4 -->

  <section id="section_4">
    <h1><font><font>4</font></font></h1>
    <p><font><em><font>你想要的</font></em><em><font>东西</font></em><font>，</font><font><br>和你所必需的东西</font></font><br><font><font></font><font>是有区别</font><font>。</font></font><em><font></font><br><font></font></em><font></font><font></font></p>
    <hr>
    <a href="#" rel="track:0.4" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: -20px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>当您带着宝贝外出购物时，告诉他</font></font><br><font><font>哪些是必需品，如食品和服装，并询问</font></font><br><font><font>他，他觉得哪些是想要的，</font></font><br><font><font>但不是必须要的。</font></font></li>
        <li><font><font>告诉您的宝贝，家里是怎样决定该买什么，</font></font><br><font><font>不该买什么。</font><font>买小熊糖果和买新鲜水果</font></font><br><font><font>哪一样更重要？</font><font>可乐和牛奶呢？</font></font></li>
        <li><font><font>画一个圆，并把它分成几部分，</font></font><br><font><font>代表</font><font>伙食费，服装费，</font><font>房贷 和想要的东西，</font></font><br><font><font>告诉宝贝，想要的东西的购买金额是有限制的。</font></font></li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 2 -->

<article id="article2">

  <!-- Section 5 -->

  <section id="section_5">
    <h1><font><font>5</font></font></h1>
    <p><font><font>怎样使用零花钱，<br>宝贝，<br>你需要做出<em>选择</em>。</font></font><em><font><font></font></font><font><font></font></font></em><font></font><font><font></font></font><font><font></font></font></p>
    <hr>
    <a href="#" rel="track:0.6" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 11.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>在做出家庭小决定时，例如在超市里，</font></font><br><font><font></font><font>告诉宝贝为什么您买这个品牌的牛奶，<br>而不是选择三鹿。</font></font><br><font><font></font></font></li>
        <li><font><font>给你的孩子十块钱，让她</font></font><br><font><font>选择买哪种水果。</font></font></li>
        <li><font><font>与您的孩子逛街的时候，</font></font><br><font><font>大声</font><font>问自己</font><font>：我真的需要这个商品吗？</font><br><font>我可以借到这个嘛？</font></font><br><font><font>淘宝购买会不会更加便宜些呢？</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 6 -->

  <section id="section_6">
    <h1><font><font>6</font></font></h1>
    <p><font><font>到处转转，</font></font><br><font><font>购买之前</font><em><font>比较价格，</font></em><font>是一件非常有趣的事情。</font></font><em><font></font></em><br><font></font></p>
    <hr>
    <a href="#" rel="track:0.7" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 32.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>和您的孩子一起，为一个奥特曼</font></font><font><font>或白雪公主玩具，<br>在淘宝，京东或实体商店</font><font>比较价格高低。</font><font></font></font></li>
        <li><font><font>使用打折卡，并告诉</font></font><br><font><font>您的宝贝，您节省了多少钱。</font></font></li>
        <li><font><font>如果她帮助寻找或打印优惠券时，</font></font><br><font><font></font><font></font><font>给宝宝一些奖励，无论是物质还是精神上的。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 7 -->

  <section id="section_7">
    <h1><font><font>7</font></font></h1>
    <p><font><font>在网络上，</font></font><font><font></font></font><em><font><font>分享私人信息是非常危险的。</font></font><font><font></font></font><br><font></font></em><br><font><font></font><em><font></font></em><em><font></font></em><font></font></font></p>
    <hr>
    <a href="#" rel="track:0.8" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: -19px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>知道你的孩子访问的网站。</font></font></li>
        <li><font><font>决定哪些网站是适当的，并</font></font><br><font><font>阻止任何不恰当的网站使用家长</font></font><br><font><font>控制软件。</font></font></li>
        <li><font><font>使它成为一个规则，你的孩子从来没有给</font></font><br><font><font>任何个人信息，像她这样的出生日期，</font></font><br><font><font>地址，电话号码，或学校</font></font><br><font><font>的电脑</font><font>上时</font><font>。</font></font></li>
        <li><font><font>不要让她</font></font><br><font><font>未经您许可的情况下</font><font>在网上买东西</font><font>。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 8 -->

  <section id="section_8">
    <h1><font><font>8</font></font></h1>
    <p><font><font>把你的</font></font><br><font><font>钱在一个储蓄</font></font><br><font><font>账户，将</font><em><font>保护</font></em><font>它，并</font><font>支付利息。</font></font><br><em><font></font></em><font></font><br><font></font></p>
    <hr>
    <a href="#" rel="track:0.9" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -8.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>参观附近的一个联邦保险的银行或</font></font><br><font><font>信用社与你的孩子。</font></font></li>
        <li><font><font>询问</font></font><br><font><font>一个储蓄帐户</font><font>的利率</font><font>。</font></font></li>
        <li><font><font>与你的孩子讨论如何</font></font><br><font><font>受联邦保险</font><font>储蓄</font><font>账户的</font><font>钱</font><font>，</font></font><br><font><font>如果银行倒闭，她会得到</font></font><br><font><font>她的钱回来。</font></font></li>
        <li><font><font>为你的孩子开一个储蓄帐户。</font></font></li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 3 -->

<article id="article3">

  <!-- Section 9 -->

  <section id="section_9">
    <h1><font><font>9</font></font></h1>
    <p><font><font>您收到</font><font>的每一美元，</font><font>你应该</font></font><em><font><font>保存</font></font><br><font><font>至少一毛钱</font></font></em><br><font></font><br><font><font>。</font></font></p>
    <hr>
    <a href="#" rel="track:0.11" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>鼓励你的孩子总是</font></font><br><font><font>得到他的钱</font><font>节省10％ </font><font>。</font></font></li>
        <li><font><font>让您的孩子设定了一个目标，买他</font></font><br><font><font>想要的</font><font>东西</font><font>，他努力，金额。</font></font></li>
        <li><font><font>要加强储蓄的习惯，去银行</font></font><br><font><font>每年</font><font>两</font><font>到三次，与你的孩子</font></font><br><font><font>到他的帐户</font><font>存入</font><font>储蓄，看看多少</font></font><br><font><font>更大的平衡是每个访问。</font></font></li>
        <li><font><font>考虑一个“匹配的为您的孩子的</font></font><br><font><font>储蓄</font><font>计划“ </font><font>：你把</font></font><br><font><font>他节省</font><font>每一美元25美分</font><font>。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 10 -->

  <section id="section_10">
    <h1><font><font>10</font></font></h1>
    <p><font></font><br><font><font>像</font></font><br><font><font>银行或信用卡</font></font><br><font><font>号码，</font><font>输入个人</font><font>信息，</font><font>网上是</font></font><br><font><font>有风险的，因为</font><em><font>有人可以偷</font></em><font>。</font></font><br><em><font></font></em><font></font></p>
    <hr>
    <a href="#" rel="track:0.12" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -60px; display: none;">
      <canvas class="canvas" width="80" height="640"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>讨论</font></font><br><font><font>网上</font><font>输入个人</font><font>信息</font><font>的危险</font><font>。</font></font></li>
        <li><font><font>解释说，盗贼可以使用社会安全</font></font><br><font><font>号码或其他个人信息打开</font></font><br><font><font>信用卡或制造假文件。</font></font></li>
        <li><font><font>解释说，“免费”提供在线，如蜂窝</font></font><br><font><font>电话铃声或游戏，都是骗局获得</font></font><br><font><font>人们花钱没有意识到这一点。</font></font></li>
        <li><font><font>让它成为您的孩子从来没有</font></font><br><font><font>他不知道，</font></font><br><font><font>从来没有点击弹出式广告的</font><font>人</font><font>回答</font><font>电子邮件的</font><font>规则</font><font>。</font></font></li>
        <li><font><font>转到到</font></font><a href="http://www.ftc.gov/idtheft" target="_blank" title="美国联邦贸易委员会身份盗窃信息" rel="track:4.46"><font><font>ftc.gov / idtheft的</font></font></a><font></font><br><font><font>信息安全</font><font>上的提示</font><font>。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 11 -->

  <section id="section_11">
    <h1><font><font>11</font></font></h1>
    <p><font><font>你越早</font></font><br><font><font>保存，</font><em><font>你的钱可以</font></em><font>从</font><font>复利</font><em><font>增长</font></em></font><em><font><font>更快</font></font><br><font></font><br><font></font></em><font></font><br><font><font>。</font></font></p>
    <hr>
    <a href="#" rel="track:0.13" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>复利是，当你赚你的钱节省的利息你赚利息。</font></font></li>
        <li><font><font>显示你的孩子：如果他也把</font></font><br><font><font>每年100元，从14岁开始，他不得不在65岁的约23,000元。</font><font>但是，如果他在35岁时开始节约，他不得不在65岁的7000美元。</font><font>假设帐户每年赚取5％。</font></font></li>
        <li><font><font>要计算复利，使用</font></font><br><font><font>计算器在
        </font></font><a href="http://www.investor.gov/tools/calculators/compound-interest-calculator" title="美国证券和交易委员会" target="_blank" rel="track:4.47"><font><font>investor.gov</font></font></a><font><font>。</font></font></li>
        <li><font><font>讨论您的孩子可以节省多少，</font></font><br><font><font>他会不会有什么放弃？</font><font>是否值得？</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 12 -->

  <section id="section_12">
    <h1><font><font>12</font></font></h1>
    <p><em><font><font>使用一个信用卡</font></font><br><font><font>就像是</font></font><br><font><font>服用了</font></font><br><font><font>贷款</font></font></em><font><font>，如果你不</font></font><br><font><font>全面</font></font><br><font><font>每个月</font><font>支付帐单</font><font>，你会</font></font><br><font><font>被收取利息</font></font><br><font><font>和欠超过</font></font><br><font><font>您最初花了。</font></font></p>
    <hr>
    <a href="#" rel="track:0.14" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>讨论为什么你不应该使用信用卡</font></font><br><font><font>买东西，你可以</font></font><br><font><font>用现金</font><font>付不起</font><font>。</font></font></li>
        <li><font><font>看着信用卡提供在线和你的孩子，</font></font><br><font><font>并比较利率。</font></font></li>
        <li><font><font>使用信用卡还款计算器</font></font><br><font><font>在</font></font><a href="http://www.federalreserve.gov/creditcardcalculator/" title="美联储信用卡还款计算器" target="_blank" rel="track:4.48"><font><font>federalreserve.gov</font></font></a><font><font>，看多久，它可能需要</font></font><br><font><font>偿还1000美元的信用卡债务，</font></font><br><font><font>每月最低付款。</font></font></li>
        <li><font><font>讨论如何</font></font><br><font><font>网上购物，或作为一种方便的</font><font>信用卡可能是有用的</font><font>。</font></font></li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 4 -->

<article id="article4">

  <!-- Section 13 -->

  <section id="section_13">
    <h1><font><font>13</font></font></h1>
    <p><font></font><em><font><font>比较</font></font><br><font><font>院校</font></font></em><font><font>时</font><font>，一定</font></font><br><font><font>要考虑</font></font><br><font><font>每所学校</font></font><br><font><font>将</font><font>如何</font><font>花费你。</font></font></p>
    <hr>
    <a href="#" rel="track:0.16" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -152.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>指出，大学毕业生赚取</font></font><br><font><font>尽可能多的人谁也不会去上大学</font><font>几乎两倍</font><font>。</font></font></li>
        <li><font><font>讨论多少可以有助于你的</font></font><br><font><font>孩子的大学学费及开支每年。</font></font></li>
        <li><font><font>大学成本，毕业率，贷款</font></font><br><font><font>拖欠率，平均每月偿还贷款，</font></font><br><font><font>就业前景</font><font>比较</font><font>使用的“大学在</font><a href="http://collegecost.ed.gov/scorecard/" target="_blank" title="College
Scorecard"><font>collegecost.ed.gov /记分卡</font></a><font>记分卡“ </font></font><a href="http://collegecost.ed.gov/scorecard/" target="_blank" title="学院记分卡"><font><font>。</font></font></a></li>
        <li><font><font>看看学校的费用</font></font><br><font><font>在其网站上</font><font>发现“净价格</font><font>计算器“知道，大多数</font></font><br><font><font>家庭不支付学费标价。</font></font></li>
        <li><font><font>使用消费者金融保护局</font></font><br><font><font>支付学院工具比较财务援助提供在
        </font></font><a href="http://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/" title="消费者金融保护局" target="_blank" rel="track:4.49"><font><font>consumerfinance.gov</font></font></a><font><font>。
        </font></font></li><li><font><font>估计您的财务援助，使用</font></font><br><font><font>FAFSA4caster的在</font></font><a href="http://www.fafsa.ed.gov/" title="在Web上FAFSA" target="_blank" rel="track:4.50"><font><font>fafsa.ed.gov</font></font></a><font><font>工具
      </font><font>。</font></font></li>
        <li><font><font>转到
        </font></font><a href="http://studentaid.ed.gov/PORTALSWebApp/students/english/index.jsp" title="联邦学生援助" target="_blank" rel="track:4.51"><font><font>studentaid.ed.gov</font></font></a><font><font>研究</font></font><br><font><font>额外贷款，奖学金和助学金，</font></font><br><font><font>并使用计算器来估算您</font></font><br><font><font>每月的贷款支付。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 14 -->

  <section id="section_14">
    <h1><font><font>14</font></font></h1>
    <p><font><font>你应该</font><em><font>避免使用</font></em><em><font>信用卡</font></em><font>买东西，你</font><font>可以</font><font>用现金</font><font>付不起</font><font>。</font></font><br><em><font></font><br><font></font></em><br><font></font><br><font></font><br><font></font></p>
    <hr>
    <a href="#" rel="track:0.17" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>与你的孩子，填写收入与支出</font></font><br><font><font>预算工作表可在</font></font><a href="http://www.mymoney.gov/category/topic1/budgeting-worksheets.html" title="MyMoney.gov  - 您值得信赖的金融信息源" target="_blank" rel="track:4.52"><font><font>mymoney.gov</font></font></a><font><font>。</font></font></li>
        <li><font><font>讨论为什么</font></font><br><font><font>到位</font><font>的储蓄和支出计划</font><font>可以帮助他避免使用信用卡。</font></font></li>
        <li><font><font>驱动之家这条规则：当你使用信用卡，</font></font><br><font><font>旨在充分每月支付，否则，</font></font><br><font><font>你可能会被收取高额利息。</font></font></li>
        <li><font><font>使用信用卡还款计算器</font></font><br><font><font>在</font></font><a href="http://www.federalreserve.gov/creditcardcalculator/" title="美联储" target="_blank" rel="track:4.53"><font><font>federalreserve.gov</font></font></a><font><font>，看多久，它可能需要</font></font><br><font><font>偿还1000美元的信用卡债务，</font></font><br><font><font>每月最低付款。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 15 -->

  <section id="section_15">
    <h1><font><font>15</font></font></h1>
    <p><font><font>你的第一张薪水</font></font><br><font><font>可能</font></font><br><font><font>比预期</font><font>似乎变小了，</font><font>因为</font><em><font>钱是</font></em><em><font>为缴税</font></em><font>。</font></font><br><em><font></font><br><font></font></em><font></font></p>
    <hr>
    <a href="#" rel="track:0.18" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -102px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>讨论工资总额</font></font><br><font><font>和净工资（税前取出）</font></font><br><font><font>（量你带回家）</font><font>之间的差异</font><font>。</font></font></li>
        <li><font><font>解释说，在W-4表格，填写</font></font><br><font><font>开始工作</font><font>时</font><font>，</font></font><br><font><font>薪水取出</font><font>税费确定的金额</font><font>。</font></font></li>
        <li><font><font>解释取决于</font></font><br><font><font>你赚了多少</font><font>税括号</font><font>。</font><font>（在2012年，单身的人谁</font></font><br><font><font>赚取8700美元，每年少支付</font></font><br><font><font>10％</font><font>的税率</font><font>，例如，和谁赚在</font></font><br><font><font>$ 8,70035350美元</font><font>之间的</font><font>支付15％。）</font></font></li>
        <li><font><font>讨论什么税支付，包括学校，道路维修和医疗帮助的老人。</font></font></li>
        <li><font><font>一旦你的孩子有一份稳定的工作，帮他订了一个自动储蓄计划，使至少10％的盈利直接进入他的储蓄账户。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 16 -->

  <section id="section_16">
    <h1><font><font>16</font></font></h1>
    <p><font><font>Roth IRA的</font><em><font>储蓄和投资的</font></em><em><font>钱，</font></em><font>你赚的是</font><font>一个伟大的地方</font><font>。</font></font><br><em><font></font><br><font></font></em><font></font><br><font></font></p>
    <hr>
    <a href="#" rel="track:0.19" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -91.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>如果您的孩子有工作，鼓励他打开</font></font><br><font><font>罗斯个人退休帐户（IRA）。</font></font></li>
        <li><font><font>解释，罗斯IRA让你</font></font><br><font><font>赚</font><font>的利息</font><font>免税增长终身免费。</font></font></li>
        <li><font><font>实验用不同的储蓄金额和</font></font><br><font><font>利率。</font><font>用复利计算器</font><a href="http://www.investor.gov/tools/calculators/compound-interest-calculator" title="Compound Interest
Calculator" target="_blank" rel="track:4.54"><font>investor.gov</font></a><font>。</font></font><br><font></font><a href="http://www.investor.gov/tools/calculators/compound-interest-calculator" title="复利计算器" target="_blank" rel="track:4.54"><font></font></a><font></font></li>
        <li><font><font>使用“72法则”，估计</font></font><br><font><font>它会采取你的钱翻一番</font><font>多年</font><font>，</font></font><br><font><font>如果你投资在一个帐户，赚取</font></font><br><font><font>8％的利息，你将你的钱翻一番，在</font></font><br><font><font>9年（72除以8，9）。</font></font></li>
        <li><font><font>向孩子解释，一旦他开始工作，他</font></font><br><font><font>可能会在所谓的</font></font><br><font><font>401（K）的</font><font>工作提供了一个类似的帐户</font><font>。</font><font>甚至有些雇主提供匹配</font></font><br><font><font>捐款。</font></font></li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 5 -->

<article id="article5">

  <!-- Section 17 -->

  <section id="section_17">
    <h1><font><font>17</font></font></h1>
    <p><font><font>您应该使用</font></font><br><font><font>信用卡，如果</font></font><br><font><font>你可以</font><em><font>全面</font></em><font>每月</font><em><font>所欠</font></em><em><font>的钱</font></em></font><em><font><font>还清</font></font><br><font></font><br><font></font></em><br><font><font>。</font></font></p>
    <hr>
    <a href="#" rel="track:0.21" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -80px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>了解，当母公司cosigns，</font></font><br><font><font>你做</font><font>任何</font><font>逾期付款也将影响他们的</font></font><br><font><font>信用记录。</font></font></li>
        <li><font><font>支付账单迟到可以伤害你的信用记录</font></font><br><font><font>，会影响你获得工作的机会。</font></font></li>
        <li><font><font>获取免费的信用报告每年一次</font><a href="http://www.annualcreditreport.com/" title="Annual Credit Report" target="_blank" rel="track:4.55"><font>annualcreditreport.com的</font></a><font>。</font></font><br><a href="http://www.annualcreditreport.com/" title="年度信用报告" target="_blank" rel="track:4.55"><font></font></a><font></font></li>
        <li><font><font>寻找低利率</font></font><br><font><font>并没有年费的</font><font>信用卡</font><font>。</font></font></li>
        <li><font><font>有可能是紧急情况，你不能还清立即需要收取的费用。</font><font>这就是为什么它是重要的，不收取日常用品。</font></font></li>
        <li><font><font>要了解更多有关信用卡的规则，</font></font><br><font><font>去到</font></font><a href="http://www.federalreserve.gov/" title="信用卡规则" target="_blank" rel="track:4.56"><font><font>federalreserve.gov</font></font></a><font><font>。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 18 -->

  <section id="section_18">
    <h1><font><font>18</font></font></h1>
    <p><font><font>你需要</font></font><em><font><font>医疗</font></font><br><font><font>保险</font></font></em><font><font>。</font></font></p>
    <hr>
    <a href="#" rel="track:0.22" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -19px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>货比三家保险，就像你</font></font><br><font><font>会为任何其他产品。</font></font></li>
        <li><font><font>如果你的父母有健康保险，看看你是否</font></font><br><font><font>可以留在他们的政策有一些例外，</font></font><br><font><font>你有权根据法律规定，直到你把26。</font></font></li>
        <li><font><font>获取更多的信息</font></font><br><font><font>提供给您</font><font>的健康保险</font><font>在
        </font></font><a href="http://www.healthcare.gov/" title="医疗保险方案" target="_blank" rel="track:4.57"><font><font>healthcare.gov</font></font></a><font><font>。</font></font></li>
        <li><font><font>购买租客保险，如果你租</font></font><br><font><font>一个公寓，汽车保险，如果你拥有，</font></font><br><font><font>租赁，或租一辆车。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 19 -->

  <section id="section_19">
    <h1><font><font>19</font></font></h1>
    <p><font><font>重要的是要</font></font><br><font><font>节省至少</font></font><br><font><font>3个月</font></font><br><font><font>的生活费</font><em><font>在</font></em><em><font>紧急</font></em><em><font>情况下</font></em><font>的价值</font><font>。</font></font><br><em><font></font><br><font></font></em><font></font></p>
    <hr>
    <a href="#" rel="track:0.23" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -40px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>让您的费用（租金，票据，食品）的列表，</font></font><br><font><font>看你花多少钱每个月，</font></font><br><font><font>这将帮助你估计多少，你就</font></font><br><font><font>需要节省</font></font><br><font><font>开支</font><font>三个月的价值</font><font>。</font></font></li>
        <li><font><font>把钱存放在安全的地方，像一个联邦</font></font><br><font><font>保险的银行或信用社。</font></font></li>
        <li><font><font>如果你能，尽量保存</font></font><br><font><font>价值</font><font>六至九个月</font><font>的生活费，而不是只有三个。
        </font></font></li><li><font><font>不要停止，一旦你已经建立了你的应急基金</font></font><br><font><font>来自动化你的储蓄，所以你藏匿了</font></font><br><font><font>10％的收益。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 20 -->

  <section id="section_20">
    <h1><font><font>20</font></font></h1>
    <p><font><font>投资时，</font></font><br><font><font>考虑</font></font><em><font><font>风险</font></font><br><font><font>和年度</font></font><br><font><font>开支</font></font></em><font><font>。</font></font></p>
    <hr>
    <a href="#" rel="track:0.24" class="trigger" title="查看活动"><font><font>活动</font></font></a>
    <aside style="margin-top: -101px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>活动，以帮助您的孩子达到这一里程碑</font></font></h1>
      <ul class="activities">
        <li><font><font>投资在IRA或401（K），只要你</font></font><br><font><font>有一定的收入。</font></font></li>
        <li><font><font>把所有的鸡蛋放在一个篮子里是</font></font><br><font><font>一个高风险的投资方式;考虑一个多元化的</font></font><br><font><font>组合，股票，债券及现金。</font></font></li>
        <li><font><font>比较共同基金费用：“年度</font></font><br><font><font>费用率“为1.5％，而不是0.5％在</font></font><br><font><font>1000美元可能花费你</font></font><br><font><font>超过35年的过程</font><font>几乎</font><font>$ 2,000。</font></font></li>
        <li><font><font>询问有关指数基金，往往有低的年费。</font></font></li>
        <li><font><font>想想你的目标。</font><font>参加大学</font></font><br><font><font>在10年置业？</font><font>购买一辆车</font></font><br><font><font>在五？</font><font>定义两个财务目标，长期的</font></font><br><font><font>未来，做一个计划，以实现这些目标。</font></font></li>
        <li><font><font>更多信息去</font></font><a href="http://www.investor.gov/" title="工具和信息，为未来储蓄" target="_blank" rel="track:4.58"><font><font>investor.gov</font></font></a><font><font>。</font></font></li>
      </ul>
    </aside>
  </section>
</article>
</div>

<!-- Avatars -->

<div id="avatars">
  <div id="avatar1" name="#article1" title="3-5岁" rel="track:0.0" style="z-index: 500; background-position: -20px 0px;"></div>
  <div id="avatar2" name="#article2" title="6-10岁" rel="track:0.5" style="z-index: 500; background-position: -245px 0px;"></div>
  <div id="avatar3" name="#article3" title="11-13岁" rel="track:0.10" style="z-index: 500; background-position: -435px 0px;"></div>
  <div id="avatar4" name="#article4" title="14-18岁" rel="track:0.15" style="z-index: 500; background-position: -630px 0px;"></div>
  <div id="avatar5" name="#article5" title="18岁以上" rel="track:0.20" style="z-index: 500; background-position: -850px 0px;"></div>
</div>

<!-- Navigation -->

<nav class="home">
  <ul>
    <li class="article1">
      <h1><font></font><em><font><font>3-5</font></font></em><font><font>岁儿童的</font><font>里程碑</font></font></h1>
      <h2 class=""><a href="javascript:void(0);" title="3-5岁" name="#article1" rel="track:0.0"><em><font><font>3-5</font></font></em><font><font>岁</font></font></a></h2>
    </li><li class="article2">
    <h1><font></font><em><font><font>6-10</font></font></em><font><font>岁儿童的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(1);" title="6-10岁" name="#article2" rel="track:0.5"><em><font><font>6-10</font></font></em><font><font>岁</font></font></a></h2>
  </li><li class="article3">
    <h1><font></font><em><font><font>11-13</font></font></em><font><font>岁的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(2);" title="11-13岁" name="#article3" rel="track:0.10"><em><font><font>11-13</font></font></em><font><font>岁</font></font></a></h2>
  </li><li class="article4">
    <h1><font></font><em><font><font>14-18</font></font></em><font><font>岁的年轻人的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(3);" title="14-18岁" name="#article4" rel="track:0.15"><em><font><font>14-18</font></font></em><font><font>岁</font></font></a></h2>
  </li><li class="article5">
    <h1><font></font><em><font><font>18 +</font></font></em><font><font>岁的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(4);" title="18岁以上" name="#article5" rel="track:0.20"><em><font><font>18 +</font></font></em><font><font>岁</font></font></a></h2>
  </li>
  </ul>
</nav>

</div>

<script>
    $(document).ready(function () {
       $(".beta,.main-footer").hide();
    });
</script>