<%= stylesheet_link_tag "child.css" %>
<%= javascript_include_tag "jquery.easing.1.3.js" %>
<%= javascript_include_tag "jquery.jscrollpane.min.js" %>
<%= javascript_include_tag "core074.js" %>
  <!--[if lt IE 9]>
<%= javascript_include_tag "html5.js" %>
<%= javascript_include_tag "excanvas.js" %>
  <![endif]-->
  <!--[if IE 7]>
<%= stylesheet_link_tag "ie7.css" %>
  <![endif]-->
<%= javascript_include_tag "inits.js" %>

<div id="container" style="width: 100%; overflow: hidden; height: 100%;padding-top: 20px;">

<div id="branding">
  <table>
    <tr>
      <td class="left">
        <a class="crumbs" href="/">首页</a>
  <a href="#" rel="track:0.25" style="height: 130px;text-decoration: none;" title="理财观 伴随宝贝你 长大">
  <h1>理财观 伴随宝贝你长大</h1>
  <p>宝贝，你需要了解的20个理财观念，他们会帮助你走向自由、富裕、健康的人生</p></a>
      </td>
      <td class="right">
          <a style="color: #0088cc;" href="/blog/index?classify=儿童理财观">我想了解更多儿童理财观的知识>></a>
          <p style="line-height: 25px;margin: 0 0 11px 0; font-weight: normal;color: black;font-size: 14px;">我必须和我的父母朋友们分享这个。</p>
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
          <a class="bds_tsina"></a>
          <a class="bds_tqq"></a>
        </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=6562014" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
            var bds_config = {'bdText':'理财观伴随你长大: 宝贝，你需要了解的20个理财观念，他们会帮助你走向自由、富裕、健康的人生。'};
            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END -->
      </td>
      </tr>
      </table>
</div>


<div id="wrapper">

<!-- Article 1 -->

<article id="article1">

  <!-- Section 1 -->

  <section id="section_1">
    <h1><font><font>1</font></font></h1>
    <p><em><font><font>你需要钱，</font></font></em><br><font><font>买东西。</font></font></p>
    <hr>
    <a href="#" rel="track:0.1" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 43px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>认识硬币和他们的价值。</font></font></li>
        <li><font><font>告诉您的宝贝，很多幸福的东西是免费的</font></font><br><font><font>例如和小伙伴一起玩。</font></font></li>
        <li><font><font>告诉宝贝，有些东西是需要花钱的，</font></font><br><font><font>例如巧克力，衣服，超市前的摇摇车。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 2 -->

  <section id="section_2">
    <h1><font><font>2</font></font></h1>
    <p><font><font>你需要通过<em>工作</em><br>来赚钱。</font></font><br></em><font><font></font></font></p>
    <hr>
    <a href="#" rel="track:0.2" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: -19px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>向您的宝贝描述您的工作</font></font></li>
        <li><font><font>走到户外</font></font><br><font><font>指出外边工作的人们，例如公交车司机</font></font><br><font><font>或警察叔叔。</font></font></li>
        <li><font><font>向宝贝解释有些人创办自己的公司赚钱</font></font><br><font><font>如服装店或小餐馆，</font></font><br><font><font>这些人被称为创业者或企业家。</font></font></li>
        <li><font><font>鼓励你的孩子去思考，她怎样</font></font><br><font><font>才可能赚到钱，例如帮家里打扫卫生。</font></font><br><font><font></font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 3 -->

  <section id="section_3">
    <h1><font><font>3</font></font></h1>
    <p><font><font>在买到你想要的东西之前，你需要<em>等待</em>。</font><em><font></font></em><em><font></font></em><font></font><font></font><font></font><em><font></font></em><font></font></font><em><font></font><br><font></font></em><font></font><font></font></p>
    <hr>
    <a href="#" rel="track:0.3" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 1px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>当你的孩子在排队</font></font><br><font><font>玩秋千</font><font>时</font><font>，或期待着她最喜欢的</font></font><br><font><font>节日时，向他指出，有时我们不得不</font></font><br><font><font>耐心的等待，才能得到我们想要的东西。</font></font></li>
        <li><font><font>找到三个广口瓶，一个用来储蓄，</font></font><br><font><font>一个用来消费，一个用于和小朋友们分享。</font></font></li>
        <li><font><font>建议您的孩子把一些钱放进储蓄瓶子里，</font></font><br><font><font>这样当他储蓄到一定金额，</font></font><br><font><font>他就可以买他喜欢的玩具。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 4 -->

  <section id="section_4">
    <h1><font><font>4</font></font></h1>
    <p><font><em><font>你想要的</font></em><em><font>东西</font></em><font>，</font><font><br>和你所必需的东西</font></font><br><font><font></font><font>是有区别</font><font>。</font></font><em><font></font><br><font></font></em><font></font><font></font></p>
    <hr>
    <a href="#" rel="track:0.4" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: -20px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>当您带着宝贝外出购物时，告诉他</font></font><br><font><font>哪些是必需品，如食品和服装，并询问</font></font><br><font><font>他，他觉得哪些是想要的，</font></font><br><font><font>但不是必须要的。</font></font></li>
        <li><font><font>告诉您的宝贝，家里是怎样决定该买什么，</font></font><br><font><font>不该买什么。</font><font>买小熊糖果和买新鲜水果</font></font><br><font><font>哪一样更重要？</font><font>可乐和牛奶呢？</font></font></li>
        <li><font><font>画一个圆，并把它分成几部分，</font></font><br><font><font>代表</font><font>伙食费，服装费，</font><font>房贷 和想要的东西，</font></font><br><font><font>告诉宝贝，想要的东西的购买金额是有限制的。</font></font></li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 2 -->

<article id="article2">

  <!-- Section 5 -->

  <section id="section_5">
    <h1><font><font>5</font></font></h1>
    <p><font><font>怎样使用零花钱，<br>宝贝，<br>你需要做出<em>选择</em>。</font></font><em><font><font></font></font><font><font></font></font></em><font></font><font><font></font></font><font><font></font></font></p>
    <hr>
    <a href="#" rel="track:0.6" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 11.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>在做出家庭小决定时，例如在超市里，</font></font><br><font><font></font><font>告诉宝贝为什么您买这个品牌的牛奶，<br>而不是选择三鹿。</font></font><br><font><font></font></font></li>
        <li><font><font>给你的孩子十块钱，让她</font></font><br><font><font>选择买哪种水果。</font></font></li>
        <li><font><font>与您的孩子逛街的时候，</font></font><br><font><font>大声</font><font>问自己</font><font>：我真的需要这个商品吗？</font><br><font>我可以借到这个嘛？</font></font><br><font><font>淘宝购买会不会更加便宜些呢？</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 6 -->

  <section id="section_6">
    <h1><font><font>6</font></font></h1>
    <p><font><font>到处转转，</font></font><br><font><font>购买之前</font><em><font>比较价格，</font></em><font>是一件非常有趣的事情。</font></font><em><font></font></em><br><font></font></p>
    <hr>
    <a href="#" rel="track:0.7" class="trigger" title="查看活动"><font><font>怎么做</font></font></a>
    <aside style="margin-top: 32.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a><font><font>您该通过以下活动<br>帮助宝贝完成这一目标</font></font></h1>
      <ul class="activities">
        <li><font><font>和您的孩子一起，为一个奥特曼</font></font><font><font>或白雪公主玩具，<br>在淘宝，京东或实体商店</font><font>比较价格高低。</font><font></font></font></li>
        <li><font><font>使用打折卡，并告诉</font></font><br><font><font>您的宝贝，您节省了多少钱。</font></font></li>
        <li><font><font>如果她帮助寻找或打印优惠券时，</font></font><br><font><font></font><font></font><font>给宝宝一些奖励，无论是物质还是精神上的。</font></font></li>
      </ul>
    </aside>
  </section>

  <!-- Section 7 -->

  <section id="section_7">
    <h1>7</h1>
    <p>在网络上，<em>分享私人信息是非常危险的。</em></p>
    <hr>
    <a href="#" rel="track:0.8" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -19px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>知道您的宝贝经常浏览哪些网站。</li>
        <li>告诉宝贝哪些网站是他可以自由访问的，<br>利用父母网站控制软件将一些不适合的<br>网站屏蔽起来。</li>
        <li>和您的宝贝达成协议，<br>告诉他不应该在网络的任何场合透露他的<br>生日，家庭地址，手机号码，学校地址。</li>
        <li>没有您的允许，宝贝不允许在线买任何东西。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 8 -->

  <section id="section_8">
    <h1>8</h1>
    <p>将钱存放在银行账号，既<em>安全</em>，又能产生利息。</p>
    <hr>
    <a href="#" rel="track:0.9" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -8.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>和您的孩子一起去附近的银行进行参观。</li>
        <li>告诉孩子，银行活期，定期利息率，以及差别。</li>
        <li>告诉孩子，钱存放在银行里是安全的，<br>国家有专门的机构对我们的钱进行安全管理。</li>
        <li>和孩子一起去银行，为他自己开个户。</li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 3 -->

<article id="article3">

  <!-- Section 9 -->

  <section id="section_9">
    <h1>9</h1>
    <p>当你有10块钱时，你<em>至少得存储1块钱</em>。</p>
    <hr>
    <a href="#" rel="track:0.11" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>鼓励您的孩子将他零花钱的10%存储起来。</li>
        <li>帮助您孩子设定一个目标，当然是关于他喜欢的东西，然后引导他为此而努力。</li>
        <li>为了加强孩子储蓄的习惯，每个季度和孩子去银行一次，在他的账户上存款，并告诉他，这次账户金额比上次多了多少。</li>
        <li>考虑和您的孩子进行一项“合作方案”，当他储蓄到100块钱时，奖励他20元钱。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 10 -->

  <section id="section_10">
    <h1>10</h1>
    <p>在网络上输入个人信息，例如银行或信用卡账号，是非常不安全的，因为<em>会有人来偷这个</em>。</p>
    <hr>
    <a href="#" rel="track:0.12" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -60px; display: none;">
      <canvas class="canvas" width="80" height="640"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>和孩子一起探讨在网络上输入个人信息的危险性。</li>
        <li>告诉孩子，小偷是如何利用银行账号或其他个人信息来开启信用卡，或用来伪造证件，文件的。</li>
        <li>解释网络上所谓的“免费”，例如手机铃声下载或游戏，都是一种商业策略，用来引导人们在不留意的情况下进行消费。</li>
        <li>和您的孩子约定，永远不回复陌生人的邮件，永远不去点击网页弹出的窗口。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 11 -->

  <section id="section_11">
    <h1>11</h1>
    <p>你越早进行储蓄，你的<em>储蓄金额将增长的越快</em>，因为复利。</p>
    <hr>
    <a href="#" rel="track:0.13" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>复利是指你将获得的利息加入到本金中，已获得更高的利息。</li>
        <li>告诉您的孩子：如果他从14岁开始每年储蓄1000元时，他将在65岁获得23万元。而如果他从35岁开始的话，他在65岁时将只获得7万元。假设年收益率是5%。</li>
        <li>和孩子一起商量，他准备每年储蓄多少金额，他为此需要放弃什么？是否值得？</li>
      </ul>
    </aside>
  </section>

  <!-- Section 12 -->
  <section id="section_12">
    <h1>12</h1>
    <p><em>使用信用卡就如同于向人贷款。</em>如果你不能在每个月支付你全部消费账单的话，你将要收支付利息，也就是说偿还的金额，要高于你实际消费的金额。</p>
    <hr>
    <a href="#" rel="track:0.14" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>和孩子解释为何我们不使用信用卡来购买那些我们无力偿还的东西。</li>
        <li>和孩子一起上网查看支付利息的利率，并和活期定期存款利率做比较。</li>
        <li>和孩子一起计算，如果我们信用卡消费1000元，每个月只支付最低偿还额的话，我们需要最终要偿还多少钱给银行。</li>
        <li>和孩子一起讨论，信用卡对于在线购物是多么的方便。</li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 4 -->

<article id="article4">

  <!-- Section 13 -->

  <section id="section_13">
    <h1>13</h1>
    <p> 在<em>选择大学及专业</em>的时候，考虑每个学校及专业的入学费用。</p>
    <hr>
    <a href="#" rel="track:0.16" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -152.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>和孩子指出，大学毕业生的工资将是未上大学的人的两倍。</li>
        <li>告诉孩子，你每年将给孩子多少钱，以用来支付他的学费以及生活费。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 14 -->

  <section id="section_14">
    <h1>14</h1>
    <p>你不应该使用信用卡来购买你无法用现金买得起的东西。</p>
    <hr>
    <a href="#" rel="track:0.17" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -29.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>和你的孩子一起填写收入，开销预算表。</li>
        <li>和孩子一起商量，为何制定并使用收入开销计划，会帮助他不用信用卡。</li>
        <li>让他明确这一点：当他使用信用卡时，他最好能当月完全支付账单，否则的话，他需要支付高利率的利息。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 15 -->

  <section id="section_15">
    <h1>15</h1>
    <p>你的第一次薪水可能会比想象中的要少一些，因为要<em>交税</em>。</p>
    <hr>
    <a href="#" rel="track:0.18" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -102px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>和孩子一起讨论，税前收入和税后收入的区别。</li>
        <li>和孩子一起讨论，个人所得税是根据你具体的收入而不等的。（在2012年，个人月收入在4500-9000元是税率是20%，而在9000-35000时税率则上升为25%）</li>
        <li>告诉孩子，这些税钱都用到哪里去了，例如修建公路，成立小学，医疗社保服务等。（亲，最好不要告诉他们是去买茅台和给美美咯，对他们来说太早了）</li>
        <li>当您的孩子有了一份相对稳定的兼职工作，帮助他建立一套自动化储蓄的流程，这样他10%的薪水会直接储蓄到他的银行账号上。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 16 -->

  <section id="section_16">
    <h1>16</h1>
    <p>把你的钱<em>存放</em>在最安全的地方就是银行账号</p>
    <hr>
    <a href="#" rel="track:0.19" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -91.5px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>如果您的孩子有一份工作，鼓励他去银行开户。</li>
        <li>告诉孩子，存放的时间越长，利息率越高。</li>
        <li>利用“72定律”和孩子一起预算，多少年后孩子的钱可以翻倍。如果你账号的年收益率是8%的话，你将在9年内翻倍（72/8=9）</li>
      </ul>
    </aside>
  </section>
</article>

<!-- Article 5 -->

<article id="article5">

  <!-- Section 17 -->

  <section id="section_17">
    <h1>17</h1>
    <p>只有当你每个月有能力<em>偿还所有账单</em>时，才可以申请使用信用卡。</p>
    <hr>
    <a href="#" rel="track:0.21" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -80px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>让孩子明白，推迟信用卡还款，会被银行记录下来，并在将来影响他找工作，买房等一系列生活重要事务。</li>
        <li>每个月都详细查阅信用卡对账单。</li>
        <li>和孩子一起寻找一个低利息率，并且没有年费的信用卡。</li>
        <li>有些时候，会有一些突然的大开销，无力一下子偿还，这就是为什么我们平时要做储蓄的原因，以应对紧急开销。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 18 -->

  <section id="section_18">
    <h1>18</h1>
    <p>你需要<em>健康保险</em>。</p>
    <hr>
    <a href="#" rel="track:0.22" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -19px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>去各家保险公司，比较保险费用高低、服务优略，正如你购买商品一样。</li>
        <li>如果你的父母已经有了健康保险，查看你是不是已经在他们的呵护政策之下了。</li>
        <li>如果你已经顺利上大学了，可以购买一些学生保险。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 19 -->

  <section id="section_19">
    <h1>19</h1>
    <p>你必须保留有3个月生活费的现金，<em>以应对突发情况</em>。</p>
    <hr>
    <a href="#" rel="track:0.23" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -40px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>罗列你的日常开销（房租，食物，衣服等），看看你每个月都要开销多少钱，这可以帮助你预估你为了应对突发情况要留有多少现金在手上。</li>
        <li>将这笔钱存放在安全的地方，例如银行。</li>
        <li>如果你有能力的话，可以尝试储蓄6到9个月的生活费，而不仅仅是3个月的。</li>
        <li>当你留有紧急生活费资金时，不要停止储蓄10%的收入，尝试使流程变得自动化，例如银行的自动储蓄业务。</li>
      </ul>
    </aside>
  </section>

  <!-- Section 20 -->

  <section id="section_20">
    <h1>20</h1>
    <p>当开始投资理财时，需要考虑<em>投资风险以及该投资品种的管理费用</em>。</p>
    <hr>
    <a href="#" rel="track:0.24" class="trigger" title="查看活动">怎么做</a>
    <aside style="margin-top: -101px; display: none;">
      <canvas class="canvas" width="80" height="650"></canvas>
      <h1><a href="#" class="close" title="关闭活动"><img src="/assets/close.png" width="12" height="12" alt="关闭活动"></a>您该通过以下活动<br>帮助宝贝完成这一目标</h1>
      <ul class="activities">
        <li>当你有了一笔可观的闲钱时，可考虑购买一些银行理财产品或债券。</li>
        <li>把你所有资金都用来做一项投资是件非常危险的事情，可以考虑将资金分散化。</li>
        <li>了解指数型基金，这类基金的管理费很低。</li>
        <li>想想你的目标，是10年内买一栋房子，还是5年内买一辆汽车？定义个长期奋斗目标，并为此制定计划。</li>
      </ul>
    </aside>
  </section>
</article>
</div>

<!-- Avatars -->

<div id="avatars">
  <div id="avatar1" name="#article1" title="3-5岁" rel="track:0.0" style="z-index: 500; background-position: -20px 0px;"></div>
  <div id="avatar2" name="#article2" title="6-10岁" rel="track:0.5" style="z-index: 500; background-position: -245px 0px;"></div>
  <div id="avatar3" name="#article3" title="11-13岁" rel="track:0.10" style="z-index: 500; background-position: -435px 0px;"></div>
  <div id="avatar4" name="#article4" title="14-18岁" rel="track:0.15" style="z-index: 500; background-position: -630px 0px;"></div>
  <div id="avatar5" name="#article5" title="18岁以上" rel="track:0.20" style="z-index: 500; background-position: -850px 0px;"></div>
</div>

<!-- Navigation -->

<nav class="home">
  <ul>
    <li class="article1">
      <h1><font></font><em><font><font>3-5</font></font></em><font><font>岁儿童的</font><font>里程碑</font></font></h1>
      <h2 class=""><a href="javascript:void(0);" title="3-5岁" name="#article1" rel="track:0.0"><em><font><font>3-5</font></font></em><font><font>岁</font></font></a></h2>
    </li><li class="article2">
    <h1><font></font><em><font><font>6-10</font></font></em><font><font>岁儿童的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(1);" title="6-10岁" name="#article2" rel="track:0.5"><em><font><font>6-10</font></font></em><font><font>岁</font></font></a></h2>
  </li><li class="article3">
    <h1><font></font><em><font><font>11-13</font></font></em><font><font>岁的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(2);" title="11-13岁" name="#article3" rel="track:0.10"><em><font><font>11-13</font></font></em><font><font>岁</font></font></a></h2>
  </li><li class="article4">
    <h1><font></font><em><font><font>14-18</font></font></em><font><font>岁的年轻人的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(3);" title="14-18岁" name="#article4" rel="track:0.15"><em><font><font>14-18</font></font></em><font><font>岁</font></font></a></h2>
  </li><li class="article5">
    <h1><font></font><em><font><font>18 +</font></font></em><font><font>岁的</font><font>里程碑</font></font></h1>
    <h2 class=""><a href="javascript:void(4);" title="18岁以上" name="#article5" rel="track:0.20"><em><font><font>18 +</font></font></em><font><font>岁</font></font></a></h2>
  </li>
  </ul>
</nav>

</div>

<script>
    $(document).ready(function () {
       $(".beta,.main-footer").hide();
    });
</script>