<%= stylesheet_link_tag "home.css" %>
<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "homepage.css" %>

<style>
    .dollar-prefix{margin-top: -19px;}
    .applyvip{vertical-align: bottom;height: 35px;}
</style>
<!--[if !IE]><!-->
<style>
    .dollar-prefix{margin-top: 0px;}
    .applyvip{vertical-align: bottom;height: 147px;}
</style>
<!--<![endif]-->

<script>
    var isProduction = true,
            pageOther = 'https://s3.amazonaws.com/sa-g/files-1305301924/other'
</script>

<%= javascript_include_tag "jquery2.js" %>
<%= javascript_include_tag "welcome.js" %>

<div class="welcomes" style=" width: 1170px;">
  <%= stylesheet_link_tag "home_index.css" %>
  <table class="body-container" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
      <td class="body-content">
        <div class="body-content-wrapper">
          <!--LayerSlider begin-->
          <div id="slider-container">

            <div id="slider" class="ls-container ls-skinsa" style="position: relative;">
              <a href="/home/scheme" style="color: #000000;">
              <div class="ls-inner" style="background-color: transparent; width: 1170px; height: 500px;">
                <div class="ls-layer ls-active" rel="slidedelay: 6000" style="visibility: visible; width: 1170px; height: 500px; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s3" id="s1-home" src="/assets/home.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s3" id="s1-hill" src="/assets/hill.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s4" id="s1-speech" src="/assets/121018.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s5" id="s1-man" src="/assets/man.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">

                  <div class="ls-s3" id="s-caption" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                    <h2>买房计划</h2>
                    <b>通天顺家庭理财</b>帮您规划如何投资，确保您能买上称心如意的房子。
                  </div>
                </div>
                <div class="ls-layer layer2" rel="slidedelay: 6000" style="width: 1170px; height: 500px; display: none; visibility: visible; left: auto; right: 0px; top: 0px; bottom: auto;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer" style="display: block; margin-left: 1053px; margin-top: 0px;">

                  <img class="ls-s2" id="s2-carl" src="/assets/carl.png" rel="slidedirection: top" style="display: block; margin-left: 0px; margin-top: 450px;">
                  <img class="ls-s2" id="s2-carr" src="/assets/carr.png" rel="slidedirection: top" style="display: block; margin-left: 0px; margin-top: 450px;">
                  <img class="ls-s2" id="s2-hill" src="/assets/hill(1).png" rel="slidedirection: right" style="display: block; margin-left: -1053px; margin-top: 0px;">
                  <img class="ls-s5" id="s2-woman" src="/assets/woman.png" rel="slidedirection: right" style="display: block; margin-left: -2632.5px; margin-top: 0px;">
                  <img class="ls-s4" id="s2-speech" src="/assets/121017.png" rel="slidedirection: right" style="display: block; margin-left: -2106px; margin-top: 0px;">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right" style="display: block; margin-left: -1579.5px; margin-top: 0px;">
                    <h2>买车计划</h2>
                    <b>通天顺家庭理财</b>帮您分析最适合您的，最合算的买车计划，让您尽早拥有爱车。
                  </div>
                </div>
                <div class="ls-layer layer3" rel="slidedelay: 6000" style="width: 1170px; height: 500px;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer">

                  <img class="ls-s2" id="s3-hill" src="/assets/hill(2).png" rel="slidedirection: bottom">
                  <img class="ls-s2" id="s3-boy" src="/assets/boy.png" rel="slidedirection: right">
                  <img class="ls-s2" id="s3-girl" src="/assets/girl.png" rel="slidedirection: right">
                  <img class="ls-s4" id="s3-speech" src="/assets/121016.png" rel="slidedirection: right">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right">
                    <h2>结婚计划</h2>
                    <b>通天顺家庭理财</b>作为您婚礼筹备的财务主管，伴您美妙度过这一生最宝贵的时光。
                  </div>
                </div>
                <div class="ls-layer layer4" rel="slidedelay: 6000" style="width: 1170px; height: 500px;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer">

                  <img class="ls-s2" id="s4-rainbow" src="/assets/rainbow.png" rel="slidedirection: right">
                  <img class="ls-s2" id="s4-hill" src="/assets/hill(3).png" rel="slidedirection: bottom">
                  <img class="ls-s2" id="s4-man" src="/assets/man(1).png" rel="slidedirection: right">
                  <img class="ls-s4" id="s4-speech" src="/assets/121019.png" rel="slidedirection: right">>

                  <div class="ls-s3" id="s-caption" rel="slidedirection: right">
                    <h2>退休计划</h2>
                    <b>通天顺家庭理财</b>帮助您长期规划，明智投资资金，早日环游世界。
                  </div>
                </div>
              </div>
              </a>
              <h1 id="s-title">我们帮您<br>家庭理财规划<br>实现梦想</h1>

              <h2 id="s-subtitle">
                <a href="/home/scheme" class="button btn btn-success">美梦成真</a>
                在您家庭理财遇到的重大疑问时，<br>
                我们向您提供针对性的策略建议，<br>
                帮助您做出聪明的决策。
              </h2>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <div class="welcme-content img">
    <h2 class="press">通天顺的服务</h2>
    <table class="select">
      <tr>
        <td style="width: 28%;"><h3><a href="/home/scheme" target="_blank">帮您实现梦想 >></a></h3><br></td>
        <td style="width: 8%;"></td>
        <td style="width: 28%;"><h3><a href="/personmanagement/investor" target="_blank">梦想墙 >></a></h3><br></td>
        <td style="width: 8%;"></td>
        <td style="width: 28%;"></td>
      </tr>
      <tr>
        <td class="img"><a href="/home/scheme" target="_blank"><img class="hsw" style="height: 190px;" src="/assets/b4_familyvegetables0002_tns.png" alt="帮您实现梦想"></a></td>
        <td></td>
        <td class="img"><a href="/personmanagement/investor" target="_blank"><img class="hsw" style="height: 190px;" src="/assets/dreamboard.png" alt="梦想墙"></a></td>
        <td></td>
        <td class="img"></td>
      </tr>
      <tr>
        <td><p class="leader">金融理财师帮您实现梦想。先服务，后收费，价格自己定。</p></td>
        <td></td>
        <td><p class="leader">我们的梦想，希望有您的帮助来实现。</p></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <hr>
    <h2 class="press">特色服务</h2>
    <table class="select">
      <tr>
        <td style="width: 28%;"><h3><a href="/womenfinance" target="_blank">女子理财 >></a></h3><br></td>
        <td style="width: 8%;"></td>
        <td style="width: 28%;"><h3><a href="/grassroots" target="_blank">屌丝理财 >></a></h3><br></td>
        <td style="width: 7%;"></td>
        <td style="width: 29%;"><h3><a href="/childfinance" target="_blank">儿童理财 >></a></h3><br></td>
      </tr>
      <tr>
        <td class="img"><a href="/womenfinance" target="_blank"><img class="hsw" style="height: 170px;" src="/assets/120113.png" alt="女子理财"></a></td>
        <td></td>
        <td style="text-align: left;padding-left: 3%;"><a href="/grassroots" target="_blank"><img class="hsw" style="height: 170px;" src="/assets/121096.png" alt="屌丝理财"></a></td>
        <td></td>
        <td class="img" style="vertical-align: bottom;"><a href="/childfinance" target="_blank"><img class="hsw" style="height: 140px;margin-right: 40px;" src="/assets/120112.png" alt="儿童理财"></a></td>
      </tr>
      <tr>
        <td><p class="leader">我要高质量的生活，女子更要理财。</p></td>
        <td></td>
        <td><p class="leader">我不理财，我怎么才能成为高富帅呢？</p></td>
        <td></td>
        <td><p class="leader">针对3-14岁儿童的，价值观和人格的养成教育。</p></td>
      </tr>
    </table>
   <!--
    <hr>
    <h2 class="press">通天顺会员</h2>
    <div id="tradingSystem">
        <table id="tableNumbers" border="0" cellpadding="0" cellspacing="0" style="width: 96.5%;">
          <tbody>
          <tr>
            <td class="homeRightText" style="white-space:nowrap; width: 22%;"><h3>注册会员数</h3>
              <p>免费注册</p>
            </td>
            <td class="dollar"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td style="width: 16%;"></td>
          </tr>
          <tr>
            <td class="homeRightText" style="white-space:nowrap;"><h3>闲余资金量</h3>
              <p>正在寻觅合适理财产品</p>
            </td>
            <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="investor"><a class="invest btn btn-info pull-right" target="_blank" href="/personmanagement/investor">查看会员信息</a></td>
          </tr>
          </tbody>
        </table>
    </div>
    -->
  </div>
</div>
<div class="welcomes2">
  <style>
      #xoverlay{height:35px;}
      #xoverlay b{font-size: 16px;}
      .beta{padding: 14px 0;}
  </style>
  <div class="hero-unit"> <!--主角单元-->
    <div class="slide">
      <table><tr><td>
        <h1>我们帮您<br/>家庭理财规划<br/>实现梦想</h1>
        <p><a class="btn btn-success"  href='/home/scheme'><em>美梦成真</em></a></p>
        <p class="description">在您家庭理财遇到的重大疑问时，<br>
          我们向您提供针对性的策略建议，<br>
          帮助您做出聪明的决策。</p>
      </td></tr></table>
    </div>
  </div>
  <br>
  <div class="welcme-content img">
    <h2 class="press">通天顺的服务</h2>
    <table class="select">
      <tr>
        <td>
          <h3><a href="/home/scheme" target="_blank">帮您实现梦想 >></a></h3><br>
          <a href="/home/scheme" target="_blank"><img class="hsw" src="/assets/b4_familyvegetables0002_tns.png" alt="帮您实现梦想"></a><br>
          <p class="leader2">金融理财师帮您实现梦想。先服务，后收费，价格自己定。</p>
        </td>
      </tr>
      <tr>
        <td>
          <h3><a href="/personmanagement/investor" target="_blank">梦想墙 >></a></h3><br>
          <a href="/personmanagement/investor" target="_blank"><img class="hsw" src="/assets/dreamboard.png" alt="梦想墙"></a><br>
          <p class="leader2">我们的梦想，希望有您的帮助来实现。</p>
        </td>
      </tr>
    </table>
    <hr>
    <h2 class="press">特色服务</h2>
    <table class="select">
      <tr>
        <td>
          <h3><a href="/womenfinance" target="_blank">女子理财 >></a></h3><br>
          <a href="/womenfinance" target="_blank"><img class="hsw" style="width: 200px;" src="/assets/120113.png" alt="女子理财"></a><br>
          <p class="leader2">我要高质量的生活，女子更要理财。</p>
          <h3><a href="/grassroots" target="_blank">屌丝理财 >></a></h3><br>
          <a href="/grassroots" target="_blank"><img class="hsw" style="width: 145px;" src="/assets/121096.png" alt="屌丝理财"></a><br>
          <p class="leader2">我不理财，我怎么才能成为高富帅呢？</p>
          <h3><a href="/childfinance" target="_blank">儿童理财 >></a></h3><br>
          <a href="/childfinance" target="_blank"><img class="hsw" style="width: 215px;" src="/assets/120112.png" alt="儿童理财"></a><br>
          <p class="leader2">针对3-14岁儿童的，价值观和人格的养成教育。</p>
      </tr>
    </table>
     <!--
    <hr>
    <h2 class="press">通天顺会员</h2>
    <div id="tradingSystem">
      <a href='/personmanagement/investor'>
        <table id="tableNumbers2" border="0" cellpadding="0" cellspacing="0" style="width: 96.5%;">
          <tbody>
          <tr>
            <td colspan="12" style="white-space:nowrap; width: 25%;"><h3>注册会员数</h3>
              <p>免费注册</p>
            </td>
            </tr>
          <tr>
            <td class="dollar"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
          </tr>
          <tr>
            <td colspan="12" style="white-space:nowrap;"><h3>闲余资金量</h3>
              <p>正在寻觅合适理财产品</p>
            </td>
          </tr>
          <tr>
            <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
          </tr>
          <tr>
            <td colspan="12" style="white-space:nowrap;">
              <a class="invest btn btn-info pull-right" target="_blank" href="/personmanagement/investor">查看会员信息</a>
            </td>
          </tr>
          </tbody>
        </table>
      </a>
    </div>
    -->
  </div>
</div>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".welcomes2").remove();
    }else{
        $(".welcomes").remove();
        $("#erweima").remove();
    }
</script>
