  <div class="slider">
    <div class="slice1">
      <div class="slice2" id="slider">
        <ul>
          <li>
            <div>
              <p class="img">
                <%= link_to(image_tag("realtime.jpg",:size=>"539*292"),:controller => "strategy",:action => "show",:id=>"1") %>
              </p>
              <h2>实时展示 <br />
                商品市场 <br />
                无风险套利</h2>
              <p>500毫秒刷新行情，<br />
			  超过200多套利对，<br />
			  捕捉所有盈利机会。</p>
              <p>
                <%= link_to(image_tag("more_information.png",:size=>"133*30"),:controller => "strategy",:action => "show",:id=>"1") %>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="topi">
      <div class="blogi">
        <h2 class="what">关于通天顺</h2>
        <p><strong>南京重人软件科技有限公司</strong> 研发维护。<br />重人软件是家专注于金融产品策略平台研发的企业。公司的创始团队具有多年国外软件公司，以及国内大型期货公司工作经验。<br />
        </p>
        <p><%= link_to "更多信息",:controller =>"contactus",:action =>"intro" %></p>
      </div>
      <div class="blogi">
        <h2 class="Our">我们的服务</h2>
        <p>策略设计评估: 实时市场行情加载精选策略，评估策略优略，免费供您选择；<br />
        套利计算: 200多套利对实时计算套利成本；<br />
        策略定制: 先进计算机技术帮您定制盈利策略。</p>
        
      </div>
      <div class="blogi">
        <h2 class="work">诚聘人才</h2>
        <p><strong>软件工程师：</strong> 负责金融应用软件开发,1~2年软件开发经验,精通C/C++编程。<br />
        <strong>网站构架师：</strong>精通HTML,CSS编程，精通Javascriopt，熟悉网站构架，了解RoR为佳。</p>
        <p><%= link_to "更多信息",:controller =>"contactus",:action =>"hire" %></p>
      </div>
      <div class="clr"></div>
    </div>
    <div class="body_resize">

      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="footer">
    <div class="resize">
      <div>
        <!--<p class="footer_logo"><a href="#"><%= image_tag "footer_logo.gif",:size=>"140*40" %></a></p> -->
        <p>Copyright © tongtianshun.com. <a href="http://www.tongtianshun.com/">tongtianshun.com</a>. All Rights Reserved<br />
        </p>
      </div>
    </div>
    <p class="clr"></p>
  </div>
</body>
</html>