<%= stylesheet_link_tag "home.css" %>
<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "premium_main_academy.css" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "premium_enrollments.js" %>

<div class="welcomes" style=" width: 1170px;">
  <%= stylesheet_link_tag "home_index.css" %>
  <table class="body-container" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
      <td class="body-content">
        <div class="body-content-wrapper">
          <!--LayerSlider begin-->
          <div id="slider-container">

            <div id="slider" class="ls-container ls-skinsa" style="position: relative;">
              <a href="/usersurvey/startup" style="color: #000000;">
              <div class="ls-inner" style="background-color: transparent; width: 1170px; height: 500px;">
                <div class="ls-layer ls-active" rel="slidedelay: 6000" style="width: 1170px; height: 500px;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer">

                  <img class="ls-s2" id="s3-hill" src="/assets/hill(2).png" rel="slidedirection: bottom">
                  <img class="ls-s2" id="s3-boy" src="/assets/boy.png" rel="slidedirection: right">
                  <img class="ls-s2" id="s3-girl" src="/assets/girl.png" rel="slidedirection: right">
                  <img class="ls-s4" id="s3-speech" src="/assets/121016.png" rel="slidedirection: right">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right">
                  <!--  <h2>月光族计划</h2>
                    <b>通天顺家庭理财</b>帮你一起规划，享受生活、储蓄存款两不误！  -->
                  </div>
                </div>
                <!--
                <div class="ls-layer layer2" rel="slidedelay: 6000" style="width: 1170px; height: 500px; display: none; visibility: visible; left: auto; right: 0px; top: 0px; bottom: auto;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer" style="display: block; margin-left: 1053px; margin-top: 0px;">
                  <img class="ls-s2" id="s1-cs" src="/assets/121082.jpg" alt="sublayer" style="display: block; margin-left: 850px; margin-top: 45px;">
                  <img class="ls-s2" id="s2-carl" src="/assets/carl.png" rel="slidedirection: top" style="display: block; margin-left: 0px; margin-top: 450px;">
                  <img class="ls-s2" id="s2-carr" src="/assets/carr.png" rel="slidedirection: top" style="display: block; margin-left: 0px; margin-top: 450px;">
                  <img class="ls-s2" id="s2-hill" src="/assets/hill(1).png" rel="slidedirection: right" style="display: block; margin-left: -1053px; margin-top: 0px;">
                  <img class="ls-s5" id="s2-woman" src="/assets/woman.png" rel="slidedirection: right" style="display: block; margin-left: -2632.5px; margin-top: 0px;">
                  <img class="ls-s4" id="s2-speech" src="/assets/121017.png" rel="slidedirection: right" style="display: block; margin-left: -2106px; margin-top: 0px;">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right" style="display: block; margin-left: -1579.5px; margin-top: 0px;">
                    <h2>买车计划</h2>
                    <b>通天顺家庭理财</b>帮您分析最适合您的，最合算的买车计划，让您尽早拥有爱车。
                  </div>
                </div>

                <div class="ls-layer layer3" rel="slidedelay: 6000" style="visibility: visible; width: 1170px; height: 500px; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s3" id="s1-home" src="/assets/home.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s3" id="s1-hill" src="/assets/hill.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s4" id="s1-speech" src="/assets/121018.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s5" id="s1-man" src="/assets/man.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s2" id="s1-cs" src="/assets/121082.jpg" alt="sublayer" style="display: block; margin-left: 850px; margin-top: 85px;">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                    <h2>买房计划</h2>
                    <b>通天顺家庭理财</b>帮您规划如何投资，确保您能买上称心如意的房子。
                  </div>
                </div>

                <div class="ls-layer layer4" rel="slidedelay: 6000" style="width: 1170px; height: 500px;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer">
                  <img class="ls-s2" id="s1-cs" src="/assets/121082.jpg" alt="sublayer">
                  <img class="ls-s2" id="s4-rainbow" src="/assets/rainbow.png" rel="slidedirection: right">
                  <img class="ls-s2" id="s4-hill" src="/assets/hill(3).png" rel="slidedirection: bottom">
                  <img class="ls-s2" id="s4-man" src="/assets/man(1).png" rel="slidedirection: right">
                  <img class="ls-s4" id="s4-speech" src="/assets/121019.png" rel="slidedirection: right">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right">
                    <h2>退休计划</h2>
                    <b>通天顺家庭理财</b>帮助您长期规划，明智投资资金，早日环游世界。
                  </div>
                </div>
                -->
              </div>
              </a>
              <h1 id="s-title"><br>月光族<br>每年指缝中<br>滑失50000元</h1>

              <h2 id="s-subtitle">
               <% if session[:webusername]==nil %>
                    <a href="/sales/login?start=1" class="button btn btn-warning">点击 摆脱月光</a><br>
                <% else %>
                    <a href="/usersurvey/startup" class="button btn btn-warning">点击 摆脱月光</a><br>
                <% end %>
<!--                花2分钟，做个资产体检，风险评估<br>
                拿到理财规划后，慢慢琢磨琢磨...<br>
                哦，原来我已经迈出理财第一步了。  -->
              </h2>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="welcme-content img">
    <div class="containers">
      <div>
        <table style="width: 85%;margin: 0 auto;">
          <tr>
            <td colspan="9">
              <h3 id='h31'>“一步一步的帮助您迈出月光的窘境。”</h3>
            </td>
          </tr>
          <tr>
            <td class="hero-message hero-message-small active">
              <a href="http://stock.chinadaily.com.cn/2013/0725/28818.shtml" target="_blank"><img src="/assets/121052.png" style=""></a>
            </td>
            <td class="hero-message hero-message-small">
              <a href="http://www.kuailiyu.com/article/3914.html" target="_blank"><img src="/assets/121067.png" style="width: 120px;"></a>
            </td>
            <td class="hero-message hero-message-small">
              <a href="http://stock.jrj.com.cn/2013/04/19110215242255.shtml" target="_blank"><img src="/assets/121066.jpg" style="width: 120px;"></a>
            </td>
            <td class="hero-message hero-message-small">
              <a href="http://www.it-times.com.cn/wangzhidaohang/21500.jhtml" target="_blank"><img src="/assets/121065.jpg" style="width: 120px;"></a>
            </td>
            <td class="hero-message hero-message-small">
              <a href="http://cn.technode.com/post/2013-04-18/40051201429" target="_blank"><img src="/assets/121061.png" style="width: 150px;padding-top: 15px;"></a>
            </td>
          </tr>
        </table>
      </div>
      <div style="height: 40px;"></div>
      <div class="row first">
        <table class="contain" style="margin: 0 auto;">
            <tr>
            <td colspan="7" style="text-align: center;">
                 <div class="span10 offset1 heading">
                 <h2>免费服务内容</h2>
                 <h3 class="h32">分析现在家庭资产结构状况，查询出月光的根源，结合个人风险评估结果，通过金融理财专家系统的分析推荐，进行合理科学的家庭理财规划，从此不再月光族。</h3>
                </div>
               </td>
            </tr>
          <tr>
            <td colspan="7" class="tab-content">
              <div class="tab-content" id="hiw-tab-content">
                <img src="/assets/laptop.png">
                <div class="tab-pane fade active in demo-screen" id="step1">
                  <img alt="Ideal_portfolio" src="/assets/121063.jpg">
                </div>
                <div class="tab-pane fade demo-screen" id="step2">
                  <img alt="Action_plan" src="/assets/121064.jpg">
                </div>
                <div class="tab-pane fade demo-screen" id="step3">
                  <img alt="Premium_dashboard" src="/assets/121062.jpg">
                </div>
              </div>
            </td>
          </tr>
            <tr class="subtle-tabs" id="hiw-tabs">
            <td class="center"></td>
            <td class="hero-message active">
              <a class="subtle1 under" onclick="add('subtle1')" href="#step1" data-toggle="tab"><h4>免费资产体检</h4>
                <div class="explanation">根据您年收入，日常开销，结合当前资产分配情况，给出初步资产分配评估，分析出现月光的根源。</div></a>
              </td>
              <td class="center"></td>
            <td class="hero-message">
              <a class="subtle2" onclick="add('subtle2')" href="#step2" data-toggle="tab"><h4>免费风险评估</h4>
                <div class="explanation">引用美国高盛公司的开源资产风险度管理模型，评估您个性化的风险承受度，并以此进行相应的理财产品推荐。</div> </a>
              </td>
              <td class="center"></td>
            <td class="hero-message">
              <a class="subtle3" onclick="add('subtle3')" href="#step3" data-toggle="tab"><h4>免费理财规划</h4>
                <div class="explanation">提出理财建议，购买哪些理财产品，如何购买，并每日监控推荐产品的业绩走势，一旦出现异常及时通知，彻底摆脱月光族。</div></a>
                        </td>
            <td class="center"></td>
          </tr>
          </table>
        </div>
      <div class='tour-row white' id='intro'>
         <div class="contain" style="margin: 0 auto;">
          <div class='user_nav_carousel slide' data-interval='20000' id='intro_carousel'>
            <div class='row'>
              <div class='span10 offset1 centered'>
                <h2>家门不出，动动手指，轻松理财</h2>
                <h3 class="h32">根据您的收入状况、风险偏好，个性化推荐理财产品组合，指导您足不出户的购买。接下来，我们将7*24小时的监控您投资的产品，一旦出现异常及时通知您调整。</h3>
              </div>
              <div class='centered'style="width: 610px;margin: 0 auto;">
                <div class='carousel-indicators'>
                  <div class='step-tab first active' data-slide-to='0' data-target='#intro_carousel'>
                    <i class='icon-2x icon-user'></i>
                    <br />
                    个性化服务
                  </div>
                  <div class='step-tab' data-slide-to='1' data-target='#intro_carousel'>
                    <i class='icon-2x icon-tag'></i>
                    <br />
                    在线购买
                  </div>
                  <div class='step-tab last' data-slide-to='2' data-target='#intro_carousel'>
                    <i class='icon-2x icon-dashboard'></i>
                    <br />
                    产品业绩跟踪
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='span12 slider-container'>
                <div class='carousel-inner'>
                  <div class='item active'>
                    <div class='row'>
                      <div class='span5 hero-message more-headroom'>
                        <h4>私人理财顾问</h4>
                        <div class='explanation'>
                          <p>真正意义上做到站在您的立场，根据您的情况，帮你做理财规划，帮您推荐、跟踪最适合您的理财产品，成为您的私人理财规划顾问。</p>
                          <p>第三方理财服务机构，绝对不从产品销售中盈利。</p>
                        </div>
                      </div>
                      <div class='span5 offset1 centered headroom'>
                        <img alt="Portfolio_pie_accounts" src="/assets/121051.png" />
                      </div>
                    </div>
                  </div>
                  <div class='item'>
                    <div class='row'>
                      <div class='span5 hero-message more-headroom'>
                        <h4>指导哪里购买最合算</h4>
                        <div class='explanation'>
                          <p>罗列基金销售各个渠道的手续费对比，供您挑选最便宜的购买渠道。</p>
                          <p>图片、视频示范指导，方便您轻轻动动手指，即可买到合适的理财产品。</p>
                        </div>
                      </div>
                      <div class='span5 offset1 headroom'>
                          <img alt="Fee_comparison" src="/assets/121050.png" />
                      </div>
                    </div>
                  </div>
                  <div class='item'>
                    <div class='row'>
                      <div class='span5 hero-message more-headroom'>
                        <h4>产品异常、及时通知</h4>
                        <div class='explanation'>
                           <p>根据理财产品近1年、3年、5年的历史业绩进行筛选推荐。</p>
                           <p>每日跟踪净值有无异常波动，跟踪基金经理有无重大变动等，一旦出现异常，及时通知投资人。</p>
                        </div>
                      </div>
                      <div class='span5 offset1 more-headroom'>
                        <img alt="Fee_comparison" src="/assets/121049.png" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="tour-row" id="automatic-details">
        <div class="container">
          <div class="row">
            <div class="span10 offset1 heading">
              <h2 class="no-border">智能、易用，个性化</h2>
            </div>
          </div>
          <div class="row">
            <div class="span4 hero-message hero-message-small centered">
              <div class="side-room">
                <img alt="Automatic-flexible" src="/assets/121048.png">
                <h4>智能理财规划</h4>
                <div class="explanation">利用国外理财规划专家系统(MorningStar、WealthFront、高盛公司)，结合国内市场理财产品分析，给您提供智能专家理财服务。</div>
              </div>
            </div>
            <div class="span4 hero-message hero-message-small centered">
              <div class="side-room">
                <img alt="Access-flexible" src="/assets/121047.png">
                <h4>卡片式设计，简单易用</h4>
                <div class="explanation">现代主义风格的卡片式设计使用，白色正方形方框里只有最关键的文字或者图片，即使是初学者也一目了然。</div>
              </div>
            </div>
            <div class="span4 hero-message hero-message-small centered">
              <div class="side-room">
                <img alt="Personal-flexible" src="/assets/121046.png">
                <h4>只为您一个人设计</h4>
                <div class="explanation">根据您的家庭收入、开销，已有资产分析，我们的互联网金融专家团队给您，也只为您提供规划服务。</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
<div class="welcomes2">
  <style>
      #xoverlay{height:35px;}
      #xoverlay b{font-size: 16px;}
      .beta{padding: 14px 0;}
     .welcomes2 img{max-width: 200px;}
      p{max-width: 320px;}
  </style>
  <div class="hero-unit"> <!--主角单元-->
    <div class="slide">
      <table><tr><td>
        <h1>月光族<br>如何理财？</h1>
        <p><a class="btn btn-warning"  href='/usersurvey/startup'><em>开 始</em></a></p>
      </td></tr></table>
    </div>
  </div>
  <br>
  <div class="welcme-content img">
    <div class="containers">
        <h2>我们是如何为您服务</h2>
      <div class="hero-message active">
        <h4>免费资产体检</h4>
        <div class="explanation">根据您年收入，日常开销，结合当前资产分配情况，给出初步资产分配评估，分析出现月光的根源。</div>
        <h4>个性化产品推荐</h4>
        <div class="explanation">引用美国高盛公司的开源资产风险度管理模型，评估您个性化的风险承受度，并以此进行相应的理财产品推荐。</div>
        <h4>免费理财规划</h4>
        <div class="explanation">提出理财建议，购买哪些理财产品，如何购买，并每日监控推荐产品的业绩走势，一旦出现异常及时通知，彻底摆脱月光族。</div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".welcomes2").remove();
    }else{
        $(".welcomes").remove();
    }

        function add(e){
            $("[class*='subtle']").removeClass('under');
            $("."+e).addClass('under');
        }
</script>
