<%= stylesheet_link_tag "home.css" %>
<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "homepage.css" %>

<style>
    .dollar-prefix{margin-top: -19px;}
    .applyvip{vertical-align: bottom;height: 35px;}
</style>
<!--[if !IE]><!-->
<style>
    .dollar-prefix{margin-top: 0px;}
    .applyvip{vertical-align: bottom;height: 147px;}
</style>
<!--<![endif]-->

<script>
    var isProduction = true,
            pageOther = 'https://s3.amazonaws.com/sa-g/files-1305301924/other'
</script>

<%= javascript_include_tag "jquery2.js" %>
<%= javascript_include_tag "welcome.js" %>

<div class="welcomes" style=" width: 1170px;">
  <%= stylesheet_link_tag "home_index.css" %>
  <table class="body-container" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
      <td class="body-content">
        <div class="body-content-wrapper">
          <!--LayerSlider begin-->
          <div id="slider-container">

            <div id="slider" class="ls-container ls-skinsa" style="position: relative;">
              <a href="/home/scheme" style="color: #000000;">
              <div class="ls-inner" style="background-color: transparent; width: 1170px; height: 500px;">
                <div class="ls-layer ls-active" rel="slidedelay: 6000" style="visibility: visible; width: 1170px; height: 500px; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s3" id="s1-home" src="/assets/home.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s3" id="s1-hill" src="/assets/hill.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s4" id="s1-speech" src="/assets/121018.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                  <img class="ls-s5" id="s1-man" src="/assets/man.png" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">

                  <div class="ls-s3" id="s-caption" rel="slidedirection: right" style="margin-left: 0px; margin-top: 0px; display: block;">
                    <h2>买房计划</h2>
                    <b>通天顺家庭理财</b>帮您规划如何投资，确保您能买上称心如意的房子。
                  </div>
                </div>
                <div class="ls-layer layer2" rel="slidedelay: 6000" style="width: 1170px; height: 500px; display: none; visibility: visible; left: auto; right: 0px; top: 0px; bottom: auto;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer" style="display: block; margin-left: 1053px; margin-top: 0px;">

                  <img class="ls-s2" id="s2-carl" src="/assets/carl.png" rel="slidedirection: top" style="display: block; margin-left: 0px; margin-top: 450px;">
                  <img class="ls-s2" id="s2-carr" src="/assets/carr.png" rel="slidedirection: top" style="display: block; margin-left: 0px; margin-top: 450px;">
                  <img class="ls-s2" id="s2-hill" src="/assets/hill(1).png" rel="slidedirection: right" style="display: block; margin-left: -1053px; margin-top: 0px;">
                  <img class="ls-s5" id="s2-woman" src="/assets/woman.png" rel="slidedirection: right" style="display: block; margin-left: -2632.5px; margin-top: 0px;">
                  <img class="ls-s4" id="s2-speech" src="/assets/121017.png" rel="slidedirection: right" style="display: block; margin-left: -2106px; margin-top: 0px;">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right" style="display: block; margin-left: -1579.5px; margin-top: 0px;">
                    <h2>买车计划</h2>
                    <b>通天顺家庭理财</b>帮您分析最适合您的，最合算的买车计划，让您尽早拥有爱车。
                  </div>
                </div>
                <div class="ls-layer layer3" rel="slidedelay: 6000" style="width: 1170px; height: 500px;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer">

                  <img class="ls-s2" id="s3-hill" src="/assets/hill(2).png" rel="slidedirection: bottom">
                  <img class="ls-s2" id="s3-boy" src="/assets/boy.png" rel="slidedirection: right">
                  <img class="ls-s2" id="s3-girl" src="/assets/girl.png" rel="slidedirection: right">
                  <img class="ls-s4" id="s3-speech" src="/assets/121016.png" rel="slidedirection: right">
                  <div class="ls-s3" id="s-caption" rel="slidedirection: right">
                    <h2>结婚计划</h2>
                    <b>通天顺家庭理财</b>作为您婚礼筹备的财务主管，伴您美妙度过这一生最宝贵的时光。
                  </div>
                </div>
                <div class="ls-layer layer4" rel="slidedelay: 6000" style="width: 1170px; height: 500px;">
                  <div class="ls-bg" id="s-bg" style="margin-left: -585px; margin-top: -250px;"></div>
                  <img class="ls-s2" id="s-glow" src="/assets/glow.png" alt="sublayer">

                  <img class="ls-s2" id="s4-rainbow" src="/assets/rainbow.png" rel="slidedirection: right">
                  <img class="ls-s2" id="s4-hill" src="/assets/hill(3).png" rel="slidedirection: bottom">
                  <img class="ls-s2" id="s4-man" src="/assets/man(1).png" rel="slidedirection: right">
                  <img class="ls-s4" id="s4-speech" src="/assets/121019.png" rel="slidedirection: right">>

                  <div class="ls-s3" id="s-caption" rel="slidedirection: right">
                    <h2>退休计划</h2>
                    <b>通天顺家庭理财</b>帮助您长期规划，明智投资资金，早日环游世界。
                  </div>
                </div>
              </div>
              </a>
              <h1 id="s-title">我们帮您<br>家庭理财规划<br>实现梦想</h1>

              <h2 id="s-subtitle">
                <a href="/home/scheme" class="button btn btn-success">美梦成真</a>
                在您家庭理财遇到的重大疑问时，<br>
                我们向您提供针对性的策略建议，<br>
                帮助您做出聪明的决策。
              </h2>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <div class="welcme-content img">
    <h2 class="press">通天顺的服务</h2>
    <table class="select">
      <tr>
        <td style="width: 28%;"><h3><a href="/home/scheme" target="_blank">帮您实现梦想 >></a></h3><br></td>
        <td style="width: 8%;"></td>
        <td style="width: 28%;"><h3><a href="/personmanagement/investor" target="_blank">梦想墙 >></a></h3><br></td>
        <td style="width: 8%;"></td>
        <td style="width: 28%;"></td>
      </tr>
      <tr>
        <td class="img"><a href="/home/scheme" target="_blank"><img class="hsw" style="height: 190px;" src="/assets/b4_familyvegetables0002_tns.png" alt="帮您实现梦想"></a></td>
        <td></td>
        <td class="img"><a href="/personmanagement/investor" target="_blank"><img class="hsw" style="height: 190px;" src="/assets/dreamboard.png" alt="梦想墙"></a></td>
        <td></td>
        <td class="img"></td>
      </tr>
      <tr>
        <td><p class="leader">金融理财师帮您实现梦想。先服务，后收费，价格自己定。</p></td>
        <td></td>
        <td><p class="leader">我们的梦想，希望有您的帮助来实现。</p></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <hr>
    <h2 class="press">特色服务</h2>
    <table class="select">
      <tr>
        <td style="width: 28%;"><h3><a href="/womenfinance" target="_blank">女子理财 >></a></h3><br></td>
        <td style="width: 8%;"></td>
        <td style="width: 28%;"><h3><a href="/grassroots" target="_blank">屌丝理财 >></a></h3><br></td>
        <td style="width: 7%;"></td>
        <td style="width: 29%;"><h3><a href="/childfinance" target="_blank">儿童理财 >></a></h3><br></td>
      </tr>
      <tr>
        <td class="img"><a href="/womenfinance" target="_blank"><img class="hsw" style="height: 170px;" src="/assets/120113.png" alt="女子理财"></a></td>
        <td></td>
        <td style="text-align: left;padding-left: 3%;"><a href="/grassroots" target="_blank"><img class="hsw" style="height: 170px;" src="/assets/121096.png" alt="屌丝理财"></a></td>
        <td></td>
        <td class="img" style="vertical-align: bottom;"><a href="/childfinance" target="_blank"><img class="hsw" style="height: 140px;margin-right: 40px;" src="/assets/120112.png" alt="儿童理财"></a></td>
      </tr>
      <tr>
        <td><p class="leader">我要高质量的生活，女子更要理财。</p></td>
        <td></td>
        <td><p class="leader">我不理财，我怎么才能成为高富帅呢？</p></td>
        <td></td>
        <td><p class="leader">针对3-14岁儿童的，价值观和人格的养成教育。</p></td>
      </tr>
    </table>
   <!--
    <hr>
    <h2 class="press">通天顺会员</h2>
    <div id="tradingSystem">
        <table id="tableNumbers" border="0" cellpadding="0" cellspacing="0" style="width: 96.5%;">
          <tbody>
          <tr>
            <td class="homeRightText" style="white-space:nowrap; width: 22%;"><h3>注册会员数</h3>
              <p>免费注册</p>
            </td>
            <td class="dollar"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td style="width: 16%;"></td>
          </tr>
          <tr>
            <td class="homeRightText" style="white-space:nowrap;"><h3>闲余资金量</h3>
              <p>正在寻觅合适理财产品</p>
            </td>
            <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="investor"><a class="invest btn btn-info pull-right" target="_blank" href="/personmanagement/investor">查看会员信息</a></td>
          </tr>
          </tbody>
        </table>
    </div>
    -->
  </div>
</div>
<div class="welcomes2">
  <style>
      #xoverlay{height:35px;}
      #xoverlay b{font-size: 16px;}
      .beta{padding: 14px 0;}
  </style>
  <div class="hero-unit"> <!--主角单元-->
    <div class="slide">
      <table><tr><td>
        <h1>我们帮您<br/>家庭理财规划<br/>实现梦想</h1>
        <p><a class="btn btn-success"  href='/home/scheme'><em>美梦成真</em></a></p>
        <p class="description">在您家庭理财遇到的重大疑问时，<br>
          我们向您提供针对性的策略建议，<br>
          帮助您做出聪明的决策。</p>
      </td></tr></table>
    </div>
  </div>
  <br>
  <div class="welcme-content img">
    <h2 class="press">通天顺的服务</h2>
    <table class="select">
      <tr>
        <td>
          <h3><a href="/home/scheme" target="_blank">帮您实现梦想 >></a></h3><br>
          <a href="/home/scheme" target="_blank"><img class="hsw" src="/assets/b4_familyvegetables0002_tns.png" alt="帮您实现梦想"></a><br>
          <p class="leader2">金融理财师帮您实现梦想。先服务，后收费，价格自己定。</p>
        </td>
      </tr>
      <tr>
        <td>
          <h3><a href="/personmanagement/investor" target="_blank">梦想墙 >></a></h3><br>
          <a href="/personmanagement/investor" target="_blank"><img class="hsw" src="/assets/dreamboard.png" alt="梦想墙"></a><br>
          <p class="leader2">我们的梦想，希望有您的帮助来实现。</p>
        </td>
      </tr>
    </table>
    <hr>
    <h2 class="press">特色服务</h2>
    <table class="select">
      <tr>
        <td>
          <h3><a href="/womenfinance" target="_blank">女子理财 >></a></h3><br>
          <a href="/womenfinance" target="_blank"><img class="hsw" style="width: 200px;" src="/assets/120113.png" alt="女子理财"></a><br>
          <p class="leader2">我要高质量的生活，女子更要理财。</p>
          <h3><a href="/grassroots" target="_blank">屌丝理财 >></a></h3><br>
          <a href="/grassroots" target="_blank"><img class="hsw" style="width: 145px;" src="/assets/121096.png" alt="屌丝理财"></a><br>
          <p class="leader2">我不理财，我怎么才能成为高富帅呢？</p>
          <h3><a href="/childfinance" target="_blank">儿童理财 >></a></h3><br>
          <a href="/childfinance" target="_blank"><img class="hsw" style="width: 215px;" src="/assets/120112.png" alt="儿童理财"></a><br>
          <p class="leader2">针对3-14岁儿童的，价值观和人格的养成教育。</p>
      </tr>
    </table>
     <!--
    <hr>
    <h2 class="press">通天顺会员</h2>
    <div id="tradingSystem">
      <a href='/personmanagement/investor'>
        <table id="tableNumbers2" border="0" cellpadding="0" cellspacing="0" style="width: 96.5%;">
          <tbody>
          <tr>
            <td colspan="12" style="white-space:nowrap; width: 25%;"><h3>注册会员数</h3>
              <p>免费注册</p>
            </td>
            </tr>
          <tr>
            <td class="dollar"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
          </tr>
          <tr>
            <td colspan="12" style="white-space:nowrap;"><h3>闲余资金量</h3>
              <p>正在寻觅合适理财产品</p>
            </td>
          </tr>
          <tr>
            <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="comma"><img src="/assets/comma.png" alt=""></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
            <td class="number"></td>
          </tr>
          <tr>
            <td colspan="12" style="white-space:nowrap;">
              <a class="invest btn btn-info pull-right" target="_blank" href="/personmanagement/investor">查看会员信息</a>
            </td>
          </tr>
          </tbody>
        </table>
      </a>
    </div>
    -->
  </div>
</div>


<script>
    try{
        $(function() {
            var $amt = $("#amount")
                    .on("update", function () {
                        var val = this.value, amt = val.replace(/[$,]/g, "");
                        if (amt.match(/^\d+$/) && (amt = +amt) >= 50000) {
                            $amt.removeClass("invalid");
                            if (amt !== $amt.data("val")) {
                                $amt.data("val", amt);
                            }
                        } else {
                            $amt.addClass("invalid");
                        }
                    })
                    .bind("keypress keyup", function() {
                        $(this).trigger("update");
                    })
        });
    } catch(e) {w.trackJsError(e); throw e;}
</script>
  <!--
<script type="text/javascript">
    var chart=null;
    var dataArray= [
        ['基金',62],
        ['国债、企业债',12],
        ['信托',21],
        ['银行理财产品',5]
    ];
    window.onload=function(){
        chart.series[0].setData(dataArray);
        chart.isDirtyLegend = true;
        chart.redraw();
        $("#age").val(30)
        var num0;      //会员数
        var invest=0; //总资金量
        var free=0;   //闲余资金量
        var num;     //经纪人月租费
        num= <%= @num %>;
        <% @personfinance.each do |b|%>
        invest = invest + <%= b.investamount %>;
        <% end %>
        num=parseInt(<%= @personfinance.length%>);
        num = num.toString();
        while(num.length<9){
            num='b'+num;
        }
        invest = parseInt(invest).toString();
        while(invest.length<9){
            invest='b'+invest;
        }
        var c;
        var length=$("#tableNumbers").find("tr").size();
        for(i=0;i<length;i=i+1){
            if(i==0){
                c=num;
            }else if(i==1){
                c=invest;
            }
            if(c.substr(0,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(2)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(2)").html('<div><img src'+'='+'"/assets/num'+c.substr(0,[1])+'.png"></div>');}

            if(c.substr(1,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(4)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(4)").html('<div><img src'+'='+'"/assets/num'+c.substr(1,[1])+'.png"></div>');}

            if(c.substr(2,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(5)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(5)").html('<div><img src'+'='+'"/assets/num'+c.substr(2,[1])+'.png"></div>');}

            if(c.substr(3,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(6)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(6)").html('<div><img src'+'='+'"/assets/num'+c.substr(3,[1])+'.png"></div>');}

            if(c.substr(4,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(7)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(7)").html('<div><img src'+'='+'"/assets/num'+c.substr(4,[1])+'.png"></div>');}

            if(c.substr(5,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(9)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(9)").html('<div><img src'+'='+'"/assets/num'+c.substr(5,[1])+'.png"></div>');}

            if(c.substr(6,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(10)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(10)").html('<div><img src'+'='+'"/assets/num'+c.substr(6,[1])+'.png"></div>');}

            if(c.substr(7,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(11)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(11)").html('<div><img src'+'='+'"/assets/num'+c.substr(7,[1])+'.png"></div>');}

            if(c.substr(8,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(12)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(12)").html('<div><img src'+'='+'"/assets/num'+c.substr(8,[1])+'.png"></div>');}
        }
        var c;
        var length=$("#tableNumbers2").find("tr").size();
        for(i=1;i<length;i=i+2){
            if(i==1){
                c=num;
            }else if(i==3){
                c=invest;
            }
            if(c.substr(0,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(1)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(1)").html('<div><img src'+'='+'"/assets/num'+c.substr(0,[1])+'.png"></div>');}

            if(c.substr(1,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(3)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(3)").html('<div><img src'+'='+'"/assets/num'+c.substr(1,[1])+'.png"></div>');}

            if(c.substr(2,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(4)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(4)").html('<div><img src'+'='+'"/assets/num'+c.substr(2,[1])+'.png"></div>');}

            if(c.substr(3,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(5)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(5)").html('<div><img src'+'='+'"/assets/num'+c.substr(3,[1])+'.png"></div>');}

            if(c.substr(4,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(6)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(6)").html('<div><img src'+'='+'"/assets/num'+c.substr(4,[1])+'.png"></div>');}

            if(c.substr(5,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(8)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(8)").html('<div><img src'+'='+'"/assets/num'+c.substr(5,[1])+'.png"></div>');}

            if(c.substr(6,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(9)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(9)").html('<div><img src'+'='+'"/assets/num'+c.substr(6,[1])+'.png"></div>');}

            if(c.substr(7,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(10)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(10)").html('<div><img src'+'='+'"/assets/num'+c.substr(7,[1])+'.png"></div>');}

            if(c.substr(8,[1])=='b'){$("#tableNumbers2 tr:eq("+i+") td:eq(11)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers2 tr:eq("+i+") td:eq(11)").html('<div><img src'+'='+'"/assets/num'+c.substr(8,[1])+'.png"></div>');}
        }
    }
    $(function () {
        $(document).ready(function () {

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    events: {
                        load: function() {
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            $("#age-decrease,#age-increase").click(function(){
                                draw(this.id);
                            });
                            $("#age").keyup(function(){
                                var amt = this.value;
                                if (amt.match(/^\d+$/) && (amt = +amt) <= 100 && (amt = +amt) >= 21) {
                                    $("#age").removeClass("invalid");
                                    if (amt !== $("#age").data("val")) {
                                        $("#age").data("val", amt);
                                    }
                                    draw(this.id);
                                } else {
                                    $("#age").addClass("invalid");
                                }
                            });
                            function draw(id){
                                var a, b, c, d;
                                var data = [];
                                if(id=='age-decrease') {
                                    delta=-1;
                                    if($('#age').val()<=21){
                                        delta=0;
                                    }
                                }
                                else if(id=='age-increase') {
                                    delta=1;
                                    if($('#age').val()>=100){
                                        delta=0;
                                    }
                                }
                                else if(id=='age') {
                                    delta=0;
                                }
                                var rate = [[52,7,19,12,5,5],[52,7,19,12,5,5],[52,8,18,12,5,5],[52,8,18,12,5,5],[51,10,16,13,5,5],[50,11,15,14,5,5],[50,11,15,14,5,5],[49,12,13,15,5,5],[49,12,13,15,5,5],[48,14,12,16,5,5],
                                    [47,14,12,15,5,7],[47,14,12,15,5,8],[45,14,11,15,5,10],[44,14,11,15,5,11],[43,14,11,14,5,13],[42,14,10,15,5,14],[41,14,10,15,5,15],[39,14,10,14,5,18],[39,15,10,13,5,19],[38,15,9,13,5,20],
                                    [36,15,9,13,5,23],[34,15,9,12,5,25],[33,15,8,12,5,26],[31,15,8,12,5,29],[30,16,7,11,5,31],[29,16,7,11,5,33],[28,16,7,11,5,34],[27,16,7,10,5,35],[26,16,7,10,5,36],[25,16,6,10,5,38],
                                    [24,16,6,10,5,39],[22,16,6,9,5,42],[21,16,6,9,5,42],[21,16,5,9,5,43],[21,16,5,9,5,44],[20,17,5,9,5,45],[19,17,5,9,5,45],[19,16,5,8,5,46],[19,16,5,8,5,47],[18,16,5,8,5,47],
                                    [18,16,5,8,6,48],[18,15,5,8,6,48],[18,15,5,8,6,49],[17,15,5,8,6,49],[17,15,5,7,6,50],[17,15,5,7,6,50],[17,14,5,7,6,51],[16,14,5,7,6,52],[16,14,5,7,6,52],[16,14,5,7,6,53],
                                    [15,14,5,6,6,53],[15,13,5,6,6,54],[15,13,5,6,6,55],[14,13,5,6,6,56],[14,12,5,6,6,56],[14,12,5,6,6,57],[14,12,5,5,6,58],[13,11,5,5,7,59],[13,11,5,5,7,60],[12,10,5,5,7,61],
                                    [12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],
                                    [12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61]];
                                $("#age").val(parseInt(document.getElementById('age').value)+delta)
                                $(".ages").html(parseInt(document.getElementById('age').value))
                                a=rate[parseInt(document.getElementById('age').value)-21][0]+rate[parseInt(document.getElementById('age').value)-21][1]
                                b=rate[parseInt(document.getElementById('age').value)-21][2]
                                c=rate[parseInt(document.getElementById('age').value)-21][3]+rate[parseInt(document.getElementById('age').value)-21][4]
                                d=rate[parseInt(document.getElementById('age').value)-21][5]
                                data.push(['基金',parseInt(a)]);
                                data.push(['国债、企业债', parseInt(b)]);
                                data.push(['信托', parseInt(c)]);
                                data.push(['银行理财产品', parseInt(d)]);
                                chart.series[0].setData(data);
                                chart.isDirtyLegend = true;
                                chart.redraw();
                            }
                        }
                    }
                },
                title: {
                    text: false
                },
                tooltip: false,
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true,
                        size: 180,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: '比例',
                    data: dataArray
                }],
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 10,
                    borderWidth: 0,
                    labelFormatter: function(index) {
                        return this.name+'<span>'+parseInt(this.percentage) + '%</span>';
                    }
                },
                credits: {
                    enabled: false
                }
            });
        });
        Highcharts.theme = {
            colors: ['#567e7b', '#47be7f', '#dbe67b', '#57afb7', '#95d3d8', '#b5ca34'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(195, 228, 236)'],
                        [1, 'rgb(195, 228, 236)']
                    ]
                }
            }
        };

// Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });
</script>
 -->


<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".welcomes2").remove();
    }else{
        $(".welcomes").remove();
    }
</script>
