<%= stylesheet_link_tag "home.css" %>
<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "homepage.css" %>
<%= javascript_include_tag "highcharts.src.js" %>

<div class="welcomes">
<div class="hero-unit"> <!--主角单元-->
  <div class="slide">
    <div class="row-fluid">
      <div class="span4">
        <h1>为您提供<br/>家庭理财规划<br/>方案服务</h1>
        <!-- <p><a class="btn btn-success"  href='/bankinvest/index'><em>进来挑选</em></a></p> -->
        <p class="description">站在中立，客观的角度 <br>
          为您提供私人理财建议；<br>
          为您提供最新理财产品信息供您选择；<br>
          为您省心省力，贴心打理您的财富。</p>
      </div>
      <div class="span3">
        <div id="control">
          <div class="td numeral-col">
            <div class="numeral">1</div>
          </div>
          <div class="td control-col">
            <label for="amount">投资类型</label>
            <select  name="patent" id="patent">
              <option value="1">个人投资</option>
              <option value="0">家庭投资</option>
            </select>
          </div>
        </div>
        <div id="amount-control">
          <div class="td numeral-col">
            <div class="numeral">2</div>
          </div>
          <div class="td control-col">
            <label for="amount">投资金额</label>
            <span style="position:relative;font-size:13px"><span class="dollar-prefix" style="margin-top: -3px;">￥</span><input id="amount" name="amount" style="margin-left: 5px;"  s value="50,000" type="text"></span>
            <div id="minimum-note">
              最低金额￥50000 元
            </div>
          </div>
        </div>
        <div id="age-control">
          <div class="td numeral-col">
            <div class="numeral">3</div>
          </div>
          <div class="td control-col">
            <label for="age">您的年纪</label>
            <button id="age-decrease" class="light-gray" tabindex="-1">−</button><input id="age" name="age" value="30" type="text"><button id="age-increase" class="light-gray" tabindex="-1">+</button>
          </div>
        </div>
      </div>

      <div class="span5">
        <div class="td" id="plan-result">
          <h2>您的家庭理财规划简述</h2>
<!--          <h3>默认组合是为<span class="ages">30</span>岁家庭资产组合</h3>   -->
          <div id="container" style="min-width: 250px; height: 190px; margin: 0"></div>
          <div class="row-fluid link">
            <!--
            <div class="span3">
              <input id="fee" name="fee" value="0" type="text">
            </div>
            <div class="span2">
              <div id="advisory-fee-label">
                <p class="flabel">咨询费</p>
                每年
              </div>
            </div>
            -->
            <div class="span5 offset7">
              <a class=" js-personalize-button personalize-button orange-button big-button" href='/home/questions'>详细规划建议 »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="welcme-content img">
  <h2 class="press">通天顺介绍<a class="alink" href='/personmanagement/investor'>查看平台资源</a></h2>

  <img src="/assets/120227.jpg">
  <hr>
  <h2 class="press">通天顺的服务</h2>
  <br><br>
  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/bankinvest/agentproducts/1"><img class="pull-left hsw" src="/assets/piggy.gif"></a>
    </div>
    <div class="span7">
      <a href="/bankinvest/agentproducts/1">
        <h3>团购理财产品</h3>
        <p class="leader">网聚闲散资金的力量，加大与金融机构的谈判议价能力，享受单独购买得不到的收益率。</p>
        <p class="leader">团购并不能降低产品自身的风险度，只能说团购能让您的购买成本降低。</p>
      </a>
    </div>
  </div >
  <br><br>

  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/bankinvest/index"><img class="pull-left hsw" src="/assets/graph.gif"></a>
    </div>
    <div class="span7">
      <a href="/bankinvest/index">
        <h3>所有理财产品</h3>
        <p class="leader">罗列出理财规划师最佳实惠的<span class="h3">理财产品</span>，包含银行、证券公司、信托公司、
          期货公司、保险公司等各种渠道的产品，收益率，投资期限，起购金额一目了然，供你选择。</p>
      </a>
    </div>
  </div >

  <br><br>
  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/home/questions"> <img class="pull-left hsw" src="/assets/analysis.gif"></a>
    </div>
    <div class="span7">
      <a href="/home/questions">
        <h3>家庭理财规划方案</h3>
        <p class="leader">我们的目标是设计一系列投资品种组合，根据您的风险承受度，最大化您的投资收益（扣除掉任何手续费、赎回费等交易成本）。采用均值方差优化现代投资配置方案，为您做最优化的理财规划。</p>
      </a>
    </div>
  </div >
  <hr>
  <div class="pres">
    <h2>通天顺的客户<a class="alink" href='/personmanagement/investor'>客户详细资料</a></h2>
    <div class="row-fluid">
      <div class="span3 img1">
        <img src="/assets/shbe.jpg">
      </div>
      <div class="span3 img2">
        <img src="/assets/zx.jpg">
      </div>
      <div class="span2 img3">
        <img src="/assets/ericsson.png">
      </div>
      <div class="span2 img4">
        <img src="/assets/trend.jpg">
      </div>
      <div class="span2 img3">
        <img src="/assets/hw.jpg">
      </div>
    </div>
    <hr>
    <h2>通天顺的资金</h2>
    <div id="tradingSystem">
      <div style="padding: 0 20px;">
        <a href='/personmanagement/investor'>
          <table id="tableNumbers" border="0" cellpadding="0" cellspacing="0">

            <tbody>
            <tr class="hide">
              <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="homeRightText"><h3>经纪人月租费</h3></td>
            </tr>

            <tr class="hide">
              <td colspan="13" class="lineBreak"><img src="/assets/horizontalLine.png" border="0"></td>
            </tr>

            <tr>
              <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="homeRightText" style="white-space:nowrap;"><h3>闲余资金量</h3>
                <p>正在寻觅合适理财产品</p>
              </td>
            </tr>

            <tr class="hide">
              <td colspan="13" class="lineBreak"><img src="/assets/horizontalLine.png"></td>
            </tr>

            <tr>
              <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="homeRightText">
                <h3>总资金量</h3>
              </td>
            </tr>
            </tbody>
          </table>
        </a>
      </div>
      <!--
      <div id="borders">
        <div id="leftBorder"></div>
        <div id="rightBorder"></div>
      </div>
      -->
    </div>
  </div>

  <!--
  <br><br>

  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/bankinvest/pickoutfinance"><img class="pull-left hsw" src="/assets/graph.gif"></a>
    </div>
    <div class="span7">
      <a href="/bankinvest/pickoutfinance">
        <h3>三步精选产品</h3>
        <p class="leader">简单的三个步骤，迅速帮您选择最适合您的<span class="h3">理财产品</span>。<br>
          通过资金量、流动性、风险性三步骤,公司金融专家研究各银行理财产品说明书推荐产品。这些产品都是银行自行设计并发行，产品风险极低，至今无亏损记录。</p>
      </a>
    </div>
  </div >


  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/home/productindex"><img class="pull-left hsw" src="/assets/analysis.gif"></a>
    </div>
    <div class="span7">
      <a href="http://eepurl.com/tonoL" target="_blank" class='full'>
        <h3>邮件订阅</h3>
        <p class="leader">订阅邮件，将定期发送<span class="h3">银行理财产品</span>文章，普及理财基本知识，最新产品功能及时推荐。
          并将在每周发送创业日记，会给您职场带来一些帮助和思考。</p>
      </a>
    </div>
  </div >
  -->
</div>
</div>
<script>
    window.onload=function(){

    }
</script>
<script>
    try{
        $(function() {
            var $amt = $("#amount")
                    .on("update", function () {
                        var val = this.value, amt = val.replace(/[$,]/g, "");
                        if (amt.match(/^\d+$/) && (amt = +amt) >= 50000) {
                            $amt.removeClass("invalid");
                            if (amt !== $amt.data("val")) {
                                $amt.data("val", amt);
                            }
                        } else {
                            $amt.addClass("invalid");
                        }
                    })
                    .bind("keypress keyup", function() {
                        $(this).trigger("update");
                    })
        });
    } catch(e) {w.trackJsError(e); throw e;}
</script>

<script type="text/javascript">
    var chart=null;
    var dataArray= [
        ['股票、基金',62],
        ['国债、企业债',12],
        ['信托',21],
        ['银行理财产品',5]
    ];
    window.onload=function(){
        chart.series[0].setData(dataArray);
        chart.isDirtyLegend = true;
        chart.redraw();
        $("#age").val(30)
        var num0;      //会员数
        var invest=0; //总资金量
        var free=0;   //闲余资金量
        var num;     //经纪人月租费
        num= <%= @num %>;
        <% @personinvestinfo.each do |b|%>
        invest = invest + <%= b.investamount %>;
        if( '<%= b.purchasproducts %>'=='未购'){
            free = free + <%= b.investamount %>;
        }
        <% end %>
        num=parseInt(parseFloat(free)*0.0001);
        num = num.toString();
        while(num.length<9){
            num='b'+num;
        }
        invest = parseInt(invest).toString();
        while(invest.length<9){
            invest='b'+invest;
        }
        free = parseInt(free).toString();
        while(free.length<9){
            free='b'+free;
        }
        var c;
        var length=$("#tableNumbers").find("tr").size();
        for(i=0;i<length;i=i+2){
            if(i==0){c=num}
            else if(i==2){c=free}
            else if(i==4){c=invest}
            if(c.substr(0,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(1)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(1)").html('<div><img src'+'='+'"/assets/num'+c.substr(0,[1])+'.png"></div>');}

            if(c.substr(1,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(3)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(3)").html('<div><img src'+'='+'"/assets/num'+c.substr(1,[1])+'.png"></div>');}

            if(c.substr(2,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(4)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(4)").html('<div><img src'+'='+'"/assets/num'+c.substr(2,[1])+'.png"></div>');}

            if(c.substr(3,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(5)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(5)").html('<div><img src'+'='+'"/assets/num'+c.substr(3,[1])+'.png"></div>');}

            if(c.substr(4,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(6)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(6)").html('<div><img src'+'='+'"/assets/num'+c.substr(4,[1])+'.png"></div>');}

            if(c.substr(5,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(8)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(8)").html('<div><img src'+'='+'"/assets/num'+c.substr(5,[1])+'.png"></div>');}

            if(c.substr(6,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(9)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(9)").html('<div><img src'+'='+'"/assets/num'+c.substr(6,[1])+'.png"></div>');}

            if(c.substr(7,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(10)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(10)").html('<div><img src'+'='+'"/assets/num'+c.substr(7,[1])+'.png"></div>');}

            if(c.substr(8,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(11)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(11)").html('<div><img src'+'='+'"/assets/num'+c.substr(8,[1])+'.png"></div>');}
        }
    }
    $(function () {
        $(document).ready(function () {

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    events: {
                        load: function() {
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            $("#age-decrease,#age-increase").click(function(){
                                var a, b, c, d;
                                var data = [];
                                if(this.id=='age-decrease') {
                                    delta=-1;
                                    if($('#age').val()<=21){
                                        delta=0;
                                    }
                                }
                                else{
                                    delta=1;
                                    if($('#age').val()>=100){
                                        delta=0;
                                    }
                                }
                                var rate = [[52,7,19,12,5,5],[52,7,19,12,5,5],[52,8,18,12,5,5],[52,8,18,12,5,5],[51,10,16,13,5,5],[50,11,15,14,5,5],[50,11,15,14,5,5],[49,12,13,15,5,5],[49,12,13,15,5,5],[48,14,12,16,5,5],
                                    [47,14,12,15,5,7],[47,14,12,15,5,8],[45,14,11,15,5,10],[44,14,11,15,5,11],[43,14,11,14,5,13],[42,14,10,15,5,14],[41,14,10,15,5,15],[39,14,10,14,5,18],[39,15,10,13,5,19],[38,15,9,13,5,20],
                                    [36,15,9,13,5,23],[34,15,9,12,5,25],[33,15,8,12,5,26],[31,15,8,12,5,29],[30,16,7,11,5,31],[29,16,7,11,5,33],[28,16,7,11,5,34],[27,16,7,10,5,35],[26,16,7,10,5,36],[25,16,6,10,5,38],
                                    [24,16,6,10,5,39],[22,16,6,9,5,42],[21,16,6,9,5,42],[21,16,5,9,5,43],[21,16,5,9,5,44],[20,17,5,9,5,45],[19,17,5,9,5,45],[19,16,5,8,5,46],[19,16,5,8,5,47],[18,16,5,8,5,47],
                                    [18,16,5,8,6,48],[18,15,5,8,6,48],[18,15,5,8,6,49],[17,15,5,8,6,49],[17,15,5,7,6,50],[17,15,5,7,6,50],[17,14,5,7,6,51],[16,14,5,7,6,52],[16,14,5,7,6,52],[16,14,5,7,6,53],
                                    [15,14,5,6,6,53],[15,13,5,6,6,54],[15,13,5,6,6,55],[14,13,5,6,6,56],[14,12,5,6,6,56],[14,12,5,6,6,57],[14,12,5,5,6,58],[13,11,5,5,7,59],[13,11,5,5,7,60],[12,10,5,5,7,61],
                                    [12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],
                                    [12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61]];
                                $("#age").val(parseInt(document.getElementById('age').value)+delta)
                                $(".ages").html(parseInt(document.getElementById('age').value))
                                a=rate[parseInt(document.getElementById('age').value)-21][0]+rate[parseInt(document.getElementById('age').value)-21][1]
                                b=rate[parseInt(document.getElementById('age').value)-21][2]
                                c=rate[parseInt(document.getElementById('age').value)-21][3]+rate[parseInt(document.getElementById('age').value)-21][4]
                                d=rate[parseInt(document.getElementById('age').value)-21][5]
                                data.push(['股票、基金',parseInt(a)]);
                                data.push(['国债、企业债', parseInt(b)]);
                                data.push(['信托', parseInt(c)]);
                                data.push(['银行理财产品', parseInt(d)]);
                                chart.series[0].setData(data);
                                chart.isDirtyLegend = true;
                                chart.redraw();
                            });
                        }
                    }
                },
                title: {
                    text: false
                },
                tooltip: false,
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                            /*
                             color: '#000',
                             distance: -20,//通过设置这个属性，将每个小饼图的显示名称和每个饼图重叠
                             style: {
                             fontSize: '10px',
                             lineHeight: '10px'
                             },
                             formatter: function(index) {
                             return  '<span>' + this.point.name+'<br>'+ parseInt(this.point.percentage) + '%</span>';
                             }
                             */
                        },
                        showInLegend: true,
                        size: 180,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: '比例',
                    data: dataArray
                }],
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 10,
                    borderWidth: 0,
                    labelFormatter: function(index) {
                        return this.name+'<span>'+parseInt(this.percentage) + '%</span>';
                    }
                },
                credits: {
                    enabled: false
                }
            });
        });
        Highcharts.theme = {
            colors: ['#567e7b', '#47be7f', '#dbe67b', '#57afb7', '#95d3d8', '#b5ca34'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(195, 228, 236)'],
                        [1, 'rgb(195, 228, 236)']
                    ]
                }
            }
        };

// Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });
</script>
