<%= stylesheet_link_tag "jquery.noty.css" %>
<%= stylesheet_link_tag "noty_theme_growl.css" %>
<%= javascript_include_tag "jquery.noty.js" %>
<body>
   
  <div class="slider">
  <div class="liubaileft"></div>
  
  <div class="bannerl">
  </div>
    <div class="slice1">
      <div class="slice2" id="slider">
        <ul>
          <li>
            <div>
			<div>
              
			  <div id="banner3">
              
              <p>500毫秒刷新行情，
			  超过200多组套利对，<br />
			  捕捉所有盈利机会。<a href="#"></a></p>
            </div>
			  </div>
			  <p class="img"><%= link_to(image_tag("img03.jpg"),:controller => "strategy",:action => "shownorisk") %></p>
            </div>
          </li>
          <li>
            <div>
             <div>
			 <div id="banner2">
              <p>单边：趋势策略，震荡策略；<br />套利：跨期，跨产品，跨市场策略 <a href="#"></a></p>
            </div>
			 </div>
              <p class="img"><%= image_tag "img02.jpg" %></p>
              
              
            </div>
          </li>
          <li>
            <div>
			<div>
			 <div id="banner1">
			 <p>简单上手，
			  定制您自己的交易策略，<br />
			  免费帮您测试。<a href="#"></a></p>
            </div>
			  </div>
              <p class="img"><%= image_tag "img01.jpg" %></p>
              
            </div>
          </li>
        </ul>
      </div>
    </div>
	<div class="liubairight"></div>
	<div class="bannerr">
  </div>
  
  
  </div>
  <div class="clr"></div>
  <div class="zhongjian">
  <div class="zhongjianleft">
  </div>
  <div class="zhongjiandise">
  </div>
  <div class="zhongjianright">
  </div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="topi">
      <div class="blogi">
	  <div class="blogitop01"></div>
	  <div class="blogitop1">
	  <h2>关于</h2>
	  </div>
	  <div class="blogitop2">
	  <h2>我们</h2>
	  </div>
	  <div class="morexinxi">
	  <a href="/contactus/companyintro">+更多</a>
	  </div>
	  <div class="clr"></div>
	  <div class="jieshao1"></div>
	  <div class="jieshaop">
	 <p>南京重人软件科技有限公司研发维护。<br />重人软件是家专注于金融产品策略平台研发的企业。公司的创始团队具有多年国外软件公司，以及国内大型期货公司工作经验。<br />
        </p>
      </div>
      </div>
	   <div class="contentdise"></div>
	  
      <div class="blogi">
	   <div class="blogitop02"></div>
	  <div class="blogitop3">
	  <h2>我们的</h2>
	  </div>
	  <div class="blogitop2">
	  <h2>服务</h2>
	  </div>
	  <div class="morexinxi">
	  <a href="/contactus/productintro">+更多</a>
	  </div>
     <div class="clr"></div>
   <div class="jieshao2"></div>	
   <div class="jieshaop">
        <p>策略设计评估: 实时市场行情加载精选策略，评估策略优略，免费供您选择；
        套利计算: 200多套利对实时计算套利成本；
        策略定制: 先进计算机技术帮您定制盈利策略。</p>
        
      </div>
      </div>
	  <div class="contentdise"></div>
      <div class="blogi">
	 
	  <div class="blogitop03"></div>
	  <div class="blogitop1">
	  <h2>诚聘</h2>
      </div>
	  <div class="blogitop2">
	  <h2>英才</h2>
    </div>
	  <div class="morexinxi">
	  <a href="/contactus/hire">+更多</a>
	  
      </div>

		

       <div class="clr"></div>
     <div class="jieshao3"></div>	
	 <div class="jieshaop">
        <p>软件工程师： 负责金融应用软件开发,1~2年软件开发经验,精通C/C++编程。
        网站构架师：精通HTML,CSS编程，精通Javascript，熟悉网站构架，了解RoR为佳。</p>
        </div>
		
      </div>
	  <div class="contentdise"></div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
	<div class="dibu">
  <div class="dibuleft">
  </div>
  <div class="dibudise">
  </div>
  <div class="diburight">
  </div>
  </div>
  <div class="clr"></div>
    
      

  <div class="footer">
    <div class="resize">
      <div>
        <!--<p class="footer_logo"><a href="#"><%= image_tag "footer_logo.gif",:size=>"140*40" %></a></p> -->
        <p> 苏JCP备12035521  南京重人软件有限公司 版权所有<br/>
		版权信息： 版权名：R3.0  更新日期：2012-06-05 09:10:20</p><!--Copyright © www.tongtianshun.com. <a href="http://www.tongtianshun.com/"></a>. All Rights Reserved<br /> -->
<!--          <a href="index.html">Home</a> | <a href="contact.html">Contact</a> | <a href="blog.html">RSS</a></p>  -->
      </div>
	  
    </div>
	
    <p class="clr"></p>
	<div class="pagedibu">
  
  </div>
  </div>
  </div>
</body>
</html>
<script type="text/javascript">
  function show_version(){
    $(document).ready(function(){
      var title = '<table><tr><th>current_version_id</th><th>current_comments</th><th>update_date</th></tr>'+
              ' <% @versions_all.each do |version| %><tr><td><%= version.current_version_id %></td><td><%= version.current_comments %></td>'+
              '<td><%= version.update_date.to_s(:db) %></td></tr><% end %></table>';
     noty({layout : 'topLeft', theme : 'noty_theme_growl', type : 'information',text: title,timeout : false });
    });
  }
</script>