<%= stylesheet_link_tag "home.css" %>
<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "homepage.css" %>
<%= javascript_include_tag "highcharts.src.js" %>

<div class="welcomes">
<div class="hero-unit"> <!--主角单元-->
  <div class="slide">
    <div class="row-fluid">
      <div class="span4">
        <h1>为您提供<br/>家庭理财规划<br/>方案服务</h1>
        <!-- <p><a class="btn btn-success"  href='/bankinvest/index'><em>进来挑选</em></a></p> -->
        <p class="description">站在中立，客观的角度 <br>
          为您提供私人理财建议；<br>
          为您提供最新理财产品信息供您选择；<br>
          为您省心省力，贴心打理您的财富。</p>
      </div>
      <div class="span3">
        <div id="control">
          <div class="td numeral-col">
            <div class="numeral">1</div>
          </div>
          <div class="td control-col">
            <label for="amount">投资类型</label>
            <select  name="patent" id="patent">
              <option value="1">个人投资</option>
              <option value="0">家庭投资</option>
            </select>
          </div>
        </div>
        <div id="amount-control">
          <div class="td numeral-col">
            <div class="numeral">2</div>
          </div>
          <div class="td control-col">
            <label for="amount">投资金额</label>
            <span style="position:relative;font-size:13px"><span class="dollar-prefix" style="margin-top: -3px;">￥</span><input id="amount" name="amount" style="margin-left: 5px;"  s value="50,000" type="text"></span>
            <div id="minimum-note">
              最低金额￥50000 元
            </div>
          </div>
        </div>
        <div id="age-control">
          <div class="td numeral-col">
            <div class="numeral">3</div>
          </div>
          <div class="td control-col">
            <label for="age">您的年纪</label>
            <button id="age-decrease" class="light-gray" tabindex="-1">−</button><input id="age" name="age" value="30" type="text"><button id="age-increase" class="light-gray" tabindex="-1">+</button>
          </div>
        </div>
      </div>

      <div class="span5">
        <div class="td" id="plan-result">
          <h2>您的家庭理财规划简述</h2>
<!--          <h3>默认组合是为<span class="ages">30</span>岁家庭资产组合</h3>   -->
          <div id="container" style="min-width: 250px; height: 190px; margin: 0"></div>
          <div class="row-fluid link">
            <!--
            <div class="span3">
              <input id="fee" name="fee" value="0" type="text">
            </div>
            <div class="span2">
              <div id="advisory-fee-label">
                <p class="flabel">咨询费</p>
                每年
              </div>
            </div>
            -->
            <div class="span5 offset7">
              <a class=" js-personalize-button personalize-button orange-button big-button" href='/home/questions'>详细规划建议 »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="welcme-content img">
  <h2 class="press">通天顺平台介绍<a class="alink" href='/personmanagement/investor'>查看平台资源</a></h2>

  <img src="/assets/120227.jpg">
  <hr>
  <h2 class="press">通天顺的服务</h2>
  <br><br>
  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/bankinvest/agentproducts/1"><img class="pull-left hsw" src="/assets/piggy.gif"></a>
    </div>
    <div class="span7">
      <a href="/bankinvest/agentproducts/1">
        <h3>团购理财产品</h3>
        <p class="leader">网聚闲散资金的力量，加大与金融机构的谈判议价能力，享受单独购买得不到的收益率。</p>
        <p class="leader">团购并不能降低产品自身的风险度，只能说团购能让您的购买成本降低。</p>
      </a>
    </div>
  </div >
  <br><br>

  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/bankinvest/agentproducts"><img class="pull-left hsw" src="/assets/graph.gif"></a>
    </div>
    <div class="span7">
      <a href="/bankinvest/agentproducts">
        <h3>理财规划师推荐产品</h3>
        <p class="leader">罗列出理财规划师最佳实惠的<span class="h3">理财产品</span>，包含银行、证券公司、信托公司、
          期货公司、保险公司等各种渠道的产品，收益率，投资期限，起购金额一目了然，供你选择。</p>
      </a>
    </div>
  </div >

  <br><br>
  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/bankinvest/index"> <img class="pull-left hsw" src="/assets/analysis.gif"></a>
    </div>
    <div class="span7">
      <a href="/bankinvest/index">
        <h3>所有在售产品</h3>
        <p class="leader">罗列出所有机构（银行、证券公司、期货公司等）的各种<span class="h3">理财产品</span>，供您挑选。<br>
          收益率，投资期限，起购金额，购买时间一目了然。</p>
      </a>
    </div>
  </div >
  <hr>
  <div class="pres">
    <h2>通天顺的客户<a class="alink" href='/personmanagement/investor'>客户详细资料</a></h2>
    <div class="row-fluid">
      <div class="span3 img1">
        <img src="/assets/shbe.jpg">
      </div>
      <div class="span3 img2">
        <img src="/assets/zx.jpg">
      </div>
      <div class="span2 img3">
        <img src="/assets/ericsson.png">
      </div>
      <div class="span2 img4">
        <img src="/assets/trend.jpg">
      </div>
      <div class="span2 img3">
        <img src="/assets/hw.jpg">
      </div>
    </div>
    <hr>
    <h2>通天顺的资金</h2>
    <div id="tradingSystem">
      <div style="padding: 0 20px;">
        <a href='/personmanagement/investor'>
          <table id="tableNumbers" border="0" cellpadding="0" cellspacing="0">

            <tbody>
            <tr class="hide">
              <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="homeRightText"><h3>经纪人月租费</h3></td>
            </tr>

            <tr class="hide">
              <td colspan="13" class="lineBreak"><img src="/assets/horizontalLine.png" border="0"></td>
            </tr>

            <tr>
              <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="homeRightText" style="white-space:nowrap;"><h3>闲余资金量</h3>
                <p>正在寻觅合适理财产品</p>
              </td>
            </tr>

            <tr class="hide">
              <td colspan="13" class="lineBreak"><img src="/assets/horizontalLine.png"></td>
            </tr>

            <tr>
              <td class="dollar"><img src="/assets/c2Dollars.gif" alt="" style=""  border=" 0"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="comma"><img src="/assets/comma.png" alt=""></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="number"></td>
              <td class="homeRightText">
                <h3>总资金量</h3>
              </td>
            </tr>
            </tbody>
          </table>
        </a>
      </div>
      <!--
      <div id="borders">
        <div id="leftBorder"></div>
        <div id="rightBorder"></div>
      </div>
      -->
    </div>
  </div>

  <!--
  <br><br>

  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/bankinvest/pickoutfinance"><img class="pull-left hsw" src="/assets/graph.gif"></a>
    </div>
    <div class="span7">
      <a href="/bankinvest/pickoutfinance">
        <h3>三步精选产品</h3>
        <p class="leader">简单的三个步骤，迅速帮您选择最适合您的<span class="h3">理财产品</span>。<br>
          通过资金量、流动性、风险性三步骤,公司金融专家研究各银行理财产品说明书推荐产品。这些产品都是银行自行设计并发行，产品风险极低，至今无亏损记录。</p>
      </a>
    </div>
  </div >


  <div class="row-fluid">
    <div class="span4 offset1">
      <a href="/home/productindex"><img class="pull-left hsw" src="/assets/analysis.gif"></a>
    </div>
    <div class="span7">
      <a href="http://eepurl.com/tonoL" target="_blank" class='full'>
        <h3>邮件订阅</h3>
        <p class="leader">订阅邮件，将定期发送<span class="h3">银行理财产品</span>文章，普及理财基本知识，最新产品功能及时推荐。
          并将在每周发送创业日记，会给您职场带来一些帮助和思考。</p>
      </a>
    </div>
  </div >
  -->
</div>
</div>
<script>
    window.onload=function(){

    }
</script>
<script>
    try{
        $(function() {
            var $amt = $("#amount")
                    .on("update", function () {
                        var val = this.value, amt = val.replace(/[$,]/g, "");
                        if (amt.match(/^\d+$/) && (amt = +amt) >= 50000) {
                            $amt.removeClass("invalid");
                            if (amt !== $amt.data("val")) {
                                $amt.data("val", amt);
                            }
                        } else {
                            $amt.addClass("invalid");
                        }
                    })
                    .bind("keypress keyup", function() {
                        $(this).trigger("update");
                    })
        });
    } catch(e) {w.trackJsError(e); throw e;}
</script>

<script type="text/javascript">
    var chart=null;
    var dataArray= [
        ['股票、基金',62],
        ['国债、企业债',12],
        ['信托',21],
        ['银行理财产品',5]
    ];
    window.onload=function(){
        chart.series[0].setData(dataArray);
        chart.isDirtyLegend = true;
        chart.redraw();
        $("#age").val(30)
        var num0;      //会员数
        var invest=0; //总资金量
        var free=0;   //闲余资金量
        var num;     //经纪人月租费
        num= <%= @num %>;
        <% @personinvestinfo.each do |b|%>
        invest = invest + <%= b.investamount %>;
        if( '<%= b.purchasproducts %>'=='未购'){
            free = free + <%= b.investamount %>;
        }
        <% end %>
        num=parseInt(parseFloat(free)*0.0001);
        num = num.toString();
        while(num.length<9){
            num='b'+num;
        }
        invest = parseInt(invest).toString();
        while(invest.length<9){
            invest='b'+invest;
        }
        free = parseInt(free).toString();
        while(free.length<9){
            free='b'+free;
        }
        var c;
        var length=$("#tableNumbers").find("tr").size();
        for(i=0;i<length;i=i+2){
            if(i==0){c=num}
            else if(i==2){c=free}
            else if(i==4){c=invest}
            if(c.substr(0,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(1)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(1)").html('<div><img src'+'='+'"/assets/num'+c.substr(0,[1])+'.png"></div>');}

            if(c.substr(1,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(3)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(3)").html('<div><img src'+'='+'"/assets/num'+c.substr(1,[1])+'.png"></div>');}

            if(c.substr(2,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(4)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(4)").html('<div><img src'+'='+'"/assets/num'+c.substr(2,[1])+'.png"></div>');}

            if(c.substr(3,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(5)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(5)").html('<div><img src'+'='+'"/assets/num'+c.substr(3,[1])+'.png"></div>');}

            if(c.substr(4,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(6)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(6)").html('<div><img src'+'='+'"/assets/num'+c.substr(4,[1])+'.png"></div>');}

            if(c.substr(5,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(8)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(8)").html('<div><img src'+'='+'"/assets/num'+c.substr(5,[1])+'.png"></div>');}

            if(c.substr(6,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(9)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(9)").html('<div><img src'+'='+'"/assets/num'+c.substr(6,[1])+'.png"></div>');}

            if(c.substr(7,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(10)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(10)").html('<div><img src'+'='+'"/assets/num'+c.substr(7,[1])+'.png"></div>');}

            if(c.substr(8,[1])=='b'){$("#tableNumbers tr:eq("+i+") td:eq(11)").html('<div><img src="/assets/blank.png"></div>');}
            else{$("#tableNumbers tr:eq("+i+") td:eq(11)").html('<div><img src'+'='+'"/assets/num'+c.substr(8,[1])+'.png"></div>');}
        }
    }
    $(function () {
        $(document).ready(function () {

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    events: {
                        load: function() {
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            $("#age-decrease,#age-increase").click(function(){
                                var a, b, c, d;
                                var data = [];
                                if(this.id=='age-decrease') {
                                    delta=-1;
                                    if($('#age').val()<=21){
                                        delta=0;
                                    }
                                }
                                else{
                                    delta=1;
                                    if($('#age').val()>=100){
                                        delta=0;
                                    }
                                }
                                var rate = [[52,7,19,12,5,5],[52,7,19,12,5,5],[52,8,18,12,5,5],[52,8,18,12,5,5],[51,10,16,13,5,5],[50,11,15,14,5,5],[50,11,15,14,5,5],[49,12,13,15,5,5],[49,12,13,15,5,5],[48,14,12,16,5,5],
                                    [47,14,12,15,5,7],[47,14,12,15,5,8],[45,14,11,15,5,10],[44,14,11,15,5,11],[43,14,11,14,5,13],[42,14,10,15,5,14],[41,14,10,15,5,15],[39,14,10,14,5,18],[39,15,10,13,5,19],[38,15,9,13,5,20],
                                    [36,15,9,13,5,23],[34,15,9,12,5,25],[33,15,8,12,5,26],[31,15,8,12,5,29],[30,16,7,11,5,31],[29,16,7,11,5,33],[28,16,7,11,5,34],[27,16,7,10,5,35],[26,16,7,10,5,36],[25,16,6,10,5,38],
                                    [24,16,6,10,5,39],[22,16,6,9,5,42],[21,16,6,9,5,42],[21,16,5,9,5,43],[21,16,5,9,5,44],[20,17,5,9,5,45],[19,17,5,9,5,45],[19,16,5,8,5,46],[19,16,5,8,5,47],[18,16,5,8,5,47],
                                    [18,16,5,8,6,48],[18,15,5,8,6,48],[18,15,5,8,6,49],[17,15,5,8,6,49],[17,15,5,7,6,50],[17,15,5,7,6,50],[17,14,5,7,6,51],[16,14,5,7,6,52],[16,14,5,7,6,52],[16,14,5,7,6,53],
                                    [15,14,5,6,6,53],[15,13,5,6,6,54],[15,13,5,6,6,55],[14,13,5,6,6,56],[14,12,5,6,6,56],[14,12,5,6,6,57],[14,12,5,5,6,58],[13,11,5,5,7,59],[13,11,5,5,7,60],[12,10,5,5,7,61],
                                    [12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],
                                    [12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61],[12,10,5,5,7,61]];
                                $("#age").val(parseInt(document.getElementById('age').value)+delta)
                                $(".ages").html(parseInt(document.getElementById('age').value))
                                a=rate[parseInt(document.getElementById('age').value)-21][0]+rate[parseInt(document.getElementById('age').value)-21][1]
                                b=rate[parseInt(document.getElementById('age').value)-21][2]
                                c=rate[parseInt(document.getElementById('age').value)-21][3]+rate[parseInt(document.getElementById('age').value)-21][4]
                                d=rate[parseInt(document.getElementById('age').value)-21][5]
                                data.push(['股票、基金',parseInt(a)]);
                                data.push(['国债、企业债', parseInt(b)]);
                                data.push(['信托', parseInt(c)]);
                                data.push(['银行理财产品', parseInt(d)]);
                                chart.series[0].setData(data);
                                chart.isDirtyLegend = true;
                                chart.redraw();
                            });
                        }
                    }
                },
                title: {
                    text: false
                },
                tooltip: false,
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                            /*
                             color: '#000',
                             distance: -20,//通过设置这个属性，将每个小饼图的显示名称和每个饼图重叠
                             style: {
                             fontSize: '10px',
                             lineHeight: '10px'
                             },
                             formatter: function(index) {
                             return  '<span>' + this.point.name+'<br>'+ parseInt(this.point.percentage) + '%</span>';
                             }
                             */
                        },
                        showInLegend: true,
                        size: 180,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: '比例',
                    data: dataArray
                }],
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 10,
                    borderWidth: 0,
                    labelFormatter: function(index) {
                        return this.name+'<span>'+parseInt(this.percentage) + '%</span>';
                    }
                },
                credits: {
                    enabled: false
                }
            });
        });
        Highcharts.theme = {
            colors: ['#567e7b', '#47be7f', '#dbe67b', '#57afb7', '#95d3d8', '#b5ca34'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(195, 228, 236)'],
                        [1, 'rgb(195, 228, 236)']
                    ]
                }
            }
        };

// Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });
</script>

<!--
<script>
    t0=new Date
    function onReady(fn){onReady.fns.push(fn)}
    onReady.fns=[]
</script>

<script>
    try{
        var taxableModel = {"name":"SAA201210","allocations":{"US_STOCKS":[0.0573,0.0669,0.0744,0.0804,0.0864,0.0909,0.0954,0.1,0.1045,0.109,0.112,0.115,0.1195,0.1225,0.1255,0.1301,0.1326,0.1351,0.1376,0.1401,0.1425,0.145,0.1475,0.15,0.1524,0.1549,0.1574,0.1598,0.1623,0.1636,0.166,0.1685,0.171,0.1734,0.1759,0.1772,0.1796,0.1821,0.1846,0.1858,0.1883,0.1922,0.1942,0.1979,0.2016,0.2053,0.2072,0.2109,0.2146,0.2165,0.2295,0.2388,0.2482,0.2576,0.2671,0.2766,0.2861,0.2956,0.305,0.3126,0.3221,0.3316,0.3411,0.3505,0.3581,0.3676,0.3771,0.3866,0.3941,0.4036,0.4131,0.4207,0.4302,0.4397,0.4472,0.4567,0.4662,0.4738,0.4833,0.4929,0.5006,0.5084,0.5161,0.5219,0.5297,0.5355,0.5348,0.5336,0.5324,0.5312,0.53,0.5292,0.52,0.5113,0.4983,0.4896,0.4766,0.4679,0.4592,0.4505],"INTL_DEVELOPED":[0.05,0.0583,0.0649,0.0701,0.0754,0.0793,0.0833,0.0872,0.0911,0.0951,0.0977,0.1003,0.1043,0.1069,0.1095,0.1134,0.1157,0.1179,0.12,0.1222,0.1243,0.1265,0.1286,0.1308,0.133,0.1351,0.1373,0.1394,0.1416,0.1427,0.1448,0.147,0.1491,0.1513,0.1535,0.1545,0.1567,0.1588,0.161,0.1621,0.1642,0.1651,0.1654,0.1651,0.1648,0.1644,0.1643,0.164,0.1636,0.1635,0.1624,0.1616,0.1607,0.1597,0.1587,0.1576,0.1566,0.1556,0.1546,0.1538,0.1527,0.1517,0.1507,0.1497,0.1489,0.1478,0.1468,0.1458,0.145,0.144,0.143,0.1421,0.1411,0.1401,0.1393,0.1383,0.1372,0.1364,0.1354,0.1244,0.111,0.0976,0.0842,0.0742,0.0608,0.0508,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05],"INTL_EMERGING":[0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.0509,0.0519,0.0528,0.0532,0.0542,0.0551,0.0555,0.0588,0.0611,0.0634,0.0656,0.0679,0.0702,0.0724,0.0747,0.077,0.0788,0.0811,0.0834,0.0856,0.0879,0.0897,0.092,0.0943,0.0965,0.0984,0.1006,0.1029,0.1047,0.107,0.1093,0.1111,0.1134,0.1156,0.1175,0.1197,0.132,0.1465,0.1609,0.1753,0.1861,0.2006,0.2114,0.2214,0.2314,0.2414,0.2513,0.2613,0.268,0.28,0.2887,0.3017,0.3104,0.3234,0.3321,0.3408,0.3495],"REAL_ESTATE":[0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.0512,0.0527,0.0541,0.0556,0.0571,0.0586,0.06,0.0615,0.063,0.0645,0.0659,0.0674,0.0689,0.0696,0.0711,0.0726,0.074,0.0755,0.077,0.0777,0.0792,0.0807,0.0821,0.0829,0.0843,0.0855,0.0861,0.0871,0.0881,0.089,0.0895,0.0905,0.0915,0.092,0.0954,0.0978,0.1002,0.1025,0.1048,0.1071,0.1093,0.1116,0.1139,0.1157,0.118,0.1203,0.1226,0.1249,0.1267,0.129,0.1313,0.1336,0.1354,0.1377,0.14,0.1418,0.1441,0.1464,0.1482,0.1505,0.1528,0.1546,0.1569,0.1507,0.1419,0.1331,0.1243,0.1178,0.109,0.1024,0.0938,0.085,0.0762,0.0674,0.0587,0.0528,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05],"COMMODITIES":[0.0653,0.0699,0.0694,0.0691,0.0687,0.0684,0.0682,0.0679,0.0676,0.0674,0.0672,0.067,0.0668,0.0666,0.0664,0.0661,0.0657,0.0651,0.0646,0.064,0.0635,0.0629,0.0623,0.0618,0.0612,0.0607,0.0601,0.0596,0.059,0.0588,0.0582,0.0577,0.0571,0.0566,0.056,0.0557,0.0552,0.0546,0.0541,0.0538,0.0533,0.0531,0.053,0.0528,0.0526,0.0524,0.0523,0.052,0.0518,0.0517,0.0509,0.0503,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05],"BONDS":[0.7274,0.705,0.6913,0.6804,0.6695,0.6613,0.6531,0.6449,0.6368,0.6286,0.6231,0.6176,0.6095,0.604,0.5985,0.5904,0.5848,0.5793,0.5737,0.5682,0.5626,0.5571,0.5515,0.5459,0.5404,0.5348,0.5293,0.5237,0.5182,0.5154,0.5098,0.5043,0.4987,0.4932,0.4876,0.4849,0.4793,0.4738,0.4682,0.4654,0.4599,0.4541,0.4512,0.4462,0.4411,0.436,0.4335,0.4284,0.4234,0.4208,0.4031,0.3904,0.3776,0.3646,0.3516,0.3385,0.3255,0.3125,0.2995,0.2891,0.2761,0.263,0.25,0.237,0.2266,0.2136,0.2005,0.1875,0.1771,0.1641,0.1511,0.1407,0.1276,0.1146,0.1042,0.0912,0.0782,0.0678,0.0547,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05]},"granularity":10.0,"model_number":4,"max_risk":10,"min_risk":0.1};
        var nonTaxableModel = {"name":"SAA201210","allocations":{"US_STOCKS":[0.0573,0.0669,0.0744,0.0804,0.0864,0.0909,0.0954,0.1,0.1045,0.109,0.112,0.115,0.1195,0.1225,0.1255,0.1301,0.1326,0.1351,0.1376,0.1401,0.1425,0.145,0.1475,0.15,0.1524,0.1549,0.1574,0.1598,0.1623,0.1636,0.166,0.1685,0.171,0.1734,0.1759,0.1772,0.1796,0.1821,0.1846,0.1858,0.1883,0.1922,0.1942,0.1979,0.2016,0.2053,0.2072,0.2109,0.2146,0.2165,0.2295,0.2388,0.2482,0.2576,0.2671,0.2766,0.2861,0.2956,0.305,0.3126,0.3221,0.3316,0.3411,0.3505,0.3581,0.3676,0.3771,0.3866,0.3941,0.4036,0.4131,0.4207,0.4302,0.4397,0.4472,0.4567,0.4662,0.4738,0.4833,0.4929,0.5006,0.5084,0.5161,0.5219,0.5297,0.5355,0.5348,0.5336,0.5324,0.5312,0.53,0.5292,0.52,0.5113,0.4983,0.4896,0.4766,0.4679,0.4592,0.4505],"INTL_DEVELOPED":[0.05,0.0583,0.0649,0.0701,0.0754,0.0793,0.0833,0.0872,0.0911,0.0951,0.0977,0.1003,0.1043,0.1069,0.1095,0.1134,0.1157,0.1179,0.12,0.1222,0.1243,0.1265,0.1286,0.1308,0.133,0.1351,0.1373,0.1394,0.1416,0.1427,0.1448,0.147,0.1491,0.1513,0.1535,0.1545,0.1567,0.1588,0.161,0.1621,0.1642,0.1651,0.1654,0.1651,0.1648,0.1644,0.1643,0.164,0.1636,0.1635,0.1624,0.1616,0.1607,0.1597,0.1587,0.1576,0.1566,0.1556,0.1546,0.1538,0.1527,0.1517,0.1507,0.1497,0.1489,0.1478,0.1468,0.1458,0.145,0.144,0.143,0.1421,0.1411,0.1401,0.1393,0.1383,0.1372,0.1364,0.1354,0.1244,0.111,0.0976,0.0842,0.0742,0.0608,0.0508,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05],"INTL_EMERGING":[0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.0509,0.0519,0.0528,0.0532,0.0542,0.0551,0.0555,0.0588,0.0611,0.0634,0.0656,0.0679,0.0702,0.0724,0.0747,0.077,0.0788,0.0811,0.0834,0.0856,0.0879,0.0897,0.092,0.0943,0.0965,0.0984,0.1006,0.1029,0.1047,0.107,0.1093,0.1111,0.1134,0.1156,0.1175,0.1197,0.132,0.1465,0.1609,0.1753,0.1861,0.2006,0.2114,0.2214,0.2314,0.2414,0.2513,0.2613,0.268,0.28,0.2887,0.3017,0.3104,0.3234,0.3321,0.3408,0.3495],"REAL_ESTATE":[0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.0512,0.0527,0.0541,0.0556,0.0571,0.0586,0.06,0.0615,0.063,0.0645,0.0659,0.0674,0.0689,0.0696,0.0711,0.0726,0.074,0.0755,0.077,0.0777,0.0792,0.0807,0.0821,0.0829,0.0843,0.0855,0.0861,0.0871,0.0881,0.089,0.0895,0.0905,0.0915,0.092,0.0954,0.0978,0.1002,0.1025,0.1048,0.1071,0.1093,0.1116,0.1139,0.1157,0.118,0.1203,0.1226,0.1249,0.1267,0.129,0.1313,0.1336,0.1354,0.1377,0.14,0.1418,0.1441,0.1464,0.1482,0.1505,0.1528,0.1546,0.1569,0.1507,0.1419,0.1331,0.1243,0.1178,0.109,0.1024,0.0938,0.085,0.0762,0.0674,0.0587,0.0528,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05],"COMMODITIES":[0.0653,0.0699,0.0694,0.0691,0.0687,0.0684,0.0682,0.0679,0.0676,0.0674,0.0672,0.067,0.0668,0.0666,0.0664,0.0661,0.0657,0.0651,0.0646,0.064,0.0635,0.0629,0.0623,0.0618,0.0612,0.0607,0.0601,0.0596,0.059,0.0588,0.0582,0.0577,0.0571,0.0566,0.056,0.0557,0.0552,0.0546,0.0541,0.0538,0.0533,0.0531,0.053,0.0528,0.0526,0.0524,0.0523,0.052,0.0518,0.0517,0.0509,0.0503,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05],"BONDS":[0.7274,0.705,0.6913,0.6804,0.6695,0.6613,0.6531,0.6449,0.6368,0.6286,0.6231,0.6176,0.6095,0.604,0.5985,0.5904,0.5848,0.5793,0.5737,0.5682,0.5626,0.5571,0.5515,0.5459,0.5404,0.5348,0.5293,0.5237,0.5182,0.5154,0.5098,0.5043,0.4987,0.4932,0.4876,0.4849,0.4793,0.4738,0.4682,0.4654,0.4599,0.4541,0.4512,0.4462,0.4411,0.436,0.4335,0.4284,0.4234,0.4208,0.4031,0.3904,0.3776,0.3646,0.3516,0.3385,0.3255,0.3125,0.2995,0.2891,0.2761,0.263,0.25,0.237,0.2266,0.2136,0.2005,0.1875,0.1771,0.1641,0.1511,0.1407,0.1276,0.1146,0.1042,0.0912,0.0782,0.0678,0.0547,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05]},"granularity":10.0,"model_number":4,"max_risk":10,"min_risk":0.1};
        function currentModel() {
            return $("#acct-type :selected").data('is-taxable') ? taxableModel : nonTaxableModel;
        }
    } catch(e) {w.trackJsError(e); throw e;}
</script>
<script>
    try{
        $(function() {
            var plan = deserializePlan(w.cookie("asset_allocation") || "4|50000|8|8|28");
            var $acctType = $("#acct-type").change(function(e) {
                w.cookie("hp-taxable", $(this).find(":selected").data("isTaxable"));
                var minimum = getMinimum();
                var minimumDollars = w.dollarAmount(minimum, 0);
                var $amountField = $("#amount");
                var amt = w.parseDollarAmount($amountField.val());

                if (!$amountField[0].value) {
                    $amountField.val(minimum);
                }
                $("#amount").trigger('update');
                $("body").trigger("plan.change", plan);
                w.trackEvent("homepage2", "account-type", this.value);
                handleDataChange();
            });
            var getMinimum = function () {
                return 50000;
            }
            var $amt = $("#amount")
                    .on("update", function () {
                        var val = this.value, amt = val.replace(/[$,]/g, "");
                        if (amt.match(/^\d+$/) && (amt = +amt) >= getMinimum()) {
                            $amt.removeClass("invalid");
                            if (this.selectionStart === val.length) {
                                this.value = w.formatNum(amt, 0);
                            }
                            if (amt !== $amt.data("val")) {
                                w.trackEvent("homepage2", "amount", "edit", amt);
                                $amt.data("val", amt);
                                handleDataChange();
                            }
                        } else {
                            $amt.addClass("invalid");
                        }
                    })
                    .bind("keypress keyup", function() {
                        $(this).trigger("update");
                    })
                    .blur(function() {
                        var amt = this.value.replace(/,/g, "");
                        if (amt.match(/^\d+$/) && (amt = +amt) > 0) {
                            this.value = w.formatNum(amt, 0);
                        }
                    });
            $amt.data("val", +$amt.val().replace(/,/g, ""));

            var $age = $("#age")
                    .bind("keypress keyup", function(e) {
                        var val = this.value, age = +val;
                        if (val.match(/^\d+$/) && age >= 21 && age <= 100) {
                            $age.removeClass("invalid");
                            if (age !== $age.data("val")) {
                                if (e.which) w.trackEvent("homepage2", "age", "edit", age);
                                $age.data("val", age);
                                $yrs.text(age);
                                plan.age = age;
                                plan.tol = plan.rec = recommend(age);
                                handleDataChange();
                            }
                        } else {
                            $age.addClass("invalid");
                        }
                    });
            $age.data("val", +$age.val());

            $("#age-decrease,#age-increase")
                    .bind("wf:engage", function() {
                        var limitFn, bound, delta;
                        if (this.id == "age-decrease") {
                            w.trackEvent("homepage2", "age", "down");
                            limitFn = Math.max, bound = 21, delta = -1;
                        } else {
                            w.trackEvent("homepage2", "age", "up");
                            limitFn = Math.min, bound = 100, delta = 1;
                        }
                        $age.val(limitFn(bound, $age.data("val") + delta)).triggerHandler("keyup");
                    })
                    .each(bindUpOrDown);

            var $yrs = $("#years");

            var $pieLegend = $("#pie-legend");

            function formatPct(value) {
                return (value * 100).toFixed(0) + "%";
            }

            var ordering = {"US_STOCKS":0,"INTL_DEVELOPED":1,"INTL_EMERGING":2,"DIV_STOCKS":3,"REAL_ESTATE":4,"COMMODITIES":5,"BONDS":10,"INFL_BONDS":6,"MUNI_BONDS":7,"CORP_BONDS":8,"EM_BONDS":9};
            w.homepage.initialize(currentModel(), plan.tol, ordering);
            w.homepage.pie = new w.charts.Pie("#plan-pie-svg", {sort:true});
            w.homepage.pie.data.bindTo(w.homepage.allocationPieData);
            w.homepage.table = $R(function (allocation) {
                $(".allocation-table .legend-row").each(function() {
                    var $row = $(this);
                    var assetClass = $row.data('category');
                    $row.toggle(!!allocation[assetClass])
                    $row.find(".legend-data").text(formatPct(allocation[assetClass]));
                });
            }).bindTo(w.homepage.allocation);

            $("#advisory-fee-tip").bind("tip.create", function() {
                updateFee(plan.amount);
                $("body").trigger("plan.change", plan);
            });

            $("#personalize-button").click(function() {
                w.cookie("asset_allocation", serializePlan(plan, currentModel().model_number), 14);
                w.cookie("account_type", $acctType.val(), 14);
            });

            handleDataChange();

            function handleDataChange() {
                w.homepage.allocation(plan.tol, currentModel());
                updateFee(plan.amount = $amt.data("val"));
                $("body").trigger("plan.change", plan);
            }
            function updateFee(amt) {
                var pct = calcFee(amt) + "%";
                $("#fee-amount").text(function(amt) {
                    return w.homepage.getArticle(amt) + amt;
                }(w.dollarAmount(amt,0)));
            }
            function calcFee(amt) {
                return Math.max(0, .25 * (amt - w.freemiumAmount()) / amt).toFixed(2);
            }
            function bindUpOrDown() {
                $(this).mousedown(function() {
                    var $btn = $(this)
                            .data("t", setTimeout(function() {
                        $btn.data("i", setInterval($btn.data("x"), 100));
                    }, 500))
                            .data("x", function() { $btn.triggerHandler("wf:engage"); });
                    $btn.data("x")();
                }).bind("mouseup mouseleave", function() {
                            var $btn = $(this);
                            clearTimeout($btn.data("t"));
                            clearInterval($btn.data("i"));
                        }).mouseenter(function() {
                            var $btn = $(this);
                            if ($btn.is(":active")) {
                                $btn.data("i", setInterval($btn.data("x"), 100));
                            }
                        }).click(function(e) {
                            if (e.pageX === 0) { // key-triggered
                                $(this).triggerHandler("wf:engage");
                            }
                        });
            }
            function recommend(age) {
                var a = [[20,8.5],[25,8.2],[30,7.9],[35,7.3],[40,6.7],[45,5.8],[50,5.3],[55,4.6],[60,3.8],[65,3.3],[70,2.7],[75,2.1],[80,1.3]];
                for (var i = 0; i < a.length; i++) {
                    if (age < a[i][0]) {
                        if (i) {
                            var f = (age - a[i-1][0]) / (a[i][0] - a[i-1][0]);
                            return +((1 - f) * a[i-1][1] + f * a[i][1]).toFixed(1);
                        } else {
                            return a[0][1];
                        }
                    } else if (age == a[i][0]) {
                        return a[i][1];
                    }
                }
                return a[a.length-1][1];
            }
        });
    } catch(e) {w.trackJsError(e); throw e;}
</script>
<script>
    w.trackESP('pageload', location.href.split("?")[0], new Date - t0);
</script>
-->