<%= stylesheet_link_tag "common2.css" %>
<%= stylesheet_link_tag "classy.css" %>
<%= stylesheet_link_tag "plan.css" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
<%= javascript_include_tag "placeholder.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<% if @webuser.username!='admin' || session[:webusername]!=nil %>
    <style xmlns="http://www.w3.org/1999/html">
        .welcomes{width: 97%;padding: 20px;}
    </style>
<% end %>
<div class="welcomes">
<% if @webuser.username!='admin' %>
    <div class="bs-docs-example">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">家庭理财规划</a></li>
        <% if session[:webusername]!=nil %>
            <% if params[:username]!=nil %>
                <% if session[:personname]!=0 %>
                    <li><a href="/personmanagement/personfinance?username=<%= params[:username] %>">个人投资信息</a></li>
                <% else %>
                    <li><a href="/personmanagement/personinfo/0">个人投资信息</a></li>
                <% end %>
            <% else %>
                <% if session[:personname]!=0 %>
                    <li><a href="/personmanagement/personfinance?username=<%= session[:webusername] %>">个人投资信息</a></li>
                <% else %>
                    <li><a href="/personmanagement/personinfo/0">个人投资信息</a></li>
                <% end %>
            <% end %>
        <% else %>
            <% if params[:username]!=nil %>
                <li><a href="/personmanagement/personfinance?username=<%= params[:username] %>">个人投资信息</a></li>
            <% else %>
                <li><a href="/home">个人投资信息</a></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>
<div id="page-wrapper">
<div id="top-tabs">
  <div class="top-tabs-content">
    <a href="/home/questions"><b>1.</b> <span>测试您的风险承受度</span></a> &nbsp;>&nbsp;

    <b>2.</b> <span>查看您的理财规划方案</span>
    <!--
   <i class="separator icon-chevron-right disabled"></i>
   <span class="disabled"><b>3.</b> <span>开通帐号</span></span>
    -->
  </div>
</div>
<div id="page-content">
<div class="classy plan-content">
  <div class="plan-column left">
  <a href="/home/risktolerance"><div id="title" style="font-size: 12px;"></div></a>
  <div id="container"></div>
    <% if @webuser.username!='admin' %>
        <a href="/home/risktolerance?risk=<%= @webuser.risktolerance %>">这说明什么？</a>
    <% else %>
        <% if cookies[:asset_allocation]!=nil %>
            <a href="/home/risktolerance?risk=<%= cookies[:asset_allocation].split('|')[3] %>">这说明什么？</a>
        <% else %>
            <a href="/home/risktolerance?risk=<%= @webuser.risktolerance %>">这说明什么？</a>
        <% end %>
    <% end %>
    <a href="/home/questions" id="change-answers">修改我的答案</a>
    <hr style="margin-left:14px; margin-right:14px">
    <p class="amount-to-invest-label sidebar-label">投资金额</p>
  <div class="input-prepend input-append">
    <span class="add-on" >￥</span>
    <input type="text" id="amount-to-invest">
    <span class="add-on" >元</span>
  </div>
    <p>(最低50000元)</p>
    <span class="ktip-link" id="faq-amount"><a class="demo-tip-yellowsimple" title=" 首先您需要预留6个月您家庭的日常开销（包括房贷、水电费、日常消费等），用以应对一些家庭突发性的开销，如果您愿意的话，您也可以将这6个月的日常开销放在流动性超强的资产中，例如货币型基金，银行开放式理财产品中。剩余的资金，您可以作为一个中长期的投资，这部分金额您可以作为投资金额输入，看看我们给您配置建议。">我该如何决定？</a></span>
  </div>
  <div class="plan-column center">
    <div class="account-types">
      <div class="account-type-tab active" id="taxable-account-type">
        <% if @webuser.username == session[:webusername] || (session[:webusername]==nil && params[:username]==nil) || params[:username]==nil %>
            <p><span class="product">您的理财规划方案</span></p>
        <% elsif @webuser.username!='admin' %>
            <p><span class="product"><%= @webuser.username %>的理财规划方案</span>
              <% if @webuser.risktolerance==nil && params[:username]!=nil %>
                (该用户尚未配置其理财规划方案)
              <% end %>
            </p>
        <% else %>
            <p><span class="product">您的理财规划方案</span></p>
        <% end %>
        <p class="product-description">仅为个人或家庭服务</p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="plan-details">
      <section id="asset-allocation" class="">
        <table style="width: 100%;">
          <tr><td style="width: 135px;">
            <div class="allocation-chart-container">
              <div id="container2" style="width: 130px;height: 130px;"></div>
              <ul class="allocation-questions">
                <li><span class="ktip-link right" id="faq-mix"><a class="demo-tip-yellowsimple" title=" 我们的目标是设计一系列投资品种组合，根据您的风险承受度，最大化您的投资收益（扣除掉任何手续费、赎回费等交易成本）。采用均值方差优化现代投资配置方案，为您做最优化的理财规划。您可以详细阅读我们的投资白皮书获得更多理财规划理念。">为何如此规划?</a></span></li>

                <li><span class="ktip-link right" id="faq-change"><a class="demo-tip-yellowsimple" title=" 您不可以直接修改。但您可以通过修改您的风险承受度进行间接修改，你可以在页面的左侧进行修改。">可以修改它吗?</a></span></li>
              </ul>
            </div>
          </td><td>
            <table id="allocation" class="table allocation report apply-asset-class-colors">
              <thead>
              <tr>
                <th></th>
                <th>投资品种</th>
                <th class="number">%</th>
                <th class="number">总额</th>
              </tr>
              </thead>
              <tbody>
              <tr class="" data-type="US_STOCKS">
                <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                <td class="asset-class-name">
                  <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="基金：大家普通接触得到的品种类型，可以满足不同风险偏好、投资期限和流动性偏好的投资者的需求。">基金</a></span>
                </td>
                <td class="asset-class-percentage number" id="f1">43%</td>
                <td class="asset-class-amount number" id="f2">￥21,501</td>
              </tr>
              <tr class="" data-type="INTL_EMERGING">
                <td class="asset-class-color"><div class="legend INTL_EMERGING"></div></td>
                <td class="asset-class-name">
                    <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="国债、企业债：储蓄式国债收益率高于银行存款，安全性最高，流动性一般，可提前支取但是收益率需要打折扣。储蓄式国债的一个缺点是供不应求，在银行柜台难买的到。<br>
企业债和公司债：迄今为止事实上的违约风险为零，从来没有发生过违约事件。中国严格的债券审批机制决定了债券在现阶段是一个风险极低但收益率又显著高于银行存款和国债的投资工具。不过做债券是需要面临价格波动风险的，因此如果没有一定专业知识基础或无专业人士指导，不建议中短期的投资行为。">国债、企业债</a></span>
                </td>
                <td class="asset-class-percentage number" id="s1">14%</td>
                <td class="asset-class-amount number" id="s2">￥4,000</td>
              </tr>
              <tr class="" data-type="DIV_STOCKS">
                <td class="asset-class-color"><div class="legend DIV_STOCKS"></div></td>
                <td class="asset-class-name">
                  <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="信托：预期收益率高，一般在7%-12%左右，流动性差。信托公司有着严格的风险控制措施，对于项目会进行尽职调查，且让融资方提供抵押担保物，即使融资方最终无力偿还，其所提供的担保物可以部分或全部覆盖融资金额和收益。另一方面，信托业有个潜规则“刚性兑付”，就是说即使之前所有的风控措施最终还是不足以支付投资者足够的本金和利息，信托公司也可能自愿掏腰包补上差额，为的就是维护自己的信誉和形象。起点金额高，100万、300万起。">信托</a></span>
                </td>
                <td class="asset-class-percentage number" id="t1">8%</td>
                <td class="asset-class-amount number" id="t2">￥7,000</td>
              </tr>

              <tr class="" data-type="MUNI_BONDS">
                <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                <td class="asset-class-name">
                  <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="银行理财产品：固定收益类的银行理财产品，收益率一般高于存款和国债，但是流动性较差，必须持有到期，安全性多数情况下不需要担心，因为有银行信用在里面。银行理财一般适合于投资期限一年以内的情况。起点金额5万、10万、30万都有，相对较高。除了固定期限、固定收益的理财产品，现在也有不少的银行理财是属于期限灵活可变、收益率浮动的产品。具体的安全性和收益性，就得看投资方向了，这个可以通过产品说明书或借助理财经理进行分析。">银行理财产品</a></span>
                </td>
                <td class="asset-class-percentage number" id="a1">35%</td>
                <td class="asset-class-amount number" id="a2">￥17,501</td>
              </tr>
              </tbody>
            </table>
          </td></tr></table>
        <div class="clearfix"></div>
      </section>
    </div>
    <table>
      <% @provides.each do |b| %>
          <tr>
            <td>
              <div class="account-types">
                <div class="account-type-tab active taxable-account-type">
                  <p><span class="product">专家建议</span></p>
                  <p class="product-description">仅为个人或家庭服务</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </td>
            <td>
              <p class="product-description" style="margin-top: 20px;"><%= b.company %>-<%= b.managename %></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="plan-details">
                <section id="asset-allocation" class="">
                  <table style="width: 100%;">
                    <tr><td style="width: 135px;">
                      <div class="allocation-chart-container">
                        <div id="container<%= b.id %>" style="width: 130px;height: 130px;"></div>
                      </div>
                    </td><td>
                      <table id="table<%= b.id %>" class="table allocation report apply-asset-class-colors">
                        <thead>
                        <tr>
                          <th></th>
                          <th>投资品种</th>
                          <th class="number">%</th>
                          <th class="number">总额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="" data-type="US_STOCKS">
                          <td class="asset-class-color"><div class="legend US_STOCKS"></div></td>
                          <td class="asset-class-name">
                            <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="基金：大家普通接触得到的品种类型，可以满足不同风险偏好、投资期限和流动性偏好的投资者的需求。">基金</a></span>
                          </td>
                          <td class="asset-class-percentage number"><%= format("%0.0f",b.stock*100) %>%</td>
                          <td class="asset-class-amount number">￥<%= format("%0.0f",b.stock*@invest) %></td>
                        </tr>
                        <tr class="" data-type="INTL_EMERGING">
                          <td class="asset-class-color"><div class="legend INTL_EMERGING"></div></td>
                          <td class="asset-class-name">
                                   <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="国债、企业债：储蓄式国债收益率高于银行存款，安全性最高，流动性一般，可提前支取但是收益率需要打折扣。储蓄式国债的一个缺点是供不应求，在银行柜台难买的到。<br>
                              企业债和公司债：迄今为止事实上的违约风险为零，从来没有发生过违约事件。中国严格的债券审批机制决定了债券在现阶段是一个风险极低但收益率又显著高于银行存款和国债的投资工具。不过做债券是需要面临价格波动风险的，因此如果没有一定专业知识基础或无专业人士指导，不建议中短期的投资行为。">国债、企业债</a></span>
                          </td>
                          <td class="asset-class-percentage number"><%= format("%0.0f",b.debt*100) %>%</td>
                          <td class="asset-class-amount number">￥<%= format("%0.0f",b.debt*@invest) %></td>
                        </tr>
                        <tr class="" data-type="DIV_STOCKS">
                          <td class="asset-class-color"><div class="legend DIV_STOCKS"></div></td>
                          <td class="asset-class-name">
                            <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="信托：预期收益率高，一般在7%-12%左右，流动性差。信托公司有着严格的风险控制措施，对于项目会进行尽职调查，且让融资方提供抵押担保物，即使融资方最终无力偿还，其所提供的担保物可以部分或全部覆盖融资金额和收益。另一方面，信托业有个潜规则“刚性兑付”，就是说即使之前所有的风控措施最终还是不足以支付投资者足够的本金和利息，信托公司也可能自愿掏腰包补上差额，为的就是维护自己的信誉和形象。起点金额高，100万、300万起。">信托</a></span>
                          </td>
                          <td class="asset-class-percentage number"><%= format("%0.0f",b.trust*100) %>%</td>
                          <td class="asset-class-amount number">￥<%= format("%0.0f",b.trust*@invest) %></td>
                        </tr>

                        <tr class="" data-type="MUNI_BONDS">
                          <td class="asset-class-color"><div class="legend MUNI_BONDS"></div></td>
                          <td class="asset-class-name">
                            <span class="ktip-link"><a class="ktip-a demo-tip-yellowsimple" title="银行理财产品：固定收益类的银行理财产品，收益率一般高于存款和国债，但是流动性较差，必须持有到期，安全性多数情况下不需要担心，因为有银行信用在里面。银行理财一般适合于投资期限一年以内的情况。起点金额5万、10万、30万都有，相对较高。除了固定期限、固定收益的理财产品，现在也有不少的银行理财是属于期限灵活可变、收益率浮动的产品。具体的安全性和收益性，就得看投资方向了，这个可以通过产品说明书或借助理财经理进行分析。">银行理财产品</a></span>
                          </td>
                          <td class="asset-class-percentage number"><%= format("%0.0f",b.bankfinance*100) %>%</td>
                          <td class="asset-class-amount number">￥<%= format("%0.0f",b.bankfinance*@invest) %></td>
                        </tr>
                        </tbody>
                      </table>
                    </td></tr></table>
                  <div class="clearfix"></div>
                </section>
              </div>
            </td>
          </tr>
          <% if @webuser.username == session[:webusername] || params[:username]==nil %>
              <tr>
                <td></td>
                <td class="pull-right"><%= link_to "报告下载",:action=>"download",:id=>"data",:filename=>b.filename %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  <div class="account-types">
  <div class="account-type-tab active taxable-account-type">
    <p class="qusetion">规划方案是如何得来的？</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="details">
    <p class="text">程序化自动为客户进行家庭理财规划配置，这一思想在国内还属于首创，我们借鉴高盛开源模型构建自动化应用，并借鉴普林斯顿大学经济学教授Burton Malkiel的Mean Variance Optimizationl论文作为模型搭建依据，实现我们均值方差优化算法原型。<br>
    <a href="/home/present">了解更多>></a></p>
  </div>
  </div>
      <div class="plan-column right">
        <div style="position:relative;width: 204px;">
          <div id="position-saver">
            <div class="open-account-container">
              <p class="open-account-intro">金融理财师(ChFP)<br>私人服务</p> <br><br>
              <a class="apply" href="/home/apply">申请</a> <br><br>
              <a class="login-window" href="#login-box">保存理财规划方案</a>
            </div>
            <hr>
            <div class="faq-container">
              <p>常见疑问</p>
              <ul class="common-q">
                <li><a href="/home/apply">ChFP能给我提供怎样的服务？</a></li>
                <% if @webuser.username!='admin' %>
                    <li><a href="/home/risktolerance?risk=<%= @webuser.risktolerance %>">风险承受度说明了什么？</a></li>
                <% else %>
                    <% if cookies[:asset_allocation]!=nil %>
                        <li><a href="/home/risktolerance?risk=<%= cookies[:asset_allocation].split('|')[3] %>">风险承受度说明了什么？</a></li>
                    <% else %>
                        <li><a href="/home/risktolerance?risk=<%= @webuser.risktolerance %>">风险承受度说明了什么？</a></li>
                    <% end %>
                <% end %>
                <li><a href="/home/afpintroduce">什么是金融理财师AFP？</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>
</div>

<div id='login-box' class='login-popup'>
  <div class="popup">
    <a class="close" href="javascript:">×</a>
    <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h1>保存您的理财规划方案</h1>
      <p>输入您的电子邮箱，我们将把您的理财规划方案链接地址发送给您。</p><br>
      <div id="user" style="display: none; color: red;font-size: 12px;"><div id="user2"></div><br></div>
      <input id="email" type="text" name="EMAIL" placeholder="电子邮箱地址">
      <input id="username" style="display: none;" type="text" name="MMERGE3" placeholder="登录名">
      <div class="clear"><input type="submit" value="保存方案" name="subscribe" id="mc-embedded-subscribe" class="save"></div>
    </form>
  </div>
</div>

<script>
    $(function () {
        var chart;

        <% if @webuser.username!='admin' %>
        var dataArray2= [<%= @webuser.risktolerance %>];
        <% else %>
        <% if cookies[:asset_allocation]!=nil %>
        var dataArray2= [<%= cookies[:asset_allocation].split('|')[3] %>];
        <% else %>
        var dataArray2= [<%= @webuser.risktolerance %>];
        <% end %>
        <% end %>

        $(document).ready(function() {
            var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'container',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 105,
                            width: 180
                        },

                        title: false,

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['50%', '145%'],
                            size: 150
                        }],

                        yAxis: [{
                            min: 0,
                            max: 10,
                            tickInterval: 2,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 2,
                                color: '#09a509',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            },{
                                from: 2,
                                to: 4,
                                color: '#69c908',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            },{
                                from: 4,
                                to: 6,
                                color: '#eded07',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            },{
                                from: 6,
                                to: 8,
                                color: '#fa8c1e',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            },{
                                from: 8,
                                to: 10,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: false
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '90%'
                                }
                            }
                        },
                        series: [{
                            data: dataArray2,
                            yAxis: 0
                        }],
                        credits: {
                            enabled: false
                        }
                    },
                    // Let the music play
                    function(chart) {
                        $("#risk-up,#risk-down").on("click", function() {
                            var left = chart.series[0].points[0],
                                    leftVal;
                            if(this.id=='risk-up'){
                                w.planPage.risk(w.planPage._riskValue+0.5)
                            }
                            else{
                                w.planPage.risk(w.planPage._riskValue-0.5)
                            }
                            leftVal = w.planPage._riskValue;
                            left.update(leftVal, false);
                            chart.redraw();
                        });
                        $("#revert-risk").on("click", function () {
                            <% if cookies[:asset_allocation]!=nil %>
                            w.planPage.risk(<%= cookies[:asset_allocation].split('|')[3] %>);
                            var left = chart.series[0].points[0],leftVal;
                            leftVal =<%= cookies[:asset_allocation].split('|')[3] %>;
                            <% else %>
                            w.planPage.risk(<%= @webuser.risktolerance %>);
                            var left = chart.series[0].points[0],leftVal=0;
                            <% if @webuser.risktolerance!=nil %>
                            leftVal=<%= @webuser.risktolerance %>;
                            <% end %>
                            <% end %>
                            left.update(leftVal, false);
                            chart.redraw();
                        });
                    });
        });
    });
</script>

<script type="text/javascript">
    var chart=null;
    var rate = [[0.38,0.05,0.22,0.35],[0.48,0.05,0.12,0.35],[0.48,0.05,0.12,0.35],[0.47,0.05,0.13,0.35],[0.46,0.05,0.14,0.35],
        [0.45,0.06,0.14,0.35],[0.43,0.08,0.14,0.35],[0.43,0.09,0.13,0.35],[0.46,0.11,0.1,0.33],[0.48,0.12,0.11,0.29],
        [0.5,0.13,0.11,0.26],[0.52,0.14,0.11,0.23],[0.53,0.15,0.11,0.21],[0.55,0.15,0.12,0.18],[0.56,0.16,0.13,0.15],
        [0.57,0.17,0.13,0.13],[0.59,0.18,0.14,0.09],[0.6,0.1,0.15,0.06],[0.61,0.22,0.12,0.05],[0.57,0.28,0.1,0.05]];
    <% if @webuser.username!='admin' %>
    var aa=0;
    <% if @webuser.risktolerance!=nil %>
    aa=<%= @webuser.risktolerance %>;
    <% end %>
    if (aa<0.5){
        aa=0.5;
    }
    a=rate[Math.round(2*aa)-1][0]
    b=rate[Math.round(2*aa)-1][1]
    c=rate[Math.round(2*aa)-1][2]
    d=rate[Math.round(2*aa)-1][3]
    <% else %>
    <% if cookies[:asset_allocation]!=nil %>
    var aa=<%= cookies[:asset_allocation].split('|')[3] %>;
    <% else %>
    var aa=0;
    <% if @webuser.risktolerance!=nil %>
    aa=<%= @webuser.risktolerance %>;
    <% end %>
    <% end %>
    if (aa<0.5){
        aa=0.5;
    }
    a=rate[Math.round(2*aa)-1][0]
    b=rate[Math.round(2*aa)-1][1]
    c=rate[Math.round(2*aa)-1][2]
    d=rate[Math.round(2*aa)-1][3]
    <% end %>
    var dataArray= [
        ['1',a],
        ['2',b],
        ['3',c],
        ['4',d]
    ];
    $(function () {
        $(document).ready(function () {

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container2',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    events: {
                        load: function() {
                            $("#risk-up,#risk-down").on("click", function() {
                                // set up the updating of the chart each second
                                var series = this.series;
                                var a, b, c, d;
                                var data = [];
                                var rate = [[0.38,0.05,0.22,0.35],[0.48,0.05,0.12,0.35],[0.48,0.05,0.12,0.35],[0.47,0.05,0.13,0.35],[0.46,0.05,0.14,0.35],
                                    [0.45,0.06,0.14,0.35],[0.43,0.08,0.14,0.35],[0.43,0.09,0.13,0.35],[0.46,0.11,0.1,0.33],[0.48,0.12,0.11,0.29],
                                    [0.5,0.13,0.11,0.26],[0.52,0.14,0.11,0.23],[0.53,0.15,0.11,0.21],[0.55,0.15,0.12,0.18],[0.56,0.16,0.13,0.15],
                                    [0.57,0.17,0.13,0.13],[0.59,0.18,0.14,0.09],[0.6,0.1,0.15,0.06],[0.61,0.22,0.12,0.05],[0.57,0.28,0.1,0.05]];

                                <% if @webuser.username!='admin' %>
                                var aa=0;
                                <% if @webuser.risktolerance!=nil %>
                                aa=<%= @webuser.risktolerance %>;
                                <% end %>
                                if (aa<0.5){
                                    aa=0.5;
                                }
                                a=rate[2*aa-1][0]
                                b=rate[2*aa-1][1]
                                c=rate[2*aa-1][2]
                                d=rate[2*aa-1][3]
                                <% else %>
                                <% if cookies[:asset_allocation]!=nil %>
                                var aa=<%= cookies[:asset_allocation].split('|')[3] %>;
                                <% else %>
                                var aa=<%= @webuser.risktolerance %>;
                                <% end %>
                                if (aa<0.5){
                                    aa=0.5;
                                }
                                a=rate[2*aa-1][0]
                                b=rate[2*aa-1][1]
                                c=rate[2*aa-1][2]
                                d=rate[2*aa-1][3]
                                <% end %>
                                data.push(['1',a]);
                                data.push(['2', b]);
                                data.push(['3', c]);
                                data.push(['4', d]);
                                chart.series[0].setData(data);
                                chart.isDirtyLegend = true;
                                chart.redraw();
                            });
                        }
                    }
                },
                title: {
                    text: false
                },
                tooltip: false,
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true,
                        size: 120,
                        borderWidth: 0
                    }
                },
                series: [{
                    type: 'pie',
                    name: '比例',
                    data: dataArray
                }],
                legend: false,
                credits: {
                    enabled: false
                }
            });
        });
        Highcharts.theme = {
            colors: ['#d76f32', '#f1b77a', '#9c7746', '#294b6e']
        };

// Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });
</script>

<script>
    $('a.login-window').click(function() {
        <% if params[:username]==session[:webusername] || params[:username]==nil %>
        var loginBox = $(this).attr('href');
        //Fade in the Popup and add close button
        $(loginBox).fadeIn(300);
        //Set the center alignment padding + border
        var popMargTop = ($(loginBox).height() + 24) / 2;
        var popMargLeft = ($(loginBox).width() + 24) / 2;

        $(loginBox).css({
            'margin-top' : -popMargTop,
            'margin-left' : -popMargLeft
        });

        // Add the mask to body
        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);

        return false;
        <% end %>
    });

    // When clicking on the button close or the mask layer the popup closed
    $('a.close, #mask').live('click', function() {
        $('#mask , .login-popup').fadeOut(300 , function() {
            $('#mask').remove();
        });
        return false;
    });

    $("#mc-embedded-subscribe").click(function(){
        userconfig('#email');
    })
            /*
    function func(){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$/;
        var name=/^\D.{2}.*$/;
        var amt = document.getElementById("email").value;
        var username=amt.substring(0,amt.indexOf('@'));
        if($('#email').attr("value")=="" || !myreg.test($('#email').attr("value"))){
            return false;
        }
        else{
            $.get("/admin/userajax",{username:username},function(data){
                alert(data)
                if(data=="f"){
                    return false;
                }
                else{
                    document.getElementById('mc-embedded-subscribe-form').action = "http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444"
                    return true;
                }
            });
        }
    }
    */
    function userconfig(eid){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$/;
         if($(eid).attr("value")==""){
            alert("电子邮箱为空！");
        }
        else if(!myreg.test($(eid).attr("value"))){
            alert("电子邮箱格式不正确！");
        }
        else{
            var returnrate=0;
            var riskrate=0;
            var investcycle=0;
            var wbreedinfo="";
            var trade="";
        <% if cookies[:asset_allocation]!=nil %>

            if ('<%= cookies[:asset_allocation].split('|')[13] %>'=='A'){
                returnrate=0.06;
                riskrate=0;
            }
            else if('<%= cookies[:asset_allocation].split('|')[13] %>'=='B'){
                returnrate=0.1;
                riskrate=0.03;
            }
            else if('<%= cookies[:asset_allocation].split('|')[13] %>'=='C'){
                returnrate=0.2;
                riskrate=0.1;
            }

            if ('<%= cookies[:asset_allocation].split('|')[6] %>'=='90'){investcycle='三个月';}
            else if('<%= cookies[:asset_allocation].split('|')[6] %>'=='180'){investcycle='六个月';}
            else if('<%= cookies[:asset_allocation].split('|')[6] %>'=='365'){investcycle='一年';}
            else if('<%= cookies[:asset_allocation].split('|')[6] %>'=='730'){investcycle='二年';}

            if ('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("A")>=0){if(wbreedinfo==""){wbreedinfo="基金"}else{wbreedinfo=wbreedinfo+",基金"}}
            if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("B")>=0){if(wbreedinfo==""){wbreedinfo="保险"}else{wbreedinfo=wbreedinfo+",保险"}}
            if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("C")>=0){if(wbreedinfo==""){wbreedinfo="期货"}else{wbreedinfo=wbreedinfo+",期货"}}
            if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("D")>=0){if(wbreedinfo==""){wbreedinfo="银行理财产品"}else{wbreedinfo=wbreedinfo+",银行理财产品"}}
            if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("E")>=0){if(wbreedinfo==""){wbreedinfo="信托产品"}else{wbreedinfo=wbreedinfo+",信托产品"}}

            if ('<%= cookies[:asset_allocation].split('|')[10] %>'=='true'){trade='计算机/互联网/电子';}
            else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='A'){trade='银行/保险/证券等金融机构';}
            else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='B'){trade='生物/制药/医疗';}
            else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='C'){trade='广告/媒体/艺术';}
            else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='D'){trade='建筑/房地产';}
            else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='E'){trade='人事/行政/高级管理';}
            else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='F'){trade='咨询/法律/教育/科研';}
            else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='G'){trade='公务员';}
             var amt = document.getElementById("email").value;
             var username=amt.substring(0,amt.indexOf('@'));

            $.post("/personmanagement/personconfigajax/0",{ username:username,age: '<%= cookies[:asset_allocation].split('|')[4] %>',
                email: $(eid).attr("value"),investamount: '<%= cookies[:asset_allocation].split('|')[5] %>',returnrate: returnrate,memberlevel:0,investcycle:investcycle,wbreedinfo:wbreedinfo,trade:trade,riskrate:riskrate
            },function(data){
            });
        <% end %>
        <% if cookies[:asset_allocation]!=nil %>
            var risktolerance='<%= cookies[:asset_allocation].split('|')[3] %>';
        <% else %>
            var risktolerance='<%= @webuser.risktolerance %>';
        <% end %>
            // event.preventDefault();
            $.get("/admin/userconfigajax/0",{username:username,password:'tongtianshun',tel:1,address: 1,postcode: 1,name:1,email:$(eid).attr("value"),company:1,division:1,organuser:0,securitiesnum:0,memberlevel:0,risktolerance:risktolerance,title:"您的风险承受度测试结果"},function(data){
                if(data=="f"){
                    $('#user').show();
                    $("#user2").html("用户名 "+username+" 已注册！请先登录");
                }
                else if(data=="s"){
                    //    document.getElementById('mc-embedded-subscribe-form').submit();
                    $('#user').hide();
                    userlogin(0);
                }
            });
        }
    }

    function userlogin(organ){
        var amt = document.getElementById("email").value;
        var username=amt.substring(0,amt.indexOf('@'));
        $.get("/admin/userlogin",{username:username,password:'tongtianshun',plan:'1'},function(data){
            if(data=="f"){
                alert("登录失败!");
            }
            else
            {
                location.href="/home/plan?username="+username;
            }
        })
    }
</script>

<script>
    window.onload=function(){
        <% if @webuser.username!='admin' %>
        var dataArray2= '<%= @webuser.risktolerance %>';
        <% else %>
           <% if cookies[:asset_allocation]!=nil %>
             var dataArray2= '<%= cookies[:asset_allocation].split('|')[3] %>';
           <% else %>
             var dataArray2= '<%= @webuser.risktolerance %>';
           <% end %>
        <% end %>
        <% if @webuser.username == session[:webusername] || (session[:webusername]==nil && params[:username]==nil) || params[:username]==nil %>
        $("#title").html('您的风险承受度:'+dataArray2);
        <% elsif @webuser.username!='admin' %>
        $("#title").html('<%= @webuser.username %>的风险承受度:'+dataArray2);
        <% else %>
        $("#title").html('您的风险承受度:'+dataArray2);
        <% end %>
        <% if params[:user]!=nil %>
        var returnrate=0;
        var riskrate=0;
        var investcycle=0;
        var wbreedinfo="";
        var trade="";
        <% if cookies[:asset_allocation]!=nil %>

        if ('<%= cookies[:asset_allocation].split('|')[13] %>'=='A'){
            returnrate=0.06;
            riskrate=0;
        }
        else if('<%= cookies[:asset_allocation].split('|')[13] %>'=='B'){
            returnrate=0.1;
            riskrate=0.03;
        }
        else if('<%= cookies[:asset_allocation].split('|')[13] %>'=='C'){
            returnrate=0.2;
            riskrate=0.1;
        }

        if ('<%= cookies[:asset_allocation].split('|')[6] %>'=='90'){investcycle='三个月';}
        else if('<%= cookies[:asset_allocation].split('|')[6] %>'=='180'){investcycle='六个月';}
        else if('<%= cookies[:asset_allocation].split('|')[6] %>'=='365'){investcycle='一年';}
        else if('<%= cookies[:asset_allocation].split('|')[6] %>'=='730'){investcycle='二年';}

        if ('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("A")>=0){if(wbreedinfo==""){wbreedinfo="基金"}else{wbreedinfo=wbreedinfo+",基金"}}
        if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("B")>=0){if(wbreedinfo==""){wbreedinfo="保险"}else{wbreedinfo=wbreedinfo+",保险"}}
        if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("C")>=0){if(wbreedinfo==""){wbreedinfo="期货"}else{wbreedinfo=wbreedinfo+",期货"}}
        if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("D")>=0){if(wbreedinfo==""){wbreedinfo="银行理财产品"}else{wbreedinfo=wbreedinfo+",银行理财产品"}}
        if('<%= cookies[:asset_allocation].split('|')[7] %>'.indexOf("E")>=0){if(wbreedinfo==""){wbreedinfo="信托产品"}else{wbreedinfo=wbreedinfo+",信托产品"}}

        if ('<%= cookies[:asset_allocation].split('|')[10] %>'=='true'){trade='计算机/互联网/电子';}
        else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='A'){trade='银行/保险/证券等金融机构';}
        else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='B'){trade='生物/制药/医疗';}
        else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='C'){trade='广告/媒体/艺术';}
        else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='D'){trade='建筑/房地产';}
        else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='E'){trade='人事/行政/高级管理';}
        else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='F'){trade='咨询/法律/教育/科研';}
        else if('<%= cookies[:asset_allocation].split('|')[10] %>'=='G'){trade='公务员';}

        $.post("/personmanagement/personconfigajax/0",{ username:'<%= session[:webusername] %>',age: '<%= cookies[:asset_allocation].split('|')[4] %>',
            email: '<%= @webuser2.email %>',investamount: '<%= cookies[:asset_allocation].split('|')[5] %>',returnrate: returnrate,memberlevel:0,investcycle:investcycle,wbreedinfo:wbreedinfo,trade:trade,riskrate:riskrate
        },function(data){
        });
        var risktolerance='<%= cookies[:asset_allocation].split('|')[3] %>';

        $.get("/admin/risktoleranceajax",{username:'<%= session[:webusername] %>',risktolerance:risktolerance,email:"<%= @webuser2.email %>",title:"您的风险承受度测试结果"},function(data){
        });
        <% end %>
        <% end %>
        var rate = [[0.38,0.05,0.22,0.35],[0.48,0.05,0.12,0.35],[0.48,0.05,0.12,0.35],[0.47,0.05,0.13,0.35],[0.46,0.05,0.14,0.35],
            [0.45,0.06,0.14,0.35],[0.43,0.08,0.14,0.35],[0.43,0.09,0.13,0.35],[0.46,0.11,0.1,0.33],[0.48,0.12,0.11,0.29],
            [0.5,0.13,0.11,0.26],[0.52,0.14,0.11,0.23],[0.53,0.15,0.11,0.21],[0.55,0.15,0.12,0.18],[0.56,0.16,0.13,0.15],
            [0.57,0.17,0.13,0.13],[0.59,0.18,0.14,0.09],[0.6,0.1,0.15,0.06],[0.61,0.22,0.12,0.05],[0.57,0.28,0.1,0.05]];
        <% if @webuser.username!='admin' %>
        var aa=0;
        <% if @webuser.risktolerance!=nil %>
        aa=<%= @webuser.risktolerance %>;
        <% end %>
        if (aa<0.5){
            aa=0.5;
        }
        a=rate[Math.round(2*aa)-1][0]
        b=rate[Math.round(2*aa)-1][1]
        c=rate[Math.round(2*aa)-1][2]
        d=rate[Math.round(2*aa)-1][3]
        <% else %>
        <% if cookies[:asset_allocation]!=nil %>
        var aa=<%= cookies[:asset_allocation].split('|')[3] %>;
        <% else %>
        var aa=<%= @webuser.risktolerance %>;
        <% end %>
        if (aa<0.5){
            aa=0.5;
        }
        a=rate[Math.round(2*aa)-1][0]
        b=rate[Math.round(2*aa)-1][1]
        c=rate[Math.round(2*aa)-1][2]
        d=rate[Math.round(2*aa)-1][3]
        <% end %>
        $("#f1").html(parseInt(a*100)+"%")
        $("#s1").html(parseInt(b*100)+"%")
        $("#t1").html(parseInt(c*100)+"%")
        $("#a1").html(parseInt(d*100)+"%")
        $("#f2").html("￥"+parseInt(a*<%= @invest %>))
        $("#s2").html("￥"+parseInt(b*<%= @invest %>))
        $("#t2").html("￥"+parseInt(c*<%= @invest %>))
        $("#a2").html("￥"+parseInt(d*<%= @invest %>))
        $("#amount-to-invest").val(<%= @invest %>)
        <% if session[:webusername]!=nil %>
        $("#email").val('<%= @user.email %>')
        $("#username").val('<%= @user.username %>')
        $("#password").val('<%= @hash_password%>')
        <% end %>
        <% @provides.each do |b| %>
        //图
        $(function () {
            $(document).ready(function () {

                // Build the chart
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container<%= b.id %>',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: false
                    },
                    tooltip: false,
                    plotOptions: {
                        pie: {
                            allowPointSelect: false,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true,
                            size: 120,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: [
                            ['基金',<%= b.stock %>],
                            ['国债、企业债',<%= b.debt %>],
                            ['信托',<%= b.trust %>],
                            ['银行理财产品',<%= b.bankfinance %>]
                        ]
                    }],
                    legend: false,
                    credits: {
                        enabled: false
                    }
                });
            });
            Highcharts.theme = {
                colors: ['#d76f32', '#f1b77a', '#9c7746', '#294b6e']
            };

// Apply the theme
            var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
        });
        <% end %>
    }
    $("#amount-to-invest").keyup(function(){
        var amt = this.value;
        a=parseFloat($("#f1").html().split("%")[0]/100)
        b=parseFloat($("#s1").html().split("%")[0]/100)
        c=parseFloat($("#t1").html().split("%")[0]/100)
        d=parseFloat($("#a1").html().split("%")[0]/100)
        $("#f2").html("￥"+parseInt(a*amt))
        $("#s2").html("￥"+parseInt(b*amt))
        $("#t2").html("￥"+parseInt(c*amt))
        $("#a2").html("￥"+parseInt(d*amt))
        <% @provides.each do |b| %>
        $("#table<%= b.id %> tr:eq(1) td:eq(3)").html("￥"+parseInt(parseFloat($("#table<%= b.id %> tr:eq(1) td:eq(2)").html().substr(0, $("#table<%= b.id %> tr:eq(1) td:eq(2)").html().length-1))*amt/100))
        $("#table<%= b.id %> tr:eq(2) td:eq(3)").html("￥"+parseInt(parseFloat($("#table<%= b.id %> tr:eq(2) td:eq(2)").html().substr(0, $("#table<%= b.id %> tr:eq(2) td:eq(2)").html().length-1))*amt/100))
        $("#table<%= b.id %> tr:eq(3) td:eq(3)").html("￥"+parseInt(parseFloat($("#table<%= b.id %> tr:eq(3) td:eq(2)").html().substr(0, $("#table<%= b.id %> tr:eq(3) td:eq(2)").html().length-1))*amt/100))
        $("#table<%= b.id %> tr:eq(4) td:eq(3)").html("￥"+parseInt(parseFloat($("#table<%= b.id %> tr:eq(4) td:eq(2)").html().substr(0, $("#table<%= b.id %> tr:eq(4) td:eq(2)").html().length-1))*amt/100))
        <% end %>
    });
    $("#email").keyup(function(){
        var amt = this.value;
        $("#username").val(amt.substring(0,amt.indexOf('@')))
    });
    $("#main").click(function(){
        var amt = document.getElementById("email").value;
        $("#username").val(amt.substring(0,amt.indexOf('@')))
    });
</script>

<script>
    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'right',
            alignY: 'center',
            offsetX: 15,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
</script>


