<%= stylesheet_link_tag "common2.css" %>
<%= javascript_include_tag "base.js" %>
<%= javascript_include_tag "d3.js" %>
<%= javascript_include_tag "plan.js" %>
<%= javascript_include_tag "risk.js" %>
<%= javascript_include_tag "jquery.effects.core.js" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
 <!--
<%= stylesheet_link_tag "red.css" %>
<%= javascript_include_tag "jquery.icheck.js" %>
-->
<style>
    th, td {font-family: Hiragino Sans GB W3;}
    tr.first td{background-color: #f9f9f9!important;}
    #category td.second,#category th.second,tr.third td{
        background-color: #CCCCCC!important;
    }
</style>
<script>
    t0=new Date
    function onReady(fn){onReady.fns.push(fn)}
    onReady.fns=[]
</script>

<%= javascript_include_tag "footable-0.1.js" %>
<script type="text/javascript">
    $(function() {
        $('table').footable();
    });
</script>
<!--[if !IE]><!--><style>#questionnaire-view .angel label{padding-bottom: 7px;}</style><!--<![endif]-->
<div class="welcomes">
<div class="ofa-funnel-pages">
  <div id="page-wrapper">
    <div id="top-tabs">
      <div class="top-tabs-content">
        <a href="/usersurvey/startup"><b>1.</b> <span>资产体检</span></a>
        <b>&nbsp;>&nbsp;</b> <div class="mobile"><br></div>
        <b>2.</b> <span>风险评估</span>
        <b>&nbsp;>&nbsp;</b> <div class="mobile"><br></div>
        <% if session[:webusername]!=nil && @webuser.dreamset!=nil %>
            <a href="/personmanagement/summary"><b>3.</b> 理财建议</a>
        <% else %>
            <span class="disabled"><b>3.</b> 理财建议</span>
         <% end %>
      </div>
    </div>

    <div id="page-content">
      <div class="clearfix"></div>
      <h1>
		  看看您的风险承受度是多少？
        <div id="q-numbers"><b class="q-num curr"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b></div>
      </h1>

      <div id="pict" style="float:right;width: 280px;margin:40px 0 0 0;position:relative">
        <!-- <div id="risk-meter"></div>  -->
        <div id="container"></div>

        <div id="one" style="text-align: center;">
          <img src="/assets/gs-logo-70.gif"><br>
          <img style="width: 100%;" src="/assets/logo2.png">
        </div>
      </div>

      <div id="questionnaire-view">
        <form id="questionnaire" action="" method="post">
          <div class="question first">
            <p class="q-text">这个风险承受度评估系统是我们引用美国高盛公司的开源资产风险度管理模型，通过10个问题，包含投资取向，个人资金状况，个人工作状况，个人投资经验，从而了解您的风险承受度。</p>
            <input type="checkbox" class="hide">
            <div style="clear:both"></div><div class="mobile"><br></div>
          </div>
          <div class="question">
            <p class="q-text">当前的股票市场波动是非常剧烈的，如果你在该市场的投入资金在一个月内达到10%的跌幅，你会选择怎么做呢?</p>
            <label class="stacked"><input type="radio" name="response" value="sellAll" tabindex="0"><span>卖掉所有股票</span></label>
            <label class="stacked"><input type="radio" name="response" value="sellSome" tabindex="0"><span>卖掉一部分股票</span></label>
            <label class="stacked"><input type="radio" name="response" value="keepAll" tabindex="0"><span>继续持有</span></label>
            <label class="stacked"><input type="radio" name="response" value="buyMore" tabindex="0"><span>购买更多的股票</span></label>
            <div style="clear:both"></div><div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-response"><a class="ktip-a demo-tip-yellowsimple" title=" 这个问题是评估您对资金损失的承受度。您的承受度越强，您能承受的风险就越高。您是否愿意承受风险和能够多少风险将计入您最终的风险度得分。 " target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">下列的3个假设投资计划，哪个会更符合您当前的投资需求?</p>
            <div id="q-portfolio-chart">
              <div class="q-portfolio-key">
                <div class="q-portfolio-key-i">
                  <div class="q-portfolio-key-h">Key</div>
                  <div class="q-portfolio-key-m">预期年化收益率</div>
                  <div class="q-portfolio-key-r">在当年可能出现<br>的资产变动幅度</div>
                </div>
              </div>
                <div class="q-portfolio-grid"><img src="/assets/120225.jpg" style="width: 198px;height: 128px;padding-left: 10px;"></div>
            </div>
            <br>
            <div class="q-portfolio-choices">
              <b class="q-portfolio-choice"><input type="radio" name="portfolio" value="A" tabindex="-1"></b><b class="q-portfolio-choice"><input type="radio" name="portfolio" value="B" tabindex="-1"></b><b class="q-portfolio-choice"><input type="radio" name="portfolio" value="C" tabindex="-1"></b>
            </div><div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-portfolio"><a class="ktip-a demo-tip-yellowsimple" title=" 这个问题是评估您为了获取较高收益率所愿意承受的波动幅度。正常情况而言，您能接受的波动幅度越大，您的风险度得分将越高。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text"> 当您准备资金进行投资时，您最在意的是哪一项指标?</p>
            <label class="stacked"><input type="radio" name="concern" value="gain" tabindex="-1"><span>最大利润</span></label>
            <label class="stacked"><input type="radio" name="concern" value="loss" tabindex="-1"><span>最小损失</span></label>
            <label class="stacked"><input type="radio" name="concern" value="both" tabindex="-1"><span>两者都很重要</span></label>
            <div style="clear:both"></div><div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-concern"><a class="ktip-a demo-tip-yellowsimple" title=" 更关注最大利润意味着愿意承担更大的风险。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">你是否自己参与购买过股票、基金或期货等高风险投资品种?</p>
            <label class="stacked"><input type="radio" name="options" value="true" tabindex="-1"><span>是</span></label> &nbsp;
            <label class="stacked"><input type="radio" name="options" value="false" tabindex="-1"><span>否</span></label>
            <div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-options"><a class="ktip-a demo-tip-yellowsimple" title="主动参与高风险产品投资意味着您愿意承担更大的风险" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您参加工作有多少时间了?</p>
            <input type="text" name="age" id="age" style="width:42px;margin-right:7px;" pattern="[0-9]{1,2}" class="kform-input-text" value="" tabindex="-1">年
            <div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-age"><a class="ktip-a demo-tip-yellowsimple" title="您越接近退休年纪，您能承担的风险将越小。正常而言，您的平时的投资都将最终影响您的退休收入。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">假设您6个月后需要买房子，但您首期资金不够，您将能向父母亲戚借到多少钱？
              <span class="subtext">(例如：银行活期存款，股票，基金，期货等)</span>
            </p>
            <p>
              <span class="kform-money"><span class="kform-money-sign">￥</span><input type="text" autocomplete="off" name="lnw" id="lnw" class="kform-input-text kform-money" pattern="[0-9,]*" style="width:100px" value="" tabindex="-1"></span>
            </p>
           <!--
            <p class="q-text">您资金主要放在哪家银行帐号里?</p>
            <select  name="bank" id="bank" title="银行" style="margin-left: 15px;">
              <option value="建设银行">建设银行</option>
              <option value="中国银行">中国银行</option>
              <option value="招商银行">招商银行</option>
              <option value="广发银行">广发银行</option>
              <option value="工商银行">工商银行</option>
              <option value="中信银行">中信银行</option>
              <option value="浦发银行">浦发银行</option>
              <option value="交通银行">交通银行</option>
              <option value="华夏银行">华夏银行</option>
              <option value="民生银行">民生银行</option>
              <option value="农业银行">农业银行</option>
              <option value="兴业银行">兴业银行</option>
              <option value="平安银行">平安银行</option>
            </select>
            -->
            <div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-lnw"><a class="ktip-a demo-tip-yellowsimple" title="我们将用这个资产值来均衡您的未来几年的收入和消费是否吻合，如何相差过大的话，我们将建议您承担更多的风险以获得更大的利润回报。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">假设您有15万元的现金，根据您家庭情况，您觉得这笔资金投资多少时间比较合适?
            </p>
            <label class="stacked"><input type="radio" name="income" value="90" tabindex="-1"><span>三个月</span></label>
            <label class="stacked"><input type="radio" name="income" value="180" tabindex="-1"><span>六个月</span></label>
            <label class="stacked"><input type="radio" name="income" value="365" tabindex="-1"><span>一年</span></label>
            <label class="stacked"><input type="radio" name="income" value="730" tabindex="-1"><span>二年</span></label>
            <div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-income"><a class="ktip-a demo-tip-yellowsimple" title="你投资的时间越长，收益率会相对越高。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您当前的工作薪水收入稳定吗?</p>
            <label class="stacked"><input type="radio" name="stability" value="A" tabindex="-1"><span>非常稳定</span></label>
            <label class="stacked"><input type="radio" name="stability" value="B" tabindex="-1"><span>比较稳定</span></label>
            <label class="stacked"><input type="radio" name="stability" value="C" tabindex="-1"><span>比较不稳定</span></label>
            <label class="stacked"><input type="radio" name="stability" value="D" tabindex="-1"><span>非常不稳定</span></label>
            <div style="clear:both"></div>
            <div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-stability"><a class="ktip-a demo-tip-yellowsimple" title="我们将根据你感兴趣的产品的风险度来判断您的承受力，一般来说，选择期货的话风险承受力会高，选择信托产品，风险承受力会较低。 " target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question angel">
            <p class="q-text">您对如下哪些产品比较感兴趣?</p>
            <label class="stacked"><input type="radio" name="angel" value="true" tabindex="-1"><span>定期存款</span></label>
            <label class="stacked"><input type="radio" name="angel" value="A" tabindex="-1"><span>股票</span></label>
            <label class="stacked"><input type="radio" name="angel" value="B" tabindex="-1"><span>余额宝等货币基金</span></label>
            <label class="stacked"><input type="radio" name="angel" value="C" tabindex="-1"><span>P2P理财产品</span></label>
            <div style="clear:both"></div>
            <div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-angel"><a class="ktip-a demo-tip-yellowsimple" title="一个稳定的行业意味一个稳定的收入，意味着您能承担较高的风险。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您短期内（1-2年）有买房或买车等大额消费目标吗?</p>
            <label><input type="radio" name="goal" value="false" tabindex="-1"><span>是</span></label>
            <label><input type="radio" name="goal" value="true" tabindex="-1"><span>否</span></label>
            <div class="mobile"><br></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-goal"><a class="ktip-a demo-tip-yellowsimple" title=" 不稳定的工作则意味着您将不大喜欢在您的投资过程中有太大波动，这将转化为较低的风险承受力。 " target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question" style="padding-right: 0;height:500px;">
            <p class="q-text" id="risk"></p>
            <table id="type" class="table table-striped table-bordered footable">
              <thead>
              <tr>
                <th data-sort-initial="descending" data-class="expand" style="width: 80px;">风险类型</th>
                <th data-sort-ignore="true" style="width: 150px;">一句话点评</th>
                <th data-hide="phone,tablet,hides">行家解释</th>
                <th data-hide="phone">类型代表</th>
              </tr>
              </thead>
              <tr>
                <td>安逸型</td>
                <td>保本是第一位的。</td>
                <td>
                  您是安益型投资人，其投资组合配置在风险最小的领域，如现金、活期存储、定期存款等。<br>
                  此类投资人注重获得相对确定的投资回报，而不追求最大回报，且限制短期内的波动。投资期限内，回报率的波动性较小。<br>
                  大多数情况下，相对风险较高的投资方法，这种方法的回报率最低，五年以上的投资尤其如此。
                </td>
                <td>
                  和史玉柱一样，勤奋、意志坚定、深入细节、善于分析，尽一切可能来降低风险，“手握资金，等待投资机会上门”
                </td>
              </tr>
              <tr>
                <td>保守型</td>
                <td>深思熟虑每个决策。</td>
                <td>
                  您是保守型投资人，其投资组合较大比例配置纯债券型基金，此类投资人注重获得稳定的投资回报，而不追求最大回报，且限制短期内的大幅波动。<br>
                  投资期限内，虽然难以准确预测其回报率，但是也不会有大起大落的情况。<br>
                  大多数情况下，相对风险较高的投资方法，这种方法的回报率较低，五年以上的投资尤其如此。
                </td>
                <td> 和"指数基金教父"约翰•伯格一样，以谨慎、勤奋、稳健和积极的特性著称，对个人信仰脚踏实地，直到达成目标为止。</td>
              </tr>
              <tr>
                <td>稳健型</td>
                <td>承担5%亏损，潜在15%收益，OK!</td>
                <td>
                  您是稳健型投资人，其投资组合均衡配置债券类基金资产，通过这种债券型基金，将有少许被配置到股票等二级市场。<br>
                  此类投资人注重获得稳健的投资回报。投资的市值在短期内可能会有一些波动。投资期限内，其综合回报难以准确预测，但也不会过于出乎意外。<br>
                  大多数情况下，相对较为保守的投资方法，这种方法的回报率较高，五年以上的投资更是如此。
                </td>
                <td>和巴菲特一样，“避开我们不能评估其未来的业务，无论他们的产品可能多么激动人心”，购买后坚定持有。</td>
              </tr>
              <tr>
                <td>积极型</td>
                <td>承担10%亏损，潜在30%收益，OK!</td>
                <td>
                  您是积极型投资人，其投资组合较大比例配置指数型基金或混合型基金，同时还有小部分比例配置于现金、活期、货币基金等流动性资产。<br>
                  此类投资人注重获得丰厚的投资回报，但对大多数投机领域敬而远之。投资价值在短期内可能会有大幅波动。投资期限内，最终获得的投资回报较难预料。<br>
                  大多数情况下，较之其它相对保守的投资方法，这种投资方法的回报率较高，五年以上的投资尤其如此。
                </td>
                <td>和复兴集团掌门人郭广昌一样，冷静、有天然的理性和了解内心的本能，同时拥有高度的容忍力，富于研究精神，喜爱一切新颖的东西。</td>
              </tr>
              <tr>
                <td>激进型</td>
                <td>马克思说，有300%的回报，什么都干。</td>
                <td>
                  您是激进型投资人，其投资组合将绝大部分比例投资于股票类资产或股票型基金，并且敢于涉足一些投机领域。<br>
                  为了追求最大回报，同时愿意承受资产价格的短期大幅波动风险，甚至相对长时间亏损的可能。因为其承受较大波动性，投资者最后获得的回报率较难预测。<br>
                  大多数情况下，其长期回报率高于其它较为保守的投资方法。
                </td>
                <td>和李嘉诚一样，推崇大手笔大收益，偏爱高风险投资，高风险的投资产品，这能激发热情参与的动力。</td>
              </tr>
            </table>
            <input type="checkbox" class="hide">
            <div class="mobile"><br></div>
          </div>
          <!--
          <div class="question" style="padding-right: 0;">
            <p class="q-text" id="risk2"></p>
            <table id="category" class="table table-striped table-bordered footable" style="width: 100%;">
              <thead>
              <tr>
                <th data-sort-initial="descending" data-class="expand" style="width: 120px;">风险类型</th>
                <th data-sort-ignore="true" style="width: 150px;">投资品种</th>
                <th data-hide="phone" style="width: 173px;">亏损概率<br>（近一年）</th>
                <th data-hide="phone" style="width: 173px;">最高年收益率<br>（近一年）</th>
                <th data-hide="phone,tablet,hides">投资品种介绍</th>
                <th data-sort-ignore="true" style="width: 40px;">选择</th>
              </tr>
              </thead>
                  <% for i in 0..@category1.size-1 %>
                      <tr class="level1">
                        <td>安逸型</td>
                        <td><%= @category1[i].classify %></td>
                        <td><%= @category1[i].prisk %></td>
                        <td><%= @category1[i].returns %></td>
                        <td><%= @category1[i].ptype %></td>
                        <td><input type="radio" name="iCheck" id="iCheck1" class="<%= @category1[i].id %>,<%= @category1[i].classify %>"></td>
                      </tr>
                  <% end %>
                  <% for i in 0..@category2.size-1 %>
                      <tr class="level2">
                        <td>保守型</td>
                        <td><%= @category2[i].classify %></td>
                        <td><%= @category2[i].prisk %></td>
                        <td><%= @category2[i].returns %></td>
                        <td><%= @category2[i].ptype %></td>
                        <td><input type="radio" name="iCheck" id="iCheck2" class="<%= @category2[i].id %>,<%= @category2[i].classify %>"></td>
                      </tr>
                  <% end %>
                  <% for i in 0..@category3.size-1 %>
                      <tr class="level3">
                        <td>稳健型</td>
                        <td><%= @category3[i].classify %></td>
                        <td><%= @category3[i].prisk %></td>
                        <td><%= @category3[i].returns %></td>
                        <td><%= @category3[i].ptype %></td>
                        <td><input type="radio" name="iCheck" id="iCheck3" class="<%= @category3[i].id %>,<%= @category3[i].classify %>"></td>
                      </tr>
                  <% end %>
                  <% for i in 0..@category4.size-1 %>
                      <tr class="level4">
                        <td>积极型</td>
                        <td><%= @category4[i].classify %></td>
                        <td><%= @category4[i].prisk %></td>
                        <td><%= @category4[i].returns %></td>
                        <td><%= @category4[i].ptype %></td>
                        <td><input type="radio" name="iCheck" id="iCheck4" class="<%= @category4[i].id %>,<%= @category4[i].classify %>"></td>
                      </tr>
                  <% end %>
                  <% for i in 0..@category5.size-1 %>
                      <tr class="level5">
                        <td>激进型</td>
                        <td><%= @category5[i].classify %></td>
                        <td><%= @category5[i].prisk %></td>
                        <td><%= @category5[i].returns %></td>
                        <td><%= @category5[i].ptype %></td>
                        <td><input type="radio" name="iCheck" id="iCheck5" class="<%= @category5[i].id %>,<%= @category5[i].classify %>"></td>
                      </tr>
                  <% end %>
            </table>
            <div id="finance" class="hide">
                <table id="select" class="table table-striped table-bordered footable" style="width: 100%;">
                  <thead>
                  <tr>
                    <th data-sort-initial="descending" data-class="expand" style="width: 120px;">投资品种</th>
                    <th data-sort-ignore="true" style="width: 150px;">理财产品</th>
                    <th data-sort-ignore="true" style="width: 85px;">近1年<br>收益率</th>
                    <th data-sort-ignore="true">排名</th>
                    <th data-sort-ignore="true" style="width: 85px;">近3年<br>收益率</th>
                    <th data-sort-ignore="true">排名</th>
                    <th data-hide="phone,tablet,hides">理财产品详细介绍</th>
                    <th data-sort-ignore="true" style="width: 40px;">选择</th>
                  </tr>
                  </thead>
                  <% @financial2.each do |f| %>
                      <tr class="finance<%= f.id %> hide">
                        <td><%= f.classify %></td>
                        <td><%= f.pname %></td>
                        <td><% if f.rate !=nil %><% if /^[-+]?[0-9]+(\.[0-9]+)?$/ =~f.rate %><%= format("%0.2f",f.rate.to_f*100) %>%<% else %><%= f.rate %><% end %><% end %></td>
                        <td><%= f.rank %></td>
                        <td><% if f.rate1 !=nil %><% if /^[-+]?[0-9]+(\.[0-9]+)?$/ =~f.rate1 %><%= format("%0.2f",f.rate1.to_f*100) %>%<% else %><%= f.rate1 %><% end %><% end %></td>
                        <td><%= f.rank1 %></td>
                        <td><%= f.pintroduction %></td>
                        <td><input type="radio" id="iCheck" name="iCheck2" class="<%= f.id %>"></td>
                      </tr>
                  <% end %>
                </table>
            </div>
            <input type="checkbox" class="hide">
            <div class="mobile"><br></div>
          </div>
          -->
          <input type="hidden" name="rec" value="0.1" tabindex="-1">
        </form>
        <div id="q-fade-t"></div>
        <div id="q-fade-b"></div>
      </div>
      <div id="q-buttons">
        <button class="q-button light-gray big-button" id="q-back" disabled="disabled">◄&nbsp; <span>上一题</span>&nbsp;</button>
        <button class="q-button orange-button big-button" id="q-next" disabled="disabled">&nbsp;下一题 &nbsp;►</button>
        <button class="q-button orange-button big-button" id="q-submit">理财建议</button>

        <p class="q-privacy">
          <span class="q-privacy-1">这是匿名的，所以你可以如实回答<span class="win">，</span></span>
        <span class="win">我们不会问你的身份识别信息，除非阁下在决定投资我们。</span>
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
           $(".mobile").remove();
    }else{
        $("#container").remove();
        $(".win").remove();
    }
</script>

<script>
   // var selection='';
    _gaq = [["_setAccount","UA-1329988-4"],["_trackPageview"]];
    w.requestId = "1092152607";

    $(function(){
        window.onerror = function(error, url, lineNumber) {
            var payload = {"rev": "80126", "error": error, "agent": navigator.userAgent, "stack": []};

            // begin ie9 only stack trace grabbing
            var value = arguments.callee;
            for(i=0; i!=10; ++i) {
                if(value.caller) {
                    payload.stack.push(value.caller.toString());
                    value = value.caller;
                }
            }

            if (!w.jsErrors[payload]) {
                w.jsErrors[payload] = true;
                w.trackESP("ClientSideError", location.href, JSON.stringify(payload));
            }

            return false;
        }
        $.each(onReady.fns, function(i,f) {f()});
    });
</script>

<script>
     var s_age= 0,s_amount= 0,s_salary=0;
     <% if params[:age]!=nil &&  params[:age]!='' %>
     s_age='<%= params[:age] %>';
     var amount='<%= params[:amount] %>'.split(",");
     for(var i=0;i<amount.length;i++){
         s_amount=s_amount+parseInt(amount[i]);
     }
     s_salary='<%= params[:salary] %>';
     <% elsif  session[:webusername]!=nil %>
         s_age='<%= @examination.age %>';
     var amount='<%= @examination.amount %>'.split(",");
     for(var i=0;i<amount.length;i++){
         s_amount=s_amount+parseInt(amount[i]);
     }
     s_salary='<%=@examination.salary %>';
     <% end %>

    $(function() {
        var $qv = $("#questionnaire-view");
        var $qr = $("#questionnaire");
        var accountMin = 0;
        var save = "";
        var save0 = "";
        var save1 = "";
        var save2 = "";
        var save3 = "";
        var save4 = "";
        var save5 = "";
        var save6 = "";
        var save7 = "";
        var stacked = "";
        var risk="";

        $("#questionnaire-view .ktip-link").bind("tip.show", function() {
            w.trackEvent("OFA", "questionnaire_faq_show", this.id);
        });

        $("#q-numbers").delegate(".q-num.past", "click", function() {
            var $i = $qr.find(".invalid");
            if ($i.length) {
                $i.focus().select();
            } else {
                showQn($(this).index());
            }
        });

        $qr.data("vals", valsFromDom($qr.find("input")))
                .data("init", function(doCalc) {
                    $qr.data("init", function() { showQn(0, true); })
                            .keydown(function(e) {
                                if ($qr.data("transition")) {
                                    return false;
                                }
                                if (e.keyCode == 9 || e.keyCode == 13 && !e.shiftKey) {
                                    var $b = $(e.shiftKey ? "#q-back" :
                                            ("#q-next:visible" + (e.keyCode == 13 ? ",#q-submit:visible" : "")));
                                    if ($b.is(":enabled")) {
                                        e.preventDefault();
                                        $b.triggerHandler("click");
                                    }
                                }
                            })
                            .find("a[href]").attr("tabindex", "-1").end()
                            .find("input").attr("tabindex", "-1")
                            .filter("[type=radio]").click(function(e) {
                                this.focus();
                                updateButtons(e, this, true);
                                if (this.value !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                                if(this.name=='response'){save0=this.value;}
                                if(this.name=='portfolio'){save1=this.value;}
                                if(this.name=='concern'){save2=this.value;}
                                if(this.name=='options'){save3=this.value;}
                                if(this.name=='income'){save4=this.value;}
                                if(this.name=='angel'){save5=this.value;}
                                if(this.name=='goal'){save6=this.value;}
                                if(this.name=='stability'){save7=this.value;}
                            }).end()
                            .filter("[type=checkbox]").click(function(e) {
                                this.focus();
                                updateButtons(e, this, true);
                                if (this.value !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                                if(stacked=="") {
                                    stacked=this.value;
                                }
                                else{
                                stacked=stacked+','+this.value;
                                }
                            }).end()
                            .filter("[name=age]").each(function(){
                                // jquery does not yet support on input
                                this.oninput = function(e) {
                                    $(this).keypress();
                                }
                            }).bind("keypress keyup", function(e) {
                                var raw = this.value, val = ageFromDom(this), done = val != null;
                                $(this).toggleClass("invalid", !!raw && !done);
                                updateButtons(e, this, done);
                                if (val !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                            }).end()
                            .filter("[name=lnw]").bind("keypress keyup", function(e) {
                                var raw = this.value, val = amountFromDom(this), done = val != null && val >= accountMin;
                                $(this).toggleClass("invalid", !!raw && !done);
                                updateButtons(e, this, done);
                                if (val !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                                if (done && this.selectionStart === raw.length) {
                                    this.value = w.formatNum(val, 0);
                                }
                            }).blur(function() {
                                var val = amountFromDom(this);
                                if (val != null) {
                                    this.value = w.formatNum(val, 0);
                                }
                            });

                    $("#q-back,#q-next").click(function(e) {
                        var back = this.id == "q-back";
                        if (back) {
                            w.trackEvent("OFA", "questionnaire_back");
                        } else {
                            w.trackEvent("OFA", "questionnaire_next", qPayload());
                        }
                        var new_q_num = $qr.data("q") + (back ? -1 : 1);
                        showQn(new_q_num);
                    });
                    $("#q-submit").click(function(e) {
                        var returnrate=0;
                        var riskrate=0;
                        var investcycle=0;
                        var wbreedinfo="";
                        var fluctuation="";
                        var investvarieties="";
                        var quota="";
                        var options="";
                        var goal="";
                        save=save0+','+save1+','+save2+','+save3+','+save4+','+save5+','+save6+','+save7
                        if(save.split(',')[1]=='A'){
                            returnrate=0.06;
                            riskrate=0;
                        }
                        else if(save.split(',')[1]=='B'){
                            returnrate=0.1;
                            riskrate=0.03;
                        }
                        else if(save.split(',')[1]=='C'){
                            returnrate=0.2;
                            riskrate=0.1;
                        }

                        if (save.split(',')[4]=='90'){investcycle='三个月';}
                        else if(save.split(',')[4]=='180'){investcycle='六个月';}
                        else if(save.split(',')[4]=='365'){investcycle='一年';}
                        else if(save.split(',')[4]=='730'){investcycle='二年';}

                        if (save.split(',')[0]=='sellAll'){fluctuation='卖掉所有股票';}
                        else if(save.split(',')[0]=='sellSome'){fluctuation='卖掉一部分股票';}
                        else if(save.split(',')[0]=='keepAll'){fluctuation='继续持有';}
                        else if(save.split(',')[0]=='buyMore'){fluctuation='购买更多的股票';}

                        if (save.split(',')[2]=='gain'){quota='最大利润';}
                        else if(save.split(',')[2]=='loss'){quota='最小损失';}
                        else if(save.split(',')[2]=='both'){quota='两者都很重要';}

                        if (save.split(',')[3]=='true'){options='是';}
                        else if(save.split(',')[3]=='false'){options='否';}

                        if (save.split(',')[6]=='false'){goal='是';}
                        else if(save.split(',')[6]=='true'){goal='否';}

                        if (save.split(',')[5]=='true'){wbreedinfo="定期存款"}
                        else if(save.split(',')[5]=='A'){wbreedinfo="股票"}
                        else if(save.split(',')[5]=='B'){wbreedinfo="余额宝等货币基金"}
                        else if(save.split(',')[5]=='C'){wbreedinfo="P2P理财产品"}

                        if (save.split(',')[7]=='A'){investvarieties='非常稳定';}
                        else if(save.split(',')[7]=='B'){investvarieties='比较稳定';}
                        else if(save.split(',')[7]=='C'){investvarieties='比较不稳定';}
                        else if(save.split(',')[7]=='D'){investvarieties='非常不稳定';}

                        var risktolerance=risk;
                        <% if session[:webusername]!=nil %>
                        $.post("/personmanagement/personconfigajax/0",{ username:"<%= session[:webusername] %>",age: $("#age").attr("value"),risktolerance:risktolerance,options:options,goal:goal,
                            investamount: $("#lnw").attr("value").replace(',',''),returnrate: returnrate,memberlevel:0,investcycle:investcycle,fluctuation:fluctuation,quota:quota,wbreedinfo:wbreedinfo,riskrate:riskrate,investvarieties:investvarieties
                        },function(data){
                            location.href='/personmanagement/summary';
                        });
                        <% else %>
                           location.href='/personmanagement/summary?risk='+risktolerance+'&save='+save+'&age='+$("#age").attr("value")+'&investamount='+$("#lnw").attr("value").replace(',','')+'&investvarieties='+investvarieties+
                                  '&score=<%= params[:score] %>&variety=<%= params[:variety] %>&pname=<%= params[:pname] %>&amount=<%= params[:amount] %>&age=<%= params[:age] %>&salary=<%= params[:salary] %>&rent=<%= params[:rent] %>&wages=<%= params[:wages] %>&xian=<%= params[:xian] %>&wen=<%= params[:wen] %>&feng=<%= params[:feng] %>'
                        <% end %>
                        return false
                      //  document.getElementById('questionnaire').action ="/personmanagement/personfinance";
                        w.trackEvent("OFA", "submit_questionnaire", qPayload());
                        $qr.submit();
                    });
                    function qPayload() {
                        var $n = $qr.find("input[tabindex=0]").filter(":checked");
                        if (!$n.length) {
                            $n = $n.end();
                        }
                        return $n.attr("name") + ":" + $n.val();
                    }

                    showQn(0);
                    if (doCalc) {
                        calculateRiskTol();
                    }
                });

        function showQn(i, immediately) {
            if(i==0){
               $("#container").hide();
               $("#one").show();
            }
            else{
                $("#container").show();
                $("#one").hide();
            }
            if(i==11){
                $("#type tr").removeClass("back");
                if(risk>8 && risk<=10){
                    $("#risk").html("您是激进型投资人。");
                    $("#type tr:eq(5)").addClass("back");
                }
                else if(risk>6 && risk<=8){
                    $("#risk").html("您是积极型投资人。");
                    $("#type tr:eq(4)").addClass("back");
                }
                else if(risk>4 && risk<=6){
                    $("#risk").html("您是稳健型投资人。");
                    $("#type tr:eq(3)").addClass("back");
                }
                else if(risk>2 && risk<=4){
                    $("#risk").html("您是保守型投资人。");
                    $("#type tr:eq(2)").addClass("back");
                }
                else if(risk>=0 && risk<=2){
                    $("#risk").html("您是安益型投资人。");
                    $("#type tr:eq(1)").addClass("back");
                }
                $("#pict").hide();
                var test_div=document.getElementById("questionnaire-view");
                test_div.style.width="98%";
                test_div.style.height="500px";
            }
            else if(i==12){
                if(risk>8 && risk<=10){
                    $("#risk2").html("您是激进型的投资者，但我们将和您类似的积极型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level1").hide();$(".level2").hide();$(".level3").hide();
                    $(".level5").addClass('first');
                }
                else if(risk>6 && risk<=8){
                    $("#risk2").html("您是积极型的投资者，但我们将和您类似的稳健型、激进型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level1").hide();$(".level2").hide();
                    $(".level4").addClass('first');
                }
                else if(risk>4 && risk<=6){
                    $("#risk2").html("您是稳健型的投资者，但我们将和您类似的保守型、积极型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level1").hide();$(".level5").hide();
                    $(".level3").addClass('first');
                }
                else if(risk>2 && risk<=4){
                    $("#risk2").html("您是保守型的投资者，但我们将和您类似的安益型、稳健型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level4").hide();$(".level5").hide();
                    $(".level2").addClass('first');
                }
                else if(risk>=0 && risk<=2){
                    $("#risk2").html("您是安益型的投资者，但我们将和您类似的安益型也一起罗列出来，供您选择。另外的类型和您风险评估相差太大，我们将不加以罗列了。");
                    $(".level3").hide();$(".level4").hide();$(".level5").hide();
                    $(".level1").addClass('first');
                }

                var test_div=document.getElementById("questionnaire-view");
                test_div.style.width="98%";
                test_div.style.height="660px";
            }
            else{
                $("#pict").show();
                var test_div=document.getElementById("questionnaire-view");
                test_div.style.width="642px";
                test_div.style.height="326px";
            }

            var $qns = $qr.children(".question");
            var $qn = $qns.eq(i);
            if (i >= 0 && $qn.length) {
                $qns.eq($qr.data("q")).find("input").attr("tabindex", "-1");

                $qr.data({q: i, transition: true});
                var newTop = -i * $qn.height() + "px";
                if(i==11){newTop= (-i * 296).toString()+"px"}
                if(i==12){newTop= (-(i-1) * 296-500).toString()+"px"}
              //  alert(newTop)
                if (immediately) {
                    $qr.css("top", newTop);
                }
                if (immediately || $qr.css("top") === newTop) {
                    setTimeout(onAtQn, 5);
                } else {
                    $qr.animate({"top": newTop}, onAtQn);
                }
                $("#q-back span").text(i === 0 ? "上一题" : "上一题");
                $("#q-back").attr("disabled", i == 0);

                var isLastQn = i == $qns.length - 1;
                $("#q-buttons").toggleClass("q-submit", isLastQn);

                var $i = $qn.find("input");
                var done = $i.is(":radio") ? $i.is(":checked") : !!$i.val();
                $(isLastQn ? "#q-submit" : "#q-next").attr("disabled", !done);

                $qr.trigger("qr:nav", i);

                w.trackEvent("OFA", "question_display", (i+1) + "." + $i.attr("name"));
            }

            function onAtQn() {
                $qr.removeData("transition");
                $qn.find("input").attr("tabindex", "0")
                        .filter("[checked=true],input:first").focus().select();
            }
        }

        function updateButtons(e, inputEl, isDone) {
            if (e.keyCode == 9 || e.keyCode == 13) {
                return;
            }
            var $i = $(inputEl), $q = $i.closest(".question");
            var isLastQn = $q.nextAll(".question:first").length == 0;
            $(isLastQn ? "#q-submit" : "#q-next").attr("disabled", !isDone);
            $("#q-back").attr("disabled", $i.hasClass("invalid") || $q.is(".first"));
        }

        function calculateRiskTol() {
            var min = 0.1;
            var max = 10;
            var granularity = 10.0;
            var $i = $qr.find("input");
            var vals = valsFromDom($i);
            var tol = recommendRiskTolerance2(vals, min, max, granularity,s_age,s_amount,s_salary);
            var rec = tol.toFixed(1);
            $i.filter("[name=rec]").val(rec);
            vals.rec = +rec;
            $qr.data("vals", vals);
            $qr.triggerHandler("qr:change", +rec);
            risk=tol;
        }
    });
</script>
<script>
    $(function() {
        var currentModelNumber = "4"; //SAA201210
        var moveMeter = attachRiskMeter("#risk-meter");

        var $n = $("#q-numbers"), $qr = $("#questionnaire"), $qs = $qr.find(".question");
        $n.find(".q-num").each(function(i) {
            if ($qs.eq(i).find("input").filter(function() {return this.type == "radio" ? this.checked : !!this.value}).length) {
                $(this).addClass("past");
            } else {
                return false;
            }
        });
        $qr.bind("qr:nav", function(e, i) {
            var $n = $("#q-numbers");
            $n.children(".q-num.curr").removeClass("curr").addClass("past");
            $n.children().eq(i).removeClass("past").addClass("curr");
        })
                .bind("qr:change", function(e, tol) {
                    moveMeter(tol / 10);
                    $(function () {
                        if(system.win||system.mac||system.xll){
                        var chart = new Highcharts.Chart({

                                    chart: {
                                        renderTo: 'container',
                                        type: 'gauge',
                                        plotBorderWidth: 1,
                                        plotBackgroundColor: {
                                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                            stops: [
                                                [0, '#FFF4C6'],
                                                [0.3, '#FFFFFF'],
                                                [1, '#FFF4C6']
                                            ]
                                        },
                                        plotBackgroundImage: null,
                                        height: 200,
                                        width: 280
                                    },

                                    title: {
                                        text: '您的风险承受度'
                                    },

                                    pane: [{
                                        startAngle: -45,
                                        endAngle: 45,
                                        background: null,
                                        center: ['50%', '145%'],
                                        size: 280
                                    }],

                                    yAxis: [{
                                        min: 0,
                                        max: 10,
                                        tickInterval: 2,
                                        minorTickPosition: 'outside',
                                        tickPosition: 'outside',
                                        labels: {
                                            rotation: 'auto',
                                            distance: 20
                                        },
                                        plotBands: [{
                                            from: 0,
                                            to: 2,
                                            color: '#09a509',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 2,
                                            to: 4,
                                            color: '#69c908',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 4,
                                            to: 6,
                                            color: '#eded07',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 6,
                                            to: 8,
                                            color: '#fa8c1e',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 8,
                                            to: 10,
                                            color: '#C02316',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        }],
                                        pane: 0,
                                        title: false
                                    }],

                                    plotOptions: {
                                        gauge: {
                                            dataLabels: {
                                                enabled: false
                                            },
                                            dial: {
                                                radius: '90%'
                                            }
                                        }
                                    },
                                    series: [{
                                        data: [0],
                                        yAxis: 0
                                    }],
                                    credits: {
                                        enabled: false
                                    }
                                },

                                // Let the music play
                                function(chart) {
                                    setInterval(function() {
                                        var left = chart.series[0].points[0],
                                                leftVal;

                                        leftVal = tol;
                                        left.update(leftVal, false);
                                        chart.redraw();

                                    }, 500);

                                });
                        }
                       /* else{
                            var chart = new Highcharts.Chart({

                                        chart: {
                                            renderTo: 'container',
                                            type: 'gauge',
                                            plotBorderWidth: 1,
                                            plotBackgroundColor: {
                                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                                stops: [
                                                    [0, '#FFF4C6'],
                                                    [0.3, '#FFFFFF'],
                                                    [1, '#FFF4C6']
                                                ]
                                            },
                                            plotBackgroundImage: null,
                                            height: 150,
                                            width: 200
                                        },

                                        title: {
                                            text: '您的风险承受度'
                                        },

                                        pane: [{
                                            startAngle: -45,
                                            endAngle: 45,
                                            background: null,
                                            center: ['50%', '145%'],
                                            size: 180
                                        }],

                                        yAxis: [{
                                            min: 0,
                                            max: 10,
                                            tickInterval: 2,
                                            minorTickPosition: 'outside',
                                            tickPosition: 'outside',
                                            labels: {
                                                rotation: 'auto',
                                                distance: 20
                                            },
                                            plotBands: [{
                                                from: 0,
                                                to: 2,
                                                color: '#09a509',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 2,
                                                to: 4,
                                                color: '#69c908',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 4,
                                                to: 6,
                                                color: '#eded07',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 6,
                                                to: 8,
                                                color: '#fa8c1e',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 8,
                                                to: 10,
                                                color: '#C02316',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            }],
                                            pane: 0,
                                            title: false
                                        }],

                                        plotOptions: {
                                            gauge: {
                                                dataLabels: {
                                                    enabled: false
                                                },
                                                dial: {
                                                    radius: '90%'
                                                }
                                            }
                                        },
                                        series: [{
                                            data: [0],
                                            yAxis: 0
                                        }],
                                        credits: {
                                            enabled: false
                                        }
                                    },

                                    // Let the music play
                                    function(chart) {
                                        setInterval(function() {
                                            var left = chart.series[0].points[0],
                                                    leftVal;

                                            leftVal = tol;
                                            left.update(leftVal, false);
                                            chart.redraw();

                                        }, 500);

                                    });
                        }
                        */
                    });
                })
                .submit(function(e) {
                    e.preventDefault();
                    var $qr = $(this);
                    if (!$qr.data("submitted")) {
                        $qr.data("submitted", true);
                        var cookieName = "asset_allocation";
                        var o = deserializePlan(w.cookie(cookieName)) || {};
                        $.each($qr.serializeArray(), function(i,v) {
                            o[v.name] = v.value.replace(/[$,]/g, "");
                        });
                        o.tol = o.rec;
                        o.amount = o.amount || o.lnw;
                        var check=document.getElementsByName("stability");
                        o.stability="";
                        for(var i=0;i<check.length;i++){
                            if(check[i].checked==true){
                                if(o.stability==""){
                                    o.stability=check[i].value;
                                }
                                else{
                                    o.stability=o.stability+check[i].value;
                                }
                            }
                        }
                        w.cookie(cookieName, serializePlan(o, currentModelNumber), 14);
                        location = $qr.attr("action");
                    }
                })
                .data("init")(true);
    });
</script>

<script>
    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'center',
            alignY: 'bottom',
            offsetY: 5,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });

    $(document).ready(function(){
        <% if session[:webusername]==nil %>
        location.href="/sales/login?questions=1";
        <% end %>
    });

   /*
    $(document).ready(function(){
        $('[id*="iCheck"]').iCheck({
            checkboxClass: 'icheckbox_square-red',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
    });

    $('input').on('ifChecked', function(event){
        if(this.name=='iCheck'){
            var eq=this.className.split(",");
            $("#category td").removeClass("second");
            var length=$("#category").find("tr").size();
            for(i=0;i<length;i++){
                if($("#category tr:eq("+i+") td:eq(1)").html()==eq[1]){
                    for(j=0;j<7;j++){
                        $("#category tr:eq("+i+") td:eq("+j+")").addClass("second")
                    }
                }
            }
            $("#finance").show();
            $('[class*="finance"]').hide();
        <%  for i in 0..@hash.size-1 %>
            if(eq[0]=='<%= @hash[i][0] %>'){
                var pid= '<%= @hash[i][2] %>'.split(",");
                for(var k=0;k<pid.length;k++){
                    $('.finance'+pid[k]).show();
                }
            }
        <% end %>
        }
        else if(this.name=='iCheck2'){
            $("tr").removeClass("third");
            $(".finance"+this.className).addClass("third");
            document.getElementById("q-submit").disabled=false;
        <% @financial2.each do |f| %>
            if(this.className=='<%= f.id %>'){
                selection='<%= f.pname %>';
            }
        <% end %>
        }
    });
    */
</script>