<%= stylesheet_link_tag "common2.css" %>
<%= javascript_include_tag "base.js" %>
<%= javascript_include_tag "d3.js" %>
<%= javascript_include_tag "plan.js" %>
<%= javascript_include_tag "risk.js" %>
<%= javascript_include_tag "jquery.effects.core.js" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<script>
    t0=new Date
    function onReady(fn){onReady.fns.push(fn)}
    onReady.fns=[]
</script>
<!--[if !IE]><!--><style>#questionnaire-view .angel label{padding-bottom: 7px;}</style><!--<![endif]-->
<div class="welcomes">
<div class="ofa-funnel-pages">
  <div id="page-wrapper">
    <div id="top-tabs">
      <div class="top-tabs-content">
        <b>1.</b> <span>测试您的风险承受度</span>
        <i class="separator icon-chevron-right disabled"></i> <div class="mobile"><br></div>
        <span class="disabled"><b>2.</b> <span>查看您的理财规划方案</span></span>
        <!--
        <i class="separator icon-chevron-right disabled"></i>
        <span class="disabled"><b>3.</b> <span>开通帐号</span></span>
        -->
      </div>
    </div>

    <div id="page-content">
      <div class="clearfix"></div>
      <h1>
		  看看您的风险承受度是多少？
        <div id="q-numbers"><b class="q-num curr"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b><b class="q-num"></b></div>
      </h1>

        <div id="pict" style="float:right;margin:40px 0 0 0;position:relative">
          <!-- <div id="risk-meter"></div>  -->
          <div id="container"></div>
      </div>

      <div id="questionnaire-view">
        <form id="questionnaire" action="" method="post">
          <div class="question first">
            <p class="q-text">当前的股票市场波动是非常剧烈的，如果你在该市场的投入资金在一个月内达到10%的跌幅，你会选择怎么做呢?</p>
            <label class="stacked"><input type="radio" name="response" value="sellAll" tabindex="0"><span>卖掉所有股票</span></label>
            <label class="stacked"><input type="radio" name="response" value="sellSome" tabindex="0"><span>卖掉一部分股票</span></label>
            <label class="stacked"><input type="radio" name="response" value="keepAll" tabindex="0"><span>继续持有</span></label>
            <label class="stacked"><input type="radio" name="response" value="buyMore" tabindex="0"><span>购买更多的股票</span></label>
            <div style="clear:both"></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-response"><a class="ktip-a demo-tip-yellowsimple" title=" 这个问题是评估您对资金损失的承受度。您的承受度越强，您能承受的风险就越高。您是否愿意承受风险和能够多少风险将计入您最终的风险度得分。 " target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">下列的3个假设投资计划，哪个会更符合您当前的投资需求?</p>
            <div id="q-portfolio-chart">
              <div class="q-portfolio-key">
                <div class="q-portfolio-key-i">
                  <div class="q-portfolio-key-h">Key</div>
                  <div class="q-portfolio-key-m">预期年化收益率</div>
                  <div class="q-portfolio-key-r">在当年可能出现<br>的资产变动幅度</div>
                </div>
              </div>
                <div class="q-portfolio-grid"><img src="/assets/120225.jpg" style="width: 198px;height: 128px;padding-left: 10px;"></div>
            </div>
            <br>
            <div class="q-portfolio-choices">
              <b class="q-portfolio-choice"><input type="radio" name="portfolio" value="A" tabindex="-1"></b><b class="q-portfolio-choice"><input type="radio" name="portfolio" value="B" tabindex="-1"></b><b class="q-portfolio-choice"><input type="radio" name="portfolio" value="C" tabindex="-1"></b>
            </div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-portfolio"><a class="ktip-a demo-tip-yellowsimple" title=" 这个问题是评估您为了获取较高收益率所愿意承受的波动幅度。正常情况而言，您能接受的波动幅度越大，您的风险度得分将越高。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text"> 当您准备资金进行投资时，您最在意的是哪一项指标?</p>
            <label class="stacked"><input type="radio" name="concern" value="gain" tabindex="-1"><span>最大利润</span></label>
            <label class="stacked"><input type="radio" name="concern" value="loss" tabindex="-1"><span>最小损失</span></label>
            <label class="stacked"><input type="radio" name="concern" value="both" tabindex="-1"><span>两者都很重要</span></label>
            <div style="clear:both"></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-concern"><a class="ktip-a demo-tip-yellowsimple" title=" 更关注最大利润意味着愿意承担更大的风险。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">你是否自己参与朋友、亲戚公司的公司投资，参与购买过私募资金?</p>
            <label class="stacked"><input type="radio" name="options" value="true" tabindex="-1"><span>是</span></label> &nbsp;
            <label class="stacked"><input type="radio" name="options" value="false" tabindex="-1"><span>否</span></label>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-options"><a class="ktip-a demo-tip-yellowsimple" title="主动参与私募或公司投资意味着您愿意承担更大的风险" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您当前的年纪?</p>
            <input type="text" name="age" id="age" style="width:42px;margin-right:7px;" pattern="[0-9]{1,2}" class="kform-input-text" value="" tabindex="-1">岁
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-age"><a class="ktip-a demo-tip-yellowsimple" title="您越接近退休年纪，您能承担的风险将越小。正常而言，您的平时的投资都将最终影响您的退休收入。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您手头上拥有的现金或流动资产有多少?
              <span class="subtext">(例如：银行活期存款，股票，基金，期货等)</span>
            </p>
            <p>
              <span class="kform-money"><span class="kform-money-sign">￥</span><input type="text" autocomplete="off" name="lnw" id="lnw" class="kform-input-text kform-money" pattern="[0-9,]*" style="width:100px" value="" tabindex="-1"></span>
              <span style="padding-left:13px" class="subtext">最小投资金额是 ￥5,0000.</span>
            </p>
            <p class="q-text">您资金主要放在哪家银行帐号里?</p>
            <select  name="bank" id="bank" title="银行" style="margin-left: 15px;">
              <option value="建设银行">建设银行</option>
              <option value="中国银行">中国银行</option>
              <option value="招商银行">招商银行</option>
              <option value="广发银行">广发银行</option>
              <option value="工商银行">工商银行</option>
              <option value="中信银行">中信银行</option>
              <option value="浦发银行">浦发银行</option>
              <option value="交通银行">交通银行</option>
              <option value="华夏银行">华夏银行</option>
              <option value="民生银行">民生银行</option>
              <option value="农业银行">农业银行</option>
              <option value="兴业银行">兴业银行</option>
              <option value="平安银行">平安银行</option>
            </select>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-lnw"><a class="ktip-a demo-tip-yellowsimple" title="我们将用这个资产值来均衡您的未来几年的收入和消费是否吻合，如何相差过大的话，我们将建议您承担更多的风险以获得更大的利润回报。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您预期将这笔闲余资金投资多少时间?
            </p>
            <label class="stacked"><input type="radio" name="income" value="90" tabindex="-1"><span>三个月</span></label>
            <label class="stacked"><input type="radio" name="income" value="180" tabindex="-1"><span>六个月</span></label>
            <label class="stacked"><input type="radio" name="income" value="365" tabindex="-1"><span>一年</span></label>
            <label class="stacked"><input type="radio" name="income" value="730" tabindex="-1"><span>二年</span></label>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-income"><a class="ktip-a demo-tip-yellowsimple" title="你投资的时间越长，收益率会相对越高。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您对如下哪些产品比较感兴趣?
              <span class="subtext">(可多选)</span>
            </p>
            <label class="stacked"><input type="checkbox" name="stability" value="A" tabindex="-1"><span>基金</span></label>
            <label class="stacked"><input type="checkbox" name="stability" value="B" tabindex="-1"><span>保险</span></label>
            <label class="stacked"><input type="checkbox" name="stability" value="C" tabindex="-1"><span>期货</span></label>
            <label class="stacked"><input type="checkbox" name="stability" value="D" tabindex="-1"><span>银行理财产品</span></label>
            <label class="stacked"><input type="checkbox" name="stability" value="E" tabindex="-1"><span>信托产品</span></label>
            <div style="clear:both"></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-stability"><a class="ktip-a demo-tip-yellowsimple" title="我们将根据你感兴趣的产品的风险度来判断您的承受力，一般来说，选择期货的话风险承受力会高，选择信托产品，风险承受力会较低。 " target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question angel">
            <p class="q-text">您所处的行业是?</p>
            <label class="stacked"><input type="radio" name="angel" value="true" tabindex="-1"><span>计算机/互联网/电子</span></label>
            <label class="stacked"><input type="radio" name="angel" value="A" tabindex="-1"><span>银行/保险/证券等金融机构</span></label>
            <label class="stacked"><input type="radio" name="angel" value="B" tabindex="-1"><span>生物/制药/医疗</span></label>
            <label class="stacked"><input type="radio" name="angel" value="C" tabindex="-1"><span>广告/媒体/艺术</span></label>
            <label class="stacked"><input type="radio" name="angel" value="D" tabindex="-1"><span>建筑/房地产</span></label>
            <label class="stacked"><input type="radio" name="angel" value="E" tabindex="-1"><span>人事/行政/高级管理</span></label>
            <label class="stacked"><input type="radio" name="angel" value="F" tabindex="-1"><span>咨询/法律/教育/科研</span></label>
            <label class="stacked"><input type="radio" name="angel" value="G" tabindex="-1"><span>公务员</span></label>
            <div style="clear:both"></div>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-angel"><a class="ktip-a demo-tip-yellowsimple" title="一个稳定的行业意味一个稳定的收入，意味着您能承担较高的风险。" target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>
          <div class="question">
            <p class="q-text">您会将1/4或更高比例的资金委托给我们来指导投资嘛?</p>
            <label><input type="radio" name="goal" value="true" tabindex="-1"><span>是</span></label>
            <label><input type="radio" name="goal" value="false" tabindex="-1"><span>否</span></label>
            <p class="why-do-we-ask">
              <span class="ktip-link bottomleft" id="why-ask-goal"><a class="ktip-a demo-tip-yellowsimple" title=" 您委托我们给出投资建议的资金将会是中长期投资。如果你需要资金返还越快，则意味着您不大喜欢在您的投资过程中有太大波动，这将转化为较低的风险承受力。 " target="_top">为什么我们问这个问题?</a></span>
            </p>
          </div>

          <input type="hidden" name="rec" value="0.1" tabindex="-1">
        </form>
        <div id="q-fade-t"></div>
        <div id="q-fade-b"></div>
      </div>
      <div id="q-buttons">
        <button class="q-button light-gray big-button" id="q-back" disabled="disabled">◄&nbsp; <span>上一题</span>&nbsp;</button>
        <button class="q-button orange-button big-button" id="q-next" disabled="disabled">&nbsp;下一题 &nbsp;►</button>
        <button class="q-button orange-button big-button" id="q-submit">评估结束</button>

        <p class="q-privacy">
          <span class="q-privacy-1">这是匿名的，所以你可以如实回答，</span>
          我们不会问你的身份识别信息，除非阁下在决定投资我们。
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
           $(".mobile").remove();
    }else{
        $("#erweima").remove();
        $("#container").remove();
    }
</script>

<script>
    _gaq = [["_setAccount","UA-1329988-4"],["_trackPageview"]];
    w.requestId = "1092152607";

    $(function(){
        window.onerror = function(error, url, lineNumber) {
            var payload = {"rev": "80126", "error": error, "agent": navigator.userAgent, "stack": []};

            // begin ie9 only stack trace grabbing
            var value = arguments.callee;
            for(i=0; i!=10; ++i) {
                if(value.caller) {
                    payload.stack.push(value.caller.toString());
                    value = value.caller;
                }
            }

            if (!w.jsErrors[payload]) {
                w.jsErrors[payload] = true;
                w.trackESP("ClientSideError", location.href, JSON.stringify(payload));
            }

            return false;
        }
        $.each(onReady.fns, function(i,f) {f()});
    });
</script>

<script>
    $(function() {
        var $qv = $("#questionnaire-view");
        var $qr = $("#questionnaire");
        var accountMin = 50000;
        var save = "";
        var save0 = "";
        var save1 = "";
        var save2 = "";
        var save3 = "";
        var save4 = "";
        var save5 = "";
        var save6 = "";
        var stacked = "";
        var risk="";

        $("#questionnaire-view .ktip-link").bind("tip.show", function() {
            w.trackEvent("OFA", "questionnaire_faq_show", this.id);
        });

        $("#q-numbers").delegate(".q-num.past", "click", function() {
            var $i = $qr.find(".invalid");
            if ($i.length) {
                $i.focus().select();
            } else {
                showQn($(this).index());
            }
        });

        $qr.data("vals", valsFromDom($qr.find("input")))
                .data("init", function(doCalc) {
                    $qr.data("init", function() { showQn(0, true); })
                            .keydown(function(e) {
                                if ($qr.data("transition")) {
                                    return false;
                                }
                                if (e.keyCode == 9 || e.keyCode == 13 && !e.shiftKey) {
                                    var $b = $(e.shiftKey ? "#q-back" :
                                            ("#q-next:visible" + (e.keyCode == 13 ? ",#q-submit:visible" : "")));
                                    if ($b.is(":enabled")) {
                                        e.preventDefault();
                                        $b.triggerHandler("click");
                                    }
                                }
                            })
                            .find("a[href]").attr("tabindex", "-1").end()
                            .find("input").attr("tabindex", "-1")
                            .filter("[type=radio]").click(function(e) {
                                this.focus();
                                updateButtons(e, this, true);
                                if (this.value !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                                if(this.name=='response'){save0=this.value;}
                                if(this.name=='portfolio'){save1=this.value;}
                                if(this.name=='concern'){save2=this.value;}
                                if(this.name=='options'){save3=this.value;}
                                if(this.name=='income'){save4=this.value;}
                                if(this.name=='angel'){save5=this.value;}
                                if(this.name=='goal'){save6=this.value;}
                            }).end()
                            .filter("[type=checkbox]").click(function(e) {
                                this.focus();
                                updateButtons(e, this, true);
                                if (this.value !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                                if(stacked=="") {
                                    stacked=this.value;
                                }
                                else{
                                stacked=stacked+','+this.value;
                                }
                            }).end()
                            .filter("[name=age]").each(function(){
                                // jquery does not yet support on input
                                this.oninput = function(e) {
                                    $(this).keypress();
                                }
                            }).bind("keypress keyup", function(e) {
                                var raw = this.value, val = ageFromDom(this), done = val != null;
                                $(this).toggleClass("invalid", !!raw && !done);
                                updateButtons(e, this, done);
                                if (val !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                            }).end()
                            .filter("[name=lnw]").bind("keypress keyup", function(e) {
                                var raw = this.value, val = amountFromDom(this), done = val != null && val >= accountMin;
                                $(this).toggleClass("invalid", !!raw && !done);
                                updateButtons(e, this, done);
                                if (val !== $qr.data("vals")[this.name]) {
                                    calculateRiskTol();
                                }
                                if (done && this.selectionStart === raw.length) {
                                    this.value = w.formatNum(val, 0);
                                }
                            }).blur(function() {
                                var val = amountFromDom(this);
                                if (val != null) {
                                    this.value = w.formatNum(val, 0);
                                }
                            });

                    $("#q-back,#q-next").click(function(e) {
                        var back = this.id == "q-back";
                        if (back) {
                            w.trackEvent("OFA", "questionnaire_back");
                        } else {
                            w.trackEvent("OFA", "questionnaire_next", qPayload());
                        }
                        var new_q_num = $qr.data("q") + (back ? -1 : 1);
                        showQn(new_q_num);
                    });
                    $("#q-submit").click(function(e) {
                        var returnrate=0;
                        var riskrate=0;
                        var investcycle=0;
                        var wbreedinfo="";
                        var fluctuation="";
                        var trade="";
                        var quota="";
                        save=save0+','+save1+','+save2+','+save3+','+save4+','+save5+','+save6
                        if(save.split(',')[1]=='A'){
                            returnrate=0.06;
                            riskrate=0;
                        }
                        else if(save.split(',')[1]=='B'){
                            returnrate=0.1;
                            riskrate=0.03;
                        }
                        else if(save.split(',')[1]=='C'){
                            returnrate=0.2;
                            riskrate=0.1;
                        }

                        if (save.split(',')[4]=='90'){investcycle='三个月';}
                        else if(save.split(',')[4]=='180'){investcycle='六个月';}
                        else if(save.split(',')[4]=='365'){investcycle='一年';}
                        else if(save.split(',')[4]=='730'){investcycle='二年';}

                        if (save.split(',')[0]=='sellAll'){fluctuation='卖掉所有股票';}
                        else if(save.split(',')[0]=='sellSome'){fluctuation='卖掉一部分股票';}
                        else if(save.split(',')[0]=='keepAll'){fluctuation='继续持有';}
                        else if(save.split(',')[0]=='buyMore'){fluctuation='购买更多的股票';}

                        if (save.split(',')[2]=='gain'){quota='最大利润';}
                        else if(save.split(',')[2]=='loss'){quota='最小损失';}
                        else if(save.split(',')[2]=='both'){quota='两者都很重要';}

                        if (stacked.indexOf("A")>=0){if(wbreedinfo==""){wbreedinfo="基金"}else{wbreedinfo=wbreedinfo+",基金"}}
                        if(stacked.indexOf("B")>=0){if(wbreedinfo==""){wbreedinfo="保险"}else{wbreedinfo=wbreedinfo+",保险"}}
                        if(stacked.indexOf("C")>=0){if(wbreedinfo==""){wbreedinfo="期货"}else{wbreedinfo=wbreedinfo+",期货"}}
                        if(stacked.indexOf("D")>=0){if(wbreedinfo==""){wbreedinfo="银行理财产品"}else{wbreedinfo=wbreedinfo+",银行理财产品"}}
                        if(stacked.indexOf("E")>=0){if(wbreedinfo==""){wbreedinfo="信托产品"}else{wbreedinfo=wbreedinfo+",信托产品"}}

                        if (save.split(',')[5]=='true'){trade='计算机/互联网/电子';}
                        else if(save.split(',')[5]=='A'){trade='银行/保险/证券等金融机构';}
                        else if(save.split(',')[5]=='B'){trade='生物/制药/医疗';}
                        else if(save.split(',')[5]=='C'){trade='广告/媒体/艺术';}
                        else if(save.split(',')[5]=='D'){trade='建筑/房地产';}
                        else if(save.split(',')[5]=='E'){trade='人事/行政/高级管理';}
                        else if(save.split(',')[5]=='F'){trade='咨询/法律/教育/科研';}
                        else if(save.split(',')[5]=='G'){trade='公务员';}
                        var risktolerance=risk;
                        <% if session[:webusername]!=nil %>
                        $.post("/personmanagement/personconfigajax/0",{ username:"<%= session[:webusername] %>",age: $("#age").attr("value"),risktolerance:risktolerance,bank:$("#bank").attr("value"),
                            investamount: $("#lnw").attr("value").replace(',',''),returnrate: returnrate,memberlevel:0,investcycle:investcycle,fluctuation:fluctuation,quota:quota,wbreedinfo:wbreedinfo,trade:trade,riskrate:riskrate
                        },function(data){
                              location.href='/personmanagement/share?risk='+risktolerance;
                        });
                        <% else %>
                          location.href='/personmanagement/share?risk='+risktolerance+'&save='+save+'&stacked='+stacked+'&age='+$("#age").attr("value")+'&bank='+$("#bank").attr("value")+'&investamount='+$("#lnw").attr("value").replace(',','');
                        <% end %>
                        return false
                      //  document.getElementById('questionnaire').action ="/personmanagement/personfinance";
                        w.trackEvent("OFA", "submit_questionnaire", qPayload());
                        $qr.submit();
                    });
                    function qPayload() {
                        var $n = $qr.find("input[tabindex=0]").filter(":checked");
                        if (!$n.length) {
                            $n = $n.end();
                        }
                        return $n.attr("name") + ":" + $n.val();
                    }

                    showQn(0);
                    if (doCalc) {
                        calculateRiskTol();
                    }
                });

        function showQn(i, immediately) {
            var $qns = $qr.children(".question");
            var $qn = $qns.eq(i);
            if (i >= 0 && $qn.length) {
                $qns.eq($qr.data("q")).find("input").attr("tabindex", "-1");

                $qr.data({q: i, transition: true});
                var newTop = -i * $qn.height() + "px";
              //  alert(newTop)
                if (immediately) {
                    $qr.css("top", newTop);
                }
                if (immediately || $qr.css("top") === newTop) {
                    setTimeout(onAtQn, 5);
                } else {
                    $qr.animate({"top": newTop}, onAtQn);
                }
                $("#q-back span").text(i === 0 ? "上一题" : "上一题");
                $("#q-back").attr("disabled", i == 0);

                var isLastQn = i == $qns.length - 1;
                $("#q-buttons").toggleClass("q-submit", isLastQn);

                var $i = $qn.find("input");
                var done = $i.is(":radio") ? $i.is(":checked") : !!$i.val();
                $(isLastQn ? "#q-submit" : "#q-next").attr("disabled", !done);

                $qr.trigger("qr:nav", i);

                w.trackEvent("OFA", "question_display", (i+1) + "." + $i.attr("name"));
            }

            function onAtQn() {
                $qr.removeData("transition");
                $qn.find("input").attr("tabindex", "0")
                        .filter("[checked=true],input:first").focus().select();
            }
        }

        function updateButtons(e, inputEl, isDone) {
            if (e.keyCode == 9 || e.keyCode == 13) {
                return;
            }
            var $i = $(inputEl), $q = $i.closest(".question");
            var isLastQn = $q.nextAll(".question:first").length == 0;
            $(isLastQn ? "#q-submit" : "#q-next").attr("disabled", !isDone);
            $("#q-back").attr("disabled", $i.hasClass("invalid") || $q.is(".first"));
        }

        function calculateRiskTol() {
            var min = 0.1;
            var max = 10;
            var granularity = 10.0;
            var $i = $qr.find("input");
            var vals = valsFromDom($i);
            var tol = recommendRiskTolerance2(vals, min, max, granularity);
            var rec = tol.toFixed(1);
            $i.filter("[name=rec]").val(rec);
            vals.rec = +rec;
            $qr.data("vals", vals);
            $qr.triggerHandler("qr:change", +rec);
            risk=tol;
        }
    });
</script>
<script>
    $(function() {
        var currentModelNumber = "4"; //SAA201210
        var moveMeter = attachRiskMeter("#risk-meter");

        var $n = $("#q-numbers"), $qr = $("#questionnaire"), $qs = $qr.find(".question");
        $n.find(".q-num").each(function(i) {
            if ($qs.eq(i).find("input").filter(function() {return this.type == "radio" ? this.checked : !!this.value}).length) {
                $(this).addClass("past");
            } else {
                return false;
            }
        });
        $qr.bind("qr:nav", function(e, i) {
            var $n = $("#q-numbers");
            $n.children(".q-num.curr").removeClass("curr").addClass("past");
            $n.children().eq(i).removeClass("past").addClass("curr");
        })
                .bind("qr:change", function(e, tol) {
                    moveMeter(tol / 10);
                    $(function () {
                        if(system.win||system.mac||system.xll){
                        var chart = new Highcharts.Chart({

                                    chart: {
                                        renderTo: 'container',
                                        type: 'gauge',
                                        plotBorderWidth: 1,
                                        plotBackgroundColor: {
                                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                            stops: [
                                                [0, '#FFF4C6'],
                                                [0.3, '#FFFFFF'],
                                                [1, '#FFF4C6']
                                            ]
                                        },
                                        plotBackgroundImage: null,
                                        height: 200,
                                        width: 280
                                    },

                                    title: {
                                        text: '您的风险承受度'
                                    },

                                    pane: [{
                                        startAngle: -45,
                                        endAngle: 45,
                                        background: null,
                                        center: ['50%', '145%'],
                                        size: 280
                                    }],

                                    yAxis: [{
                                        min: 0,
                                        max: 10,
                                        tickInterval: 2,
                                        minorTickPosition: 'outside',
                                        tickPosition: 'outside',
                                        labels: {
                                            rotation: 'auto',
                                            distance: 20
                                        },
                                        plotBands: [{
                                            from: 0,
                                            to: 2,
                                            color: '#09a509',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 2,
                                            to: 4,
                                            color: '#69c908',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 4,
                                            to: 6,
                                            color: '#eded07',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 6,
                                            to: 8,
                                            color: '#fa8c1e',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        },{
                                            from: 8,
                                            to: 10,
                                            color: '#C02316',
                                            innerRadius: '100%',
                                            outerRadius: '105%'
                                        }],
                                        pane: 0,
                                        title: false
                                    }],

                                    plotOptions: {
                                        gauge: {
                                            dataLabels: {
                                                enabled: false
                                            },
                                            dial: {
                                                radius: '90%'
                                            }
                                        }
                                    },
                                    series: [{
                                        data: [0],
                                        yAxis: 0
                                    }],
                                    credits: {
                                        enabled: false
                                    }
                                },

                                // Let the music play
                                function(chart) {
                                    setInterval(function() {
                                        var left = chart.series[0].points[0],
                                                leftVal;

                                        leftVal = tol;
                                        left.update(leftVal, false);
                                        chart.redraw();

                                    }, 500);

                                });
                        }
                       /* else{
                            var chart = new Highcharts.Chart({

                                        chart: {
                                            renderTo: 'container',
                                            type: 'gauge',
                                            plotBorderWidth: 1,
                                            plotBackgroundColor: {
                                                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                                stops: [
                                                    [0, '#FFF4C6'],
                                                    [0.3, '#FFFFFF'],
                                                    [1, '#FFF4C6']
                                                ]
                                            },
                                            plotBackgroundImage: null,
                                            height: 150,
                                            width: 200
                                        },

                                        title: {
                                            text: '您的风险承受度'
                                        },

                                        pane: [{
                                            startAngle: -45,
                                            endAngle: 45,
                                            background: null,
                                            center: ['50%', '145%'],
                                            size: 180
                                        }],

                                        yAxis: [{
                                            min: 0,
                                            max: 10,
                                            tickInterval: 2,
                                            minorTickPosition: 'outside',
                                            tickPosition: 'outside',
                                            labels: {
                                                rotation: 'auto',
                                                distance: 20
                                            },
                                            plotBands: [{
                                                from: 0,
                                                to: 2,
                                                color: '#09a509',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 2,
                                                to: 4,
                                                color: '#69c908',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 4,
                                                to: 6,
                                                color: '#eded07',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 6,
                                                to: 8,
                                                color: '#fa8c1e',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            },{
                                                from: 8,
                                                to: 10,
                                                color: '#C02316',
                                                innerRadius: '100%',
                                                outerRadius: '105%'
                                            }],
                                            pane: 0,
                                            title: false
                                        }],

                                        plotOptions: {
                                            gauge: {
                                                dataLabels: {
                                                    enabled: false
                                                },
                                                dial: {
                                                    radius: '90%'
                                                }
                                            }
                                        },
                                        series: [{
                                            data: [0],
                                            yAxis: 0
                                        }],
                                        credits: {
                                            enabled: false
                                        }
                                    },

                                    // Let the music play
                                    function(chart) {
                                        setInterval(function() {
                                            var left = chart.series[0].points[0],
                                                    leftVal;

                                            leftVal = tol;
                                            left.update(leftVal, false);
                                            chart.redraw();

                                        }, 500);

                                    });
                        }
                        */
                    });
                })
                .submit(function(e) {
                    e.preventDefault();
                    var $qr = $(this);
                    if (!$qr.data("submitted")) {
                        $qr.data("submitted", true);
                        var cookieName = "asset_allocation";
                        var o = deserializePlan(w.cookie(cookieName)) || {};
                        $.each($qr.serializeArray(), function(i,v) {
                            o[v.name] = v.value.replace(/[$,]/g, "");
                        });
                        o.tol = o.rec;
                        o.amount = o.amount || o.lnw;
                        var check=document.getElementsByName("stability");
                        o.stability="";
                        for(var i=0;i<check.length;i++){
                            if(check[i].checked==true){
                                if(o.stability==""){
                                    o.stability=check[i].value;
                                }
                                else{
                                    o.stability=o.stability+check[i].value;
                                }
                            }
                        }
                        w.cookie(cookieName, serializePlan(o, currentModelNumber), 14);
                        location = $qr.attr("action");
                    }
                })
                .data("init")(true);
    });
</script>

<script>
    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'center',
            alignY: 'bottom',
            offsetY: 5,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
</script>