<%= stylesheet_link_tag "home.css" %>
<%= javascript_include_tag "swfobject.js" %>

<style>
    body {
        background: none repeat scroll 0% 0% rgb(243, 243, 233)!important;
    }
        hr{
            width: 100%;
        }
</style>

<div class="main-contents present">
  <a href="/">首页</a><br><br>
  <table>
    <tr>
      <td class="lefts" style="padding-top: 10px;padding-right: 30px\9;">
        <h1 style="width: 850px; margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000">1. 梦想实现过程
          <% if session[:webusername]==nil %>
              <a id="link" class="btn pull-right" href="/sales/login?monthpay=1">梦想实现</a>
          <% else %>
              <a id="link" class="btn pull-right" href="/personmanagement/personfinance">梦想实现</a>
          <% end %>
        </h1>
        <FONT id=player1>&nbsp;</FONT>
        <SCRIPT type=text/javascript>
            var s1 = new SWFObject("/assets/flvplayer.swf","","850","600","7");
            s1.addParam("allowfullscreen","true");
            s1.addVariable("file","jieshao.mp4");
           // s1.addVariable("image","/image/shiping.jpg");
            s1.addVariable("width","850");
            s1.addVariable("height","600");
            s1.addVariable("loop","true");
            s1.addVariable("repeat", "flase");
            s1.addVariable("fontcolor","0XFFFFFF");
            s1.addVariable("autoscroll","true");
            s1.addVariable("logo","");
            s1.addVariable("autostart","false");
            s1.addVariable("smoothing","true");
            s1.write("player1");
        </SCRIPT>
        <!--
        <h1 style="width: 850px; margin-bottom: 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000">2. 客户反馈</h1>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="comments" style="width: 850px;">
          <% @comments.each do |b| %>
              <tr>
                <td rowspan="2" style="width: 200px;"></td>
                <td>
                  <p class="text2"><%= b.username%>：</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text2"> <%=raw b.comments%> </p>
                  <p><%= b.time %>&nbsp;梦想：<%= @hash[b.id][0] %>&nbsp;实现年限：<%= @hash[b.id][1] %>年&nbsp;现有储蓄：<%= @hash[b.id][2] %></p>
                  <hr>
                </td>
              </tr>
          <% end %>
        </table>
        -->
        <!-- <a class="pull-right" style="padding-right:10px;line-height: 52px;" href="/home/download/data?filename=理财师客户资产配置申请.ppt">PPT下载</a> -->
       <!--
        <h1 style="margin:50px 0 30px; padding-bottom: 20px; color: #000; border-bottom: 2px solid #000">示例</h1>
        <div style="margin: 0 10% 0 11%;">
        <p style="font-size: 18px;">王明是2012年本科毕业，现已有5万存款，月薪开销约2000元，暂时还没有买房，住在父母家，打算2年后买一辆年轻人喜欢的一汽大众高尔夫车。</p>
          <a class="pull-right" style="padding-right:10px;line-height: 52px;" href="/home/download/data?filename=短期规划方案示例.doc">短期梦想实现 下载</a><br><br>
          <p style="font-size: 18px;">licai006:已婚，小孩3岁，妻子在IT公司，家庭年税前收入30万左右，无房贷，每月开销仅限生活费3000-5000左右，目前可支配资金20万，以前投资股票和基金，亏本，理财预期年10%，可承担本金5%的亏损风险,通信行业工作6年，项目主管，典型IT男，无特别兴趣爱好,苹果手机，常去新浪财经、第一财经看新闻，用weibo，用微信，不看报纸杂志，当前没有购买银行理财产品主要是因为不了解这类产品。</p>
          <a class="pull-right" style="padding-right:10px;line-height: 52px;" href="/home/download/data?filename=中期规划方案示例.doc">中长期梦想实现 下载</a><br><br>
          <p style="font-size: 18px;">panda：已婚，小孩5岁，家庭年税前收入40万左右，无房贷，多套房，每月开销约8000-10000左右，目前可支配资金50万左右，目前投资股票、债券，预期年收益率7%，能承担极低风险。IT行业工作8年，项目经理。不愿意买银行理财产品，收益率过低。</p>
          <a class="pull-right" style="padding-right:10px;line-height: 52px;" href="/home/download/data?filename=长期规划方案示例.doc">中长期梦想实现 下载</a>
        </div>
        -->
      </td>
      <!--
      <td class="rights">
        <div style="position:relative;width: 204px;margin-left: 25px;">
          <div id="position-saver">
            <div class="faq-container">
              <p>常见疑问</p>
              <ul class="common-q">
                <li><a href="/home/afpintroduce" target="_blank">什么是国家金融规划师?</a></li>
                <li><a href="/home/apply" target="_blank">申请服务后，我的权利是什么？</a></li>
              </ul>
            </div>
          </div>
        </div>
      </td>
      -->
    </tr>
  </table>
</div>