<table class="rttableformat" >
      <tr>
        <th>套利对名称</th>
        <th>近期合约价格</th>
        <th>远期合约价格</th>
        <th>成本</th>
        <th>年化收益率</th>
        <th>历史时间</th>           
      </tr>

      <tr>
        <% @allmaxreturnrate.each do |maxreturnrate| 
           if ((maxreturnrate.firstprice>0)&&(maxreturnrate.secondprice>0)) then%>
           
              <tr>
                <td><%= maxreturnrate.pairname %></td>
                <td><%= maxreturnrate.firstprice %></td>
                <td><%= maxreturnrate.secondprice %></td>
                <td><%= maxreturnrate.cost %></td>
                <td><%= format("%.1f",maxreturnrate.returnrate*100) %> %</td>
                <td><%= maxreturnrate.currenttime.strftime("%Y年%m月%d日 %H时%M分%S秒") %></td>                    
              </tr>
            <% end %>
        <% end %>
      </tr>
  </table>