<br />
<h2> 历史最佳套利机会 </h2>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">
      <thead>
	  <tr>
        <th>套利对名称</th>
        <th>近期合约价格</th>
        <th>远期合约价格</th>
        <th>成本</th>
        <th>年化收益率</th>
        <th>历史时间</th>           
      </tr>
	  </thead>

	  <tbody>
        <% @allmaxreturnrate.each do |maxreturnrate| 
           if ((maxreturnrate.firstprice>0)&&(maxreturnrate.secondprice>0)) then%>
           
              <tr>
                <td class="center"><%= maxreturnrate.pairname %></td>
                <td class="center"><%= maxreturnrate.firstprice %></td>
                <td class="center"><%= maxreturnrate.secondprice %></td>
                <td class="center"><%= maxreturnrate.cost %></td>
                <td class="center"><%= format("%.1f",maxreturnrate.returnrate*100) %> %</td>
                <td class="center"><%= maxreturnrate.currenttime.strftime("%Y年%m月%d日 %H时%M分%S秒") %></td>                    
              </tr>
            <% end %>
        <% end %>
	   </tbody>
      <tfoot>
	  <tr>
        <th>套利对名称</th>
        <th>近期合约价格</th>
        <th>远期合约价格</th>
        <th>成本</th>
        <th>年化收益率</th>
        <th>历史时间</th>           
      </tr>
	  </tfoot>

</table>