<div class="slider2">  
  <div id="slice12dy"></div>
  </div>
<div class="StrategyNews">
<div class="StrategyNewslb"></div>
<div id="StrategyNewsb">   
    <ul>
      <li><%= link_to "无风险套利",:controller =>"autotrade",:action =>"personaltrading" %></li>
    </ul>
</div>
</div>
<div class="StrategyNewssb">
	<div class="StrategyNewssbfk"></div>
	<div id="fukuanzfb"><a href="#alipay-box" class="alipay">支付宝交付</a>
	</div>
	<div id="fukuanxj">
	<h2>现金支付</h2>
	<a>公司地址：南京市中央路323号利奥大厦1406室。</a> <br>
<a>联系人：崔伟</a> <br>
<a>联系电话：13451936496 </a><br><br>
	</div>
	<div id="fukuanyh">	<h2>银行汇款</h2>
	<a>公司全称： 南京重人软件科技有限公司</a> <br>
<a>开户帐号： 320006622018010044023 </a><br>
<a>开户银行： 交通银行 三元巷支行 </a>  <br></a>
	</div>

	<div class="buttons">
	<div class="framenext">
      <a  href="/strategy/subscribe/1"> 返回 </a>
	    </div>
	  	
    </div>
	
	</div>
</div>
<div style="float:right;width:200px;">

<div id="lixiwomen">
<h2>联系我们</h2>
<ul>
<li><a href="mailto:tongtianshun@yahoo.cn">邮件咨询</a>
</li>
<li><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=0e11d7eb43fbb81a96a1aef9dfd5628aa2e342e0575cedfc">QQ咨询</a>
</li>
<li><a href="http://widget.weibo.com/relationship/followlogin.php?uid=2858671002&refer=localhost&language=zh_cn&rnd=1342576636550">新浪微博</a>
</li>
</ul>

</div>
<div class="framerimg"></div>
</div>
<div class="container">
	<div id="content">
        <div id="alipay-box" class="login-popup">
        <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
          <div style="width: 300px;height:300px;background-color: white;">
            <h2>prealipay</h2>
            <%= image_tag("260x45.png") %> <br>
            你的订单号是：<%= @subsribe_id%>。<br>
            您会订阅一个月的 <%= @strategy.name%> 。
            <a href='<%= @alipy_url %>'><h2>=>前往支付宝付款</h2></a>
            <%= @sign %>
          </div>
		</div>
    </div>
</div>

