<%= javascript_include_tag "prototype.js" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.qtip.min.js" %>
<%= stylesheet_link_tag "jquery.qtip.min.css" %>

<br />
<h2>个性化交易 - 无风险套利 </h2>
<% if session[:webuser_name]!=nil %>
  <p> 年化收益率定制：通过设置它，您当前的期望年化收益率是<%= @strategyparam.paramvalue*100%>%，
     请修改<%= form_tag do %><%= text_field_tag :paramvalue, params[:paramvalue],:size=>10 %>%<%= submit_tag "提交"%><% end %></p>
<% end %>
	 <p>您需要更准确的计算您的套利利润吗？您可根据您个人特定的手续费等来进行行情记录及交易。</p>
<p>您嫌麻烦的话，可以使用我们系统默认的参数，你可以点击查看<%= link_to "默认交易信息",:controller => "tradeinfo",:action => "todayinfo" %></p>
<p>您不嫌麻烦的话，可以点击按钮进行
<% if session[:webuser_name]==nil %>
    <%= button_to "个性化定制",:controller=>"sessions" ,:action=>"new" %>
    <% else %>
<%= button_to "个性化定制",:controller=>"usermanagement" ,:action=>"trademanageindex" %>
 <% end %></p>