<%= javascript_include_tag "prototype.js" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.qtip.min.js" %>
<%= stylesheet_link_tag "jquery.qtip.min.css" %>



<!-- <META HTTP-EQUIV="Refresh" content="10"> -->
<style>
.mesWindow{border:#666 1px solid;background:#fff;margin:0px 0px 0px 110px;}
.mesWindowTop{border-bottom:#eee 1px solid;margin-left:5px;padding:3px;font-weight:bold;text-align:left;font-size:12px;}
.mesWindowContent{margin:4px;font-size:12px;}
.mesWindow .close{height:15px;width:40px;border:none;cursor:pointer;text-decoration:underline;background:#fff}
</style>
<!-- JS代码 -->
<script language="Javascript">
    var computearbfee = new Array();
    var computetransfee = new Array();
    var usercommodityid = new Array();
    var usertradecharge = new Array();

    var userflag=<%=session[:userflag]%>;
    if(userflag!=0)
    {
        var num=<%= session[:num]%>+1;
    <% for i in 0..session[:num] do%>
            usercommodityid[<%=i%>]='<%= session[:usercommodityid][i]%>';
    <% end%>

    usertradecharge=<%= session[:usertradecharge]%>
       }

     function loadXML(xmlString){
         var xmlDoc=null;
         if(!window.DOMParser && window.ActiveXObject){
             var xmlDomVersions = ['MSXML.2.DOMDocument.6.0','MSXML.2.DOMDocument.3.0','Microsoft.XMLDOM'];
             for(var i=0;i<xmlDomVersions.length;i++){
                 try{
                     xmlDoc = new ActiveXObject(xmlDomVersions[i]);
                     xmlDoc.async = false;
                     xmlDoc.loadXML(xmlString);
                     break;
                 }catch(e){
                 }
             }
         }
         else if(window.DOMParser && document.implementation && document.implementation.createDocument){
             try{
                 domParser = new  DOMParser();
                 xmlDoc = domParser.parseFromString(xmlString, 'text/xml');
             }catch(e){
             }
         }
         else{
             return null;
         }
         return xmlDoc;
     }

    function createxmlhttp()
     {
          xmlhttpobj = false;
          try{
			  xmlhttpobj=new ActiveXObject();
          }catch(e){
              try{
                  xmlhttpobj=new ActiveXObject("MSXML2.XMLHTTP");
              }catch(e2){
                  try{
                      xmlhttpobj=new ActiveXObject("Microsoft.XMLHTTP");
                      }catch(e3){
                      xmlhttpobj = false;
                  }
              }
          }
		  if((!xmlhttpobj)&&(window.XMLHttpRequest))
		  {
			 xmlhttpobj=new XMLHttpRequest();
		  }

          return xmlhttpobj;
     }

	function sortby(first, second){
	    if(first.value>second.value){
		   return -1;
		}else{
		   return 1;
		}
	 }
	function returnrate(id, value){ 
	  this.id = id; 
	  this.value = value; 
	}
	function MKDataState(mtcounter, isgetMKData){ 
	  this.mtcounter = mtcounter; 
	  this.isgetMKData = isgetMKData; 
	}	 

     function getAjax()
     {
         var xmlhttpobj = createxmlhttp();
         if(xmlhttpobj){
             url = document.location.href.substring(0,document.location.href.indexOf(window.document.location.pathname))+"/assets/CSpreadCostStrRunOnTime.xml";
			 xmlhttpobj.open("get",url,true);
			 xmlhttpobj.setRequestHeader("Cache-Control","no-cache");
			 xmlhttpobj.setRequestHeader("If-Modified-Since","0");
			 xmlhttpobj.setRequestHeader("Content-Type","application/x-www-form-urlencoded;charset=utf-8");  
             xmlhttpobj.send(null);			 
             xmlhttpobj.onreadystatechange=function(){
                 if(xmlhttpobj.readyState==4){
                     if(xmlhttpobj.status==200){
                         var htmlxxx = xmlhttpobj.responseText;
                         var xmldoc=loadXML(htmlxxx);
						 var elements = xmldoc.getElementsByTagName("pair");
						 if(elements.length!=0){
							 var tbs = '<table class="rttableformat">';
							 var tbttl = '<tr><th>套利合约对名</th><th>近月合约价格</th><th>远月合约价格</th><th><a title="最新价差 是远月合约价格减去近月合约价格">最新价差</a></th><th><a title="持仓成本 是您做这笔套利对交易所需要付出的成本金额。持仓成本 = 存储费用 + 交割费用 + 交易费用 + 保证金占用费用 + 交割保证金占有费用 + 增值税费用">持仓成本</a></th><th>年化收益率</th><th>更新时间</th></tr>';
                             tbs += tbttl;
							 var tbstrarray = new Array();		
							 var returnratearray = new Array();
							 for (var i = 0; i < elements.length; i++) {
                                 if(userflag==0)
                                 computetransfee[i]=parseFloat(elements[i].getElementsByTagName("computetransfee")[0].firstChild.nodeValue);
                                 else
                                 {
                                     for(var p=0;p<num;p++)
                                     {
                                         if(elements[i].getElementsByTagName("name")[0].firstChild.nodeValue.substr(0,2)==usercommodityid[p])
                                         {
                                             computetransfee[i]=usertradecharge[p];
                                             break;
                                         }
                                         else
                                         computetransfee[i]=parseFloat(elements[i].getElementsByTagName("computetransfee")[0].firstChild.nodeValue);
                                     }
                                 }

								tbstrarray[i]="<tr>";
                                 computearbfee[i] = parseFloat(elements[i].getElementsByTagName("computestoragefee")[0].firstChild.nodeValue)
                                         +parseFloat(elements[i].getElementsByTagName("computedeliverfee")[0].firstChild.nodeValue)
                                         +parseFloat(elements[i].getElementsByTagName("computetrademarginfee")[0].firstChild.nodeValue)
                                         +parseFloat(elements[i].getElementsByTagName("computedelivermarginfee")[0].firstChild.nodeValue)
                                         +parseFloat(elements[i].getElementsByTagName("computevatfee")[0].firstChild.nodeValue)
                                         +computetransfee[i];
							tbstrarray[i]+= "<td>"
									 + elements[i].getElementsByTagName("name")[0].firstChild.nodeValue + "</a></td>";
								if((elements[i].getElementsByTagName("firstprice")[0].firstChild.nodeValue>0)
									&&(elements[i].getElementsByTagName("secondprice")[0].firstChild.nodeValue>0)){
									 tbstrarray[i]+= "<td>"
										 + elements[i].getElementsByTagName("firstprice")[0].firstChild.nodeValue + "</td>";
									 tbstrarray[i]+= "<td>"
										 + elements[i].getElementsByTagName("secondprice")[0].firstChild.nodeValue + "</td>";
									 tbstrarray[i]+= "<td>"
										 + elements[i].getElementsByTagName("diffprice")[0].firstChild.nodeValue + "</td>";

                                        tbstrarray[i]+= "<td>"+ parseFloat(computearbfee[i]).toFixed(1)
                                                + "</td>";

									 tbstrarray[i]+= "<td>"
										 + (elements[i].getElementsByTagName("computerateofreturn")[0].firstChild.nodeValue*100).toFixed(1) + "% </td>";
								     returnratearray[i]=new returnrate(i,parseFloat(elements[i].getElementsByTagName("computerateofreturn")[0].firstChild.nodeValue));
								}
								else{
									 tbstrarray[i]+= "<td> -- </td>";
									 tbstrarray[i]+= "<td> -- </td>";
									 tbstrarray[i]+= "<td> -- </td>";
									 tbstrarray[i]+= "<td> -- </td>";
									 tbstrarray[i]+= "<td> -- </td>";
									 returnratearray[i]=new returnrate(i,-10000);										 
								}
								 tbstrarray[i]+= "<td>"
									 + elements[i].getElementsByTagName("time")[0].firstChild.nodeValue + "</td>";
								 tbstrarray[i]+= "</tr>";
							}
							returnratearray.sort(sortby);
							for (var i = 0; i < elements.length; i++){
							    tbs+=tbstrarray[returnratearray[i].id];
							}
							tbs+='</table>\n';
							document.getElementById("rtpricetable").innerHTML=tbs;
						}
                     }
                 }
             }
         }
     }

	function refreshMKData()
	{
		if (g_MKDataState.isgetMKData)
		{
		   getAjax();
		}	 	
	}

	function getservertime(){
	    //var xmlhttpobj = createxmlhttp();
		//xmlhttpobj.open("HEAD",location.href,false);  
        //xmlhttpobj.send(null);		
        //var st=new Date(xmlhttpobj.getResponseHeader("Date")); 
        var st=new Date(<%= "'"+(Time.now()).inspect+"'" %>);		
		return st;   

	}


	function checktimeMKTime(){
		var servertime=getservertime();
		var endtime=new Date(servertime);
		if ((servertime.getDay()!=0)&&(servertime.getDay()!=6))
		{
		    if(servertime.getHours()<9){
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(5);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);			
			}
			else if((servertime.getHours()<15)&&(servertime.getHours()>=9)){
				endtime.setHours(15);
				endtime.setMinutes(2);
				endtime.setSeconds(0);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=true;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);	
			}else{
				endtime.setDate(servertime.getDate()+1); 
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(5);	
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);				
			}
		}else{
			endtime.setDate(servertime.getDate()+1); 
			endtime.setHours(9);
			endtime.setMinutes(0);
			endtime.setSeconds(5);	
			g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
			g_MKDataState.isgetMKData=false;
			setTimeout(checktimeMKTime,g_MKDataState.mtcounter);			
		}		
	}

	var g_MKDataState=new MKDataState(3600000,true);
	checktimeMKTime();
    var g_period = new PeriodicalExecuter(refreshMKData,2.0);
	getAjax();

/*
// Define our positioning and style arrays
  var at = [
          'left bottom'
      ],
      my = [
          'right bottom'
      ],
      styles = [
          'red'
      ];
*/
// Create the tooltips only on document load

//  $(document).ready(function()
//  {
//          $('a[title]').qtip();

//          $('.ironbars')
              /*
               * Lets delete the qTip data from our target element so we can apply multiple tooltips.
               * Since the data is also stored on the tooltip element itself this isn't a problem!
               *
               * Check here for more details on this: http://craigsworks.com/projects/qtip2/tutorials/advanced/#multi
               */
/*
			   .removeData('qtip')
              .qtip({
                  content: {
                      text: '您可以调节品种手续费，享受定制化服务',
                      title: {
                          text: '请点击套利合约对名',
                          button: true
                      }
                  },
                  position: {
                      my: my[0], // Use the corner...
                      at: at[0] // ...and opposite corner
                  },
                  show: {
                      event: false, // Don't specify a show event...
                      ready: true // ... but show the tooltip when ready
                  },
                  hide: false, // Don't specify a hide event either!
                  style: {
                      classes: 'ui-tooltip-shadow ui-tooltip-' + styles[0]
                  }
              });

  });
*/
</script>
	<br />
  <% if @webuser!=nil%>
  <%= button_to "个性化手续费",:controller=>"usermanagement" ,:action=>"usertradecharge", :id=>@webuser.id%>
  <% end %>
     <div class="ironbars">
       <div id = "norisktitle">
         <h3>策略实时运行中</h3>
       </div>
       <div id = "noriskluntan">
         <a href="#remarks">我想提点意见</a>
       </div>
     </div>
	<div id ="rtpricetable">
	</div>
  <div class ="remarkstitle">
  <a name="remarks">提点意见吧?</a>
  </div>
  <div class = "newremark">
  <iframe src="../noriskmessages/new" frameborder="0" scrolling="no" height="170" width="800" marginheight="0" marginwidth="0"></iframe>
  </div>
  <div class ="remarkslist">
    <h3>所有评论</h3>
<iframe src="../noriskmessages" width="800" scrolling="no" height="700" marginheight="10" marginwidth="0" style="border:none"></iframe>
  </div>
