<style type="text/css">
    tr.even {
    	background-color: #E2E4FF;
    }
    tr.even td.sorting_1 {
    	background-color: #D3D6FF;
    }
</style>
<!-- top button -->
 <div class="buttonbars">
 <div id = "annualreturnbutton">
 <% if @webuser!=nil%>
      <%= button_to "设置期望年化收益率",:controller=>"strategy" ,:action=>"personaltrading"%>
 <% else %>
 <%= button_to "设置期望年化收益率",:controller=>"sessions" ,:action=>"new",session[:login]=>"userrateofreturn" %>
 <% end %>
 </div>
 </div>
<!-- user table -->
 <% if @webuser!=nil%>
    <div class="ironbars">
      <div id = "norisktitle"><h3>符合您年化收益率的行情记录</h3></div>
	</div>
    <div id="rtpricetable_user"></div>
<% end %>
<!-- default table -->
    <div class="ironbars">
  <div id = "norisktitle"><br><h3>策略实时运行中</h3></div>
  <div id = "noriskluntan"><a href="#remarks">我想提点意见</a></div>
      </div>
<div id ="rtpricetable"></div>
<!-- noriskmessage -->
<br>
<div class ="remarkstitle">
 <a name="remarks">提点意见吧?</a>
 </div>
 <div class = "newremark">
 <iframe src="../noriskmessages/new" frameborder="0" scrolling="no" height="170" width="800" marginheight="0" marginwidth="0"></iframe>
 </div>
 <div class ="remarkslist">
   <h3>所有评论</h3>
<iframe name="iframe_index" src="../noriskmessages" width="800" scrolling="no" height="700" marginheight="10" marginwidth="0" style="border:none"></iframe>
 </div>
<!-- JavaScript -->
<script type="text/javascript">
    //table data storage (2D array)
    var tabledata= new Array([0,0,0,0,0,0,0]);
    var tabledata_user= new Array([0,0,0,0,0]);
    var tabledata_user_f= new Array([0,0,0,0,0]);
    //xml array
    var xml_arr=new Array();
    var rtxml_arr=new Array();
    //click action
    function click_f(name,firstprice,secondprice,disprice,computearbfee,returnrate,time)
    {
        this.name=name;
        this.firstprice=firstprice;
        this.secondprice=secondprice;
        this.disprice=disprice;
        this.computearbfee=computearbfee;
        this.returnrate=returnrate;
        this.time=time;
    }
    var click=new Array();
    function  myclick(s)
    {
        alert("套利合约对名："+click[s].name+". 近月合约价格："+click[s].firstprice
                +" .远月合约价格："+click[s].secondprice+" .最新价差："+click[s].disprice
                +" .持仓成本："+click[s].computearbfee+" .年化收益率："+click[s].returnrate+" .更新时间："+click[s].time);
    }
    //stg010001
    var stg010001_username = new Array();
    var stg010001_pairname = new Array();
    var stg010001_time = new Array();
    var stg010001_returnrate = new Array();
    var myDate = new Array();
    <% for i in 0..@stg010001.size-1 do%>
        stg010001_username[<%=i%>]='<%= @stg010001[i].username%>';
        stg010001_pairname[<%=i%>]='<%= @stg010001[i].pairname%>';
        stg010001_time[<%=i%>]='<%= @stg010001[i].time.strftime("%Y年%m月%d日 %H时%M分%S秒")%>';
        stg010001_returnrate[<%=i%>]='<%= @stg010001[i].returnrate%>';
    <% end%>
    //JS Date format
    Date.prototype.format = function(format)
        {
            var o = {
            "M+" : this.getMonth()+1, //month
            "d+" : this.getDate(),    //day
            "h+" : this.getHours(),   //hour
            "m+" : this.getMinutes(), //minute
            "s+" : this.getSeconds(), //second
            "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
            "S" : this.getMilliseconds() //millisecond
            }
            if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
            (this.getFullYear()+"").substr(4 - RegExp.$1.length));
            for(var k in o)if(new RegExp("("+ k +")").test(format))
            format = format.replace(RegExp.$1,
            RegExp.$1.length==1 ? o[k] :
            ("00"+ o[k]).substr((""+ o[k]).length));
            return format;
        }
    //交易费用修改
    var computearbfee = new Array();
    var computetransfee = new Array();
    //userchange
    function userchange_f(commodityid,tradecharge)
    {
        this.commodityid=commodityid;
        this.tradecharge=tradecharge;
    }
    var userchange=new Array();
    //实际年化收益率
    var computerateofreturn = new Array();
    //总资金
    var funds = new Array();
    //交割保证金占用成本 delivermarginfee
    var delivermarginfee = new Array();
    //交易保证金占用成本 trademarginfee
    var trademarginfee = new Array();
    //存储费用 storagefee
    var storagefee = new Array();
    //交割费用
    var deliverfee = new Array();
    //增值税费用
    var vatfee = new Array();
    //db (default user)
    function db_f(commodityid,lendrate,tradecharge,trademargingap)
    {
        this.commodityid=commodityid;
        this.lendrate=lendrate;
        this.tradecharge=tradecharge;
        this.trademargingap=trademargingap;
    }
    var db=new Array();
    var defaultdb_num=<%= @defaultdb_num%>;
<% for i in 0..@defaultdb_num-1 do%>
    <% if @webuser==nil%>
    db[<%=i%>]=new db_f('<%= @defaultdb[i].commodityid%>',<%= @defaultdb[i].lendrate%>,<%= @defaultdb[i].tradecharge%>,<%= @defaultdb[i].trademargingap%>);
    <% else%>
    db[<%=i%>]=new db_f('<%= @userdb[i].commodityid%>',<%= @userdb[i].lendrate%>,<%= @defaultdb[i].tradecharge%>,<%= @userdb[i].trademargingap%>);
    <% end%>
<% end%>
    //flag
    var userflag=<%=@userflag%>;
    //定制服务初始化
    if(userflag!=0)
    {
    var tradechargechange_num=<%= @tradechargechange_num %>;
    <% for i in 0..@tradechargechange_num-1 do%>
        userchange[<%=i%>]=new userchange_f('<%= @userchange[i].commodityid%>',<%= @userchange[i].tradecharge%>);
    <% end%>
    var userdb_num=<%= @userdb_num%>;
         //the new table var
       }
    <% if @webuser!=nil&&@strategyparam!=nil%>
    var userrateofreturn = <%= @strategyparam.paramvalue%>;
    var userrateofreturn_first = new Array();
    var userrateofreturn_first_flag = new Array(20);
    for(var i=0;i<userrateofreturn_first_flag.length-1;i++)
    {
        userrateofreturn_first_flag[i]=0;
    }
    <% end %>
    //MKDataState
	function MKDataState(mtcounter, isgetMKData){ 
	  this.mtcounter = mtcounter; 
	  this.isgetMKData = isgetMKData; 
	}	 
    //formatted-num
    jQuery.fn.dataTableExt.oSort['formatted-num-asc'] = function(a,b) {
    /* Remove any formatting */
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        /* Parse and return */
        return parseFloat(x) - parseFloat(y);
    };
    jQuery.fn.dataTableExt.oSort['formatted-num-desc'] = function(a,b) {
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        return parseFloat(y) - parseFloat(x);
    };
    //getxml
    function getxml()
    {
        var xml_elements;
        $.ajaxSetup({
              async: false
              });
        $.get(document.location.href.substring(0,document.location.href.indexOf(window.document.location.pathname))+"/assets/CSpreadCostPairs.xml",
                function(data){
                    xml_arr=xml2array(data);
                        getAjax();
        });
    }
    //getAjax
     function getAjax()
     {
         $.ajaxSetup({
             async: false
         });
         $.get(document.location.href.substring(0,document.location.href.indexOf(window.document.location.pathname))+"/assets/CSpreadCostStrRunOnTime.xml",
                 function(data){
                     rtxml_arr=xml2array(data);
                     var elements=data.getElementsByTagName("pair");
						 if(elements.length!=0){
                             //original
							 for (var i = 0; i < elements.length; i++) {
                         function db_c(q)
                                         {
                             vatfee[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']))*parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])
                                     *parseFloat(xml_arr['pairsattr']['pair'][i]['vatrate'])/(1+parseFloat(xml_arr['pairsattr']['pair'][i]['vatrate']));
                                             //交割费用
                             deliverfee[i]=parseFloat(xml_arr['pairsattr']['pair'][i]['deliverchargebyhand'])*2;
                                             //存储费用
                             storagefee[i]=parseFloat(xml_arr['pairsattr']['pair'][i]['storagedailyfee'])*(parseFloat(xml_arr['pairsattr']['pair'][i]['D2'])-parseFloat(xml_arr['pairsattr']['pair'][i]['D1']))
                                             //交易费用
                             computetransfee[i]=db[q].tradecharge*2;
                                             //总资金
                             funds[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])+(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*(parseFloat(xml_arr['pairsattr']['pair'][i]['secondmarginrate'])+db[q].trademargingap)))*parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit']);
                                             //交易保证金占用成本
                             if(parseFloat(xml_arr['pairsattr']['pair'][i]['issinglemargin'])==1)
                                             {
                                 trademarginfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])
                                         *parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])*(parseFloat(xml_arr['pairsattr']['pair'][i]['firstmarginrate'])+db[q].trademargingap)*db[q].lendrate*parseFloat(xml_arr['pairsattr']['pair'][i]['D1'])/365
                                         +parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])
                                         *parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])*(parseFloat(xml_arr['pairsattr']['pair'][i]['firstmarginrate'])+db[q].trademargingap)*db[q].lendrate*(parseFloat(xml_arr['pairsattr']['pair'][i]['D2'])-parseFloat(xml_arr['pairsattr']['pair'][i]['D1']))/365
                                             }
                                 else
                                 {
                                     trademarginfee[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])
                                             *parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])*(parseFloat(xml_arr['pairsattr']['pair'][i]['firstmarginrate'])+db[q].trademargingap)+parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])
                                             *parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])*(parseFloat(xml_arr['pairsattr']['pair'][i]['secondmarginrate'])+db[q].trademargingap))*db[q].lendrate*parseFloat(xml_arr['pairsattr']['pair'][i]['D1'])/365
                                             +parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])
                                             *parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])*(parseFloat(xml_arr['pairsattr']['pair'][i]['secondmarginrate'])+db[q].trademargingap)*db[q].lendrate*(parseFloat(xml_arr['pairsattr']['pair'][i]['D2'])-parseFloat(xml_arr['pairsattr']['pair'][i]['D1']))/365
                                             }
                                             //默认交割保证金占用成本
                             delivermarginfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])
                                     *parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])*db[q].lendrate*(parseFloat(xml_arr['pairsattr']['pair'][i]['D2'])-parseFloat(xml_arr['pairsattr']['pair'][i]['D1']))/365;
                                         }
                          //默认用户
                          if(userflag==0)
                                     {
                              //默认所有计算
                              for(var q=0;q<defaultdb_num-1;q++)
                              {
                                  if(rtxml_arr['pairstrade']['pair'][i]['name'].substr(0,2)==db[q].commodityid)
                                  {
                                      db_c(q);
                                             break;
                                         }
                                         //内容同上
                                  else if(rtxml_arr['pairstrade']['pair'][i]['name'].substr(0,1)==db[q].commodityid)
                                         {
                                      db_c(q);
                                             break;
                                         }
                                 }
                                 }
                                 //用户
                                 else
                                 {
                                     //所有计算
                                     for(var q=0;q<userdb_num-1;q++)
                                     {
                                  if(rtxml_arr['pairstrade']['pair'][i]['name'].substr(0,2)==db[q].commodityid)
                                         {
                                      db_c(q);
                                             break;
                                         }
                                         //内容同上
                                  else if(rtxml_arr['pairstrade']['pair'][i]['name'].substr(0,1)==db[q].commodityid)
                                         {
                                      db_c(q);
                                             break;
                                         }
                                     }
                                     //交易费用修改（user）
                                     for(var p=0;p<tradechargechange_num;p++)
                                     {
                                  if(rtxml_arr['pairstrade']['pair'][i]['name'].substr(0,2)==userchange[p].commodityid)
                                         {
                                      computetransfee[i]=userchange[p].tradecharge*2;
                                             break;
                                         }
                                  else if(rtxml_arr['pairstrade']['pair'][i]['name'].substr(0,1)==userchange[p].commodityid)
                                         {
                                      computetransfee[i]=userchange[p].tradecharge*2;
                                             break;
                                         }
                                         else
                                      computetransfee[i]=db[q].tradecharge*2;
                                     }
                                 }
                         computearbfee[i] = storagefee[i]+deliverfee[i]+trademarginfee[i]+delivermarginfee[i]+vatfee[i]+computetransfee[i];
                                 //年化收益率计算
                         computerateofreturn[i]=((parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']))
                                 *parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit'])-computearbfee[i])*365/(funds[i]*parseFloat(xml_arr['pairsattr']['pair'][i]['D2']))
                         if((elements[i].getElementsByTagName("firstprice")[0].firstChild.nodeValue>0)&&(rtxml_arr['pairstrade']['pair'][i]['secondprice']>0))
                         {
                             tabledata[i]=[rtxml_arr['pairstrade']['pair'][i]['name'],
                                 rtxml_arr['pairstrade']['pair'][i]['firstprice'],
                                 rtxml_arr['pairstrade']['pair'][i]['secondprice'],
                                 (parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])),
                                        parseFloat(computearbfee[i]).toFixed(1),
                                        (computerateofreturn[i]*100).toFixed(1),
                                 rtxml_arr['pairstrade']['pair'][i]['time']];
								}
                         else
                         {
                                    tabledata[i]=[elements[i].getElementsByTagName("name")[0].firstChild.nodeValue,"--","--","--","--","--","--"]
								}
							}
                         $(document).ready(function()
                         {
                                 $('#rtpricetable').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="default"></table>');
                                 $('#default').dataTable( {
                                         "aaData": tabledata,
                                         "aaSorting": [[5,"desc"]],
                                         "bPaginate": false,
                                        "aoColumns": [
                                             { "sTitle": "套利合约对名", "sClass": "center" },
                                             { "sTitle": "近月合约价格", "sClass": "center" },
                                             { "sTitle": "近月合约价格", "sClass": "center" },
                                             { "sTitle": "最新价差", "sClass": "center" },
                                             { "sTitle": "持仓成本", "sClass": "center" },
                                      { "sTitle": "年化收益率", "sType": "formatted-num","sClass": "center","fnRender":function(obj)
                                      {
                                                         var sReturn = obj.aData[ obj.iDataColumn ];
                                                         if ( sReturn >=0 )
                                                         {
                                                             sReturn = "<font color='red'>"+sReturn+"%</font>";
                                                         }
                                                         else
                                                             sReturn = "<font color='green'>"+sReturn+"%</font>";
                                                           return sReturn;
							}
                                             },
                                             { "sTitle": "更新时间", "sClass": "center" }
                                         ] ,
                                 "bFilter": false,//"bRetrieve":true
                                     "bStateSave": true
                                     } );
                                 } );
                             //user table
                             if(userflag!=0)
                             {
                             //user table
                             for (var i = 0; i < elements.length; i++)
                             {
                                 // db set
                                 if(computerateofreturn[i]>userrateofreturn && userrateofreturn_first_flag[i]==0)
                                 {
                                     var datatime=new Date()
                                     myDate[i]=datatime.format("yyyy年MM月dd日 hh时mm分ss秒");
                                     userrateofreturn_first[i]=computerateofreturn[i];
                                     userrateofreturn_first_flag[i]=1;
                                     if(stg010001_pairname=='')
                                     {
                                         $.get("shownorisk", { pairname: rtxml_arr['pairstrade']['pair'][i]['name'], returnrate: userrateofreturn_first[i] } );
                                     }
                                     else
                                     {
                                         var flag_db=0;
                                     for(var j=0;j<stg010001_pairname.length;j++)
                                         {
                                             if(stg010001_pairname[j]==rtxml_arr['pairstrade']['pair'][i]['name'])
                                                 flag_db=flag_db+1;
                                         }
                                         if(flag_db==0)
                                         {
                                             $.get("shownorisk", { pairname: rtxml_arr['pairstrade']['pair'][i]['name'], returnrate: userrateofreturn_first[i] } );
                                         }
                                     }
                                  }
                             }
                             //show set
                             if(stg010001_username=='')
                             {
                                 for (var i = 0; i < elements.length; i++)
                                 {
                                 if(computerateofreturn[i]>userrateofreturn|| userrateofreturn_first[i]>userrateofreturn)
                                 {
                                         click[i]=new click_f(rtxml_arr['pairstrade']['pair'][i]['name'],
                                                 rtxml_arr['pairstrade']['pair'][i]['firstprice'],
                                                 rtxml_arr['pairstrade']['pair'][i]['secondprice'],
                                                 parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']),
                                                 parseFloat(computearbfee[i]).toFixed(1),
                                                 (computerateofreturn[i]*100).toFixed(1),
                                                 rtxml_arr['pairstrade']['pair'][i]['time']);
                                         tabledata_user[i]=[rtxml_arr['pairstrade']['pair'][i]['name'],(userrateofreturn_first[i]*100).toFixed(1)+"%",myDate[i],
                                         (computerateofreturn[i]*100).toFixed(1)+"%",'<a href="#" onclick="myclick('+i+')">查看</a>'];
                                 }
                             }
                             }
                             else//not empty
                             {
                                 var displayed = new Array();
                                 var displaynum=0;
                                 for (var j = 0; j <stg010001_pairname.length; j++)
                                 {
                                     for (var i = 0; i < elements.length; i++)
                                     {
                                         if(elements[i].getElementsByTagName("name")[0].firstChild.nodeValue==stg010001_pairname[j])
                                         {
                                             displayed[displaynum]=stg010001_pairname[j];
                                             click[j]=new click_f(rtxml_arr['pairstrade']['pair'][i]['name'],
                                                     rtxml_arr['pairstrade']['pair'][i]['firstprice'],
                                                     rtxml_arr['pairstrade']['pair'][i]['secondprice'],
                                                     parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']),
                                                     parseFloat(computearbfee[i]).toFixed(1),
                                                     (computerateofreturn[i]*100).toFixed(1),
                                                     rtxml_arr['pairstrade']['pair'][i]['time']);
                                             tabledata_user[j]=[displayed[displaynum],(stg010001_returnrate[j]*100).toFixed(1)+"%",stg010001_time[j],
                                                 (computerateofreturn[i]*100).toFixed(1)+"%" ,'<a href="#" onclick="myclick('+j+')">查看</a>']
                                             displaynum=displaynum+1;
                                         }
                                     }
                                 }
                                 //rebuild
                                 for (var i = 0; i < elements.length; i++)
                                 {
                                     var displayflag=0;
                                     if(computerateofreturn[i]>userrateofreturn|| userrateofreturn_first[i]>userrateofreturn)
                                     {
                                         for(var s=0;s<displaynum;s++)
                                         {
                                             if(displayed[s]==rtxml_arr['pairstrade']['pair'][i]['name'])
                                             {
                                                 displayflag=displayflag+1;
                                             }
                                         }
                                         if(displayflag==0)
                                         {
                                             click[i]=new click_f(rtxml_arr['pairstrade']['pair'][i]['name'],
                                                     rtxml_arr['pairstrade']['pair'][i]['firstprice'],
                                                     rtxml_arr['pairstrade']['pair'][i]['secondprice'],
                                                     parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']),
                                                     parseFloat(computearbfee[i]).toFixed(1),
                                                     (computerateofreturn[i]*100).toFixed(1),
                                                     rtxml_arr['pairstrade']['pair'][i]['time']);
                                             tabledata_user[displaynum+i]=[rtxml_arr['pairstrade']['pair'][i]['name'],(userrateofreturn_first[i]*100).toFixed(1)+"%",myDate[i],
                                                 (computerateofreturn[i]*100).toFixed(1)+"%",'<a href="#" onclick="myclick('+i+')">查看</a>'];
                                         }
                                     }
                                 }
                             }
                                 for(var k=0,s=0;k<tabledata_user.length;k++){
                                     if(tabledata_user[k]!=null&&tabledata_user[k][0]!=0)
                                     {
                                         tabledata_user_f[s]=tabledata_user[k];
                                         s=s+1;
                                     }
                                 }
                                 $(document).ready(function() {
                                     $('#rtpricetable_user').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="user"></table>');
                                     $('#user').dataTable( {
                                             "aaData": tabledata_user_f,
                                             "aaSorting": [[3,"desc"]],
                                         "bPaginate": false, "bAutoWidth": false,
                                            "aoColumns": [
                                                 { "sTitle": "合约号", "sClass": "center" },
                                                 { "sTitle": "下单年化收益率","sType": "formatted-num", "sClass": "center" },
                                                 { "sTitle": "下单时间", "sClass": "center" },
                                                 { "sTitle": "最新年化收益率", "sType": "formatted-num","sClass": "center" },
                                                 { "sTitle": "操作", "sClass": "center" }
                                             ] ,
                                     "bFilter": false//"bRetrieve":true,//"bDestroy": true,//"bStateSave": true
                                         } );
                                     } );
                             }
						};
                     setTimeout(refreshMKData,2000);} )
						}
	function refreshMKData()
	{
		if (g_MKDataState.isgetMKData)
		{
		   getAjax();
		}	 	
	}
	function getservertime(){
        var st_a;
        $.ajaxSetup({
              async: false
              });
        $.getJSON("shownorisk",{gettime:"gettime"},callback)
          function callback(data,status)
          {
              var str=data.substr(0,10)+" "+data.substr(11,8);
        var st=new Date(str.replace(/-/g, "\/"));
             st_a=st
          }
		return st_a;
	}
	function checktimeMKTime(){
		var servertime=getservertime();
		var endtime=new Date(servertime);
		if ((servertime.getDay()!=0)&&(servertime.getDay()!=6))
		{
		    if(servertime.getHours()<9){
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(5);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);			
			}
			else if((servertime.getHours()<15)&&(servertime.getHours()>=9)){
				endtime.setHours(15);
				endtime.setMinutes(2);
				endtime.setSeconds(0);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                $.ajaxSetup({
                    async: false
                });
                getxml();
                g_MKDataState.isgetMKData=true;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);	
			}else{
				endtime.setDate(servertime.getDate()+1); 
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(5);	
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);				
			}
		}else{
			endtime.setDate(servertime.getDate()+1); 
			endtime.setHours(9);
			endtime.setMinutes(0);
			endtime.setSeconds(5);	
			g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
			g_MKDataState.isgetMKData=false;
			setTimeout(checktimeMKTime,g_MKDataState.mtcounter);			
		}		
	}
    getxml();
	var g_MKDataState=new MKDataState(3600000,true);
	checktimeMKTime();
</script>
