<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "highcharts.js" %>

<style>
    #result td,#result th{
        width: 20%;
    }
</style>

<div class="welcomes">
  <%= render "side" %>
  <div id="page-content">
    <h1>理财目标实现
      <a class="btn btn-primary btn-large pull-right" style="margin-bottom: 10px;" href="/userfinanceplanexe/p5s2_salary_allocate_month">下一步：理财规划执行</a>
    </h1>
    <div class="tablet">
      <div class="row-fluid">
        <div class="span6">
          <div class="mleft">
            <% if @targets!=nil %>
                <p class="q-text">您的理财目标是在<%= @targets.user_target_period %>年内，积蓄<%= (@targets.user_target_value*10000).to_i %>元，用来实现您的<%= @targets.user_target %>计划。</p>
            <% end %>
            <% if @targets!=nil && @asset_account*@targets.user_target_period>=@targets.user_target_value*10000 %>
                <p class="q-text">恭喜您，按照您现在的资产配置，您应该可以在这个时间段内实现您的理财目标。</p>
            <% else %>
                <p class="q-text">很遗憾，根据您现在的资产配置，您很难在这个时间段内实现您的理财目标。<br>您有如下选择：</p>
                <div class="row-fluid">
                  <div class="span9"><p class="q-text">1、延期理财目标的实现。</p></div>
                  <div class="span3"><a class="pull-right" href="/usertargets/p2s1_user_target_select">开始</a></div>
                </div>
                <div class="row-fluid">
                  <div class="span9"><p class="q-text">2、理财目标的价值可以稍微调整些。</p></div>
                  <div class="span3"><a class="pull-right" href="/usertargets/p2s1_user_target_select">开始</a></div>
                </div>
                <div class="row-fluid">
                  <div class="span9"><p class="q-text">3、每月应该可以再多节省点钱。</p></div>
                  <div class="span3"><a class="pull-right" href="/usersurvey/p1s2_cash_flow_statement_month">开始</a></div>
                </div>
                <div class="row-fluid">
                  <div class="span9"><p class="q-text">4、投资风格可以更加激进点。</p></div>
                  <div class="span3"><a class="pull-right" href="/userfinanceplan/p4s2_highprofit_fund">开始</a></div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="span5 offset1">
          <p class="q-text" style="text-align: center;">资产增值图</p>
          <div id="container" style="width: 100%;height: 300px;"></div>
        </div>
      </div>
    </div>
    <h1></h1>
    <a class="btn btn-primary btn-large pull-right" style="margin-right: 20px;" href="/userfinanceplanexe/p5s2_salary_allocate_month">下一步：理财规划执行</a>
  </div>
</div>

<script>
    $(document).ready(function(){
        var dataarray=new Array();
        var dataarray1=new Array();
        <% if @targets!=nil %>
        <% for k in 0..@targets.user_target_period-1 %>
        dataarray.push(<%= @date.to_i+k+1 %>);
        dataarray1.push(<%= @asset_account*(k+1) %>);
        <% end %>
        <% end %>
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: false
            },
            subtitle: {
                text: false
            },
            xAxis: {
                categories: dataarray ,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '金额'
                },
                labels:{
                    formatter: function() {
                        return this.value
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{point.y} '
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                data: dataarray1
            }],
            credits: {
                enabled: false
            }
        });
    });
</script>