<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "highcharts.js" %>

<style>
    #page-content .mleft {
        margin-left: 40px;
    }
</style>

<div class="welcomes">
  <%= render "side" %>
  <div id="page-content">
    <h1>应急基金准备</h1>
    <div class="tablet">
      <div class="row-fluid">
        <div class="span7">
          <h2><span>1</span>原因：</h2>
          <div class="mleft">
            <p class="q-text">为您的家庭建设安全保护网，以防突发事件、以防失业是建立应急基金的重要原因，点击查看更详细的原因。</p>
            <p class="plink"><a class="introduce pull-left" href="#myModal" role="button" data-toggle="modal">我真的需要应急基金吗？</a></p>
          </div>
          <h2><span>2</span>金额：</h2>
          <div class="mleft">
            <p class="q-text">经典理财观念认为，我们应该在应急基金中储备相当于3-6个月家庭生活必要开支的资金金额，因为失业后找到一份新工作可能就需要这么长的时间。对于您而言，您每个月必要开销是<%= @userdatamonth.must_expense_month %>元，所以我们建议您的应急基金应储蓄<%= @userdatamonth.must_expense_month*3 %>元左右。</p>
          </div>
          <h2><span>3</span>投资产品：</h2>
          <div class="mleft">
            <p class="q-text">根据经验，应急基金应该由流动性很强的投资产品组成，在当前，最合适的就是货币基金。这是因为货币基金的赎回方式最迟也是隔天取现，另外就是它的投资风险相对来说是当前市面上非常非常低的。</p>
          </div>
          <h2><span>4</span>资金分配：</h2>
          <div class="mleft">
            <p class="q-text">我们建议您将<%= @userdatamonth.must_expense_month %>元作为现金、银行活期存款放在身边，增加您的安全感，另外的<%= @userdatamonth.must_expense_month*2 %>元，用来购买货币基金。</p>
          </div>
          <h2><span>5</span>投资计划：</h2>
          <div class="mleft">
            <div id="container2" style="width: 100%;height: 200px;"></div>
            <% if @userbanlance!=nil &&  @userplanedbalance!=nil && @userbanlance.asset_fluid_account!=nil && @userplanedbalance.asset_planed_fluid_account!=nil %>
                <% if @userbanlance.asset_fluid_account>@userplanedbalance.asset_planed_fluid_account %>
                    <p class="q-text">您当前的流动性资金为<%= @userbanlance.asset_fluid_account %>元,高于理想的<%= @userplanedbalance.asset_planed_fluid_account %>元，应急资金一般收益率都比较低，我们建议您将这<%= @userbanlance.asset_fluid_account-@userplanedbalance.asset_planed_fluid_account %>元赎出来，用作其他（稳健收益资产、高收益资产）的投资。</p>
                <% else %>
                    <p class="q-text">您当前的流动性资金为<%= @userbanlance.asset_fluid_account %>元,低于理想的<%= @userplanedbalance.asset_planed_fluid_account %>元，由于应急资金对于家庭的重要性，我们建议您将其他（稳健收益资产、高收益资产）投资中拨款到应急资金中。如果拨款不够的话，您将每月从工资中抽取一部分资金进来，知道充满应急资金池。</p>
                <% end %>
            <% end %>
            <table id="firstyear" class="table table-striped table-bordered">
              <thead>
              <tr><th>日期</th><th>现金/活期（元）</th><th>货币基金（元）</th></tr>
              </thead>
              <% for i in 0..@userplanmonth.size-1 do %>
                  <% if i==0 || @hash1[i][0]>0 || @hash2[i][0]>0 %>
                      <tr>
                        <td><%= @userplanmonth[i].date %></td>
                        <td>
                            +<%= @hash1[i][0] %>
                        </td>
                        <td>
                            +<%= @hash2[i][0] %>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
            </table>
            <% if @link==0 %>
                <a class="btn btn-primary btn-large" href="/userfinanceplan/p4s1_Emergency_fund_selection">开 始 应 急 基 金 准 备</a>
             <% else %>
                <a class="btn btn-primary btn-large" href="/userfinanceplan/p4s2_highprofit_fund">开 始 应 急 基 金 准 备</a>
             <% end %>
           </div>
        </div>
        <div class="span4 offset1">
          <div id="container" style="width: 100%;height: 200px;"></div>
          <p class="q-text">15年内应急基金情况</p>
          <table id="oneyear" class="table table-striped table-bordered">
            <thead>
            <tr><th>日期</th><th>应急基金金额</th></tr>
            </thead>
            <% for i in 0..14 %>
                <tr>
                  <td><%= @date.to_i+i %></td>
                  <td><%= @hash[i][0] %></td>
                </tr>
            <% end %>
          </table>
          <% if @link==0 %>
              <a class="btn btn-primary btn-large" href="/userfinanceplan/p4s1_Emergency_fund_selection">开 始 应 急 基 金 准 备</a>
          <% else %>
              <a class="btn btn-primary btn-large" href="/userfinanceplan/p4s2_highprofit_fund">开 始 应 急 基 金 准 备</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= @blog.btitle %></h3>
  </div>
  <div class="modal-body">
    <% if @blog!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%= @blog.imagepath %>"><br><br>
        <%=raw @blog.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<script>

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: false
        },
        tooltip: {
            pointFormat: '{point.y} '
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    distance: 10,
                    connectorColor: '#000000',
                    formatter:function(index) {
                        if(this.point.percentage>0){
                            var str=this.point.name,str1,aa='';
                            for(var i=0,len=str.length/4;i<len;i++) {
                                str1 = str.substr(0,4);
                                str = str.replace(str1,'');
                                if(i==0){aa=str1}
                                else{aa=aa+"<br>"+str1}
                            }
                            return  '<span>'+aa + ':<br>'+this.point.y+'元</span>';
                        }
                    }
                },
                showInLegend: true,
                size: 120,
                borderWidth: 0
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [["货币基金",<%= @userdatamonth.must_expense_month*2 %>],["现金",<%= @userdatamonth.must_expense_month %>]]
        }],
        legend: false,
        credits: {
            enabled: false
        }
    });
    $(function () {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container2',
                type: 'column'
            },

            title: {
                text:false
            },

            xAxis: {
                categories: ['现在', '规划']
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: '金额'
                },
                labels:{
                    formatter: function() {
                        return this.value
                    }
                }
            },

            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                            this.series.name +': '+ this.y +'<br/>'
                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: [{
                name: '现金、活期存款',
                data: [<%= @array[0] %>,<%= @array[1] %>],
                stack: 'first'
            }, {
                name: '货币基金',
                data: [<%= @array[2] %>,<%= @array[3] %>],
                stack: 'second'
            }]  ,
            legend: {
                verticalAlign: 'top'
            },
            credits: {
                enabled: false
            }
        });
    });
</script>