<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= stylesheet_link_tag "common2.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "jquery.dataTables.columnFilter.js" %>
<%= javascript_include_tag "dataTables.bootstrap.js" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<%= javascript_include_tag "productchoose.js" %>

<div class="welcomes summary">
  <%= render "side" %>
  <div id="page-content">
    <h1>应急基金产品选择</h1>
    <div class="tablet">
      <h2>产品选择：</h2>
      <div class="mleft">
        <p class="q-text">下面的表格是市面上的货币基金信息，您可以根据您的个人情况，进行产品筛选，<br>您将把<%= @userdatamonth.must_expense_month*2 %>元投入到您选择的货币基金产品中去。</p>
        <%= render "/bankinvest/product" %>
        <table id="liudong" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>产品名</th>
            <th>万份收益(元)<br><a class="introduce" href="#myModal" role="button" data-toggle="modal">(?)</a></th>
            <th>7日年化收益率<br><a class="introduce" href="#myModal2" role="button" data-toggle="modal">(?)</a></th>
            <th>起购金额</th>
            <th class="hide">基金规模<br>(亿元)</th>
            <th>成立时间</th>
            <th class="hide">时间差</th>
            <th>近一年(%)</th>
            <th class="hide">近1年排名</th>
            <th>近1年排名</th>
            <th>近三年(%)</th>
            <th class="hide">近3年排名</th>
            <th>近3年排名</th>
            <th>选择</th>
          </tr>
          </thead>
          <% @monetary.each do |f| %>
              <tr id="nan<%= f.id %>" class="finan<%= f.id %>">
                <td><a href="/bankinvest/huobi/<%= f.id %>" target="_blank"><%= f.productname %></a></td>
                <td><% if f.million_income!=0 %><%= f.million_income %><% else %>--<% end %></td>
                <td><% if f.sevenD_years_return!=0 %><%= f.sevenD_years_return %>%<% else %>--<% end %></td>
                <td><% if @hash[f.product_code][0]!=nil %><%= @hash[f.product_code][0] %><% else %>0<% end %></td>
                <td class="hide"><% if @hash[f.product_code][1]!=nil %><%= @hash[f.product_code][1] %><% else %>0<% end %></td>
                <td><% if @hash[f.product_code][2]!=nil %><%= @hash[f.product_code][2] %><% else %>--<% end %></td>
                <td class="hide"><% if @hash[f.product_code][3]!=nil %><%= @hash[f.product_code][3].to_s.split("/")[0] %><% end %></td>
                <td class="red"><% if f.one_year_return!=0 %><%= f.one_year_return %>%<% else %>--<% end %></td>
                <td class="red"><% if f.one_year_rank!=nil %><%= f.one_year_rank %><% else %>--<% end %></td>
                <td class="hide"><% if f.one_year_rank!=nil %><%= f.one_year_rank.split("/")[0] %><% else %>1000<% end %></td>
                <td class="red"><% if f.three_year_return!=0 %><%= f.three_year_return %>%<% else %>--<% end %></td>
                <td class="red"><% if f.three_year_rank!=nil %><%= f.three_year_rank %><% else %>--<% end %></td>
                <td class="hide"><% if f.three_year_rank!=nil %><%= f.three_year_rank.split("/")[0] %><% else %>1000<% end %></td>
                <td><a class="btn btn-primary" onclick="choose(<%= f.id %>)" name="<%= f.id %>" style="white-space: nowrap;">选择</a></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<script>

    var grey=0;
    function choose(uid){
        grey=uid;
    <% @monetary.each do |f| %>
        if(uid=='<%= f.id %>'){
            $.post("/userfinanceplan/savefluid",{ username:"<%= session[:webusername] %>",fluid_productid: '<%= f.productname %>'
            },function(data){
                location.href='/userfinanceplan/p4s2_highprofit_fund';
            });
        }
    <% end %>
        $("tr").removeClass("four");
        $(".finan"+uid).addClass("four");
    }

    $(document).ready(function(){
        $("#update").html("<% if @monetary!=nil %>日期：<%= @monetary[0].date %><% end %>");
        var oTable =  $('#liudong').dataTable({
            "iDisplayLength": 10,
            "aaSorting": [[ 9, "asc" ]]
        });

        $("[id*='amounts']").click(function(){
            if(this.id=='amounts0'){
                $("#amount_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='expectYIDs']").click(function(){
            if(this.id=='expectYIDs0'){
                $("#expectYID_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='durations']").click(function(){
            if(this.id=='durations0'){
                $("#duration_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='scates']").click(function(){
            if(this.id=='scates0'){
                $("#scate_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });

        $(".delete").click(function(){
            $('#s-'+$(this).attr("cid")).addClass('hide');
            if($(this).attr("cid")=='amount'){
                $("#amount_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='expectYID'){
                $("#expectYID_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='duration'){
                $("#duration_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='scate'){
                $("#scate_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });

        $("#liudong_previous,#liudong_next").attr("href","javascript:void(0)");

        $('#liudong_previous,#liudong_next').click(function(){
            $("tr").removeClass("four");
            $(".finan"+grey).addClass("four");
        });
    });
</script>