<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "highcharts.js" %>

<style>
    #page-content .mleft {
        margin-left: 40px;
    }
</style>

<div class="welcomes">
  <%= render "side" %>
  <div id="page-content">
    <h1>保本收益资产配置</h1>
    <div class="tablet">
      <div class="row-fluid">
        <div class="span7">
          <h2><span>1</span>原因：</h2>
          <div class="mleft">
            <p class="q-text">首先，我们不妨从哲学角度来考虑保本这个定义，世上本来就无绝对的事情，只能说是风险极其极其低。</p>
            <p class="q-text">保本性资产是相对稳定的资产，其本金亏损的概率非常低，而且有着可预测的回报率。</p>
            <p class="plink"><a class="introduce pull-left" href="#myModal" role="button" data-toggle="modal">我真的需要保本型收益资产配置吗？</a></p>
          </div>
          <h2><span>2</span>金额：</h2>
          <div class="mleft">
            <p class="q-text" style="text-align: center;">定期存款</p>
            <div id="container" style="width: 100%;height: 200px;"></div>
            <% if @userbanlance.asset_safefy_account!=nil && @userplanedbalance.asset_planed_safety_account!=nil %>
                <% if @userbanlance.asset_safefy_account>@userplanedbalance.asset_planed_safety_account %>
                    <p class="q-text">您当前的稳健收益资产为<%= @userbanlance.asset_safefy_account %>元,高于理想的<%= @userplanedbalance.asset_planed_safety_account %>元，稳健收益资产一般收益率都比较低，而且流动性比较差，我们建议您将这<%= @userbanlance.asset_safefy_account-@userplanedbalance.asset_planed_safety_account %>元赎出来，用作其他（应急流动资产、高收益资产）的投资。</p>
                <% else %>
                    <p class="q-text">您当前的稳健收益资产为<%= @userbanlance.asset_safefy_account %>元,低于理想的<%= @userplanedbalance.asset_planed_safety_account %>元，由于稳健收益资产对于家庭的重要性，我们建议您将其他（应急流动资产、高收益资产）投资中拨款到稳健收益资产中。如果拨款不够的话，您将每月从工资中抽取一部分资金进来。</p>
                <% end %>
            <% end %>
            <table id="oneyear" class="table table-striped table-bordered">
              <thead>
              <tr><th>日期</th><th>银行定期（元）</th></tr>
              </thead>
              <% for i in 0..@userplanmonth.size-1 %>
                  <% if i==0 %>
                  <tr>
                        <td><%= @userplanmonth[i].date %></td>
                        <td><% if @userplanmonth[i].safety_account!=0 %>+<%= @userplanmonth[i].safety_account %><% else %>0<% end %></td>
                  </tr>
                  <% else %>
                      <% if @userplanmonth[i].safety_account!=0 %>
                          <tr>
                            <td><%= @userplanmonth[i].date %></td>
                            <td>+<%= @userplanmonth[i].safety_account %></td>
                          </tr>
                      <% end %>
                  <% end %>
              <% end %>
            </table>
          </div>
          <h2><span>3</span>投资方式：</h2>
          <div class="mleft">
            <p class="q-text">对于稳定收益资产投资，我们建议您进行12单定存法。</p>
            <p class="q-text">你可以每月提取工资收入的固定金额，做一个1年期定期存款单。每月都这么做，一年下来，你就会有12张一年期的定期存款单。
            从第二年起，每个月都会有一张存单到期，如果有急用，就可以使用，也不会损失存款利息；如果没有急用的话，这些存单可以自动续存，而且从第二年起，可以把
            每月要存的钱添加到每月到期的存单中，重新做一张存款单，继续滚动存款。</p>
          </div>
          <h2><span>4</span>投资方式优势：</h2>
          <div class="mleft">
            <p class="q-text">12单存法的好处就在于，从第二年起，每个月都会有一张存款单到期，供你备用。如果不用，则加上新存的钱，继续做定期，既能比较灵活地使用存款，
            又能得到定期的存款利息，是一个两全其美的做法。假如你这样坚持下去，日积月累，就会攒下一笔不小的存款呢。在实行12单定存法时，每张存单最好都设定到期自动续存，这样就可以免去多跑银行之苦了。</p>
            <a class="btn btn-primary btn-large" href="/userfinanceplan/p4s4_invest_estimate_plan">投 资 结 果 预 估</a>
          </div>
        </div>
        <div class="span4 offset1">
          <h2>长期投资：</h2>
          <p class="q-text introduce">长期投资的复利效应将实现资产的翻倍增值。一个不大的基数，以一个即使很微小的量增长，假以时日，都将膨胀为一个庞大的天文数字。
          那么，即使以像100元这样的起点，经过一定的时间以后，你也一样可以买得起买万豪宅。</p>
          <table id="oneyear" class="table table-striped table-bordered">
            <thead>
            <tr><th></th><th>保本收益资产</th></tr>
            </thead>
            <% for i in 0..14 %>
                <tr>
                  <td><%= @date.to_i+i+1 %></td>
                  <td><%= @hash[i][0] %></td>
                </tr>
            <% end %>
          </table>
          <a class="btn btn-primary btn-large" href="/userfinanceplan/p4s4_invest_estimate_plan">投 资 结 果 预 估</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= @blog.btitle %></h3>
  </div>
  <div class="modal-body">
    <% if @blog!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%= @blog.imagepath %>"><br><br>
        <%=raw @blog.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<script>
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column'
        },
        title: {
            text: false
        },
        subtitle: {
            text: false
        },
        xAxis: {
            categories: ["现在","规划"]
        },
        yAxis: {
            min: 0,
            title: {
                text: '金额'
            },
            labels:{
                formatter: function() {
                    return this.value
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{point.y} '
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            data: [<%= @userbanlance.asset_safefy_account %>,<%= @userplanedbalance.asset_planed_safety_account %>]
        }],
        credits: {
            enabled: false
        }
    });
</script>