<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= form_for(@strategyweb) do |f| %>
  <% if @strategyweb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@strategyweb.errors.count, "error") %> prohibited this strategyweb from being saved:</h2>

      <ul>
      <% @strategyweb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "策略名"  %><br />
    <%= f.text_field :name,:title=>"策略名" %>
  </div>
  <div class="field">
    <%= f.label "策略编号" %><br />
    <%= f.text_field :strategyid,:title=>"策略编号" %>
  </div>
  <div class="field">
    <%= f.label "策略简述" %><br />
    <%= f.text_field :description,:title=>"策略简述" %>
  </div>
    <div class="field">
      <%= f.label "策略类型" %><br />
      <%= f.text_field :strategytype,:title=>"策略类型" %>
    </div>
    <div class="field">
      <%= f.label "策略属性" %><br />
      <%= f.text_field :strategyattr,:title=>"策略属性" %>
    </div>
    <div class="field">
      <%= f.label "开始日期" %><br />
      <%= f.text_field :startdate,:onClick=>"WdatePicker()",:class=>"Wdate",:title=>"开始日期" %>
    </div>
    <div class="field">
      <%= f.label "策略创建人" %><br />
      <%= f.text_field :developer,:title=>"策略创建人" %>
    </div>

    <div class="field">
	<%= f.label "策略定价" %><br />
	<%= f.text_field :price,:title=>"策略定价" %>
	</div>

    <div class="field">
	<%= f.label "试用天数" %><br />
	<%= f.text_field :trydays,:title=>"试用天数" %>
	</div>
	<div class="actions">
	<%= f.submit "创建策略"%>
	</div>
<% end %>

<script type="text/javascript">
    $(function() {
        $("form").validity(function() {
            $("#strategyweb_name")
                .require();
            $("#strategyweb_strategyid")
                .require();
            $("#strategyweb_description")
                .require();
            $("#strategyweb_strategytype")
                .require();
            $("#strategyweb_strategyattr")
                .require();
            $("#strategyweb_startdate")
                .require();
            $("#strategyweb_developer")
                .require();
            $("#strategyweb_price")
                .require();
            $("#strategyweb_trydays")
                .require();
        });
    });
</script>
