<%= javascript_include_tag "jquery.autocomplete.js" %>
<%= stylesheet_link_tag "jquery.autocomplete.css" %>
<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "Hashtable.js" %>
<%= render "side" %>
<div class="centerrightframe">
<script type="text/javascript">
    $(function() {
        function setdata(id,name,control,action){
            this.id=id;
            this.name=name;
            this.control=control;
            this.action=action;
        }
        var data=new Array();
        <% for i in 0..@strategywebs.size-1%>
          data[<%= i %>]=new setdata(<%= @strategywebs[i].id%>,'<%= @strategywebs[i].name%>','<%= @strategywebs[i].control%>','<%= @strategywebs[i].action%>')
        <% end%>
        //var data = [{name:'1',controls:"xx"},{name:'2',controls:"xx"},{name:'3',controls:"xx"}];

        var searchdate;
        function findValueCallback(event, data, formatted) {
        		//$("#content").html("<strong>"+(!data ? "没有匹配！" : "您选择的是：" + formatted)+"</strong>");
            searchdate=data
        	}
        $('#keyword').autocomplete(data, {
                             max: 12,    //列表里的条目数
                             minChars: 0,    //自动完成激活之前填入的最小字符
                             width: 400,     //提示的宽度，溢出隐藏
                             scrollHeight: 300,   //提示的高度，溢出显示滚动条
                             matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
                             autoFill: false,    //自动填充
                             formatItem: function(data, i, total) {
                                 return "<I onmouseover='showpic("+data.id+")'>"+data.name+"</I>";
                             },
                             formatMatch: function(data, i, total) {
                                 return data.name;
            		         },
                             formatResult: function(data) {
                                 return data.name;
                             }
        });
        $("#keyword").result(findValueCallback);
        $("#getValue").click(function() {
            if($("#keyword").attr("value")=="策略查询"){
                alert("请选择策略！")
            }
            else
            $("#keyword").search(location.href=searchdate.control+"/"+searchdate.action)
        });
    });

    function showpic(id){
       $("#showpic").show();
        highcharts();
        function highcharts() {
                var chart;
                $(document).ready(function() {
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: "showpic",
                            type: 'line',
                            width: 160,
                            height: 165
                        },
                        title: {
                            enabled: false
                        },
                        subtitle: {
                            enabled: false
                        },
                        xAxis: {
                            categories: profitchart_day_hash.items(id),
                            title:{
                                enabled: false
                            } ,
                            labels: {
                                enabled: false
                            }
                        },
                        yAxis: {
                            title:{
                                enabled: false
                            } ,
                            labels: {
                                enabled: false
                            }
                        },
                        plotOptions: {
                            line: {
                                //pointStart: 1940,
                                marker: {
                                    enabled: false,
                                    symbol: 'circle',
                                    radius: 2,
                                    states: {
                                        hover: {
                                            enabled: false
                                        }
                                    }
                                }
                            }
                        },
                        series: [{
                            name: '收益',
                            data: profitchart_data_hash.items(id)
                        }]
                    });

                    $(".highcharts-legend").remove()
    });
            }

        var loginBox = "#showpic";
      		$(loginBox).fadeIn(300);

      		//Set the center alignment padding + border
      		var popMargTop = ($(loginBox).height() + 24) / 2;
      		var popMargLeft = ($(loginBox).width() + 24) / 2;

      		$(loginBox).css({
      			'margin-top' : -popMargTop+$(".ac_results").height()+100,
      			'margin-left' : -popMargLeft
      		});
        //alert($(".ac_results").height())
    }
</script>


        <div id="showwait" class="login-popup">
            <div id="showwait_p"><%= image_tag("showwait.gif") %></div>
		</div>



<script type="text/javascript">
    function showwait_c(id){

        $.get("/strategywebs/cancelcollect/"+id,function(){
            //location.reload();
            alert("取消收藏成功！");
            $("#canclecollect_"+id).hide();
            $("#collect_"+id).show();
            $("#collect_"+id).html("<a href='javascript:void(0)' onclick='showwait("+id+")'><img src='/assets/xingxing2.gif' />收藏</a>")
        })
    }

     function showwait(id){
         <% if @webuser!=nil%>
     <% if @webuser.level!=1&&@webuser.collect.split("|").size>=10%>
    alert("您不是收费用户，只能收藏10个策略！")
    <%else%>

         $.get("/strategywebs/collect/"+id,function(){
             alert("收藏成功！");
             $("#collect_"+id).hide();
             $("#canclecollect_"+id).show();
             $("#canclecollect_"+id).html("<a href='javascript:void(0)' onclick='showwait_c("+id+")'><img src='/assets/xingxing.gif' />取消收藏</a>")
             //location.reload();
         })
     <%end%>
     <%end%>
     }
   </script>

<h2>策略库搜索</h2>

<div id="strategyfilter">
   <div id="strategyfilter_domain">
     <h3>投资领域：</h3>
     <p><input  type=checkbox id="filed_all" onclick="filed_all_f()" checked="true">所有</p>
     <p><input  type=checkbox id="filed_future" onclick="filed_future_f()">期货</p>
   </div>
  <div id="strategyfilter_frequence">
    <h3>交易频率：</h3>
    <p><input  type="radio" name="frequence" id="trades_all" checked="true" value=0 onclick="trades_f(null,null)">所有</p>
    <p><input  type="radio" name="frequence" id="trades_sl" value=1 onclick="trades_f(0,0.05)">超长期策略</p>
    <p><input  type="radio" name="frequence" id="trades_l"  value=2 onclick="trades_f(0.05,0.2)">长期策略(月)</p>
    <p><input  type="radio" name="frequence" id="trades_m"  value=3 onclick="trades_f(0.2,1)">中期策略(周)</p>
    <p><input  type="radio" name="frequence" id="trades_s"  value=4 onclick="trades_f(1,null)">短期策略(日)</p>
  </div>
    <div id="strategyfilter_onlydisplay">
      <h3>只显示：</h3>
      <p><input  type=checkbox id="free" onclick="free_f()">免费订购的策略</p>
      <p><input  type=checkbox id="havesub" onclick="havesub_f()">已有人订阅的策略</p>
    </div>
</div>

<select id="myselect"  onchange="window.location.href=(this.options[this.selectedIndex].value);">
  <option id="myselect_5" value ="/strategywebs?shownum=5">显示5个</option>
  <option id="myselect_10" value ="/strategywebs?shownum=10" >显示10个</option>
  <option id="myselect_20" value ="/strategywebs?shownum=20">显示20个</option>
  <option id="myselect_30" value ="/strategywebs?shownum=30">显示30个</option>
</select>

<script>
  $("#myselect_<%= params[:shownum]%>").attr("selected",true);
</script>
<script>
    var frequence_hash=new Hashtable();
    frequence_hash.add(0,[null,null])
    frequence_hash.add(1,[0,0.05])
    frequence_hash.add(2,[0.05,0.2])
    frequence_hash.add(3,[0.2,1])
    frequence_hash.add(4,[1,null])

  var stg_hash=new Hashtable();
  var key=0;
  <% @strategywebs.each do |strategyweb| %>
  stg_hash.add(key,["#s_<%= strategyweb.id%>",'<%= @stg_hash[strategyweb.id][0]%>',<%= @stg_hash[strategyweb.id][1]%>,<%= @stg_hash[strategyweb.id][2]%>,<%= @stg_hash[strategyweb.id][3]%>])
  key=key+1;
  <% end %>

    if($("#filed_all").attr("checked")=="checked"){
        $("#filed_future").attr("checked",true);
    }
  function filed_all_f(){
     //if have more than future
  }
    //diff
    function filed_future_f(){
      if($("#filed_all").attr("checked")=="checked"){
            $("#filed_future").attr("checked",true);
            $("#filed_all").attr("checked",false);
      }
      if($("#filed_future").attr("checked")=="checked"){
            var temp=frequence_hash.items($('input:radio[name="frequence"]:checked').val())
            trades_f(temp[0],temp[1]);
            for(var i=0;i<stg_hash.count();i++){
                if(stg_hash.items(i)[1]!="future"&&$(stg_hash.items(i)[0]).is( ":hidden ")==false){
                    $(stg_hash.items(i)[0]).fadeOut(300);
                }
            }
        }
        else{
            var temp=frequence_hash.items($('input:radio[name="frequence"]:checked').val())
            trades_f(temp[0],temp[1]);
            for(var i=0;i<stg_hash.count();i++){
                if(stg_hash.items(i)[1]=="future"&&$(stg_hash.items(i)[0]).is( ":hidden ")==false){
                    $(stg_hash.items(i)[0]).fadeOut(300);
      }
      }
      }
      }

  function trades_f(a,b){
      for(var i=0;i<stg_hash.count();i++){
          $(stg_hash.items(i)[0]).show();
           if(stg_hash.items(i)[2]<a||stg_hash.items(i)[2]>=b||stg_hash.items(i)[2]==null){
               $(stg_hash.items(i)[0]).hide();
           }
          if(a==null&&b==null){
              $(stg_hash.items(i)[0]).show();
          }
          if($("#free").attr("checked")=="checked"&&stg_hash.items(i)[3]!=0){
              $(stg_hash.items(i)[0]).hide();
          }
          if($("#havesub").attr("checked")=="checked"&&stg_hash.items(i)[4]!=1){
              $(stg_hash.items(i)[0]).hide();
      }
          if($("#filed_future").attr("checked")=="checked"&&stg_hash.items(i)[1]!="future"){
              $(stg_hash.items(i)[0]).hide();
          }
          if($("#filed_future").attr("checked")!="checked"&&stg_hash.items(i)[1]=="future"){
              $(stg_hash.items(i)[0]).hide();
          }
      }
  }
  function free_f(){
      if($("#free").attr("checked")=="checked"){
          for(var i=0;i<stg_hash.count();i++){
              if(stg_hash.items(i)[3]!=0&&$(stg_hash.items(i)[0]).is( ":hidden ")==false){
                  $(stg_hash.items(i)[0]).fadeOut(300);
              }
          }
      }
      else{
          var temp=frequence_hash.items($('input:radio[name="frequence"]:checked').val())
          trades_f(temp[0],temp[1]);
          for(var i=0;i<stg_hash.count();i++){
              if(stg_hash.items(i)[3]!=0&&$(stg_hash.items(i)[0]).is( ":hidden ")==false){
                  $(stg_hash.items(i)[0]).fadeIn(300);
              }
          }
      }
  }
    function havesub_f(){
      if($("#havesub").attr("checked")=="checked"){
            for(var i=0;i<stg_hash.count();i++){
                if(stg_hash.items(i)[4]!=1&&$(stg_hash.items(i)[0]).is( ":hidden ")==false){
                    $(stg_hash.items(i)[0]).fadeOut(300);
                }
            }
        }
        else{
            var temp=frequence_hash.items($('input:radio[name="frequence"]:checked').val())
            trades_f(temp[0],temp[1]);
            for(var i=0;i<stg_hash.count();i++){
                if(stg_hash.items(i)[4]!=1&&$(stg_hash.items(i)[0]).is( ":hidden ")==false){
                    $(stg_hash.items(i)[0]).fadeIn(300);
                }
            }
        }
      }
</script>

<div id="strategysdisplay">
<% @strategywebs.each do |strategyweb| %>
    <div class="strategyinstance" id='s_<%= strategyweb.id %>'>
    <div class= "s_header">  
    <div class="s_title" >
    <a href="/<%=strategyweb.control%>/<%=strategyweb.action%>/<%=strategyweb.id%>"><h3><%= strategyweb.name %> </h3></a>
    </div>
    <% if @webuser!=nil%>

    <div class="s_buy">

      <% if @sub_hash[strategyweb.strategyid+strategyweb.ordernum.to_s+strategyweb.userid.to_s]!=nil %>
              <a><img src="/assets/chelan2.gif" />已订购</a>
      <% else %>
          <a value="[name='#<%=strategyweb.id%>']" href="javascript:void(0)" class="login-window"><img src="/assets/chelan.gif" />订购</a>
          <div name="#<%=strategyweb.id%>" id="strategy_buy_confirm" class="login-popup">
            <div class="popup_2buttons_pattern">
              <div class="popup_content">
                <p>您确定要订购<%= strategyweb.name %>嘛？</p>
              </div>
              <div class="popup_2buttons_confirm"><a href="/strategys/subscribe/<%=strategyweb.id%>">确定</a></div>
              <div class="popup_2buttons_cancel"><a class="close">取消</a></div>
            </div>
          </div>
      <% end %>

    </div>



    <div class="s_collect" id="r_collect">
      <% if @hash_iscollect[strategyweb.id]!=1 %>
          <div id="collect_<%=strategyweb.id%>">
          <a href="javascript:void(0)" onclick="showwait(<%=strategyweb.id%>)"><img src="/assets/xingxing2.gif" />收藏</a>
          </div>
          <div id="canclecollect_<%=strategyweb.id%>"></div>
      <% else %>
          <div id="collect_<%=strategyweb.id%>"></div>
          <div id="canclecollect_<%=strategyweb.id%>">
          <a href="javascript:void(0)" onclick="showwait_c(<%=strategyweb.id%>)"><img src="/assets/xingxing.gif" />取消收藏</a>
          </div>
      <% end %>

    </div>
    <% else %>
          <div class="s_collect">
          <a value="#login-box" href="javascript:void(0)" class="login-window">收藏</a></div>
          <div class="s_buy">
          <a value="#login-box" href="javascript:void(0)" class="login-window">订购</a></div>
    <% end %>
    </div>

      <div class="s_performance">
        <div class="s_performance_pic">
        <a href="/<%=strategyweb.control%>/<%=strategyweb.action%>/<%=strategyweb.id%>">
        <div id="<%= strategyweb.id%>" style="margin-top: -20px;">
        </div>
        </a>
      </div>
        <div class="s_performance_text">
      <ul>
          

        <% if @hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][0]==nil || @hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][1]==nil ||@hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][2]==nil%>
            <li>年收益率：稍候刷新</li>
            <li>最大回退金额：稍候刷新</li>
            <li>胜率：稍候刷新 </li>
           <% else %>
            <li>年收益率：<%=  format("%.3f",@hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][2]*100) %>% </li>
            <% if @hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][0]=="无" || @hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][1]=="无" %>
                <li>最大回退金额：无</li>
                <li>胜率：无 </li>
            <% else %>

            <li>最大回退金额：<%=  @hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][0] %> </li>
      <li>胜率：<%=  format("%.3f",@hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][1]) %></li>
            <% end %>
            <% end %>
      </ul>
<!--      <%= link_to "详细",:controller => strategyweb.control,:action =>strategyweb.action,:id=>strategyweb.id %>  -->

        </div>


      </div>  <!-- div of s_performance -->
        <div class="s_footer" >
            <div class="s_type">
              <% if strategyweb.strategytype=="future" %>
                  <p>策略种类：期货</p>
                  <% else %>
              <p>策略种类：<%= strategyweb.strategytype %></p>
                  <% end %>
            </div>
            <div class="s_details">
                   <p>策略开始时间：<%=  strategyweb.startdate.to_s(:db) %></p>
            </div>
        </div> <!-- div of s_footer -->
    </div>  <!-- div of strategyinstance -->
<% end %>

<% if @show_flag==1 %>
<%= link_to '新建策略', new_strategyweb_path %>
<% end %>
</div>
<script type="text/javascript">
    var profitchart_data_hash=new Hashtable();
    var profitchart_day_hash=new Hashtable();
    <% @strategywebs.each do |strategyweb| %>
    highcharts("<%= strategyweb.id%>","<%= strategyweb.name%>");
    <% if @profitchart_hash[strategyweb.id]!=nil%>
    var profitchart_arr_day=new Array();
    var profitchart_arr_data=new Array();
    <% for i in 0..@profitchart_hash[strategyweb.id][1].size-1 %>
      profitchart_arr_day[<%= i%>] ='<%= @profitchart_hash[strategyweb.id][1][i] %>'
    profitchart_arr_data[<%= i%>] =<%= @profitchart_hash[strategyweb.id][0][i] %>
    <% end %>
    profitchart_day_hash.add('<%= strategyweb.id%>',profitchart_arr_day)
    profitchart_data_hash.add('<%= strategyweb.id%>',profitchart_arr_data)
    <% end %>
    <% end %>
    function highcharts(id,stgname) {

        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: id,
                    type: 'line',
                    width: 160,
                    height: 165
                },
                title: {
                    enabled: false
                },
                subtitle: {
                    enabled: false
                },
                xAxis: {
                    categories: profitchart_day_hash.items(id),
                    title:{
                        enabled: false
                    } ,
                    labels: {
                        enabled: false
                    }
                },
                yAxis: {
                    title:{
                        enabled: false
                    } ,
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    line: {
                        //pointStart: 1940,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: false
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '收益',
                    data:profitchart_data_hash.items(id)
                }]
            });

            $(".highcharts-legend").remove()
        });
    }
</script>

</div>