<%= javascript_include_tag "jquery.sparkline.js" %>
<%= javascript_include_tag "heartcode-canvasloader-min-0.9.1.js" %>
<%= javascript_include_tag "jquery.autocomplete.js" %>
<%= stylesheet_link_tag "jquery.autocomplete.css" %>
<%= javascript_include_tag "highcharts.js" %>

<script type="text/javascript">
    $(function() {
        function setdata(name,control,action){
            this.name=name;
            this.control=control;
            this.action=action;
        }
        var data=new Array();
        <% for i in 0..@strategywebs.size-1%>
          data[<%= i %>]=new setdata('<%= @strategywebs[i].name%>','<%= @strategywebs[i].control%>','<%= @strategywebs[i].action%>')
        <% end%>
        //var data = [{name:'1',controls:"xx"},{name:'2',controls:"xx"},{name:'3',controls:"xx"}];

        var searchdate;
        function findValueCallback(event, data, formatted) {
        		//$("#content").html("<strong>"+(!data ? "没有匹配！" : "您选择的是：" + formatted)+"</strong>");
            searchdate=data
        	}
        $('#keyword').autocomplete(data, {
                             max: 12,    //列表里的条目数
                             minChars: 0,    //自动完成激活之前填入的最小字符
                             width: 400,     //提示的宽度，溢出隐藏
                             scrollHeight: 300,   //提示的高度，溢出显示滚动条
                             matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
                             autoFill: false,    //自动填充
                             formatItem: function(data, i, total) {
                                 return "<I>"+data.name+"</I>";
                             },
                             formatMatch: function(data, i, total) {
                                 return data.name;
            		         },
                             formatResult: function(data) {
                                 return data.name;
                             }
        });
        $("#keyword").result(findValueCallback);
        $("#getValue").click(function() {
            if($("#keyword").attr("value")=="策略查询"){
                alert("请选择策略！")
            }
            else
            $("#keyword").search(location.href=searchdate.control+"/"+searchdate.action)
        });

    });
</script>


<script type="text/javascript">
     function showwait(){
	var cl = new CanvasLoader('canvasloader-container');
	cl.setDiameter(44); // default is 40
	cl.setDensity(49); // default is 40
	cl.show(); // Hidden by default

	// This bit is only for positioning - not necessary
	  var loaderObj = document.getElementById("canvasLoader");
 		loaderObj.style.position = "absolute";
 		loaderObj.style["top"] = cl.getDiameter() * -0.5 + "px";
 		loaderObj.style["left"] = cl.getDiameter() * -0.5 + "px";
     }
   </script>
	<style type="text/css">
		.wrapper {
			position:absolute;
			top:50%;
			left:50%;
		}
	</style>

	<div id="canvasloader-container" class="wrapper"></div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#strategywebs').dataTable( {
        } );
        $('.dynamicsparkline').sparkline(<%= @profitchart_arr%>);
    } );
</script>

<div class="strategysearch">
<form id="form1" runat="server">
    <input id="keyword" value="策略查询" onclick="this.value=''" onmouseout="this.value='策略查询'"/>
    <a href="javascript:void(0)" id="getValue">搜索图片</a>
</form>
</div>

<% @strategywebs.each do |strategyweb| %>
    <div class="strategyinstance">
    <div class= "s_header">  
    <div class="s_title" >
    <a href="/<%=strategyweb.control%>/<%=strategyweb.action%>/<%=strategyweb.id%>"><h3><%= strategyweb.name %> </h3></a>
    </div>  
    <% if @webuser!=nil%>

    <div class="s_buy">
          <% if Subscribetable.find_by_subscribe_userid_and_strategy_userid_and_strategyid_and_ordernum(Webuser.find_by_name(session[:webuser_name]).id,strategyweb.userid,strategyweb.strategyid,strategyweb.ordernum)==nil %>
          <a href="/s010001/subscribe/<%=strategyweb.id%>"><img src="/assets/chelan.gif" />订购</a>
              <% else %>
          <img src="/assets/chelan2.gif" /><a>已订购</a>
              <% end %>
    </div>
    <div class="s_collect">
      <% if @hash_iscollect[strategyweb.id]!=1 %>
          <a href="/strategywebs/collect/<%=strategyweb.id%>" onclick="showwait()"><img src="/assets/xingxing2.gif" />收藏</a>
      <% else %>
          <a href="/strategywebs/cancelcollect/<%=strategyweb.id%>" onclick="showwait()"><img src="/assets/xingxing.gif" />取消收藏</a>
      <% end %>

    </div>
    <% else %>
          <div class="s_collect">
          <a href="#login-box" class="login-window">收藏</a></div>
          <div class="s_buy">
          <a href="#login-box" class="login-window">订购</a></div>
    <% end %>
    </div>

      <div class="s_performance">
        <div class="s_performance_pic">
        <a href="/<%=strategyweb.control%>/<%=strategyweb.action%>/<%=strategyweb.id%>">
        <div id="<%= strategyweb.id%>">
        </div>
        </a>
      </div>
        <div class="s_performance_text">
      <ul>
          
      <li>年化收益率：<%= strategyweb.anreturn*100 %>% </li>
      <li>最大回退率：<%=  @hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][0] %> </li>
      <li>胜率：<%=  format("%.3f",@hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][1]) %></li>
      </ul>
      <%= link_to "详细",:controller => strategyweb.control,:action =>strategyweb.action,:id=>strategyweb.id %> 

        </div>


      </div>  <!-- div of s_performance -->
        <div class="s_footer" >
            <div class="s_type">
              <p>策略种类：<%= strategyweb.strategytype %></p>
            </div>
            <div class="s_details">
                   <p>策略开始时间：<%=  strategyweb.startdate.to_s(:db) %></p>
            </div>
        </div> <!-- div of s_footer -->
    </div>  <!-- div of strategyinstance -->
<% end %>

<% if @show_flag==1 %>
<%= link_to '新建策略', new_strategyweb_path %>
<% end %>

<script type="text/javascript">
    <% @strategywebs.each do |strategyweb| %>
    highcharts("<%= strategyweb.id%>","<%= strategyweb.name%>");
    <% end %>
    var profitchart_arr_day=new Array;
    <% for i in 0..@profitchart_arr_day.size-1 %>
        profitchart_arr_day[<%= i%>] ='<%= @profitchart_arr_day[i] %>'
    <% end %>
    //alert(profitchart_arr_day)
    function highcharts(id,stgname) {
        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: id,
                    type: 'line',
                    width: 160,
                    height: 165
                },
                title: {
                    enabled: false
                },
                subtitle: {
                    enabled: false
                },
                xAxis: {
                    categories: profitchart_arr_day,
                    title:{
                        enabled: false
                    } ,
                    labels: {
                        enabled: false
                    }
                },
                yAxis: {
                    title:{
                        enabled: false
                    } ,
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    line: {
                        //pointStart: 1940,
                        marker: {
                            enabled: false,
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: false
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '收益',
                    data: <%= @profitchart_arr%>
                }]
            });

            $(".highcharts-legend").remove()
        });
    }
</script>
