<%= javascript_include_tag "jquery.sparkline.js" %>
<%= javascript_include_tag "heartcode-canvasloader-min-0.9.1.js" %>
<%= javascript_include_tag "jquery.autocomplete.js" %>
<%= stylesheet_link_tag "jquery.autocomplete.css" %>

<form id="form1" runat="server">
<div>
    <input id="keyword" />
    <input id="getValue" value="页面跳转" type="button"/>
</div>
</form>
<div id="content"></div>

<script type="text/javascript">
    $(function() {
        function setdata(name,control,action){
            this.name=name;
            this.control=control;
            this.action=action;
        }
        var data=new Array();
        <% for i in 0..@strategywebs.size-1%>
          data[<%= i %>]=new setdata('<%= @strategywebs[i].name%>','<%= @strategywebs[i].control%>','<%= @strategywebs[i].action%>')
        <% end%>
        //var data = [{name:'1',controls:"xx"},{name:'2',controls:"xx"},{name:'3',controls:"xx"}];

        var searchdate;
        function findValueCallback(event, data, formatted) {
        		$("#content").html("<strong>"+(!data ? "没有匹配！" : "您选择的是：" + formatted)+"</strong>");
            searchdate=data
        	}
        $('#keyword').autocomplete(data, {
                             max: 12,    //列表里的条目数
                             minChars: 0,    //自动完成激活之前填入的最小字符
                             width: 400,     //提示的宽度，溢出隐藏
                             scrollHeight: 300,   //提示的高度，溢出显示滚动条
                             matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
                             autoFill: false,    //自动填充
                             formatItem: function(data, i, total) {
                                 return "<I>"+data.name+"</I>";
                             },
                             formatMatch: function(data, i, total) {
                                 return data.name;
            		         },
                             formatResult: function(data) {
                                 return data.name;
                             }
                         }).result(function(event, data, formatted) {
                   // location.href="intro";
        });
        $("#keyword").result(findValueCallback);
        $("#getValue").click(function() {$("#keyword").search(location.href=searchdate.control+"/"+searchdate.action)});

    });
</script>


<script type="text/javascript">
     function showwait(){
	var cl = new CanvasLoader('canvasloader-container');
	cl.setDiameter(44); // default is 40
	cl.setDensity(49); // default is 40
	cl.show(); // Hidden by default

	// This bit is only for positioning - not necessary
	  var loaderObj = document.getElementById("canvasLoader");
 		loaderObj.style.position = "absolute";
 		loaderObj.style["top"] = cl.getDiameter() * -0.5 + "px";
 		loaderObj.style["left"] = cl.getDiameter() * -0.5 + "px";
     }
   </script>
	<style type="text/css">
		.wrapper {
			position:absolute;
			top:70%;
			left:80%;
		}
	</style>

	<div id="canvasloader-container" class="wrapper"></div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#strategywebs').dataTable( {
        } );
        $('.dynamicsparkline').sparkline(<%= @profitchart_arr%>);
    } );
</script>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="strategywebs">
  <thead>
  <tr>
    <th>策略名称</th>
    <th>策略种类</th>
    <th>策略开始时间</th>
    <th>年化收益率</th>
    <th>最大回退率</th>
    <th>胜率</th>
    <th>图形</th>
    <% if @webuser!=nil%>
    <th>收藏</th>
    <% end %>
    <% if @show_flag==1 %>
    <th>操作</th>
	<th>策略配置</th>
    <% end %>
  </tr></thead>
  <tbody>
<% @strategywebs.each do |strategyweb| %>
  <tr>
    <td><%= link_to strategyweb.name,:controller => strategyweb.control,:action =>strategyweb.action,:id=>strategyweb.id %></td>
    <td><%=  strategyweb.strategytype %></td>
    <td><%=  strategyweb.startdate.to_s(:db) %></td>
    <td><center><%= strategyweb.anreturn*100 %>%</center></td>
    <td><%=  @hash_reference[strategyweb.strategyid][0] %></td>
    <td><%=  format("%.3f",@hash_reference[strategyweb.strategyid][1]) %></td>
    <td><span class="dynamicsparkline">Loading..</span></td>
    <% if @webuser!=nil%>
    <% if @hash_iscollect[strategyweb.id]==1 %>
        <td><%= button_to "取消收藏",{:action=>"cancelcollect",:id=>strategyweb.id},:onclick=>"showwait()" %></td>
    <% else %>
    <td><%= button_to "收藏",{:action=>"collect",:id=>strategyweb.id},:onclick=>"showwait()" %></td>
     <% end %>
    <% end %>
    <% if @show_flag==1 %>
    <td><%= button_to 'Destroy', strategyweb, :method=> :delete %></td>
    <td><%= link_to '策略配置', edit_strategyweb_path(strategyweb) %></td>
    <% end %>
  </tr>
<% end %></tbody>
</table><br>
<% if @show_flag==1 %>
<%= link_to '新建策略', new_strategyweb_path %>
<% end %>
