<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= render "side" %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#traderecordtable').dataTable( {
            "bPaginate":false ,//禁用分页
            "aaSorting": [[0,"desc"]]
        } );}
     );
</script>

<div class="centerrightframe">
<h2>策略库数据</h2>
<table class="display" id="traderecordtable" >
<thead>
<td>期货交易所</td>
<td>品种</td>
<td>更新日期</td>
<td>操作</td>
</thead>
<tbody>
<% for i in 0..@commoditys.size-1 %>
<tr>
    <td><%= @hash_commoditys[@commoditys[i].commodityid][0] %></td>
    <td><%= @hash_commodityid[@commoditys[i].commodityid] %></td>
  <% if @hash_commoditys[@commoditys[i].commodityid][1]==nil%>
       <td>文件不存在</td>
      <td>文件不存在</td>
    <% else%>
    <td><%= @hash_commoditys[@commoditys[i].commodityid][1] %></td>
    <td><%= link_to "下载文件",:action=>"download",:id=>"data",:filename=>@commoditys[i].commodityid+".zip" %>  </td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
</div>