<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= render "side" %>

<div class="centerrightframe">
<h2>策略库表格</h2>
  <div>
    <% for i in 0..@reference_title.size-1 %><%=@reference_title[i] %>
        <input checked="checked" type="checkbox" onclick="sh_op('.t_<%=i+2 %>')">
    <% end %>
  </div>
<table class="display" id="traderecordtable" style="width: 600px;">
<thead>

<tr>
  <td class="t_1">策略名</td>
  <% for i in 0..@reference_title.size-1 %>
  <td class="t_<%=i+2 %>"><%=@reference_title[i] %></td>
  <% end %>
</tr>
</thead>
<tbody>
<% @strategywebs.each do |strategyweb| %>
<tr>
<td class="t_1"><%=strategyweb.name%></td>
  <% for i in 0..@reference_title.size-1 %>
  <td class="t_<%=i+2 %>"><%=@hash_reference[strategyweb.strategyid.to_s+strategyweb.userid.to_s+strategyweb.ordernum.to_s][i]%></td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#traderecordtable').dataTable( {
            "bPaginate":false ,//禁用分页
            "aaSorting": [[0,"desc"]] ,
            "sScrollX": "100%" //表格的宽度
        } );
                $(".display").css("width","700px");
                $(".centerrightframe").css("width","700px");
                $(".dataTables_wrapper").css("width","700px");
            }
     );

  function sh_op(myclass){
      if($(myclass).is( ":hidden "))
          $(myclass).fadeIn(300);
      else
          $(myclass).fadeOut(300);
  }

</script>