<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#traderecordtable').dataTable( {
            "bPaginate":false ,//禁用分页
            "aaSorting": [[0,"desc"]]
        } );}
     );
</script>
<h2>策略库数据</h2>
<table class="display" id="traderecordtable" >
<thead>
<td>期货交易所</td>
<td>品种</td>
<td>更新日期</td>
<td>操作</td>
</thead>
<tbody>
<% for i in 0..@commoditys.size-1 %>
<tr>
    <td><%= @hash_commoditys[@commoditys[i].commodityid] %></td>
    <td><%= @hash_commodityid[@commoditys[i].commodityid] %></td>
    <td>N/A</td>
    <td><%= link_to "下载文件",:action=>"download",:id=>"data",:filename=>"commodity.xml" %>  </td>
</tr>
<% end %>
</tbody>
</table>
