<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "prototype.js" %>

<!-- <META HTTP-EQUIV="Refresh" content="10"> -->
<script language="Javascript">
	function loadpricetable(){
	new Ajax.Updater('rtpricetable','/strategywebs/rtprice',{asynchronous:true, evalScripts:true})
	}
</script>

		
<% if (params[:id]=="2") then %>

	<p id="notice"><%= notice %></p>

	<div class="anreturntable">
		<h3><%= @strategyweb.name %></h3>
			
		<table class="tabledetailformat ">
		  <tr>
			<th>年</th>
			<th>一月</th>
			<th>二月</th>
			<th>三月</th>
			<th>四月</th>
			<th>五月</th>
			<th>六月</th>
			<th>七月</th>
			<th>八月</th>
			<th>九月</th>
			<th>十月</th>
			<th>十一月</th>
			<th>十二月</th>
		  </tr>

		  <% for year in (@existyears.first)..(@existyears.last) %>
		  <tr>
			<td class="td"><%= year %></td>

			<% if(@strate[year][0].monthid!=1) then %>
			<% for i in 1..(@strate[year][0].monthid-1) %>
			<td></td>
			<% end %>
			<% end %>

			<% @strate[year].each do |sr| %>
			<td><%= number_to_percentage(100*sr.returnrate,:precision=>1) %> </td>
			<% end %>
		  </tr>
		  <% end %>
		
		</table>
	</div>
	<div class="strategybrief">
			<table rules=rows class="strategybrieftable">
		<tr>
		  <td>应用领域</td>
		  <td><%= @strategyweb.strategytype %></td>
		 </tr>
		<tr>
		  <td>策略属性</td>
		  <td><%= @strategyweb.strategyattr %></td>
		 </tr>
		<tr>
		  <td>策略创建时间</td>
		  <td><%= @strategyweb.startdate %></td>
		 </tr>
		<tr>
		  <td>策略开发人员</td>
		  <td><%= @strategyweb.developer %></td>
		 </tr>
		</table>
	</div>
	<div class="traderecorddiv">
	<table  class="traderecordtable" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="10"><strong>Hypothetical Trading Results</strong></td>
		</tr>
		<tr class="nthtr">
			<td>开仓品种</td>
			<td >开仓日期</td>
			<td>平仓日期</td>
			<td>开仓价差</td>
			<td>平仓价差</td>
			<td>保证金占用额</td>
			<td>盈亏金额</td>
		</tr>
		<% @traderecord.each do |tradepos| %>
		<tr>
			<td><%= tradepos.tradeobject %></td>
			<td><%= tradepos.openposdate %></td>
			<td><%= tradepos.closeposdate %></td>
			<td><%= tradepos.openposprice %></td>
			<td><%= tradepos.closeposprice %></td>
			<td><%= tradepos.marginaccount %></td>
			<td><%= tradepos.profit %></td>
		</tr>
		<% end %>
	</table></div>
	<table class="performancetable" >
	  <tr>
		<th>所有数据都需要和最新实时行情结合</th>
	  </tr>

	  
	  <% @streference.each do |sf| %>
			  <tr class="nthtr">
				<td>最低保证金需要金额</td>
				<td><%= sf.minmarginaccount %></td>
			  </tr>
			  <tr>
				<td>总利润</td>
				<td><%= sf.totalnetprofit %></td>
			  </tr>
			  <tr class="nthtr">
				<td>总毛盈利</td>
				<td><%= sf.grossprofit %></td>
			  </tr>
			  <tr>
				<td>总毛亏损</td>
				<td><%= sf.grossloss %></td>
			  </tr>
			  <tr class="nthtr">
				<td>平均月回报率</td>
				<td><%= sf.avemonthreturn %></td>
			  </tr>
			  <tr>
				<td>平均年回报率</td>
				<td><%= sf.aveyearreturn %></td>
			  </tr>
			  <tr class="nthtr">
				<td>总交易天数</td>
				<td><%= sf.toaltradingdays %></td>
			  </tr>
			  <tr>
				<td>总交易次数</td>
				<td><%= sf.totaltrades %></td>
			  </tr>
			  <tr class="nthtr">
				<td>日均交易次数</td>
				<td><%= sf.avedaytrades %></td>
			  </tr>
			  <tr>
				<td>盈利交易次数</td>
				<td><%= sf.numwintrades %></td>
			  </tr>
			  <tr class="nthtr">
				<td>亏损交易次数</td>
				<td><%= sf.numlosstrades %></td>
			  </tr>
			  <tr>
				<td>交易胜率</td>
				<td><%= sf.percentprofitable %></td>
			  </tr>
			  <tr class="nthtr">
				<td>最大单笔盈利金额</td>
				<td><%= sf.largestwintrade %></td>
			  </tr>
			  <tr>
				<td>最大单笔亏损金额</td>
				<td><%= sf.largestlosstrade %></td>
			  </tr>
			  <tr class="nthtr">
				<td>平均每次交易盈亏金额</td>
				<td><%= sf.avetrade %></td>
			  </tr>
			  <tr>
				<td>最大资金回退金额</td>
				<td><%= sf.maxdrawdown %></td>
			  </tr>
			  <tr class="nthtr">
				<td>最大衰退期</td>
				<td><%= sf.maxdrawdowndays %></td>
			  </tr>
		<% end %>

	</table>
<% end %>

<% if(params[:id]=="1") %>
	<script type="text/javascript">
	var a = new PeriodicalExecuter(loadpricetable,1.0);
//	loadpricetable();
	</script>

	<div id="rtpricetable">
	</div>
<% end %>

