<%= javascript_include_tag "jquery-latest.pack.js" %>
<% if @webuser!=nil %>
<div style="padding-bottom:20px">对于策略<%= @strategy.name %>进行自动化交易设置。<br><br></div>
<%= link_to "点击这里,如果您还未准备好进行自动化交易,想先订阅该策略,通过邮件接收买卖信号." ,:controller =>"strategys",:action =>"subscribe",:id=>@strategy.id  %>

<script type="text/javascript">
function loadnext(divout,divin){
$("." + divout).hide();
$("." + divin).fadeIn("fast");
}
</script>

<%= form_tag do %>

<div id="wizardwrapper">

  <div class="1">
    <h3>第一步: 确认交易品种</h3>
    <ul id="mainNav" class="fiveStep">
      <li class="current"><a title=""><em>第一步：确认交易品种</em><span>详细</span></a></li>
      <li><a title=""><em>第二步：设置期货公司</em><span>详细</span></a></li>
      <li><a title=""><em>第三步：设置交易参数</em><span>详细</span></a></li>
      <li><a title=""><em>第四步：确认您的选择</em><span>详细</span></a></li>
    </ul>  <br><br><br>
    <div id="wizardcontent">
      <%= radio_button_tag "radio_p", "s1" %>
      期货交易
    </div>
    <script type="text/javascript">
      function myop1(){
        //if($("#test").attr("checked")==true)
             if ($("#radio_p_s1").attr("checked")=="checked")
                loadnext(1,2);
          else
             alert("请选择内容！")
      }
      function myop2(){
        //if($("#test").attr("checked")==true)
             if ($("#radio_p2_s1").attr("checked")=="checked")
                loadnext(2,3);
          else
             alert("请选择内容！")
      }
    </script>
    <div class="buttons">
      <a  href="javascript:void(0)" class="previous" disabled="disabled"> <%= image_tag "arrow_left.png"  %> 返回 </a>
      <a  href="javascript:void(0)" class="next" onclick="myop1()"> 下一步 <%= image_tag "arrow_right.png"  %> </a>
    </div>
    <div style="clear:both"></div>
  </div>

  <div id="wizardpanel" class="2">
    <h3>第二步：设置期货公司</h3>

    <ul id="mainNav" class="fiveStep">
      <li class="lastDone"><a href="#" title=""><em>第一步：确认交易品种</em><span>详细</span></a></li>
      <li class="current"><a title=""><em>第二步：设置期货公司</em><span>详细</span></a></li>
      <li><a title=""><em>第三步：设置交易参数</em><span>详细</span></a></li>
      <li><a title=""><em>第四步：确认您的选择</em><span>详细</span></a></li>
    </ul><br><br><br>
    <div id="wizardcontent">
      <%= radio_button_tag "radio_p2", "s1"%>
      华泰长城期货交易公司
      <div id="showtable">
        <h2>您的华泰长城交易帐号</h2><br>
        <h2>请输入您华泰长城期货帐号的相关信息。</h2><br>
        <h2>输入您的帐号：<%= text_field_tag :account,params[:account],:size=>3 %>
        输入您的交易密码：<%= password_field_tag :password,params[:password],:size=>3 %>  </h2>
          <h2>输入您的brokerid：<%= text_field_tag :brokerid,params[:brokerid],:size=>3 %>
        输入您的frontaddr：<%= text_field_tag :frontaddr,params[:frontaddr],:size=>3 %> </h2>
        <a href='#' class="noaccount">没有该期货公司的帐号？请点击开展开户手续。</a>
      </div>
    </div>
    <div class="buttons">
      <a href="javascript:void(0)" class="previous" onclick="loadnext(2,1);"> <%= image_tag "arrow_left.png"  %> 返回 </a>
      <a href="javascript:void(0)" class="next" onclick="myop2()"> 下一步 <%= image_tag "arrow_right.png"  %> </a>
    </div>
  </div>


  <div id="wizardpanel" class="3">
    <h3>第三步：设置交易参数</h3>

    <ul id="mainNav" class="fiveStep">
      <li class="done"><a href="#" title=""><em>第一步：确认交易品种</em><span>详细</span></a></li>
      <li class="lastDone"><a href="#" title=""><em>第二步：设置期货公司</em><span>详细</span></a></li>
      <li class="current"><a title=""><em>第三步：设置交易参数</em><span>详细</span></a></li>
      <li><a title=""><em>第四步：确认您的选择</em><span>详细</span></a></li>
    </ul> <br><br><br>
    <div id="wizardcontent">

    </div>
    <div class="buttons">
      <a href="javascript:void(0)" class="previous" onclick="loadnext(3,2);"> <%= image_tag "arrow_left.png"  %> 返回 </a>
      <a href="javascript:void(0)" class="next" onclick="loadnext(3,4);"> 下一步  </a> <%= image_tag "arrow_right.png"  %>
    </div>
  </div>

  <div id="wizardpanel" class="4">
    <h3>第四步：确认您的选择</h3>

    <ul id="mainNav" class="fiveStep">
      <li class="done"><a href="#" title=""><em>第一步：确认交易品种</em><span>详细</span></a></li>
      <li class="done"><a href="#" title=""><em>第二步：设置期货公司</em><span>详细</span></a></li>
      <li class="lastDone"><a href="#" title=""><em>第三步：设置交易参数</em><span>详细</span></a></li>
      <li class="current"><a title=""><em>第四步：确认您的选择</em><span>详细</span></a></li>
    </ul><br><br><br>
        <div id="wizardcontent">

        </div>
    <div class="buttons">
      <a href="javascript:void(0)" class="previous" onclick="loadnext(4,3);"> <%= image_tag "arrow_left.png"  %> 返回 </a>
      <%= submit_tag "完成"%> <%= image_tag "arrow_right.png" %>
    </div>
  </div>

</div>
<% end %>
    <% else %>
    <%= button_to "请先登录",:controller=>"sessions" ,:action=>"new" %>
<% end %>
<script type="text/javascript">
    $("#showtable").hide();
    $("#radio_p2_s1").click(function(){

            $("#showtable").show();
    });
</script>