<%= render "side" %>
<div class="centerframe">
<% if @webuser!=nil %>

<%= form_tag do %>

<div id="wizardwrapper">
  <div class="autotrade_setup_step1">
    <h2>确定交易品种</h2>
    <div id="wizardcontent"><%= radio_button_tag "radio_p", "s1" %>期货交易</div>
    <div class="buttons">
	<div class="frameprevious">
      <a  href="javascript:void(0)" class="previous" disabled="disabled"> 返回 </a>
	</div>
      <div class="button_confirm_3">
      <a href="javascript:void(0)" class="next" onclick="myop1()"> 下一步 </a>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>

  <div id="wizardpanel" class="autotrade_setup_step2">
    <h2>设置期货公司</h2>
    <div id="wizardcontent">
     <div id="IB_selection">
       <p><%= radio_button_tag "radio_p2", "s1"%>华泰长城期货交易公司 </p>
       <p><%= radio_button_tag "radio_p2", "s2"%>瑞龙期货交易公司   </p>
      </div>
      <div id="ctp_account_setup">
        <p>您的<scan class="ctp_account_setup_1"></scan>交易帐号:<input type="text" value="" id="account" size="20"></p>
        <p>您的<scan class="ctp_account_setup_1"></scan>交易密码:<input type="password" value="" id="password_s" size="20"></p>
      </div>
    </div>
   <div class="buttons" id="s2_1">
	<div class="frameprevious"><a  href="javascript:void(0)" class="previous" onclick="loadnext(2,1);;"> 返回 </a></div>
     <div class="button_confirm_3"><a  href="javascript:void(0)" class="next" onclick="myop2()"> 下一步 </a></div>
    </div>
    <div class="buttons" id="s2_2">
	<div class="frameprevious"><a  href="javascript:void(0)" class="previous" onclick="myop_retrun(2,1);"> 返回 </a></div>
      <div class="button_confirm_3"><a href="javascript:void(0)" class="next" onclick="myop2()"> 下一步 </a></div>
    </div>
  </div>

  <div id="wizardpanel" class="autotrade_setup_step3">
    <h2>设置交易参数</h2>
    <div id="wizardcontent3">
      <ul><li> 年化收益率定制：</li>
		<li class="pianyou">您当前的期望年化收益率是<% if @strategyparam!=nil%><%= @strategyparam.paramvalue*100%><%else%>无<%end%>%。</li>
       <li class="pianyou"> 请修改<%= text_field_tag :paramvalue, params[:paramvalue],:size=>10 ,:id=>"returnrate"%>%</li>
      </ul>
    </div>
    <div class="buttons">
	  <div class="frameprevious"><a  href="javascript:void(0)" class="previous" onclick="loadnext(3,2);"> 返回 </a></div>
      <div class="button_confirm_3"><a  href="javascript:void(0)" class="next" onclick="myop3()"> 下一步 </a></div>
    </div>
  </div>

  <div id="wizardpanel" class="autotrade_setup_step4">
    <h2>确认您的设置</h2>
    <div id="wizardcontent4">
      <ul>
         <li> 您将在期货市场应用<span>无风险套利策略</span></li><li>您的开户公司是<span>华泰长城期货公司</span>,</li>
          <li>当市场上出现收益率超过<span id="show_t"></span>%时，您将下单1手进行投资。</li>
      </ul>
    </div>
    <div class="buttons">
	 <div class="frameprevious"><a href="javascript:void(0)" class="previous" onclick="loadnext(4,3);"> 返回 </a></div>
	  <div class="button_confirm_2"><%= submit_tag "确认"%></div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<div id="errormsg-box" class="login-popup">
  <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
  <div style="width: 200px;height: 200px;background: white" id="errormsg-show"></div>
</div>

</div>

<div class="rightframe">
  <div class="framerimg"></div>
  <div class="framer">
  <div id="wenti"><h2>常见问题</h2></div>

  <div id="wentineir">
    <ul>
      <li><a href="javascript:void(0)" onclick="window.open('/autotrade/aboutautotrade#about_1')"> 什么是自动化交易？</a></li>
      <li><a href="javascript:void(0)" onclick="window.open('/autotrade/aboutautotrade#about_2')">  自动化交易如何工作的?</a> </li>
      <li ><a href="javascript:void(0)" onclick="window.open('/autotrade/aboutautotrade#about_4')">   我如果开展自动化交易,需要额外付钱吗? </a></li>
      <li class="tworow"><a href="javascript:void(0)" onclick="window.open('/autotrade/aboutautotrade#about_3')"> 我如果要开展自动化交易，会有安全问题，会有人盗用我的帐号金额吗？</a> </li>
      <li class="tworow"> <a href="javascript:void(0)" onclick="window.open('/autotrade/aboutautotrade#about_5')">  我所在的期货公司支持这项业务吗?如果不支持的话，我该怎么办？</a></li><br><br>
    </ul>
  </div>
  </div>
  <div class="IB_intro" id="intro_1">
       华泰介绍
  </div>
  <div class="IB_intro" id="intro_2">
    <h3>瑞龙期货公司</h3>
    <h4>免费服务</h4>
    <p>为了满足客户的对我们测试的需求，特提供服务器地址以及前置号码与测试帐号：
      180.169.116.211---214   电信
      140.206.101.91---94     网通
      交易： 41205
      行情： 41213
    </p>
    <h4>客户服务</h4>
    <p>技术指导电话：18902453770   王广利</p>
    <p>技术在线QQ:       1255398250</p>
    <h4>瑞龙介绍</h4>
    <p>深圳瑞龙期货有限公司前身为沈阳建业期货经纪有限公司，成立于1993年3月，是中国成立最早的期货公司之一。公司于二零零八年十月经深圳证监局“深证局发[2008]390号”文批准，正式将公司总部由辽宁省沈阳市迁址到广东省深圳市，并更名为深圳瑞龙期货有限公司，现注册资本为人民币壹亿元整。公司是中国金融期货交易所（会员号：0273）、上海期货交易所（会员号：0138）、大连商品交易所（会员号：0075）和郑州商品交易所（会员号：0215）的会员单位。</p>
    <h4>瑞龙特色</h4>
    <p>瑞龙期货具备完全自运维的上期信息技术（CTP)主席系统，投入巨资，建立独立机房，目前服务器测试压力仅仅为1%，机房内部测试单速度在8毫秒之内，为程序化交易和高频交易提供了有力的速度保证！</p>
      <p>瑞龙期货具备满足客户根据CTP API策略开发运行的认证体系！</p>
      <p>瑞龙期货根据目前客户独特要求，更具备给客户独立提供服务器托管，进一步满足了客户策略稳定运行，防止了由于外部网络中断而影响交易！</p>
      <p>瑞龙期货是文化财经、开拓者、金字塔的合作伙伴，可以完全满足量化交易客户的策略独立编写要求！</p>
      <p>瑞龙期货期货除具备常规的快期交易终端，还具备有闪电王，赢智等个性化的下单终端！ </p>


  </div>


</div>

<script type="text/javascript">
  <% if @webuser==nil%>
    box("#login-box");
  <% end %>

    function myop1(){
        if ($("#radio_p_s1").attr("checked")=="checked")
            loadnext(1,2);
        else
            alert("请选择内容！")
    }

    function myop_retrun(s1,s2){
        $("#ctp_account_setup,#intro_1,#intro_2").hide();
        $("#IB_selection,.framer").show();
        $("#radio_p2_s1").attr('checked',false);
    }

    $("#ctp_account_setup,#s2_2,#intro_1,#intro_2").hide();
    $(".framer").show();

    $("#radio_p2_s1").click(function(){
        $(".ctp_account_setup_1").html("华泰长城")
        $("#IB_selection,.framer,#s2_1").hide();
        $("#intro_1,#s2_2,#ctp_account_setup").show();
    });
    $("#radio_p2_s2").click(function(){
        $(".ctp_account_setup_1").html("瑞龙")
        $("#IB_selection,.framer,#s2_1").hide();
        $("#intro_2,#s2_2,#ctp_account_setup").show();
    });

    function loadnext(divout,divin){
        $(".autotrade_setup_step" + divout).hide();
        $(".autotrade_setup_step" + divin).fadeIn("fast");
    }


    function myop2(){
        //if($("#test").attr("checked")==true)
        if ($("#radio_p2_s1").attr("checked")=="checked"){
            if($("#account").attr("value")==""||$("#password_s").attr("value")==""){
                alert("账号或者密码为空！")
            }

            else{
                if($("#account").attr("value").length!=8||$("#account").attr("value").substr(0,3)!="118"||$("#account").attr("value").substr(3,5).match(/\D/)!=null){
                    alert("您的华泰长城帐号输入错误！")
                }
                else{

                    $.get("/autotrade/autotrade_s1/1",{account:$("#account").attr("value"),password_s:$("#password_s").attr("value")},function(data){
                        if(data=="0"){
                            //$("#showtable").html("提交成功！") ;
                            loadnext(2,3);

                        }
                        else if(data=="99"){
                            box("#errormsg-box");
                            $("#errormsg-show").html("无法连接交易服务器！") ;

                        }
                        else{
                            box("#errormsg-box");
                            $("#errormsg-show").html(data) ;

                        }

                    })

                }
            }
        }

        else
            alert("请选择内容！")
    }
    function myop3(){
        if($("#returnrate").attr("value")==""){
            alert("年化收益率不能为空！")
        }
        else{
            loadnext(3,4);
            $("#show_t").html($("#returnrate").attr("value")) ;
        }
    }
</script>