<%= javascript_include_tag "jquery.sparkline.js" %>
<script type="text/javascript">
    $(document).ready(function() {
        $('.dynamicsparkline').sparkline(<%= @profitchart_arr%>);
    } );
</script>
<h3>免费的策略</h3>

<% @strategy_free.each do |stgf| %>
  <tr>
        <td><%= link_to(image_tag("zi.gif"),:controller =>"autotrade",:action =>"autotrade_s1",:id=>stgf.id)  %></td>
        <td><span class="dynamicsparkline">Loading..</span></td>
        <td><%= stgf.name %></td>
        <td><%= stgf.developer %></td>
      </tr>  <hr><br>
<% end %>

<h3>您所订阅的策略</h3>
<% @strategy_subscribe.each do |stgs| %>
  <tr>
        <td><%= link_to(image_tag("zi.gif"),:controller =>"autotrade",:action =>"autotrade_s1",:id=>stgs.id)  %></td>
        <td><span class="dynamicsparkline">Loading..</span></td>
        <td><%= stgs.name %></td>
        <td><%= stgs.developer %></td>
      </tr>  <hr><br>
<% end %>
