<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "sales.css" %>
<%= javascript_include_tag "bootstrap.js" %>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100467657" charset="utf-8"></script>
<style>
    .main-footer{ display: none; }
    .main-content{display: table;}
    .span7{padding-top: 93px;}
    @media (max-width: 979px) and (min-width: 768px){
        .row-fluid .span7{
            width: 100%!important;
        }
    }
    .tab-content {
        max-width: 370px;
    }
</style>

<div class="main-content login">
  <div class="row-fluid">
    <div class="span5">
      <div id="myTabContent" class="tab-content">
        <a class="home" href="/">首页</a><br>

        <div class="overlay tab-pane fade in active" id="create">
          <br>
          <div class="bs-docs-example">
            <div class="tab-content">
              <div class="tab-pane fade active in" id="home">
                <h1 class="h1">注册</h1>
                <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate onsubmit="return func()">
                  <table class="log">
                    <tr>
                    <td class="left">用户名 *:</td>
                    <td><input id="username" name="MMERGE3" placeholder="用户名" type="text"></td>
                    </tr><tr>
                    <td class="left">密码 *:</td>
                    <td><input id="password" placeholder="密码" type="password"></td>
                  </tr><tr>
                    <td class="left">电子邮箱 *:</td>
                    <td><input id="email2" name="EMAIL" title="电子邮箱" placeholder="我们将通过此,发送规划书给您" type="text"></td>
                  </tr><tr>
                    <td class="left">联系电话 *:</td>
                    <td><input id="tel2" title="联系电话" placeholder="如您需要帮助时，我们联系您" type="text"></td>
                  </tr>
                    <tr>
                    <td class="win" colspan="2" style="padding: 10px 0;"><input id="check" checked type="checkbox">订阅邮件，发送理财产品介绍、技巧及规划内容。</td>
                  </tr>
                  </table>
                  <div class="clear"><input type="submit" value="注册" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success pull-right"></div>
                  <div class="or-text"><div><b>或</b></div></div>
                  <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
                </form>
              </div>
            </div>
          </div>
          <div class="normal">
          </div>
          <div class="organ">
          </div>
        </div>


        <div class="overlay tab-pane fade" id="login">
          <h1 class="h1">登录</h1>
          <form>
            <table class="log">
              <tr>
              <td class="left">用户名 *:</td>
              <td><input id="username2" placeholder="用户名" type="text"></td>
              </tr><tr>
              <td class="left">密码 *:</td>
              <td><input id="password2" placeholder="密码" type="password"></td>
              </tr><tr>
              <td class="left" colspan="2"><a class="forgetpassword" href="#myModal" role="button" data-toggle="modal">忘记密码了？</a></td>
              </tr>
            </table>
            <a class="btn btn-success pull-right" id="log" href="javascript:void(userlogin('#username2','#password2',4))" type="submit">登录</a>
            <div class="or-text"><div><b>或</b></div></div>
          <div class="win">
            <span id="qqLoginBtn"></span>
            <div class="or-text" style="margin: 20px 0;"><div><b>或</b></div></div>
           </div>
            <% if params[:aaa]=='1' %>
            <wb:login-button type="3,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
            <div class="or-text"><div><b>或</b></div></div>
            <% end %>
            <a class="chear see info-button" href="#create" data-toggle="tab" type="submit" id="change_creat">注册</a>
          </form>
        </div>
        
      </div>
      <div class="hide" id="back">
        <h1 class="h1">您已与通天顺帐号成功绑定<br>您的通天顺会员名是:<span id="webusername"></span></h1>
        <p>请点击左上角 返回<br><a id="bunding">重新绑定 请点击这里</a></p>
      </div>
    </div>
    <div class="span7">
      <dl class="qrcode-panel">
        <dt style="margin-bottom: 5px;">
          <img src="/assets/1.jpg" alt="">
        </dt>
        <dd style="font-size:12px;color: #717375;line-height: 1.6;">
          微信扫描，<br>关注家庭理财
        </dd>
      </dl>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>忘记密码了？</h3>
  </div>
  <div class="modal-body">
   <p>没问题，只需要输入您的电子邮箱地址就可以了。</p>
    <input id="emailforpassword" placeholder="电子邮箱地址" type="text">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="confirm">重设密码</button>
  </div>
</div>

<script>
  $("#confirm").click(function(){
     if($("#emailforpassword").attr("value")==""){
          return false;
     }
      else{
         $.get("/admin/forgetpassword",{email:$("#emailforpassword").attr("value")},function(data){
         });
     }
  });
</script>

<script type="text/javascript">

    var system ={
        win : false,
        mac : false,
        xll : false
    };
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    if(system.win||system.mac||system.xll){
        QC.Login({
                    btnId:"qqLoginBtn",	//插入按钮的节点id
                    size : 'A_L',//按钮样式，A、B、C为三种样式，
                    //S、M、L、XL为同一种样式的不同尺寸，支持如下 :
                    //A_S, A_M, A_L, A_XL;
                    //B_S, B_M, B_L;
                    //C_S;
                    clientId : '100467657'//appId
                },function(reqData,opts){
                    //   $("#log").hide();
                    var paras = {};
                    QC.api("get_user_info", paras)
                            .success(function(s){//成功回调
                                // alert("获取用户信息成功！当前用户昵称为："+s.data.nickname);

                                <% if session[:qq]!=2 && session[:qq]!=1 %>
                                if(QC.Login.check()){//如果已登录
                                    QC.Login.getMe(function(openId, accessToken){
                                        $.get("/home/userconfig/0",{username:s.data.nickname,password:'tongtianshun',tel:'',address: 1,name:1,email:'',company:1,ulogin:1},function(data){
                                            $.get("/admin/userlogin",{username:s.data.nickname,password:'tongtianshun',login:'qq'},function(data){
                                                location.href="/usermanagement/personalinfo";
                                            });
                                        })
                                        $.get("/home/qquserconfigajax/0",{username:s.data.nickname,openid:openId,accesstoken: accessToken},function(data){
                                        })
                                    });
                                }
                                <% end %>
                            })
                    var dom= document.getElementById("qqLoginBtn"),
                            _logoutTemplate=['<a><img src="{figureurl}" class="size_key" width="30" height="30"></a>','&nbsp;<a href="/personmanagement/personfinance" style="font-size: 14px;">{nickname}</a>&nbsp;<a href="#" style="font-size: 14px;" onclick="QC.Login.signOut();">退出</a>'].join("");
                    dom && (dom.innerHTML =QC.String.format(_logoutTemplate,{
                        nickname: QC.String.escHTML(reqData.nickname),
                        figureurl: reqData.figureurl
                    }))
                },function(opts){
                    $("#log").show();
                    logout();
                }
        );
    }
    else{
        $(".win").remove();
    }

</script>

<script>

    $('a.close, #mask,#subscribe').live('click', function() {
        location.href='/';
    });

    function question(name)
    {
        if(document.all)
        {
            document.getElementById(name).click();
        }
        else
        {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, true);
            document.getElementById(name).dispatchEvent(evt);
        }
    }
    <% if params[:logintype] == "creat"%>
    question("change_creat");
    <% end %>

    $("#mc-embedded-subscribe").click(function(){
        userconfig('#username','#password');
    })
    function func(){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$/;
        var phone = /^1(3[0-9]|5[0-35-9]|8[0235-9])\d{8}$/;
        var name=/^\D.{2}.*$/;
        if(!(document.getElementById("check").checked) || $("#username").attr("value")=="" || $("#password").attr("value")=="" || $('#email2').attr("value")=="" || $('#tel2').attr("value")=="" || !name.test($("#username").attr("value")) || !myreg.test($('#email2').attr("value")) || !phone.test($('#tel2').attr("value"))){
            return false;
        }else{
            if(system.win||system.mac||system.xll){
            return true;
        }
            else{
                return false;
            }
        }
    }
    function userconfig(uid,pid){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$/;
        var phone = /^1(3[0-9]|5[0-35-9]|8[0235-9])\d{8}$/;
        var name=/^\D.{2}.*$/;
        if($('#username').attr("value")==""){
            alert("用户名为空！");
        }
        else if($('#password').attr("value")==""){
            alert("密码为空！");
        }
        else if($('#email2').attr("value")==""){
            alert("电子邮箱为空！");
        }
        else if($('#tel2').attr("value")==""){
            alert("联系电话为空！");
        }
        else if(!name.test($(uid).attr("value"))){
            alert("用户名开头字符不能是数字，用户名长度必须大于等于3个字符！");
        }
        else if(!myreg.test($('#email2').attr("value"))){
            alert("电子邮箱格式不正确！");
        }
        else if(!phone.test($('#tel2').attr("value"))){
            alert("联系电话格式不正确！");
        }
        else{
            $.get("/admin/userconfigajax/0",{username:$("#username").attr("value"),password:$("#password").attr("value"),tel:$('#tel2').attr("value"),address: 1,name:1,email:$('#email2').attr("value"),company:1,ulogin:1},function(data){
                if(data!="s"){
                    alert("用户名已注册！");
                }
                else if(data=="s"){
                    alert("用户注册成功！");
                    userlogin(uid,pid,2);
                }
            })
        }
    }

    function userlogin(uid,pid,organ){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            var weixincode="";
            <% if params[:weixincode]!=nil %>
               weixincode='<%= params[:weixincode] %>';
            <% end %>
            $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value"),organ:organ,weixincode:weixincode},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
                else if(data=="weixincode"){
                    $("#myTabContent").hide();
                    $("#webusername").html($(uid).attr("value"));
                    $("#back").show();
                }
                else if('<%= params[:familyassettable] %>'=='1'){
                    location.href="/usermanagement/family_asset_table";
                }
                else if('<%= params[:personalinfo] %>'=='1'){
                    location.href="/usermanagement/personalinfo";
                }
                else if('<%= params[:p4s1] %>'=='1'){
                    location.href="/userfinanceplan/p4s1_Emergency_fund";
                }
                else if('<%= params[:p4s1section] %>'=='1'){
                    location.href="/userfinanceplan/p4s1_Emergency_fund_selection";
                }
                else if('<%= params[:payment] %>'=='1'){
                    location.href="/payment";
                }
                else if('<%= params[:buyhouse] %>'=='1'){
                    location.href="/payment/buyhouse";
                }
                else if('<%= params[:videohelp] %>'=='1'){
                    location.href="/videohelp";
                }
                else if('<%= params[:p4s2] %>'=='1'){
                    location.href="/userfinanceplan/p4s2_highprofit_fund";
                }
                else if('<%= params[:p4s2section] %>'=='1'){
                    location.href="/userfinanceplan/p4s2_highprofit_fund_selection";
                }
                else if('<%= params[:p4s3] %>'=='1'){
                    location.href="/userfinanceplan/p4s3_stableprofit_fund";
                }
                else if('<%= params[:p4s4] %>'=='1'){
                    location.href="/userfinanceplan/p4s4_invest_estimate_plan";
                }
                else if('<%= params[:p4] %>'=='1'){
                    location.href="/userfinanceplan/p4_user_finance_plan_report";
                }
                else if('<%= params[:p5s1] %>'=='1'){
                    location.href="/userfinanceplanexe/p5s1_current_asset_allocate";
                }
                else if('<%= params[:p5s2] %>'=='1'){
                    location.href="/userfinanceplanexe/p5s2_salary_allocate_month";
                }
                else if('<%= params[:p1_usersurvey] %>'=='1'){
                    location.href="/usersurvey/p1_usersurvey";
                }
                else if('<%= params[:p2s1] %>'=='1'){
                    location.href="/usertargets/p2s1_user_target_select";
                }
                else if('<%= params[:p2s1house] %>'=='1'){
                    location.href="/usertargets/p2s1_house_buying";
                }
                else if('<%= params[:p2_usertargets] %>'=='1'){
                    location.href="/usertargets/p2_usertargets";
                }
                else if('<%= params[:p2s2] %>'=='1'){
                    location.href="/usertargets/p2s2_user_target_intro";
                }
                else if('<%= params[:p3_userrisk] %>'=='1'){
                    location.href="/userrisktolerance/p3_userrisktolerance";
                }
                else if('<%= params[:p3steps] %>'=='1'){
                    location.href="/userrisktolerance/p3steps";
                }
                else if('<%= params[:p3report] %>'=='1'){
                    location.href="/userrisktolerance/p3_risktolerence_report";
                }
                else if('<%= params[:p1_usersurvey_report] %>'=='1'){
                    location.href="/usersurvey/p1_user_survey_report";
                }
                else if('<%= params[:summary] %>'=='1'){
                    location.href="/userfinanceplan/p4s1_Emergency_fund";
                }
                else if('<%= params[:activity] %>'=='1'){
                    location.href="/personmanagement/activity/<%= params[:aid] %>";
                }
                else if('<%= params[:comments] %>'=='1'){
                    location.href="/personmanagement/personfinance/<%= params[:pid] %>";
                }
                else if("<%= params[:monthpay] %>"!=""){
                    location.href="/personmanagement/personfinance";
                }
                else if('<%=params[:id] %>'=="1"){
                    location.href="/sales/revise";
                }
                else if(data=="admin" || data=="blog"){
                    location.href="/admin";
                }
                else if (organ==4){
                    location.href="/usermanagement/personalinfo";
                }
                else if (organ==2){
                    location.href="/usersurvey/p1_usersurvey";
                }
            })
        }
    }

    $(document).ready(function(){
        <% if session[:webusername]!=nil %>
        $("#webusername").html("<%= session[:webusername] %>");
        <% end %>
        <% if params[:weixincode]!=nil %>
        <% if @webuser!=nil %>
        $("#myTabContent").hide();

        $("#webusername").html("<%= session[:webusername] %>");
        $("#back").show();
       <% else %>
        $("#myTabContent").show();
        $("#back").hide();
        <% end %>
        <% end %>
    });

    $("#bunding").click(function(){
        <%= session[:webusername]=nil %>
        $("#myTabContent").show();
        $("#back").hide();
    });
</script>