<%= render "side" %>
<div class="centerrightframe">
<script type="text/javascript">
    $(function(){
        $("#datatables").dataTable({
            "aoColumns": [
                { "sTitle": "合约名称", "sClass": "center" },
                { "sTitle": "合约代号", "sClass": "center" },
                { "sTitle": "手续费类型", "sClass": "center" },
                { "sTitle": "当前保证金比例", "sClass": "center" },
                { "sTitle": "手续费", "sClass": "center" },
                { "sTitle": "操作", "sClass": "center" }
        ]
        });
    });
</script>
	<h2>无风险套利设置</h2>
	
<div id="fast_modification"> 
<a href="#fastedit" class="login-window"  style="color: red">快捷修改</a>
</div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">

      <tbody>
            <% @usercommodity.each do |usercommodity_t| %>
                  <tr>
					<td class="center"><%= @hash_commodityid[usercommodity_t.commodityid]  %></td>
					<td class="center"><%= usercommodity_t.commodityid %></td>
  				    <td class="center"><%= @hash_tradechargetype[usercommodity_t.tradechargetype]  %></td>
        <td class = "center" id=b<%= usercommodity_t.id %>><%=  format( "%.0f",@hash_exchtrademargin[usercommodity_t.commodityid]*100)  %>%</td>
                    <% if  (usercommodity_t.tradecharge-usercommodity_t.tradecharge.to_i)==0%>
            <td class="center" id=a<%= usercommodity_t.id %>><%= format( "%.0f",usercommodity_t.tradecharge) %></td>
                        <% else %>
            <td class="center" id=a<%= usercommodity_t.id %>><%= format( "%.6f", usercommodity_t.tradecharge) %></td>
                        <% end %>
        <script type="text/javascript">
          var tc=new Array(),tm=new Array();
          <% @usercommodity.each do |usercommodity_t| %>
          tm[<%=usercommodity_t.id %>]=<%=  format( "%.0f",@hash_exchtrademargin[usercommodity_t.commodityid]*100)  %>;
          <% if  (usercommodity_t.tradecharge-usercommodity_t.tradecharge.to_i)==0%>
                      tc[<%=usercommodity_t.id %>]=<%= format( "%.0f",usercommodity_t.tradecharge) %>
                  <% else %>
                     tc[<%=usercommodity_t.id %>]=<%= format( "%.6f", usercommodity_t.tradecharge) %>
                  <% end %>
          <% end %>
        </script>
        <td class="center" ><a id=c1<%= usercommodity_t.id %> href="javascript:void(0)" onclick='$("#b<%= usercommodity_t.id %>").html("<input id=bb<%= usercommodity_t.id %> type=text value="+tm[<%=usercommodity_t.id %>]+" size=5 />%");
                $("#a<%= usercommodity_t.id %>").html("<input id=aa<%= usercommodity_t.id %> type=text value="+tc[<%=usercommodity_t.id %>]+" size=5/>");
                $("#c1<%= usercommodity_t.id %>").hide();$("#c2<%= usercommodity_t.id %>").show()'>修改</a>
          <a id=c2<%= usercommodity_t.id %> style="display: none;color: red" href=javascript:void(0) onclick=tcpost(<%= usercommodity_t.id %>)>完成</a>
        </td>

                  </tr>
                <% end %>
      </tbody>
    </table>
<script type="text/javascript">
  function tcpost(a){
      $.get("/usercommodity_ts/edittc/"+a,{tradecharge_p:$("#aa"+a.toString()).attr("value"),id:a},function(data1,status){
          $("#a"+a).html(data1);
          tc[a]=data1;
          $("#c1"+a).show();
          $("#c2"+a).hide();
      });
      $.get("/usercommodity_ts/edittm/"+a,{trademargingap_p:$("#bb"+a.toString()).attr("value"),id:a},function(data2,status){
          $("#b"+a).html(data2+"%");
          tm[a]=data2;
          $("#c1"+a).show();
          $("#c2"+a).hide();
      });
      //$.get("/usercommodity_ts/edittc",{tradecharge_p:"gettime"});
     //alert($("#bb"+a.toString()).attr("value")+$("#aa"+a.toString()).attr("value"))
  }
</script>

<!--
<div class="container">
	<div id="content">
	-->
        <div id="fastedit" class="login-popup">
              <div id="fastedit_choose">
                  <div id="fastedit_margin"><input type="radio" id="tm" onclick="tm_c()" >保证金比例</div> 
                  <br>
                <div id="fastedit_fee"><input type="radio" id="tc" onclick="tc_c()" >手续费
                </div>
              </div>
		</div>
  <!--
    </div>
</div>
         -->
  <!--
<div class="container">
	<div id="content">
	-->
        <div id="tm_fe" class="login-popup">
              <div class="popup_2buttons_pattern">
                <div class="popup_content">
                <p>如果不清楚保证金比例，请向期货公司咨询。</p>
                <p>比期货交易所保证金比例</p><p>高 <input type="text" size="5" id="tm_submit_text"> %</p>
                </div>

                <div class="popup_2buttons_confirm"><a href="javascript:void(0)" onclick="tm_submit()">提交</a></div>
                <div class="popup_2buttons_cancel"><a href="#" class="close">取消</a></div>

              </div>
		</div>
  <!--
    </div>
</div>
-->
   <!--
<div class="container">
	<div id="content">
	-->
        <div id="tc_fe" class="login-popup">
              <div class="popup_2buttons_pattern">
                <div class="popup_content">
                <p>如果不清楚手续费，请向期货公司咨询。</p>
                <p>每手手续费比交易所</p><p>高 <input type="text" size="5" id="tc_submit_text"> 元</p>
                </div>

                <div class="popup_2buttons_confirm"><a href="javascript:void(0)" onclick="tc_submit()">提交</a></div>
                <div class="popup_2buttons_cancel"><a href="#" class="close">取消</a></div>


              </div>
		</div>
  <!--
    </div>
</div>
-->
<script type="text/javascript">
  function tm_c(){
      $('#fastedit').hide();
     var loginBox = "#tm_fe";
    		//Fade in the Popup and add close button
    		$(loginBox).fadeIn(300);

    		//Set the center alignment padding + border
    		var popMargTop = ($(loginBox).height() + 24) / 2;
    		var popMargLeft = ($(loginBox).width() + 24) / 2;

    		$(loginBox).css({
    			'margin-top' : -popMargTop,
    			'margin-left' : -popMargLeft
    		});

    		// Add the mask to body
    		$('body').append('<div id="mask"></div>');
    		$('#mask').fadeIn(300);
      $("#tm").attr("checked",false)
  }

  function tc_c(){
      $('#fastedit').hide();
      var loginBox = "#tc_fe";
     		//Fade in the Popup and add close button
     		$(loginBox).fadeIn(300);

     		//Set the center alignment padding + border
     		var popMargTop = ($(loginBox).height() + 24) / 2;
     		var popMargLeft = ($(loginBox).width() + 24) / 2;

     		$(loginBox).css({
     			'margin-top' : -popMargTop,
     			'margin-left' : -popMargLeft
     		});

     		// Add the mask to body
     		$('body').append('<div id="mask"></div>');
     		$('#mask').fadeIn(300);
      $("#tc").attr("checked",false)
  }
  function tm_submit(){
      if($("#tm_submit_text").attr("value")!=null&&$("#tm_submit_text").attr("value")!="") {
      $.get("/usermanagement/trademarginfast/",{tardemargin:$("#tm_submit_text").attr("value")},function(data,status){
         if(data=="s"){
             $("#tm_html").html("修改成功！")
             setTimeout( reload(),3000)
         }
      }); }
      else{
          alert("输入为空！")
      }
  }

  function tc_submit(){
      if($("#tc_submit_text").attr("value")!=null&&$("#tc_submit_text").attr("value")!="") {
      $.get("/usermanagement/tradechargefast/",{tardecharge_0:$("#tc_submit_text").attr("value")},function(data,status){
         if(data=="s"){
             $("#tc_html").html("修改成功！")
                 setTimeout( reload(),3000)
         }
      }); }
      else{
          alert("输入为空！")
      }
  }
        function reload(){
            location.reload()
        }
</script>
</div>



