<h2>交易费用快键修改</h2>
<h3>您好<%= @webuser.name %>！请快键修改交易费用：
  <%= form_tag do %>按手交易费用贵：<%= text_field_tag :tardecharge_0, params[:tardecharge_0],:size=>3 %><br>
      按比例交易费用贵：<%= text_field_tag :tardecharge_1, params[:tardecharge_1],:size=>3 %>‰<br>
      <%= submit_tag "提交"%><% end %></h3>



