<br />
<h2>交易管理页面</h2>
<br />
<!--
<p>如果您不想进行个性化设置，则您不需要做任何操作，系统将采用默认交易信息进行交易。</p>
<p><%= link_to "查看默认交易信息详情",:controller => "tradeinfo",:action => "todayinfo" %></p>
<br />
-->

<p>如果您想让您的套利成本，年化收益率计算更加准确，则您可点击下面按钮进行相应选项设置。</p>

<div id = "tradefeebutton">
  <%= button_to "手续费修改",:controller=>"usermanagement" ,:action=>"usertradecharge", :id=>@webuser.id%>
</div>
<div id = "marginbutton">
  <%= button_to "保证金比例修改",:controller=>"usermanagement" ,:action=>"usertrademargin", :id=>@webuser.id%>
</div>
<div id = "lendatefeebutton">
  <%= button_to "贷款利率修改",:controller=>"usermanagement" ,:action=>"userlendrate", :id=>@webuser.id%>
</div>
<br />
<div id = "nextbutton">
  <%= link_to "下一步：年化收益率设置",:controller=>"strategy" ,:action=>"userreturnrate", :id=>@webuser.id%>
</div>