<script type="text/javascript">
    jQuery.fn.dataTableExt.oSort['formatted-num-asc'] = function(a,b) {
    /* Remove any formatting */
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        /* Parse and return */
        return parseFloat(x) - parseFloat(y);
    };
    jQuery.fn.dataTableExt.oSort['formatted-num-desc'] = function(a,b) {
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        return parseFloat(y) - parseFloat(x);
    };
    $(function(){
        $("#datatables").dataTable({
            "aoColumns": [
                { "sTitle": "商品名", "sClass": "center" },
                { "sTitle": "商品代号", "sClass": "center" },
                { "sTitle": "当前保证金比例","sType": "formatted-num", "sClass": "center" },
                { "sTitle": "操作", "sClass": "center" }
        ]
        });
    });
</script>

	<h2>保证金比例修改</h2>
	<br />

	<div id = "tradefeebutton">
	<%= button_to "返回交易管理页面",:controller=>"usermanagement" ,:action=>"trademanageindex"%>
	</div>

	<div id = "tradefeebutton">
	<%= button_to "保证金比例快捷修改",:controller=>"usermanagement" ,:action=>"trademarginfast"%>
	</div>

	<div id = "nextbutton">
	<%= button_to "下一步：贷款利率修改",:controller=>"usermanagement" ,:action=>"userlendrate", :id=>@webuser.id%>
	</div>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">


      <tbody>
      <% @usercommodity.each do |usercommodity_t| %>
         <tr>
           <td class = "center"><%= @hash_commodityid[usercommodity_t.commodityid] %></td>
           <td class = "center"><%= usercommodity_t.commodityid %></td>
           <td class = "center"><%=  format( "%.0f",@hash_exchtrademargin[usercommodity_t.commodityid]*100)  %>%</td>
           <td class = "center"><%= link_to '修改', :controller =>"usercommodity_ts", :action => "edittm" , :id => usercommodity_t.id  %></td>
         </tr>
      <% end %>
      </tbody>
      <tfoot>
          <tr>
            <th><center>商品名</center></th>
            <th><center>商品代号</center></th>
            <th><center>当前保证金比例</center></th>
            <th><center>操作</center></th>
          </tr>
      </tfoot>
    </table>
