
    <br />  <a href="../tradechargefast"><font size="3"> 手续费快键修改</font></a>
	<%= button_to "返回无风险页",:controller=>"strategy" ,:action=>"shownorisk"%>
	<h2> 手续费定制 </h2>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">

      <thead>
          <tr>
          <th><center>操作</center></th>
		  <th><center>合约名称</center></th> 	
		  <th><center>合约代号</center></th>
   		  <th><center>手续费类型</center></th>
          <th><center>手续费</center></th>
          </tr>
      </thead>

      <tbody>
            <% @usercommodity.each do |usercommodity_t| %>
                  <tr>
                    <td class="center"><%= link_to '修改',:controller => "usercommodity_ts", :action => "edittc" , :id => usercommodity_t.id %></td>
					<td class="center"><%= @hash_commodityid[usercommodity_t.commodityid]  %></td>
					<td class="center"><%= usercommodity_t.commodityid %></td>
  				    <td class="center"><%= @hash_tradechargetype[usercommodity_t.tradechargetype]  %></td>
                    <% if  (usercommodity_t.tradecharge-usercommodity_t.tradecharge.to_i)==0%>
                        <td class="center"><%= format( "%.0f",usercommodity_t.tradecharge) %></td>
                        <% else %>
                            <td class="center"><%= format( "%.6f", usercommodity_t.tradecharge) %></td>
                        <% end %>
                  </tr>
                <% end %>
      </tbody>
      <tfoot>
          <tr>
          <th><center>操作</center></th>
		  <th><center>合约名称</center></th> 	
		  <th><center>合约代号</center></th>
   		  <th><center>手续费类型</center></th>
          <th><center>手续费</center></th>
          </tr>
      </tfoot>
    </table>

