
    <br />
	<%= button_to "返回无风险页",:controller=>"strategy" ,:action=>"shownorisk"%>

	<h2> 手续费定制 </h2>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">

      <thead>
          <tr>
		  <th>合约名称</th> 	
		  <th>合约代号</th>
			<th>手续费类型</th>
            <th>手续费</th>
            <th>操作</th>
          </tr>
      </thead>

      <tbody>
            <% @usercommodity.each do |usercommodity_t| %>
                  <tr>
					<td class="center"><%= usercommodity_t.commodityid %></td>
  				    <td class="center"><%= usercommodity_t.commodityid %></td>
  				    <td class="center"><%= usercommodity_t.tradechargetype %></td>				
                    <td class="center"><%= usercommodity_t.tradecharge %></td>
                    <td class="center"><%= link_to '修改', edit_usercommodity_t_path(usercommodity_t) %></td>
                  </tr>
                <% end %>
      </tbody>
      <tfoot>
          <tr>
		  <th>合约名称</th> 	
		  <th>合约代号</th>
			<th>手续费类型</th>
            <th>手续费</th>
            <th>操作</th>
          </tr>
      </tfoot>
    </table>

