   <br />
    <%= button_to "返回无风险页",:controller=>"strategy" ,:action=>"shownorisk"%>

	<h2>保证金比例定制</h2>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">

      <thead>
          <tr>
            <th>操作</th>
            <th>商品名</th>
            <th>商品代号</th>
            <th>当前保证金比例</th>
          </tr>
      </thead>

      <tbody>
      <% i=0 %>
      <% @usercommodity.each do |usercommodity_t| %>
         <tr>
           <td class = "center"><%= link_to '修改', edit_usercommodity_t_path(usercommodity_t) %></td>
           <td class = "center"><%= @commodityid[i] %></td>
           <td class = "center"><%= @commodityid[i] %></td>
           <td class = "center"><%= @exchtrademargin[i] %></td>
         </tr>
      <% i=i+1 %>
      <% end %>
      </tbody>
      <tfoot>
          <tr>
            <th>操作</th>
            <th>商品名</th>
            <th>商品代号</th>
            <th>当前保证金比例</th>
          </tr>
      </tfoot>
    </table>
