<div class="slider2">
<div class="slice12">
  <h2>个性化管理</h2>
</div>
</div>
<div class="clr"></div>
<div class="body">
  <div class="body_resize_login">
  <div class="StrategyNews">
  <h2>账号管理</h2>
  <ul>
    <li><%= link_to "个人信息管理",:controller=>"webusers" ,:action=>"edit", :id=>@webuser.id %></li>
    <li><%= link_to "交易价格修改",:controller=>"usermanagement" ,:action=>"usertradecharge", :id=>@webuser.id %></li>
  </ul>
  <h2>策略管理</h2>
  <ul>
    <li>无风险套利</li>
  </ul>
<p></p>
</div>
   <h2> 欢迎登录，<%= @webuser.name %>！这里是修改页面！</h2>
    <%= button_to "返回无风险页",:controller=>"strategy" ,:action=>"shownorisk"%>

    <table width="400" height="134" border="1">
          <tr>
            <td width="120">合约号</td>
            <td width="120">当前交易价格</td>
            <td width="120">操作</td>
          </tr>

          <tr>
            <% @usercommodity.each do |usercommodity_t| %>
                  <tr>
                    <td><%= usercommodity_t.commodityid %></td>
                    <td><%= usercommodity_t.tradecharge %></td>
                    <td><%= link_to '修改', edit_usercommodity_t_path(usercommodity_t) %></td>
                  </tr>
                <% end %>
          </tr>
    </table>

	<div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>