   <br />
    <%= button_to "返回无风险页",:controller=>"strategy" ,:action=>"shownorisk"%>

	<h2>保证金比例定制</h2>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">

      <thead>
          <tr>
            <th><center>操作</center></th>
            <th><center>商品名</center></th>
            <th><center>商品代号</center></th>
            <th><center>当前保证金比例( % )</center></th>
          </tr>
      </thead>

      <tbody>
      <% i=0 %>
      <% @usercommodity.each do |usercommodity_t| %>
         <tr>
           <td class = "center"><%= link_to '修改', :controller =>"usercommodity_ts", :action => "edittm" , :id => usercommodity_t.id  %></td>
           <td class = "center"><%= @hash_commodityid[@commodityid[i]] %></td>
           <td class = "center"><%= @commodityid[i] %></td>
           <td class = "center"><%=  format( "%.0f",@exchtrademargin[i]*100)  %></td>
         </tr>
      <% i=i+1 %>
      <% end %>
      </tbody>
      <tfoot>
          <tr>
            <th><center>操作</center></th>
            <th><center>商品名</center></th>
            <th><center>商品代号</center></th>
            <th><center>当前保证金比例( % )</center></th>
          </tr>
      </tfoot>
    </table>
