<%= stylesheet_link_tag "general.min.gz.css" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "Date.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>

<%= stylesheet_link_tag "fthb.css" %>

<div id="main" class="" xmlns="http://www.w3.org/1999/html">

<div class="main-content">
<div class="trow">
<div class="main-inputs">
<div id="inputs" class="content">


<div id="inputs-container">

<div class="padded">
  <h3>投资回报要求：</h3>
</div>

<div id="overlay-inputs-income" class="overlay" style="display: block; ">
  <div class="inputs-block">

    <div class="form-horizontal" style="margin: none; padding: none;">
      <div class="input-group">
        <label><b>个人或机构：</b></label>
        <div class="control-group" id="singlepartnered">
          <label class="radio"><input type="radio" class="p-single" id="single" name="status" value="个人"> 个人</label>
          <label class="radio"><input type="radio" class="p-partnered" id="partnered" name="status" value="机构" checked="checked"> 机构</label>
        </div>
      </div>

      <div class="input-group">
        <label><b>投入资金</b></label>
        <div class="control-group" id="popup-income-group">
          <div class="input-prepend input-append">
            <span class="add-on"></span><input id="popup-income-field" class="span2e" title="输入金额" size="16" value="" type="text"><span class="add-on neutral"></span><span class="add-on">元</span>
          </div>
        </div>
      </div>

      <div id="pincome-group" style="display: block; ">
        <div class="input-group">
          <label><b>投资每年回报率：</b></label>
          <div class="control-group">
            <div class="input-prepend input-append">
              <span class="add-on"></span><input id="popup-partner-income-field" class="span2e" size="16"  type="text"><span class="add-on neutral"></span><span class="add-on">%</span>
            </div>
          </div>
        </div>

      </div>

      <div class="input-buttons">
        <a class="btn btn-success" id="btn-success" href="javascript:void(0)"> 完成</a>
        &nbsp;
      </div>

    </div>

    <div class="after_form" style="display: none; ">

      <div class="input-group">
        <label><b>个人或机构：</b></label>
        <div id="result_1"></div>
        <br>
        <label><b>投入资金：</b></label>
        <span id="result_2"></span>&nbsp;元
        <br><br>
        <label><b>投入每年回报率：</b></label>
        <span id="result_3"></span>&nbsp;%
      </div>

    </div>

  </div>
</div>

</div>

</div>
</div>

<div class="main-body">
  <div class="content">
     <a href="/home">首页</a>   >   <a href="/freetry">试用申请</a>
  <div id="showmsg_s" style="display: none; ">
    <br>
    <p>非常遗憾的和您讲，该产品目前主要针对机构客户，对于个人而言，无法达到无风险投资。</p>
  </div>
    <div id="showmsg_p" style="display: none; ">
      <br>
      <p>非常遗憾的和您讲，由于该产品涉及到实物商品交付，那时将会需要大量的资金，我们建议您
      能投入20万左右的资金进行该产品投资，会更加适合。
      </p>
    </div>
    <div id="showmsg_ps" style="display: none; ">
      <br>
      <p>非常遗憾的和您讲，该产品目前主要针对机构客户，对于个人而言，无法达到无风险投资。且
        由于该产品涉及到实物商品交付，那时将会需要大量的资金，我们建议您能投入20万左右的资金进行该产品投资，会更加适合。
      </p>
    </div>
    <div id="showindex">

            <p>试用申请</p><br>
      欢迎<br>
      开始申请试用之前，请简单输入您的个人投资回报要求，<br>
      我们看看这个产品是否真的适合您？

    </div>
    <div class="after_form" style="display: none; ">
         <br> <br>
       之前 出现过的 符合您要求的盈利机会<br>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <tbody id="tableshow">

        </tbody>
          </table>
      <form id="tryform">
          机构名称：<input id="name" name="name" class="span2e" size="16"  type="text"><br>
          电子邮箱：<input id="email" name="email" title="我们将发试用确认信到该邮箱，请留意输入邮箱名。" class="span2e" size="16" type="text"><br>
          联系电话： <input id="tel" name="tel" class="span2e" size="16"  type="text"><br>
        <div class="input-buttons">
          <a class="btn btn-success" id="btn-apply" href="javascript:void(0)">申请试用</a>
        </div>
      </form>

    </div>

    <div class="fthb faded" id="default_hide">
      <div class="bordered" width="100%">
        <table class="body-container" cellspacing="0" cellpadding="0" border="0">
          <tbody><tr><td></td></tr>
          <tr>
            <td class="body-content">
              <div class="body-content-wrapper">
                <div class="page-interaction">

                  <div class="interaction-overlay">
                    <table width="100%" height="100%" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td valign="middle" align="middle">
                          <div id="interaction-overlay">
                            请先输入个人投资回报要求......
  </div>
                        </td>
                      </tr>
                      </tbody></table>
</div>

                  <div class="interaction-content">
                    <div class="ispacer">
                      <table class="block">
                        <tbody><tr>
                          <td rowspan="2" width="280px">

                            <table cellpadding="0" cellspacing="0" border="0" class="display" id="default_table" >
                              <tbody>
                              <% @allmaxreturnrate_d.each do |maxreturnrate|%>
                                  <tr>
                                    <td class="center"><%= maxreturnrate.pairname %></td>
                                    <td class="center" type="formatted-num"><%= format("%.1f",maxreturnrate.returnrate*100) %>%</td>
                                    <td class="center"><%= maxreturnrate.currenttime.strftime("%Y.%m.%d. %H:%M:%S") %></td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr><td>
                          <form>
                            机构名称：<input  name="name" class="span2e" size="16"  type="text"><br>
                            电子邮箱：<input  name="email" class="span2e" size="16" type="text"><br>
                            联系电话： <input  name="tel" class="span2e" size="16"  type="text"><br>
                            <div class="input-buttons">
                              <a class="btn btn-success"  href="javascript:void(0)">申请试用</a>
</div>
                          </form>
                        </td></tr>
                        </tbody></table>
</div>
</div>

                </div></div></td></tr></tbody></table></div></div>

  </div>
</div>
</div>
</div>
</div>
<script>
    $("#btn-apply").click(function(e){
        if($("#name").attr("value")==""||$("#email").attr("value")==""||$("#tel").attr("value")==""){
            alert("项目不能为空！");
        }
        else if($("#email").attr("value").match(/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/)==null){
           alert("输入正确的电子邮箱！");
        }
        else if($("#tel").attr("value").match(/^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/)==null&&$("#tel").attr("value").match(/^1[3458]\d{9}$/)==null){
            alert("输入正确的号码！");
        }
        else{

            $.get("freetry/preregedit",{name:$("#name").attr("value"),email:$("#email").attr("value"),tel:$("#tel").attr("value")},function(data){

                if(data=="name"){
                   alert("用户名已注册！")
                }
                else if(data=="email"){
                    alert("电子邮箱已注册！")
                }
                else{
                    location.href=data;
                }

            })
        }
    });
        $("#btn-success").click(function(e){
        if($("#popup-income-field").attr("value")==""||$("#popup-partner-income-field").attr("value")==""){
            alert("金额或者回报率为空！")
        }
        else if($("#single").attr("checked")=="checked"){
            if($("#popup-income-field").attr("value")<200000){
                $("#showmsg_s,#showmsg_p,#showmsg_ps,#showindex,#default_hide").hide();
                $("#showmsg_ps").show();
        }
        else{
                $("#showmsg_s,#showmsg_p,#showmsg_ps,#showindex,#default_hide").hide();
                $("#showmsg_s").show();
            }
       }
            else{
        if($("#popup-income-field").attr("value")<200000){
            $("#showmsg_s,#showmsg_p,#showmsg_ps,#showindex,#default_hide").hide();
            $("#showmsg_p").show();
       }
            else{
            $("#showmsg_s,#showmsg_p,#showmsg_ps").hide();
            $("#showindex").show();
            $.get("/freetry/index",{ returnrate: $('#popup-partner-income-field').attr("value")},function(data){
                $(".form-horizontal,#default_hide").hide();
                $(".after_form").show();
                $("#result_1").html($('input:radio:checked').val());
                $("#result_2").html($('#popup-income-field').attr("value"));
                $("#result_3").html($('#popup-partner-income-field').attr("value"));
                //alert(data);
                var str;
                for(var i=0;i<data.length;i++){
                    str=str+"<tr><td>"+data[i].pairname+"</td>"+"<td>"+(data[i].returnrate*100).toFixed(1)+"%</td>"+"<td>"+data[i].currenttime.replace(/T/g," ").replace(/Z/g," ")+"</td></tr>";
                }
                $("#tableshow").html(str);
                $('#example').dataTable({
                    "bPaginate":false, //禁用分页
                    "bFilter": false,
                    "aaSorting": [[1,"desc"]],//排序
                    "aoColumns": [
                        { "sTitle": "套利对名称", "sClass": "center" },
                        { "sTitle": "年化收益率",  "sType": "formatted-num","sClass": "center" },
                        { "sTitle": "日期", "sClass": "center" }
                    ]
                });
            })
        }
        }
    });
    jQuery.fn.dataTableExt.oSort['formatted-num-asc'] = function(a,b) {
        /* Remove any formatting */
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        /* Parse and return */
        return parseFloat(x) - parseFloat(y);
    };
    jQuery.fn.dataTableExt.oSort['formatted-num-desc'] = function(a,b) {
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        return parseFloat(y) - parseFloat(x);
    };
    $(document).ready(function(){
        $('#default_table').dataTable({
            "bPaginate":false, //禁用分页
            "bFilter": false,
            "aaSorting": [[1,"desc"]],//排序
            "aoColumns": [
                { "sTitle": "套利对名称", "sClass": "center" },
                { "sTitle": "年化收益率",  "sType": "formatted-num","sClass": "center" },
                { "sTitle": "日期", "sClass": "center" }
            ]
        });
     });
</script>









