  <div class="leftframe">
  <div class="pagedomain">
    <h1>策略配置</h1>
  </div>
<div id="strategy_config_steps">
  <% if params[:action]=="individual" ||params[:action]=="wait"||(params[:action]=="reportshow"&&params[:stgtype]!="d")||(params[:action]=="mysubmit"&&params[:stgtype]!="d")  %>
      <ul>
        <li><a href='<%= @url_1 %>'><% if params[:action]=="individual"%><p style="color: red;"><%else%><p><%end%>1.策略配置 </p></a></li>
        <li><a href='<%= @url_2 %>' onclick="side_2()"><% if params[:action]=="wait"||params[:action]=="reportshow"%><p style="color: red;"><%else%><p><%end%>2.策略测试</p></a></li>
       <li><a href='<%= @url_3 %>'onclick="side_3()"><% if params[:action]=="mysubmit" %><p style="color: red;"><%else%><p><%end%>3.收藏发布</p></a></li>
    </ul>
  <% else %>
  <ul>
    <li><a href='<%= @url_1 %>'><% if params[:action]=="strategy_s1"%><p style="color: red;"><%else%><p><%end%>确定趋势</p></a></li>
    <li><a href='<%= @url_2 %>' onclick="side_2()"><% if params[:action]=="strategy_s2"%><p style="color: red;"><%else%><p><%end%>确定进场</p></a></li>
    <li><a href='<%= @url_3 %>' onclick="side_3()"><% if params[:action]=="strategy_s3"||params[:action]=="wait_d"||params[:action]=="reportshow"%><p style="color: red;"><%else%><p><%end%>策略测试</p></a></li>
    <li><a href='<%= @url_4 %>' onclick="side_4()"><% if params[:action]=="mysubmit" %><p style="color: red;"><%else%><p><%end%>收藏发布</p></a></li>
  </ul>
 <% end %>
</div>

  </div>
