<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= javascript_include_tag "Hashtable.js" %>
<%= render "side" %>
<% if @webuser!=nil %>
<div class="centerframe">
  <div class="strategy_config">
    <h2>策略配置</h2>
  <div class="strategy_config_selecting">

    <h3>策略类型选择</h3>
      <select onchange="flite(this.options[this.selectedIndex].value)">
        <option>点击选择策略类型</option>
        <option value="0" id="c_0">套利</option>
        <option value="1" id="c_1">单边</option>
      </select>
    <h3>策略选择：</h3>

      <form id="form1" runat="server">

      <div>

        <% if params[:id]==nil %>
            <select id="select_hide" onchange="location.href=this.options[this.selectedIndex].value;">
              <option value="javascript:void(0)"  id="s_0">点击我 选择策略</option>
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/individual/<%= @strategywebs[i].id%>" id="s_<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>
            </select>
            <% else %>

            <select id="select_hide" onchange="location.href=this.options[this.selectedIndex].value;">
              <option value="javascript:void(0)"  id="s_0">点击我 选择策略</option>
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/individual/<%= @strategywebs[i].id%>" id="s_<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>

            </select>
        <% end %>
        <select id="select" onchange="location.href=this.options[this.selectedIndex].value;"></select>
      </div>
      </form>
    <% if params[:id]!=nil %>
      <div id="selectedstrategy">
        <p>选择结果：<%= @strategyweb.name %></p>
      </div>
        <% end %>
  </div>

<script type="text/javascript">
    $("#select").hide();
    function flite(num){
        $("#select").empty();
        $("#s_0").clone().appendTo($("#select"));
        if(num=="0"){
        <% for i in 0..@strategywebs.size-1 do%>
            var stg_t= '<%= @strategywebs[i].strategyid%>'.substr(0,2);
            if(stg_t=="01"||stg_t=="02"||stg_t=="03"){
                $("#s_<%= @strategywebs[i].id%>").clone().appendTo($("#select"));
            }
        <% end%>
        }
        else{
        <% for i in 0..@strategywebs.size-1 do%>
            var stg_t= '<%= @strategywebs[i].strategyid%>'.substr(0,2);
            if(stg_t=="04"){
                $("#s_<%= @strategywebs[i].id%>").clone().appendTo($("#select"));
            }
        <% end%>
        }
        $("#select_hide").hide();
        $("#select").show();
    }
  function side_2(){
      alert("请选择的策略！")
  }
  function side_3(){
      alert("请选择的策略！")
  }
  function side_4(){
      alert("请选择的策略！")
  }
  <% if params[:id]!=nil%>
    //$("#s_<%= params[:id]%>").attr("selected",true) ;
    var hash_stg = new Hashtable();
    <% for i in 0..@strategywebs.size-1 do%>
    hash_stg.add(<%= @strategywebs[i].id%>,'<%= @strategywebs[i].strategyid%>');
    <% end%>
    if(hash_stg.items(<%= params[:id]%>).substr(0,2)=="04"){
        $("#c_1").attr("selected",true) ;
        flite("1");
    }
    else{
        $("#c_0").attr("selected",true) ;
        flite("0");
    }
    $("#select option[value='/strategys_combine/individual/<%= params[:id]%>']").attr("selected",true);
<% end%>
</script>
<% if params[:id]!=nil %>

<form id="individual_form">
<div class="strategy_config_para">
<h3>策略参数配置:</h3>
    <% for i in 0..@strategy_params.size-1 %>
      <% if @strategy_params[i].paramname!="J"%>
        <p><%= @strategy_params[i].strategy_para_name  %>(<a href="[name='#<%=@strategy_params[i].paramname%>']" class="login-window">?</a>)</p>
        <p><input id="<%= @strategy_params[i].paramname  %>" name="<%= @strategy_params[i].paramname  %>"  type="text" value="<%= @strategy_params[i].strategy_para_default %>" onclick="this.value=''"/> (参数范围：<%= @strategy_params[i].strategy_para_range %>)</p>

    <div name="#<%=@strategy_params[i].paramname%>" id="strategy_buy_confirm" class="login-popup">

  <div class="popup_2buttons_pattern">
    <div class="popup_content">
                      <p>名称：<%= @strategy_params[i].strategy_para_name %></p>
                      <p>简介：<%= @strategy_params[i].strategy_para_description %></p>
<!--                      <p>参数范围：<%= @strategy_params[i].strategy_para_range %> </p>
                      <p>参数默认值：<%= @strategy_params[i].strategy_para_default %></p>     -->

    </div>

    <div class="popup_2buttons_confirm"><a class="close">确定</a></div>
    <div class="popup_2buttons_cancel"><a class="close">取消</a></div>
  </div>
</div>
     <% end %>
     <% end %>
</div>
   <div class="strategy_config_commodity">
    <h3>策略品种：</h3>
     <p><input  type="checkbox" onclick="if(this.checked==true)checkall(true,'commoditynames[]'); else checkall(false,'commoditynames[]')" />全选/全不选</p>

     <% if @strategyweb.strategyid.slice(0,2)=="04" %>
    <% for i in 0..@rightids_arr_d.size-1 %>
        <p><%= check_box_tag 'commoditynames[]',@rightids_arr_d[i]%><%= @rightids_arr_d[i] %></p>
    <% end %>
        <% else %>
    <% for i in 0..@rightids_arr.size-1 %>
        <p><%= check_box_tag 'commoditynames[]',@rightids_arr[i]%><%= @hash_commodityid[@rightids_arr[i].split("-")[0]]  %>-<%= @hash_commodityid[@rightids_arr[i].split("-")[0]]  %> 套利 (<%=@rightids_arr[i]%>)</p>
    <% end %>
    <% end %>
    </input>
   </div>

  <div class="strategy_config_startdate">
    <h3>策略测试日期设置</h3>
    <p>开始日期：</p><%= text_field_tag :startdate, params[:startdate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"startdate",:name=>"startdate",:title=>" 策略开始时间"%><br>
    <p>结束日期：</p><%= text_field_tag :enddate, params[:enddate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"enddate",:name=>"enddate",:title=>" 策略结束时间"%><br>
  </div>

    <div class="button_confirm_2"><a href="#ensure_test" class="login-window">提交</a></div>
     <br>


            <div id="ensure_test" class="login-popup">
            <div class="popup_2buttons_pattern">
              <div class="popup_content">
              <p>我想在
                <% for i in 0..@rightids_arr.size-1 %>
                    <%= @rightids_arr[i] %>&nbsp;
                <% end %>
                上，用<%= @strategyweb.name %>测试。</p>
              </div>
              <div class="popup_2buttons_confirm"><a href="javascript:void(0)" onclick="$('#individual_form').submit();">确定</a></div>
              <div class="popup_2buttons_cancel">  <a class="close">取消</a></div>
            </div>

    		</div>
        </form>

 <script type="text/javascript">
    //alert(document.getElementsByName('commoditynames[]').length)
    function $N(name){return document.getElementsByName(name);}
    function checkall(v,name){//v当前要设置的值true/false;name要设置的checkbox组的name,如果省略则默认为所有的checkbox
        o=name?$N(name):$N("input");
        //alert(o.length)
        for(i=0;i<o.length;i++)
            if(o[i].type=="checkbox")o[i].checked=v;
    }

   var rightid=new Array();
   <% if @strategyweb.strategyid.slice(0,2)=="04" %>
    $("#commoditynames_").attr("checked",true)
   <% for i in 0..@rightids_arr_d.size-1 %>
       rightid[<%= i%>]='<%= @rightids_arr_d[i] %>'
   <% end %>
   <% else %>
    <% for i in 0..@rightids_arr.size-1 %>
    $("#commoditynames_").attr("checked",true)
       rightid[<%= i%>]='<%= @rightids_arr[i] %>'
   <% end %>
   <% end %>
    var checked_flag=0;
   $("form").submit(function(e){
   for(var i=0;i<rightid.length-1;i++){
       if($("input[value$="+rightid[i]+"]").attr("checked")=="checked"){
           checked_flag=1;
           break;
       }
   }
       if(checked_flag==0){
       e.preventDefault(); //阻止action提交
       alert("品种名为空！");
       }
   });
     $(function() {
         $("form").validity(function() {
             $("#period")
                 .require()
                 .match("number");
             $("#losses")
                 .require()
                 .match("number");
             $("#wins")
                 .require()
                 .match("number");
             $("#objecttype")
                 .require();
             $("#startdate")
                 .require();
             $("#enddate")
                .require();
         });
     });
    function DateDiff(sDate1, sDate2){ //sDate1和sDate2是2002-12-18格式
        var aDate, oDate1, oDate2, iDays
        aDate = sDate1.split("-")
        oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]) //转换为12-18-2002格式
        aDate = sDate2.split("-")
        oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])
        iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 /24) //把相差的毫秒数转换为天数
        return iDays
    }
    $("#individual_form").submit(function(e){
        var diff=DateDiff($("#enddate").attr("value"),$("#startdate").attr("value"))
        if(diff<91){
            alert("间隔天数必须大于3个月！");
            $('#mask , .login-popup').fadeOut(300 , function() {
                $('#mask').remove(); });
            e.preventDefault();
        }

    });
   function side_2(){
       alert("提交选择的策略！")
   }
   function side_3(){
       alert("提交选择的策略！")
   }
    function side_4(){
        alert("提交选择的策略！")
    }
 </script>
  <% end %>
  </div>


</div>
<div class="rightframe">
<% if params[:id]!=nil %>

   <h3><%= @strategyweb.name %></h3>
      <h4>建仓条件描述：</h4><p><%= @strategyweb.open_position_conditions %></p>
      <h4>平仓条件描述：</h4><p><%= @strategyweb.close_position_conditions %></p>
      <h4>参数简介：</h4><p><%= @strategyweb.strategy_para_description %></p>
<!--
      <h4>止损平仓条件：</h4><p><%= @strategyweb.stop_conditions %></p>
        <p>止赢平仓条件：<%= @strategyweb.winstop_conditions %></p>
        <p>加仓条件描述：<%= @strategyweb.add_position_conditions %></p>
      <h4>参数简介：</h4><p><%= @strategyweb.strategy_para_description %></p>
      <% for i in 0..@strategy_params.size-1 %>
            <h4>参数名称：</h4><p><%= @strategy_params[i].paramname %>(<%= @strategy_params[i].strategy_para_name %>)</p>
            <h4>参数简介：</h4><p><%= @strategy_params[i].strategy_para_description %> </p>
            <h4>参数范围：</h4><p><%= @strategy_params[i].strategy_para_range %> </p>
            <h4>参数默认值：</h4><p><%= @strategy_params[i].strategy_para_default %> </p>
        <% end %>
-->

<!--      <h4>策略图形介绍：</h4><%=image_tag("#{@strategyweb.strategy_img_description}")  %>     -->
<!--      <p>策略指标引用：<%= @strategyweb.strategy_reference %></p>  -->
 <% end %>
</div>

<% if params[:id]!=nil&&@hash_params[@hash_params.keys[0]]!=nil %>
<script>
      $("form").submit(function(e){
          //e.preventDefault();
          var submit_flag=0;
          <% for i in 0..@strategy_params.size-1 %>
          <% if @strategy_params[i].paramname!="J"%>
          var value_t=$("#<%= @strategy_params[i].paramname %>").attr("value");
          if(value_t!=""){
          if(parseFloat(value_t)<<%= @hash_params[@strategy_params[i].paramname].split("-")[0].to_f %>||parseFloat(value_t)><%= @hash_params[@strategy_params[i].paramname].split("-")[1].to_f %>){
          alert("<%= @strategy_params[i].paramname %>参数范围错误！");
          submit_flag=submit_flag+1;
          }
          }
          else
          submit_flag=1;
          <% end %>
          <% end %>
          if(submit_flag!=0){
          e.preventDefault();
          }
      });
</script>
<% end %>
<% end %>