<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= javascript_include_tag "jquery.autocomplete.js" %>
<%= stylesheet_link_tag "jquery.autocomplete.css" %>
<%= render "side" %>
<div class="centerframe">
  <div class="strategy_config">
    <h2>套利策略配置</h2>
  <div class="strategy_config_selecting">
    <h3>策略选择：</h3>

      <form id="form1" runat="server">
      <div>
        <% if params[:id]==nil %>
            <select onchange="location.href=this.options[this.selectedIndex].value;">
              <option value="javascript:void(0)">点击我 选择策略</option>
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/individual/<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>

            </select>
            <% else %>

            <select onchange="location.href=this.options[this.selectedIndex].value;">
              <option value="javascript:void(0)">策略选择成功</option>
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/individual/<%= @strategywebs[i].id%>" id="s_<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
                  <option value="/strategys_combine/individual/<%= @strategywebs[i].id%>" id="s_<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>

            </select>
        <% end %>
      </div>
      </form>
    <% if params[:id]!=nil %>
      <div id="selectedstrategy">
        <p>选择结果：<%= @strategyweb.name %></p>
      </div>
        <% end %>
  </div>

<script type="text/javascript">
  function side_2(){
      alert("请选择的策略！")
  }
  function side_3(){
      alert("请选择的策略！")
  }
  function side_4(){
      alert("请选择的策略！")
  }
  <% if params[:id]!=nil%>
    $("#s_<%= params[:id]%>").attr("selected",true)
<% end%>
</script>
<% if params[:id]!=nil %>

<form id="individual_form">
<div class="strategy_config_para">
<h3>策略参数配置:</h3>
    <% for i in 0..@strategy_params.size-1 %>
        <p><%= @strategy_params[i].paramname  %>
          <input id="<%= @strategy_params[i].paramname  %>" name="<%= @strategy_params[i].paramname  %>"  type="text" value="<%= @strategy_params[i].strategy_para_default %>" onclick="this.value=''"/></p>
     <% end %>
</div>
   <div class="strategy_config_commodity">
    <h3>策略品种：</h3>
     <p><input  type="checkbox" onclick="if(this.checked==true)checkall(true,'commoditynames[]'); else checkall(false,'commoditynames[]')" />全选/全不选</p>

     <% if @strategyweb.strategyid.slice(0,2)=="04" %>
    <% for i in 0..@rightids_arr_d.size-1 %>
        <p><%= check_box_tag 'commoditynames[]',@rightids_arr_d[i]%><%= @rightids_arr_d[i] %></p>
    <% end %>
        <% else %>
    <% for i in 0..@rightids_arr.size-1 %>
        <p><%= check_box_tag 'commoditynames[]',@rightids_arr[i]%><%= @hash_commodityid[@rightids_arr[i].split("-")[0]]  %>-<%= @hash_commodityid[@rightids_arr[i].split("-")[0]]  %> 套利 (<%=@rightids_arr[i]%>)</p>
    <% end %>
    <% end %>
    </input>
   </div>

    <div class="strategy_config_startdate">
    <h3>评估开始时间：</h3>
    <%= text_field_tag :startdate, params[:startdate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"startdate",:name=>"startdate",:title=>" 策略开始时间"%><br>
    </div>

    <div class="button_confirm_2"><a href="#ensure_test" class="login-window">提交</a></div>
     <br>


            <div id="ensure_test" class="login-popup">
            <div class="popup_2buttons_pattern">
              <div class="popup_content">
              <p>我想在
                <% for i in 0..@rightids_arr.size-1 %>
                    <%= @rightids_arr[i] %>&nbsp;
                <% end %>
                上，用<%= @strategyweb.name %>测试。</p>
              </div>
              <div class="popup_2buttons_confirm"><a href="javascript:void(0)" onclick="$('#individual_form').submit();">确定</a></div>
              <div class="popup_2buttons_cancel">  <a class="close">取消</a></div>
            </div>

    		</div>
        </form>

 <script type="text/javascript">
    //alert(document.getElementsByName('commoditynames[]').length)
    function $N(name){return document.getElementsByName(name);}
    function checkall(v,name){//v当前要设置的值true/false;name要设置的checkbox组的name,如果省略则默认为所有的checkbox
        o=name?$N(name):$N("input");
        //alert(o.length)
        for(i=0;i<o.length;i++)
            if(o[i].type=="checkbox")o[i].checked=v;
    }

   var rightid=new Array();
   <% if @strategyweb.strategyid.slice(0,2)=="04" %>
    $("#commoditynames_").attr("checked",true)
   <% for i in 0..@rightids_arr_d.size-1 %>
       rightid[<%= i%>]='<%= @rightids_arr_d[i] %>'
   <% end %>
   <% else %>
    <% for i in 0..@rightids_arr.size-1 %>
    $("#commoditynames_").attr("checked",true)
       rightid[<%= i%>]='<%= @rightids_arr[i] %>'
   <% end %>
   <% end %>
    var checked_flag=0;
   $("form").submit(function(e){
   for(var i=0;i<rightid.length-1;i++){
       if($("input[value$="+rightid[i]+"]").attr("checked")=="checked"){
           checked_flag=1;
           break;
       }
   }
       if(checked_flag==0){
       e.preventDefault(); //阻止action提交
       alert("品种名为空！");
       }
   });
     $(function() {
         $("form").validity(function() {
             $("#period")
                 .require()
                 .match("number");
             $("#losses")
                 .require()
                 .match("number");
             $("#wins")
                 .require()
                 .match("number");
             $("#objecttype")
                 .require();
             $("#startdate")
                 .require();
         });
     });

   function side_2(){
       alert("提交选择的策略！")
   }
   function side_3(){
       alert("提交选择的策略！")
   }
    function side_4(){
        alert("提交选择的策略！")
    }
 </script>
  <% end %>
  </div>


</div>

<div class="rightframe">
<% if params[:id]!=nil %>

   <h3><%= @strategyweb.name %></h3>
   <p><%= @strategyweb.description%></p>
 <% end %>
</div>

<% if params[:id]!=nil&&@hash_params[@hash_params.keys[0]]!=nil %>
<script>
      $("form").submit(function(e){
          //e.preventDefault();
          var submit_flag=0;
          <% for i in 0..@strategy_params.size-1 %>
          var value_t=$("#<%= @strategy_params[i].paramname %>").attr("value");
          if(value_t!=""){
          if(parseFloat(value_t)<<%= @hash_params[@strategy_params[i].paramname].split("-")[0].to_f %>||parseFloat(value_t)><%= @hash_params[@strategy_params[i].paramname].split("-")[1].to_f %>){
          alert("<%= @strategy_params[i].paramname %>参数范围错误！");
          submit_flag=submit_flag+1;
          }
          }
          else
          submit_flag=1;
          <% end %>
          if(submit_flag!=0){
          e.preventDefault();
          }
      });
</script>
<% end %>