<%= render "side" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>

最佳参数 <br>
<% for i in 0..@opt_data[@opt_data.size-1].size-1%>
    <%=@opt_title[i]  %>：<%=@opt_data[@opt_data.size-1][i] %>&nbsp;
<% end %>
<br>
确定要使用这对参数重新进行测试？<br>
<form id="opt">
  <% for i in 0..@opt_title.size-1%>
      <input id="<%=@opt_title[i]  %>" name="<%=@opt_title[i]  %>" value="<%=@opt_data[@opt_data.size-1][i] %>" type="hidden">
  <% end %>
  <input id="stgtype" name="stgtype" value="d" type="hidden">

</form>

<a href="javascript:void(0)" onclick="$('#opt').submit();">重新测试</a><br>
<%if params[:stgtype]!="d"%>
<a href="/strategys_combine/reportshow">返回原来测试结果</a>
  <% else %>
    <a href="/strategys_combine/reportshow?stgtype=d">返回原来测试结果</a>
  <% end %>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">
  <thead>
  <tr>
    <% for i in 0..@opt_title.size-1%>
    <th class="center"><%=@opt_title[i]  %></th>
     <% end %>
  </tr>
  </thead>

  <tbody>
  <% for i in 1..@opt_data.size-2%>
  <tr>
    <% for j in 0..@opt_data[i].size-1%>
    <td class="center"><%=@opt_data[i][j].to_f  %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(function(){
        $("#datatables").dataTable({
            "aaSorting": [[2,"desc"]],//排序
            "bPaginate":false ,//禁用分页
        });
    });
    <%if params[:stgtype]!="d"%>
    function side_3(){
        if(window.confirm('重新选择优化算法？')){
            location.href="/strategys_combine/optimizedmethod?stgtype=d";
        }
    }
    function side_4(){
        if(window.confirm('你放弃使用优化算法？')){
            location.href="/strategys_combine/mysubmit";
        }
    }
    <%else%>
    function side_4(){
        if(window.confirm('重新选择优化算法？')){
            location.href="/strategys_combine/optimizedmethod?stgtype=d";
        }
    }
    function side_5(){
        if(window.confirm('你放弃使用优化算法？')){
            location.href="/strategys_combine/mysubmit?stgtype=d";
        }
    }
    <%end%>

</script>
