<%= render "side" %>
<div class="centerrightframe">
<h2>策略优化</h2>
<form id="op">
  <select  id="opmed" name="opmed">
    <option value="0">默认算法（模拟退火算法1）</option>
    <option value="1">登山算法1</option>
    <option value="2">登山算法2</option>
    <option value="3">模拟退火算法1</option>
    <option value="4">模拟退火算法2</option>
    <option value="5">遗传算法</option>
    <option value="6">路径优先算法</option>
  </select>
  <input type="hidden" id="stgtype" name="stgtype" value="<%= params[:stgtype] %>">
</form>

<div class="button_confirm_3">
  <a href="javascript:void(0)" onclick="$('#op').submit();">下一步</a>
</div>
</div>

<script>
    $('#opmed option:eq(<%= params[:opmed]%>)').attr('selected','selected');

    search("#keyword1","#getValue1");
    function search(keywardid,getvalueid) {
        function setdata(name,control,action,id){
            this.name=name;
            this.control=control;
            this.action=action;
            this.id=id;
        }
        var data=new Array();
    <% for i in 0..@strategywebs.size-1%>
        data[<%= i %>]=new setdata('<%= @strategywebs[i].name%>','<%= @strategywebs[i].control%>','<%= @strategywebs[i].action%>','<%= @strategywebs[i].id%>')
    <% end%>
     //var data = [{name:'1',controls:"xx"},{name:'2',controls:"xx"},{name:'3',controls:"xx"}];
     var searchdate;
     function findValueCallback(event, data, formatted) {
        //$("#content").html("<strong>"+(!data ? "没有匹配！" : "您选择的是：" + formatted)+"</strong>");
        searchdate=data;
        location.href="/strategys_combine/optimizedmethod/"+searchdate.id;
     }
     $(keywardid).autocomplete(data, {
         max: 12,    //列表里的条目数
         minChars: 0,    //自动完成激活之前填入的最小字符
         width: 200,     //提示的宽度，溢出隐藏
         scrollHeight: 300,   //提示的高度，溢出显示滚动条
         matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
         autoFill: false,    //自动填充
         formatItem: function(data, i, total) {
             return "<I>"+data.name+"</I>";
         },
         formatMatch: function(data, i, total) {
             return data.name;
         },
         formatResult: function(data) {
             return data.name;
         }
     });
        $(keywardid).result(findValueCallback);
    }
    <%if params[:stgtype]!="d"%>
    function side_4(){
        if(window.confirm('你放弃使用优化算法？')){
            location.href="/strategys_combine/mysubmit";
        }
    }
    <%else%>
    function side_5(){
        if(window.confirm('你放弃使用优化算法？')){
            location.href="/strategys_combine/mysubmit?stgtype=d";
    }
    }
    <%end%>
    $(function() {
        $("form").validity(function() {
            $("#startdate")
                .require();
            $("#enddate")
                .require();
        });
    });

</script>
