<%= javascript_include_tag "xml2array.js" %>
<%= javascript_include_tag "highstock.js" %>
<%= javascript_include_tag "exporting.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= render "side" %>
<div class="centerrightframe">
  <% if @webuser!=nil %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#traderecordtable').dataTable( {
            "aaSorting": [[5,"desc"]]
        } );
        $('#performancetable').dataTable( {
            "bFilter": false,
            "bPaginate": false} );
    } );
    var xml_arr= new Array();
    var chart_arr= new Array([0,0]);
    var start_profit=200000;
    //chart_arr=[];
    $.ajaxSetup({
        cache: false
    });
    $.get("/assets/dailyinfo-"+"<%= @uid%>"+".xml",function(data){
        //alert(data.childNodes[0])
        var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        if (window.ActiveXObject)
            Sys.ie = ua.match(/msie ([\d.]+)/)[1];
        if(Sys.ie<10)
        data.removeChild(data.childNodes[0]);
        xml_arr=xml2array(data);
        var size=data.getElementsByTagName("item").length;
        for(var i=0;i<size-1;i++){
           chart_arr[i]=[parseFloat(xml_arr['l_dailyinfoxml']['item'][i]['dailydatenum']),parseFloat(xml_arr['l_dailyinfoxml']['item'][i]['profit'])+start_profit]
        }
        //alert(size)
        window.chart = new Highcharts.StockChart({
            chart : {
                renderTo : 'container_profit',
                zoomType : "x"
            },
            rangeSelector : {
                selected : 5 //zoom显示的默认选择
            },
            title : {
                text : ''
            },
            series : [{
                name : 'profit',
                data :chart_arr,
                tooltip: {
                    valueDecimals: 2
                }
            }],
            exporting :{
                enabled: true,
                filename: "profit_chart",
                type: "image/png",
                width: 100
            }
        });
    });
</script>
<div class="strategy_report_action">
<!--      <a href="/strategys_combine/optimizedmethod?stgtype=<%= params[:stgtype]%>">您还不满意？</a>   -->
      <div class="button_confirm_3"><a href="/strategys_combine/optimizedmethod?stgtype=<%= params[:stgtype]%>">不满意</a></div>
      <div class="button_confirm_2"><a href="/strategys_combine/mysubmit?stgtype=<%= params[:stgtype]%>">收藏</a></div>
<!--      <a href="/strategys_combine/mysubmit?stgtype=<%= params[:stgtype]%>">收藏</a>  -->
      <% if params[:stgtype]=="d" %>
      <div class="button_confirm_2"><a href="/strategys_combine/strategy_s1">取消</a></div>

<!--          <a href="/strategys_combine/strategy_s1">取消</a> -->
      <% else %>
      <div class="button_confirm_2"><a href="/strategys_combine/individual">取消</a></div>
<!--          <a href="/strategys_combine/individual">取消</a>  -->
      <% end %>
</div>
<h2>年化收益率表</h2>
<p>所有数据都需要和最新实时行情结合</p>
<div class="annual_profit_display" id="container_profit"></div>​
<% if @reference_arr[@reference_arr.keys[0]]!=nil  %>
<h2>策略详细参数</h2>
<table class="display" id=performancetable >
  <thead>
  <td>属性名</td>
  <td>数值</td>
  </thead>
  <tbody>
 			  <tr>
 				<td>最低保证金需要金额</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][0] %></td>
 			  </tr>
 			  <tr>
 				<td>总利润</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][1] %></td>
 			  </tr>
 			  <tr>
 				<td>总毛盈利</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][2] %></td>
 			  </tr>
 			  <tr>
 				<td>总毛亏损</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][3] %></td>
 			  </tr>
 			  <tr>
 				<td>平均月回报率</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][4] %></td>
 			  </tr>
 			  <tr>
 				<td>平均年回报率</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][5] %></td>
 			  </tr>
 			  <tr>
 				<td>总交易天数</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][6] %></td>
 			  </tr>
 			  <tr>
 				<td>总交易次数</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][7] %></td>
 			  </tr>
 			  <tr>
 				<td>日均交易次数</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][8] %></td>
 			  </tr>
 			  <tr>
 				<td>盈利交易次数</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][9] %></td>
 			  </tr>
 			  <tr>
 				<td>亏损交易次数</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][10] %></td>
 			  </tr>
 			  <tr>
 				<td>交易胜率</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][11] %></td>
 			  </tr>
 			  <tr>
 				<td>最大单笔盈利金额</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][12] %></td>
 			  </tr>
 			  <tr>
 				<td>最大单笔亏损金额</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][13] %></td>
 			  </tr>
               <tr>
                 <td>毛赢利金额/赢利交易次数</td>
                 <td><%= @reference_arr[@reference_arr.keys[0]][14] %></td>
               </tr>
               <tr>
                 <td>毛亏损金额/亏损交易次数</td>
                 <td><%= @reference_arr[@reference_arr.keys[0]][15] %></td>
               </tr>
 			  <tr>
 				<td>平均每次交易盈亏金额/总交易次数</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][16] %></td>
 			  </tr>
               <tr>
                 <td>(平均利润/总交易次数)/平均损失</td>
                 <td><%= @reference_arr[@reference_arr.keys[0]][17] %></td>
               </tr>

 			  <tr>
 				<td>最大资金回退金额</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][18] %></td>
 			  </tr>
 			  <tr>
 				<td>最大衰退期</td>
 				<td><%= @reference_arr[@reference_arr.keys[0]][19] %></td>
 			  </tr>
  </tbody>
</table>
      <% end %>
<br>
  <% if @webuser!=nil%>
      <% if @webuser.level!=0 %>
          <h2>posrecord</h2>
        <table class="display" id="traderecordtable" >
          <thead>
          <td>交易对象名称</td>
          <td>是否平仓（1是/0否）</td>
          <td>开仓日期</td>
          <td>平仓日期</td>
          <td>买卖方向（-1做空/1做多）</td>
          <td>收益</td>
          </thead>
          <tbody>
          <% for i in 0..@dailyinfo_data.size-1%>
          <tr>
            <% for j in 0..@dailyinfo_data[i].size-1%>
          <td><%=@dailyinfo_data[i][j]%></td>
      <% end %>
          </tr>
  <% end %>
          </tbody>
        </table>

<% end %>
  <% end %>

</div>
<% end %>