<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= render "side" %>
<% if @webuser!=nil %>
<div class="centerframe">

    <% if params[:id]!=nil %>

      <h2><%= @strategyweb.name%>策略测试：</h2>
<form id="s3_form">
          <div class="strategy_config_commodity">
          <h3>策略品种：</h3>
          <% if @strategyweb.strategyid.slice(0,2)=="04" %>
                <%= check_box_tag 'commoditynames[]',@rightids_arr_d[0],:checked=>true%><%= @rightids_arr_d[0] %>
          <% for i in 1..@rightids_arr_d.size-1 %>
              <%= check_box_tag 'commoditynames[]',@rightids_arr_d[i]%><%= @rightids_arr_d[i] %>
          <% end %>
              <% else %>
                <%= check_box_tag 'commoditynames[]',@rightids_arr[0],:checked=>true%><%= @rightids_arr[0] %>
          <% for i in 0..@rightids_arr.size-1 %>
              <%= check_box_tag 'commoditynames[]',@rightids_arr[i]%><%= @rightids_arr[i] %>
          <% end %>
          <% end %>
          <p>如果选择全部品种，等待时间会比较长，请耐心等待</p>
          </div>
          <div class="strategy_config_startdate">
          <h3>策略测试日期设置</h3>
          <p>开始日期：</p><%= text_field_tag :startdate, params[:startdate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"startdate",:name=>"startdate",:title=>" 策略开始时间"%><br>
          <p>结束日期：</p><%= text_field_tag :enddate, params[:enddate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"enddate",:name=>"enddate",:title=>" 策略结束时间"%><br>
          </div>

      	<div class="frameprevious">
            <a  href="/strategys_combine/strategy_s2" class="previous"> 返回 </a>
      	  </div>


        	  	<div class="button_confirm_3">
                    <a href="#ensure_test" class="login-window">下一步</a>
        	    </div>



            <div id="ensure_test" class="login-popup">
            <div class="popup_2buttons_pattern">
              <div class="popup_content">
              <p>
                我想在
                <% for i in 0..@rightids_arr.size-1 %>
                    <%= @rightids_arr[i] %>&nbsp;
                <% end %>
                上，用<%= @strategyweb.name %>测试。
                </p>
              </div>
              <div class="popup_2buttons_confirm"><a href="javascript:void(0)" onclick="$('#s3_form').submit();">确定</a></div>
              <div class="popup_2buttons_cancel">  <a class="close">取消</a></div>
            </div>
              </div>


          <div style="clear:both"></div>
      </form>


       <script type="text/javascript">
           var rightid=new Array();
           <% if @strategyweb.strategyid.slice(0,2)=="04" %>
           <% for i in 0..@rightids_arr.size-1 %>
               rightid[<%= i%>]='<%= @rightids_arr_d[i] %>'
           <% end %>
           <% else %>
               rightid[<%= i%>]='<%= @rightids_arr[i] %>'
           <% end %>
            var checked_flag=0

           $("form").submit(function(e){
               for(var i=0;i<rightid.length;i++){
                   if($("input[value$="+rightid[i]+"]").attr("checked")=="checked"){
                       checked_flag=1;
                       break;
                   }
               }
               if(checked_flag==0){
               e.preventDefault(); //阻止action提交
               alert("品种名为空！");
               }
           });


           $(function() {
               $("form").validity(function() {
                   $("#startdate")
                       .require();
                   $("#enddate")
                       .require();
               });
           });
           function DateDiff(sDate1, sDate2){ //sDate1和sDate2是2002-12-18格式
               var aDate, oDate1, oDate2, iDays
               aDate = sDate1.split("-")
               oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]) //转换为12-18-2002格式
               aDate = sDate2.split("-")
               oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])
               iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 /24) //把相差的毫秒数转换为天数
               return iDays
           }
           $("#s3_form").submit(function(e){
               var diff=DateDiff($("#enddate").attr("value"),$("#startdate").attr("value"))
               if(diff<91){
                   alert("间隔天数必须大于3个月！");
                   $('#mask , .login-popup').fadeOut(300 , function() {
                       $('#mask').remove(); });
                   e.preventDefault();
               }

           });

           function side_3(){
               alert("先提交测试！")
           }
           function side_4(){
               alert("先提交测试！")
           }
           function side_5(){
               alert("先提交测试！")
           }
       </script>



 <% end %>

</div>
<%end%>
