<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= render "side" %>
<div class="centerframe">
  <h2>确定入场机会</h2>
  <div class="strategy_config_selecting">
       <h3>选择策略2：</h3>
    <form id="form1" runat="server">
      <div>
        <% if params[:id]==nil %>
            <select onchange="location.href=this.options[this.selectedIndex].value;">
              <option value="javascript:void(0)">点击我 选择策略</option>
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/strategy_s2/<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>

            </select>
            <% else %>

            <select onchange="location.href=this.options[this.selectedIndex].value;">
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/strategy_s2/<%= @strategywebs[i].id%>" id="s_<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>

            </select>
        <% end %>
      </div>
    </form>
  </div>

<script type="text/javascript">
     function side_3(){
        alert("请选择策略2！")
    }
    function side_4(){
        alert("请选择策略2！")
    }
    function side_5(){
        alert("请选择策略2！")
    }
    <% if params[:id]!=nil%>
      $("#s_<%= params[:id]%>").attr("selected",true)
  <% end%>
</script>

<% if params[:id]!=nil%>
      <script>
          function side_3(){
              alert("提交选择的策略2！")
          }
          function side_4(){
              alert("提交选择的策略2！")
          }
          function side_5(){
              alert("提交选择的策略2！")
          }
                $(function() {
              $("form").validity(function() {
                  <% for i in 0..@strategy_params.size-1 %>
                  $("#<%= @strategy_params[i].paramname  %>")
                      .require()
                      .match("number");
                  <% end %>
              });
          });
      </script>
<div class="strategy_config_para">
  配置<%= @strategyweb.name%>策略：
  <form id="form_s2">
      <% for i in 0..@strategy_params.size-1 %>
          <%= @strategy_params[i].paramname  %>(<a href="[name='#<%=@strategy_params[i].paramname%>']" class="login-window">?</a>)
        <input id="<%= @strategy_params[i].paramname  %>" name="<%= @strategy_params[i].paramname  %>"  type="text" />参数范围：<%= @strategy_params[i].strategy_para_range %><br><br>
      <div name="#<%=@strategy_params[i].paramname%>" id="strategy_buy_confirm" class="login-popup">
    <div class="popup_2buttons_pattern">
      <div class="popup_content">
        <p>参数简介：
              <% for i in 0..@strategy_params.size-1 %> <br>
                    参数名称：<%= @strategy_params[i].paramname %>(<%= @strategy_params[i].strategy_para_name %>)<br>
                    参数简介：<%= @strategy_params[i].strategy_para_description %> <br>
                    参数范围：<%= @strategy_params[i].strategy_para_range %> <br>
                    参数默认值：<%= @strategy_params[i].strategy_para_default %> <br>
              <% end %>
              </p>
      </div>
      <div class="popup_2buttons_confirm"><a class="close">确定</a></div>
      <div class="popup_2buttons_cancel"><a class="close">取消</a></div>
    </div>
  </div>
         <% end %>

      <div style="clear:both"></div>

  </form>

</div>
      <div class="frameprevious">
           <a  href="/strategys_combine/strategy_s1" class="previous"> 返回 </a>
     	  </div>
         <div class="button_confirm_3">
           <a href="javascript:void(0)" onclick="$('#form_s2').submit();">下一步</a>
         </div>

    <% end %>

</div>

<div class="rightframe">
<% if params[:id]!=nil %>

   <h3><%= @strategyweb.name %></h3>
      <p>策略描述：</p>
      <p>建仓条件描述：<%= @strategyweb.open_position_conditions %></p>
      <p>平仓条件描述：<%= @strategyweb.close_position_conditions %></p>
      <p>止损平仓条件：<%= @strategyweb.stop_conditions %></p>
      <p>止赢平仓条件：<%= @strategyweb.winstop_conditions %></p>
      <p>加仓条件描述：<%= @strategyweb.add_position_conditions %></p>
    <p>参数介绍：</p> <br>
      <p>参数简介：
      <% for i in 0..@strategy_params.size-1 %> <br>
            参数名称：<%= @strategy_params[i].paramname %>(<%= @strategy_params[i].strategy_para_name %>)<br>
            参数简介：<%= @strategy_params[i].strategy_para_description %> <br>
            参数范围：<%= @strategy_params[i].strategy_para_range %> <br>
            参数默认值：<%= @strategy_params[i].strategy_para_default %> <br>
      <% end %>
      </p><br>
      <p>参数解释说明：</p>
      <p>参数数值范围：</p>
      <p>参数数值默认值：</p>
      <p>策略图形介绍：<%=image_tag("#{@strategyweb.strategy_img_description}")  %></p>
      <p>策略指标引用：<%= @strategyweb.strategy_reference %></p>
  <% end %>
</div>

<% if params[:id]!=nil&&@hash_params[0]!=nil %>
<script>
      $("#form_s2").submit(function(e){
          //e.preventDefault();
          var submit_flag=0;
          <% for i in 0..@strategy_params.size-1 %>
          var value_t=$("#<%= @strategy_params[i].paramname %>").attr("value");
          if(value_t!=""){
          if(parseFloat(value_t)<<%= @hash_params[@strategy_params[i].paramname].split("-")[0].to_f %>||parseFloat(value_t)><%= @hash_params[@strategy_params[i].paramname].split("-")[1].to_f %>){
          alert("<%= @strategy_params[i].paramname %>参数范围错误！");
          submit_flag=submit_flag+1;
          }
          }
          else
          submit_flag=1;
          <% end %>
          if(submit_flag!=0){
          e.preventDefault();
          }
      });

</script>
<% end %>