<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= render "side" %>
<div class="frame">

    <% if params[:id]!=nil %>
    <div >
      <%= @strategyweb.name%>策略测试：
      <%= form_tag do %>
          策略品种：
          <% if @strategyweb.strategyid.slice(0,2)=="04" %>
          <% for i in 0..@rightids_arr_d.size-1 %>
              <%= check_box_tag 'commoditynames[]',@rightids_arr_d[i],:checked=>true%><%= @rightids_arr_d[i] %>
          <% end %>
              <% else %>
          <% for i in 0..@rightids_arr.size-1 %>
              <%= check_box_tag 'commoditynames[]',@rightids_arr[i],:checked=>true%><%= @rightids_arr[i] %>
          <% end %>
          <% end %>
          </input>
         <br>
          策略评估开始时间：<%= text_field_tag :startdate, params[:startdate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"startdate",:name=>"startdate",:title=>" 策略开始时间"%><br>
          策略评估结束时间：<%= text_field_tag :enddate, params[:enddate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"enddate",:name=>"enddate",:title=>" 策略结束时间"%><br>

          <div class="buttons">
      	<div class="frameprevious">
            <a  href="/strategys_combine" class="previous"> 返回 </a>
      	  </div>

            <div class="buttons">
        	  	<div class="framenext">
                    <a href="#ensure_test" class="login-window">下一步</a>
        	    </div>
            </div>


            <div id="ensure_test" class="login-popup">
            <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
              <div style="width: 200px;height: 200px;background-color: white;">
                我想在
                <% for i in 0..@rightids_arr.size-1 %>
                    <%= @rightids_arr[i] %>&nbsp;
                <% end %>
                上，用<%= @strategyweb.name %>测试。
                <%= submit_tag "确定测试"%>
                <a class="close">取消</a>
              </div>
    		</div>

          </div>
          <div style="clear:both"></div>
      <% end %>


       <script type="text/javascript">
           var rightid=new Array();
           <% if @strategyweb.strategyid.slice(0,2)=="04" %>
           <% for i in 0..@rightids_arr.size-1 %>
               rightid[<%= i%>]='<%= @rightids_arr_d[i] %>'
           <% end %>
           <% else %>
               rightid[<%= i%>]='<%= @rightids_arr[i] %>'
           <% end %>
            var checked_flag=0

           $("form").submit(function(e){
               for(var i=0;i<rightid.length;i++){
                   if($("input[value$="+rightid[i]+"]").attr("checked")=="checked"){
                       checked_flag=1;
                       break;
                   }
               }
               if(checked_flag==0){
               e.preventDefault(); //阻止action提交
               alert("品种名为空！");
               }
           });


           $(function() {
               $("form").validity(function() {
                   $("#startdate")
                       .require();
                   $("#enddate")
                       .require();
               });
           });
       </script>

    </div>

 <% end %>

</div>

