<%= javascript_include_tag "jquery.autocomplete.js" %>
<%= stylesheet_link_tag "jquery.autocomplete.css" %>
<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= render "side" %>
<div class="centerframe">

  <div class="strategy_config_selecting">
       <h3>选择策略2：</h3>
    <form id="form1" runat="server">
      <div>
        <% if params[:id]==nil %>
          <input id="keyword1" value="点击我 选择策略" onclick="this.value=''" onmousemove="$('#keyword1').focus();"/>
            <% else %>
          <input id="keyword1" value="策略选择成功" onclick="this.value=''" onmousemove="$('#keyword1').focus();"/>
        <% end %>
      </div>
    </form>
  </div>

<script type="text/javascript">
    search("#keyword1","#getValue1");
    function search(keywardid,getvalueid) {
        function setdata(name,control,action,id){
            this.name=name;
            this.control=control;
            this.action=action;
            this.id=id;
        }
        var data=new Array();
    <% for i in 0..@strategywebs.size-1%>
        data[<%= i %>]=new setdata('<%= @strategywebs[i].name%>','<%= @strategywebs[i].control%>','<%= @strategywebs[i].action%>','<%= @strategywebs[i].id%>')
    <% end%>
     //var data = [{name:'1',controls:"xx"},{name:'2',controls:"xx"},{name:'3',controls:"xx"}];
     var searchdate;
     function findValueCallback(event, data, formatted) {
        //$("#content").html("<strong>"+(!data ? "没有匹配！" : "您选择的是：" + formatted)+"</strong>");
        searchdate=data;
        location.href="/strategys_combine/strategy_s2/"+searchdate.id;
     }
     $(keywardid).autocomplete(data, {
         max: 12,    //列表里的条目数
         minChars: 0,    //自动完成激活之前填入的最小字符
         width: 400,     //提示的宽度，溢出隐藏
         scrollHeight: 300,   //提示的高度，溢出显示滚动条
         matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
         autoFill: false,    //自动填充
         formatItem: function(data, i, total) {
             return "<I>"+data.name+"</I>";
         },
         formatMatch: function(data, i, total) {
             return data.name;
         },
         formatResult: function(data) {
             return data.name;
         }
     });
        $(keywardid).result(findValueCallback);
    }

    function side_3(){
        alert("提交选择的策略2！")
    }
    function side_4(){
        alert("提交选择的策略2！")
    }
</script>

<% if params[:id]!=nil%>
      <script>
                $(function() {
              $("form").validity(function() {
                  <% for i in 0..@strategy_params.size-1 %>
                  $("#<%= @strategy_params[i].paramname  %>")
                      .require()
                      .match("number");
                  <% end %>
              });
          });
      </script>
<div class="strategy_config_para">
  配置<%= @strategyweb.name%>策略：
  <form id="form_s2">
      <% for i in 0..@strategy_params.size-1 %>
            <%= @strategy_params[i].paramname  %><input id="<%= @strategy_params[i].paramname  %>" name="<%= @strategy_params[i].paramname  %>"  type="text" /><br><br>
         <% end %>



  </form>

</div>
      <div class="frameprevious">
           <a  href="/strategys_combine/strategy_s1" class="previous"> 返回 </a>
     	  </div>
         <div class="button_confirm_3">
           <a href="javascript:void(0)" onclick="$('#form_s2').submit();">下一步</a>
         </div>

    <% end %>

</div>

<div class="rightframe">
<% if params[:id]!=nil %>

   <h3><%= @strategyweb.name %></h3>
   <p><%= @strategyweb.description%></p>
  <% end %>
</div>