<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<%= render "side" %>
<div class="centerframe">
  <h2>确定趋势</h2>

  <div class="strategy_config_selecting">
    <h3>选择策略 决定趋势</h3>
    <form id="form1" runat="server">
      <div>
        <% if params[:id]==nil %>
            <select onchange="location.href=this.options[this.selectedIndex].value;">
              <option value="javascript:void(0)">点击我 选择策略</option>
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/strategy_s1/<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>

            </select>
            <% else %>

            <select onchange="location.href=this.options[this.selectedIndex].value;">
              <% for i in 0..@strategywebs.size-1%>
                  <option value="/strategys_combine/strategy_s1/<%= @strategywebs[i].id%>" id="s_<%= @strategywebs[i].id%>"><%= @strategywebs[i].name%></option>
             <% end%>

            </select>
        <% end %>
      </div>
    </form>
  </div>

<script type="text/javascript">
    function side_2(){
        alert("提交选择的策略1！")
    }
    function side_3(){
        alert("提交选择的策略1！")
    }
    function side_4(){
        alert("提交选择的策略1！")
    }
    <% if params[:id]!=nil%>
      $("#s_<%= params[:id]%>").attr("selected",true)
  <% end%>
</script>

<% if params[:id]!=nil%>
<script>
          $(function() {
        $("form").validity(function() {
            <% for i in 0..@strategy_params.size-1 %>
            $("#<%= @strategy_params[i].paramname  %>")
                .require()
                .match("number");
            <% end %>
        });
    });
</script>
<div class="strategy_config_para">
  <h3><%= @strategyweb.name%>策略 参数配置</h3>
  <form id="form_s1">
      <% for i in 0..@strategy_params.size-1 %>
            <%= @strategy_params[i].paramname  %>
          <input id="<%= @strategy_params[i].paramname  %>" name="<%= @strategy_params[i].paramname  %>"  type="text" /><br><br>
         <% end %>

        <div style="clear:both"></div>
  </form>

</div>

        <div class="button_confirm_3">
          <a href="javascript:void(0)" onclick="$('#form_s1').submit();">下一步</a>
    	</div>

  <% end %>
        </div>
<div class="rightframe">
<% if params[:id]!=nil %>

   <h3><%= @strategyweb.name %></h3>
   <p><%= @strategyweb.description%></p>
  <% end %>
</div>

<% if params[:id]!=nil %>
<script>
  var param_arr=new Array();
     <% for i in 0..@param_arr.size-1 %>
       param_arr[<%=i%>]=<%=@param_arr[i]%>
     <% end%>
      $("#form_s1").submit(function(e){
          //e.preventDefault();
          var submit_flag=0;
          <% for i in 0..@strategy_params.size-1 %>

          if(param_arr[<%=i%>].indexOf(parseInt($("#<%= @strategy_params[i].paramname %>").attr("value")))==-1){
          alert("<%= @strategy_params[i].paramname %>参数范围错误！")
          }
          else
              submit_flag=submit_flag+1;
          <% end %>
          if(submit_flag!=<%=@strategy_params.size %>){
          e.preventDefault();
          }
      });
</script>
<% end %>