
<div id="optionsRadios">
  <div class="box_sxtj">
    <div class="box_sxtj_top">筛选</div>
    <div class="box_sxtj_center">
      <dl class="fore" id="category_all">
        <dt>起购金额:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="categorys0" class="curr  btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox6" id="categorys1"><a class="colors11"> 0-1000元 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox6" id="categorys2"><a class="colors12"> 1000元以上 </a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="rank_all">
        <dt>同类排名:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="ranks0" class="curr btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox7" id="ranks1"><a class="colors21">近一年前20名</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox7" id="ranks3"><a class="colors23">近三年前20名</a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="term_all">
        <dt>成立时间<a class="introduce" href="#myModal4" role="button" data-toggle="modal">(?)</a>:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="terms0" class="curr btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox8" id="terms1"><a class="colors31"> 0-10年 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox8" id="terms2"><a class="colors32"> 10年以上 </a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="scale_all">
        <dt>规模<a class="introduce" href="#myModal5" role="button" data-toggle="modal">(?)</a>:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="scales0" class="curr btn-link currbg"> 不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox9" id="scales1"><a class="colors41"> 小型 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox9" id="scales2"><a class="colors42"> 中等 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox9" id="scales3"><a class="colors43"> 大型 </a>
          </label>
        </dd>
      </dl>
      <dl class="fore" id="level_all">
        <dt>晨星评级:</dt>
        <dd>
          <label class="checkbox inline all">
            <a id="levels0" class="curr btn-link currbg">不限</a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox10" id="levels1"><a class="colors51"> 三星 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox10" id="levels2"><a class="colors52"> 四星 </a>
          </label>
          <label class="checkbox inline">
            <input type="checkbox" class="curr btn-link" name="checkbox10" id="levels3"><a class="colors53"> 五星 </a>
          </label>
        </dd>
      </dl>
    </div>

    <div class="box_sxtj_bottom">
      <dl class="fore">
        <dt>已选择的筛选条件:&nbsp;</dt>
        <dd id="selected">

          <div id="s-category" class="del hide">
            <h6 class="text" id="st-category" condition="">起购金额:不限</h6>
            <a class="deletes" cid="category"></a>
          </div>

          <div id="s-rank" class="del hide">
            <h6 class="text" id="st-rank" condition="">同类排名:不限</h6>
            <a class="deletes" cid="rank"></a>
          </div>

          <div id="s-term" class="del hide">
            <h6 class="text" id="st-term" condition="">成立时间：不限</h6>
            <a class="deletes" cid="term"></a>
          </div>

          <div id="s-scale" class="del hide">
            <h6 class="text" id="st-scale" condition="">资金规模：不限</h6>
            <a class="deletes" cid="scale"></a>
          </div>

          <div id="s-level" class="del hide">
            <h6 class="text" id="st-level" condition="">类型：不限</h6>
            <a class="deletes" cid="level"></a>
          </div>
        </dd>
      </dl>
      <p id="update"><% if @generalfundquote!=nil %>日期：<%= @generalfundquote[0].date %><% end %></p>
    </div>
  </div>
</div>

<div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= @blog3.btitle %></h3>
  </div>
  <div class="modal-body">
    <% if @blog3!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%= @blog3.imagepath %>"><br><br>
        <%=raw @blog3.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= @blog4.btitle %></h3>
  </div>
  <div class="modal-body">
    <% if @blog4!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%= @blog4.imagepath %>"><br><br>
        <%=raw @blog4.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>