<%= stylesheet_link_tag "bankinvest.css" %>

<div class="main-content">
  <a href="/">首页</a>
 <div id="agent">
 <h1>经纪人推荐产品</h1>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>机构名</th><th>产品名称</th><th class="hide">产品代码</th>
      <th>投资及收益币种</th><th>产品类型</th><th>起售价</th>
      <th>理财期限</th><th>起购日期</th><th>结束日期</th>
    </tr></thead>

    <% @bankfinances.each do |b| %>

        <tr>
          <td><%= b.trustee %></td>
          <td><a href="/bankinvest/details?bid=<%= b.id%>&key=<%= b.productkeywords%>"><%= b.bname%></a></td>
          <td class="hide"></td>
          <td><%= b.currencytype%></td>
          <td><%= b.btype %></td>
          <td><%= format("%0.0f",b.startvalue)%></td>
          <td><%= format("%0.0f",b.investperiod)%></td>
          <td><%= b.sailsstart%></td>
          <td><%= b.collectperiod%></td>
        </tr>
    <% end %>
  </table>
  </div>
  <div id="chosen">
  <h1>精选产品</h1>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>机构名</th><th>产品名称</th><th class="hide">产品代码</th>
      <th>投资及收益币种</th><th>产品类型</th><th>起售价</th>
      <th>理财期限</th><th>起购日期</th><th>结束日期</th>
    </tr></thead>

    <% @bankfinance2.each do |b| %>

        <tr>
          <td><%= b.trustee %></td>
          <td><a href="/bankinvest/details?bid=<%= b.id%>&key=<%= b.productkeywords%>"><%= b.bname%></a></td>
          <td class="hide"></td>
          <td><%= b.currencytype%></td>
          <td><%= b.btype %></td>
          <td><%= format("%0.0f",b.startvalue)%></td>
          <td><%= format("%0.0f",b.investperiod)%></td>
          <td><%= b.sailsstart%></td>
          <td><%= b.collectperiod%></td>
        </tr>
    <% end %>
  </table>
 </div>
</div>

<script>
    window.onload=function(){
        <% if params[:id]=="1" %>
        $("#chosen").show();
        $("#agent").hide();
        <% else %>
        $("#agent").show();
        $("#chosen").hide();
        <% end%>
    }
</script>