<%= stylesheet_link_tag "bankinvest.css" %>
<%= javascript_include_tag "highcharts.js" %>

<div class="main-content details">
<% if @banfinance.isorgan==true %>
    <div style="width: 80%;">
<% else %>
    <div style="width: 100%;">
<% end %>
        <a href="/">首页</a>
    <br><br>
        <a class="btn btn-primary pull-left" href="javascript:void(0)" id="reserve">预订</a>
    <br><br><br>
  <div id="rate">
  <h1>收益率介绍</h1>
  <br><br>
      <div id="container" style="width: 100%; height: 400px; "></div>
  <br><br>
    <!--[if !IE]><!-->
      <% if @reserve.length>0 %>
      <h1>当前募集资金</h1>
      <br><br>
      <div id="container2" style="width: 50%; height: 400px; "></div>
      <br><br>
      <% end %>
    <!--<![endif]-->
      <h1>购买流程</h1>
      <img src="/assets/procedure.png">
      <br><br>
  </div>
    <h1>产品介绍</h1>
  <table class="table table-striped table-bordered">
    <% if @banfinance.isorgan==true %>
        <tr>
          <td class="left">发行机构</td>
          <td class="right"><%= @banfinance.trustee%></td>
        </tr>
        <tr>
          <td class="left">是否保本</td>
          <td class="right"><%= @banfinance.btype%></td>
        </tr>
        <tr>
          <td class="left">投资标的</td>
          <td class="right"><%= @banfinance.invsetsubject%></td>
        </tr>
        <tr>
          <td class="left">收益计算方法</td>
          <td class="right"><%= @banfinance.formula%></td>
        </tr>
        <tr>
          <td class="left">风险提示</td>
          <td class="right"><%= @banfinance.risktip%></td>
        </tr>
        <tr>
          <td class="left">产品关键字</td>
          <td class="right"><%= @banfinance.productkeywords%></td>
        </tr>
    <% else %>
        <tr>
          <td class="left">产品名</td>
          <td class="right"><%= @banfinance.bname%></td>
        </tr>
        <tr>
          <td class="left">产品简介</td>
          <td class="right"><%= @banfinance.pintroduction%></td>
        </tr>
        <tr>
          <td class="left">申购条件</td>
          <td class="right"><%= @banfinance.pconditions%></td>
        </tr>
        <tr>
          <td class="left">费用说明</td>
          <td class="right"><%= @banfinance.costexplan%></td>
        </tr>
        <tr>
          <td class="left">提前终止条件</td>
          <td class="right"><%= @banfinance.tcondition%></td>
        </tr>
        <tr>
          <td class="left">委托资金说明</td>
          <td class="right"><%= @banfinance.trustfunds%></td>
        </tr>
        <tr>
          <td class="left">收益率说明</td>
          <td class="right"><%= @banfinance.rateinstruction%></td>
        </tr>
        <tr>
          <td class="left">管理人</td>
          <td class="right"><%= @banfinance.administrator%></td>
        </tr>
        <tr>
          <td class="left">托管人</td>
          <td class="right"><%= @banfinance.trust%></td>
        </tr>
        <tr>
          <td class="left">发行对象</td>
          <td class="right"><%= @banfinance.issue%></td>
        </tr>
        <tr>
          <td class="left">基础资产</td>
          <td class="right"><%= @banfinance.underlying%></td>
        </tr>
        <tr>
          <td class="left">业务模式</td>
          <td class="right"><%= @banfinance.bmodel%></td>
        </tr>
        <tr>
          <td class="left">挂钩标的</td>
          <td class="right"><%= @banfinance.hookscale%></td>
        </tr>
        <tr>
          <td class="left">预期年化收益率上限</td>
          <% if @banfinance.returnrate!=0 && @banfinance.returnrate!=nil %>   <td class="right"><%=  format("%0.1f",@banfinance.returnrate*100)%>%</td>  <% else %>  <td class="right"></td>  <% end %>
        </tr>
        <tr>
          <td class="left">预期年化收益率下限</td>
          <% if @banfinance.annualratedown!=nil %>   <td class="right"><%=  format("%0.1f",@banfinance.annualratedown*100)%>%</td>  <% else %>  <td class="right"></td>  <% end %>
        </tr>
        <tr>
          <td class="left">预期收益率上限(公布)</td>
          <% if @banfinance.rateup!=nil %>   <td class="right"><%=  format("%0.1f",@banfinance.rateup*100)%>%</td>  <% else %>  <td class="right"></td>  <% end %>
        </tr>
        <tr>
          <td class="left">预期收益率下限(公布)</td>
          <% if @banfinance.ratedown!=nil %>   <td class="right"><%=  format("%0.1f",@banfinance.ratedown*100)%>%</td>  <% else %>  <td class="right"></td>  <% end %>
        </tr>
        <tr>
          <td class="left">封顶收益率</td>
          <% if @banfinance.cappedrate!=nil %>   <td class="right"><%=  format("%0.1f",@banfinance.cappedrate*100)%>%</td>  <% else %>  <td class="right"></td>  <% end %>
        </tr>
        <tr>
          <td class="left">实际收益率</td>
          <% if @banfinance.realrate!=nil %>   <td class="right"><%=  format("%0.1f",@banfinance.realrate*100)%>%</td>  <% else %>  <td class="right"></td>  <% end %>
        </tr>
        <tr>
          <td class="left">实际年化收益率</td>
          <% if @banfinance.realannualrate!=nil %>   <td class="right"><%=  format("%0.1f",@banfinance.realannualrate*100)%>%</td>  <% else %>  <td class="right"></td>  <% end %>
        </tr>
        <tr>
          <td class="left">销售起始日</td>
          <td class="right"><%= @banfinance.sailsstart%></td>
        </tr>
        <tr>
          <td class="left">销售截止日</td>
          <td class="right"><%= @banfinance.collectperiod%></td>
        </tr>
        <tr>
          <td class="left">收益起始日</td>
          <td class="right"><%= @banfinance.sreturndate%></td>
        </tr>
        <tr>
          <td class="left">收益到期日</td>
          <td class="right"><%= @banfinance.creturndate%></td>
        </tr>
        <tr>
          <td class="left">委托期(天)</td>
          <td class="right"><%= @banfinance.investperiod%></td>
        </tr>
        <tr>
          <td class="left">发售地区</td>
          <td class="right"><%= @banfinance.distributionarea%></td>
        </tr>
        <tr>
          <td class="left" title="指理财产品本金的安全程度。非保本产品，处理为 0；保本产品，处理为 100；若确定为保证收益的，则处理为 100 与收益率之和；若为部分保本，则处理为披露的保本比例。未披露保本程度的，处理为空值。">保本比例</td>
          <td class="right"><%= @banfinance.btype%></td>
        </tr>
        <tr>
          <td class="left">委托起始金额(万元)</td>
          <td class="right"><%= format("%0.0f",@banfinance.startvalue/10000)%></td>
        </tr>
        <tr>
          <td class="left">计划募资金额上限(亿元)</td>
          <td class="right"><%= @banfinance.planamountup%></td>
        </tr>
        <tr>
          <td class="left">计划募资金额下限(亿元)</td>
          <% if @banfinance.planamountdown==0 %>   <td class="right"><%=  format("%0.0f",@banfinance.planamountdown)%></td>  <% else %>  <td class="right"><%= @banfinance.planamountdown%></td>  <% end %>
        </tr>
        <tr>
          <td class="left">销售规模(亿元)</td>
          <% if @banfinance.salesscale==0 %>   <td class="right"><%=  format("%0.0f",@banfinance.salesscale)%></td>  <% else %>  <td class="right"><%= @banfinance.salesscale%></td>  <% end %>
        </tr>
        <tr>
          <td class="left">产品结构</td>
          <td class="right"><%= @banfinance.productmix%></td>
        </tr>
        <tr>
          <td class="left">管理费率</td>
          <td class="right"><%= @banfinance.managementfee%></td>
        </tr>
        <tr>
          <td class="left">托管费率</td>
          <td class="right"><%= @banfinance.trusteefee%></td>
        </tr>
        <tr>
          <td class="left">认购费率</td>
          <td class="right"><%= @banfinance.subscriptionrate%></td>
        </tr>
        <tr>
          <td class="left">赎回费率</td>
          <td class="right"><%= @banfinance.redemptionrate%></td>
        </tr>
        <tr>
          <td class="left">投资者提前赎回</td>
          <td class="right"><%= @banfinance.investearly%></td>
        </tr>
        <tr>
          <td class="left">银行提前终止</td>
          <td class="right"><%= @banfinance.bankearly%></td>
        </tr>
        <tr>
          <td class="left">超额收益记为管理费</td>
          <td class="right"><%= @banfinance.reasmfee%></td>
        </tr>
        <tr>
          <td class="left">购买渠道</td>
          <td class="right"><%= @banfinance.pchannels%></td>
        </tr>
    <% end %>
  </table>
<% if @banfinance.isorgan==true %>
    </div>
<% else %>
    </div>
<% end %>
</div>

<script type="text/javascript">

    window.onload=function(){
        if(Request('rate')!=1){
            $("#rate").remove();
        }
    }

    $("#reserve").click(function(){
        <% if session[:webusername]==nil %>
           location.href="/sales/login?bid=<%= @banfinance.id%>";
        <% else %>
           location.href="/sales/index?bid=<%= @banfinance.id%>";
        <% end %>
    });

    $(function () {
        var chart;
        $(document).ready(function() {
            var options ={
                chart: {
                    renderTo: 'container',
                    type: 'column'
                },
                title: {
                    text: false
                },
                xAxis: {
                    categories: [ '<%= format("%0.0f",@banfinance.rate1) %>万', '<%= format("%0.0f",@banfinance.rate2) %>万', '<%= format("%0.0f",@banfinance.rate3) %>万']
                },
                yAxis : {
                    title : {
                        text: '收益率 ( % )'
                    },
                    min: 4,
                    plotLines : [{
                        value : 0,
                        width : 1,
                        color : '#808080'
                    } ]
                },
                tooltip: {
                    formatter: function() {
                        if(this.series.name=='通天顺标准'){
                            return '<b>'+ this.x +'</b><br/>'+
                                    this.series.name +': '+ this.point.stackTotal+'%';
                        }
                        else{
                            return '<b>'+ this.x +'</b><br/>'+
                                    this.series.name +': '+ this.y +'%';
                        }
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: false,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                        }
                    }
                },
                series: [],
                credits: {
                    enabled: false
                }
            }
            options.series = new Array();
            var i;
            for(i=0;i<2;i++)
            {
                options.series[i] = new Object();
                if(i==0){
                    options.series[i].name = '通天顺标准';
                    options.series[i].data = new Array(<%= @banfinance.tong10-@banfinance.bank10 %>,<%= @banfinance.tong100-@banfinance.bank100 %>,<%= @banfinance.tong500-@banfinance.bank500 %>);
                }
                else{
                    options.series[i].name = '银行标准';
                    options.series[i].data = new Array(<%= @banfinance.bank10 %>,<%= @banfinance.bank100 %>,<%= @banfinance.bank500 %>);
                }
            }
            chart = new Highcharts.Chart(options);
        });
    });

    $(function () {
        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container2',
                    type: 'column'
                },
                title: false,
                xAxis: {
                    categories: ['会员']
                },

                yAxis: {
                    min: 0,
                    title: {
                        text: '总投资金额'
                    },
                    labels: {
                        formatter: function() {
                            return parseInt(this.value/10000)+'万';
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
               /*
                yAxis: [
                    {
                        lineWidth:1,
                        title: {
                            text:  '总投资金额'
                        },
                        labels: {
                            formatter: function() {
                                return this.value;
                            }
                        }
                    },
                    {
                        lineWidth:1,
                        opposite: true,
                        max:10,
                        min:0,
                        title:{
                            text: '收益率'
                        },
                        labels: {
                            formatter: function() {
                                return this.value ;
                            }
                        }
                    }
                ],
                 */
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.x +'</b><br/>'+
                                this.series.name +': '+ this.y +'<br/>'+
                                '总共: '+ this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                        }
                    }
                },
                series: [
                    <% @reserve.each do |b| %>
                    {
                        name: '<%= b.username %>',
                        data: [<%= b.investamount %>]
                    } ,
                    <% end %>
                ],
                credits: {
                    enabled: false
                }
            })
            /*
            options.series = new Array();
            var i=0;
            <% @reserve.each do |b| %>
            options.series[i] = new Object();
            options.series[i].name = '<%= b.username %>';
            options.series[i].data = new Array(<%= b.investamount %>,0);
            i=i+1;
            <% end %>
            chart = new Highcharts.Chart(options);
            */
        });
    });

    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }
</script>