<%= stylesheet_link_tag "bankinvest.css" %>

<div class="main-content">
  <a href="/">首页</a><br><br>
  <%= @banfinance.bname%>
  <% if @banfinance.trustee =="北京银行" %>
      <a class="btn btn-primary pull-right" href="/sales/index?bid=<%= @banfinance.id%>&favourable=1">预订</a>
  <% else %>
      <a class="btn btn-primary pull-right" href="/sales/index?bid=<%= @banfinance.id%>">预订</a>
  <% end %>
  <br><br>
  <table class="table table-striped table-bordered">
    <tr>
      <td>产品名称</td>
      <td><%= @banfinance.bname%></td>
    </tr>
    <% if @bankproducts %>
        <tr>
          <td>产品代码</td>
          <td><%= @bankproducts.bcode%></td>
        </tr>
        <tr>
          <td>投资及收益币种</td>
          <td><%= @bankproducts.currencytype%></td>
        </tr>
        <tr>
          <td>产品类型</td>
          <td><%= @bankproducts.btype%></td>
        </tr>
        <tr>
          <td>产品风险评级</td>
          <td><%= @bankproducts.risk%></td>
        </tr>
        <tr>
          <td>适合的投资者</td>
          <td><%= @bankproducts.forinvestors%></td>
        </tr>
        <tr>
          <td>产品募集规模</td>
          <td><%= @bankproducts.praisingscale%></td>
        </tr>
        <tr>
          <td>首次投资起点份额</td>
          <td><%= @bankproducts.firststartinvest%></td>
        </tr>
        <tr>
          <td>产品成立日</td>
          <td><%= @bankproducts.sailsstart%></td>
        </tr>
        <tr>
          <td>产品到期日</td>
          <td><%= @bankproducts.collectperiod%></td>
        </tr>
        <tr>
          <td>产品封闭期</td>
          <td><%= @bankproducts.pclosedperiod%></td>
        </tr>
        <tr>
          <td>产品开放期</td>
          <td><%= @bankproducts.openperiod%></td>
        </tr>
        <tr>
          <td>工作日</td>
          <td><%= @bankproducts.workday%></td>
        </tr>
        <tr>
          <td>工作日交易时间</td>
          <td><%= @bankproducts.daytradetime%></td>
        </tr>
        <tr>
          <td>理财收益</td>
          <td><%= @bankproducts.fiscalrevenue%></td>
        </tr>
        <tr>
          <td>计算理财收益基础天数</td>
          <td><%= @bankproducts.investperiod%></td>
        </tr>
        <tr>
          <td>计算收益单位</td>
          <td><%= @bankproducts.perearing%></td>
        </tr>
        <tr>
          <td>收益计算公式</td>
          <td><%= @bankproducts.formula%></td>
        </tr>
        <tr>
          <td>收益计算起始日</td>
          <td><%= @bankproducts.returnstartday%></td>
        </tr>
        <tr>
          <td>收益计算截止日</td>
          <td><%= @bankproducts.calculationdate%></td>
        </tr>
        <tr>
          <td>产品收益结转、提前终止的到帐日</td>
          <td><%= @bankproducts.earlyaccountday%></td>
        </tr>
        <tr>
          <td>产品说明书调整</td>
          <td><%= @bankproducts.manualadjustment%></td>
        </tr>
        <tr>
          <td>产品的认购</td>
          <td><%= @bankproducts.psubscription%></td>
        </tr>
        <tr>
          <td>产品的申购和赎回</td>
          <td><%= @bankproducts.ppurchase%></td>
        </tr>
        <tr>
          <td>产品的提前终止</td>
          <td><%= @bankproducts.earlytermination%></td>
        </tr>
        <tr>
          <td>理财资产托管人</td>
          <td><%= @bankproducts.assetscustodian%></td>
        </tr>
        <tr>
          <td>产品费用</td>
          <td><%= @bankproducts.productcost%></td>
        </tr>
        <tr>
          <td>质押</td>
          <td><%= @bankproducts.pledge%></td>
        </tr>
        <tr>
          <td>税款</td>
          <td><%= @bankproducts.tax%></td>
        </tr>
        <tr>
          <td>其他</td>
          <td></td>
        </tr>
    <% end %>
  </table>
</div>