<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "bankinvest.css" %>

<div class="main-contents">
  <table>
    <tr>
      <td class="left">
        <div class="main-inputs">
          <div id="inputs" class="content2">
            <div class="padded">
              <h1>关于银行理财产品</h1>
              <p>这里的银行理财产品是由银行自行设计并发行，而不是作为销售渠道，和信托、基金、保险等金融机构合作的产品。
                <span>这种类型的产品风险极低。</span></p>
            </div>
            <div class="overlay">
              <p class="group">银行</p>
              <input class="input-medium" type="text" name="bcolumn" readOnly="true" value="<%= cookies[:bcolumn] %>">
              <p class="group">投入资金</p>
              <input class="input-medium" type="text" name="amount" id="amount" readOnly="true">
              <p class="group">投资期限</p>
              <input class="input-medium" type="text" name="deadline" readOnly="true" value="<%= cookies[:deadline] %>">
              <p class="group">风险性</p>
              <input class="input-medium" type="text" name="risk" readOnly="true" value="<%= cookies[:optionsRadios] %>">
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="main-body pickout">
          <a href="/">首页</a>
          <h1>欢迎</h1>
          <div class="lf-box">
          <p>我们将根据您输入的实际情况来分析觉得如下几种银行理财产品可能会适合您。<br>
            请您再做仔细筛选：</p>
          </div>
          <table>
            <tr>
              <td class="left2">
          <table cellpadding="0" cellspacing="0" border="0" class="display" name="bankfinance" id="bankfinance"  style="text-align:center;">
            <thead><tr>
              <th class="hide">发行银行</th><th>产品名称</th><th>投资期限</th>
              <th class="hide">起售价</th><th>当天买的年化收益率</th><th class="hide">产品类型</th>
              <th class="hide">是否开放</th><th>计算收益金额</th>
            </tr></thead>

            <% @bankfinances.each do |b| %>
                <tr>
                  <td class="hide"><%= b.trustee%></td>
                  <td><%= b.bname%></td>
                  <td><%= format("%0.0f",b.investperiod)%>天</td>
                  <td class="hide"><%= format("%0.0f",b.startvalue/10000)%>万</td>
                  <td><%= format("%0.1f",b.returnrate*100)%>%</td>
                  <td class="hide"><%= b.btype%></td>
                  <td class="hide"><%= b.ispatent %></td>
                  <td><p title="<%= cookies[:amount]%>*<%= b.returnrate%>*<%= b.investperiod%>/365"><%= format("%0.1f",cookies[:amount].to_i*b.returnrate*b.investperiod/365) %>元</p></td>
                </tr>
            <% end %>
          </table>
              </td>
              <td class="right2">
                <div class="tip2">
                  <li  class="widget-container">
                    <h3>常见问答</h3>
                    <a href="http://www.tongtianshun.com/blog/blogarticle/38" target="_blank" class="a">1. 我想提前赎回银行理财产品可以吗？</a><br>
                  </li>
                </div>
              </td>
            </tr>
          </table>
          <br><br>
        </div>
      </td>
    </tr>
  </table>
</div>

<script>
    $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                var flag1,flag2,flag3,flag4;
                var bcolumn= "<%= cookies[:bcolumn] %>";
                var deadline= "<%= cookies[:deadline] %>";
                var amount= "<%= cookies[:amount] %>";
                var optionsRadios= "<%= cookies[:optionsRadios] %>";

                if(bcolumn==aData[0]){
                    flag1=1;
                }

                aData[2] =aData[2].replace(/天/, "");
                if(deadline=="短期投资 (1个月内)"&&aData[6]=="true"){
                    flag2=1;
                }
                else if(deadline=="中期投资 (3个月内)"&&aData[2]<=95&&aData[6]=="false"){
                    flag2=1;
                }
                else if(deadline=="长期投资 (3个月以上)"&&aData[2]>95&&aData[6]=="false"){
                    flag2=1;
                }

                aData[3] =aData[3].replace(/万/, "");
                if(amount<=100000&&aData[3]>=5&&aData[3]<=10){
                    flag3=1;
                    $("#amount").val("5万-10万");
                }
                else if(amount>100000&&amount<=200000&&aData[3]>10&&aData[3]<=20){
                    flag3=1;
                    $("#amount").val("10万-20万");
                }
                else if(amount>200000&&amount<=500000&&aData[3]>20&&aData[3]<=50){
                    flag3=1;
                    $("#amount").val("20万-50万");
                }
                else if(amount>500000&&aData[3]>50){
                    flag3=1;
                    $("#amount").val("50万以上");
                }

                if(optionsRadios=="绝对不能亏损本金"&&aData[5]=="保本"){
                    flag4=1;
                }
                else if(optionsRadios=="可以承担本金亏损"){
                    flag4=1;
                }

                if(flag1==1&&flag2==1&&flag3==1&&flag4==1){
                    return true;
                }

            }
    );
    $(document).ready(function(){
        /* Initialise datatables */
        var oTable = $('#bankfinance').dataTable({
            "iDisplayLength": 50,
            "oLanguage": {
                "sZeroRecords": "很抱歉，没有符合您要求的银行理财产品，请重新设定筛选条件"
            }
        });

        $("#returnrate,#bank,#period,#optionsRadios").click( function() { oTable.fnDraw(); } );

    });
</script>