<%= javascript_include_tag "jquery.dataTables.min.js" %>
<!--<%= stylesheet_link_tag "datatables.css" %>-->
<%= stylesheet_link_tag "bankinvest.css" %>
<%= javascript_include_tag "bootstrap.js" %>

<div class="main-contents">
  <table>
    <tr>
      <td class="left">
        <div class="main-inputs">
          <div id="inputs" class="content2">
            <div class="padded">
              <h1>关于银行理财产品</h1>
              <p>这里的银行理财产品是由银行自行设计并发行，而不是作为销售渠道，和信托、基金、保险等金融机构合作的产品。
                <span>这种类型的产品风险极低。</span></p>
            </div>
            <div id="myTabContent" class="tab-content">
              <div class="overlays tab-pane fade in active" id="fourth">
                <div class="input-group active">
              <p class="group">银行</p>
                  <div class="input-prepend input-append">
                    <span class="add-on"><div class="indicator-icon custom small"></div></span>
                    <input class="input-small" type="text" name="bcolumn" href="#first" data-toggle="tab" id="bcolumn" value="<%= cookies[:bcolumn] %>">
                    <span class="add-on"><div class="edit-pencil"></div></span>
                  </div>
                </div>
                <div class="input-group active">
              <p class="group">投入资金</p>
                  <div class="input-prepend input-append">
                    <span class="add-on"><div class="indicator-icon custom small"></div></span>
                    <input class="input-small" type="text" name="amount" href="#first" data-toggle="tab" id="amount" value="<%= cookies[:amount] %>元">
                    <span class="add-on neutral"><div class="edit-pencil"></div></span>
                  </div>
                </div>
                <div class="input-group active">
              <p class="group">投资期限</p>
                  <div class="input-prepend input-append">
                    <span class="add-on"><div class="indicator-icon custom small"></div></span>
                    <input class="input-small" type="text" name="deadline" href="#second" data-toggle="tab" id="deadline" value="<%= cookies[:deadline] %>">
                    <span class="add-on neutral"><div class="edit-pencil"></div></span>
                  </div>
                </div>
                <div class="input-group active">
              <p class="group">风险性</p>
                  <div class="input-prepend input-append">
                    <span class="add-on"><div class="indicator-icon custom small"></div></span>
                    <input class="input-small" type="text" name="risk" href="#third" data-toggle="tab" id="risk" value="<%= cookies[:optionsRadios] %>">
                    <span class="add-on neutral"><div class="edit-pencil"></div></span>
                  </div>
                </div>
              </div>
              <div class="overlay tab-pane fade" id="first">
                <form name="form1" action="" method="post" onsubmit="return checkinput1()">
                  <h1>1. 银行和资金</h1>
                  <p class="group">选择您的银行</p>
                  <select  name="bcolumns" id="bcolumns">
                    <option value="中国银行">中行</option>
                    <option value="工商银行">工行</option>
                    <option value="交通银行">交行</option>
                    <option value="农业银行">农行</option>
                    <option value="建设银行">建行</option>
                    <option value="招商银行">招商银行</option>
                    <option value="中信银行">中信银行</option>
                    <option value="华夏银行">华夏银行</option>
                    <option value="兴业银行">兴业银行</option>
                    <option value="光大银行">光大银行</option>
                    <option value="广发银行">广发银行</option>
                    <option value="浦发银行">浦发银行</option>
                    <option value="民生银行">民生银行</option>
                    <option value="平安银行">平安银行</option>
                  </select>
                  <p class="group">资金投入</p>
                  <div class="input-append">
                    <input class="input-medium" name="amounts" id="amounts" type="text" placeholder="请输入投资金额">
                    <span class="add-on">元</span>
                  </div>
                  <p>最低投入资金为50000元。</p>
                  <a class="btn btn-primary pull-right" href="#fourth"  data-toggle="tab" id ="checkinput1"  type="submit">确定</a>
                </form>
              </div>
              <div class="overlay tab-pane fade" id="second">
                <h1>2. 投资周期</h1>
                <form name="form2" action="" method="post" onsubmit="return checkinput2()">
                  <p class="group">我个人倾向于</p>
                  <select  name="deadlines" id="deadlines">
                    <option value="中期投资 (3个月内)">中期投资 (3个月内)</option>
                    <option value="短期投资 (1个月内)">短期投资 (1个月内)</option>
                    <option value="长期投资 (3个月以上)">长期投资 (3个月以上)</option>
                  </select>
                  <a class="btn btn-primary pull-right" href="#fourth" data-toggle="tab" id ="checkinput2" type="submit">确定</a>
                </form>
              </div>
              <div class="overlay tab-pane fade" id="third">
                <h1>3. 风险性</h1>
                <form name="form3" action="" method="post" onsubmit="return checkinput3()">
                  <div class="controls">
                    <label class="radio"><input name="optionsRadios" checked  value="绝对不能亏损本金" type="radio">本金不能亏损</label>

                    <label class="radio"><input name="optionsRadios" value="可以承担本金亏损" type="radio">可以承受本金亏损</label>
                    <a class="btn btn-primary pull-right" href="#fourth" data-toggle="tab" id ="checkinput3" type="submit">确定</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="main-body pickout">
          <a href="/">首页</a>
          <h1>欢迎</h1>
          <table>
            <tr>
              <td class="left2 side">
          <div class="lf-box">
          <p>我们将根据您输入的实际情况来分析觉得如下几种银行理财产品可能会适合您。<br>
            请您再做仔细筛选：</p>
          </div>

                <table class="table table-striped" cellpadding="0" cellspacing="0" border="0" class="display" name="bankfinance" id="bankfinance"  style="text-align:center;">
            <thead><tr>
                    <th class="hide">发行银行</th><th class="name">产品名称</th><th>投资期限</th>
              <th>起售价</th><th>年化收益率</th><th>产品类型</th>
              <th class="hide">是否开放</th><th class="hide">计算收益金额</th>
            </tr></thead>

            <% @bankfinances.each do |b| %>
                <tr>
                  <td class="hide"><%= b.trustee%></td>
                        <td class="name"><%= b.bname%></td>
                  <td><%= format("%0.0f",b.investperiod)%>天</td>
                  <td><%= format("%0.0f",b.startvalue/10000)%>万</td>
                  <td><%= format("%0.1f",b.returnrate*100)%>%</td>
                  <td><%= b.btype%></td>
                  <td class="hide"><%= b.ispatent %></td>
                  <td class="hide"><p id="count" title="<%= cookies[:amount]%>*<%= b.returnrate%>*<%= b.investperiod%>/365"><%= format("%0.1f",cookies[:amount].to_i*b.returnrate*b.investperiod/365) %>元</p></td>
                </tr>
            <% end %>
          </table>
              </td>
              <td class="right2">
                <div class="tip2">
                  <li  class="widget-container">
                    <h3>常见问答</h3>
                    <a href="http://www.tongtianshun.com/blog/blogarticle/38" target="_blank" class="a">1. 我想提前赎回银行理财产品可以吗？</a><br>
                  </li>
                </div>
              </td>
            </tr>
          </table>
          <br><br>
        </div>
      </td>
    </tr>
  </table>
</div>

<script>
    $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                var flag1,flag2,flag3,flag4;
                var bcolumn= document.getElementsByName("bcolumn")[0].value;
                var deadline= document.getElementsByName("deadline")[0].value;
                var amount= document.getElementsByName("amount")[0].value;
                var optionsRadios= document.getElementsByName("risk")[0].value;

                if(bcolumn==aData[0]){
                    flag1=1;
                }

                aData[2] =aData[2].replace(/天/, "");
                if(deadline=="短期投资 (1个月内)"&&aData[6]=="true"){
                    flag2=1;
                }
                else if(deadline=="中期投资 (3个月内)"&&aData[2]<=95&&aData[6]=="false"){
                    flag2=1;
                }
                else if(deadline=="长期投资 (3个月以上)"&&aData[2]>95&&aData[6]=="false"){
                    flag2=1;
                }

                aData[3] =aData[3].replace(/万/, "");
                amount =amount.replace(/元/, "");
                if(amount>=aData[3]*10000){
                    flag3=1;
                }

                if(optionsRadios=="绝对不能亏损本金"&&aData[5]=="保本"){
                    flag4=1;
                }
                else if(optionsRadios=="可以承担本金亏损"){
                    flag4=1;
                }

                if(flag1==1&&flag2==1&&flag3==1&&flag4==1){
                    return true;
                }
            }
    );

    $(document).ready(function(){
        /* Initialise datatables */
        var oTable = $('#bankfinance').dataTable({
            "iDisplayLength": 50,
            "oLanguage": {
                "sZeroRecords": "很抱歉，没有符合您要求的银行理财产品，请重新设定筛选条件"
            }
        });

        $("#first,#second,#third").click( function() { oTable.fnDraw(); } );
    });


    $("#checkinput1").click(function(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        if(document.form1.amounts.value=="")
        {
            alert("请输入投资金额!");
            this.form1.amounts.focus();
            return false;
        }
        if(numfor.test(document.form1.amounts.value)==false)
        {
            alert("请输入数字!");
            this.form1.amounts.focus();
            return false;
        }
        else if(document.form1.amounts.value<50000)
        {
            alert("最小投资金额为5万!");
            this.form1.amounts.focus();
            return false;
        }
        else {
            $("#amount").val(document.form1.amounts.value+"元");
            $("#bcolumn").val(document.form1.bcolumns.value);
        }
    });

    $("#checkinput2").click(function(e){
        $("#deadline").val(document.form2.deadlines.value);
    });

    $("#checkinput3").click(function(e){
        $("input:radio").each(function(){
            if(this.checked){$("#risk").val(this.value);}
        });
    });

</script>