<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "bankinvest.css" %>
<%= javascript_include_tag "bootstrap.js" %>

<div class="main-contents">
  <table>
    <tr>
      <td class="left">
        <div class="main-inputs">
          <div id="inputs" class="content2">
            <div class="padded">
              <h1>关于银行理财产品</h1>
              <p>这里的银行理财产品是由银行自行设计并发行，而不是作为销售渠道，和信托、基金、保险等金融机构合作的产品。
                <span>这种类型的产品风险极低。</span></p>
            </div>
            <div id="myTabContent" class="tab-content">
              <div class="overlays tab-pane fade in active" id="fourth">
                <div class="input-group active">
                  <p class="group">投入资金</p>
                  <div class="input-prepend input-append">
                    <span class="add-on"><div class="indicator-icon custom small"></div></span>
                    <input class="input-small" type="text" name="amount" href="#first" data-toggle="tab" id="amount" value="">
                    <span class="add-on neutral"><div class="edit-pencil"></div></span>
                  </div>
                </div>
                <div class="input-group active">
                  <p class="group">投资期限</p>
                  <div class="input-prepend input-append">
                    <span class="add-on"><div class="indicator-icon custom small"></div></span>
                    <input class="input-small" type="text" name="deadline" href="#second" data-toggle="tab" id="deadline" value="">
                    <span class="add-on neutral"><div class="edit-pencil"></div></span>
                  </div>
                </div>
                <div class="input-group active">
                  <p class="group">风险性</p>
                  <div class="input-prepend input-append">
                    <span class="add-on"><div class="indicator-icon custom small"></div></span>
                    <input class="input-small" type="text" name="risk" href="#third" data-toggle="tab" id="risk" value="">
                    <span class="add-on neutral"><div class="edit-pencil"></div></span>
                  </div>
                </div>
              </div>
              <div class="overlay tab-pane fade" id="first">
                <form name="form1" action="" method="post" onsubmit="return checkinput1()">
                  <h1>1. 资金</h1>
                  <p class="group">资金投入</p>
                  <div class="input-append">
                    <input class="input-medium" name="amounts" id="amounts" type="text" placeholder="请输入投资金额">
                    <span class="add-on">元</span>
                  </div>
                  <p>最低投入资金为50000元。</p>
                  <a class="btn btn-primary pull-right" href="#fourth"  data-toggle="tab" id ="checkinput1"  type="submit">确定</a>
                </form>
              </div>
              <div class="overlay tab-pane fade" id="second">
                <h1>2. 投资周期</h1>
                <form name="form2" action="" method="post" onsubmit="return checkinput2()">
                  <p class="group">我个人倾向于</p>
                  <select  name="deadlines" id="deadlines">
                    <option value="90">中期投资 (3个月内)</option>
                    <option value="30">短期投资 (1个月内)</option>
                    <option value="91">长期投资 (3个月以上)</option>
                  </select>
                  <a class="btn btn-primary pull-right" href="#fourth" data-toggle="tab" id ="checkinput2" type="submit">确定</a>
                </form>
              </div>
              <div class="overlay tab-pane fade" id="third">
                <h1>3. 风险性</h1>
                <form name="form3" action="" method="post" onsubmit="return checkinput3()">
                  <div class="controls">
                    <label class="radio"><input id="fdeficit" name="optionsRadios"  value="绝对不能亏损本金" type="radio">本金不能亏损</label>
                    <br>
                    <label class="radio"><input id="cdeficit" name="optionsRadios" value="可以承担本金亏损" type="radio">可以承受本金亏损</label><br>
                    <div id="deficit" style="margin:0 0 0 20px;display: none;">
                      <p style="margin-bottom: 10px;">您期待的年收益率是？<br></p>
                      <div class="input-append">
                        <input class="input-medium" style="width: 118px;" name="returnrate" id="returnrate" type="text" placeholder="年收益率">
                        <span class="add-on">%</span>
                      </div>
                    </div>
                    <a class="btn btn-primary pull-right" href="#fourth" data-toggle="tab" id ="checkinput3" type="submit">确定</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="main-body pickout">
          <a href="/">首页</a>
          <h1>欢迎</h1>
          <table>
            <tr>
              <td class="left2 sides">
                <div class="lf-box">
                  <p>我们将根据您输入的实际情况来分析觉得如下几种银行理财产品可能会适合您。<br>
                    请您再做仔细筛选：</p>
                </div>

                <table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" class="display" name="bankfinance" id="bankfinance"  style="text-align:center;">
                  <thead><tr>
                    <th class="hide">发行银行</th><th class="name">产品名称</th><th>投资期限</th>
                    <th class="hide">起售价</th><th>年化收益率</th><th>计算收益金额</th>
                    <th class="hide">是否开放</th><th>产品类型</th><th class="hide">操作</th>
                  </tr></thead>

                  <% @bankfinances.each do |b| %>
                      <tr>
                        <td class="hide"><%= b.trustee%></td>
                        <td class="name"><%= b.bname%></td>
                        <% if b.investperiod != nil %>
                        <td><%= format("%0.0f",b.investperiod)%>天</td>
                        <% else %>
                            <td>0</td>
                        <% end %>
                        <% if b.startvalue != nil %>
                          <td class="hide"><%= format("%0.0f",b.startvalue/10000)%>万</td>
                        <% else %>
                          <td class="hide">0</td>
                        <% end %>
                        <% if b.returnrate != nil %>
                        <td><%= format("%0.1f",b.returnrate*100)%>%</td>
                        <% else %>
                            <td>0</td>
                        <% end %>
                        <% if b.returnrate != nil && b.investperiod != nil %>
                        <td><p title="<%= params[:amount]%>*<%= b.returnrate%>*<%= b.investperiod%>/365"><%= format("%0.2f",params[:amount].to_i*b.returnrate*b.investperiod/365) %>元</p></td>
                        <% else %>
                            <td>0</td>
                        <% end %>
                        <td class="hide"><%= b.ispatent %></td>
                        <% if b.btype=="0" || b.btype==nil || b.btype=="不保本" %>
                            <td>不保本</td>
                        <% else %>
                            <td>保本</td>
                        <% end %>
                        <td class="hide"><a href="/sales/index?bid=<%= b.id%>">预订</a></td>
                      </tr>
                  <% end %>
                </table>
              </td>
              <td class="right2">
                <div class="tip2">
                  <li  class="widget-container">
                    <h3>常见问答</h3>
                    <a href="http://www.tongtianshun.com/blog/blogarticle/38" target="_blank" class="a">1. 我想提前赎回银行理财产品可以吗？</a><br>
                  </li>
                </div>
              </td>
            </tr>
          </table>
          <br><br>
        </div>
      </td>
    </tr>
  </table>
</div>

<script>
    $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
               return true;
            }
    );

    $(document).ready(function(){
        /* Initialise datatables */
        var oTable = $('#bankfinance').dataTable({
            "iDisplayLength": 10,
            "oLanguage": {
                "sZeroRecords": "很抱歉，没有符合您要求的银行理财产品，请重新设定筛选条件"
            }
        });

        $("#first,#second,#third").click( function() { oTable.fnDraw(); } );

        $("#amount").val(Request("amount")+"元");
        $("#amounts").val(Request("amount"));
        if(Request("deadline")=="30"){
          $("#deadline").val("短期投资 (1个月内)");
          $("#deadlines").val("30");
        }
        else if(Request("deadline")=="90"){
            $("#deadline").val("中期投资 (3个月内)");
            $("#deadlines").val("90");
        }
        else if(Request("deadline")=="91"){
            $("#deadline").val("长期投资 (3个月以上)");
            $("#deadlines").val("91");
        }
        if(Request("deficit")=="0"){
            var city = document.getElementsByName("optionsRadios");
                for(i=0; i<city.length; i++){
                    if(city[i].value=="绝对不能亏损本金"){
                        city[i].checked = "checked";
                    }
                    else{
                        city[i].checked = "";
                    }
                }
            $("#risk").val("绝对不能亏损本金");
            $("#deficit").hide();
        }
        else{
            var city = document.getElementsByName("optionsRadios");
            for(i=0; i<city.length; i++){
                if(city[i].value=="可以承担本金亏损"){
                    city[i].checked = "checked";
                }
                else{
                    city[i].checked = "";
                }
            }
            $("#risk").val("可以承担本金亏损");
            $("#deficit").show();
            $("#returnrate").val(Request("returnrate"));
        }
    });

    $("#fdeficit").click(function(e){
        $("#deficit").hide();
    });
    $("#cdeficit").click(function(e){
        $("#deficit").show();
    });

    try{
        $(function() {
            var $amt = $("#returnrate")
                    .on("update", function () {
                        var amt = this.value;
                        if (amt.match(/^\d+$/) && (amt = +amt) >= 0 && (amt = +amt) <= 100) {
                            $amt.removeClass("invalid");
                            if (amt !== $amt.data("val")) {
                                $amt.data("val", amt);
                            }
                        } else {
                            $amt.addClass("invalid");
                        }
                    })
                    .bind("keypress keyup", function() {
                        $(this).trigger("update");
                    })
        });
    } catch(e) {w.trackJsError(e); throw e;}

    try{
        $(function() {
            var $amt = $("#amounts")
                    .on("update", function () {
                        var amt = this.value;
                        if (amt.match(/^\d+$/) && (amt = +amt) >= 50000) {
                            $amt.removeClass("invalid");
                            if (amt !== $amt.data("val")) {
                                $amt.data("val", amt);
                            }
                        } else {
                            $amt.addClass("invalid");
                        }
                    })
                    .bind("keypress keyup", function() {
                        $(this).trigger("update");
                    })
        });
    } catch(e) {w.trackJsError(e); throw e;}


    $("#checkinput1").click(function(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        if($("#amounts").attr("value")=="")
        {
            $("#returnrate").addClass("invalid");
            return false;
        }
        if(numfor.test($("#amounts").attr("value"))==false)
        {
            return false;
        }
        else if($("#amounts").attr("value")<50000)
        {
            return false;
        }
        else {
            if(Request("deficit")=="0"){
                location.href="/bankinvest/fourthpickout?amount="+$("#amounts").attr("value")+"&deadline="+Request("deadline")+"&deficit=0";
            }
            else{
                location.href="/bankinvest/fourthpickout?amount="+$("#amounts").attr("value")+"&deadline="+Request("deadline")+"&deficit=1&returnrate="+Request("returnrate");
            }
        }
    });

    $("#checkinput2").click(function(e){
        if(Request("deficit")=="0"){
            location.href="/bankinvest/fourthpickout?amount="+Request("amount")+"&deadline="+$("#deadlines").attr("value")+"&deficit=0";
        }
        else{
            location.href="/bankinvest/fourthpickout?amount="+Request("amount")+"&deadline="+$("#deadlines").attr("value")+"&deficit=1&returnrate="+Request("returnrate");
        }
    });

    $("#checkinput3").click(function(e){
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
        var Obj = document.getElementsByName("optionsRadios");
        for(i=0;i<Obj.length;i++){
            if(Obj[i].checked){
                if(i==1){
                    if($("#returnrate").attr("value")==""){
                        $("#returnrate").addClass("invalid");
                        return false;
                    }
                    else if(!numfor.test($("#returnrate").attr("value"))){
                        return false;
                    }
                    else if(parseFloat($("#returnrate").attr("value"))<0 || parseFloat($("#returnrate").attr("value"))>100){
                        return false;
                    }
                }
                break;
            }
        };
        if(i==0){
            location.href="/bankinvest/fourthpickout?amount="+Request("amount")+"&deadline="+Request("deadline")+"&deficit=0";
        }
        else if(i==1){
            location.href="/bankinvest/fourthpickout?amount="+Request("amount")+"&deadline="+Request("deadline")+"&deficit=1&returnrate="+$("#returnrate").attr("value");
        }
    });

    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }
</script>