<%= javascript_include_tag "placeholder.js" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "FixedHeader.min.js" %>
<%= stylesheet_link_tag "demo_page.css" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<%= stylesheet_link_tag "jquery-ui-1.8.4.custom.css" %>
<%= stylesheet_link_tag "bankinvest.css" %>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>

<style type=text/css>
    .login-popup{
        display:none;
        padding: 10px;
        border: 0px solid white;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%; left: 50%;
        z-index: 99999;
        width:430px
    }
    #mask {
        display: none;
        background: #000;
        position: fixed; left: 0; top: 0;
        width: 100%; height: 100%;
        opacity: 0.3;
        z-index: 999;
    }
</style>

<div class="main-content pop" onkeyup="area()" onclick="area()" onload="">
                          <a href="/">首页</a>&nbsp; >&nbsp;
    <a href="/home/productindex" >产品展示</a>
  <h1>银行理财产品</h1>
                   <div class="well-b">
    <div class="row-fluid">
      <div class="span9 ">
        <div id="optionsRadios">
          <div id="period">
            <div id="bank">
        <table class="space table table-striped" id="returnrate">
                  <tr>
            <td><h4>预期年收益率</h4></td>
            <td><h4>收益类型</h4></td>
            <td><h4>理财期限</h4></td>
                  <td><h4>优惠活动</h4></td>
                    <td colspan="3"><h4>银行名称</h4></td>
                  </tr>
                  <tr>
            <td><label class="checkbox"><input type="checkbox" name="returnrate" value="r_all" checked="true" id="r_all"> 全部</label></td>
            <td><label class="radio"><input id="o_all" name="optionsRadios" value="全部" checked="true" type="radio">全部</label></td>
            <td><label class="checkbox"><input type="checkbox" checked="true" name="period" value="p_all" id="p_all"> 全部</label></td>
                  <td><label class="checkbox"><input type="checkbox" name="favourable" value="f_1" id="f_1" onclick="checkchick('f_all')">赠品</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" checked="true" id="b_all"> 全选</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="建设银行" onclick="checkchick('b_all')"> 建设银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="光大银行" onclick="checkchick('b_all')"> 光大银行</label></td>
                  </tr>
                  <tr>
            <td><label class="checkbox"><input type="checkbox"  name="returnrate" value="r_3" id="r_3" onclick="checkchick('r_all')"> 3%（含）以下</label></td>
            <td><label class="radio"><input id="o_1" name="optionsRadios" value="保本" type="radio">保本</label></td>
            <td><label class="checkbox"><input type="checkbox" name="period" value="p_3" id="p_3" onclick="checkchick('p_all')"> 3个月以内</label></td>
                  <td></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="中国银行" onclick="checkchick('b_all')"> 中国银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="招商银行" onclick="checkchick('b_all')"> 招商银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="广发银行" onclick="checkchick('b_all')"> 广发银行</label></td>
                  </tr>
                  <tr>
            <td><label class="checkbox"><input type="checkbox" name="returnrate" value="r_34" id="r_34" onclick="checkchick('r_all')"> 3%~4%（含）</label></td>
            <td><label class="radio"><input id="o_2" name="optionsRadios" value="不保本" type="radio">不保本</label></td>
            <td><label class="checkbox"><input type="checkbox" name="period" value="p_36" id="p_36" onclick="checkchick('p_all')"> 3-6个月</label></td>
                  <td></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="工商银行" onclick="checkchick('b_all')"> 工商银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="中信银行" onclick="checkchick('b_all')"> 中信银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="浦发银行" onclick="checkchick('b_all')"> 浦发银行</label></td>
                  </tr>
                  <tr>
            <td><label class="checkbox"><input type="checkbox" name="returnrate" value="r_45" id="r_45" onclick="checkchick('r_all')"> 4%~5%（含）</label></td>
            <td></td>
            <td><label class="checkbox"><input type="checkbox" name="period" value="p_61" id="p_61" onclick="checkchick('p_all')"> 6个月-1年</label></td>
                  <td></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="交通银行" onclick="checkchick('b_all')"> 交通银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="华夏银行" onclick="checkchick('b_all')"> 华夏银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="民生银行" onclick="checkchick('b_all')"> 民生银行</label></td>
                  </tr>
                  <tr>
            <td><label class="checkbox"><input type="checkbox" name="returnrate" value="r_5" id="r_5" onclick="checkchick('r_all')"> 5%以上</label></td>
            <td></td>
            <td><label class="checkbox"><input type="checkbox" name="period" value="p_1" id="p_1" onclick="checkchick('p_all')"> 1年以上</label></td>
                  <td></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="农业银行" onclick="checkchick('b_all')"> 农业银行</label></td>
                    <td><label class="checkbox"><input type="checkbox" name="bank" value="兴业银行" onclick="checkchick('b_all')"> 兴业银行</label></td>
                    <td><label class="checkbox"> <input type="checkbox" name="bank" value="平安银行" onclick="checkchick('b_all')"> 平安银行</label></td>
                  </tr>
                </table>
                     </div>
          </div>
        </div>
      </div>
      <div class="span3 b">
        <div class="tip">
          <li  class="widget-container">
            <h3>常见问答</h3>
            <a href="http://www.tongtianshun.com/blog/blogarticle/36" target="_blank" class="a">1. 保本型银行理财产品真的没有风险吗？</a><br>
            <a href="http://www.tongtianshun.com/blog/blogarticle/29" target="_blank" class="a">2. 现在是购买银行理财产品的最佳时机吗？</a><br>
          </li>
        </div>
      </div>
                   </div>
                     </div>
  <br>
  <!--
  <dl class="dl-horizontal">
    <dt>投资金额：</dt>
    <dd>
      <div class="input-prepend input-append">
        <span class="add-on">￥</span><input class="input-medium" type="text" id="investamount" placeholder="5000"><span class="add-on">元</span>
      </div>
    </dd>
  </dl>
   -->



              <table cellpadding="0" cellspacing="0" border="0" class="display" name="bankfinance" id="bankfinance"  style="text-align:center;">
                     <thead><tr>
      <th>发行银行</th><th>收益率<br>(年化)</th><th>收益额<br>（元）</th><th>类型</th><th>起售价<br>(万)</th>
      <th>投资期限<br>(天)</th><th>可售</th><th class="hide">发行地区</th><th>产品名称</th><th>优惠</th><th>操作</th><th class="hide">发行地区</th>
                     </tr></thead>

                     <% @bankfinances.each do |b| %>
                         <tr class="gradeA">
          <td><%= b.trustee%></td>
                           <td><%= format("%0.1f",b.returnrate*100)%>%</td>
          <td></td>
                           <td><%= b.btype%></td>
                           <td><%= format("%0.0f",b.startvalue/10000)%></td>
                           <td><%= format("%0.0f",b.investperiod)%></td>
          <td><%= b.status%></td>
                           <td class="hide"><p class="ctl" title="<%= b.distributionarea%>"><%= b.distributionarea%></p></td>
                           <td><p class="ctl" title="<%= b.bname%>"><%= b.bname%></p></td>
          <% if b.trustee =="北京银行" %>
          <td><img src="/assets/121021.jpg" title="苏垦特产 林下散养草鸡蛋 福临门 非转基因 玉米食用油"></td>
          <td><a href="/sales/index?bid=<%= b.id%>&favourable=1">购买</a></td>
          <% else %>
          <td></td>
                           <td><a href="/sales/index?bid=<%= b.id%>">购买</a></td>
          <% end %>
                           <td class="hide"><p class="ctl" title="<%= b.distributionarea%>"><%= b.distributionarea%></p></td>
                         </tr>
                     <% end %>
                   </table>
</div>

<script>

   function checkchick(id){
       if($('#'+id).attr('checked')=='checked')
           doclick(id);
   }
   $.fn.dataTableExt.afnFiltering.push(
           function( oSettings, aData, iDataIndex ) {
                var flag1,flag2,flag3,flag4,flag5;
                var returnrates=document.getElementsByName("returnrate");
                var t_returnrate=parseFloat(aData[1].replace(/%/,""));
                var Sys = {};
                var ua = navigator.userAgent.toLowerCase();
                if (window.ActiveXObject)
                    Sys.ie = ua.match(/msie ([\d.]+)/)[1];
                var length_s;
                if(Sys.ie==null)
                    length_s=0;
                else
                    length_s=1;
                for(var i=length_s;i<returnrates.length;i++){
                   if( returnrates[i].checked){
                       if(returnrates[i].value=="r_all"){
                           flag1=1;
                       }
                       else if(returnrates[i].value=="r_3"){
                           if(t_returnrate<=3){
                               flag1=1;
                           }
                       }
                       else if(returnrates[i].value=="r_34"){
                           if(t_returnrate>3&&t_returnrate<=4){
                               flag1=1;
                           }
                       }
                       else if(returnrates[i].value=="r_45"){
                           if(t_returnrate>4&&t_returnrate<=5){
                               flag1=1;
                           }
                       }
                       else if(returnrates[i].value=="r_5"){
                           if(t_returnrate>5){
                               flag1=1;
                           }
                       }
                   }
               }
                var rtype=document.getElementsByName("optionsRadios");
                for(var i=length_s;i<rtype.length;i++){
                    if( rtype[i].checked){
                        if(rtype[i].value=="全部"){
                   flag2=1;
               }
                        else if(rtype[i].value==aData[3]){
                   flag2=1;
               }
                    }
                }
               var banks=document.getElementsByName("bank")
               if($("#b_all").attr("checked")=="checked"){
                   flag3=1;
               }
               else {
                    for(var i=length_s;i<banks.length;i++){
                       if( banks[i].checked&&banks[i].value==aData[0]){
                           flag3=1;
                       }
                   }
               }

               var periods=document.getElementsByName("period")
                for(var i=length_s;i<periods.length;i++){
                   if( periods[i].checked){
                       if(periods[i].value=="p_all"){
                           flag4=1;
                       }
                       else if(periods[i].value=="p_3"){
                            if(aData[5]<=90){
                               flag4=1;
                           }
                       }
                       else if(periods[i].value=="p_36"){
                            if(aData[5]>=90&&aData[5]<180){
                               flag4=1;
                           }
                       }
                       else if(periods[i].value=="p_61"){
                            if(aData[5]>=180&&aData[5]<=365){
                               flag4=1;
                           }
                       }
                       else if(periods[i].value=="p_1"){
                            if(aData[5]>365){
                               flag4=1;
                           }
                       }
                   }
               }

                var favourables=document.getElementsByName("favourable")
                if( favourables[0].checked){
                  //  alert(aData[10])
                    if(aData[0]=="北京银行"){
                        flag5=1;
                    }
                }
                else{
                    flag5=1;
                }

                if(flag1==1&&flag2==1&&flag3==1&&flag4==1&&flag5==1){
                  return true;
              }
           }

   );

   function doclick(name)
   {
       if(document.all)
       {
           document.getElementById(name).click();
       }
       else
       {
           var evt = document.createEvent("MouseEvents");
           evt.initEvent("click", true, true);
           document.getElementById(name).dispatchEvent(evt);
       }
   }

    function fnFilterGlobal ()
    {
        var x="";

        if($("#global_filter").val()=="南京"){
            x="("+$("#global_filter").val()+"|江苏|全国)";
        }
        else if($("#global_filter").val().indexOf("全")<=0&&$("#global_filter").val().indexOf("|")<=0&&$("#global_filter").val().indexOf("国")<=0&&$("#global_filter").val()!=""){
            x="("+$("#global_filter").val()+"|全国)";
        }

        $('#bankfinance').dataTable().fnFilter(
                x,
                null,
                1,
                1
        );
    }

    $(document).ready(function(){

       /* Initialise datatables */
       var oTable = $('#bankfinance').dataTable({
           "iDisplayLength": 50,
           "bJQueryUI": true,
           "sPaginationType": "full_numbers",
           "oLanguage": {
               "sSearch":"发行地区:",
               "sZeroRecords": "很抱歉，没有符合您要求的银行理财产品，请重新设定筛选条件"
           },
           "aaSorting": [[ 1, "desc" ]]
    });
        new FixedHeader(oTable);
        AddElement('text');
        $("#returnrate").click( function() { oTable.fnDraw(); } );
        $("#global_filter").val(remote_ip_info["city"])
        $("#global_filter").keyup( fnFilterGlobal );
        fnFilterGlobal();
    });

   function area(){
       var length=$("#bankfinance").find("tr").size();
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
       for(i=0;i<length;i++){
        //    if($("#bankfinance_filter input").val()!=$("#bankfinance tr:eq("+i+") td:eq(11) p").html()){
        //        $("#bankfinance tr:eq("+i+") td:eq(8) p").html($("#bankfinance_filter input").val()+"&nbsp;"+$("#bankfinance tr:eq("+i+") td:eq(11) p").html())
        //    }
            if($("#investamount").val()!=""&&numfor.test($("#investamount").val())==true){
                $("#bankfinance tr:eq("+i+") td:eq(2)").html(parseInt($("#investamount").val()*parseFloat($("#bankfinance tr:eq("+i+") td:eq(1)").html())*parseFloat($("#bankfinance tr:eq("+i+") td:eq(5)").html())/36500))
            }
            else{
                $("#bankfinance tr:eq("+i+") td:eq(2)").html(0)
            }
       }
   };
   window.onload=function(){
       area();
   }

    function AddElement(mytype){
        var mytype,TemO=document.getElementById("bankfinance_length");
        var p= document.createElement("div");
        p.id="input1";
        p.className="input-prepend input-append";
        TemO.appendChild(p);
        var mytype,TemO=document.getElementById("input1");
        var p= document.createElement("span");
        p.className="add-on aa";
        TemO.appendChild(p);
        $(".aa").html("￥");
        var newInput = document.createElement("input");
        newInput.type=mytype;
        newInput.name="input1";
        newInput.id="investamount";
        newInput.placeholder="请输入投资金额：";
        TemO.appendChild(newInput);
        var p= document.createElement("span");
        p.className="add-on ab";
        TemO.appendChild(p);
        $(".ab").html("元");
        var newline= document.createElement("br");
        TemO.appendChild(newline);
        var mytype,TemO=document.getElementById("bankfinance_filter");
        var newInput = document.createElement("input");
        var p= document.createElement("b");
        p.className="ar";
        TemO.appendChild(p);
        $(".ar").html("发行地区：");
        newInput.type="text";
        newInput.name="global_filter";
        newInput.id="global_filter";
        TemO.appendChild(newInput);
    }
</script>
<script language='javascript' async='true' type='text/javascript' src='http://cdn.walkme.com/users/8868/walkme_8868.js'></script>