<%= javascript_include_tag "jquery.dataTables.columnFilter.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>  <!--tip title -->
<%= stylesheet_link_tag "tip-yellowsimple.css" %>   <!--tip title -->
<%= javascript_include_tag "jquery.dataTables.min.js" %>    <!--datatables -->
<%= stylesheet_link_tag "demo_page.css" %>         <!--datatables -->
<%= stylesheet_link_tag "demo_table_jui.css" %>    <!--datatables -->
<%= javascript_include_tag "FixedHeader.min.js" %>  <!--固定表头 -->
<%= stylesheet_link_tag "jquery-ui-1.8.4.custom.css" %>  <!--固定表头 -->
<%= stylesheet_link_tag "bankinvest.css" %>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>  <!-- IP -->
<!-- 打印 -->
<style type=text/css>
    @media print{
        .hide,.pop .dataTables_length label,.pop #bankfinance_filter label,.ui-corner-tl,.chzn-drop{display:none;}
        h1,.beta,.print,#returnrate,.main-footer,.ui-corner-br{display:none;}
        .FixedHeader_Cloned th {display: none;}
        .ctl {position: relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; padding: 7px 2px;
            display: inline-block; width: 120px; margin: 0;font-weight: normal;}
        table.display tr.odd.gradeA {background-color: #ddffdd;}
        table.display tr.even.gradeA {background-color: #eeffee;}
        tr.odd.gradeA td.sorting_1 {background-color: #c4ffc4;}
        tr.even.gradeA td.sorting_1 {background-color: #d5ffd5;}
        #optionsRadios {border: 1px solid rgb(170, 170, 170);background-color: rgb(204, 204, 204);
            color: rgb(34, 34, 34);font-weight: bold;border-top-left-radius: 4px;
            border-top-right-radius: 4px;padding-left: 20px;}
        table.display thead th {padding: 3px 0px 3px 10px;cursor: pointer;}
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            border: 1px solid #d3d3d3;background: #e6e6e6 url(/assets/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
            font-weight: normal;color: #555555;}
        body {background: #ffffff;-webkit-print-color-adjust: exact;}
    }

    table.display tfoot th{
        padding: 0;
    }
    input[type="text"]{
        padding: 0;
        text-align: center;
    }
</style>

<div class="main-content pop">
<a href="/" class="print">首页</a>&nbsp; <span class="print">></span>&nbsp;
<a href="/home/productindex" class="print">产品展示</a>
<h1>理财产品库</h1>
<div class="well-b">
<div class="row-fluid">
<div class="span12">
<div id="optionsRadios">
    <div class="box_sxtj">
      <div class="box_sxtj_top">全部产品－筛选条件</div>
      <div class="box_sxtj_center">
        <dl class="fore" id="category_all">
          <dt id="category-category_all">产品类型:</dt>
          <dd>
            <label class="checkbox inline all">
              <a class="curr category_all btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a class="curr banks btn-link"> 银行理财 </a>
            </label>
            <label class="checkbox inline">
              <a class="curr trust btn-link"> 信托产品 </a>
            </label>
          </dd>
        </dl>
        <dl class="fore">
          <dt id="category-expectYID">预期年化收益率:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="expectYID" class="curr expectYID btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID3" class="curr expectYID3 btn-link"> 3%－6% </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID6" class="curr expectYID6 btn-link"> 6%－10% </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID10" class="curr expectYID10 btn-link"> 10%－15% </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID15" class="curr expectYID15 btn-link"> 15%－30% </a>
            </label>
            <label class="checkbox inline">
              <a id="expectYID30" class="curr expectYID30 btn-link"> 30%以上 </a>
            </label>
          </dd>
        </dl>
        <dl class="fore" id="duration">
          <dt id="category-duration">投资期限:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="durations" class="curr duration btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="duration0" class="curr duration0 btn-link">3个月以内</a>
            </label>
            <label class="checkbox inline">
              <a id="duration90" class="curr duration90 btn-link"> 3个月－6个月</a>
            </label>
            <label class="checkbox inline">
              <a id="duration180" class="curr duration180 btn-link"> 6个月－1年</a>
            </label>
            <label class="checkbox inline">
              <a id="duration365" class="curr duration365 btn-link"> 1年－2年</a>
            </label>
            <label class="checkbox inline">
              <a id="duration730" class="curr duration730 btn-link">2年以上</a>
            </label>
          </dd>
        </dl>

        <dl class="fore" id="outset">
          <dt id="category-outset">投资起点:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="outsets" class="curr outset btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="outset50000" class="curr outset50000 btn-link">5万-10万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset100000" class="curr outset100000 btn-link">10万-20万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset200000" class="curr outset200000 btn-link">20万-50万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset500000" class="curr outset500000 btn-link">50万-100万</a>
            </label>
            <label class="checkbox inline">
              <a id="outset1000000" class="curr outset1000000 btn-link">100万以上</a>
            </label>
          </dd>
        </dl>
        <dl class="fore" id="risk">
          <dt id="category-risk">收益类型:</dt>
          <dd>
            <label class="checkbox inline all">
              <a id="risks" class="curr risk btn-link currbg">不限</a>
            </label>
            <label class="checkbox inline">
              <a id="risk2" class="curr risk2 btn-link"> 浮动 </a>
            </label>
            <label class="checkbox inline">
              <a id="risk1" class="curr risk1 btn-link"> 固定 </a>
            </label>
          </dd>
        </dl>
      </div>

      <div class="box_sxtj_bottom">
        <dl class="fore">
          <dt>已选择的筛选条件:&nbsp;</dt>
          <dd id="selected">

            <div id="s-category_all" class="del hide">
              <h6 class="text" id="st-category_all" condition="">产品类型:不限</h6>
              <a class="delete" cid="category_all"></a>
            </div>

            <div id="s-expectYID" class="del hide">
              <h6 class="text" id="st-expectYID" condition="">预期年化收益率:不限</h6>
              <a class="delete" cid="expectYID"></a>
            </div>

            <div id="s-duration" class="del hide">
              <h6 class="text" id="st-duration" condition="">投资期限：不限</h6>
              <a class="delete" cid="duration"></a>
            </div>

            <div id="s-outset" class="del hide">
              <h6 class="text" id="st-outset" condition="">投资起点：不限</h6>
              <a class="delete" cid="outset"></a>
            </div>

            <div id="s-risk" class="del hide">
              <h6 class="text" id="st-risk" condition="">收益类型：不限</h6>
              <a class="delete" cid="risk"></a>
            </div>

          </dd>
        </dl>

      </div>
    </div>
  <div class="hide">
    <dl class="dl-horizontal">
      <dt><h4>发行地区：</h4></dt>
      <dd>
        <input id="global_filter" name="global_filter" type="text">
      </dd>
    </dl>
  </div>
</div>
</div>
</div>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" name="bankfinance" id="bankfinance"  style="text-align:center;">
  <thead><tr>
    <th>对比</th>
    <th>发行机构</th>
    <th><p class="demo-tip-yellowsimple" title="年化收益率仅是把当前收益率换算成年收益率来计算的，是一种理论收益率，并不是真正的已取得的收益率。比如某银行卖的一款理财产品，号称91天的年化收益率为3.1%，那么你购买了10万元，实际上你能收到的利息是10万*3.1%*91/365=772.88元。">收益率<br>(年化)</p></th>
    <th class="hide"></th>
    <!-- <th><p class="demo-tip-yellowsimple" title="投资期限到期后，您将获得的具体收益金额。这不是年化的，是实际到手的获利金额。">收益额</p></th>  -->
    <th><p class="demo-tip-yellowsimple" title="从该银行发行的产品说明书上得到的信息，可信度非常非常高。">类型</p></th>
    <th><p class="demo-tip-yellowsimple" title="最低购买金额。">起售价</p></th>
    <th class="hide"></th>
    <th><p class="demo-tip-yellowsimple" title="该产品投资的时间，正常情况下，您是不可以提前取现的。">投资期限</p></th>
    <th class="hide"></th>
    <th><p class="demo-tip-yellowsimple" title="当前还处于募集期内，但您所在的网点是否可以购买，可点击右侧预订按钮得知。">可售</p></th>
    <th class="hide">发行地区</th>
    <th>产品名称</th>
    <th>操作</th>
    <th class="hide">产品类型</th>
  </tr></thead>
  <tfoot class="hide"><tr>
    <th>对比</th>
    <th>发行机构</th>
    <th><p class="demo-tip-yellowsimple" title="年化收益率仅是把当前收益率换算成年收益率来计算的，是一种理论收益率，并不是真正的已取得的收益率。比如某银行卖的一款理财产品，号称91天的年化收益率为3.1%，那么你购买了10万元，实际上你能收到的利息是10万*3.1%*91/365=772.88元。">收益率<br>(年化)</p></th>
    <th class="hide"></th>
    <!-- <th><p class="demo-tip-yellowsimple" title="投资期限到期后，您将获得的具体收益金额。这不是年化的，是实际到手的获利金额。">收益额</p></th>  -->
    <th><p class="demo-tip-yellowsimple" title="从该银行发行的产品说明书上得到的信息，可信度非常非常高。">类型</p></th>
    <th><p class="demo-tip-yellowsimple" title="最低购买金额。">起售价</p></th>
    <th class="hide"></th>
    <th><p class="demo-tip-yellowsimple" title="该产品投资的时间，正常情况下，您是不可以提前取现的。">投资期限</p></th>
    <th class="hide"></th>
    <th><p class="demo-tip-yellowsimple" title="当前还处于募集期内，但您所在的网点是否可以购买，可点击右侧预订按钮得知。">可售</p></th>
    <th class="hide">发行地区</th>
    <th>产品名称</th>
    <th>操作</th>
    <th class="hide">产品类型</th>
  </tr></tfoot>

  <% @bankfinances.each do |b| %>
      <tr class="gradeA">
        <td><input type="checkbox" onclick="check_chose('<%= b.bname%>',<%= b.id%>)" id="chose<%= b.id%>" name="chose"></td>
        <td><%= b.trustee%></td>
        <% if b.returnrate!=nil %>    <td class="hide"><%= format("%0.1f",b.returnrate*100)%></td><td><%= format("%0.1f",b.returnrate*100)%>%</td>  <% else %>  <td class="hide"></td><td></td>  <% end %>
        <td><%= b.incometype%></td>
        <% if b.startvalue!=nil%>
            <td class="hide"><%= format("%0.0f",b.startvalue/10000)%></td>
            <td><%= format("%0.0f",b.startvalue/10000)%>万</td>
        <% else %>
            <td class="hide"></td>
            <td></td>
        <% end %>
        <% if b.investperiod!=nil %>
        <td class="hide"><%= format("%0.0f",b.investperiod)%></td>
        <td><%= format("%0.0f",b.investperiod)%>天</td>
        <% else %>
            <td class="hide"></td>
            <td></td>
        <% end %>
        <td><%= b.status%></td>
        <td class="hide"><p class="ctl" title="<%= b.distributionarea%>"><%= b.distributionarea%></p></td>
        <td><a class="ctl demo-tip-yellowsimple" title="<%= b.bname%>" href="/bankinvest/details?bid=<%= b.id%>"><%= b.bname%></a></td>
        <td><a href="/sales/index?bid=<%= b.id%>">预订</a></td>
        <td class="hide"><%= b.productstate%></td>
      </tr>
  <% end %>
</table>
</div>

<div class="shape" id="shape_control">
  <p class="pshape">您已经选择的理财产品</p>
  <div class="con"></div>
  <div class="btns"><a class="btn pull-left" target="_blank" href="/bankinvest/compare">对比</a><a class="btn pull-left" onclick="check_clear()" style="margin-left: 10px;">清空</a></div>
</div>

<script>

   $(".banks").click(function(){
       $(".text_filter:last").removeClass('search_init');
       $(".text_filter:last").val('yhlc');
       $(".text_filter:last").keyup();
       $(".banks").addClass('currbg');
       $(".trust").removeClass('currbg');
       $(".category_all").removeClass('currbg');
       $("#s-category_all").removeClass('hide');
       $("#st-category_all").html('产品类型:银行理财');
   });
   $(".trust").click(function(){
       $(".text_filter:last").removeClass('search_init');
       $(".text_filter:last").val('xtcp');
       $(".text_filter:last").keyup();
       $(".trust").addClass('currbg');
       $(".banks").removeClass('currbg');
       $(".category_all").removeClass('currbg');
       $("#s-category_all").removeClass('hide');
       $("#st-category_all").html('产品类型:信托产品');
   });
   $(".category_all").click(function(){
       $(".text_filter:last").addClass('search_init');
       $(".text_filter:last").val('');
       $(".text_filter:last").keyup();
       $(".category_all").addClass('currbg');
       $(".banks").removeClass('currbg');
       $(".trust").removeClass('currbg');
       $("#s-category_all").addClass('hide');
   });

   $("[class*='expectYID']").click(function(){
       $("[class*='expectYID']").removeClass('currbg');
       if(this.id=='expectYID'){$("#bankfinance_range_from_2").val('');$("#bankfinance_range_to_2").val('');$("#s-expectYID").addClass('hide');$("#expectYID").addClass('currbg');}
       else{
       if(this.id=='expectYID3'){$("#bankfinance_range_from_2").val('3');$("#bankfinance_range_to_2").val('6');$("#expectYID3").addClass('currbg');};
       if(this.id=='expectYID6'){$("#bankfinance_range_from_2").val('6');$("#bankfinance_range_to_2").val('10');$("#expectYID6").addClass('currbg');};
       if(this.id=='expectYID10'){$("#bankfinance_range_from_2").val('10');$("#bankfinance_range_to_2").val('15');$("#expectYID10").addClass('currbg');};
       if(this.id=='expectYID15'){$("#bankfinance_range_from_2").val('15');$("#bankfinance_range_to_2").val('30');$("#expectYID15").addClass('currbg');};
       if(this.id=='expectYID30'){$("#bankfinance_range_from_2").val('30');$("#bankfinance_range_to_2").val('');$("#expectYID30").addClass('currbg');};
           $("#s-expectYID").removeClass('hide');
           $("#st-expectYID").html('预期年化收益率:'+$('#'+this.id).html());
       }
       $("#bankfinance_range_from_2").keyup();
   });

   $("[class*='duration']").click(function(){
       $("[class*='duration']").removeClass('currbg');
       if(this.id=='durations'){$("#bankfinance_range_from_7").val('');$("#bankfinance_range_to_7").val('');$("#s-duration").addClass('hide');$("#durations").addClass('currbg');}
       else{
       if(this.id=='duration0'){$("#bankfinance_range_from_7").val('0');$("#bankfinance_range_to_7").val('90');$("#duration0").addClass('currbg');};
       if(this.id=='duration90'){$("#bankfinance_range_from_7").val('90');$("#bankfinance_range_to_7").val('180');$("#duration90").addClass('currbg');};
       if(this.id=='duration180'){$("#bankfinance_range_from_7").val('180');$("#bankfinance_range_to_7").val('365');$("#duration180").addClass('currbg');};
       if(this.id=='duration365'){$("#bankfinance_range_from_7").val('365');$("#bankfinance_range_to_7").val('730');$("#duration365").addClass('currbg');};
       if(this.id=='duration730'){$("#bankfinance_range_from_7").val('730');$("#bankfinance_range_to_7").val('');$("#duration730").addClass('currbg');};
           $("#s-duration").removeClass('hide');
           $("#st-duration").html('投资期限:'+$('#'+this.id).html());
       }
       $("#bankfinance_range_from_7").keyup();
   });

   $("[class*='outset']").click(function(){
       $("[class*='outset']").removeClass('currbg');
       if(this.id=='outsets'){$("#bankfinance_range_from_5").val('');$("#bankfinance_range_to_5").val('');$("#s-outset").addClass('hide');$("#outsets").addClass('currbg');}
       else{
       if(this.id=='outset50000'){$("#bankfinance_range_from_5").val('5');$("#bankfinance_range_to_5").val('10');$("#outset50000").addClass('currbg');};
       if(this.id=='outset100000'){$("#bankfinance_range_from_5").val('10');$("#bankfinance_range_to_5").val('20');$("#outset100000").addClass('currbg');};
       if(this.id=='outset200000'){$("#bankfinance_range_from_5").val('20');$("#bankfinance_range_to_5").val('50');$("#outset200000").addClass('currbg');};
       if(this.id=='outset500000'){$("#bankfinance_range_from_5").val('50');$("#bankfinance_range_to_5").val('100');$("#outset500000").addClass('currbg');};
       if(this.id=='outset1000000'){$("#bankfinance_range_from_5").val('100');$("#bankfinance_range_to_5").val('');$("#outset1000000").addClass('currbg');};
           $("#s-outset").removeClass('hide');
           $("#st-outset").html('投资起点:'+$('#'+this.id).html());
       }
       $("#bankfinance_range_from_5").keyup();
   });

   $("[class*='risk']").click(function(){
       $("[class*='risk']").removeClass('currbg');
       if(this.id=='risks'){$(".text_filter:first").val('');$(".text_filter:first").keyup();$("#s-risk").addClass('hide');$("#risks").addClass('currbg');}
       else{
           if(this.id=='risk2'){$(".text_filter:first").removeClass('search_init'); $(".text_filter:first").val('浮动');$(".text_filter:first").keyup();$("#risk2").addClass('currbg'); };
           if(this.id=='risk1'){$(".text_filter:first").removeClass('search_init'); $(".text_filter:first").val('固定');$(".text_filter:first").keyup();$("#risk1").addClass('currbg');};
           $("#s-risk").removeClass('hide');
           $("#st-risk").html('收益类型:'+$('#'+this.id).html());
       }
   });

   $(".delete").click(function(){
       $('#s-'+$(this).attr("cid")).addClass('hide');
      if($(this).attr("cid")=='category_all'){
          $(".text_filter:last").addClass('search_init');
          $(".text_filter:last").val('');
          $(".text_filter:last").keyup();
          $(".category_all").addClass('currbg');
          $(".banks").removeClass('currbg');
          $(".trust").removeClass('currbg');
      }
      else if($(this).attr("cid")=='expectYID'){
          $("[class*='expectYID']").removeClass('currbg');
          $("#expectYID").addClass('currbg');
          $("#bankfinance_range_from_2").val('');$("#bankfinance_range_to_2").val('');$("#s-expectYID").addClass('hide');
          $("#bankfinance_range_from_2").keyup();
      }
      else if($(this).attr("cid")=='duration'){
          $("[class*='duration']").removeClass('currbg');
          $("#durations").addClass('currbg');
          $("#bankfinance_range_from_7").val('');$("#bankfinance_range_to_7").val('');$("#s-duration").addClass('hide');
          $("#bankfinance_range_from_7").keyup();
      }
      else if($(this).attr("cid")=='outset'){
          $("[class*='outset']").removeClass('currbg');
          $("#outsets").addClass('currbg');
          $("#bankfinance_range_from_5").val('');$("#bankfinance_range_to_5").val('');$("#s-outset").addClass('hide');
          $("#bankfinance_range_from_5").keyup();
      }
      else if($(this).attr("cid")=='risk'){
          $("[class*='risk']").removeClass('currbg');
          $("#risks").addClass('currbg');
          $(".text_filter:first").val('');
          $(".text_filter:first").keyup();
          $("#s-risk").addClass('hide');
      }
   });

    var flag=0;
    var comparenum=0;
    // var session_compare;
    // var height=document.getElementsByClassName("con").height;
    $('#shape_control').hide();
    <%session[:compareid]=""%>
    function check_chose(name,id){
        havecheck("chose");
        if(flag==1){
            $('#shape_control').show();
        }

        if($("#chose"+id).attr("checked")=="checked"){
            $("<div class='comparetitle' id=comparetitle"+id+"><p><ul><li>"+name+"</li></ul></p></div>").appendTo(".con");
            $.get("/bankinvest/comparesession",{compareid:id,comparenum:comparenum});
            comparenum=comparenum+1;
        }
        else
        {
            $("#comparetitle"+id).remove();
            $.get("/bankinvest/comparesession",{compareid:id,comparenum:comparenum,type:'deleteid'});
            comparenum=comparenum-1;
            if(comparenum==0){
                $('#shape_control').hide();
            }
        }
    }

    function check_clear(){
        var txts=document.getElementsByName("chose");
        $(".comparetitle").remove();
        $("#bankfinance :checkbox").attr("checked", !1);
        $.get("/bankinvest/comparesession",{comparenum:"0",type:'clearid'});
        $('#shape_control').hide();
    }

    function $N(name){return document.getElementsByName(name);}
    function havecheck(name){ //v当前要设置的值true/false;name要设置的checkbox组的name,如果省略则默认为所有的checkbox
        o=name?$N(name):$N("input");
        //alert(o.length)
        for(i=0;i<o.length;i++)
            if(o[i].type=="checkbox"){
                flag=1;
                break;
            };
    }

    function fnFilterGlobal ()
    {
        var x="";

        if($("#global_filter").val()=="南京"){
            x="("+$("#global_filter").val()+"|江苏|全国)";
        }
        else if($("#global_filter").val().indexOf("全")<=0&&$("#global_filter").val().indexOf("|")<=0&&$("#global_filter").val().indexOf("国")<=0&&$("#global_filter").val()!=""){
            x="("+$("#global_filter").val()+"|全国)";
        }

        $('#bankfinance').dataTable().fnFilter(
                x,
                null,
                1,
                1
        );
    }

    $(document).ready(function(){

        /* Initialise datatables */
        var oTable = $('#bankfinance').dataTable({
            "iDisplayLength": 50,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch":"发行地区:",
                "sZeroRecords": "很抱歉，没有符合您要求的银行理财产品，请重新设定筛选条件"
            },
            "aaSorting": [[ 2, "desc" ]],
            "bProcessing": true
          // ,"bServerSide": true,
          //  "sAjaxSource": $('#bankfinance').data('source'),
          //  "fnServerData": fnDataTablesPipeline
        });
        $('#bankfinance').dataTable().columnFilter({
            aoColumns: [
                null,
                null,
                { type: "number-range" },
                null,
                { type: "text"},
                { type: "number-range" },
                null,
                { type: "number-range" },
                null,
                null,
                null,
                null,
                null,
                { type: "text" }
            ]

        });

        function fnDataTablesPipeline ( sUrl, aoData, fnCallback ) {
         //   alert(JSON.stringify(aoData));
            $.get("/bankinvest/index",{start:aoData[3].value,length:aoData[4].value},function(data){
        //        alert(window.location.href)
            });
         /*   $.ajax({
                dataType: "json",
                type: 'POST',
                url: sUrl,
                data: { aoData: JSON.stringify(aoData) },
                success: fnCallback,
                cache: false
            });
            */
        }
        new FixedHeader(oTable);
        //    AddElement('text');
        $("#returnrate").click( function() { oTable.fnDraw(); } );
        $("#global_filter").val(remote_ip_info["city"])
        $("#global_filter").keyup( fnFilterGlobal );
        fnFilterGlobal();

    });

    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'center',
            offsetY: 5,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
</script>