<%= javascript_include_tag "placeholder.js" %>
<%= javascript_include_tag "jquery.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "FixedHeader.min.js" %>
<%= stylesheet_link_tag "demo_page.css" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<%= stylesheet_link_tag "jquery-ui-1.8.4.custom.css" %>
<%= stylesheet_link_tag "bankinvest.css" %>
<%= stylesheet_link_tag "chosen.css" %>
<%= javascript_include_tag "chosen.jquery.js" %>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>
<style type=text/css>
    .login-popup{
        display:none;
        padding: 10px;
        border: 0px solid white;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%; left: 50%;
        z-index: 99999;
        width:430px
    }
    #mask {
        display: none;
        background: #000;
        position: fixed; left: 0; top: 0;
        width: 100%; height: 100%;
        opacity: 0.3;
        z-index: 999;
    }
</style>

<div class="main-content pop" onkeyup="area()" onclick="area()" onload="">
                          <a href="/">首页</a>&nbsp; >&nbsp;
    <a href="/home/productindex" >产品展示</a>
  <h1>银行理财产品</h1>
                   <div class="well-b">
    <div class="row-fluid">
      <div class="span12">
        <div id="optionsRadios">
          <div id="period">
            <div>
              <table class="table" id="returnrate">
                  <tr>
                  <td class="con1">
                    <dl class="dl-horizontal">
                      <dt><h4>投资金额：</h4></dt>
                      <dd>
                        <div class="input-prepend input-append">
                          <span class="add-on">￥</span><input class="input-medium" type="text" id="investamount" placeholder="50000"><span class="add-on">元</span>
                        </div>
                      </dd>
                    </dl>
                  </td>
                  <td><h4>独家特惠</h4></td>
                  <td><h4>收益类型</h4></td>
                  <td><h4>理财期限</h4></td>
                  </tr>
                  <tr>
                  <td rowspan="2" class="banks">
                    <dl class="dl-horizontal">
                      <dt><h4>发行机构：</h4></dt>
                      <dd>
                    <form>
                      <div id="container">
                        <div class="side-by-side clearfix">
                          <div class="grade">
                                <select data-placeholder="点击选择多家银行" style="width:235px;" id="bank" class="chzn-select" multiple tabindex="6">
                              <option value=""></option>
                              <optgroup label="银行名称">
                                <option name="bank" value="北京银行" onclick="checkchick('b_all')">北京银行</option>
                                <option name="bank" value="建设银行" onclick="checkchick('b_all')">建设银行</option>
                                <option name="bank" value="光大银行" onclick="checkchick('b_all')">光大银行</option>
                                <option name="bank" value="中国银行" onclick="checkchick('b_all')">中国银行</option>
                                <option name="bank" value="招商银行" onclick="checkchick('b_all')">招商银行</option>
                                <option name="bank" value="广发银行" onclick="checkchick('b_all')">广发银行</option>
                                <option name="bank" value="工商银行" onclick="checkchick('b_all')">工商银行</option>
                                <option name="bank" value="中信银行" onclick="checkchick('b_all')">中信银行</option>
                                <option name="bank" value="浦发银行" onclick="checkchick('b_all')">浦发银行</option>
                                <option name="bank" value="交通银行" onclick="checkchick('b_all')">交通银行</option>
                                <option name="bank" value="华夏银行" onclick="checkchick('b_all')">华夏银行</option>
                                <option name="bank" value="民生银行" onclick="checkchick('b_all')">民生银行</option>
                                <option name="bank" value="农业银行" onclick="checkchick('b_all')">农业银行</option>
                                <option name="bank" value="兴业银行" onclick="checkchick('b_all')">兴业银行</option>
                                <option name="bank" value="平安银行" onclick="checkchick('b_all')">平安银行</option>
                              </optgroup>
                            </select>
                          </div>
                        </div>
                      </div>
                    </form>
                      </dd>
                    </dl>
                  </td>
                  <td><label class="checkbox"><input type="checkbox" name="favourable" value="f_1" id="f_1" onclick="checkchick('f_all')">有赠品</label></td>
                  <td><label class="radio"><input id="o_all" name="optionsRadios" value="全部" checked="true" type="radio">全部</label></td>
                  <td><label class="checkbox"><input type="checkbox" checked="true" name="period" value="p_all" id="p_all"> 全部</label></td>
                  </tr>
                  <tr>
                  <td><label class="checkbox"><input type="checkbox" name="opt" id="tom" value="明日起息"><p class="demo-tip-yellowsimple" title="理财产品一般有产品募集期，募集期结束后才会正式开始起息。需留意该产品是否会因为募集期过长，缩水理财产品的实际收益。所以，明日起息的产品，将会是很合算的。">明日起息</p></label></td>
            <td><label class="radio"><input id="o_1" name="optionsRadios" value="保本" type="radio">保本</label></td>
            <td><label class="checkbox"><input type="checkbox" name="period" value="p_3" id="p_3" onclick="checkchick('p_all')"> 3个月以内</label></td>
                  </tr>
                  <tr>
                  <td rowspan="2">
                    <dl class="dl-horizontal">
                      <dt><h4>发行地区：</h4></dt>
                      <dd>
                        <input id="global_filter" name="global_filter" type="text">
                      </dd>
                    </dl>
                  </td>
                  <td></td>
            <td><label class="radio"><input id="o_2" name="optionsRadios" value="不保本" type="radio">不保本</label></td>
                  <td><label class="checkbox"><input type="checkbox" name="period" value="p_312" id="p_312" onclick="checkchick('p_all')"> 3个月-12个月</label></td>
                  </tr>
                  <tr>
                  <td colspan="2"></td>
            <td><label class="checkbox"><input type="checkbox" name="period" value="p_1" id="p_1" onclick="checkchick('p_all')"> 1年以上</label></td>
                  </tr>
                </table>
                     </div>
          </div>
        </div>
      </div>
      <!--
      <div class="span3 b">
        <div class="tip">
          <li  class="widget-container">
            <h3>常见问答</h3>
            <a href="http://www.tongtianshun.com/blog/blogarticle/36" target="_blank" class="a">1. 保本型银行理财产品真的没有风险吗？</a><br>
            <a href="http://www.tongtianshun.com/blog/blogarticle/29" target="_blank" class="a">2. 现在是购买银行理财产品的最佳时机吗？</a><br>
          </li>
        </div>
      </div>
      -->
                   </div>
                     </div>

              <table cellpadding="0" cellspacing="0" border="0" class="display" name="bankfinance" id="bankfinance"  style="text-align:center;">
                     <thead><tr>
      <th>对比</th><th>发行银行</th>
      <th><p class="demo-tip-yellowsimple" title="年化收益率仅是把当前收益率换算成年收益率来计算的，是一种理论收益率，并不是真正的已取得的收益率。比如某银行卖的一款理财产品，号称91天的年化收益率为3.1%，那么你购买了10万元，实际上你能收到的利息是10万*3.1%*91/365=772.88元。">收益率<br>(年化)</p></th>
      <th><p class="demo-tip-yellowsimple" title="投资期限到期后，您将获得的具体收益金额。这不是年化的，是实际到手的获利金额。">收益额<br>（元）</p></th>
      <th><p class="demo-tip-yellowsimple" title="从该银行发行的产品说明书上得到的信息，可信度非常非常高。">类型</p></th>
      <th><p class="demo-tip-yellowsimple" title="最低购买金额。">起售价<br>(万)</p></th>
      <th><p class="demo-tip-yellowsimple" title="该产品投资的时间，正常情况下，您是不可以提前取现的。">投资期限<br>(天)</p></th>
      <th><p class="demo-tip-yellowsimple" title="当前还处于募集期内，但您所在的网点是否可以购买，可点击右侧预订按钮得知。">可售</p></th>
      <th class="hide">发行地区</th>
      <th>产品名称</th>
      <th><p class="demo-tip-yellowsimple" title="通过我们网站预订，享受团购优惠，专享礼品赠送。">优惠</p></th>
      <th>操作</th>
      <th class="hide">发行地区</th>
      <th class="hide">销售结束</th>
                     </tr></thead>

                     <% @bankfinances.each do |b| %>
                         <tr class="gradeA">
          <td><input type="checkbox" onclick="check_chose('<%= b.bname%>',<%= b.id%>)" id="chose<%= b.id%>" name="chose"></td>
          <td><%= b.trustee%></td>
                           <td><%= format("%0.1f",b.returnrate*100)%>%</td>
          <td></td>
                           <td><%= b.btype%></td>
                           <td><%= format("%0.0f",b.startvalue/10000)%></td>
                           <td><%= format("%0.0f",b.investperiod)%></td>
          <td><%= b.status%></td>
                           <td class="hide"><p class="ctl" title="<%= b.distributionarea%>"><%= b.distributionarea%></p></td>
          <td><a class="ctl demo-tip-yellowsimple" title="<%= b.bname%>" href="/bankinvest/details?bid=<%= b.id%>&key=<%= b.productkeywords%>"><%= b.bname%></a></td>
          <% if b.trustee =="北京银行" %>
              <td><img src="/assets/121021.gif" class="demo-tip-yellowsimple" title="苏垦特产草鸡蛋, 福临门玉米食用油"></td>
              <td><a href="/sales/index?bid=<%= b.id%>&favourable=1">预订</a></td>
          <% else %>
          <td></td>
              <td><a href="/sales/index?bid=<%= b.id%>">预订</a></td>
          <% end %>
                           <td class="hide"><p class="ctl" title="<%= b.distributionarea%>"><%= b.distributionarea%></p></td>
          <td class="hide"><%= b.collectperiod%></td>
                         </tr>
                     <% end %>
                   </table>
</div>

<div class="shape" id="shape_control">
  <p class="pshape">您已经选择的理财产品</p>
  <div class="con"></div>
  <div class="btns"><a class="btn pull-left" target="_blank" href="/bankinvest/compare">对比</a><a class="btn pull-left" onclick="check_clear()" style="margin-left: 10px;">清空</a></div>
</div>

<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
<script>
    var flag=0;
    var comparenum=0;
   // var session_compare;
   // var height=document.getElementsByClassName("con").height;
    $('#shape_control').hide();
    <%session[:compareid]=""%>
    function check_chose(name,id){
        havecheck("chose");
        if(flag==1){
            $('#shape_control').show();
        }

        if($("#chose"+id).attr("checked")=="checked"){
            $("<div class='comparetitle' id=comparetitle"+id+"><p><ul><li>"+name+"</li></ul></p></div>").appendTo(".con");
        $.get("/bankinvest/comparesession",{compareid:id,comparenum:comparenum});
        comparenum=comparenum+1;
        }
        else
        {
           $("#comparetitle"+id).remove();
            $.get("/bankinvest/comparesession",{compareid:id,comparenum:comparenum,type:'deleteid'});
            comparenum=comparenum-1;
            if(comparenum==0){
                $('#shape_control').hide();
            }
        }
        }

    function check_clear(){
        var txts=document.getElementsByName("chose");
        $(".comparetitle").remove();
        $("#bankfinance :checkbox").attr("checked", !1);
        $.get("/bankinvest/comparesession",{comparenum:"0",type:'clearid'});
        $('#shape_control').hide();
    }

    function $N(name){return document.getElementsByName(name);}
    function havecheck(name){ //v当前要设置的值true/false;name要设置的checkbox组的name,如果省略则默认为所有的checkbox
        o=name?$N(name):$N("input");
        //alert(o.length)
        for(i=0;i<o.length;i++)
            if(o[i].type=="checkbox"){
                flag=1;
                break;
            };
    }

   function checkchick(id){
       if($('#'+id).attr('checked')=='checked')
           doclick(id);
   }
   $.fn.dataTableExt.afnFiltering.push(
           function( oSettings, aData, iDataIndex ) {
                var flag1,flag2,flag3,flag4,flag5;
                var returnrates=document.getElementsByName("returnrate");
                var t_returnrate=parseFloat(aData[2].replace(/%/,""));
                var Sys = {};
                var ua = navigator.userAgent.toLowerCase();
                if (window.ActiveXObject)
                    Sys.ie = ua.match(/msie ([\d.]+)/)[1];
                var length_s;
                if(Sys.ie==null)
                    length_s=0;
                else
                    length_s=1;

                today=new Date();
                var year = today.getFullYear();
                var month = today.getMonth()+1;
                var date = today.getDate();
                d1Arr=aData[13].split('-');
            //    v1=new Date(d1Arr[0],d1Arr[1],d1Arr[2]);
            //    v2=new Date(year,month,date);
                var tom=document.getElementsByName("opt");
                if(tom[0].checked){
                    if(d1Arr[0]==year){
                        if(d1Arr[1]==month){
                            if(d1Arr[2]==date){
                                flag1=1;
                            }
                        }
                    }
                }
                else{
                    flag1=1;
                }

                var rtype=document.getElementsByName("optionsRadios");
                for(var i=length_s;i<rtype.length;i++){
                    if( rtype[i].checked){
                        if(rtype[i].value=="全部"){
                   flag2=1;
               }
                        else if(rtype[i].value==aData[4]){
                   flag2=1;
               }
                    }
                }
                var arr = new Array();
                var banks=document.getElementsByTagName("option");
                var bank=document.getElementById("bank");
                if(bank.value==""){
                   flag3=1;
               }
               else {
                    for(var i=0;i<banks.length;i++){
                        if( banks[i].selected&&banks[i].value==aData[1]){
                           flag3=1;
                       }
                   }
               }

               var periods=document.getElementsByName("period")
                for(var i=length_s;i<periods.length;i++){
                   if( periods[i].checked){
                       if(periods[i].value=="p_all"){
                           flag4=1;
                       }
                       else if(periods[i].value=="p_3"){
                            if(aData[6]<=90){
                               flag4=1;
                           }
                       }
                       else if(periods[i].value=="p_312"){
                            if(aData[6]>=90&&aData[6]<365){
                               flag4=1;
                           }
                       }
                       else if(periods[i].value=="p_1"){
                            if(aData[6]>365){
                               flag4=1;
                           }
                       }
                   }
               }

                var favourables=document.getElementsByName("favourable")
                if( favourables[0].checked){
                  //  alert(aData[10])
                    if(aData[1]=="北京银行"){
                        flag5=1;
                    }
                }
                else{
                    flag5=1;
                }

                if(flag1==1&&flag2==1&&flag3==1&&flag4==1&&flag5==1){
                  return true;
              }
           }

   );

   function doclick(name)
   {
       if(document.all)
       {
           document.getElementById(name).click();
       }
       else
       {
           var evt = document.createEvent("MouseEvents");
           evt.initEvent("click", true, true);
           document.getElementById(name).dispatchEvent(evt);
       }
   }

    function fnFilterGlobal ()
    {
        var x="";

        if($("#global_filter").val()=="南京"){
            x="("+$("#global_filter").val()+"|江苏|全国)";
        }
        else if($("#global_filter").val().indexOf("全")<=0&&$("#global_filter").val().indexOf("|")<=0&&$("#global_filter").val().indexOf("国")<=0&&$("#global_filter").val()!=""){
            x="("+$("#global_filter").val()+"|全国)";
        }

        $('#bankfinance').dataTable().fnFilter(
                x,
                null,
                1,
                1
        );
    }

    $(document).ready(function(){

       /* Initialise datatables */
       var oTable = $('#bankfinance').dataTable({
           "iDisplayLength": 50,
           "bJQueryUI": true,
           "sPaginationType": "full_numbers",
           "oLanguage": {
               "sSearch":"发行地区:",
               "sZeroRecords": "很抱歉，没有符合您要求的银行理财产品，请重新设定筛选条件"
           },
            "aaSorting": [[ 2, "desc" ]]
    });
        new FixedHeader(oTable);
    //    AddElement('text');
        $("#returnrate").click( function() { oTable.fnDraw(); } );
        $("#global_filter").val(remote_ip_info["city"])
        $("#global_filter").keyup( fnFilterGlobal );
        fnFilterGlobal();
    });

   function area(){
       var length=$("#bankfinance").find("tr").size();
        var numfor=/^[-+]?[0-9]+(\.[0-9]+)?$/;
       for(i=0;i<length;i++){
        //    if($("#bankfinance_filter input").val()!=$("#bankfinance tr:eq("+i+") td:eq(11) p").html()){
        //        $("#bankfinance tr:eq("+i+") td:eq(8) p").html($("#bankfinance_filter input").val()+"&nbsp;"+$("#bankfinance tr:eq("+i+") td:eq(11) p").html())
        //    }
            if($("#investamount").val()!=""&&numfor.test($("#investamount").val())==true){
                $("#bankfinance tr:eq("+i+") td:eq(3)").html(parseInt($("#investamount").val()*parseFloat($("#bankfinance tr:eq("+i+") td:eq(2)").html())*parseFloat($("#bankfinance tr:eq("+i+") td:eq(6)").html())/36500))
            }
            else{
                $("#bankfinance tr:eq("+i+") td:eq(3)").html(parseInt(50000*parseFloat($("#bankfinance tr:eq("+i+") td:eq(2)").html())*parseFloat($("#bankfinance tr:eq("+i+") td:eq(6)").html())/36500))
            }
       }
   };
   window.onload=function(){
       area();
   }
    $(function(){
        $('.demo-tip-yellowsimple').poshytip({
            className: 'tip-yellowsimple',
            showTimeout: 1,
            alignTo: 'target',
            alignX: 'center',
            offsetY: 5,
            allowTipHover: false
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
  /*
    function AddElement(mytype){
        var mytype,TemO=document.getElementById("bankfinance_length");
        var p= document.createElement("div");
        p.id="input1";
        p.className="input-prepend input-append";
        TemO.appendChild(p);
        var mytype,TemO=document.getElementById("input1");
        var p= document.createElement("span");
        p.className="add-on aa";
        TemO.appendChild(p);
        $(".aa").html("￥");
        var newInput = document.createElement("input");
        newInput.type=mytype;
        newInput.name="input1";
        newInput.id="investamount";
        newInput.placeholder="请输入投资金额：";
        TemO.appendChild(newInput);
        var p= document.createElement("span");
        p.className="add-on ab";
        TemO.appendChild(p);
        $(".ab").html("元");
        var newline= document.createElement("br");
        TemO.appendChild(newline);
        var mytype,TemO=document.getElementById("bankfinance_filter");
        var newInput = document.createElement("input");
        var p= document.createElement("b");
        p.className="ar";
        TemO.appendChild(p);
        $(".ar").html("发行地区：");
        newInput.type="text";
        newInput.name="global_filter";
        newInput.id="global_filter";
        TemO.appendChild(newInput);
    }
    */
</script>
<!--
<script language='javascript' async='true' type='text/javascript' src='http://cdn.walkme.com/users/8868/walkme_8868.js'></script>
-->