<%= stylesheet_link_tag "bankinvest.css" %>

<style>
  .details td.right{
      font-family: "Open Sans",Helvetica,Arial,sans-serif;
      margin: 0;
      font-style: italic;
      font-size: 14px;
      line-height: 24px;
      color: rgb(68, 68, 68);
  }
  .details td.left{
      width:15%;
      vertical-align: middle;
      background-color: #fbfbfb;
      font-weight: normal;
      font-size: 17px;
      line-height: 17px;
      text-align: left;
      padding-left: 10px;
      font-family: "helvetica neue",helvetica,arial,sans-serif;
      font-weight: 600;
      color: rgb(51, 51, 51);
  }

  .box_left_title1 {
      font-size: 20px;
      padding-bottom: 10px;
  }

    .cell{
        display: table-cell;
    }
</style>

<div class="main-content details">
  <div class="cell" style="width: 60%;min-width: 692px;">
  <a href="/">首页</a>&nbsp;>&nbsp;<a href="/bankinvest/products">理财产品</a>
  <br><br>
  <div class="box_left_title1">
    <span style="line-height: 35px;">产品名称：<%= @financial.pname %></span><br>
    <span style="font-size: 12px;">我们为您提供最及时的理财产品信息，供你做选择。</span>
  </div>
  <div class="box_left_title2">
    <div class="box_left_title2_left" style="width: 100%;">
      <ul>
        <li>
          <span class="qq_bankbig red"><% if @financial.rate !=nil %><% if /^[-+]?[0-9]+(\.[0-9]+)?$/ =~@financial.rate %><%= format("%0.2f",@financial.rate.to_f*100) %>%<% else %><%= @financial.rate %><% end %><% end %></span>
          <span class="qq_banksmall">收益率</span>
        </li>
        <li>
          <span class="qq_bankbig red">
            <% if @financial.risklevel==1 %>无风险
            <% elsif  @financial.risklevel==2 %>低风险
            <% elsif  @financial.risklevel==3 %>中级风险
            <% elsif  @financial.risklevel==4 %>高风险
            <% elsif  @financial.risklevel==5 %>极高风险
            <% end %>
          </span>
          <span class="qq_banksmall">风险级别</span>
        </li>
        <li>
          <span class="qq_bankbig red"><%= @financial.category %></span>
          <span class="qq_banksmall">产品大类</span>
        </li>
        <li>
          <span class="qq_bankbig red"><%= @financial.classify %></span>
          <span class="qq_banksmall">产品小类</span>
        </li>
      </ul>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <tr>
      <td class="left">管理机构</td>
      <td class="right"><%= @financial.trusts %></td>
    </tr>
    <tr>
      <td class="left">最低投资金额</td>
      <td class="right"><% if @financial.startvalue!=nil %><%= @financial.startvalue %>元<% end %></td>
    </tr>
    <tr>
      <td class="left">手续费</td>
      <td class="right"><% if @financial.poundage !=nil %><%=  format("%0.1f",@financial.poundage) %>%<% end %></td>
    </tr>
    <tr>
      <td class="left">投资期限</td>
      <td class="right"><% if @financial.investperiod!=nil %><% if /^[-+]?[0-9]+(\.[0-9]+)?$/ =~@financial.investperiod %><%= @financial.investperiod %>天<% else %><%= @financial.investperiod %><% end %><% end %></td>
    </tr>
    <tr>
      <td class="left">风险提示</td>
      <td class="right"><%= @financial.risktip %></td>
    </tr>
    <tr>
      <td class="left">产品简介</td>
      <td class="right"><%= @financial.pintroduction %></td>
    </tr>
    <tr>
      <td class="left">官网介绍</td>
      <td class="right"><% if @financial.link!=nil %><a href="<%= @financial.link %>">点击查看</a><% end %></td>
    </tr>
  </table>
    </div>
  <div class="cell">
    <div style="height: 100px;">&nbsp;</div>
    <div class="gray_ad" id="buyinfo">
      <div id="buyinfo-printed">
        <h2 class="">
          在哪儿买这个理财产品?
        </h2>
        <% @productcompany.each do |b| %>
          <a target="_blank" href="/bankinvest/salescompany/<%= @hash[b.fundname][0] %>" class=""><%= b.fundname %> ( 手续费 <%= b.poundage %>% )</a><br>
        <% end %>
        <a href="/bankinvest/buylinks/<%= params[:id] %>">查看<%= @productcompany.length %>家购买详情 ( 手续费 0.5% 起 )</a>
      </div>
    </div>
  </div>
</div>