<%= stylesheet_link_tag "bankinvest.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "jquery.dataTables.columnFilter.js" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<%= javascript_include_tag "dataTables.bootstrap.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "productchoose.js" %>
<style>
    #liudong th,#liudong td,#select th,#select td,#banks th,#banks td{
        text-align: center;
        font-family: Hiragino Sans GB W3;
        vertical-align: middle;
    }
    tr.even td.sorting_1 {
        background-color: #ffffff;
    }

    tr.odd{background-color: #f9f9f9;}

    .dataTables_paginate {
        font: 80% Hiragino Sans GB W3;
    }

    .paginate_disabled_previous, .paginate_disabled_next {
        color: #666 !important;
    }
    .paginate_disabled_next, .paginate_enabled_next {
        padding-right: 23px;
        margin-left: 10px;
    }
</style>

<div class="main-content organ">
  <a href="/">首页</a>
  <div class="tabbable">

    <h1 class="deploy" style="padding-bottom: 0;">
      <ul class="nav nav-pills" style="margin-bottom: 0;">
        <li class="active"><a href="#tab1" data-toggle="tab"><h4>流动性产品</h4></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4>风险性产品 <b class="caret"></b></h4></a>
          <ul class="dropdown-menu">
            <li><a href="#tab2" data-toggle="tab" id="301" class="profit"><h5>债券基金</h5></a></li>
            <li><a href="#tab2" data-toggle="tab" id="302" class="profit"><h5>指数型基金</h5></a></li>
            <li><a href="#tab2" data-toggle="tab" id="303" class="profit"><h5>混合型基金</h5></a></li>
            <li><a href="#tab2" data-toggle="tab" id="304" class="profit"><h5>股票型基金</h5></a></li>
            <li><a href="#tab2" data-toggle="tab" id="305" class="profit"><h5>QDII基金</h5></a></li>
            <li><a href="#tab3" data-toggle="tab" id="203" class="banks"><h5>银行理财产品</h5></a></li>
          </ul>
        </li>
      </ul>
      <span style="font-size: 14px;">我们为您提供最及时的理财产品信息，供你做选择。</span>
    </h1>
    <div class="tab-content" style="overflow: visible;">
      <div class="tab-pane active" id="tab1">
        <%= render "product" %>
        <table id="liudong" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>产品名</th>
            <th>万份收益(元)<br><a class="introduce" href="#myModal" role="button" data-toggle="modal">(?)</a></th>
            <th><span style="white-space: nowrap;">7日年化收益率</span><br><a class="introduce" href="#myModal2" role="button" data-toggle="modal">(?)</a></th>
            <th>起购金额</th>
            <th class="hide">基金规模<br>(亿元)</th>
            <th>成立时间</th>
            <th class="hide">时间差</th>
            <th>近一年(%)</th>
            <th class="hide">近1年排名</th>
            <th>近1年排名</th>
            <th>近三年(%)</th>
            <th class="hide">近3年排名</th>
            <th>近3年排名</th>
            <th>更多</th>
          </tr>
          </thead>
          <% @monetaryfundquote.each do |f| %>
              <tr id="nan<%= f.id %>" class="finan<%= f.id %>">
                <td><a href="/bankinvest/huobi/<%= f.id %>" target="_blank"><%= f.productname %></a></td>
                <td><% if f.million_income!=0 %><%= f.million_income %><% else %>--<% end %></td>
                <td><% if f.sevenD_years_return!=0 %><%= f.sevenD_years_return %>%<% else %>--<% end %></td>
                <td><% if @hash[f.product_code][0]!=nil %><%= @hash[f.product_code][0] %><% else %>0<% end %></td>
                <td class="hide"><% if @hash[f.product_code][1]!=nil %><%= @hash[f.product_code][1] %><% else %>0<% end %></td>
                <td><% if @hash[f.product_code][2]!=nil %><%= @hash[f.product_code][2] %><% else %>--<% end %></td>
                <td class="hide"><% if @hash[f.product_code][3]!=nil %><%= @hash[f.product_code][3].to_s.split("/")[0] %><% end %></td>
                <td class="red"><% if f.one_year_return!=0 %><%= f.one_year_return %>%<% else %>--<% end %></td>
                <td class="red"><% if f.one_year_rank!=nil %><%= f.one_year_rank %><% else %>--<% end %></td>
                <td class="hide"><% if f.one_year_rank!=nil %><%= f.one_year_rank.split("/")[0] %><% else %>1000<% end %></td>
                <td class="red"><% if f.three_year_return!=0 %><%= f.three_year_return %>%<% else %>--<% end %></td>
                <td class="red"><% if f.three_year_rank!=nil %><%= f.three_year_rank %><% else %>--<% end %></td>
                <td class="hide"><% if f.three_year_rank!=nil %><%= f.three_year_rank.split("/")[0] %><% else %>1000<% end %></td>
                <td><a href="/bankinvest/huobi/<%= f.id %>" target="_blank">详情</a> <a href="<%= @hash[f.product_code][4] %>" target="_blank">购买</a></td>
              </tr>
          <% end %>
        </table>
        <blockquote style="margin-top: 30px;"><small>-- 表示该产品成立时间较短，没有相应的数据 或 没有同类产品。</small></blockquote>
      </div>
      <div class="tab-pane" id="tab2">
        <%= render "highprofit" %>
        <table class="table table-striped table-bordered" id="select"  cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th rowspan="2" class="hide">L2_typeid</th>
            <th rowspan="2" class="hide">起购金额</th>
            <th rowspan="2" class="hide">时间差</th>
            <th rowspan="2" class="hide">规模</th>
            <th rowspan="2">理财产品</th>
            <th rowspan="2">产品代码</th>
            <th rowspan="2">投资品种</th>
            <th rowspan="2">单位净值</th>
            <th rowspan="2">日增长率</th>
            <th colspan="2">近1年</th>
            <th colspan="2">近3年</th>
            <th colspan="2" class="hide"></th>
            <th rowspan="2">晨星评级</th>
            <th rowspan="2">更多</th>
          </tr>
          <tr>
            <th>收益率</th>
            <th class="hide">排名</th>
            <th>排名</th>
            <th>收益率</th>
            <th class="hide">排名</th>
            <th>排名</th>
          </tr>
          </thead>

          <% @generalfundquote.each do |f| %>
              <tr>
                <th class="hide"><%= f.L2_typeid %></th>
                <td class="hide"><%= @hash3[f.product_code][0] %></td>
                <td class="hide"><% if @hash3[f.product_code][1]!=nil %><%= @hash3[f.product_code][1].to_s.split("/")[0] %><% end %></td>
                <td class="hide"><%= @hash3[f.product_code][2] %></td>
                <td class="first"><a href="/bankinvest/highprofit/<%= f.id %>" target="_blank"><%= f.product_name %></a></td>
                <td><% if f.product_code !=nil %><%= f.product_code %><% else %>--<% end %></td>
                <td><%= @hash2[f.L2_typeid][0] %></a></td>
                <td><%= f.today_value %></td>
                <td><%= f.today_rate %>%</td>
                <td><% if f.one_year_return!=nil && f.one_year_return!=0 %><%= f.one_year_return %>%<% else %>--<% end %></td>
                <td><% if f.one_year_rank!=nil %><%= f.one_year_rank %><% else %>--<% end %></td>
                <td class="hide"><% if f.one_year_rank!=nil %><%= f.one_year_rank.split("/")[0] %><% else %>10000<% end %></td>
                <td><% if f.three_year_return!=nil && f.three_year_return!=0 %><%= f.three_year_return %>%<% else %>--<% end %></td>
                <td><% if f.three_year_rank!=nil %><%= f.three_year_rank %><% else %>--<% end %></td>
                <td class="hide"><% if f.three_year_rank!=nil %><%= f.three_year_rank.split("/")[0] %><% else %>10000<% end %></td>
                <td class="red">
                  <% if f.morning_stars==5 %>★★★★★
                  <% elsif f.morning_stars==4 %>★★★★
                  <% elsif f.morning_stars==3 %>★★★
                  <% elsif f.morning_stars==2 %>★★
                  <% elsif f.morning_stars==1 %>★
                  <% else %>--
                  <% end %>
                </td>
                <td><a href="/bankinvest/highprofit/<%= f.id %>" target="_blank">详情</a> <a href="<%= @hash3[f.product_code][3] %>" target="_blank">购买</a></td>
              </tr>
          <% end %>
        </table>
        <blockquote style="margin-top: 0px;"><small>-- 表示该产品成立时间较短，没有相应的数据 或 没有同类产品。</small></blockquote>
      </div>
      <div class="tab-pane" id="tab3">
        <%= render "bankproduct" %>
        <table id="banks" class="table table-striped table-bordered">
          <thead><tr>
            <th>产品名称</th>
            <th>发行机构</th>
            <th>年化收益率</th>
            <th class="hide"></th>
            <th>类型</th>
            <th>起售价</th>
            <th class="hide"></th>
            <th>投资期限</th>
            <th class="hide"></th>
            <th>可售</th>
            <th class="hide">发行地区</th>
          </tr></thead>

          <% @banks.each do |b| %>
              <tr>
                <td style="width:20%;"><%= b.productname%></td>
                <td><%= b.yinhang%></td>
                <% if b.returnrate!=nil %>
                    <td class="hide"><%= format("%0.1f",b.returnrate*100)%></td>
                    <td><%= format("%0.1f",b.returnrate*100)%>%</td>
                <% else %>
                    <td class="hide"></td><td></td>
                <% end %>
                <td><%= b.isbaoben%></td>
                <% if b.min_purchase_account!=nil%>
                    <% if b.min_purchase_account!=0 %>
                        <% if b.min_purchase_account<10000 %>
                            <td class="hide"><%= format("%0.4f",b.min_purchase_account/10000)%></td>
                            <td><%= b.min_purchase_account/10000%>万</td>
                        <% else %>
                            <td class="hide"><%= format("%0.0f",b.min_purchase_account/10000)%></td>
                            <td><%= format("%0.0f",b.min_purchase_account/10000)%>万</td>
                        <% end %>
                    <% else %>
                        <td class="hide">0</td>
                        <td>0</td>
                    <% end %>
                <% else %>
                    <td class="hide"></td>
                    <td>--</td>
                <% end %>
                <% if b.guanliqi!=nil %>
                    <td class="hide"><%= format("%0.0f",b.guanliqi)%></td>
                    <td><%= format("%0.0f",b.guanliqi)%>天</td>
                <% else %>
                    <td class="hide"></td>
                    <td></td>
                <% end %>
                <td><%= b.iszaishou%></td>
                <td class="hide"><%= b.diqu%></td>
              </tr>
          <% end %>
        </table>
        <blockquote style="margin-top: 0px;"><small>-- 表示该产品成立时间较短，没有相应的数据 或 没有同类产品。</small></blockquote>
      </div>
    </div>
  </div>
</div>

<script>
    var typeid='';
    $(document).ready(function(){
        var oTable = $('#liudong').dataTable({
            "iDisplayLength": 50,
            "aaSorting": [[ 9, "asc" ]]
        });

        $("[id*='amounts']").click(function(){
            if(this.id=='amounts0'){
                $("#amount_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='expectYIDs']").click(function(){
            if(this.id=='expectYIDs0'){
                $("#expectYID_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='durations']").click(function(){
            if(this.id=='durations0'){
                $("#duration_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='scates']").click(function(){
            if(this.id=='scates0'){
                $("#scate_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });

        $(".delete").click(function(){
            $('#s-'+$(this).attr("cid")).addClass('hide');
            if($(this).attr("cid")=='amount'){
                $("#amount_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='expectYID'){
                $("#expectYID_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='duration'){
                $("#duration_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='scate'){
                $("#scate_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });

        var oTable2 =  $('#select').dataTable({
            "iDisplayLength": 50,
            "aaSorting": [[ 11, "asc" ]]
        });
        $(".profit").click(function(){
            typeid=this.id;
            oTable2.fnDraw();
        });
        $("[id*='categorys']").click(function(){
            if(this.id=='categorys0'){
                $("#category_all :checkbox").attr("checked", !1);
            }
            oTable2.fnDraw();
        });

        $("[id*='ranks']").click(function(){
            if(this.id=='ranks0'){
                $("#rank_all :checkbox").attr("checked", !1);
            }
            oTable2.fnDraw();
        });


        $("[id*='terms']").click(function(){
            if(this.id=='terms0'){
                $("#term_all :checkbox").attr("checked", !1);
            }
            oTable2.fnDraw();
        });

        $("[id*='scales']").click(function(){
            if(this.id=='scales0'){
                $("#scale_all :checkbox").attr("checked", !1);
            }
            oTable2.fnDraw();
        });

        $("[id*='levels']").click(function(){
            if(this.id=='levels0'){
                $("#level_all :checkbox").attr("checked", !1);
            }
            oTable2.fnDraw();
        });

        $(".deletes").click(function(){
            $('#s-'+$(this).attr("cid")).addClass('hide');
            if($(this).attr("cid")=='category'){
                $("#category_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='rank'){
                $("#rank_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='term'){
                $("#term_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='scale'){
                $("#scale_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='level'){
                $("#level_all :checkbox").attr("checked", !1);
            }
            oTable2.fnDraw();
        });
        var oTable3 =  $('#banks').dataTable({
            "iDisplayLength": 10,
            "aaSorting": [[ 2, "desc" ]]
        });
        $("[id*='rates']").click(function(){
            if(this.id=='rates0'){
                $("#rate_all :checkbox").attr("checked", !1);
            }
            oTable3.fnDraw();
        });

        $("[id*='dates']").click(function(){
            if(this.id=='dates0'){
                $("#date_all :checkbox").attr("checked", !1);
            }
            oTable3.fnDraw();
        });

        $("[id*='outsets']").click(function(){
            if(this.id=='outsets0'){
                $("#outset_all :checkbox").attr("checked", !1);
            }
            oTable3.fnDraw();
        });
        $(".delete2").click(function(){
            $('#s-'+$(this).attr("cid")).addClass('hide');
            if($(this).attr("cid")=='rate'){
                $("#rate_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='date'){
                $("#date_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='outset'){
                $("#outset_all :checkbox").attr("checked", !1);
            }
            oTable3.fnDraw();
        });
    });
</script>