<%= stylesheet_link_tag "bankinvest.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "jquery.dataTables.columnFilter.js" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<%= javascript_include_tag "dataTables.bootstrap.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<style>
    #products th,#products td,#fengxian th,#fengxian td{
        text-align: center;
        font-family: Hiragino Sans GB W3;
    }
    tr.even td.sorting_1 {
        background-color: #ffffff;
    }

    tr.odd{background-color: #f9f9f9;}

    .dataTables_paginate {
        font: 80% Hiragino Sans GB W3;
    }

    .paginate_disabled_previous, .paginate_disabled_next {
        color: #666 !important;
    }
    .paginate_disabled_next, .paginate_enabled_next {
        padding-right: 23px;
        margin-left: 10px;
    }
</style>

<div class="main-content organ">
  <a href="/">首页</a>
  <div class="tabbable">

    <h1 class="deploy" style="padding-bottom: 0;">
      <ul class="nav nav-pills" style="margin-bottom: 0;">
        <li class="active"><a href="#tab1" data-toggle="tab"><h4>流动性产品</h4></a></li>
        <li><a href="#tab2" data-toggle="tab"><h4>风险性产品</h4></a></li>
      </ul>
      <span style="font-size: 14px;">我们为您提供最及时的理财产品信息，供你做选择。</span>
    </h1>
    <div class="tab-content" style="overflow: visible;">
      <div class="tab-pane active" id="tab1">

        <div id="soptionsRadios">
          <div class="box_sxtj">
            <div class="box_sxtj_top">理财产品－查询</div>
            <div class="box_sxtj_center">
              <dl class="fore" id="amount_all">
                <dt>起购金额:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="amounts0" class="curr  btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox1" id="amounts1"><a class="color11"> 0-10元 </a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox1" id="amounts2"><a class="color12"> 11-500元 </a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox1" id="amounts3"><a class="color13"> 501-1000元 </a>
                  </label>
                </dd>
              </dl>
              <dl class="fore" id="expectYID_all">
                <dt>历史业绩:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="expectYIDs0" class="curr btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox2" id="expectYIDs1"><a class="color21">近一年20名</a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox2" id="expectYIDs2"><a class="color22">近二年20名</a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox2" id="expectYIDs3"><a class="color23">近三年20名</a>
                  </label>
                </dd>
              </dl>
              <dl class="fore" id="scate_all">
                <dt>成立时间<a class="introduce" href="#myModal4" role="button" data-toggle="modal">(?)</a>:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="scates0" class="curr btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox4" id="scates1"><a class="color41"> 不足一年 </a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox4" id="scates2"><a class="color42"> 1年-3年 </a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox4" id="scates3"><a class="color43"> 3年以上 </a>
                  </label>
                </dd>
              </dl>
              <dl class="fore" id="duration_all">
                <dt>基金规模<a class="introduce" href="#myModal5" role="button" data-toggle="modal">(?)</a>:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="durations0" class="curr btn-link currbg"> 不限</a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox3" id="durations1"><a class="color31"> 小于20亿 </a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox3" id="durations2"><a class="color32"> 20亿-100亿</a>
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" class="curr btn-link" name="checkbox3" id="durations3"><a class="color33"> 大于100亿</a>
                  </label>
                </dd>
              </dl>
            </div>

            <div class="box_sxtj_bottom">
              <dl class="fore">
                <dt>已选择的筛选条件:&nbsp;</dt>
                <dd id="sselected">
                  <div id="s-amount" class="del hide">
                    <h6 class="text" id="st-amount" condition="">起购金额:不限</h6>
                    <a class="delete" cid="amount"></a>
                  </div>

                  <div id="s-expectYID" class="del hide">
                    <h6 class="text" id="st-expectYID" condition="">历史业绩:不限</h6>
                    <a class="delete" cid="expectYID"></a>
                  </div>

                  <div id="s-scate" class="del hide">
                    <h6 class="text" id="st-scate" condition="">成立时间：不限</h6>
                    <a class="delete" cid="scate"></a>
                  </div>

                  <div id="s-duration" class="del hide">
                    <h6 class="text" id="st-duration" condition="">基金规模：不限</h6>
                    <a class="delete" cid="duration"></a>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <table id="products" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>产品名称</th>
            <th>万份收益<br><a class="introduce" href="#myModal" role="button" data-toggle="modal">(?)</a>(元)</th>
            <th>7日年化收益<br><a class="introduce" href="#myModal2" role="button" data-toggle="modal">(?)</a></th>
            <th>起购金额</th>
            <th>基金规模<br>(亿元)</th>
            <th>成立时间</th>
            <th class="hide">时间差</th>
            <th>一年收益率</th>
            <th class="hide">一年排名</th>
            <th>一年排名</th>
            <th class="hide">二年排名</th>
            <th class="hide">三年排名</th>
          </tr>
          </thead>
          <% @monetary.each do |f| %>
              <tr id="nan<%= f.id %>" class="finan<%= f.id %>">
                <td><%= f.productname %></td>
                <td><% if f.million_income!=0 %><%= f.million_income %><% else %>--<% end %></td>
                <td><% if f.sevenD_years_return!=0 %><%= f.sevenD_years_return %>%<% else %>--<% end %></td>
                <td><% if @hash[f.product_code][0]!=nil %><%= @hash[f.product_code][0] %><% else %>0<% end %></td>
                <td><% if @hash[f.product_code][1]!=nil %><%= @hash[f.product_code][1] %><% else %>0<% end %></td>
                <td><% if @hash[f.product_code][2]!=nil %><%= @hash[f.product_code][2] %><% else %>--<% end %></td>
                <td class="hide"><% if @hash[f.product_code][3]!=nil %><%= @hash[f.product_code][3].to_s.split("/")[0] %><% end %></td>
                <td class="red"><% if f.one_year_return!=0 %><%= f.one_year_return %>%<% else %>--<% end %></td>
                <td class="red"><% if f.one_year_rank!=nil %><%= f.one_year_rank %><% else %>--<% end %></td>
                <td class="hide"><% if f.one_year_rank!=nil %><%= f.one_year_rank.split("/")[0] %><% else %>1000<% end %></td>
                <td class="hide"><% if f.two_year_rank!=nil %><%= f.two_year_rank.split("/")[0] %><% else %>--<% end %></td>
                <td class="hide"><% if f.three_year_rank!=nil %><%= f.three_year_rank.split("/")[0] %><% else %>--<% end %></td>
              </tr>
          <% end %>
        </table>
        <blockquote style="margin-top: 30px;"><small>-- 表示该产品成立时间较短，没有相应的数据 或 没有同类产品。</small></blockquote>
      </div>
      <div class="tab-pane" id="tab2">
       <!-- <div id="optionsRadios">
          <div class="box_sxtj">
            <div class="box_sxtj_top">理财产品－查询</div>
            <div class="box_sxtj_center">
              <dl class="fore">
                <dt id="category-expectYID">年收益率:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="expectYID" class="curr expectYID btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID1" class="curr expectYID1 btn-link"> 0-6% </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID2" class="curr expectYID2 btn-link"> 6%-10% </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID3" class="curr expectYID3 btn-link"> 10%-20% </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID4" class="curr expectYID4 btn-link"> 20%以上 </a>
                  </label>
                </dd>
              </dl>
              <dl class="fore" id="duration">
                <dt id="category-duration">风险级别:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="durations" class="curr duration btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration1" class="curr duration2 btn-link"> 低风险</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration2" class="curr duration3 btn-link"> 中级风险</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration3" class="curr duration4 btn-link"> 高风险</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration4" class="curr duration5 btn-link"> 极高风险</a>
                  </label>
                </dd>
              </dl>
            </div>
            <div class="box_sxtj_bottom">
              <dl class="fore">
                <dt>已选择的筛选条件:&nbsp;</dt>
                <dd id="selected">

                  <div id="s-category" class="del hide">
                    <h6 class="text" id="st-category" condition="">产品类型:不限</h6>
                    <a class="delete" cid="category"></a>
                  </div>

                  <div id="s-expectYID" class="del hide">
                    <h6 class="text" id="st-expectYID" condition="">年收益率:不限</h6>
                    <a class="delete" cid="expectYID"></a>
                  </div>

                  <div id="s-duration" class="del hide">
                    <h6 class="text" id="st-duration" condition="">风险级别：不限</h6>
                    <a class="delete" cid="duration"></a>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
          -->
        <table class="table table-striped table-bordered" id="fengxian"  cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th rowspan="2">理财产品</th>
            <th rowspan="2">产品代码</th>
            <th rowspan="2">投资品种</th>
            <th rowspan="2">单位净值</th>
            <th rowspan="2">日增长率</th>
            <th colspan="2">近1年</th>
            <th colspan="2">近3年</th>
            <th rowspan="2">晨星评级</th>
          </tr>
          <tr>
            <th>收益率</th>
            <th>排名</th>
            <th>收益率</th>
            <th>排名</th>
          </tr>
          </thead>
          <tfoot class="hide">
          <tr>
            <th rowspan="2">理财产品</th>
            <th rowspan="2">产品代码</th>
            <th rowspan="2">投资品种</th>
            <th rowspan="2">单位净值</th>
            <th rowspan="2">日增长率</th>
            <th>收益率</th>
            <th>排名</th>
            <th>收益率</th>
            <th>排名</th>
            <th rowspan="2">晨星评级</th>
          </tr>
          <tr>
            <th colspan="2">近1年</th>
            <th colspan="2">近3年</th>
          </tr>
          </tfoot>
          <% @general.each do |f| %>
              <tr>
                <td class="first"><%= f.product_name %></td>
                <td><% if f.product_code !=nil %><%= f.product_code %><% else %>--<% end %></td>
                <td><%= @hash2[f.L2_typeid][0] %></a></td>
                <td><%= f.today_value %></td>
                <td><%= f.today_rate %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          <% end %>
        </table>
        <blockquote style="margin-top: 30px;"><small>-- 表示该产品成立时间较短，没有相应的数据 或 没有同类产品。</small></blockquote>
      </div>
    </div>
  </div>
</div>

<script>
    $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                var num1=0,num2=1,num3=0,num4=0;
                var obj = document.getElementsByName("checkbox1"); // 获取多选框数组
                var objLen = obj.length;
                var objYN = false; // 是否有选择
                for (var i = 0; i < objLen; i++) {
                    if (obj [i].checked == true) {
                        objYN = true;
                        break;
                    }
                }
                if(!objYN){
                    $("#amounts0").addClass('currbg');
                    $("#s-amount").addClass('hide');
                    $("[class*='color1']").removeClass('currbg');
                    num1=1;
                }
                else{
                    $("#amounts0").removeClass('currbg');
                    $("#s-amount").removeClass('hide');
                    var text='';
                    if(obj[0].checked == true){
                        $(".color11").addClass('currbg');
                        text='0-10元';
                        if(aData[3]>=0 && aData[3]<=10){
                            num1=1;
                        }
                    }
                    else{
                        $(".color11").removeClass('currbg');
                    }
                    if(obj[1].checked == true){
                        $(".color12").addClass('currbg');
                        if(text!=""){text=text+",11-500元"}else{text="11-500元"}
                        if(aData[3]>=11 && aData[3]<=500){
                            num1=1;
                        }
                    }
                    else{
                        $(".color12").removeClass('currbg');
                    }
                    if(obj[2].checked == true){
                        $(".color13").addClass('currbg');
                        if(text!=""){text=text+",501-1000元"}else{text="501-1000元"}
                        if(aData[3]>=501 && aData[3]<=2000){
                            num1=1;
                        }
                    }
                    else{
                        $(".color13").removeClass('currbg');
                    }
                    $("#st-amount").html('起购金额:'+text);
                }

                var obj = document.getElementsByName("checkbox2"); // 获取多选框数组
                var objLen = obj.length;
                var objYN = false; // 是否有选择
                for (var i = 0; i < objLen; i++) {
                    if (obj [i].checked == true) {
                        objYN = true;
                        break;
                    }
                }
                if(!objYN){
                    $("#expectYIDs0").addClass('currbg');
                    $("#s-expectYID").addClass('hide');
                    $("[class*='color2']").removeClass('currbg');
                }
                else{
                    $("#expectYIDs0").removeClass('currbg');
                    $("#s-expectYID").removeClass('hide');
                    var text='';
                    if(obj[0].checked == true){text='一';}
                    if(obj[1].checked == true){if(text!=""){text=text+",二"}else{text="二"}}
                    if(obj[2].checked == true){if(text!=""){text=text+",三"}else{text="三"}}
                    $("#st-expectYID").html('同类排名:近'+text+'年来20名');
                    if(obj[0].checked == true){
                        $(".color21").addClass('currbg');
                        if(!(aData[9]>=1 && aData[9]<=20)){
                            num2=0;
                        }
                    }
                    else{
                        $(".color21").removeClass('currbg');
                    }
                    if(obj[1].checked == true){
                        $(".color22").addClass('currbg');
                        if(!(aData[10]>=1 && aData[10]<=20)){
                            num2=0;
                        }
                    }
                    else{
                        $(".color22").removeClass('currbg');
                    }
                    if(obj[2].checked == true){
                        $(".color23").addClass('currbg');
                        if(!(aData[11]>=1 && aData[11]<=20)){
                            num2=0;
                        }
                    }
                    else{
                        $(".color23").removeClass('currbg');
                    }
                }

                var obj = document.getElementsByName("checkbox3"); // 获取多选框数组
                var objLen = obj.length;
                var objYN = false; // 是否有选择
                for (var i = 0; i < objLen; i++) {
                    if (obj [i].checked == true) {
                        objYN = true;
                        break;
                    }
                }
                if(!objYN){
                    $("#durations0").addClass('currbg');
                    $("#s-duration").addClass('hide');
                    $("[class*='color3']").removeClass('currbg');
                    num3=1;
                }
                else{
                    $("#durations0").removeClass('currbg');
                    $("#s-duration").removeClass('hide');
                    var text='';
                    if(obj[0].checked == true){
                        $(".color31").addClass('currbg');
                        text='小于20亿';
                        if(aData[4]>=0 && aData[4]<=20){
                            num3=1;
                        }
                    }
                    else{
                        $(".color31").removeClass('currbg');
                    }
                    if(obj[1].checked == true){
                        $(".color32").addClass('currbg');
                        if(text!=""){text=text+",20亿-100亿"}else{text="20亿-100亿"}
                        if(aData[4]>20 && aData[4]<=100){
                            num3=1;
                        }
                    }
                    else{
                        $(".color32").removeClass('currbg');
                    }
                    if(obj[2].checked == true){
                        $(".color33").addClass('currbg');
                        if(text!=""){text=text+",大于100亿"}else{text="大于100亿"}
                        if(aData[4]>100){
                            num3=1;
                        }
                    }
                    else{
                        $(".color33").removeClass('currbg');
                    }
                    $("#st-duration").html('资金规模:'+text);
                }

                var obj = document.getElementsByName("checkbox4"); // 获取多选框数组
                var objLen = obj.length;
                var objYN = false; // 是否有选择
                for (var i = 0; i < objLen; i++) {
                    if (obj [i].checked == true) {
                        objYN = true;
                        break;
                    }
                }
                if(!objYN){
                    $("#scates0").addClass('currbg');
                    $("#s-scate").addClass('hide');
                    $("[class*='color4']").removeClass('currbg');
                    num4=1;
                }
                else{
                    $("#scates0").removeClass('currbg');
                    $("#s-scate").removeClass('hide');
                    var text='';
                    if(obj[0].checked == true){
                        $(".color41").addClass('currbg');
                        text='不足一年';
                        if(aData[6]>0 && aData[6]<365){
                            num4=1;
                        }
                    }
                    else{
                        $(".color41").removeClass('currbg');
                    }
                    if(obj[1].checked == true){
                        $(".color42").addClass('currbg');
                        if(text!=""){text=text+",1年-3年"}else{text="1年-3年"}
                        if(aData[6]>=365 && aData[6]<=1095){
                            num4=1;
                        }
                    }
                    else{
                        $(".color42").removeClass('currbg');
                    }
                    if(obj[2].checked == true){
                        $(".color43").addClass('currbg');
                        if(text!=""){text=text+",3年以上"}else{text="3年以上"}
                        if(aData[6]>1095){
                            num4=1;
                        }
                    }
                    else{
                        $(".color43").removeClass('currbg');
                    }
                    $("#st-scate").html('成立时间:'+text);
                }

                if(num1==1 && num2==1 && num3==1 && num4==1){
                    return true;
                }
                else{
                    return false;
                }
            }
    );
</script>
<script>
    $(document).ready(function(){
        var oTable = $('#products').dataTable({
            "iDisplayLength": 50,
            "aaSorting": [[ 2, "asc" ]]
        });

        $("[id*='amounts']").click(function(){
            if(this.id=='amounts0'){
                $("#amount_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='expectYIDs']").click(function(){
            if(this.id=='expectYIDs0'){
                $("#expectYID_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='durations']").click(function(){
            if(this.id=='durations0'){
                $("#duration_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='scates']").click(function(){
            if(this.id=='scates0'){
                $("#scate_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });
        $("[id*='sexpects']").click(function(){
            if(this.id=='sexpects0'){
                $("#sexpect_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });

        $(".delete").click(function(){
            $('#s-'+$(this).attr("cid")).addClass('hide');
            if($(this).attr("cid")=='amount'){
                $("#amount_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='expectYID'){
                $("#expectYID_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='duration'){
                $("#duration_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='scate'){
                $("#scate_all :checkbox").attr("checked", !1);
            }
            if($(this).attr("cid")=='sexpect'){
                $("#sexpect_all :checkbox").attr("checked", !1);
            }
            oTable.fnDraw();
        });

        $('#fengxian').dataTable({
            "iDisplayLength": 50
        });

        $('#fengxian').dataTable().columnFilter({
            aoColumns: [
                { type: "text"},
                { type: "number-range" },
                null,
                { type: "text"},
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });

    $("[class*='expectYID']").click(function(){
        $("[class*='expectYID']").removeClass('currbg');
        if(this.id=='expectYID'){$("#products_range_from_12").val('');$("#products_range_to_12").val('');$("#s-expectYID").addClass('hide');$("#expectYID").addClass('currbg');}
        else{
            if(this.id=='expectYID1'){$("#products_range_from_12").val('0');$("#products_range_to_12").val('6');$("#expectYID1").addClass('currbg');};
            if(this.id=='expectYID2'){$("#products_range_from_12").val('6');$("#products_range_to_12").val('10');$("#expectYID2").addClass('currbg');};
            if(this.id=='expectYID3'){$("#products_range_from_12").val('10');$("#products_range_to_12").val('20');$("#expectYID3").addClass('currbg');};
            if(this.id=='expectYID4'){$("#products_range_from_12").val('20');$("#products_range_to_12").val('');$("#expectYID4").addClass('currbg');};
            $("#s-expectYID").removeClass('hide');
            $("#st-expectYID").html('年收益率:'+$('#'+this.id).html());
        }
        $("#products_range_from_12").keyup();
    });

    $("[class*='duration']").click(function(){
        $("[class*='duration']").removeClass('currbg');
        if(this.id=='durations'){$("#search5").val('');$("#s-duration").addClass('hide');$("#durations").addClass('currbg');}
        else{
            if(this.id=='duration1'){$("#search5").val('2');$("#duration1").addClass('currbg');};
            if(this.id=='duration2'){$("#search5").val('3');$("#duration2").addClass('currbg');};
            if(this.id=='duration3'){$("#search5").val('4');$("#duration3").addClass('currbg');};
            if(this.id=='duration4'){$("#search5").val('5');$("#duration4").addClass('currbg');};
            $("#s-duration").removeClass('hide');
            $("#st-duration").html('风险级别:'+$('#'+this.id).html());
        }
        $("#search5").keyup();
    });

    $(".delete").click(function(){
        $('#s-'+$(this).attr("cid")).addClass('hide');
       /*
        if($(this).attr("cid")=='category'){
            $("[class*='category']").removeClass('currbg');
            $("#category").addClass('currbg');
            $("#search13").val('');$("#s-category").addClass('hide');
            $("#search13").keyup();
        }
        */
        if($(this).attr("cid")=='expectYID'){
            $("[class*='expectYID']").removeClass('currbg');
            $("#expectYID").addClass('currbg');
            $("#products_range_from_12").val('');$("#products_range_to_12").val('');$("#s-expectYID").addClass('hide');
            $("#products_range_from_12").keyup();
        }
        else if($(this).attr("cid")=='duration'){
            $("[class*='duration']").removeClass('currbg');
            $("#durations").addClass('currbg');
            $("#search5").val('');$("#s-duration").addClass('hide');
            $("#search5").keyup();
        }
    });

    /*
    $("[class*='scate']").click(function(){
        $("[class*='scate']").removeClass('currbg');
        if(this.id=='scate0'){$("#search0").val('');$("#ss-cate").addClass('hide');$("#scate0").addClass('currbg');}
        else{
            if(this.id=='scate1'){$("#search0").val('iphone');$("#scate1").addClass('currbg');};
            if(this.id=='scate2'){$("#search0").val('android');$("#scate2").addClass('currbg');};
            if(this.id=='scate3'){$("#search0").val('weixin');$("#scate3").addClass('currbg');};
            $("#ss-cate").removeClass('hide');
            $("#sst-cate").html('已有账号:'+$('#'+this.id).html());
        }
        $("#search0").keyup();
    });


    $("[class*='sexpect']").click(function(){
        $("[class*='sexpect']").removeClass('currbg');
        if(this.id=='sexpect'){$("#fengxian_range_from_1").val('');$("#fengxian_range_to_1").val('');$("#ss-expect").addClass('hide');$("#sexpect").addClass('currbg');}
        else{
            if(this.id=='sexpect1'){$("#fengxian_range_from_1").val('0');$("#fengxian_range_to_1").val('10');$("#sexpect1").addClass('currbg');};
            if(this.id=='sexpect2'){$("#fengxian_range_from_1").val('11');$("#fengxian_range_to_1").val('500');$("#sexpect2").addClass('currbg');};
            if(this.id=='sexpect3'){$("#fengxian_range_from_1").val('501');$("#fengxian_range_to_1").val('1000');$("#sexpect3").addClass('currbg');};
            $("#ss-expect").removeClass('hide');
            $("#sst-expect").html('起购金额:'+$('#'+this.id).html());
        }
        $("#fengxian_range_from_1").keyup();
    });


    $("[class*='sdur']").click(function(){
        $("[class*='sdur']").removeClass('currbg');
        if(this.id=='sdurs'){$("#search3").val('');$("#ss-dur").addClass('hide');$("#sdurs").addClass('currbg');}
        else{
            if(this.id=='sdur1'){$("#search3").val('支付宝');$("#sdur1").addClass('currbg');};
            if(this.id=='sdur2'){$("#search3").val('天天基金');$("#sdur2").addClass('currbg');};
            if(this.id=='sdur3'){$("#search3").val('华夏基金');$("#sdur3").addClass('currbg');};
            $("#ss-dur").removeClass('hide');
            $("#sst-dur").html('已有账号:'+$('#'+this.id).html());
        }
        $("#search3").keyup();
    });


    $(".sdelete").click(function(){
        $('#ss-'+$(this).attr("cid")).addClass('hide');
        if($(this).attr("cid")=='cate'){
            $("[class*='scate']").removeClass('currbg');
            $("#scate0").addClass('currbg');
            $("#search0").val('');$("#ss-cate").addClass('hide');
            $("#search0").keyup();
        }
        else if($(this).attr("cid")=='expect'){
            $("[class*='sexpect']").removeClass('currbg');
            $("#sexpect").addClass('currbg');
            $("#fengxian_range_from_1").val('');$("#fengxian_range_to_1").val('');$("#ss-expect").addClass('hide');
            $("#fengxian_range_from_1").keyup();
        }
        else if($(this).attr("cid")=='dur'){
            $("[class*='sdur']").removeClass('currbg');
            $("#sdurs").addClass('currbg');
            $("#search3").val('');$("#ss-dur").addClass('hide');
            $("#search3").keyup();
        }
    });
        */
</script>