<%= stylesheet_link_tag "bankinvest.css" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "jquery.dataTables.columnFilter.js" %>
<%= stylesheet_link_tag "demo_table_jui.css" %>
<%= javascript_include_tag "bootstrap.js" %>
<style>
    #products th,#products td,#liudong th,#liudong td{
        text-align: center;
        font-family: Hiragino Sans GB W3;
    }
    tr.even td.sorting_1 {
        background-color: #ffffff;
    }

    tr.odd{background-color: #f9f9f9;}

    .dataTables_paginate {
        font: 80% Hiragino Sans GB W3;
    }

    .paginate_disabled_previous, .paginate_disabled_next {
        color: #666 !important;
    }
    .paginate_disabled_next, .paginate_enabled_next {
        padding-right: 23px;
        margin-left: 10px;
    }
</style>

<div class="main-content organ">
  <a href="/">首页</a>
  <div class="tabbable">

    <h1 class="deploy" style="padding-bottom: 0;">
      <ul class="nav nav-pills" style="margin-bottom: 0;">
        <li class="active"><a href="#tab1" data-toggle="tab"><h4>流动性产品</h4></a></li>
        <li><a href="#tab2" data-toggle="tab"><h4>风险性产品</h4></a></li>
      </ul>
      <span style="font-size: 14px;">我们为您提供最及时的理财产品信息，供你做选择。</span>
    </h1>
    <div class="tab-content" style="overflow: visible;">
      <div class="tab-pane active" id="tab1">

        <div id="soptionsRadios">
          <div class="box_sxtj">
            <div class="box_sxtj_top">理财产品－查询</div>
            <div class="box_sxtj_center">
              <dl class="fore" id="scate_all">
                <dt id="scate-cate_all">购买途径:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="scate0" class="curr scate btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="scate1" class="curr scate1 btn-link"> Iphone手机 </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="scate2" class="curr scate2 btn-link"> Android手机 </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="scate3" class="curr scate3 btn-link"> 微信购买 </a>
                  </label>
                </dd>
              </dl>
              <dl class="fore">
                <dt id="scate-expect">起购金额:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="sexpect" class="curr sexpect btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="sexpect1" class="curr sexpect1 btn-link"> 0-10元 </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="sexpect2" class="curr sexpect2 btn-link"> 11-500元 </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="sexpect3" class="curr sexpect3 btn-link"> 501-1000元 </a>
                  </label>
                </dd>
              </dl>
              <dl class="fore" id="sdur">
                <dt id="scate-dur">已有账号:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="sdurs" class="curr sdur btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="sdur1" class="curr sdur1 btn-link"> 支付宝</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="sdur2" class="curr sdur2 btn-link"> 天天基金 </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="sdur3" class="curr sdur3 btn-link"> 华夏基金</a>
                  </label>
                </dd>
              </dl>
            </div>

            <div class="box_sxtj_bottom">
              <dl class="fore">
                <dt>已选择的筛选条件:&nbsp;</dt>
                <dd id="sselected">

                  <div id="ss-cate" class="del hide">
                    <h6 class="text" id="sst-cate" condition="">购买途径:不限</h6>
                    <a class="sdelete" cid="cate"></a>
                  </div>

                  <div id="ss-expect" class="del hide">
                    <h6 class="text" id="sst-expect" condition="">起购金额:不限</h6>
                    <a class="sdelete" cid="expect"></a>
                  </div>

                  <div id="ss-dur" class="del hide">
                    <h6 class="text" id="sst-dur" condition="">已有账号：不限</h6>
                    <a class="sdelete" cid="dur"></a>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <table id="liudong" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="hide" rowspan="2">购买途径</th>
            <th class="hide" rowspan="2">起购金额</th>
            <th rowspan="2">产品名</th>
            <th rowspan="2">机构名称</th>
            <th rowspan="2">绑定基金</th>
            <th rowspan="2">起购金额</th>
            <th colspan="2">近一年</th>
            <th colspan="3">购买途径</th>
          </tr>
          <tr>
            <th>收益率</th>
            <th>排名</th>
            <th>iphone</th>
            <th>android</th>
            <th>微信</th>
          </tr>
          </thead>
          <tfoot class="hide">
          <tr>
            <th class="hide" rowspan="2">购买途径</th>
            <th class="hide" rowspan="2">起购金额</th>
            <th rowspan="2">产品名</th>
            <th rowspan="2">机构名称</th>
            <th rowspan="2">绑定基金</th>
            <th rowspan="2">起购金额</th>
            <th>收益率</th>
            <th>排名</th>
            <th>iphone</th>
            <th>android</th>
            <th>微信</th>
          </tr>
          <tr>
            <th colspan="2">近一年</th>
            <th colspan="3">购买途径</th>
          </tr>
          </tfoot>
          <% @financial2.each do |f| %>
              <tr id="nan<%= f.id %>" onclick="show3(this);" class="finan<%= f.id %>">
                <td class="hide"><%= f.way %></td>
                <td class="hide"><%= f.startvalue %></td>
                <td><a href="/bankinvest/productdetails/<%= f.id %>"><%= f.pname %></a></td>
                <td><%= f.trusts %></td>
                <% if f.property=='互联网产品'%>
                    <% if f.bound>1%>
                        <td>多个货币基金</td>
                        <td><%= f.startvalue %></td>
                        <td class="red"><% if f.rate !=nil && f.rate.to_f!=0 %><%= format("%0.2f",f.rate.to_f*100) %>%<% else %>--<% end %></td>
                        <td><% if f.rank!=nil && f.rank!='0' && f.rank!='' %><%= f.rank %><% else %>--<% end %></td>
                    <% else %>
                        <% if @hash3[f.id][0]>1 %>
                            <td><%= @hash3[f.id][1] %></td>
                            <td><%= f.startvalue %></td>
                            <td class="red"><% if @hash3[f.id][5] !=nil && @hash3[f.id][5].to_f!=0 %><%= format("%0.2f",@hash3[f.id][5].to_f*100) %>%<% else %>--<% end %></td>
                            <td><% if @hash3[f.id][6]!=nil && @hash3[f.id][6]!='0' && @hash3[f.id][6]!='' %><%= @hash3[f.id][6] %><% else %>--<% end %></td>
                        <% else %>
                            <td><%= f.pname %></td>
                            <td><%= f.startvalue %></td>
                            <td class="red"><% if f.rate !=nil && f.rate.to_f!=0 %><%= format("%0.2f",f.rate.to_f*100) %>%<% else %>--<% end %></td>
                            <td><% if f.rank!=nil && f.rank!='0' && f.rank!='' %><%= f.rank %><% else %>--<% end %></td>
                        <% end %>
                    <% end %>
                <% else %>
                    <td><%= f.pname %></td>
                    <td><%= f.startvalue %></td>
                    <td class="red"><% if f.rate !=nil && f.rate.to_f!=0 %><%= format("%0.2f",f.rate.to_f*100) %>%<% else %>--<% end %></td>
                    <td><% if f.rank!=nil && f.rank!='0' && f.rank!='' %><%= f.rank %><% else %>--<% end %></td>
                <% end %>
                <% if f.property=='互联网产品'%>
                    <td><%= @hash3[f.id][2] %></td>
                    <td><%= @hash3[f.id][3] %></td>
                    <td><%= @hash3[f.id][4] %></td>
                <% else %>
                    <td>否</td>
                    <td>否</td>
                    <td>否</td>
                <% end %>
              </tr>
          <% end %>
        </table>
        <blockquote style="margin-top: 30px;"><small>-- 表示该产品成立时间较短，没有相应的数据 或 没有同类产品。</small></blockquote>
      </div>
      <div class="tab-pane" id="tab2">
        <div id="optionsRadios">
          <div class="box_sxtj">
            <div class="box_sxtj_top">理财产品－查询</div>
            <div class="box_sxtj_center">
              <!--
              <dl class="fore" id="category_all">
                <dt id="category-category_all">产品类型:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="category" class="curr category btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="category1" class="curr category1 btn-link"> 随存随取型 </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="category2" class="curr category2 btn-link"> 保本型 </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="category3" class="curr category3 btn-link"> 风险型 </a>
                  </label>
                </dd>
              </dl>
              -->
              <dl class="fore">
                <dt id="category-expectYID">年收益率:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="expectYID" class="curr expectYID btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID1" class="curr expectYID1 btn-link"> 0-6% </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID2" class="curr expectYID2 btn-link"> 6%-10% </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID3" class="curr expectYID3 btn-link"> 10%-20% </a>
                  </label>
                  <label class="checkbox inline">
                    <a id="expectYID4" class="curr expectYID4 btn-link"> 20%以上 </a>
                  </label>
                </dd>
              </dl>
              <dl class="fore" id="duration">
                <dt id="category-duration">风险级别:</dt>
                <dd>
                  <label class="checkbox inline all">
                    <a id="durations" class="curr duration btn-link currbg">不限</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration1" class="curr duration2 btn-link"> 低风险</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration2" class="curr duration3 btn-link"> 中级风险</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration3" class="curr duration4 btn-link"> 高风险</a>
                  </label>
                  <label class="checkbox inline">
                    <a id="duration4" class="curr duration5 btn-link"> 极高风险</a>
                  </label>
                </dd>
              </dl>
            </div>

            <div class="box_sxtj_bottom">
              <dl class="fore">
                <dt>已选择的筛选条件:&nbsp;</dt>
                <dd id="selected">

                  <div id="s-category" class="del hide">
                    <h6 class="text" id="st-category" condition="">产品类型:不限</h6>
                    <a class="delete" cid="category"></a>
                  </div>

                  <div id="s-expectYID" class="del hide">
                    <h6 class="text" id="st-expectYID" condition="">年收益率:不限</h6>
                    <a class="delete" cid="expectYID"></a>
                  </div>

                  <div id="s-duration" class="del hide">
                    <h6 class="text" id="st-duration" condition="">风险级别：不限</h6>
                    <a class="delete" cid="duration"></a>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <table class="table table-striped table-bordered" id="products"  cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th rowspan="2">对比</th>
            <th rowspan="2">产品代码</th>
            <th rowspan="2">产品名称</th>
            <th rowspan="2">类型</th>
            <th rowspan="2" class="hide">风险级别</th>
            <th rowspan="2">风险级别</th>
            <th colspan="2">近1年</th>
            <th colspan="2">近3年</th>
            <th colspan="2">近5年</th>
            <th rowspan="2" class="hide">收益率</th>
            <!--<th rowspan="2" class="hide">产品大类</th>-->
            <th rowspan="2">晨星评级</th>
          </tr>
          <tr>
            <th>收益率</th>
            <th>排名</th>
            <th>收益率</th>
            <th>排名</th>
            <th>收益率</th>
            <th>排名</th>
          </tr>
          </thead>
          <tfoot class="hide">
          <tr>
            <th rowspan="2">对比</th>
            <th rowspan="2">产品代码</th>
            <th rowspan="2">产品名称</th>
            <th rowspan="2">类型</th>
            <th rowspan="2" class="hide">风险级别</th>
            <th rowspan="2">风险级别</th>
            <th>收益率</th>
            <th>排名</th>
            <th>收益率</th>
            <th>排名</th>
            <th>收益率</th>
            <th>排名</th>
            <th rowspan="2" class="hide">收益率</th>
            <!--<th rowspan="2" class="hide">产品大类</th>-->
            <th rowspan="2">晨星评级</th>
          </tr>
          <tr>
            <th colspan="2">近1年</th>
            <th colspan="2">近3年</th>
            <th colspan="2">近5年</th>
          </tr>
          </tfoot>

          <% @financial.each do |f| %>
              <tr>
                <td class="second"><input type="checkbox" onclick="check_chose('<%= f.pname%>',<%= f.id%>)" id="chose<%= f.id%>" name="chose"></td>
                <td><% if f.productcode !=nil && f.productcode !='' %><%= f.productcode %><% else %>--<% end %></td>
                <td class="first"><a href="/bankinvest/productdetails/<%= f.id %>"><%= f.pname %></a></td>
                <td><a href="/bankinvest/classify/<%= @hash[f.classify][0] %>"><%= f.classify %></a></td>
                <% if f.risklevel==1 %><td>无风险</td><td class="hide">1</td>
                <% elsif  f.risklevel==2 %><td>低风险</td><td class="hide">2</td>
                <% elsif  f.risklevel==3 %><td>中级风险</td><td class="hide">3</td>
                <% elsif  f.risklevel==4 %><td>高风险</td><td class="hide">4</td>
                <% elsif  f.risklevel==5 %><td>极高风险</td><td class="hide">5</td>
                <% end %>
                <td><strong><% if f.rate !=nil && f.rate.to_f !=0 %><% if f.rate.to_f>0 %><span style="color: red;"><%= format("%0.2f",f.rate.to_f*100) %>%</span><% else %><span style="color: green;"><%= format("%0.2f",f.rate.to_f*100) %>%</span><% end %><% else %>--<% end %></strong></td>
                <td><% if f.rank !='0' && f.rank !=nil  %><%= f.rank %><% else %>--<% end %></td>
                <td><strong><% if f.rate1 !=nil && f.rate1.to_f !=0 %><% if f.rate1.to_f>0 %><span style="color: red;"><%= format("%0.2f",f.rate1.to_f*100) %>%</span><% else %><span style="color: green;"><%= format("%0.2f",f.rate1.to_f*100) %>%</span><% end %><% else %>--<% end %></strong></td>
                <td><% if f.rank1 !='0' && f.rank1 !=nil  %><%= f.rank1 %><% else %>--<% end %></td>
                <td><strong><% if f.rate2 !=nil && f.rate2.to_f !=0 %><% if f.rate2.to_f>0 %><span style="color: red;"><%= format("%0.2f",f.rate2.to_f*100) %>%</span><% else %><span style="color: green;"><%= format("%0.2f",f.rate2.to_f*100) %>%</span><% end %><% else %>--<% end %></strong></td>
                <td><% if f.rank2 !='0' && f.rank2 !=nil %><%= f.rank2 %><% else %>--<% end %></td>
                <td class="hide"><% if f.rate !=nil %><% if f.rate.to_f !=0 %><%= format("%0.2f",f.rate.to_f*100) %><% else %>--<% end %><% end %></td>
               <!-- <td class="hide"><%= f.category %></td> -->
                <td style="color:red;"><% if f.level==1 %>★<% elsif f.level==2 %>★★<% elsif f.level==3 %>★★★<% elsif f.level==4 %>★★★★<% elsif f.level==5 %>★★★★★<% else %>--<% end %></td>
              </tr>
          <% end %>
        </table>
        <blockquote style="margin-top: 30px;"><small>-- 表示该产品成立时间较短，没有相应的数据 或 没有同类产品。</small></blockquote>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="shape_control">
  <div class="modal-header">
    <h3>您已经选择的理财产品</h3>
  </div>
  <div class="modal-body">
  <div class="con"></div>
  </div>
  <div class="modal-footer">
    <div class="btns"><a class="btn btn-primary pull-right" target="_blank" href="/bankinvest/compare">对比</a><a class="btn pull-right" onclick="check_clear()" style="margin-right: 10px;">清空</a></div>
  </div>

</div>

<script>
    $(document).ready(function(){
        $('#products').dataTable({
            "iDisplayLength": 50,
            "aaSorting": [[ 4, "asc" ]]
        });

        $('#products').dataTable().columnFilter({
            aoColumns: [
                null,
                null,
                null,
                null,
                null,
                { type: "number" },
                null,
                null,
                null,
                null,
                null,
                null,
                { type: "number-range" },
                null
            ]
        });

        $('#liudong').dataTable({
            "iDisplayLength": 50
        });

        $('#liudong').dataTable().columnFilter({
            aoColumns: [
                { type: "text"},
                { type: "number-range" },
                null,
                { type: "text"},
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
    /*
    $("[class*='category']").click(function(){
        $("[class*='category']").removeClass('currbg');
        if(this.id=='category'){$("#search13").val('');$("#s-category").addClass('hide');$("#category").addClass('currbg');}
        else{
            if(this.id=='category1'){$("#search13").val('随存随取型');$("#category1").addClass('currbg');};
            if(this.id=='category2'){$("#search13").val('保本型');$("#category2").addClass('currbg');};
            if(this.id=='category3'){$("#search13").val('风险型');$("#category3").addClass('currbg');};
            $("#s-category").removeClass('hide');
            $("#st-category").html('产品类型:'+$('#'+this.id).html());
        }
        $("#search13").keyup();
    });
    */
    $("[class*='expectYID']").click(function(){
        $("[class*='expectYID']").removeClass('currbg');
        if(this.id=='expectYID'){$("#products_range_from_12").val('');$("#products_range_to_12").val('');$("#s-expectYID").addClass('hide');$("#expectYID").addClass('currbg');}
        else{
            if(this.id=='expectYID1'){$("#products_range_from_12").val('0');$("#products_range_to_12").val('6');$("#expectYID1").addClass('currbg');};
            if(this.id=='expectYID2'){$("#products_range_from_12").val('6');$("#products_range_to_12").val('10');$("#expectYID2").addClass('currbg');};
            if(this.id=='expectYID3'){$("#products_range_from_12").val('10');$("#products_range_to_12").val('20');$("#expectYID3").addClass('currbg');};
            if(this.id=='expectYID4'){$("#products_range_from_12").val('20');$("#products_range_to_12").val('');$("#expectYID4").addClass('currbg');};
            $("#s-expectYID").removeClass('hide');
            $("#st-expectYID").html('年收益率:'+$('#'+this.id).html());
        }
        $("#products_range_from_12").keyup();
    });

    $("[class*='duration']").click(function(){
        $("[class*='duration']").removeClass('currbg');
        if(this.id=='durations'){$("#search5").val('');$("#s-duration").addClass('hide');$("#durations").addClass('currbg');}
        else{
            if(this.id=='duration1'){$("#search5").val('2');$("#duration1").addClass('currbg');};
            if(this.id=='duration2'){$("#search5").val('3');$("#duration2").addClass('currbg');};
            if(this.id=='duration3'){$("#search5").val('4');$("#duration3").addClass('currbg');};
            if(this.id=='duration4'){$("#search5").val('5');$("#duration4").addClass('currbg');};
            $("#s-duration").removeClass('hide');
            $("#st-duration").html('风险级别:'+$('#'+this.id).html());
        }
        $("#search5").keyup();
    });

    $(".delete").click(function(){
        $('#s-'+$(this).attr("cid")).addClass('hide');
       /*
        if($(this).attr("cid")=='category'){
            $("[class*='category']").removeClass('currbg');
            $("#category").addClass('currbg');
            $("#search13").val('');$("#s-category").addClass('hide');
            $("#search13").keyup();
        }
        */
        if($(this).attr("cid")=='expectYID'){
            $("[class*='expectYID']").removeClass('currbg');
            $("#expectYID").addClass('currbg');
            $("#products_range_from_12").val('');$("#products_range_to_12").val('');$("#s-expectYID").addClass('hide');
            $("#products_range_from_12").keyup();
        }
        else if($(this).attr("cid")=='duration'){
            $("[class*='duration']").removeClass('currbg');
            $("#durations").addClass('currbg');
            $("#search5").val('');$("#s-duration").addClass('hide');
            $("#search5").keyup();
        }
    });


    $("[class*='scate']").click(function(){
        $("[class*='scate']").removeClass('currbg');
        if(this.id=='scate0'){$("#search0").val('');$("#ss-cate").addClass('hide');$("#scate0").addClass('currbg');}
        else{
            if(this.id=='scate1'){$("#search0").val('iphone');$("#scate1").addClass('currbg');};
            if(this.id=='scate2'){$("#search0").val('android');$("#scate2").addClass('currbg');};
            if(this.id=='scate3'){$("#search0").val('weixin');$("#scate3").addClass('currbg');};
            $("#ss-cate").removeClass('hide');
            $("#sst-cate").html('已有账号:'+$('#'+this.id).html());
        }
        $("#search0").keyup();
    });


    $("[class*='sexpect']").click(function(){
        $("[class*='sexpect']").removeClass('currbg');
        if(this.id=='sexpect'){$("#liudong_range_from_1").val('');$("#liudong_range_to_1").val('');$("#ss-expect").addClass('hide');$("#sexpect").addClass('currbg');}
        else{
            if(this.id=='sexpect1'){$("#liudong_range_from_1").val('0');$("#liudong_range_to_1").val('10');$("#sexpect1").addClass('currbg');};
            if(this.id=='sexpect2'){$("#liudong_range_from_1").val('11');$("#liudong_range_to_1").val('500');$("#sexpect2").addClass('currbg');};
            if(this.id=='sexpect3'){$("#liudong_range_from_1").val('501');$("#liudong_range_to_1").val('1000');$("#sexpect3").addClass('currbg');};
            $("#ss-expect").removeClass('hide');
            $("#sst-expect").html('起购金额:'+$('#'+this.id).html());
        }
        $("#liudong_range_from_1").keyup();
    });


    $("[class*='sdur']").click(function(){
        $("[class*='sdur']").removeClass('currbg');
        if(this.id=='sdurs'){$("#search3").val('');$("#ss-dur").addClass('hide');$("#sdurs").addClass('currbg');}
        else{
            if(this.id=='sdur1'){$("#search3").val('支付宝');$("#sdur1").addClass('currbg');};
            if(this.id=='sdur2'){$("#search3").val('天天基金');$("#sdur2").addClass('currbg');};
            if(this.id=='sdur3'){$("#search3").val('华夏基金');$("#sdur3").addClass('currbg');};
            $("#ss-dur").removeClass('hide');
            $("#sst-dur").html('已有账号:'+$('#'+this.id).html());
        }
        $("#search3").keyup();
    });


    $(".sdelete").click(function(){
        $('#ss-'+$(this).attr("cid")).addClass('hide');
        if($(this).attr("cid")=='cate'){
            $("[class*='scate']").removeClass('currbg');
            $("#scate0").addClass('currbg');
            $("#search0").val('');$("#ss-cate").addClass('hide');
            $("#search0").keyup();
        }
        else if($(this).attr("cid")=='expect'){
            $("[class*='sexpect']").removeClass('currbg');
            $("#sexpect").addClass('currbg');
            $("#liudong_range_from_1").val('');$("#liudong_range_to_1").val('');$("#ss-expect").addClass('hide');
            $("#liudong_range_from_1").keyup();
        }
        else if($(this).attr("cid")=='dur'){
            $("[class*='sdur']").removeClass('currbg');
            $("#sdurs").addClass('currbg');
            $("#search3").val('');$("#ss-dur").addClass('hide');
            $("#search3").keyup();
        }
    });

    var flag=0;
    var comparenum=0;
    // var session_compare;
    // var height=document.getElementsByClassName("con").height;
    $('#shape_control').hide();
    <%session[:compareid]=""%>
    function check_chose(name,id){
        havecheck("chose");
        if(flag==1){
            $('#shape_control').show();
        }

        if($("#chose"+id).attr("checked")=="checked"){
            $("<div class='comparetitle' id=comparetitle"+id+"><p><ul><li>"+name+"</li></ul></p></div>").appendTo(".con");
            $.get("/bankinvest/comparesession",{compareid:id,comparenum:comparenum});
            comparenum=comparenum+1;
        }
        else
        {
            $("#comparetitle"+id).remove();
            $.get("/bankinvest/comparesession",{compareid:id,comparenum:comparenum,type:'deleteid'});
            comparenum=comparenum-1;
            if(comparenum==0){
                $('#shape_control').hide();
            }
        }
    }

    function check_clear(){
        var txts=document.getElementsByName("chose");
        $(".comparetitle").remove();
        $("#products :checkbox").attr("checked", !1);
        $.get("/bankinvest/comparesession",{comparenum:"0",type:'clearid'});
        $('#shape_control').hide();
    }

    function $N(name){return document.getElementsByName(name);}
    function havecheck(name){ //v当前要设置的值true/false;name要设置的checkbox组的name,如果省略则默认为所有的checkbox
        o=name?$N(name):$N("input");
        //alert(o.length)
        for(i=0;i<o.length;i++)
            if(o[i].type=="checkbox"){
                flag=1;
                break;
            };
    }
</script>