<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "bankinvest.css" %>

<style type=text/css>
    .login-popup{
        display:none;
        padding: 10px;
        border: 0px solid white;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%; left: 50%;
        z-index: 99999;
        width:430px
    }
    #mask {
        display: none;
        background: #000;
        position: fixed; left: 0; top: 0;
        width: 100%; height: 100%;
        opacity: 0.3;
        z-index: 999;
    }
</style>

<div class="main-content">
  <a href="/">首页</a>&nbsp; >&nbsp;
  <a href="/bankinvest/index" >银行理财产品</a>
  <h1>
    特供理财产品
    <p>您绝对无法从银行官网中得到的理财产品。</p>
  </h1>
  <table cellpadding="0" cellspacing="0" border="0" class="display" name="bankfinance" id="bankfinance"  style="text-align:center;">
    <thead><tr>
      <th>发行银行</th><th>年化收益率</th><th>计算收益</th><th>产品类型</th><th>起售价(万)</th>
      <th>投资期限(天)</th><th>销售起始</th><th>销售结束</th><th>发行地区</th><th>产品名称</th><th>状态</th>
    </tr></thead>

    <% @specialfinances.each do |b| %>
        <tr>
          <td><%= b.trustee%></td>
          <td><%= format("%0.1f",b.returnrate*100)%>%</td>
          <td><a href="#login-box" class='login-window'title="<%= b.returnrate%>|<%= b.investperiod%>"><img src="/assets/calculator.jpg"></a></td>
          <td><%= b.btype%></td>
          <td><%= format("%0.0f",b.startvalue/10000)%></td>
          <td><%= format("%0.0f",b.investperiod)%></td>
          <td><%= b.sailsstart%></td>
          <td><%= b.collectperiod%></td>
          <td>南京</td>
          <td><p class="ctl" title="<%= b.bname%>"><%= b.bname%></p></td>
          <td><%= b.status%></td>
        </tr>
    <% end %>
  </table>
</div>

<div id='login-box' class='login-popup'>
  <div class="popup">
    <table>
      <tr><td colspan="2">
        <a class="btn close" href="javascript:void(0)">关闭</a>
      </td></tr>
      <tr><td class="pull-right">投资金额：</td><td>
        <div class="input-append">
          <input type="text" class="investvalue" id="appendedInput"><span class="add-on">元</span>
        </div>
      </td></tr>
      <tr><td class="pull-right">预期收益率：</td><td>
        <div class="input-append"><input type="text" class="prereturnrate" id="appendedInput"><span class="add-on">%</span>
        </div>
      </td></tr>
      <tr><td class="pull-right">投资天数：</td><td>
        <div class="input-append"><input type="text" class="preperiod" id="appendedInput"><span class="add-on">元</span>
        </div>
      </td></tr>
      <tr><td class="pull-right">收益金额：</td><td>
        <span id="ownvalue" style="color: #ff0000;"></span>元
      </td></tr>
      <tr><td class="pull-right">总计：</td><td><span id="total" style="color: #ff0000;"></span>元</td></tr>
    </table>
  </div>
</div>

<script>

    $(document).ready(function(){
        $(".investvalue").keyup(function(){
            if($(".investvalue").attr("value")!=""){
                var ownvalue=(parseFloat($(".investvalue").attr("value"))*parseFloat($(".prereturnrate").attr("value"))*parseFloat($(".preperiod").attr("value"))/36500).toFixed(1);
                var total=parseFloat($(".investvalue").attr("value"))+parseFloat(ownvalue);
                $("#ownvalue").html(ownvalue);
                $("#total").html(total);
            }
            else{
                $("#ownvalue").html("");
                $("#total").html("");
            }
        })
        $('a.login-window').click(function() {
            var returnrate=this.title.split("|")[0]*100;
            var period=parseFloat(this.title.split("|")[1]).toFixed(0)
            // Getting the variable's value from a link
            var loginBox = $(this).attr('href');

            //Fade in the Popup and add close button
            $(loginBox).fadeIn(300);
            $(".prereturnrate").attr("value",returnrate);
            $(".preperiod").attr("value",period)
            //Set the center alignment padding + border
            var popMargTop = ($(loginBox).height() + 24) / 2;
            var popMargLeft = ($(loginBox).width() + 24) / 2;

            $(loginBox).css({
                'margin-top' : -popMargTop,
                'margin-left' : -popMargLeft
            });

            // Add the mask to body
            $('body').append('<div id="mask"></div>');
            $('#mask').fadeIn(300);

            return false;
        });

        // When clicking on the button close or the mask layer the popup closed
        $('a.close, #mask').live('click', function() {
            $('#mask , .login-popup').fadeOut(300 , function() {
                $('#mask').remove();
                $("#ownvalue").html("");
                $("#total").html("");
            });
            return false;
        });


        /* Initialise datatables */
        var oTable = $('#bankfinance').dataTable({
            "iDisplayLength": 50
        });

    });
</script>

<script language='javascript' async='true' type='text/javascript' src='http://cdn.walkme.com/users/8868/walkme_8868.js'></script>