<%= stylesheet_link_tag "blog.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<style>
    .baidu_btn {
        width: 100%!important;  display: table;
    }
    #main .main-contents {
        padding: 0;
    }
    a{color: #0066CC;}
    a:hover {
        color: #FF4B33;
        text-decoration: underline;
    }
    hr{
        border-bottom: 1px solid #aaa;
        margin: 10px 0;
    }
</style>
<div  class='main-contents'>

  <div class='row-fluid beta2'>
    <div class="span8">
      <h1><a href="/"><img style="height: 54px;margin-top: 10px;" src="/assets/logo.png"></a><span>博客</span></h1>
    </div>
    <div class="span4" style="padding-top: 13px;">
      <div id="mc_embed_signup">
        <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td style="width: 80px;border-right: 1px solid #ccc;vertical-align: middle;">
                <label for="mce-EMAIL">邮件订阅</label>
              </td>
              <td style="padding:10px 0 0 20px;">
                <input type="email" value="" name="EMAIL" style="width: 80%;" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
              </td>
              <td style="vertical-align: middle;">
                <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  <table class="body-container" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content">
        <h1 id="title">博客</h1>
        <table class="content-table" id="blog"   cellpadding="0" cellspacing="0" border="0">
          <thead class="hide">
          <tr>
            <th>博客</th>
          </tr></thead>
          <tbody>
          <% @blogs.each do |b| %>
              <tr>
                <td>
                  <div>
                    <span class="cat-links">
                       <a href="/blog/all?classify=<%= b.bcolumn%>"  class="a">&nbsp;<%= b.bcolumn%>&nbsp;</a>
                    </span>
                  </div>
                  <div class="news_tag<%= b.id%>"></div>
                  <h2 class="entry-title a"><a href="/blog/article/<%= b.id%>" class="more-link"><%=raw b.btitle%></a></h2>
                  <div class="entry-content">
                    <div style="text-align: center;"><img style="width: 100%;" src="/assets/<%= b.imagepath%>"></div>
                    <p><%=raw b.barticle[0,150] + ' ... ...' %></p>
                  </div>
                  <p><a href="/blog/article/<%= b.id%>" class="more-link">继续阅读<span class="meta-nav">→</span></a></p>
                  <div class="eday"><a href="" class="a"><%= b.blname%></a>&nbsp;发表于&nbsp; <%= b.publishdate%></div>
                </td>
              </tr>
              <tr>
                <td><p class="back"></p></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div>
          <a id="next" style="float: right;" href="javascript:void(0);">下一页</a>
          <a id="last" style="width: 50px;float: right;" href="javascript:void(0);">上一页</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="height: 30px;"></div>
        <h3 class="widget-title" style="margin-top: 10px;">目录</h3>
        <div class="tip">
          <li  class="widget-container" style="width: 100%;">
            <ul>
              <li>
                <a href="/blog/index" class="a">特色服务</a>
                <ul>
                  <li><a href="/blog/index?classify=儿童理财" class="a">儿童理财</a></li>
                  <li><a href="/blog/index?classify=女人理财" class="a">女人理财</a></li>
                  <li><a href="/blog/index?classify=屌丝理财" class="a">屌丝理财</a></li>
                </ul>
              </li>
              <li>
                <a href="/blog/index" class="a">通天顺</a>
                <ul>
                  <li><a href="/blog/index?classify=通天顺的服务" class="a">通天顺的服务</a></li>
                  <li><a href="/blog/index?classify=创业人生" class="a">创业人生</a></li>
                </ul>
              </li>
              <li>
                <a href="/blog/index" class="a">投资指导</a>
                <ul>
                  <li><a href="/blog/index?classify=理财产品" class="a">理财产品</a></li>
                  <li><a href="/blog/index?classify=理财技巧" class="a">理财技巧</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </div>
        <div style="height: 30px;"></div>
        <h3 class="widget-title">最受欢迎的文章：</h3>
        <table class="popular">
          <% @popular.each do |b| %>
              <tr>
                <td>
                  <a href="/blog/article/<%= b.id%>"><h1 style="font-size: 16px;"><%= b.btitle %></h1></a>
                  <a href="/blog/article/<%= b.id%>"><img style="width: 100%;" src="/assets/<%= b.imagepath%>"></a>
                </td>
              </tr>
              <tr>
                <td colspan="2"> <hr> </td>
              </tr>
          <% end %>
        </table>
        <div style="height: 30px;"></div>
        <h3 class="widget-title">联系我们</h3>
        <div style="height: 30px;"></div>
        <h3 class="widget"><span style="margin-right: 50px;">微信关注：</span><img src="/assets/1.jpg" style="width: 78px;"></h3>
        <div style="height: 30px;"></div>
        <div class="feeds">
          <table width="100%" class="tfeeds">
            <tbody><tr>
              <td>
                <a href="http://e.weibo.com/tongtianshun/profile" target="_blank"><div class="image facebook"></div>
                  新浪微博</a>
              </td>
              <td>
                <a href="http://t.qq.com/tongtian1232008"><div class="image twitter"></div>
                  腾讯微博</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<script>
    $(document).ready(function () {
        <% if params[:classify]!=nil %>
        <% if params[:classify]=="家庭理财规划指导" %>
        $("#title").html('规划建议');
        <% else %>
        $("#title").html('<%= params[:classify] %>');
        <% end %>
        <% end %>
        <% if params[:id]==nil %>
        var bid=0;
        <% else %>
        var bid=<%= params[:id] %>;
        <% end %>
        if(bid==0){
            $("#last").addClass("black");
        }
        if((bid+1)*7>=parseInt('<%= @blog.length %>')){
            $("#next").addClass("black");
        }

        <% @blogs.each do |b| %>
        <% if b.tag!=nil %>
        var value = '<%= b.tag %>';
        var tags = value.split(/,\s*|，\s*/);
        var tag='';
        for(var i=0;i<tags.length;i++){
            tag=tag+'<a href="/blog/all?tag='+tags[i]+'">'+tags[i]+'</a>';
        }
        $(".news_tag<%= b.id %>").html(tag);
        <% end %>
        <% end %>
    });

    $("#last,#next").click(function next(){
        <% if params[:id]==nil %>
        var bid=0;
        <% else %>
        var bid=<%= params[:id] %>;
        <% end %>
        if(bid==0 && this.id=="last"){
            return false;
        }
        else if((bid+1)*7>=parseInt('<%= @blog.length %>') && this.id=="next"){
            return false;
        }

        if(this.id=="last"){
            bid=bid-1;
        }
        else{
            bid=bid+1;
        }
        <% if params[:classify]==nil %>
        location.href="/blog/all/"+bid;
        <% else %>
        location.href="/blog/all/"+bid+"?classify="+'<%= params[:classify] %>';
        <% end %>
    });
</script>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        location.href=window.location.href.replace("all","index");
    }
</script>