<%= stylesheet_link_tag "blog.css" %>

<div  class='main-content'>
  <table class="body-container" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content">
        <table class="content-table" id="blog">
          <tbody>
		  <tr>
			<td>
				<div class="breadcrumbs">
                  <a class="crumbs" href="/">首页</a>&nbsp; >&nbsp;
                  <a class="crumbs" href="/home/productindex" >银行理财产品</a><br><br></div>
			</td>
		  </tr>
      <tr>
        <td class="left-cell">
					<div class="sociable">
					 </br>
					 <div class="sociable_tagline">分享</div>
					 <ul class="clearfix"></ul>
					</div>
					<!-- Baidu Button BEGIN -->
					<div class="baidu_btn">
            <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare addthis_toolbox" style="padding:10px 0 5 5px;">
              <a class="bds_tsina" style="padding:0px 15px 8px 0px; float: left"></a>
              <a class="bds_tqq" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_renren" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_hi" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_qzone" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_douban" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_kaixin001" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_mail" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_print" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_copy" style="padding:0 15px 5px 0; float: left"></a>
              <span class="bds_more" style="padding:0 15px 10px 0; clear: both; float: left"></span>
            </div>
          </div>

					<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2419455"></script>
					<script type="text/javascript" id="bdshell_js"></script>
					<script type="text/javascript">
						document.getElementById("bdshell_js").src="http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
					</script>
				  <!-- Baidu Button END -->
            </td>
            <td class="post-cell">
              <h2 class="entry-title post"><%= @bloginfo[0]%></h2>
              <div class="eday"><a href="" class="a"><%= @bloginfo[1]%></a>&nbsp;发表于&nbsp;<a href="" class="a"><%= @bloginfo[2]%></a></div>
              <div class="article">
                <p><img class="alignleft size-medium "  src="/assets/<%= @bloginfo[5]%>">
                  <%=raw @bloginfo[3]%>
				  <div id="blogContent"></div>
                </p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td class="side-tip">
        <div class="tip">
          <li  class="widget-container">
            <h3>目录</h3>
            <ul>
              <li>
                <a href="/blog/index" class="a">博客</a>
                <ul>
                  <li><a href="/blog/blogbankfinance" class="a">银行理财产品</a></li>
                  <li><a href="/blog/blogbusinesslife" class="a">创业人生</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </div>
      </td>
    </tr>
  </table>
</div>