<%= stylesheet_link_tag "blog.css" %>

<div  class='main-content'>
  <table class="body-container" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content">
        <table class="content-table" id="blog">
          <tbody>
		  <tr>
			<td>
				<div class="breadcrumbs">
                  <a class="crumbs" href="/">首页</a>&nbsp; >&nbsp;
                  <a class="crumbs" href="/blog/index" >博客</a><br><br></div>
			</td>
		  </tr>
      <tr>
        <td class="left-cell">
					<div class="sociable">
					 </br>
					 <div class="sociable_tagline">分享</div>
					 <ul class="clearfix"></ul>
					</div>
					<!-- Baidu Button BEGIN -->
					<div class="baidu_btn">
            <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare addthis_toolbox" style="padding:10px 0 5 5px;">
              <a class="bds_tsina" style="padding:0px 15px 8px 0px; float: left"></a>
              <a class="bds_tqq" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_renren" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_hi" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_qzone" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_douban" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_kaixin001" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_mail" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_print" style="padding:0 15px 8px 0; float: left"></a>
              <a class="bds_copy" style="padding:0 15px 5px 0; float: left"></a>
              <span class="bds_more" style="padding:0 15px 10px 0; clear: both; float: left"></span>
            </div>
          </div>

					<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2419455"></script>
					<script type="text/javascript" id="bdshell_js"></script>
					<script type="text/javascript">
						document.getElementById("bdshell_js").src="http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
					</script>
				  <!-- Baidu Button END -->
            </td>
            <td class="post-cell">
              <p class="entry-title post"><%=raw @bloginfo[0]%></p>
              <div class="entry-meta"><a href="" class="a"><%= @bloginfo[1]%></a>&nbsp;发表于&nbsp; <%= @bloginfo[2]%></div>
              <div class="article">
                <p><img class="alignleft size-medium "  style="width: 100%;" src="/assets/<%= @bloginfo[5]%>">
                  <%=raw @bloginfo[3]%>
				  <div id="blogContent"></div>
                </p>
              </div>
              <br>
              <% if @comments.length>0 %>
                  <strong>评论</strong>
                  <table cellpadding="0" cellspacing="0" border="0" class="display" id="comments">
                    <% @comments.each do |b| %>
                        <tr>
                          <td>
                            <p><%= b.username%> 说：</p>
                          </td>
                          <td class="pull-right">
                           <p> <%= b.time%> </p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <%= b.comments%>
                            <hr>
                          </td>
                        </tr>
                    <% end %>
                  </table>
              <% end %>
              <strong>发表评论</strong>
              <br><br>
              <form id="commentform">
                <p class="comment-form-author"><label for="author">姓名 <span class="required">*</span></label>
                  <input id="author" name="author" value="" size="30" aria-required="true" type="text" title="姓名"></p>
                <p class="comment-form-email"><label for="email">邮件 <span class="required">*</span></label>
                  <input id="email" name="email" value="" size="30" aria-required="true" type="text" title="邮件"></p>
                <p class="comment-form-comment"><label for="comment">评论</label>
                  <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>
                <input name="submit" id="submit" value="发表" type="button">
                </p>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td class="side-tip">
        <div style="position: fixed;top:80px;">
        <div class="tip">
          <li  class="widget-container">
            <h3>目录</h3>
            <ul>
              <li>
                <a href="/blog/index" class="a">博客</a>
                <ul>
                  <li><a href="/blog/index?classify=通天顺的服务" class="a">通天顺的服务</a></li>
                  <li><a href="/blog/index?classify=常见问答" class="a">常见问答</a></li>
                  <li><a href="/blog/index?classify=家庭理财规划建议" class="a">家庭理财规划建议</a></li>
                  <li><a href="/blog/index?classify=家庭理财规划精彩案例" class="a">家庭理财规划精彩案例</a></li>
                  <li><a href="/blog/index?classify=银行理财产品" class="a">银行理财产品</a></li>
                  <li><a href="/blog/index?classify=券商理财产品" class="a">券商理财产品</a></li>
                  <li><a href="/blog/index?classify=创业人生" class="a">创业人生</a></li>
                  <li><a href="/blog/index?classify=保险产品" class="a">保险产品</a></li>
                  <li><a href="/blog/index?classify=信托产品" class="a">信托产品</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">

    $("#submit").click(function(e){
        var o=document.getElementsByTagName("input");
        var nom_flag=0;
        var dateTime=new Date();
        var hh=dateTime.getHours();
        var mm=dateTime.getMinutes();
        var ss=dateTime.getSeconds();

        var yy=dateTime.getFullYear();
        var MM=dateTime.getMonth()+1;  //因为1月这个方法返回为0，所以加1
        var dd=dateTime.getDate();

        var week=dateTime.getDay();
        var days=[ "日 ", "一 ", "二 ", "三 ", "四 ", "五 ", "六 "]

        //  var time=yy+"年"+MM+"月"+dd+"日 "+"星期"+days[week]+hh+"时"+mm+"分"+ss+"秒";
        var time=yy+"-"+MM+"-"+dd+" "+hh+":"+mm+":"+ss;
        for(var i=0;i<o.length;i++)
        {
            if(o[i].value=="" && o[i].title!=""){
                alert(o[i].title+"为空！");
                nom_flag=1;
                break;
            }
        }

        if(nom_flag==0){
            $.post("/blog/commentconfigajax",{ username: $("#author").attr("value"),email: $("#email").attr("value"),
                comments: $("#comment").attr("value"),blogid: <%= @bloginfo[6]%>,time:time
            },function(data){
                if(data=="s1"){
                    location.reload();
                }
            });
        }
    });
</script>