<%= stylesheet_link_tag "blog.css" %>

<div  class='main-content'>
  <table class="body-container" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content">
        <h1>创业人生</h1>
        <table class="content-table" id="blog">
          <tbody>
          <% @blogs.each do |b| %>
              <tr>
                <td class="left-cell">
                  <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_floating_style addthis_32x32_style">
                  <p class="sociable">分享这篇博客</p>
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                  </div>
                  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d962e2259daff3"></script>
                </td>
                <td class="post-cell">
                  <h2 class="entry-title a"><a href="/blog/blogarticle/<%= b.id%>"><%= b.btitle%></a></h2>
                  <div class="eday"><a href="" class="a"><%= b.blname%></a>&nbsp;发表于&nbsp;<a href="" class="a"><%= b.publishdate%></a></div>
                  <div class="entry-content">
                    <p><img class="alignleft size-medium "  src="/assets/<%= b.imagepath%>"><%= b.barticle%></p>
                  </div>
                  <p><a href="/blog/blogarticle/<%= b.id%>" class="more-link b">详细内容<span class="meta-nav">»</span></a></p>
                  <div class="entry-utility">
                    <span class="cat-links">
                      发表于<a href=""  class="a">&nbsp;<%= b.bcolumn%>&nbsp;</a>栏目
                    </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2"><p class="back"></p></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </td>
      <td class="side-tip">
        <div class="tip">
          <li  class="widget-container">
            <h3>目录</h3>
            <ul>
              <li>
                <a href="/blog/index" class="a">博客</a>
                <ul>
                  <li><a href="/blog/blogbankfinance" class="a">银行理财产品</a></li>
                  <li><a href="/blog/blogbusinesslife" class="a">创业人生</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </div>
      </td>
    </tr>
  </table>
</div>