<%= stylesheet_link_tag "blog.css" %>

<div  class='main-content'>
  <table class="body-container" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content">
        <table class="content-table" id="blog">
          <tbody>
          <tr>
            <td class="left-cell">
              <!-- JiaThis Button BEGIN -->
              <div class="jiathis_share_slide jiathis_share_32x32" id="jiathis_share_slide">
                <div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
                <div class="jiathis_share_slide_inner">
                  <div class="jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_renren"></a>
                    <a class="jiathis_button_kaixin001"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <script type="text/javascript">
                        var jiathis_config = {
                            slide:{
                                pos:'left'
                            }
                        };
                    </script>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1355305943396412" charset="utf-8"></script>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_slide.js" charset="utf-8"></script>
                  </div></div></div>
              <!-- JiaThis Button END -->
              <!-- UJian Button BEGIN -->
              <script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide"></script>
              <!-- UJian Button END -->
            </td>
            <td class="post-cell">
              <h2 class="entry-title post"><%= @bloginfo[0]%></h2>
              <div class="eday"><a href="" class="a"><%= @bloginfo[1]%></a>&nbsp;发表于&nbsp;<a href="" class="a"><%= @bloginfo[2]%></a></div>
              <div class="article">
                <p><img class="alignleft size-medium "  src="/assets/<%= @bloginfo[5]%>">
                  <%= @bloginfo[3]%>
                </p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td class="side-tip">
        <div class="tip">
          <li  class="widget-container">
            <h3>目录</h3>
            <ul>
              <li>
                <a href="/blog/index" class="a">博客</a>
                <ul>
                  <li><a href="/blog/blogbankfinance" class="a">银行理财产品</a></li>
                  <li><a href="/blog/blogbusinesslife" class="a">创业人生</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </div>
      </td>
    </tr>
  </table>
</div>