<%= stylesheet_link_tag "faary.css" %>

<%= form_for(@noriskmessage,:html=>{:class=>"iform"}) do |f| %>

<div id="imessageOK">Thank you! Message Sent!</div>
<div id="imessageERROR">ERROR: Message Not Sent!</div>
<ul>
<!-- <li class="iheader">论坛留言</li> -->
<!-- <li><%= f.label :标题： %><%= f.text_field :title,:class=>"itext" %></li> -->
<li><%= f.label :内容： %><%= f.text_area :body ,:class=>"itextarea" %></li>
<li><%= f.submit :value=>"发表评论",:class=>"ibutton" %></li>
<br />
<li class="iseparator">&nbsp;</li>
</ul>
<% end %>