<%= stylesheet_link_tag "faary.css" %>

<%= form_tag do %>

<% end %>

<%= form_for(@noriskmessage,:html=>{:class=>"iform"}) do |f| %>

<div id="imessageOK">Thank you! Message Sent!</div>
<div id="imessageERROR">ERROR: Message Not Sent!</div>
<ul>
<!-- <li class="iheader">论坛留言</li> -->
<!-- <li><%= f.label :"标题：" %><%= f.text_field :title,:class=>"itext" %></li> -->
<li><%= f.text_area :body ,:class=>"itextarea" ,:style=>"resize:none"%></li>

<li class="tijiaor"><input id="ie67bug" class="tijiao1" type="submit" value="提交" name="commit"></li>
<br />

</ul>

<% end %>
<script type="text/javascript">
  var Sys = {};
  var ua = navigator.userAgent.toLowerCase();
  if (window.ActiveXObject)
      Sys.ie = ua.match(/msie ([\d.]+)/)[1];
  if(Sys.ie!=7&&Sys.ie!=6){
      document.getElementById("ie67bug").className="tijiao1"
  }
  </script>