  <%= stylesheet_link_tag "faary.css" %>

  <%= will_paginate @noriskmessages , :previous_label => "上一页", :next_label => "下一页"%>
  <% @noriskmessages.each do |noriskmessage|  %>
  <div id = "norisknewmessagedisplay">
  <!--标题：<%= noriskmessage.title %><br><br>  -->
  <p><%= noriskmessage.name %> 说：</p>
     <div style="margin:0;padding-left:40px">
  <p><%= noriskmessage.body %> </p>
     </div>
  <% if @webusername==noriskmessage.name||  @webusername=="administrator" %>
      <div style="margin:0px 0px 10px 400px;white-space:nowrap;float:right">
      <%= link_to "编辑", edit_noriskmessage_path(noriskmessage) %>
      </div>
  <% end %>
  <br />
  <hr>
  </div>
  <% end %>
  <%= will_paginate @noriskmessages , :previous_label => "上一页", :next_label => "下一页"%>

  <!--
  <div style="margin:10px 0px 10px 350px;">
  <button type="submit" onclick="location.reload()">刷新评论</button>
  </div>
  -->

