<!--
<h2><p id="notice"><%= @noriskmessage.name %>，<%= notice %></p></h2>

<p>
  <b>标题:</b>
  <%= @noriskmessage.title %>
</p>

<p>
  <b>内容:</b>
  <%= @noriskmessage.body %>
</p>
-->
<% if notice=="您的评论已经修改成功。"%>
<%= link_to "返回", :controller =>"noriskmessages",:action =>"index"%>
<% else%>
<script type="text/javascript">
    parent.frames['iframe_index'].document.location.reload()
</script>
<%= link_to "返回", :controller =>"noriskmessages",:action =>"new"%>
<% end%>