<%= javascript_include_tag "Date.js" %>
<%= javascript_include_tag "Hashtable.js" %>

<!-- top button -->
 
 <!--
 <% if @webuser!=nil%>
 <div class="buttonbars">
 <div id = "annualreturnbutton">
      <%= button_to "设置期望年化收益率",:controller=>"strategy" ,:action=>"userreturnrate"%>
 </div>
 </div>
 <% end %>
-->
 <% if @webuser==nil %>
	<br />
    <%= button_to "请先登录",:controller=>"sessions" ,:action=>"new" %>
<% else %>
<!--
<div class="ironbars">
     <div id = "norisktitle"><h3>符合您年化收益率的行情记录</h3></div>
</div>
-->
<script type="text/javascript">
    function pageBeforeunload(evt){
         return '系统正在为您实时计算符合您年化收益率的交易机会，您一旦离开该页面，系统将无法为您服务，您真的确定要离开吗？';
    }
</script>
<h2>个性化设置 - 无风险套利 </h2>
<div id="showchart">
</div>

<br />
<h2>个性化交易 - 无风险套利 </h2>
    <div id="showtime"></div>
    <% if @webuser.level==0%>
        <h2>您还不是收费用户，不能查看个性化交易。</h2>
        <% else %>
    <div id="rtpricetable_user"></div>
<% end %>
<% end %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
    var Sys = {};
    var ua = navigator.userAgent.toLowerCase();
    if (window.ActiveXObject)
        Sys.ie = ua.match(/msie ([\d.]+)/)[1];
    if(Sys.ie<9){
        document.getElementById("showchart").innerHTML="<br>精确计算套利成本→<a href='../usermanagement/trademanageindex'><font size='3'> 手续费等设置</font></a>→<a href='userreturnrate'><font size='3'>年化收益率设置</font></a>→<a href='shownorisk'><font size='3'>查看符合您的交易机会</font></a>";
    }
    else{
        document.getElementById("showchart").innerHTML=
                "	<br /><svg height='300' width='1024' xmlns='http://www.w3.org/2000/svg'>" +
                        "<marker id='bigArrow' viewBox='0 0 20 20' refX='0' refY='10'  markerUnits='strokeWidth' markerWidth='3' markerHeight='10' orient='auto'>" +
                        "<path d='M 0 0 L 20 10 L 0 20 z' fill='purple' stroke='black'/>" +
                        "</marker>" +
                        "<rect x='110' y='10' width='120' height='40' rx='10' ry='10'" +
                        "style='fill:lightgrey'/>" +
                        " <text x='120' y='35' font-size='12'>精确计算套利成本</text>" +
                        "<g id='chart' stroke='purple' stroke-width='3' fill='none'" +
                        " marker-end='url(#bigArrow)' >" +
                        "<path d='M 170 50 l 0 20' />" +
                        "</g>" +
                        "<a xlink:href='../usermanagement/trademanageindex'>" +
                        "<rect x='110' y='80' width='120' height='40' rx='10' ry='10'" +
                        "style='fill:lightgrey'/>" +
                        "<text x='140' y='105' font-size='12'>个性化设置</text>" +
                        "</a>" +
                        "<g id='chart' stroke='purple' stroke-width='3' fill='none'" +
                        " marker-end='url(#bigArrow)' >" +
                        "<path d='M 170 120 l 30 30' />" +
                        "</g>" +
                        "<rect x='250' y='10' width='120' height='40' rx='10' ry='10'" +
                        "style='fill:lightgrey'/>" +
                        "<text x='260' y='35' font-size='12'>通用计算套利成本</text>" +
                        "<g id='chart' stroke='purple' stroke-width='3' fill='none'" +
                        "marker-end='url(#bigArrow)' >" +
                        "<path d='M 310 50 l 0 20' />" +
                        "</g>" +
                        "<a xlink:href='../tradeinfo/todayinfo'>" +
                        "<rect x='250' y='80' width='120' height='40' rx='10' ry='10'" +
                        "style='fill:lightgrey'/>" +
                        "<text x='275' y='105' font-size='12'>查看默认设置</text>" +
                        "</a>" +
                        "<g id='chart' stroke='purple' stroke-width='3' fill='none'" +
                        "marker-end='url(#bigArrow)' >" +
                        " <path d='M 310 120 l -30 30' />" +
                        "</g>" +
                        " <a xlink:href='userreturnrate'>" +
                        "<rect x='180' y='158' width='120' height='40' rx='10' ry='10'" +
                        "style='fill:lightgrey'/>" +
                        "<text x='195' y='185' font-size='12'>年化收益率设置</text>" +
                        "</a>" +
                        "<g id='chart' stroke='purple' stroke-width='3' fill='none'" +
                        "marker-end='url(#bigArrow)' >" +
                        "<path d='M 240 198 l 0 20' />" +
                        " </g>" +
                        " <a xlink:href='shownorisk'>" +
                        " <rect x='180' y='228' width='120' height='40' rx='10' ry='10'" +
                        "style='fill:lightgrey'/>" +
                        "<text x='180' y='250' font-size='12'>查看符合您的交易机会</text>" +
                        "</a>" +
                        "</svg>"
    }
</script>
<script type="text/javascript">
    //table data storage (2D array)
    var tabledata_user= new Array([0,0,0,0,0,0]);
    var tabledata_user_f= new Array([0,0,0,0,0,0]);
    tabledata_user=[];
    tabledata_user_f=[];
    //xml array
    var xml_arr=new Array();
    var rtxml_arr=new Array();
    //click action
    var hash_click = new Hashtable();
    var hash_post = new Hashtable();
    var note_flag = new Array();
    function  myclick(s){
       // alert(hash_click.items(s));
        $(document).ready(function(){
          var content = hash_click.items(s);
          var title = '<div class="header"><center>详细信息</center></div>';
         noty({layout : 'topLeft', theme : 'noty_theme_growl', type : 'information',text: title+content,timeout : false });
        });
    }
    function  myclick_post(s)
    {
        var name=hash_post.items(s)[0].replace(/-/,"&");
        if(name.charCodeAt(0)>=65 && name.charCodeAt(0)<=90)
           name="SPD "+name
        else
           name="SP "+name
        $.post("personaltrading", { name: name,disprice:hash_post.items(s)[1] } );
        //alert("套利合约对名："+name+" .最新价差："+hash_post.items(s)[1])
    }
    function  myclick_post_s(s)
    {
        var name=hash_post.items(s)[0].replace(/-/,"&");
        if(name.charCodeAt(0)>=65 && name.charCodeAt(0)<=90)
           name="SPD "+name
        else
           name="SP "+name
        $.post("personaltrading", { name_s: name } );
        //alert("套利合约对名："+name)
    }
    var funds_c = new Array();
    var returnrate_current = new Array();
    //stg010001
    var hash_stg010001 = new Hashtable();
    <% for i in 0..@stg010001.size-1 do%>
        hash_stg010001.add('<%= @stg010001[i].pairname%>',['<%= @stg010001[i].username%>',
            '<%= @stg010001[i].time.strftime("%Y/%m/%d %H:%M:%S")%>','<%= @stg010001[i].time.strftime("%Y-%m-%d")%>',
            <%= @stg010001[i].returnrate%>,<%= @stg010001[i].firstprice%>,<%= @stg010001[i].secondprice%>,
            <%= @stg010001[i].firstmarginrate%>,<%= @stg010001[i].secondmarginrate%>,<%= @stg010001[i].vatfee%>,
            <%= @stg010001[i].storageday%>,<%= @stg010001[i].storagedailyfee%>,<%= @stg010001[i].storagefee%>,
            <%= @stg010001[i].deliverchargebyhand%>,<%= @stg010001[i].deliverfee%>,<%= @stg010001[i].tradecharge%>,
            <%= @stg010001[i].computetransfee%>,<%= @stg010001[i].lendrate%>,<%= @stg010001[i].D1%>,
            <%= @stg010001[i].tradeunit%>,<%= @stg010001[i].trademarginfee%>,<%= @stg010001[i].delivermarginfee%>,
            <%= @stg010001[i].vatrate%>])
    <% end%>
    //define
    var hash_notes = new Hashtable();
    var computearbfee = new Array();
    var computetransfee = new Array();
    var computerateofreturn = new Array();
    var funds = new Array();
    var delivermarginfee = new Array();
    var trademarginfee = new Array();
    var storagefee = new Array();
    var deliverfee = new Array();
    var vatfee = new Array();
    //hash table
    var hash_db = new Hashtable();
    <% for i in 0..@dbnum-1 do%>
        hash_db.add('<%= @db[i].commodityid%>',[<%= @db[i].lendrate%>,<%= @db[i].tradecharge%>,<%= @db[i].trademargingap%>,<%= @db[i].tradechargetype%>]);
    <% end%>
    var hash_table = new Hashtable();
    //first
    userflag=<%= @userflag%>
    <% if @webuser!=nil&&@strategyparam!=nil%>
    var userrateofreturn = <%= @strategyparam.paramvalue%>;
    var userrateofreturn_first_flag = new Array();
    var userrateofreturn_first = new Array();
    <% end %>
    var userrateofreturn_note = new Array();
    //MKDataState
	function MKDataState(mtcounter, isgetMKData){
	  this.mtcounter = mtcounter;
	  this.isgetMKData = isgetMKData;
	}
    //formatted-num
    jQuery.fn.dataTableExt.oSort['formatted-num-asc'] = function(a,b) {
    /* Remove any formatting */
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        /* Parse and return */
        return parseFloat(x) - parseFloat(y);
    };
    jQuery.fn.dataTableExt.oSort['formatted-num-desc'] = function(a,b) {
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        return parseFloat(y) - parseFloat(x);
    };
    $.ajaxSetup({
        cache: false
    });
    function getxml(){
        $.get(document.location.href.substring(0,document.location.href.indexOf(window.document.location.pathname))+"/assets/CSpreadCostPairs.xml",function(data){
                    xml_arr=xml2array(data);
                    var elements=data.getElementsByTagName("pair");

                    for (var i = 0; i < elements.length; i++) {
                        userrateofreturn_first_flag[i]=0;
                        note_flag[i]=0;
                        userrateofreturn_note[i]=userrateofreturn;
                        hash_table.add(xml_arr['pairsattr']['pair'][i]['name'],[hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[0],hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[1],hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[2],
                            parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit']),parseFloat(xml_arr['pairsattr']['pair'][i]['vatrate']),parseFloat(xml_arr['pairsattr']['pair'][i]['deliverchargebyhand']),
                            parseFloat(xml_arr['pairsattr']['pair'][i]['storagedailyfee']),parseFloat(xml_arr['pairsattr']['pair'][i]['D2']),parseFloat(xml_arr['pairsattr']['pair'][i]['D1']),
                            parseFloat(xml_arr['pairsattr']['pair'][i]['firstmarginrate']),parseFloat(xml_arr['pairsattr']['pair'][i]['secondmarginrate']),parseFloat(xml_arr['pairsattr']['pair'][i]['issinglemargin']),
                            parseFloat(xml_arr['pairsattr']['pair'][i]['productid'].substr(7,1)),hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[3]
                        ]);
                    }
                        getAjax();
        });
    }
     function getAjax(){
         $.get(document.location.href.substring(0,document.location.href.indexOf(window.document.location.pathname))+"/assets/CSpreadCostStrRunOnTime.xml",function(data){
                     rtxml_arr=xml2array(data);
                     var elements=data.getElementsByTagName("pair");
						 if(elements.length!=0){
							 for (var i = 0; i < elements.length; i++) {
                                 vatfee[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]
                                         *hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]/(1+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]);
                                             //交割费用
                                 deliverfee[i]=hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]*2;
                                             //存储费用
                                 storagefee[i]=hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[6]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])
                                             //交易费用
                                 if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]==1){
                                 computetransfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[1]*2;
                                 }
                                 else
                                 computetransfee[i]=hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[1]*2;
                                             //总资金
                                 funds[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])+(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3];
                                             //交易保证金占用成本
                                 if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]==1){
                                     trademarginfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]/365
                                             +parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])/365;
                                     funds_c[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3];
                                             }
                             else{
                                     trademarginfee[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])+parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])
                                             *hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2]))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]/365
                                             +parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])/365;
                                     funds_c[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]
                                             +parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3];
                                             }
                                             //默认交割保证金占用成本
                                 delivermarginfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])/365;
                                 computearbfee[i] = storagefee[i]+deliverfee[i]+trademarginfee[i]+delivermarginfee[i]+vatfee[i]+computetransfee[i];
                             //年化收益率计算
                         computerateofreturn[i]=((parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']))
                                     *hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]-computearbfee[i])*365/(funds[i]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7])
							}
                             //user table
                             if(userflag!=0){
                             for (var i = 0; i < elements.length; i++){
                                 // db set
                                 if(computerateofreturn[i]>userrateofreturn_note[i] && userrateofreturn_first_flag[i]==0){
                                     //userrateofreturn_first_flag[i]=1;
                                     userrateofreturn_first[i]=computerateofreturn[i];
                                     var datatime=new Date() ;
                                 hash_notes.add(i,[datatime.format("yyyy/MM/dd hh:mm:ss"),datatime,vatfee[i],
                                     parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']),parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice']),hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2],hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2],
                                     (hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]),hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[6],storagefee[i],
                                     hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5],deliverfee[i],hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[1], computetransfee[i],hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0],
                                     hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8],hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3],trademarginfee[i],delivermarginfee[i],hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]]);
                                     if(hash_stg010001.count()==0){
                                         if(confirm("套利对"+rtxml_arr['pairstrade']['pair'][i]['name']+"是否记录？"+"时间："+hash_notes.items(i)[0])){
                                             note_flag[i]=1;
                                             userrateofreturn_first_flag[i]=1;
                                         $.get("personaltrading", { pairname_p: rtxml_arr['pairstrade']['pair'][i]['name'], returnrate_p: userrateofreturn_first[i],
                                             firstprice_p:hash_notes.items(i)[3],secondprice_p:hash_notes.items(i)[4], firstmarginrate_p:hash_notes.items(i)[5], secondmarginrate_p:hash_notes.items(i)[6],vatfee_p:hash_notes.items(i)[2],
                                             storageday_p:hash_notes.items(i)[7],storagedailyfee_p:hash_notes.items(i)[8],storagefee_p:hash_notes.items(i)[9],deliverchargebyhand_p:hash_notes.items(i)[10],deliverfee_p:hash_notes.items(i)[11],
                                             tradecharge_p:hash_notes.items(i)[12], computetransfee_p:hash_notes.items(i)[13],lendrate_p:hash_notes.items(i)[14],D1_p:hash_notes.items(i)[15], tradeunit_p:hash_notes.items(i)[16],
                                             trademarginfee_p:hash_notes.items(i)[17],delivermarginfee_p:hash_notes.items(i)[18], vatrate_p:hash_notes.items(i)[19] } );
                                     }
                                     else{
                                             userrateofreturn_note[i]=computerateofreturn[i];
                                             hash_notes.remove(i);
                                         }
                                     }
                                     else{
                                         if(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])==null){
                                             if(confirm("套利对"+rtxml_arr['pairstrade']['pair'][i]['name']+"是否记录？"+"时间："+hash_notes.items(i)[0])){
                                                 note_flag[i]=1;
                                                 userrateofreturn_first_flag[i]=1;
                                             $.get("personaltrading", { pairname_p: rtxml_arr['pairstrade']['pair'][i]['name'], returnrate_p: userrateofreturn_first[i],
                                                 firstprice_p:hash_notes.items(i)[3],secondprice_p:hash_notes.items(i)[4], firstmarginrate_p:hash_notes.items(i)[5], secondmarginrate_p:hash_notes.items(i)[6],vatfee_p:hash_notes.items(i)[2],
                                                 storageday_p:hash_notes.items(i)[7],storagedailyfee_p:hash_notes.items(i)[8],storagefee_p:hash_notes.items(i)[9],deliverchargebyhand_p:hash_notes.items(i)[10],deliverfee_p:hash_notes.items(i)[11],
                                                 tradecharge_p:hash_notes.items(i)[12], computetransfee_p:hash_notes.items(i)[13],lendrate_p:hash_notes.items(i)[14],D1_p:hash_notes.items(i)[15], tradeunit_p:hash_notes.items(i)[16],
                                                 trademarginfee_p:hash_notes.items(i)[17],delivermarginfee_p:hash_notes.items(i)[18], vatrate_p:hash_notes.items(i)[19] } );
                                             }
                                              else{
                                                 userrateofreturn_note[i]=computerateofreturn[i];
                                                 hash_notes.remove(i);
                                             }
                                         }
                                     }
                                  }
                             }
                             //show set
                             if(hash_stg010001.count()==0){
                                 var got_current=new Array();
                                 for (var i = 0; i < elements.length; i++){
                                 if((computerateofreturn[i]>userrateofreturn_note[i]|| userrateofreturn_first[i]>userrateofreturn_note[i])&&note_flag[i]==1){
                                     hash_post.add(i,[rtxml_arr['pairstrade']['pair'][i]['name'],parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])]);
                                     var trademarginfee_click_s;
                                     var cost_fund_s;
                                     var tradecharge_click_s;
                                     if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]==1){
                                         tradecharge_click_s="手续费用:"+hash_notes.items(i)[13].toFixed(1)+"=远期合约价格:"+hash_notes.items(i)[4]+"*单位数目:"+hash_notes.items(i)[16]+"*每手手续费比例:"+hash_notes.items(i)[12]+"*2<br>"
                                     }
                                     else
                                         tradecharge_click_s="手续费用:"+hash_notes.items(i)[13].toFixed(1)+"=每手手续费:"+hash_notes.items(i)[12]+"*2<br>";
                                     if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]==1){
                                         trademarginfee_click_s= "交易保证金费用:"+hash_notes.items(i)[17].toFixed(1)+"=近期合约价格:"+hash_notes.items(i)[3]+"*交易单位:"+hash_notes.items(i)[16]+"*近期合约保证金比例:"+hash_notes.items(i)[5]+"*贷款利率:"+hash_notes.items(i)[14]+"*近期距离交割天数:"+hash_notes.items(i)[15]+"/365"
                                             +"+远期合约价格:"+hash_notes.items(i)[4]+"*交易单位:"+hash_notes.items(i)[16]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+"*贷款利率:"+hash_notes.items(i)[14]+"*存储天数:"+hash_notes.items(i)[7]+"/365<br>"
                                         cost_fund_s="=下单时远期合约价格:"+hash_notes.items(i)[4]+"*下单时远期合约保证金比例:"+ hash_notes.items(i)[6]+"*单位交易数目:"+hash_notes.items(i)[16];
                                     }
                                     else{
                                         trademarginfee_click_s= "交易保证金费用:"+hash_notes.items(i)[17].toFixed(1)+"=[(近期合约价格:"+hash_notes.items(i)[3]+"*交易单位:"+hash_notes.items(i)[16]+"*近期合约保证金比例:"+hash_notes.items(i)[5]
                                             +"+远期合约价格:"+hash_notes.items(i)[4]+"*交易单位:"+hash_notes.items(i)[16]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+")*贷款利率:"+hash_notes.items(i)[14]+"*近期距离交割天数:"+hash_notes.items(i)[15]+"/365]"
                                             +"+[远期合约价格:"+hash_notes.items(i)[4]+"*交易单位:"+hash_notes.items(i)[16]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+"*贷款利率:"+hash_notes.items(i)[14]+"*存储天数:"+hash_notes.items(i)[7]+"/365]<br>"
                                         cost_fund_s="=下单时远期合约价格:"+hash_notes.items(i)[4]+"*下单时远期合约保证金比例:"+ hash_notes.items(i)[6]+"*单位交易数目:"+hash_notes.items(i)[16]+"+下单时近期合约价格:"+hash_notes.items(i)[3]+"*下单时近期合约保证金比例:"+hash_notes.items(i)[5]+"*单位交易数目:"+hash_notes.items(i)[16];
                                     }
                                     var costfee_s=hash_notes.items(i)[9]+hash_notes.items(i)[11]+hash_notes.items(i)[13]+hash_notes.items(i)[2]+hash_notes.items(i)[18]+hash_notes.items(i)[17];
                                     var income_s=(hash_notes.items(i)[4]-hash_notes.items(i)[3])*hash_notes.items(i)[16]-costfee_s;
                                     var putfund_s=((hash_notes.items(i)[3]+hash_notes.items(i)[4]*hash_notes.items(i)[6])*hash_notes.items(i)[16]).toFixed(1);
                                     got_current[i]=(hash_notes.items(i)[4]-hash_notes.items(i)[3]-(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3];
                                     returnrate_current[i]=(got_current[i]/funds_c[i]);
                                     hash_click.add(i,["合约名："+rtxml_arr['pairstrade']['pair'][i]['name']+"<br>一、套利成本计算：<br> 存储费用:"+hash_notes.items(i)[9].toFixed(1)+"=存储天数:"+hash_notes.items(i)[7]+"*日存储费用:"+hash_notes.items(i)[8]
                                         +"<br>交割手续费:"+hash_notes.items(i)[11]+"=每手交割手续费:"+hash_notes.items(i)[10]+"*2<br>"
                                         +tradecharge_click_s
                                         +"增值税费用:"+hash_notes.items(i)[2].toFixed(1)+"=(远期合约价格:"+hash_notes.items(i)[4]+"-近期合约价格:"+hash_notes.items(i)[3]+")*"+"交易单位:"+hash_notes.items(i)[16]+"*增值税率:"+hash_notes.items(i)[19]+"/(1+增值税率:"+hash_notes.items(i)[19]+")<br>"
                                         +"交割保证金费用:"+hash_notes.items(i)[18].toFixed(1)+"=近期合约价格:"+hash_notes.items(i)[3]+"*交易单位:"+hash_notes.items(i)[16]+"*贷款利率:"+hash_notes.items(i)[14]+"*存储天数:"+hash_notes.items(i)[7]+"/365<br>"
                                         +trademarginfee_click_s+"套利成本:"+costfee_s+"=存储费用:"+hash_notes.items(i)[9].toFixed(1)+"+交割手续费:"+hash_notes.items(i)[11]+"+手续费用:"+hash_notes.items(i)[13].toFixed(1)+"+增值税费用:"+hash_notes.items(i)[2].toFixed(1)+"+交割保证金费用:"+hash_notes.items(i)[18].toFixed(1) +"+交易保证金费用:"+hash_notes.items(i)[17].toFixed(1)
                                         +"<br>二、保本收益率计算：<br>"+"总收入"+income_s+"=(远期合约价格:"+hash_notes.items(i)[4]+"-近期合约价格:"+hash_notes.items(i)[3]+")*交易单位:"+hash_notes.items(i)[16]+"-套利成本:"+costfee_s
                                         +"<br>投入资金:"+putfund_s+"=(近期合约价格:"+hash_notes.items(i)[3]+"+远期合约价格:"+hash_notes.items(i)[4]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+")*交易单位:"+hash_notes.items(i)[16]
                                         +"<br>保本收益率:"+(userrateofreturn_first[i]*100).toFixed(1)+"%=(总收入:"+income_s+"-套利成本:"+costfee_s+")/投入资金"+putfund_s+"*365/远期距离交割天数:"+(hash_notes.items(i)[7]+hash_notes.items(i)[15])
                                         +"<br>三、当前盈利额计算：<br>当前盈利额:"+got_current[i]+"=((下单时远期价格:"+hash_notes.items(i)[4]+"-下单时近期价格:"+hash_notes.items(i)[3]+")+(当前远期合约价格:"+parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])+"- 当前近期合约价格:"+parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])+")*单位交易数目:"+hash_notes.items(i)[16]
                                         +"<br>四、当前所费资金量计算:<br>当前所费资金量:"+funds_c[i]+cost_fund_s+"<br>五、当前收益率计算:<br>当前收益率:"+(returnrate_current[i]*100).toFixed(1)+"%=(当前盈利额:"+got_current[i]+"/当前所费资金量:"+funds_c[i]+")*100%"]);
                                     tabledata_user[i]=[rtxml_arr['pairstrade']['pair'][i]['name'],(userrateofreturn_first[i]*100).toFixed(1)+"%",hash_notes.items(i)[0],got_current[i],
                                         (returnrate_current[i]*100).toFixed(1)+"%",'<a href="#" onclick="myclick('+i+')">查看</a>'+'  '+'<a href="#" onclick="myclick_post('+i+')">下单</a>'+'  '+'<a href="#" onclick="myclick_post_s('+i+')">订单查询</a>'];
                                 }
                             }
                             }
                             //not empty
                             else{
                                 var got_current=new Array();
                                 var got_current_db=new Array();
                                 for (var i = 0; i < elements.length; i++){
                                     if(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])!=null){
                                         var trademarginfee_click;
                                         var cost_fund;
                                         var tradecharge_click;
                                         if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]==1){
                                             tradecharge_click="手续费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[15]+"=远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"*单位数目:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*每手手续费比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[14]+"*2<br>"
                                         }
                                         else
                                             tradecharge_click="手续费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[15]+"=每手手续费:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[14]+"*2<br>";
                                         if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]==1){
                                             trademarginfee_click= "交易保证金费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[19]+"=近期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+"*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*近期合约保证金比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[6]+"*贷款利率:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[16]+"*近期距离交割天数:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[17]+"/365"
                                                 +"+远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*远期合约保证金比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]+"*贷款利率:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[16]+"*存储天数:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+"/365<br>"
                                             cost_fund="=下单时远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"*下单时远期合约保证金比例:"+ hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*单位交易数目:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7];
                                         }
                                         else{
                                             trademarginfee_click= "交易保证金费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[19]+"=[(近期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+"*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*近期合约保证金比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[6]
                                                 +"+远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*远期合约保证金比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]+")*贷款利率:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[16]+"*近期距离交割天数:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[17]+"/365]"
                                                 +"+[远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*远期合约保证金比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]+"*贷款利率:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[16]+"*存储天数:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+"/365]<br>"
                                             cost_fund="=下单时远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"*下单时远期合约保证金比例:"+ hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]+"*单位交易数目:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"+下单时近期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+"*下单时近期合约保证金比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[6]+"*单位交易数目:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18];
                                         }
                                         var costfee=hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[15]+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[20]+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[19];
                                         var income=(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]-hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4])*hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]-costfee;
                                         var putfund=((hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]*hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7])*hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]).toFixed(1);
                                             got_current_db[i]=(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]-hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]-(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3];
                                             returnrate_current[i]=(got_current_db[i]/funds_c[i]);
                                         hash_click.add(i,["合约名："+rtxml_arr['pairstrade']['pair'][i]['name']+"<br>一、套利成本计算：<br> 存储费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]+"=存储天数:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+"*日存储费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]
                                             +"<br>交割手续费:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]+"=每手交割手续费:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[12]+"*2<br>"
                                             +tradecharge_click
                                             +"增值税费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]+"=(远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"-近期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+")*"+"交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*增值税率:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[21]+"/(1+增值税率:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[21]+")<br>"
                                             +"交割保证金费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[20]+"=近期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+"*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"*贷款利率:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[16]+"*存储天数:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+"/365<br>"
                                             +trademarginfee_click+"套利成本:"+costfee+"=存储费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]+"+交割手续费:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]+"+手续费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[15]+"+增值税费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]+"+交割保证金费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[20] +"+交易保证金费用:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[19]
                                             +"<br>二、保本收益率计算：<br>"+"总收入"+income+"=(远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"-近期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+")*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]+"-套利成本:"+costfee
                                             +"<br>投入资金:"+putfund+"=(近期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+"+远期合约价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"*远期合约保证金比例:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]+")*交易单位:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]
                                             +"<br>保本收益率:"+(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*100).toFixed(1)+"%=(总收入:"+income+"-套利成本:"+costfee+")/投入资金"+putfund+"*365/远期距离交割天数:"+(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[17])
                                             +"<br>三、当前盈利额计算：<br>当前盈利额:"+got_current_db[i]+"=((下单时远期价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]+"-下单时近期价格:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]+")+(当前远期合约价格:"+parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])+"- 当前近期合约价格:"+parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])+")*单位交易数目:"+hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[18]
                                             +"<br>四、当前所费资金量计算:<br>当前所费资金量:"+funds_c[i]+cost_fund+"<br>五、当前收益率计算:<br>当前收益率:"+(returnrate_current[i]*100).toFixed(1)+"%=(当前盈利额:"+got_current_db[i]+"/当前所费资金量:"+funds_c[i]+")*100%"]);
                                         hash_post.add(i,[rtxml_arr['pairstrade']['pair'][i]['name'],parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])]);
                                             tabledata_user[i]=[rtxml_arr['pairstrade']['pair'][i]['name'],(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*100).toFixed(1)+"%",hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])[1],got_current_db[i],
                                                 (returnrate_current[i]*100).toFixed(1)+"%" ,'<a href="#showchart" onclick="myclick('+i+')">查看</a>'+'  '+'<a href="#" onclick="myclick_post('+i+')">下单</a>'+'  '+'<a href="#" onclick="myclick_post_s('+i+')">订单查询</a>']
                                     }
                                 }
                                 //rebuild
                                 for (var i = 0; i < elements.length; i++){
                                     if((computerateofreturn[i]>userrateofreturn_note[i]|| userrateofreturn_first[i]>userrateofreturn_note[i])&&note_flag[i]==1){
                                         if(hash_stg010001.items(rtxml_arr['pairstrade']['pair'][i]['name'])==null){
                                             hash_post.add(i,[rtxml_arr['pairstrade']['pair'][i]['name'],parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])]);
                                             var trademarginfee_click_sn;
                                             var cost_fund_sn;
                                             var tradecharge_click_sn;
                                             if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]==1){
                                                 tradecharge_click_sn="手续费用:"+hash_notes.items(i)[13].toFixed(1)+"=远期合约价格:"+hash_notes.items(i)[4]+"*单位数目:"+hash_notes.items(i)[16]+"*每手手续费比例:"+hash_notes.items(i)[12]+"*2<br>"
                                             }
                                             else
                                                 tradecharge_click_sn="手续费用:"+hash_notes.items(i)[13].toFixed(1)+"=每手手续费:"+hash_notes.items(i)[12]+"*2<br>";
                                             if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]==1){
                                                 trademarginfee_click_sn= "交易保证金费用:"+hash_notes.items(i)[17].toFixed(1)+"=近期合约价格:"+hash_notes.items(i)[3]+"*交易单位:"+hash_notes.items(i)[16]+"*近期合约保证金比例:"+hash_notes.items(i)[5]+"*贷款利率:"+hash_notes.items(i)[14]+"*近期距离交割天数:"+hash_notes.items(i)[15]+"/365"
                                                     +"+远期合约价格:"+hash_notes.items(i)[4]+"*交易单位:"+hash_notes.items(i)[16]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+"*贷款利率:"+hash_notes.items(i)[14]+"*存储天数:"+hash_notes.items(i)[7]+"/365<br>"
                                                 cost_fund_sn="=下单时远期合约价格:"+hash_notes.items(i)[4]+"*下单时远期合约保证金比例:"+ hash_notes.items(i)[6]+"*单位交易数目:"+hash_notes.items(i)[16];
                                             }
                                             else{
                                                 trademarginfee_click_sn= "交易保证金费用:"+hash_notes.items(i)[17].toFixed(1)+"=[(近期合约价格:"+hash_notes.items(i)[3]+"*交易单位:"+hash_notes.items(i)[16]+"*近期合约保证金比例:"+hash_notes.items(i)[5]
                                                     +"+远期合约价格:"+hash_notes.items(i)[4]+"*交易单位:"+hash_notes.items(i)[16]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+")*贷款利率:"+hash_notes.items(i)[14]+"*近期距离交割天数:"+hash_notes.items(i)[15]+"/365]"
                                                     +"+[远期合约价格:"+hash_notes.items(i)[4]+"*交易单位:"+hash_notes.items(i)[16]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+"*贷款利率:"+hash_notes.items(i)[14]+"*存储天数:"+hash_notes.items(i)[7]+"/365]<br>"
                                                 cost_fund_sn="=下单时远期合约价格:"+hash_notes.items(i)[4]+"*下单时远期合约保证金比例:"+ hash_notes.items(i)[6]+"*单位交易数目:"+hash_notes.items(i)[16]+"+下单时近期合约价格:"+hash_notes.items(i)[3]+"*下单时近期合约保证金比例:"+hash_notes.items(i)[5]+"*单位交易数目:"+hash_notes.items(i)[16];
                                             }
                                             var costfee_sn=hash_notes.items(i)[9]+hash_notes.items(i)[11]+hash_notes.items(i)[13]+hash_notes.items(i)[2]+hash_notes.items(i)[18]+hash_notes.items(i)[17];
                                             var income_sn=(hash_notes.items(i)[4]-hash_notes.items(i)[3])*hash_notes.items(i)[16]-costfee_sn;
                                             var putfund_sn=((hash_notes.items(i)[3]+hash_notes.items(i)[4]*hash_notes.items(i)[6])*hash_notes.items(i)[16]).toFixed(1);
                                             got_current[i]=(hash_notes.items(i)[4]-hash_notes.items(i)[3]-(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3];
                                             returnrate_current[i]=(got_current[i]/funds_c[i]);
                                             hash_click.add(i,["合约名："+rtxml_arr['pairstrade']['pair'][i]['name']+"<br>一、套利成本计算：<br> 存储费用:"+hash_notes.items(i)[9].toFixed(1)+"=存储天数:"+hash_notes.items(i)[7]+"*日存储费用:"+hash_notes.items(i)[8]
                                                 +"<br>交割手续费:"+hash_notes.items(i)[11]+"=每手交割手续费:"+hash_notes.items(i)[10]+"*2<br>"
                                                 +tradecharge_click_sn
                                                 +"增值税费用:"+hash_notes.items(i)[2].toFixed(1)+"=(远期合约价格:"+hash_notes.items(i)[4]+"-近期合约价格:"+hash_notes.items(i)[3]+")*"+"交易单位:"+hash_notes.items(i)[16]+"*增值税率:"+hash_notes.items(i)[19]+"/(1+增值税率:"+hash_notes.items(i)[19]+")<br>"
                                                 +"交割保证金费用:"+hash_notes.items(i)[18].toFixed(1)+"=近期合约价格:"+hash_notes.items(i)[3]+"*交易单位:"+hash_notes.items(i)[16]+"*贷款利率:"+hash_notes.items(i)[14]+"*存储天数:"+hash_notes.items(i)[7]+"/365<br>"
                                                 +trademarginfee_click_sn+"套利成本:"+costfee_sn.toFixed(1)+"=存储费用:"+hash_notes.items(i)[9].toFixed(1)+"+交割手续费:"+hash_notes.items(i)[11]+"+手续费用:"+hash_notes.items(i)[13].toFixed(1)+"+增值税费用:"+hash_notes.items(i)[2].toFixed(1)+"+交割保证金费用:"+hash_notes.items(i)[18].toFixed(1) +"+交易保证金费用:"+hash_notes.items(i)[17].toFixed(1)
                                                 +"<br>二、保本收益率计算：<br>"+"总收入"+income_sn+"=(远期合约价格:"+hash_notes.items(i)[4]+"-近期合约价格:"+hash_notes.items(i)[3]+")*交易单位:"+hash_notes.items(i)[16]+"-套利成本:"+costfee_sn
                                                 +"<br>投入资金:"+putfund_sn+"=(近期合约价格:"+hash_notes.items(i)[3]+"+远期合约价格:"+hash_notes.items(i)[4]+"*远期合约保证金比例:"+hash_notes.items(i)[6]+")*交易单位:"+hash_notes.items(i)[16]
                                                 +"<br>保本收益率:"+(userrateofreturn_first[i]*100).toFixed(1)+"%=(总收入:"+income_sn+"-套利成本:"+costfee_sn+")/投入资金"+putfund_sn+"*365/远期距离交割天数:"+(hash_notes.items(i)[7]+hash_notes.items(i)[15])
                                                 +"<br>三、当前盈利额计算：<br>当前盈利额:"+got_current[i]+"=((下单时远期价格:"+hash_notes.items(i)[4]+"-下单时近期价格:"+hash_notes.items(i)[3]+")+(当前远期合约价格:"+parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])+"- 当前近期合约价格:"+parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])+")*单位交易数目:"+hash_notes.items(i)[16]
                                                 +"<br>四、当前所费资金量计算:<br>当前所费资金量:"+funds_c[i]+cost_fund_sn+"<br>五、当前收益率计算:<br>当前收益率:"+(returnrate_current[i]*100).toFixed(1)+"%=(当前盈利额:"+got_current[i]+"/当前所费资金量:"+funds_c[i]+")*100%"]);

                                             tabledata_user[hash_stg010001.count()+i]=[rtxml_arr['pairstrade']['pair'][i]['name'],(userrateofreturn_first[i]*100).toFixed(1)+"%",hash_notes.items(i)[0],got_current[i],
                                                 (returnrate_current[i]*100).toFixed(1)+"%",'<a href="#" onclick="myclick('+i+')">查看</a>'+'  '+'<a href="#" onclick="myclick_post('+i+')">下单</a>'+'  '+'<a href="#" onclick="myclick_post_s('+i+')">订单查询</a>'];
                                         }
                                     }
                                 }
                             }
                                 for(var k=0,s=0;k<tabledata_user.length;k++){
                                     if(tabledata_user[k]!=null&&tabledata_user[k][0]!=0){
                                         tabledata_user_f[s]=tabledata_user[k];
                                         s=s+1;
                                     }
                                 }
                                     $('#rtpricetable_user').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="user"></table>');
                                     $('#user').dataTable( {
                                         "aaData": tabledata_user_f,"aaSorting": [[1,"desc"]],
                                         "bPaginate": false, "bAutoWidth": false,
                                            "aoColumns": [
                                                 { "sTitle": "合约号", "sClass": "center" },
                                                 { "sTitle": "保本收益率","sType": "formatted-num", "sClass": "center" },
                                                 { "sTitle": "下单时间", "sClass": "center" },
                                                { "sTitle": "当前盈利额（每手）", "sClass": "center" },
                                                 { "sTitle": "当前收益率", "sType": "formatted-num","sClass": "center" },
                                                 { "sTitle": "操作", "sClass": "center" }
                                             ] ,
                                     "bFilter": false//"bRetrieve":true,//"bDestroy": true,//"bStateSave": true
                                         } );
                                 tabledata_user=[];
                                 tabledata_user_f=[];
                                 $("#showtime").html(new Date().format("yyyy年MM月dd日 hh时mm分ss秒"));
                             }
						};
                     setTimeout(refreshMKData,2000);} )
						}
    function refreshMKData(){
		if (g_MKDataState.isgetMKData)
		   getAjax();
		}
    function checktimeMKTime(){
           $.getJSON("shownorisk",{gettime:"gettime"},
             function (data,status){
              var str=data.substr(0,10)+" "+data.substr(11,8);
  		var servertime=new Date(str.replace(/-/g, "\/"));
		var endtime=new Date(servertime);
		if ((servertime.getDay()!=0)&&(servertime.getDay()!=6))
		{
		    if(servertime.getHours()<9){
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(5);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);
			}
			else if((servertime.getHours()<15)&&(servertime.getHours()>=9)){
				endtime.setHours(15);
				endtime.setMinutes(2);
				endtime.setSeconds(0);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=true;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);
			}else{
				endtime.setDate(servertime.getDate()+1);
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(5);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);
			}
		}else{
			endtime.setDate(servertime.getDate()+1);
			endtime.setHours(9);
			endtime.setMinutes(0);
			endtime.setSeconds(5);
			g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
			g_MKDataState.isgetMKData=false;
			setTimeout(checktimeMKTime,g_MKDataState.mtcounter);
		}
        getxml();
	})
  	}
    <% if @webuser!=nil%>
    <% if @webuser.level!=0%>
	var g_MKDataState=new MKDataState(3600000,true);
    var stream_flag=0;
	checktimeMKTime();
     setInterval(checkStat,10000);
     function checkStat(){
         $.ajax({
             url:"personaltrading",
             success:function()
             {
                 if(stream_flag==1){
                     checktimeMKTime();
                     stream_flag=0;
                 }
                 //alert("request success!");
             },
             error:function()
             {
                 stream_flag=1;
                // alert("request error!");
             }
         });
     }
    <% end %>
    <% end %>
</script>