<%= javascript_include_tag "Hashtable.js" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "xml2array.js" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>



<div class="frame_norisk">
<div class="pagedomain">
  <a onclick="showintro()" href="javascript:void(0)"><h1>无风险套利策略</h1></a>

</div>

<div id="showintro" class="login-popup" style="width: 348px;" >
<a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btnpp_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
<p>无风险套利属于跨期套利的一种，
而跨期套利是指在同一种商品不同交割月份合约之间的价差出现异常变化时，
在同一期货商品的不同合约月份建立数量相等、
方向相反的持仓如何把握主力持仓量,并以对冲或交割方式结束交易的一种操作方式。
其中参与实际仓单交割的套利就是无风险套利
，因为建立在严格的持仓成本和持仓条件基础上，
一般不会受市场行情波动的影响。当然，
满足这样条件的“无风险”同时又有稳健收益的套利机会并不多见，
一旦发生,往往会吸引资金积极参与。</p>

<p>无风险套利模型归纳为：当实际价差>套利成本时，跨期利润=实际价差-套利成本。当利润达到一定程度的时候，进行获利平仓。
  当两合约价差逆向走高时，到期可进行交割，获取稳定套利利润，达到无风险套利目的。
  当然，无风险套利的机会不可能经常出现，但一旦出现，将是一种最稳健的获取收益的方法。
</p>
</div>

<img id="norisk_leftline" src="/assets/leftline.gif" alt="noriskframe left decoration">
<img id="norisk_rightline" src="/assets/rightline.gif" alt="noriskframe right decoration">

<div class="strategyRTtitle">
    <div class="ironbars">
	<ul><li>
      <% if @webuser!=nil %>
      <% if @webuser.ctp_account==nil|| @webuser.ctp_account=="" %>
	<a href="#autotrade-box"  class="autotrade_p"> 自动化交易</a>
          <% else %>
          <a href="/autotrade/personaltrading"> 自动化交易</a>
          <% end %>
      <% else %>
      <a href="#login-box" class="login-window"> 自动化交易</a>
      <% end %>
    </li></ul></div>
  <div id="norisktitle"><h2>策略实时运行中:</h2></div>
<!--  <div id = "noriskluntan"><a href="#remarks">我想提点意见</a></div> -->
<div id=checkbox>
      <label class="label_check" for="checkbox-01"><input name="sample-checkbox-01" id="checkbox-01" value="1" type="checkbox" checked="true" onclick="mychecked_1(this)" />主力套利对</label>
      <label class="label_check" for="checkbox-02"><input name="sample-checkbox-02" id="checkbox-02" value="2" type="checkbox" onclick="mychecked_2(this)"/>逐月套利对</label>
</div>
</div>

<script type="text/javascript">
    function showintro(){
        $(document).ready(function() {

           		// Getting the variable's value from a link
           		var loginBox = "#showintro";
           		//Fade in the Popup and add close button
           		$(loginBox).fadeIn(300);

           		//Set the center alignment padding + border
           		var popMargTop = ($(loginBox).height() + 24) / 2;
           		var popMargLeft = ($(loginBox).width() + 24) / 2;

           		$(loginBox).css({
           			'margin-top' : -popMargTop,
           			'margin-left' : -popMargLeft
           		});

           		// Add the mask to body
           		$('body').append('<div id="mask"></div>');
           		$('#mask').fadeIn(300);

           		return false;
           	});

           	// When clicking on the button close or the mask layer the popup closed
           	$('a.close, #mask').live('click', function() {
           	  $('#mask , .login-popup').fadeOut(300 , function() {
           		$('#mask').remove();
           	});
           	return false;
           	});
           //
    }
    var mychecked_f=1;
    var mychecked_s;
    function mychecked_1(para){
        if(para.checked){
            mychecked_f=1
        }
        else{
            mychecked_f=0;
        }
    }
    function mychecked_2(para){
        <% if @webuser==nil%>

               // Getting the variable's value from a link
         		var loginBox = "#login-box";
                if (loginBox=="#login-box")
                clickflag="login" ;
              else
                    clickflag="regedit";
         		//Fade in the Popup and add close button
         		$(loginBox).fadeIn(300);

         		//Set the center alignment padding + border
         		var popMargTop = ($(loginBox).height() + 24) / 2;
         		var popMargLeft = ($(loginBox).width() + 24) / 2;

         		$(loginBox).css({
         			'margin-top' : -popMargTop,
         			'margin-left' : -popMargLeft
         		});

         		// Add the mask to body
         		$('body').append('<div id="mask"></div>');
         		$('#mask').fadeIn(300);
        para.checked=null;
            <% elsif @norisk_havesub!=nil &&@norisk_havesub!=-1 %>
        if(para.checked){
            mychecked_s=1;
        }
        else{
            mychecked_s=0
        }
     <% else %>
    box("#msg-box");
    para.checked=null;
        <%end%>
    }
    function setupLabel() {
        if ($('.label_check input').length) {
            $('.label_check').each(function(){
                $(this).removeClass('c_on');
            });
            $('.label_check input:checked').each(function(){
                $(this).parent('label').addClass('c_on');
            });
        };
        if ($('.label_radio input').length) {
            $('.label_radio').each(function(){
                $(this).removeClass('r_on');
            });
            $('.label_radio input:checked').each(function(){
                $(this).parent('label').addClass('r_on');
            });
        };
    };
    $(document).ready(function(){
        $('body').addClass('has-js');
        $('.label_check, .label_radio').click(function(){
            setupLabel();
        });
        setupLabel();
    });
</script>
<!-- default table -->
<div id ="rtpricetable">
</div> 
<script type="text/javascript">
    jQuery.fn.dataTableExt.oSort['formatted-num-asc'] = function(a,b) {
    /* Remove any formatting */
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        /* Parse and return */
        return parseFloat(x) - parseFloat(y);
    };
    jQuery.fn.dataTableExt.oSort['formatted-num-desc'] = function(a,b) {
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        return parseFloat(y) - parseFloat(x);
    };
    $(function(){
        $("#datatables").dataTable({
            "aaSorting": [[4,"desc"]],
            "aoColumns": [
                { "sTitle": "套利对名称", "sClass": "center" },
                { "sTitle": "近月价格", "sClass": "center" },
                { "sTitle": "近月价格", "sClass": "center" },
                { "sTitle": "成本", "sClass": "center" },
                { "sTitle": "年化收益率",  "sType": "formatted-num","sClass": "center" },
                { "sTitle": "历史时间", "sClass": "center" }
        ]
        });
    });
</script>
<div id="strategyHistorytitle">
<h2 class="wenzi"> 历史最佳套利机会: </h2></div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="datatables">
	  <tbody>
        <% @allmaxreturnrate.each do |maxreturnrate|
           if ((maxreturnrate.firstprice>0)&&(maxreturnrate.secondprice>0)) then%>
              <tr>
                <td class="center"><%= maxreturnrate.pairname %></td>
                <td class="center"><%= maxreturnrate.firstprice %></td>
                <td class="center"><%= maxreturnrate.secondprice %></td>
                <td class="center"><%= maxreturnrate.cost %></td>
                <td class="center" type="formatted-num"><%= format("%.1f",maxreturnrate.returnrate*100) %>%</td>
                <td class="center"><%= maxreturnrate.currenttime.strftime("%Y.%m.%d. %H:%M:%S") %></td>
              </tr>
            <% end %>
        <% end %>
	   </tbody>
</table>

<script type="text/javascript">
    //table data storage (2D array)
    var tabledata= new Array([0,0,0,0,0,0,0]);
    tabledata=[];
    var tabledata_f= new Array([0,0,0,0,0,0,0]);
    tabledata_f=[];
    //xml array
    var xml_arr=new Array();
    var rtxml_arr=new Array();
    //define
    var computearbfee = new Array();
    var computetransfee = new Array();
    var computerateofreturn = new Array();
    var funds = new Array();
    var delivermarginfee = new Array();
    var trademarginfee = new Array();
    var storagefee = new Array();
    var deliverfee = new Array();
    var vatfee = new Array();
    //hash table
    var hash_db = new Hashtable();
    <% for i in 0..@dbnum-1 do%>
        hash_db.add('<%= @db[i].commodityid%>',[<%= @db[i].lendrate%>,<%= @db[i].tradecharge%>,<%= @db[i].trademargingap%>],<%= @db[i].tradechargetype%>);
    <% end%>
    var hash_table = new Hashtable();
	function MKDataState(mtcounter, isgetMKData){ 
	  this.mtcounter = mtcounter; 
	  this.isgetMKData = isgetMKData; 
	}	 
    //formatted-num
    jQuery.fn.dataTableExt.oSort['formatted-num-asc'] = function(a,b) {
    /* Remove any formatting */
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        /* Parse and return */
        return parseFloat(x) - parseFloat(y);
    };
    jQuery.fn.dataTableExt.oSort['formatted-num-desc'] = function(a,b) {
        var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
        return parseFloat(y) - parseFloat(x);
    };
    $.ajaxSetup({
        cache: false,
        timeout:10000
    });
    function getxml(){
        $.get(document.location.href.substring(0,document.location.href.indexOf(window.document.location.pathname))+"/assets/CSpreadCostPairs.xml",function(data){
                    xml_arr=xml2array(data);
                    var elements=data.getElementsByTagName("pair");
                    for (var i = 0; i < elements.length; i++) {
                        hash_table.add(xml_arr['pairsattr']['pair'][i]['name'],[hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[0],hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[1],hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[2],
                            parseFloat(xml_arr['pairsattr']['pair'][i]['tradeunit']),parseFloat(xml_arr['pairsattr']['pair'][i]['vatrate']),parseFloat(xml_arr['pairsattr']['pair'][i]['deliverchargebyhand']),
                            parseFloat(xml_arr['pairsattr']['pair'][i]['storagedailyfee']),parseFloat(xml_arr['pairsattr']['pair'][i]['D2']),parseFloat(xml_arr['pairsattr']['pair'][i]['D1']),
                            parseFloat(xml_arr['pairsattr']['pair'][i]['firstmarginrate']),parseFloat(xml_arr['pairsattr']['pair'][i]['secondmarginrate']),parseFloat(xml_arr['pairsattr']['pair'][i]['issinglemargin']),
                            parseFloat(xml_arr['pairsattr']['pair'][i]['productid'].substr(7,1)),hash_db.items(xml_arr['pairsattr']['pair'][i]['name'].match(/([a-zA-Z]+)/g)[0])[3]
                        ]);
                    }
                        getAjax();
        });
    }
    var ajax_watchdog=0;
     function getAjax(){
         $.get(document.location.href.substring(0,document.location.href.indexOf(window.document.location.pathname))+"/assets/CSpreadCostStrRunOnTime.xml",function(data){
                     rtxml_arr=xml2array(data);
                     var elements=data.getElementsByTagName("pair");
						 if(elements.length!=0){
							 for (var i = 0; i < elements.length; i++) {
                             vatfee[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]
                                     *hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]/(1+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[4]);
                                             //交割费用
                             deliverfee[i]=hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[5]*2;
                                             //存储费用
                             storagefee[i]=hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[6]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])
                                             //交易费用
                                 if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[13]==1){
                                 computetransfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[1]*2;
                                 }
                                 else
                             computetransfee[i]=hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[1]*2;
                                             //总资金
                             funds[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])+(parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3];
                                             //交易保证金占用成本
                             if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[11]==1)
                                 trademarginfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]/365
                                         +parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])/365;
                                 else
                                 trademarginfee[i]=(parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[9]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])+parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])
                                         *hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2]))*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8]/365
                                         +parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[10]+hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[2])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])/365;
                                             //默认交割保证金占用成本
                             delivermarginfee[i]=parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[0]*(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7]-hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[8])/365;
                         computearbfee[i] = storagefee[i]+deliverfee[i]+trademarginfee[i]+delivermarginfee[i]+vatfee[i]+computetransfee[i];
                                 //年化收益率计算
                         computerateofreturn[i]=((parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice']))
                                 *hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[3]-computearbfee[i])*365/(funds[i]*hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[7])
                         if(parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])&&parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])>0){
                             if(mychecked_f==1){
                                 if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[12]==2)
                                     tabledata[i]=[rtxml_arr['pairstrade']['pair'][i]['name'],rtxml_arr['pairstrade']['pair'][i]['firstprice'],rtxml_arr['pairstrade']['pair'][i]['secondprice'],
                                 (parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])),
                                         parseFloat(computearbfee[i]).toFixed(1),(computerateofreturn[i]*100).toFixed(1), rtxml_arr['pairstrade']['pair'][i]['time']];
                             }
                             if(mychecked_f==0){
                                 if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[12]==2)
                                     tabledata[i]=[0,0,0,0,0,0,0];
                             }
                             if(mychecked_s==1){
                                 if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[12]==1)
                                     tabledata[i]=[rtxml_arr['pairstrade']['pair'][i]['name'],rtxml_arr['pairstrade']['pair'][i]['firstprice'],rtxml_arr['pairstrade']['pair'][i]['secondprice'],
                                         (parseFloat(rtxml_arr['pairstrade']['pair'][i]['secondprice'])-parseFloat(rtxml_arr['pairstrade']['pair'][i]['firstprice'])),
                                         parseFloat(computearbfee[i]).toFixed(1),(computerateofreturn[i]*100).toFixed(1), rtxml_arr['pairstrade']['pair'][i]['time']];
                             }
                             if(mychecked_s==0){
                                 if(hash_table.items(rtxml_arr['pairstrade']['pair'][i]['name'])[12]==1)
                                     tabledata[i]=[0,0,0,0,0,0,0];
                             }
                         }
                         else
                                     tabledata[i]=[rtxml_arr['pairstrade']['pair'][i]['name'],"--","--","--","--","--","--"];
							}
                             for(var k=0,s=0;k<tabledata.length;k++){
                                 if(tabledata[k]!=null&&tabledata[k][0]!=0){
                                     tabledata_f[s]=tabledata[k];
                                     s=s+1;
                                 }
                             }
                                 $('#rtpricetable').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="default"></table>');
                                 $('#default').dataTable( {
                                 "aaData": tabledata_f,"aaSorting": [[5,"desc"]],"bPaginate": false,
                                        "aoColumns": [
                                     { "sTitle": "套利合约对名", "sClass": "center" },{ "sTitle": "近月价格", "sClass": "center" },
                                     { "sTitle": "远月价格", "sClass": "center" },{ "sTitle": "最新价差", "sClass": "center" },
                                             { "sTitle": "持仓成本", "sClass": "center" },
                                     { "sTitle": "年化收益率", "sType": "formatted-num","sClass": "center","fnRender":function(obj){
                                                         var sReturn = obj.aData[ obj.iDataColumn ];
                                          if ( sReturn >=0 )sReturn = "<font color='red'>"+sReturn+"%</font>";
                                          else sReturn = "<font color='green'>"+sReturn+"%</font>";
                                          return sReturn;}
                                             },
                                             { "sTitle": "更新时间", "sClass": "center" }
                                         ] ,
                                 "bFilter": false//, "bStateSave": true
                                     } );
                             tabledata=[];
                             tabledata_f=[];
						};
                     setTimeout(refreshMKData,2000);
             ajax_watchdog=1;

         } )
						}
     function ajax_restart(){
         if(ajax_watchdog==0){
             refreshMKData();
         }
         setTimeout(listen_ajax_watchdog,10000);
     }
    //setInterval(justalert,3000);
    //function justalert(){alert(ajax_watchdog)}
    function listen_ajax_watchdog(){
        if(ajax_watchdog==1){
            setTimeout(listen_ajax_watchdog,10000) ;
        }
        if(ajax_watchdog==0){
           setTimeout(ajax_restart,10000);
        }
						}
	function refreshMKData(){
		if (g_MKDataState.isgetMKData){
            ajax_watchdog=0;
		   getAjax();
		}	 	
		}	 	
	function checktimeMKTime(){
        $.getJSON("shownorisk",{gettime:"gettime"},
          function (data,status){
              var str=data.substr(0,10)+" "+data.substr(11,8);
		var servertime=new Date(str.replace(/-/g, "\/"));
		var endtime=new Date(servertime);
		if ((servertime.getDay()!=0)&&(servertime.getDay()!=6))
		{
		    if(servertime.getHours()<9){
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(30);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);			
			}
			else if((servertime.getHours()<15)&&(servertime.getHours()>=9)){
				endtime.setHours(15);
				endtime.setMinutes(2);
				endtime.setSeconds(0);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=true;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);	
			}else{
				endtime.setDate(servertime.getDate()+1); 
				endtime.setHours(9);
				endtime.setMinutes(0);
				endtime.setSeconds(30);
                g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
                g_MKDataState.isgetMKData=false;
                setTimeout(checktimeMKTime,g_MKDataState.mtcounter);				
			}
		}else{
			endtime.setDate(servertime.getDate()+1); 
			endtime.setHours(9);
			endtime.setMinutes(0);
			endtime.setSeconds(30);
			g_MKDataState.mtcounter=endtime.getTime()-servertime.getTime();
			g_MKDataState.isgetMKData=false;
			setTimeout(checktimeMKTime,g_MKDataState.mtcounter);			
		}		
        getxml();
	})
	}
	var g_MKDataState=new MKDataState(3600000,true);
    var stream_flag=0;
	checktimeMKTime();
    setTimeout(listen_ajax_watchdog,10000) ;

</script>
</div>
<div class="frame_norisk_comment" >

  <% if session[:webuser_name]==nil %>
      <div id="title-top">
        <ul>
        <li><a class="login-window" href="#login-box" >订阅</a></li>
        <li><a class="login-window" href="#login-box" >试用</a></li>
        </ul>
      </div>
  <% else %>
      <% if @norisk_istry==nil&&@norisk_issub==nil %>
      <div id="title-top">
        <ul>
        <li><a class="login-window" href="/s010001/subscribe/<%=@strategy_norisk.id%>" >订阅</a></li>
        <li><a class="login-window" href="/s010001/try/<%=@strategy_norisk.id%>" >试用</a></li>
        </ul>
      </div>
      <% else %>
      <%if @norisk_issub==nil%>
         <div id="title-top1">
         <div class="top1left">
            <ul>
            <li><a class="login-window" href="/s010001/subscribe/<%=@strategy_norisk.id%>" >订阅</a></li>
            </ul>
         </div>
         <div class="top1right">
                  <ul>
                    <li><p>您是试用用户，</p></li>
                    <% if @norisk_havetry==-1 %>
                        <li><p>试用过期，不能再试用！</p></li>
                    <% else %>
                        <li><p>还有<%= @norisk_havetry.to_i  %>天的试用天数！</p></li>
<% end %>
                  </ul>
                </div></div>
              <% else %>
          <% if @norisk_havesub==-1 %>
              <div id="title-top1">
                <div class="top1left">
                <ul>
                  <li><a class="login-window" href="/s010001/subscribe/<%=@strategy_norisk.id%>" >订阅</a></li>
</ul> </div>
<div class="top1right">
<ul>
                    <li><p>您是订阅用户，</p></li>
                        <li><p>已过订阅天数！</p></li>
            	</ul>
                </div></div>
<% else %>
              <div id="title-top1">
                <div class="top1left">
                <ul><li><a href="javascript:void(0)" onclick="issubscribe()">已订阅</a></li> </ul></div>
<div class="top1right">
<ul>
            	<li><p>您是订阅用户，<br>还有<%= @norisk_havesub.to_i  %>天的使用天数！</p></li>
            	</ul>
</div>
</div>
<% end %>
<% end %>
<% end %>
  <% end %>

<div id="psubscribe">
<p>该策略的定价为<%= Strategyweb.find_by_strategyid("010001").price%>元每月，您将有<%= Strategyweb.find_by_strategyid("010001").trydays%>天的免费试用期。
<p>订阅后，该策略将向您提供主力次主力，跨月套利对的无风险套利。</p>
</div>

  <div id="menuop"></div>
<div id="celuojieshao">
<h3>策略介绍:</h3>
<div id="celuojieshaol">
<p>交易品种</p>
<p>策略类型</p>
<p>系统开始时间</p>
<p>系统开发者</p>
</div>
<div class="celuojieshaom">
</div>
<div id="celuojieshaor">
<p><%= @strategy_norisk.strategytype  %></p>
<p><%= @strategy_norisk.strategyattr  %></p>
<p><%= @strategy_norisk.startdate  %></p>
<p><%= @strategy_norisk.developer  %></p>
</div>

</div>
<div id="tiyijian">
<h3>提点意见</h3>
<div class ="remarkslist">
<iframe id ="remarkslist" onLoad="iFrameHeight()" name="iframe_index" src="/noriskmessages" width="250" scrolling="no" height=auto marginheight="0" marginwidth="0" style="border:none"></iframe>
</div>
</div>

<div class="adverise">
<h3>您的意见</h3>
</div>

<div class = "newremark">
<iframe src="/noriskmessages/new" frameborder="0" scrolling="no" height="300" width="250" marginheight="0" marginwidth="0" style="margin-top: 0px\9"></iframe>
</div>

</div>
 <!-- <%= button_to "订阅" %> -->
  <script type="text/javascript">
      $("#menuop").hide();
      $("#subscribe").click(function(){ <!--点击按钮触发-->
          if($("#menuop").is(":hidden")){
              $("#menuop").show();
              $("#menuop").html("<p id='psubscribe'>订阅后，该策略将向您提供主力次主力，跨月套利对的无风险套利。</p>");
          }
          else
          $("#menuop").hide();
     });

      function issubscribe(){
          if(confirm('您好，您已经订购成功了过了')){
              location.href=("/s010001/subscribe/<%=@strategy_norisk.id%>")
          }
      }
      function havetry(){
          alert("您已经在试用了！")
      }
      function havedtry(){
          alert("您已经试用过了！")
      }

      function box(id){
          var loginBox = id;
        		//Fade in the Popup and add close button
        		$(loginBox).fadeIn(300);

        		//Set the center alignment padding + border
        		var popMargTop = ($(loginBox).height() + 24) / 2;
        		var popMargLeft = ($(loginBox).width() + 24) / 2;

        		$(loginBox).css({
        			'margin-top' : -popMargTop,
        			'margin-left' : -popMargLeft
        		});
          $('body').append('<div id="mask"></div>');
        		$('#mask').fadeIn(300);
      }


function iFrameHeight() {
     var ifm= document.getElementById("remarkslist");
     var subWeb = document.frames ? document.frames["remarkslist"].document : ifm.contentDocument;
     if(ifm != null && subWeb != null) {
     ifm.height = subWeb.body.scrollHeight;
     }
     }
      //window.setInterval("iFrameHeight()", 200);
  </script>
<!--<div class="container">
	<div id="content">
	-->
        <div id="msg-box" class="login-popup">
        <div style="width: 200px;height: 200px;background: white;" id="msg-show">
		<p>您还不是收费用户，请先订阅策略</p>
          <a href="/s010001/subscribe/1">订阅</a> <a href="javascript:void(0)" class="close">取消</a>
        </div>
        </div>
<!--
</div>
</div>
    -->
