<% if params[:id]!=nil%>

<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highstock.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
    <%= javascript_include_tag "jquery.dataTables.min.js" %>
    <%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "myaccount.css" %>
<div class="main-content" style="margin-top: 50px;">

  <div class="main-body">
    <div class="content">
      <div class="fthb faded">

        <table class="body-container" cellspacing="0" cellpadding="0" border="0">

          <!-- tr head-->
          <tr><td>
            <table width="100%" class="body-header" cellspacing="0" cellpadding="0">
              <tr><td>
                <div class="crumbs">
                  <a href="/">首页</a>&nbsp; >&nbsp;
                  <a href="/products/index/<%= @product.id%>" >基金产品</a>
                </div>
                <h1><%= @product.pname%></h1>
                <br>

              </td></tr>
            </table>
            <%= @product.description%><br><br>
          </td>
          </tr>

          <!-- tr body-content-->
          <tr>

            <!-- td body-content-->
            <td>
              <div class="body-content-wrapper">
                <div class="page-interaction">
                  <h2 >基金净值</h2><br>
                  <div style="border-bottom: 2px solid rgb(0, 0, 0);"></div>  <br>
                  <!-- div2-->
                  <div style="border: 2px solid #C3E4EC;">
                    <!-- main table-->
                    <table class="block">
                      <tr>
                        <td style="width:30%">
                          <div id="container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
                          中国期货保证金监控中心查询
                        </td>
                        <td class="bleft">
  <p style="color: red;">基金总值：<%= @product.lastprofits+@product.todayprofit+@interest %></p>
  年化收益率：<%= format("%.2f",((@product.lastprofits+@product.todayprofit+@interest-@funds )/@funds)*365*100/@diffdate )%>%<br>
  总盈利额：<%= @product.lastprofits+@product.todayprofit+@interest-@funds %><br>
  本金：<%= @funds %><br>
                        </td>
                        <td class="bleft">
                          <div style="border-bottom: 2px solid rgb(195, 228, 236);">
  <p style="color: red;">账面总额：<%= @product.lastprofits+@product.todayprofit%></p>
  净值分解 <br>
  上日结存：<%= @product.lastprofits%><br>
  当日盈亏：<%= @product.todayprofit%><br>
                          </div>
                          <div>
  <p style="color: red;">已分红值：<%= @interest %></p>
  <p>分红记录：</p>
  <% @invest_i.each do |i|%>
      <%= i.date.to_s(:stamp)%>
      <%= i.recordvalue%><br>
  <% end %>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

</div>
            </td>
          </tr>

           <br>
          <tr>
            <td>
              <br>
              <h2 >基金资金</h2><br>
              <div style="border-bottom: 2px solid rgb(0, 0, 0);"></div>  <br>
              <div style="border: 2px solid #C3E4EC;">
                <table>
                  <tr>
                    <td style="width: 50%;"><div id="pie" style="min-width: 300px; height: 300px; margin: 0 auto"></div></td>
                    <td style="width: 50%;"><div id="chart" style="min-width: 300px; height: 300px; margin: 0 auto"></div></td>
                  </tr>
                </table>

              </div>

            </td>
          </tr>
          <tr><td>

            <br><h2 ><%= @product.pname%>简介</h2><br>
            <div style="border-bottom: 2px solid rgb(0, 0, 0);"></div>  <br>
            <div style="border: 2px solid #C3E4EC;">

              <table cellpadding="0" cellspacing="0" border="0" class="display" id="product">
                <thead><tr>
                  <th></th><th></th>
                </tr></thead>
                <tbody>
                <tr><td>产品名称</td><td>通天顺°山林一号</td></tr>
                <tr><td>产品类型 </td><td>固定收益型专户理财产品 </td></tr>
                <tr><td>产品投资范围 </td><td>投资于具有良好流动性的国内上市商品期货品种，股指期货品种。</td></tr>
                <tr><td>产品特点 </td><td>利用多年投资的趋势策略，中长期，单边趋势投资策略。采用顺长期趋势，逆短中期
                  进场策略，对流动性好的商品品种，股指期货品种进行投资。收益曲线较稳定，风险
                  可控。 </td></tr>
                <tr><td>产品规模</td><td>产品规模上限100万元人民币，30万元人民币起成立。 </td></tr>
                <tr><td>预期回报率</td><td>预期年收益率8% </td></tr>
                <tr><td>风险分配</td><td>客户不承担任何风险，账号发生亏损全部由操作人承担。一旦总账户金额低于出资人
                  出资金额108%时，投资人有权终止投资合作。 </td></tr>
                <tr><td>收益分配 </td><td> 按双月支付年化收益率8%的利息，除去利息外的利润全部归账户操作人所有。 </td></tr>
                <tr><td>投资者类型 </td><td>不愿承担风险或承担较低风险的投资者 </td></tr>
                <tr><td>出资额限制 </td><td>投资者最小投资额为10万元任民币  </td></tr>
                <tr><td>运作类型  </td><td>人为监管下的程序化自动交易   </td></tr>
                <tr><td>操作期限 </td><td>以一年为一个操作周期  </td></tr>
                <tr><td>账户操作人 </td><td>南京重人软件科技有限公司  </td></tr>
                <tr><td>账号经纪机构 </td><td>指定期货公司  </td></tr>
                <tr><td>风险提示  </td><td>投资者最小投资额为10万元任民币  </td></tr>
                <tr><td>出资额限制 </td><td>
                  市场风险：期货市场价格因受各种因素的影响而引起的波动，将使计划资产面临潜在的风险；
                   <br>
                  管理风险：在实际操作过程中，资产管理人的研究水平，投资管理水平直接影响委托财产收益水平。
                  <br>
                  趋势跟踪策略的风险：趋势跟踪策略在市场出现快速上涨或下跌过程中可能存在一定
                  的反应时滞，影响策略的有效性。同时，在市场出现频繁波动（行情处于震荡市中）

                  时，趋势跟踪策略的有效性可能受到较大影响。
                </td></tr>
                </tbody>
              </table>
            </div>
          </td></tr>

        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#product').dataTable({
            "bPaginate":false ,//禁用分页
            "bFilter": false
        });
    });

    $(function() {
        $.getJSON('/products/precordajax/<%=params[:id]%>', function(data) {
        // Create the chart
            window.chart = new Highcharts.StockChart({
                chart : {
                    renderTo : 'container',
                    width: 300,
                    height: 300,
                    zoomType : "x" //可沿x轴拉伸查看
                },

                rangeSelector : {
                    enabled : false
                },

                title : {
                    text : '<%= @product.pname%>基金净值曲线图'
                },
                yAxis:{
                   min:300000
                },
                series : [{
                    name : '净值',
                    data : data,
                    marker : {
                        enabled : true,
                        radius : 3
                    },
                    shadow : true,
                    tooltip : {
                        valueDecimals : 2
                    }
                }]
            });
        });
    });
          var pie=[];
    <% for i in 0..@pie.keys.size-1%>
    pie[<%= i%>]=['<%=@pie.keys[i]%>',<%=@pie[@pie.keys[i]]%>]
    <% end %>
   // alert(pie)
            $(function () {
                var chart;
                $(document).ready(function() {
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'pie',
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: '资金来源'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                            percentageDecimals: 1
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    color: '#000000',
                                    connectorColor: '#000000',
                                    formatter: function() {
                                        return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
                                    }
                                }
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: '资金占有',
                            data: pie
                        }]
                    });
                });

            });

    $(function () {
        var chart2 = new Highcharts.Chart({

                    chart: {
                        renderTo: 'chart',
                        type: 'gauge',
                        plotBorderWidth: 1,
                        plotBackgroundColor: {
                            linearGradient: { x1: 0, y1: 0 },
                            stops: [
                                [0, '#FFF4C6'],
                                [0.3, '#FFFFFF'],
                                [1, '#FFF4C6']
                            ]
                        },
                        plotBackgroundImage: null,
                        width: 300,
                        height: 200
                    },

                    title: {
                        text: '资金规模'
                    },

                    pane: [{
                        startAngle: -45,
                        endAngle: 45,
                        background: null,
                        center: ['50%', '145%'],
                        size: 300
                    }],

                    yAxis: [{
                        min: 0,
                        max: 100,
                        minorTickPosition: 'outside',
                        tickPosition: 'outside',
                        labels: {
                            rotation: 'auto',
                            distance: 20
                        },
                        plotBands: [{
                            from: 0,
                            to: <%= (@product.lastprofits+@product.todayprofit+@interest)/10000 %>,
                            color: '#C02316',
                            innerRadius: '100%',
                            outerRadius: '105%'
                        }],
                        pane: 0,
                        title: {
                            text: '(单位/万)',
                            y: -40
                        }
                    }],

                    plotOptions: {
                        gauge: {
                            dataLabels: {
                                enabled: false
                            },
                            dial: {
                                radius: '100%'
                            }
                        }
                    },


                    series: [{
                        data: [<%= (@product.lastprofits+@product.todayprofit+@interest)/10000 %>],
                        yAxis: 0
                    }]

                })

    });
</script>
<% end %>