<% if params[:id]!=nil%>

<%= javascript_include_tag "highcharts.js" %>
<%= javascript_include_tag "highstock.js" %>
<%= javascript_include_tag "highcharts-more.js" %>
    <%= javascript_include_tag "jquery.dataTables.min.js" %>
    <%= stylesheet_link_tag "datatables.css" %>
<%= stylesheet_link_tag "myaccount.css" %>
<%= stylesheet_link_tag "products.css" %>
<div class="main-content" style="margin-top: 50px;">

  <div class="main-body">
    <div class="content">
      <div class="fthb faded">

        <table class="body-container" cellspacing="0" cellpadding="0" border="0">

          <!-- tr head-->
          <tr><td>
                <div class="crumbs">
                  <a href="/">首页</a>&nbsp; >&nbsp;
                  <a href="/products/index/<%= @product.id%>" >私募基金</a>
                </div>
                <h1 class="body-header"><%=@product.pname%>  
				  <a class="back mortgage-button full back" href="/products/report/<%= params[:id]%>">询问投资详情</a>
				</h1>

                <b class="txt">
                  <%=@pdescription[0]%><br><br></b>
            <%=@product.pname%>基金成立于<%=@product.founddate.to_s(:cstamp)%>，至今年化收益率为<%= format("%.2f",((@product.lastprofits+@product.todayprofit+@interest-@funds-@dividend )/@funds)*365*100/@diffdate )%>%。<%= @pdescription[1]%><br><br>
          </td>
          </tr>

          <!-- tr body-content-->
          <tr>

            <!-- td body-content-->
            <td>
              <div class="body-content-wrapper">
                <div class="page-interaction">
                  <h2 >基金净值</h2><br>
                  <div style="border-bottom: 2px solid rgb(0, 0, 0);"></div>  <br>
                  <!-- div2-->
                  <div style="border: 2px solid #C3E4EC;">
                    <!-- main table-->
                    <table class="block">
                      <tr>
                        <td style="width:30%">
                          <div id="container" style="min-width: 300px; height: 300px;overflow: hidden;"></div><br>
						  <div class="ad lr highlightable">
                            <div class="ct">
                              提问：基金净值曲线图是真实可信的吗？<br>回答：可去中国期货保证金监控中心查询，他是经国务院同意、中国证监会决定设立，为期货投资者提供有关期货账号余额查询、结算信息等服务。
                            </div>
                          </div><br>
                          <a class="back mortgage-button full back" id="see-mortgage-link" href="javascript:void(window.open('https://investorservice.cfmmc.com/'))">中国期货保证金监控中心查询</a>
                                                </td>
						<td class="arrows" style="width: 1px;">
                        </td>
                        <td class="bleft">
  <p style="color: black;padding-top: 10px;">基金总净值<br></p><p style="color: black;">￥<%= format("%.0f",@product.lastprofits+@product.todayprofit+@interest-@dividend) %></p>
  <p style="color: black;padding-top: 10px;">年化收益率<br></p><p>&nbsp;&nbsp;&nbsp;<%= format("%.2f",((@product.lastprofits+@product.todayprofit+@interest-@funds-@dividend )/@funds)*365*100/@diffdate )%>%<br></p>
  <p style="color: black;padding-top: 10px;">总盈利额<br></p><p>￥<%= format("%.0f",@product.lastprofits+@product.todayprofit+@interest-@dividend-@funds) %><br></p>
  <p style="color: black;padding-top: 10px;">本金<br></p><p style="color: black;">￥<%= format("%.0f",@funds) %><br></p>
                        </td>
						<td class="arrow2">
							<div class="arrow"><div class="arrow-content right"></div></div>
							<div class="arrow"><div class="arrow-content right2"></div></div>
                        </td>
                        <td class="bleft">
                          <div style="border-bottom: 2px solid rgb(195, 228, 236);">
  <p style="color: black;padding-top: 10px;">账面总额<br></p><p style="color: black;">￥<%= format("%.0f",@product.lastprofits+@product.todayprofit-@dividend)%></p>
  <table>
  <tr><td>日期</td><td><%= @product.date%></td></tr>
  <tr><td>上日结存</td><td>￥<%= format("%.0f",@product.lastprofits)%></td><td></td></tr>
  <tr><td>当日盈亏</td><td>￥<%= format("%.0f",@product.todayprofit)%></td><td></td></tr>
    <% if @dividend!=0 %>
   <tr><td>当日分红</td><td>￥<%= format("%.0f",@dividend)%></td><td></td></tr>
     <% end %>
  <tr><td></td><td><hr style="size: 1;width: 100%;"></td><td></td></tr>
  <tr><td></td><td>￥<%= format("%.0f",@product.lastprofits+@product.todayprofit-@dividend)%></td><td></td></tr>
  </table>
                          </div>
                          <div>
  <p style="color: black;padding-top: 10px;">已分红值<br></p><p style="color: black;">￥<%=format("%.0f", @interest) %></p>
  <table>
  <tr><td>日期</td><td>分红金额</td><td></td></tr>
  <% for i in 0..@interestdate.keys.size-1%>
      <tr><td><%= @interestdate.keys[i].to_s(:stamp)%></td><td>￥<%= format("%.0f",@interestdate[@interestdate.keys[i]])%></td><td></td></tr>
  <% end %>
  <tr><td></td><td><hr style="size: 1;width: 100%;"></td><td></td></tr>
  <tr><td></td><td>￥<%= format("%.0f",@interest)%></td><td></td></tr>
  </table>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

</div>
            </td>
          </tr>

           <br>
          <tr>
            <td>
              <br>
              <h2 >基金资金</h2><br>
              <div style="border-bottom: 2px solid rgb(0, 0, 0);"></div>  <br>
              <div style="border: 2px solid #C3E4EC;">
                <table>
                  <tr>
				    <td style="width: 50%;text-align: center;padding-top: 30px;">资金来源</td>
					<td style="width: 50%;padding: 30px 0 0 120px;">资金规模</td>
				  </tr>
                  <tr>
                    <td style="width: 50%;"><div id="pie" style="min-width: 300px; height: 300px; margin: 0 auto"></div></td>
                    <td style="width: 50%;"><div id="chart" style="min-width: 300px; height: 300px; margin: 0 auto;padding-top: 60px"></div></td>
                  </tr>
                </table>

              </div>

            </td>
          </tr>
          <tr><td>

            <br><h2 ><%= @product.pname%>简介</h2><br>
            <div style="border-bottom: 2px solid rgb(0, 0, 0);"></div>  <br>
            <div style="border: 2px solid #C3E4EC;">

              <table cellpadding="0" cellspacing="0" border="0" class="display" id="product">
                <thead><tr>
                  <th></th><th></th>
                </tr></thead>
                <tbody>
                <% for i in 0..@pdescriptions.size-1 %>
                <tr><td><%= @pdescriptions[i].split(":")[0]%></td><td>
                  <% if @pdescriptions[i].split(":")[1]!=nil%>
                      <% @pdescriptions[i].split(":")[1].split("#").each do |pd|  %>
                    <%= pd %><br>
                  <% end %>
                  <% end %></td></tr>
                 <% end %>
                </td></tr>
                </tbody>
              </table>
            </div>
          </td></tr>

        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#product').dataTable({
            "bPaginate":false ,//禁用分页
            "bFilter": false
        });
    });

    $(function() {
        $.getJSON('/products/precordajax/<%=params[:id]%>', function(data) {
        // Create the chart
            window.chart = new Highcharts.StockChart({
                chart : {
                    renderTo : 'container',
                    width: 300,
                    height: 370,
                    zoomType : "x" //可沿x轴拉伸查看
                },

                rangeSelector : {
                    enabled : false
                },

                title : {
                    text : '<%= @product.pname%>基金净值曲线图'
                },
                series : [{
                    name : '净值',
                    data : data,
                    marker : {
                        enabled : true,
                        radius : 3
                    },
                    shadow : true,
                    tooltip : {
                        valueDecimals : 2
                    }
                }]
            });
        });
    });
          var pie=[];
    <% for i in 0..@pie.keys.size-1%>
    pie[<%= i%>]=['<%=@pie.keys[i]%>',<%=@pie[@pie.keys[i]]%>]
    <% end %>
   // alert(pie)
            $(function () {
                var chart;
                $(document).ready(function() {
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'pie',
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: ''
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                            percentageDecimals: 1
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    color: '#000000',
                                    connectorColor: '#000000',
                                    formatter: function() {
                                        return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(0) +' %';
                                    }
                                }
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: '资金占有',
                            data: pie
                        }]
                    });
                });

            });

    $(function () {
        var chart2 = new Highcharts.Chart({

                    chart: {
                        renderTo: 'chart',
                        type: 'gauge',
                        plotBorderWidth: 1,
                        plotBackgroundColor: {
                            linearGradient: { x1: 0, y1: 0 },
                            stops: [
                                [0, '#FFF4C6'],
                                [0.3, '#FFFFFF'],
                                [1, '#FFF4C6']
                            ]
                        },
                        plotBackgroundImage: null,
                        width: 300,
                        height: 200
                    },

                    title: {
                        text: ''
                    },

                    pane: [{
                        startAngle: -45,
                        endAngle: 45,
                        background: null,
                        center: ['50%', '130%'],
                        size: 300
                    }],

                    yAxis: [{
                        min: 0,
                        max: 100,
                        minorTickPosition: 'outside',
                        tickPosition: 'outside',
                        labels: {
                            rotation: 'auto',
                            distance: 20
                        },
                        plotBands: [{
                            from: 0,
                            to: <%= (@product.lastprofits+@product.todayprofit+@interest)/10000 %>,
                            color: '#C02316',
                            innerRadius: '100%',
                            outerRadius: '105%'
                        }],
                        pane: 0,
                        title: {
                            text: '(单位/万)',
                            y: -40
                        }
                    }],

                    plotOptions: {
                        gauge: {
                            dataLabels: {
                                enabled: false
                            },
                            dial: {
                                radius: '100%'
                            }
                        }
                    },


                    series: [{
                        data: [<%= (@product.lastprofits+@product.todayprofit+@interest)/10000 %>],
                        yAxis: 0
                    }]

                })

    });
</script>
<% end %>