<%= javascript_include_tag "highstock.js" %>
<div style="width: 700px;height: 700px;">
  <p style="color: red;">基金总值：<%= @product.lastprofits+@product.todayprofit+@interest %></p>
  年化收益率：<%= format("%.2f",((@product.lastprofits+@product.todayprofit+@interest-@funds )/@funds)*365*100/@diffdate )%>%<br>
  总盈利额：<%= @product.lastprofits+@product.todayprofit+@interest-@funds %><br>
  本金：<%= @funds %><br>
  <p style="color: red;">账面总额：<%= @product.lastprofits+@product.todayprofit%></p>
  净值分解 <br>
  上日结存：<%= @product.lastprofits%><br>
  当日盈亏：<%= @product.todayprofit%><br>
  <p style="color: red;">已分红值：<%= @interest %></p>
  <p>分红记录：</p>
  <% @invest_i.each do |i|%>
      <%= i.date.to_s(:db)%>
      <%= i.recordvalue%><br>
  <% end %>

  <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>



<script type="text/javascript">

    $(function() {
        $.getJSON('/products/precordajax/<%=params[:id]%>', function(data) {
        // Create the chart
            window.chart = new Highcharts.StockChart({
                chart : {
                    renderTo : 'container',
                    zoomType : "x" //可沿x轴拉伸查看
                },

                rangeSelector : {
                    selected : 1
                },

                title : {
                    text : '<%= @product.pname%>基金净值曲线图'
                },

                series : [{
                    name : '净值',
                    data : data,
                    marker : {
                        enabled : true,
                        radius : 3
                    },
                    shadow : true,
                    tooltip : {
                        valueDecimals : 2
                    }
                }]
            });
        });
    });

</script>
