<%= javascript_include_tag "My97DatePicker/WdatePicker.js" %>
<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>

<h3>个性化交易</h3>
<%= form_tag do %>
    时间周期：<%= text_field_tag :period, params[:period],:id=>"period",:name=>"period",:title=>"时间周期" %><br>
    止损点：<%= text_field_tag :losses, params[:losses],:id=>"losses",:name=>"losses",:title=>"止损点"%><br>
    止赢点：<%= text_field_tag :wins, params[:wins],:id=>"wins",:name=>"wins",:title=>"止赢点"%><br>
    <!-- 策略对象类型：<%= text_field_tag :objecttype, params[:objecttype],:id=>"objecttype",:name=>"objecttype",:title=>"策略对象类型"%><br>-->
    策略品种：    <%= check_box_tag 'commoditynames[]','RO-RO'%>RO-RO
    <%= check_box_tag 'commoditynames[]','TA-TA'%>TA-TA
    <%= check_box_tag 'commoditynames[]','a-a'%>a-a
    <%= check_box_tag 'commoditynames[]','l-l'%>l-l
    <%= check_box_tag 'commoditynames[]','p-p'%>p-p
    <%= check_box_tag 'commoditynames[]','v-v'%>v-v
    <%= check_box_tag 'commoditynames[]','y-y'%>y-y
   <br>
    策略开始时间：<%= text_field_tag :startdate, params[:startdate] ,:onClick=>"WdatePicker()",:class=>"Wdate",:id=>"startdate",:name=>"startdate",:title=>" 策略开始时间"%><br>
    <%= submit_tag "提交"%>
<% end %>

 <script type="text/javascript">
     $(function() {
         $("form").validity(function() {
             $("#period")
                 .require();
             $("#losses")
                 .require();
             $("#wins")
                 .require();
             $("#objecttype")
                 .require();
             $("#startdate")
                 .require();
         });
     });
 </script>