<h3>个性化交易</h3>
<%= form_tag do %>
    时间周期：<%= text_field_tag :individual_p1, params[:individual_p1]%><br>
    止损点：<%= text_field_tag :individual_p2, params[:individual_p2]%><br>
    止赢点：<%= text_field_tag :individual_p3, params[:individual_p3]%><br>
    <%= submit_tag "提交"%>
<% end %>