<h2><%= @strategyweb.name %>策略介绍</h2>
<script type="text/javascript">
    $(document).ready(function() {
        $('#strategybrieftable').dataTable( {
            "bFilter": false,
            "bPaginate": false
        } );
    });
</script>
<table class="display" id="strategybrieftable">
  <thead>
  <tr>
  <td>项目</td>
  <td>属性</td>
  </tr>
  </thead>
<tbody>
<tr>
  <td>应用领域</td>
  <td><%= @strategyweb.strategytype %></td>
 </tr>
<tr>
  <td>策略属性</td>
  <td><%= @strategyweb.strategyattr %></td>
 </tr>
<tr>
  <td>策略创建时间</td>
  <td><%= @strategyweb.startdate %></td>
 </tr>
<tr>
  <td>策略开发人员</td>
  <td><%= @strategyweb.developer %></td>
 </tr>
</tbody>
</table>
