<%= javascript_include_tag "jQuery.validity.min.js" %>
<%= stylesheet_link_tag "jquery.validity.css" %>
<h3>为您新建的策略命名：</h3>
<%= form_tag do %>
    策略名：<%= text_field_tag :strategyname, params[:strategyname],:id=>"strategyname",:name=>"strategyname",:title=>"策略名"%><br>
    描述：<%= text_field_tag :description, params[:description]%>
    <br><%= submit_tag "提交"%>
<% end %>
<script type="text/javascript">
    $(function() {
        $("form").validity(function() {
            $("#strategyname")
                .require();
        });
    });
</script>