<%= stylesheet_link_tag "sales.css" %>

<style>
    .main-footer{ display: none; }
</style>

<div class="main-content">
  <h1>申请处理中</h1>
    <p class="content">您已申请<span id="bname"></span>的预订。我们将在1个小时内给你电话反馈。</p>
    <p>您的预订内容如下：</p>
  <table class="table table-striped table-bordered" id="per">
    <thead>
    <tr>
      <th class="bname">银行理财产品名</th>
      <th>银行名</th>
      <th>产品类型</th>
      <th>购买金额</th>
      <th>起购价</th>
      <th>预期年收益率</th>
      <th>投资期限</th>
      <th>收益金额</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bname"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0</td>
    </tr>
    </tbody>
  </table>
    <a class="btn btn-primary pull-right" href="/sales/myorder">查看我的订单</a>
    <a class="btn pull-right back" href="/bankinvest">返回</a>
  <br>
</div>


<script>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }

    function per(){
        $("#bname").html("<%= @banfinance.bname %>");
        var length=$("#per").find("tr").size();
        for(i=0;i<length;i++){
            $("#per tr:eq("+i+") td:eq(0)").html("<%= @banfinance.bname %>");
            $("#per tr:eq("+i+") td:eq(1)").html("<%= @banfinance.trustee %>");
            $("#per tr:eq("+i+") td:eq(2)").html("<%= @banfinance.btype %>");
            $("#per tr:eq("+i+") td:eq(3)").html(Request("investamount"));
            $("#per tr:eq("+i+") td:eq(4)").html("<%= @banfinance.startvalue %>");
            $("#per tr:eq("+i+") td:eq(5)").html("<%= format("%0.1f",@banfinance.returnrate*100) %>%");
            $("#per tr:eq("+i+") td:eq(6)").html("<%= @banfinance.investperiod %>天");
            $("#per tr:eq("+i+") td:eq(7)").html(Request("income"));
        }
    }
    per();
</script>