<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "sales.css" %>
<%= javascript_include_tag "jquery-1.js" %>
<%= javascript_include_tag "jquery.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>

<style>
    .main-footer{ display: none; }
</style>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>
<div class="main-content body-content" onkeyup="per()" onload="">
  <div id="nj">
  <h1>预订申请</h1>
  <div class="content">
    <p>预订后，我们将在一个小时内给您答复。</p>
    <!--
    <h2><span class="text">1.</span>为什么要预订？</h2>
    <dl>
      <dt>买不到紧销产品？</dt>
      <dd>每次购买都是您亲自电话预订，有时订不到？我们来帮您。</dd>
      <dt>想得到更多实惠？</dt>
      <dd>我们帮您预订，享受实实在在的优惠。</dd>
    </dl>
   -->
  </div>
  <h2 class="gift"><span class="text">1.</span>产品及赠品</h2>
  <table class="table table-striped table-bordered" id="per">
    <thead>
    <tr>
      <th class="bname">银行理财产品名</th>
      <th>银行名</th>
      <th>收益金额</th>
      <th>预期年收益率</th>
      <th>投资期限</th>
      <th>起购价</th>
      <th>产品类型</th>
      <th>销售起始</th>
      <th>销售结束</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bname"></td>
      <td></td>
      <td class="income">0</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <div id="hide">
    <p>赠品数量有限，预订从速。。。</p>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>赠品</th>
        <th class="num">数量</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>苏垦特产林下散养草鸡蛋</td>
        <td>10个</td>
      </tr>
      <tr>
        <td>2</td>
        <td>福临门 非转基因 玉米食用油</td>
        <td>900毫升</td>
      </tr>
      </tbody>
    </table>
  </div>
  <h2><span class="text">2.</span>预订资料填写</h2>
  <table>
      <tr><td colspan="2"><div id="errormsg"></div></td></tr>
      <% if @banfinance.trustee=="北京银行" %>
        <tr><td colspan="2">
      <a onclick="adjust()">为礼品办张新卡合算吗？</a>
          <br><br></td>
        </tr>
      <% end %>
    <tr><td><p>银行：</p></td>
      <td class="right"><input class="input-large" type="text" id="trustee" readonly="true" value="<%= @banfinance.trustee %>"></td></tr>
    <tr><td><p>银行新客户？</p></td>
      <td class="right"><select  name="isuser" id="isuser" onclick="isuser()">
        <option selected value="我不是<%= @banfinance.trustee %>的客户">我不是<%= @banfinance.trustee %>的客户</option>
        <option value="我是<%= @banfinance.trustee %>的老客户">我是<%= @banfinance.trustee %>的老客户</option>
      </select></td>
    </tr>
    <tr><td><p>购买金额：</p></td>
      <td class="right"><div class="input-prepend input-append">
        <span class="add-on">￥</span><input class="input-medium" type="text" id="investamount"><span class="add-on">元</span>
      </div></td></tr>
    <tr><td><p>电子邮件*：</p></td>
        <td class="right"><input class="input-large demo-form-name" type="text" id="email" title="我们将根据发送礼品确认代码到您的邮箱中。"></td></tr>
    <tr><td><p>手机*：</p></td>
        <td class="right"><input class="input-large demo-form-name" type="text" id="tel" title="银行理财经理将电话联系您，和您商量您具体办理时间段。"></td><td></td></tr>

    <tr class="customer"><td><p>银行卡号*：</p></td>
        <td class="right"><input class="input-large demo-form-name" type="text" id="card" title="通过银行卡号帮您进行产品预订。"></td><td></td></tr>
    <tr class="customer"><td><p>分行名*：</p></td>
        <td class="right"><input class="input-large demo-form-name" type="text" id="bankbranch" title="我们要根据您的分行联系您的理财经理。"></td><td></td></tr>

    <tr><td></td><td>
      <br>
      <a class="btn btn-primary pull-right res" href="javascript:void(0)" id="reserveconfig"> 预订 </a>
      <a class="btn pull-right" href="/bankinvest/index" >返回</a>
    </td></tr>
  </table>
</div>
  <div id="other">
    <h2>很抱歉，您所在地区暂时不支持预订功能。</h2>
    <a class="btn pull-left" href="/bankinvest/index" >返回</a>
  </div>
</div>


<script>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }

    function adjust(){
        location.href="/sales/adjust?bid="+Request("bid");
    }

    function per(){
        var length=$("#per").find("tr").size();
        for(i=0;i<length;i++){
            $("#per tr:eq("+i+") td:eq(0)").html("<%= @banfinance.bname %>");
            $("#per tr:eq("+i+") td:eq(1)").html("<%= @banfinance.trustee %>");
            $("#per tr:eq("+i+") td:eq(2)").html(parseInt($("#investamount").attr("value")*parseFloat("<%= @banfinance.returnrate%>")*parseFloat("<%= @banfinance.investperiod %>")/365));
            $("#per tr:eq("+i+") td:eq(3)").html("<%= format("%0.1f",@banfinance.returnrate*100) %>%");
            $("#per tr:eq("+i+") td:eq(4)").html("<%= @banfinance.investperiod %>天");
            $("#per tr:eq("+i+") td:eq(5)").html("<%= @banfinance.startvalue %>元");
            $("#per tr:eq("+i+") td:eq(6)").html("<%= @banfinance.btype %>");
            $("#per tr:eq("+i+") td:eq(7)").html("<%= @banfinance.sailsstart %>");
            $("#per tr:eq("+i+") td:eq(8)").html("<%= @banfinance.collectperiod %>");
        }
        $("#trustee").val("<%= @banfinance.trustee %>");
        if(Request("favourable")!=1){
            document.getElementById("hide").style.display="none";
            $(".gift").html("<span class='text'>1.</span>产品");
        }
    }
    function invest(){
        if(Request("investamount")){
            $("#investamount").val(Request("investamount"));
            $("#trustee").val("<%= @banfinance.trustee %>");
            $("#email").val(Request("email"));
            $("#tel").val(Request("tel"));
            $("#card").val(Request("card"));
            $("#bankbranch").val(Request("bankbranch"));
            var length=$("#per").find("tr").size();
            for(i=0;i<length;i++){
                $("#per tr:eq("+i+") td:eq(2)").html(parseInt($("#investamount").attr("value")*parseFloat("<%= @banfinance.returnrate%>")*parseFloat("<%= @banfinance.investperiod %>")/365));
            }
        }
    }
    per();
    window.onload=function(){
        if(remote_ip_info["city"]=="南京"){
            $('#other').hide();
            $('#nj').show();
        }
        else{
            $('#nj').hide();
            $('#other').show();
        }
    invest();
    isuser();
    }
    $("#reserveconfig").click(function(e){
        var nom_flag=0;
        var isuser="是";
        if($("#isuser").attr("value")=="我不是<%= @banfinance.trustee %>的客户"){
            isuser="否";
        }
        var states="预订申请";
    /*    $.get("/sales/reserve/1", { investamount:$("#investamount").attr("value"),email:$("#email").attr("value"),startvalue:<%= @banfinance.startvalue %>,
            tel:$("#tel").attr("value"),card:$("#card").attr("value"),bankbranch:$("#bankbranch").attr("value"),isuser:isuser}, function (data,status){
            if(data=="s") {
                $("#errormsg").hide();
             }
            else{
                nom_flag=1;
                $("#errormsg").html(data.toString());
            }
        });    */
        if($("#investamount").attr("value")==""){
            alert("请输入购买金额！");
            nom_flag=1;
        }
        else if($("#email").attr("value")==""){
            alert("请输入电子邮件！");
            nom_flag=1;
        }
        else if($("#investamount").attr("value")<parseInt("<%= @banfinance.startvalue %>")){
            alert("该产品最低购买金额为<%= @banfinance.startvalue %>元！");
            nom_flag=1;
        }
        else if(!Checkreg($("#tel").attr("value"))){
            nom_flag=1;
        }
        else if(!test()){
            nom_flag=1;
        }
        else if($("#isuser").attr("value")=="我是<%= @banfinance.trustee %>的老客户" && $("#card").attr("value")==""){
            alert("请输入银行卡号！");
            nom_flag=1;
        }
        else if($("#isuser").attr("value")=="我是<%= @banfinance.trustee %>的老客户"&&$("#bankbranch").attr("value")==""){
            alert("请输入分行名！");
            nom_flag=1;
        }

        <% if @webuser!=nil %>
        if(nom_flag==0){
            if($("#isuser").attr("value")=="我是<%= @banfinance.trustee %>的老客户"){
            $.get("/admin/reserveconfigajax/0",{ bname: "<%= @banfinance.bname %>",trustee: "<%= @banfinance.trustee %>",
                returnrate: "<%= @banfinance.returnrate %>",investperiod: "<%= @banfinance.investperiod %>",
                investamount: $("#investamount").attr("value"),username: "<%= @webuser.username %>",
                tel: $("#tel").attr("value"),state: states,btype:"<%= @banfinance.btype %>",collectperiod:"<%= @banfinance.collectperiod %>",
                email: $("#email").attr("value"),isuser: isuser,bankbranch:$("#bankbranch").attr("value"),bankcardnum:$("#card").attr("value")
            },function(data){
                if(data=="s1"){
                    email("<%= @webuser.username %>","#tel","#email","<%= @banfinance.bname %>","<%= @banfinance.trustee %>","<%= @banfinance.btype %>","<%= @banfinance.startvalue %>",
                            $("#investamount").attr("value"),"<%= @banfinance.returnrate %>","<%= @banfinance.investperiod %>","<%= @banfinance.sailsstart %>","<%= @banfinance.collectperiod %>");
                }
            });
            }
            else{
            $.get("/admin/reserveconfigajax/0",{ bname: "<%= @banfinance.bname %>",trustee: "<%= @banfinance.trustee %>",
                returnrate: "<%= @banfinance.returnrate %>",investperiod: "<%= @banfinance.investperiod %>",
                investamount: $("#investamount").attr("value"),username: "<%= @webuser.username %>",
                tel: $("#tel").attr("value"),state: states,btype:"<%= @banfinance.btype %>",collectperiod:"<%= @banfinance.collectperiod %>",
                email: $("#email").attr("value"),isuser: isuser
            },function(data){
                if(data=="s1"){
                    email("<%= @webuser.username %>","#tel","#email","<%= @banfinance.bname %>","<%= @banfinance.trustee %>","<%= @banfinance.btype %>","<%= @banfinance.startvalue %>",
                            $("#investamount").attr("value"),"<%= @banfinance.returnrate %>","<%= @banfinance.investperiod %>","<%= @banfinance.sailsstart %>","<%= @banfinance.collectperiod %>");
                }
            });
        }
        }
        function email(uid,tid,eid,bid,tru,bty,str,inv,ret,per,sat,col){
            $.get("/admin/reserve",{username:"<%= @webuser.username %>",tel:$(tid).attr("value"),email:$(eid).attr("value"),bname:bid,trustee:tru,btype:bty,
                startvalue:str,investamount:inv,returnrate:ret,investperiod:per,sailsstart:sat,collectperiod:col},function(data){
                location.href="/sales/confirm?income="+$(".income").html()+"&investamount="+$("#investamount").attr("value")+"&bid="+Request("bid");
            });
        }
        <% else%>
        if(nom_flag==0){
        location.href='/sales/login?bid='+Request("bid")+"&investamount="+$("#investamount").attr("value")+"&email="+$("#email").attr("value")+"&tel="+$("#tel").attr("value")+"&bankbranch="+$("#bankbranch").attr("value")+"&card="+$("#card").attr("value");
        }
        <% end %>
    });

    function Checkreg(phonenum)
    {
        //var photo = /^(\d{3,4}\-)?\d{7,8}$/i;   //座机格式是 010-98909899
        //var photo = /^0(([1-9]\d)|([3-9]\d{2}))\d{8}$/; 没有中间那段 -的 座机格式是 01098909899
        var photo =/^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;//座机(0开头)
        var photo1 =/^1[358]\d{9}$/;//手机(13,15,18)
        var value = phonenum.substring(0,1);
        if(phonenum==""){
            alert("联系电话为空！");
            return false;
        }
        if(value==0){
            if(!photo.test(phonenum)){
                alert("座机号码错误(0(2或者3位)-(7或者8位)!");
                return false;
            }
        }else if(value==1){
            if(!photo1.test(phonenum)){
                alert("手机号码错误(1(3或者5或者8)后面9位)!");
                return false;
            }
        }else
        {
            alert("电话号码错误!");
            return false;
        }
        return true;
    }
    function test(){
        var temp = document.getElementById("email");
        //对电子邮件的验证
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if(!myreg.test(temp.value))
        {
            alert('提示\n\n请输入有效的E_mail！');
            myreg.focus();
            return false;
        }
        else{
            return true;
        }
    }
    function isuser(){
          if($("#isuser").attr("value")=="我不是<%= @banfinance.trustee %>的客户"){
              $('.customer').hide();
          }
        else{
              $('.customer').show();
          }
    }

    $(function(){
        $('.demo-form-name').poshytip({
            className: 'tip-yellowsimple',
            showOn: 'focus',
            alignTo: 'target',
            alignX: 'right',
            alignY: 'center',
            offsetX: 5
        });
        var flickrFeedsCache = {};
        $('#demo-async-flickr > a').poshytip({
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            alignY: 'bottom',
            content: function(updateCallback) {
                var rel = $(this).attr('rel');
                if (flickrFeedsCache[rel] && flickrFeedsCache[rel].container)
                    return flickrFeedsCache[rel].container;
                if (!flickrFeedsCache[rel]) {
                    flickrFeedsCache[rel] = { container: null };
                    var tagsComma = rel.substring(4).replace('-', ',');
                    $.getJSON('http://api.flickr.com/services/feeds/photos_public.gne?tags=' + tagsComma + '&tagmode=all&format=json&jsoncallback=?',
                            function(data) {
                                var container = $('<div/>').addClass('flickr-thumbs');
                                $.each(data.items, function(i, item) {
                                    $('<a/>')
                                            .attr('href', item.link)
                                            .append($('<img/>').attr('src', item.media.m))
                                            .appendTo(container)
                                            .data('tip', '<strong>' + (item.title || '(no title)') + '</strong><br />by: ' + item.author.match(/\((.*)\)/)[1]);
                                    if (i == 4)
                                        return false;
                                });
                                // add tips for the images inside the main tip
                                container.find('a').poshytip({
                                    content: function(){return $(this).data('tip');},
                                    className: 'tip-yellowsimple',
                                    showTimeout: 100,
                                    alignTo: 'target',
                                    alignX: 'center',
                                    alignY: 'bottom',
                                    offsetY: 5,
                                    allowTipHover: false,
                                    hideAniDuration: 0
                                });
                                // call the updateCallback function to update the content in the main tooltip
                                // and also store the content in the cache
                                updateCallback(flickrFeedsCache[rel].container = container);
                            }
                    );
                }
                return 'Loading images...';
            }
        });
    });
</script>