<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "sales.css" %>
<%= javascript_include_tag "jquery-1.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>

<style>
    .main-footer{ display: none; }
</style>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>
<div class="main-content body-content" onkeyup="per()" onload="">
  <div id="nj">
  <h1>预订申请</h1>
  <div class="content">
    <p>预订后，我们将在一个小时内给您答复。</p>
    <!--
    <h2><span class="text">1.</span>为什么要预订？</h2>
    <dl>
      <dt>买不到紧销产品？</dt>
      <dd>每次购买都是您亲自电话预订，有时订不到？我们来帮您。</dd>
      <dt>想得到更多实惠？</dt>
      <dd>我们帮您预订，享受实实在在的优惠。</dd>
    </dl>
   -->
  </div>
  <h2 class="gift"><span class="text">1.</span>产品及赠品</h2>
  <table class="table table-striped table-bordered" id="per">
    <thead>
    <tr>
      <th class="bname">银行理财产品名</th>
      <th>银行名</th>
      <th>收益金额</th>
      <th>预期年收益率</th>
      <th>投资期限</th>
      <th>起购价</th>
      <th>产品类型</th>
      <th>销售起始</th>
      <th>销售结束</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bname"></td>
      <td></td>
      <td class="income">0</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <div id="hide">
    <p>赠品数量有限，预订从速。。。</p>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>赠品</th>
        <th class="num">数量</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>苏垦特产林下散养草鸡蛋</td>
        <td>10个</td>
      </tr>
      <tr>
        <td>2</td>
        <td>福临门 非转基因 玉米食用油</td>
        <td>900毫升</td>
      </tr>
      </tbody>
    </table>
  </div>
  <h2><span class="text">2.</span>预订资料填写</h2>
  <table>
      <% if @banfinance.trustee=="北京银行" %>
        <tr><td colspan="2">
      <a onclick="adjust()">为礼品办张新卡合算吗？</a>
          <br><br></td>
        </tr>
      <% end %>
    <tr><td><p>银行：</p></td>
      <td class="right"><input class="input-large" type="text" id="trustee" readonly="true" value="<%= @banfinance.trustee %>"></td></tr>
    <tr><td><p>银行新客户？</p></td>
      <td class="right"><select  name="isuser" id="isuser" onclick="isuser()">
        <option selected value="我不是<%= @banfinance.trustee %>的客户">我不是<%= @banfinance.trustee %>的客户</option>
        <option value="我是<%= @banfinance.trustee %>的老客户">我是<%= @banfinance.trustee %>的老客户</option>
      </select></td>
    </tr>
    <tr><td><p>购买金额：</p></td>
      <td class="right"><div class="input-prepend input-append">
        <span class="add-on">￥</span><input class="input-medium nuser" type="text" id="investamount" valType="NUMBER" msg="<font color=red>*</font>购买金额只能是数字,且不能低于<%= @banfinance.startvalue %>元"><span class="add-on">元</span>
      </div></td></tr>
    <tr><td><p>电子邮件*：</p></td>
        <td class="right"><input class="input-large demo-form-name nuser" type="text" id="email" valType="MAIL" msg="<font color=red>*</font>电子邮箱格式不正确" title="我们将根据发送礼品确认代码到您的邮箱中。"></td></tr>
    <tr><td><p>手机*：</p></td>
        <td class="right"><input class="input-large demo-form-name nuser" type="text" id="tel" valType="MOBILE" msg="<font color=red>*</font>手机格式不正确" title="银行理财经理将电话联系您，和您商量您具体办理时间段。"></td><td></td></tr>

    <tr class="customer"><td><p>银行卡号*：</p></td>
        <td class="right"><input class="input-large demo-form-name" type="text" id="card" valType="BANKNO" msg="<font color=red>*</font>请输入银行卡号" title="通过银行卡号帮您进行产品预订。"></td><td></td></tr>
    <tr class="customer"><td><p>分行名*：</p></td>
        <td class="right"><input class="input-large demo-form-name" type="text" id="bankbranch" valType="BANKNA" msg="<font color=red>*</font>请输入分行名" title="我们要根据您的分行联系您的理财经理。"></td><td></td></tr>
    <tr><td></td><td>
      <br>
      <a class="btn btn-primary pull-right res" href="javascript:void(0)" id="reserveconfig"> 预订 </a>
      <a class="btn pull-right" href="/bankinvest/index" >返回</a>
    </td></tr>
  </table>
</div>
  <div id="other">
    <h2>很抱歉，您所在地区暂时不支持预订功能。</h2>
    <a class="btn pull-left" href="/bankinvest/index" >返回</a>
  </div>
</div>


<script>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }

    function adjust(){
        location.href="/sales/adjust?bid="+Request("bid");
    }

    function per(){
        var length=$("#per").find("tr").size();
        for(i=0;i<length;i++){
            $("#per tr:eq("+i+") td:eq(0)").html("<%= @banfinance.bname %>");
            $("#per tr:eq("+i+") td:eq(1)").html("<%= @banfinance.trustee %>");
            $("#per tr:eq("+i+") td:eq(2)").html(parseInt($("#investamount").attr("value")*parseFloat("<%= @banfinance.returnrate%>")*parseFloat("<%= @banfinance.investperiod %>")/365));
            $("#per tr:eq("+i+") td:eq(3)").html("<%= format("%0.1f",@banfinance.returnrate*100) %>%");
            $("#per tr:eq("+i+") td:eq(4)").html("<%= @banfinance.investperiod %>天");
            $("#per tr:eq("+i+") td:eq(5)").html("<%= @banfinance.startvalue %>元");
            $("#per tr:eq("+i+") td:eq(6)").html("<%= @banfinance.btype %>");
            $("#per tr:eq("+i+") td:eq(7)").html("<%= @banfinance.sailsstart %>");
            $("#per tr:eq("+i+") td:eq(8)").html("<%= @banfinance.collectperiod %>");
        }
        $("#trustee").val("<%= @banfinance.trustee %>");
        if(Request("favourable")!=1){
            document.getElementById("hide").style.display="none";
            $(".gift").html("<span class='text'>1.</span>产品");
        }
    }
    function invest(){
        if(Request("investamount")){
            $("#investamount").val(Request("investamount"));
            $("#trustee").val("<%= @banfinance.trustee %>");
            $("#email").val(Request("email"));
            $("#tel").val(Request("tel"));
            $("#card").val(Request("card"));
            $("#bankbranch").val(Request("bankbranch"));
            var length=$("#per").find("tr").size();
            for(i=0;i<length;i++){
                $("#per tr:eq("+i+") td:eq(2)").html(parseInt($("#investamount").attr("value")*parseFloat("<%= @banfinance.returnrate%>")*parseFloat("<%= @banfinance.investperiod %>")/365));
            }
        }
    }
    per();
    window.onload=function(){
        if(remote_ip_info["city"]=="南京"){
            $('#other').hide();
            $('#nj').show();
        }
        else{
            $('#nj').hide();
            $('#other').show();
        }
    invest();
    isuser();
    }

    $(function(e) {
        var vali=new Validators();
        $("#reserveconfig").bind("click", vali.subByJs);
    });

    function isuser(){
        $("[valType]").poshytip('hide');
          if($("#isuser").attr("value")=="我不是<%= @banfinance.trustee %>的客户"){
              $('.customer').hide();
          }
        else{
              $('.customer').show();
          }
    }

    //submit之前对所有表单进行验证
    function beforeSubmit() {
        var flag=true;
        //alert($("[valType]").length);
        var b;
        if($("#isuser").attr("value")=="我不是<%= @banfinance.trustee %>的客户"){
            b=".nuser";
        }
        else{
            b="[valType]";
        }
        $.each($(b),function(i, n) {
            //清除可能已有的提示信息
            $(n).poshytip('hide');
            if($(n).attr("valType")=='required') {//对不能为空的文本框进行验证
                if($(n).val()=='') {
                    //显示tips
                    $(n).poshytip('show');
                    flag=false;
                }
            }
            else if($(n).attr("valType")=='OTHER') {//对自定义的文本框进行验证
                if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')}))) {
                    $(n).poshytip('show');
                    flag=false;
                }
            }
            else {//对使用已定义规则的文本框进行验证
                if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'),reg:$(this).attr('id')}))) {
                    $(n).poshytip('show');
                    flag=false;
                }
            }
        });
        return flag;
    }
    $(function(){
        //拦截form,在form提交前进行验证
        $('form').bind('submit',beforeSubmit);

        //为带有valType属性的元素初始化提示信息并注册onblur事件
        $.each($("[valType]"),function(i, n) {
            $(n).poshytip({
                className: 'tip-yellowsimple',
                content: $(n).attr('msg'),
                showOn: 'none',
                alignTo: 'target',
                alignX: 'right',
                alignY: 'center',
                offsetX: 5,
                offsetY: 10
            });
            $(n).bind('blur',validateBefore);

        });

        //定义一个验证器
        $.Validator=function(para) {
        }

        $.Validator.ajaxValidate=function() {
            var nom_flag=0;
            var isuser="是";
            if($("#isuser").attr("value")=="我不是<%= @banfinance.trustee %>的客户"){
                isuser="否";
            }
            var states="预订申请";

            if(!beforeSubmit()){
                nom_flag=1;
            }
            <% if @webuser!=nil %>
            if(nom_flag==0){
                if($("#isuser").attr("value")=="我是<%= @banfinance.trustee %>的老客户"){
                    $.get("/admin/reserveconfigajax/0",{ bname: "<%= @banfinance.bname %>",trustee: "<%= @banfinance.trustee %>",
                        returnrate: "<%= @banfinance.returnrate %>",investperiod: "<%= @banfinance.investperiod %>",
                        investamount: $("#investamount").attr("value"),username: "<%= @webuser.username %>",
                        tel: $("#tel").attr("value"),state: states,btype:"<%= @banfinance.btype %>",collectperiod:"<%= @banfinance.collectperiod %>",
                        email: $("#email").attr("value"),isuser: isuser,bankbranch:$("#bankbranch").attr("value"),bankcardnum:$("#card").attr("value")
                    },function(data){
                        if(data=="s1"){
                            email("<%= @webuser.username %>","#tel","#email","<%= @banfinance.bname %>","<%= @banfinance.trustee %>","<%= @banfinance.btype %>","<%= @banfinance.startvalue %>",
                                    $("#investamount").attr("value"),"<%= @banfinance.returnrate %>","<%= @banfinance.investperiod %>","<%= @banfinance.sailsstart %>","<%= @banfinance.collectperiod %>");
                        }
                    });
                }
                else{
                    $.get("/admin/reserveconfigajax/0",{ bname: "<%= @banfinance.bname %>",trustee: "<%= @banfinance.trustee %>",
                        returnrate: "<%= @banfinance.returnrate %>",investperiod: "<%= @banfinance.investperiod %>",
                        investamount: $("#investamount").attr("value"),username: "<%= @webuser.username %>",
                        tel: $("#tel").attr("value"),state: states,btype:"<%= @banfinance.btype %>",collectperiod:"<%= @banfinance.collectperiod %>",
                        email: $("#email").attr("value"),isuser: isuser
                    },function(data){
                        if(data=="s1"){
                            email("<%= @webuser.username %>","#tel","#email","<%= @banfinance.bname %>","<%= @banfinance.trustee %>","<%= @banfinance.btype %>","<%= @banfinance.startvalue %>",
                                    $("#investamount").attr("value"),"<%= @banfinance.returnrate %>","<%= @banfinance.investperiod %>","<%= @banfinance.sailsstart %>","<%= @banfinance.collectperiod %>");
                        }
                    });
                }
            }
            function email(uid,tid,eid,bid,tru,bty,str,inv,ret,per,sat,col){
                $.get("/admin/reserve",{username:"<%= @webuser.username %>",tel:$(tid).attr("value"),email:$(eid).attr("value"),bname:bid,trustee:tru,btype:bty,
                    startvalue:str,investamount:inv,returnrate:ret,investperiod:per,sailsstart:sat,collectperiod:col},function(data){
                    location.href="/sales/confirm?income="+$(".income").html()+"&investamount="+$("#investamount").attr("value")+"&bid="+Request("bid");
                });
            }
            <% else%>
            if(nom_flag==0){
                location.href='/sales/login?bid='+Request("bid")+"&investamount="+$("#investamount").attr("value")+"&email="+$("#email").attr("value")+"&tel="+$("#tel").attr("value")+"&bankbranch="+$("#bankbranch").attr("value")+"&card="+$("#card").attr("value");
            }
            <% end %>
        }

        //验证的方法
        $.Validator.match=function(para) {
            //定义默认的验证规则
            var defaultVal = {
                NUMBER : "^[0-9]*$",
                TEL : "^0(10|2[0-5789]|\\d{3})-\\d{7,8}$",
                IP : "^((\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])\\.){3}(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])$",
                MOBILE : "^1(3[0-9]|5[0-35-9]|8[0235-9])\\d{8}$",
                MAIL : "^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$",
                IDENTITY : "((11|12|13|14|15|21|22|23|31|32|33|34|35|36|37|41|42|43|44|45|46|50|51|52|53|54|61|62|63|64|65|71|81|82|91)\\d{4})((((19|20)(([02468][048])|([13579][26]))0229))|((20[0-9][0-9])|(19[0-9][0-9]))((((0[1-9])|(1[0-2]))((0[1-9])|(1\\d)|(2[0-8])))|((((0[1,3-9])|(1[0-2]))(29|30))|(((0[13578])|(1[02]))31))))((\\d{3}(x|X))|(\\d{4}))",
                CHINESE : "^([\u4E00-\uFA29]|[\uE7C7-\uE7F3])*$",
                URL : "^http[s]?://[\\w\\.\\-]+$" ,
                BANKNO: "^.*$",          //银行卡
                BANKNA : "^.*$"          //银行名
            };
            var flag=false;
            if(para.rule=='OTHER') {//自定义的验证规则匹配
                flag=new RegExp(para.regString).test(para.data);
            }
            else {
                if(para.rule in defaultVal) {//默认的验证规则匹配
                    flag=new RegExp(defaultVal[para.rule]).test(para.data);
                }
            }
            if(para.reg=='investamount'){
               if(para.data<<%= @banfinance.startvalue %>){
                    flag=false;
               }
            }
            return flag;
        }

        //为jquery扩展一个doValidate方法，对所有带有valType的元素进行表单验证，可用于ajax提交前自动对表单进行验证
        $.extend({
            doValidate: function() {
                return $.Validator.ajaxValidate();
            }
        });

    });

    //输入框焦点离开后对文本框的内容进行格式验证
    function validateBefore() {
        //验证通过标识
        var flag=true;
        //获取验证类型
        var valType=$(this).attr('valType');
        //获取验证不通过时的提示信息
        var msg=$(this).attr('msg');
        //自定义的验证字符串
        var regString;

        if(valType=='OTHER') {//如果类型是自定义，则获取自定义的验证字符串
            regString=$(this).attr('regString');
            flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')});
        }
        else {//如果类型不是自定义，则匹配默认的验证规则进行验证
            if($(this).attr('valType')=='required') {//不能为空的判断
                if($(this).val()=='') {
                    flag=false;
                }
            }
            else {//已定义规则的判断
                flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType')});
            }
        }
        //先清除原来的tips
        $(this).poshytip('hide');
        //如果验证没有通过，显示tips
        if(!flag) {
            $(this).poshytip('show');
        }
    }


    //下面是测试代码，不属于验证器的功能代码之内
    //用原型的方式来模拟js的类
    function Validators() {

    }

    Validators.prototype.subByJs=function(e) {
        if($.doValidate()) {
            alert('验证通过');
            //todo
        }
    }
</script>