<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "sales.css" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>

<style>
    .main-footer{ display: none; }
</style>

<div class="main-content">
  <div id="myTabContent" class="tab-content">
    <div class="overlay tab-pane fade" id="create">
      <a href="/">首页</a>
      <div class="normal">
        <h1 class="h1">注册</h1>
        <form>
          <dl class="dl-horizontal">
            <dt>用户名 *:</dt>
            <dd><input id="username" class="input_menum" placeholder="用户名" type="text"></dd>
            <dt>密码 *:</dt>
            <dd><input id="password" class="input_menum" placeholder="密码" type="password"></dd>
            <dt>电子邮箱 *:</dt>
            <dd><input id="email2" class="input_menum" title="电子邮箱" placeholder="电子邮箱" type="text"></dd>
          </dl>
          <a class="btn btn-success pull-right" href="javascript:void(userconfig('#username','#password'))" type="submit">注册</a>
          <div class="or-text"><div><b>或</b></div></div>
          <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
        </form>
      </div>
      <div class="organ">
        <h1 class="h1">注册申请</h1>
        <form>
          <dl class="dl-horizontal">
            <dt>用户名 *:</dt>
            <dd><input id="username3" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入用户名" title="用户名"  placeholder="用户名" type="text"></dd>
            <dt>联系人姓名 *:</dt>
            <dd><input id="name" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入姓名" title="姓名" placeholder="姓名" type="text"></dd>
            <dt>联系电话 :</dt>
            <dd><input id="tel" class="input_menum num" valType="MOBILE" msg="<font color=red>*</font>手机格式不正确" title="联系电话" placeholder="联系电话" type="text"></dd>
            <dt>密码 *:</dt>
            <dd><input id="password3" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入密码" title="密码" placeholder="密码" type="password"></dd>
            <dt>确认密码 *:</dt>
            <dd><input id="password4" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>两次密码不一致" title="确认密码" placeholder="密码" type="password"></dd>
            <dt>电子邮箱 *:</dt>
            <dd><input id="email" class="input_menum num" valType="MAIL" msg="<font color=red>*</font>电子邮箱格式不正确" title="电子邮箱" placeholder="电子邮箱" type="text"></dd>
            <dt>公司 :</dt>
            <dd><input id="company" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入公司" title="公司" placeholder="公司" type="text"></dd>
            <dt>营业部 :</dt>
            <dd><input id="division" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入营业部" title="营业部" placeholder="营业部" type="text"></dd>
            <dt>证券从业资格编号 :</dt>
            <dd><input id="securitiesnum" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入证券从业资格编号" title="证券从业资格编号" placeholder="证券从业资格编号" type="text"></dd>
          </dl>
          <a class="btn btn-success pull-right" id="create2" type="submit">注册</a>
          <div class="or-text"><div><b>或</b></div></div>
          <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
        </form>
      </div>
    </div>
    <div class="overlay tab-pane fade in active" id="login">
      <h1 class="h1">登录</h1>
      <form>
        <dl class="dl-horizontal">
          <dt>用户名 *:</dt>
          <dd><input id="username2" class="input_menum" placeholder="用户名" type="text"></dd>
          <dt>密码 *:</dt>
          <dd><input id="password2" class="input_menum" placeholder="密码" type="password"></dd>
        </dl>
        <a class="btn btn-success pull-right" href="javascript:void(userlogin('#username2','#password2',0))" type="submit">登录</a>
        <div class="or-text"><div><b>或</b></div></div>
        <a class="chear see info-button" href="#create" data-toggle="tab" type="submit" id="change_creat">注册</a>
      </form>
    </div>
  </div>
</div>


<script>
    $(document).ready(function(){
        if(Request('organ')==1){
            $('.normal').hide();
            $('.organ').show();
        }
        else{
            $('.normal').show();
            $('.organ').hide();
        }
    });

    function question(name)
    {
        if(document.all)
        {
            document.getElementById(name).click();
        }
        else
        {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, true);
            document.getElementById(name).dispatchEvent(evt);
        }
    }
    <% if params[:logintype] == "creat"%>
    question("change_creat");
    <% end %>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }

    function userconfig(uid,pid){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$/;

        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else if($('#email2').attr("value")==""){
            alert("电子邮箱为空！");
        }
        else if(!myreg.test($('#email2').attr("value"))){
            alert("电子邮箱格式不正确！");
        }
        else{
            $.get("/admin/userconfigajax/0",{username:$(uid).attr("value"),password:$(pid).attr("value"),tel:1,address: 1,postcode: 1,name:1,email:$('#email2').attr("value"),company:1,division:1,organuser:0,securitiesnum:0,memberlevel:0},function(data){
                if(data=="f"){
                    alert("用户名已注册！");
                }
                else if(data=="s"){
                    alert("用户注册成功！");
                    //location.reload();
                    userlogin(uid,pid,0);
                    //email('#username');
                }
            })
        }
    }

    //    function email(uid){
    //        $.get("/admin/email",{username:$(uid).attr("value")},function(data){})
    //    }

    function userlogin(uid,pid,organ){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value")},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
                else if('<%=params[:id] %>'=="1"){
                    location.href="/sales/revise";
                }
                else if(Request("wid")!=''){
                    location.href="/personmanagement/organfinance/"+Request("wid")+"?comment="+Request("comment");
                }
                else if(Request("comment")!=''){
                    location.href="/personmanagement/personfinance/"+Request("cid")+"?comment="+Request("comment");
                }
                else if(data=='organ'){
                    location.href="/bankinvest/organ";
                }
                else if(data=="admin" || data=="blog"){
                    location.href="/admin";
                }
                else if(data=="s1" || data=="s2"){
                    if(Request("bid")>0){
                        $.get("/sales/reserve",{username:$(uid).attr("value")},function(data){
                            if(data=='f1'){
                                location.href='/personmanagement/personinfo/0?bid='+Request("bid")+"&reserve=1";
                            }
                            else {
                        location.href='/sales/index?bid='+Request("bid")+"&investamount="+Request("investamount");
                    }
                        })


                    }
                    else if(Request("order")>0){
                        location.href="/sales/myorder"
                    }
                    else{
                        if(data=='s1')  {
                            location.href="/personmanagement/personfinance";
                        }
                        else if(data=='s2'){
                            location.href="/personmanagement/personinfo/0";
                        }
                    }
                }
            })
        }
    }
    /*

     */

    $(function(e) {
        var vali=new Validators();
        $("#create2").bind("click", vali.subByJs);
    });

    //submit之前对所有表单进行验证
    function beforeSubmit() {
        var flag=true;
        //alert($("[valType]").length);
        $.each($("[valType]"),function(i, n) {
            //清除可能已有的提示信息
            $(n).poshytip('hide');
            if($(n).attr("valType")=='required') {//对不能为空的文本框进行验证
                if($(n).val()=='') {
                    //显示tips
                    $(n).poshytip('show');
                    flag=false;
                }
            }
            else if($(n).attr("valType")=='OTHER') {//对自定义的文本框进行验证
                if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')}))) {
                    $(n).poshytip('show');
                    flag=false;
                }
            }
            else {//对使用已定义规则的文本框进行验证
                if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'),reg:$(this).attr('id')}))) {
                    $(n).poshytip('show');
                    flag=false;
                }
            }
        });
        return flag;
    }
    $(function(){
        //拦截form,在form提交前进行验证
        $('form').bind('submit',beforeSubmit);

        //为带有valType属性的元素初始化提示信息并注册onblur事件
        $.each($("[valType]"),function(i, n) {
            $(n).poshytip({
                className: 'tip-yellowsimple',
                content: $(n).attr('msg'),
                showOn: 'none',
                alignTo: 'target',
                alignX: 'right',
                alignY: 'center',
                offsetX: 5,
                offsetY: 10
            });
            $(n).bind('blur',validateBefore);

        });

        //定义一个验证器
        $.Validator=function(para) {
        }

        $.Validator.ajaxValidate=function() {
            var nom_flag=0;

            if(!beforeSubmit()){
                nom_flag=1;
            }
            if(nom_flag==0){
                $.get("/admin/userconfigajax/0",{username:$('#username3').attr("value"),name:$('#name').attr("value"),tel:$('#tel').attr("value"),
                    password:$('#password3').attr("value"),email:$('#email').attr("value"),company:$('#company').attr("value"),
                    division:$('#division').attr("value"),address: 1,postcode: 1,organuser:1,securitiesnum:$('#securitiesnum').attr("value"),memberlevel:0},function(data){
                    if(data=="f"){
                        alert("用户名已注册！");
                    }
                    else if(data=="s"){
                        alert("用户注册成功！");
                        location.href="/admin";
                    }
                })
            }
        }

        //验证的方法
        $.Validator.match=function(para) {
            //定义默认的验证规则
            var defaultVal = {
                NUMBER : "^[0-9]*$",
                TEL : "^0(10|2[0-5789]|\\d{3})-\\d{7,8}$",
                IP : "^((\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])\\.){3}(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])$",
                MOBILE : "^1(3[0-9]|5[0-35-9]|8[0235-9])\\d{8}$",
                MAIL : "^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$",
                IDENTITY : "((11|12|13|14|15|21|22|23|31|32|33|34|35|36|37|41|42|43|44|45|46|50|51|52|53|54|61|62|63|64|65|71|81|82|91)\\d{4})((((19|20)(([02468][048])|([13579][26]))0229))|((20[0-9][0-9])|(19[0-9][0-9]))((((0[1-9])|(1[0-2]))((0[1-9])|(1\\d)|(2[0-8])))|((((0[1,3-9])|(1[0-2]))(29|30))|(((0[13578])|(1[02]))31))))((\\d{3}(x|X))|(\\d{4}))",
                CHINESE : "^([\u4E00-\uFA29]|[\uE7C7-\uE7F3])*$",
                URL : "^http[s]?://[\\w\\.\\-]+$" ,
                NOTNULL : "^.*$"
            };
            var flag=false;
            if(para.rule=='OTHER') {//自定义的验证规则匹配
                flag=new RegExp(para.regString).test(para.data);
            }
            else {
                if(para.rule in defaultVal) {//默认的验证规则匹配
                    flag=new RegExp(defaultVal[para.rule]).test(para.data);
                }
            }
            if(para.reg=='password4'){
                if($("#password3").attr("value")!=$("#password4").attr("value")){
                    flag=false;
                }
            }
            return flag;
        }

        //为jquery扩展一个doValidate方法，对所有带有valType的元素进行表单验证，可用于ajax提交前自动对表单进行验证
        $.extend({
            doValidate: function() {
                return $.Validator.ajaxValidate();
            }
        });

    });

    //输入框焦点离开后对文本框的内容进行格式验证
    function validateBefore() {
        //验证通过标识
        var flag=true;
        //获取验证类型
        var valType=$(this).attr('valType');
        //获取验证不通过时的提示信息
        var msg=$(this).attr('msg');
        //自定义的验证字符串
        var regString;

        if(valType=='OTHER') {//如果类型是自定义，则获取自定义的验证字符串
            regString=$(this).attr('regString');
            flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')});
        }
        else {//如果类型不是自定义，则匹配默认的验证规则进行验证
            if($(this).attr('valType')=='required') {//不能为空的判断
                if($(this).val()=='') {
                    flag=false;
                }
            }
            else {//已定义规则的判断
                flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType')});
            }
        }
        //先清除原来的tips
        $(this).poshytip('hide');
        //如果验证没有通过，显示tips
        if(!flag) {
            $(this).poshytip('show');
        }
    }


    //下面是测试代码，不属于验证器的功能代码之内
    //用原型的方式来模拟js的类
    function Validators() {

    }

    Validators.prototype.subByJs=function(e) {
        if($.doValidate()) {
            alert('验证通过');
            //todo
        }
    }
</script>



