<%= javascript_include_tag "placeholder.js" %>
<%= stylesheet_link_tag "sales.css" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "jquery.poshytip.js" %>
<%= stylesheet_link_tag "tip-yellowsimple.css" %>

<style>
    .main-footer{ display: none; }
    .main-content{display: table;}
    .span7{padding-top: 93px;}
    @media (max-width: 979px) and (min-width: 768px){
        .row-fluid .span7{
            width: 100%!important;
        }
    }
    .tab-content {
        max-width: 370px;
    }
</style>

<div class="main-content">
  <div class="row-fluid">
    <div class="span5">
      <div id="myTabContent" class="tab-content">
        <a href="/">首页</a><br>
        <div class="overlay tab-pane fade" id="create">
          <br>
          <div class="bs-docs-example">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">投资人注册</a></li>
             <% if params[:actions]!='1' %>
              <li class=""><a href="#profile" data-toggle="tab">理财师注册</a></li>
             <% end %>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active in" id="home">
                <!--<h1 class="h1">注册</h1>-->
                <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate onsubmit="return func()">
                  <table class="log">
                    <tr>
                    <td class="left">用户名 *:</td>
                    <td><input id="username" name="MMERGE3" placeholder="用户名" type="text"></td>
                    </tr><tr>
                    <td class="left">密码 *:</td>
                    <td><input id="password" placeholder="密码" type="password"></td>
                  </tr><tr>
                    <td class="left">电子邮箱 *:</td>
                    <td><input id="email2" name="EMAIL" title="电子邮箱" placeholder="我们将通过此,发送规划书给您" type="text"></td>
                  </tr><tr>
                    <td class="left">联系电话 *:</td>
                    <td><input id="tel2" title="联系电话" placeholder="如您需要帮助时，我们联系您" type="text"></td>
                  </tr>
                  </table>

                  <div class="clear"><input type="submit" value="注册" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success pull-right"></div>
                  <div class="or-text"><div><b>或</b></div></div>
                  <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
                </form>
              </div>
              <div class="tab-pane fade" id="profile">
                <!--<h1 class="h1">理财师 注册</h1>-->
                <form>
                  <table class="log">
                    <tr>
                    <td class="left">用户名 *:</td>
                    <td><input id="username3" class="input_menum num" valType="NAME" msg="<font color=red>*</font>用户名开头字符不能是数字，用户名长度必须大于等于3个字符" title="用户名"  placeholder="用户名" type="text"></td>
                    </tr><tr>
                    <td class="left">理财师姓名 *:</td>
                    <td><input id="name" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入姓名" title="姓名" placeholder="姓名" type="text"></td>
                    </tr><tr>
                    <td class="left">电子邮箱 *:</td>
                    <td><input id="email" class="input_menum num" valType="MAIL" msg="<font color=red>*</font>电子邮箱格式不正确" title="电子邮箱" placeholder="电子邮箱" type="text"></td>
                    </tr><tr>
                    <td class="left">联系电话 *:</td>
                    <td><input id="tel" class="input_menum num" valType="MOBILE" msg="<font color=red>*</font>手机格式不正确" title="联系电话" placeholder="联系电话" type="text"></td>
                  </tr><tr>
                    <td class="left">密码 *:</td>
                    <td><input id="password3" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入密码" title="密码" placeholder="密码" type="password"></td>
                    </tr><tr>
                    <td class="left">确认密码 *:</td>
                    <td><input id="password4" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>两次密码不一致" title="确认密码" placeholder="密码" type="password"></td>
                    </tr><tr>
                    <td class="left">行业 *:</td>
                    <td>
                      <select class="trade" id="trade"title="所在行业">
                        <option value="银行">银行</option>
                        <option value="证券公司">证券公司</option>
                        <option value="期货公司">期货公司</option>
                        <option value="保险公司">保险公司</option>
                        <option value="P2P信贷公司">P2P信贷公司</option>
                        <option value="第三方理财机构">第三方理财机构</option>
                      </select>
                    </td>
                    </tr><tr>
                    <td class="left">公司名 *:</td>
                    <td><input id="company" class="input_menum num" valType="NOTNULL" msg="<font color=red>*</font>请输入公司" title="公司" placeholder="公司" type="text"></td>
                    </tr><tr>
                    <td class="left">资格认证 *:</td>
                    <td>
                      <select class="contact" id="contact"title="资格认证"  onclick="have()">
                        <option value="拥有CFP证书">拥有CFP证书</option>
                        <option value="没有CFP证书">没有CFP证书</option>
                      </select>
                      <p id="zhifu" style="display: none;color: red;">您好，因为您没有相应的金融理财规划CFP证书，我们需要您通过支付宝100元，以保障您不会骚扰到我们的投资人客户以及给予客户高质量服务。</p>
                    </td>
                    </tr>
                    <tr>
                      <td class="left"><div class="have">证书编号 : </div></td>
                      <td><div class="have"><input id="certificate" class="input_menum num" valType="CFP" msg="<font color=red>*</font>您可能输入的是CFP的注册号，我们需要您输入CFP证书编号，麻烦您了。" title="证书编号" placeholder="我们将人工验证编号" type="text"></div></td>

                    </tr>
                  </table>
                  <br>
                  <a class="btn btn-success pull-right" id="create2" type="submit">注册</a>
                  <div class="or-text"><div><b>或</b></div></div>
                  <a class="chear see info-button" href="#login" data-toggle="tab" type="submit">登录</a>
                </form></div>
            </div>
          </div>
          <div class="normal">
          </div>
          <div class="organ">
          </div>
        </div>
        <div class="overlay tab-pane fade in active" id="login">
          <h1 class="h1">登录</h1>
          <form>
            <table class="log">
              <tr>
              <td class="left">用户名 *:</td>
              <td><input id="username2" placeholder="用户名" type="text"></td>
              </tr><tr>
              <td class="left">密码 *:</td>
              <td><input id="password2" placeholder="密码" type="password"></td>
              </tr>
            </table>
            <a class="btn btn-success pull-right" id="log" href="javascript:void(userlogin('#username2','#password2',4))" type="submit">登录</a>
            <div class="or-text"><div><b>或</b></div></div>
            <a class="chear see info-button" href="#create" data-toggle="tab" type="submit" id="change_creat">注册</a>
          </form>
        </div>
      </div>
    </div>
    <div class="span7">
      <dl class="qrcode-panel">
        <dt style="margin-bottom: 5px;">
          <img src="/assets/1.jpg" alt="">
        </dt>
        <dd style="font-size:12px;color: #717375;line-height: 1.6;">
          微信扫描，<br>关注家庭理财
        </dd>
      </dl>
    </div>
  </div>
</div>

<div id='login-box' class='login-popup modal' style="display: none;">
  <div class="modal">
    <div id="save">
      <div class="modal-header">
        <a class="close" href="javascript:">×</a>
        <h3>理财师 注册</h3>
      </div>
      <div class="modal-body">
        <p>感谢您的注册，我们将在2个工作日内给您答复，请留意查收您的邮件。</p>
      </div>
      <div class="modal-footer">
        <div class="clear"><input type="submit" value="确定" name="subscribe" id="subscribe" class="btn btn-primary"></div>
      </div>
    </div>
  </div>
</div>

<script>

    function have(){
        if($("#contact").attr("value")=="拥有CFP证书"){
            $(".have").show();
            $("#zhifu").hide();
            $("#certificate").val("");
            $("#certificate").addClass("input_menum");
        } else {
            $(".have").hide();
            $("#zhifu").show();
            $("#certificate").removeClass("input_menum");
        }
    }

    $('a.close, #mask,#subscribe').live('click', function() {
        location.href='/';
    });

    function question(name)
    {
        if(document.all)
        {
            document.getElementById(name).click();
        }
        else
        {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, true);
            document.getElementById(name).dispatchEvent(evt);
        }
    }
    <% if params[:logintype] == "creat"%>
    question("change_creat");
    <% end %>
    function Request(sName)
    {
        var sURL = new String(window.location);
        var sURL = document.location.href;
        sURL=decodeURI(sURL);
        var iQMark= sURL.lastIndexOf('?');
        var iLensName=sName.length;
        //retrieve loc. of sName
        var iStart = sURL.indexOf('?' + sName +'=') //limitation 1
        if (iStart==-1)
        {//not found at start
            iStart = sURL.indexOf('&' + sName +'=')//limitation 1
            if (iStart==-1)
            {//not found at end
                return 0; //not found
            }
        }

        iStart = iStart + + iLensName + 2;
        var iTemp= sURL.indexOf('&',iStart); //next pair start
        if (iTemp ==-1)
        {//EOF
            iTemp=sURL.length;
        }
        return sURL.slice(iStart,iTemp ) ;
        sURL=null;//destroy String
    }
    $("#mc-embedded-subscribe").click(function(){
        userconfig('#username','#password');
    })
    function func(){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$/;
        var phone = /^1(3[0-9]|5[0-35-9]|8[0235-9])\d{8}$/;
        var name=/^\D.{2}.*$/;
        if($("#username").attr("value")=="" || $("#password").attr("value")=="" || $('#email2').attr("value")=="" || $('#tel2').attr("value")=="" || !name.test($("#username").attr("value")) || !myreg.test($('#email2').attr("value")) || !phone.test($('#tel2').attr("value"))){
            return false;
        }else{
            return false;
        }
    }
    function userconfig(uid,pid){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$/;
        var phone = /^1(3[0-9]|5[0-35-9]|8[0235-9])\d{8}$/;
        var name=/^\D.{2}.*$/;
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else if($('#email2').attr("value")==""){
            alert("电子邮箱为空！");
        }
        else if($('#tel2').attr("value")==""){
            alert("联系电话为空！");
        }
        else if(!name.test($(uid).attr("value"))){
            alert("用户名开头字符不能是数字，用户名长度必须大于等于3个字符！");
        }
        else if(!myreg.test($('#email2').attr("value"))){
            alert("电子邮箱格式不正确！");
        }
        else if(!phone.test($('#tel2').attr("value"))){
            alert("联系电话格式不正确！");
        }
        else{
            $.get("/admin/userconfigajax/0",{username:$(uid).attr("value"),password:$(pid).attr("value"),tel:$('#tel2').attr("value"),address: 1,postcode: 1,name:1,email:$('#email2').attr("value"),company:1,division:1,organuser:0,securitiesnum:0,memberlevel:0,ulogin:1},function(data){
                if(data!="s"){
                    alert("用户名已注册！");
                }
                else if(data=="s"){
                    alert("用户注册成功！");
                    //location.reload();
                    userlogin(uid,pid,2);
                    //email('#username');
                }
            })
        }
    }

    //    function email(uid){
    //        $.get("/admin/email",{username:$(uid).attr("value")},function(data){})
    //    }

    function userlogin(uid,pid,organ){
        if($(uid).attr("value")==""){
            alert("用户名为空！");
        }
        else if($(pid).attr("value")==""){
            alert("密码为空！");
        }
        else{
            $.get("/admin/userlogin",{username:$(uid).attr("value"),password:$(pid).attr("value"),organ:organ},function(data){
                if(data=="f"){
                    alert("登录失败!");
                }
                else if(data=="f2"){
                    alert("找不到该用户");
                }
               // else if('<%= params[:actions] %>'=='1'){
               //     $.get("/sales/zhifubao",{username:$('#username').attr("value"),scharge:'50',actions:1},function(data){
               //         location.href=data;
               //     });
               // }
                else if('<%= params[:risk] %>'!=''){
                    var returnrate=0;
                    var riskrate=0;
                    var investcycle=0;
                    var wbreedinfo="";
                    var fluctuation="";
                    var trade="";
                    var quota="";
                   var save='<%= params[:save] %>'
                   var stacked='<%= params[:stacked] %>'
                    if(save.split(',')[1]=='A'){
                        returnrate=0.06;
                        riskrate=0;
                    }
                    else if(save.split(',')[1]=='B'){
                        returnrate=0.1;
                        riskrate=0.03;
                    }
                    else if(save.split(',')[1]=='C'){
                        returnrate=0.2;
                        riskrate=0.1;
                    }

                    if (save.split(',')[4]=='90'){investcycle='三个月';}
                    else if(save.split(',')[4]=='180'){investcycle='六个月';}
                    else if(save.split(',')[4]=='365'){investcycle='一年';}
                    else if(save.split(',')[4]=='730'){investcycle='二年';}

                    if (save.split(',')[0]=='sellAll'){fluctuation='卖掉所有股票';}
                    else if(save.split(',')[0]=='sellSome'){fluctuation='卖掉一部分股票';}
                    else if(save.split(',')[0]=='keepAll'){fluctuation='继续持有';}
                    else if(save.split(',')[0]=='buyMore'){fluctuation='购买更多的股票';}

                    if (save.split(',')[2]=='gain'){quota='最大利润';}
                    else if(save.split(',')[2]=='loss'){quota='最小损失';}
                    else if(save.split(',')[2]=='both'){quota='两者都很重要';}

                    if (stacked.indexOf("A")>=0){if(wbreedinfo==""){wbreedinfo="基金"}else{wbreedinfo=wbreedinfo+",基金"}}
                    if(stacked.indexOf("B")>=0){if(wbreedinfo==""){wbreedinfo="保险"}else{wbreedinfo=wbreedinfo+",保险"}}
                    if(stacked.indexOf("C")>=0){if(wbreedinfo==""){wbreedinfo="期货"}else{wbreedinfo=wbreedinfo+",期货"}}
                    if(stacked.indexOf("D")>=0){if(wbreedinfo==""){wbreedinfo="银行理财产品"}else{wbreedinfo=wbreedinfo+",银行理财产品"}}
                    if(stacked.indexOf("E")>=0){if(wbreedinfo==""){wbreedinfo="信托产品"}else{wbreedinfo=wbreedinfo+",信托产品"}}

                    if (save.split(',')[5]=='true'){trade='计算机/互联网/电子';}
                    else if(save.split(',')[5]=='A'){trade='银行/保险/证券等金融机构';}
                    else if(save.split(',')[5]=='B'){trade='生物/制药/医疗';}
                    else if(save.split(',')[5]=='C'){trade='广告/媒体/艺术';}
                    else if(save.split(',')[5]=='D'){trade='建筑/房地产';}
                    else if(save.split(',')[5]=='E'){trade='人事/行政/高级管理';}
                    else if(save.split(',')[5]=='F'){trade='咨询/法律/教育/科研';}
                    else if(save.split(',')[5]=='G'){trade='公务员';}
                    var risktolerance='<%= params[:risk] %>';
                    $.post("/personmanagement/personconfigajax/0",{ username:$(uid).attr("value"),age: '<%= params[:age] %>',risktolerance:risktolerance,bank: '<%= params[:bank] %>',
                        investamount:  '<%= params[:investamount] %>',returnrate: returnrate,memberlevel:0,investcycle:investcycle,fluctuation:fluctuation,quota:quota,wbreedinfo:wbreedinfo,trade:trade,riskrate:riskrate
                    },function(data){
                        location.href="/personmanagement/personfinance";
                    });
                }
                else if('<%= params[:comments] %>'=='1'){
                    location.href="/personmanagement/personfinance/<%= params[:pid] %>";
                }
                else if( data=="organ2"){
                    alert("该用户为理财师，注册信息正在审核中，我们将在注册后2个工作日内给您答复");
                }
                else if("<%= params[:monthpay] %>"!=""){
                    location.href="/personmanagement/personfinance";
                    /*
                     $.get("/usersurvey/dreamconfig",{username:$(uid).attr("value"),dream:"<%= params[:dream] %>",province:"<%= params[:province] %>",city: "<%= params[:city] %>",amount: "<%= params[:amount] %>",realizetime:"<%= params[:realizetime] %>",investamount:"<%= params[:investamount] %>",monthpay:"<%= params[:monthpay] %>",remark:"<%= params[:remark] %>",scharge:"<%= params[:scharge] %>"},function(data){
                     location.href="/usersurvey/pay";
                     });
                     */
                }
                else if("<%= params[:investamount] %>"!="" || "<%= params[:bid] %>"!=""){
                    location.href="/sales/index?bid=<%= params[:bid] %>&investamount=<%= params[:investamount] %>&tel=<%= params[:tel] %>";
                }
                else if('<%=params[:id] %>'=="1"){
                    location.href="/sales/revise";
                }
                else if(Request("wid")!=''){
                    location.href="/personmanagement/organfinance/"+Request("wid")+"?comment="+Request("comment");
                }
                else if(Request("comment")!=''){
                    location.href="/personmanagement/personfinance/"+Request("cid")+"?comment="+Request("comment");
                }
                else if(data=='organ'){
                    location.href="/personmanagement/organfinance";
                }
                else if(data=="admin" || data=="blog"){
                    location.href="/admin";
                }
                else if (organ==3){
                    return false;
                }
                else if (organ==4){
                    location.href="/personmanagement/personfinance";
                }
                else if (organ==2){
                    location.href="/personmanagement/personfinance";
                }
                else if(data=="s1" || data=="s2"){
                    if(Request("bid")>0){
                        $.get("/sales/reserve",{username:$(uid).attr("value")},function(data){
                            if(data=='f1'){
                                location.href='/personmanagement/personinfo/0?bid='+Request("bid")+"&reserve=1";
                            }
                            else {
                                location.href='/sales/index?bid='+Request("bid")+"&investamount="+Request("investamount");
                            }
                        })
                    }
                    else if(Request("order")>0){
                        location.href="/sales/myorder"
                    }
                    else{
                        if(data=='s1')  {
                            location.href="/personmanagement/personfinance";
                        }
                        else if(data=='s2'){
                            location.href="/personmanagement/personinfo/0";
                        }
                    }
                }
            })
        }
    }
    /*

     */

    $(function(e) {
        var vali=new Validators();
        $("#create2").bind("click", vali.subByJs);
    });

    //submit之前对所有表单进行验证
    function beforeSubmit() {
        if( this.id != 'mc-embedded-subscribe-form'){
            var flag=true;
            //alert($("[valType]").length);
            $.each($(".input_menum"),function(i, n) {
                //清除可能已有的提示信息
                $(n).poshytip('hide');
                if($(n).attr("valType")=='required') {//对不能为空的文本框进行验证
                    if($(n).val()=='') {
                        //显示tips
                        $(n).poshytip('show');
                        flag=false;
                    }
                }
                else if($(n).attr("valType")=='OTHER') {//对自定义的文本框进行验证
                    if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')}))) {
                        $(n).poshytip('show');
                        flag=false;
                    }
                }
                else {//对使用已定义规则的文本框进行验证
                    if(!($(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'),reg:$(this).attr('id')}))) {
                        $(n).poshytip('show');
                        flag=false;
                    }
                }
            });
            return flag;
        }
    }
    $(function(){
        //拦截form,在form提交前进行验证
        $('form').bind('submit',beforeSubmit);

        //为带有valType属性的元素初始化提示信息并注册onblur事件
        $.each($(".input_menum"),function(i, n) {
            $(n).poshytip({
                className: 'tip-yellowsimple',
                content: $(n).attr('msg'),
                showOn: 'none',
                alignTo: 'target',
                alignX: 'right',
                alignY: 'center',
                offsetX: 5,
                offsetY: 10
            });
            $(n).bind('blur',validateBefore);

        });

        //定义一个验证器
        $.Validator=function(para) {
        }

        $.Validator.ajaxValidate=function() {
            var nom_flag=0;

            if(!beforeSubmit()){
                nom_flag=1;
            }
            if(nom_flag==0){
                $.get("/admin/userconfigajax/0",{username:$('#username3').attr("value"),name:$('#name').attr("value"),tel:$('#tel').attr("value"),
                    password:$('#password3').attr("value"),email:$('#email').attr("value"),company:$('#company').attr("value"),
                    trade:$('#trade').attr("value"),certificate:$('#certificate').attr("value"),address: 1,postcode: 1,organuser:'1',securitiesnum:0,memberlevel:0,ulogin:2,contact:$('#contact').attr("value")},function(data){
                    if(data!="s"){
                        alert("用户名已注册！");
                    }
                    else if(data=="s"){
                        if($("#contact").attr("value")=="拥有CFP证书"){
                            $("#login-box").show();
                            var loginBox = $(this).attr('href');
                            //Fade in the Popup and add close button
                            //Set the center alignment padding + border
                            var popMargTop = ($(loginBox).height() + 24) / 2;
                            var popMargLeft = ($(loginBox).width() + 24) / 2;

                            $(loginBox).css({
                                'margin-top' : -popMargTop,
                                'margin-left' : -popMargLeft
                            });

                            // Add the mask to body
                            $('body').append('<div id="mask"></div>');
                            $('#mask').fadeIn(300);
                        }
                        else{
                            $.get("/sales/zhifubao",{username:$('#username3').attr("value"),scharge:$("#scharge").attr("value")},function(data){
                                location.href=data;
                            });
                        }
                    }
                })
            }
        }

        //验证的方法
        $.Validator.match=function(para) {
            //定义默认的验证规则
            var defaultVal = {
                NUMBER : "^[0-9]*$",
                TEL : "^0(10|2[0-5789]|\\d{3})-\\d{7,8}$",
                IP : "^((\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])\\.){3}(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]|[*])$",
                MOBILE : "^1(3[0-9]|5[0-35-9]|8[0235-9])\\d{8}$",
                MAIL : "^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}.*$",
                IDENTITY : "((11|12|13|14|15|21|22|23|31|32|33|34|35|36|37|41|42|43|44|45|46|50|51|52|53|54|61|62|63|64|65|71|81|82|91)\\d{4})((((19|20)(([02468][048])|([13579][26]))0229))|((20[0-9][0-9])|(19[0-9][0-9]))((((0[1-9])|(1[0-2]))((0[1-9])|(1\\d)|(2[0-8])))|((((0[1,3-9])|(1[0-2]))(29|30))|(((0[13578])|(1[02]))31))))((\\d{3}(x|X))|(\\d{4}))",
                CHINESE : "^([\u4E00-\uFA29]|[\uE7C7-\uE7F3])*$",
                URL : "^http[s]?://[\\w\\.\\-]+$" ,
                NOTNULL : "^.*$"   ,
                CFP : "^CFPCN.*$"   ,
                NAME : "^\\D.{2}.*$"
            };
            var flag=false;
            if(para.rule=='OTHER') {//自定义的验证规则匹配
                flag=new RegExp(para.regString).test(para.data);
            }
            else {
                if(para.rule in defaultVal) {//默认的验证规则匹配
                    flag=new RegExp(defaultVal[para.rule]).test(para.data);
                }
            }
            if(para.reg=='password4'){
                if($("#password3").attr("value")!=$("#password4").attr("value")){
                    flag=false;
                }
            }
            return flag;
        }

        //为jquery扩展一个doValidate方法，对所有带有valType的元素进行表单验证，可用于ajax提交前自动对表单进行验证
        $.extend({
            doValidate: function() {
                return $.Validator.ajaxValidate();
            }
        });

    });

    //输入框焦点离开后对文本框的内容进行格式验证
    function validateBefore() {
        //验证通过标识
        var flag=true;
        //获取验证类型
        var valType=$(this).attr('valType');
        //获取验证不通过时的提示信息
        var msg=$(this).attr('msg');
        //自定义的验证字符串
        var regString;

        if(valType=='OTHER') {//如果类型是自定义，则获取自定义的验证字符串
            regString=$(this).attr('regString');
            flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType'), regString:$(this).attr('regString')});
        }
        else {//如果类型不是自定义，则匹配默认的验证规则进行验证
            if($(this).attr('valType')=='required') {//不能为空的判断
                if($(this).val()=='') {
                    flag=false;
                }
            }
            else {//已定义规则的判断
                flag=$(this).val()!=''&&$.Validator.match({data:$(this).val(), rule:$(this).attr('valType')});
            }
        }
        //先清除原来的tips
        $(this).poshytip('hide');
        //如果验证没有通过，显示tips
        if(!flag) {
            $(this).poshytip('show');
        }
    }


    //下面是测试代码，不属于验证器的功能代码之内
    //用原型的方式来模拟js的类
    function Validators() {

    }

    Validators.prototype.subByJs=function(e) {
        if($.doValidate()) {
            alert('验证通过');
            //todo
        }
    }
</script>




