<%= stylesheet_link_tag "p1_usersurvey.css" %>
<%= javascript_include_tag "bootstrap.min.js" %>

<div class="welcomes">
  <%= render "side" %>
  <div id="page-content">
    <h1>理财目标选择 介绍</h1>

    <div class="tablet">
      <div class="row-fluid">
        <div class="span7">
          <h2>理财目标 您的终点：</h2>
          <div class="mleft">
            <p class="plink"><a class="introduce pull-left" href="#myModal" role="button" data-toggle="modal">理财目标 详细介绍</a></p>
            <p class="q-text">如同出海要有一个目的地一样，我们需要明确自己家庭朝着哪一个方向发展。理财理的是资产，规划的是生活。</p>
          </div>
          <h2>阶段性目标</h2>
          <div class="mleft">
            <p class="q-text">-- 短期目标是指在下一个年度就要达到的目标，比如为假期存钱和为还小债存钱等。<br>
            -- 中期目标是指2-5年的目标。<br>
            -- 长期目标是指5年以上的财富计划，比如退休储蓄、子女的高等教育费用或购买度假屋等。<br>
            长期目标的确立应与短期和中期目标组合规划，设计和实现短期目标通常是走向长期目标成功之路的基础。例如：付分期购房贷款是短期目标，但却是实现“拥有自己的房子”这个长期目标的基础。</p>
          </div>
          <h2>更新理财目标</h2>
            <div class="mleft">
              <p class="q-text">理财目标更新频率是理财规划过程中的一个组成部分。有些目标，如储蓄去度假，一般是每年都有的。而其他目标，如高等教育、汽车或住房，更新的频率就相对少了。</p>
            <a class="btn btn-primary btn-large" href="/usertargets/p2s1_user_target_select">开 始 理 财 目 标</a>
          </div>
        </div>
        <div class="span4 offset1">
          <a href="#myModal_pic" role="button" data-toggle="modal"><img src="/assets/usersurvey-1.png"></a>
          <p><blockquote><small>您将设定出您的理财目标</small></blockquote></p>
          <a class="btn btn-primary btn-large" href="/usertargets/p2s1_user_target_select">开 始 理 财 目 标</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>理财目标 详细介绍</h3>
  </div>
  <div class="modal-body">
    <% if @blog!=nil %>
        <img class="alignleft size-medium " id="img" src="http://www.tongtianshun.com/assets/<%=@blog.imagepath %>"><br><br>
        <%=raw @blog.barticle %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div id="myModal_pic" class="modal hide fade p1_usersurvey" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>&nbsp;</h3>
  </div>
  <div class="modal-body">
    <img src="/assets/usersurvey-2.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>

</div>