<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通天顺金融策略网 --首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag "reset.css" %>
<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>

  <script type="text/javascript">
  $(document).ready(function() {
  		$('.menu > li').bind('mouseover', openSubMenu);
  		$('.menu > li').bind('mouseout', closeSubMenu);

  		function openSubMenu() {
  			$(this).find('ul').css('visibility', 'visible');
              $(this).find('ul').css('z-index', '99');
  		};

  		function closeSubMenu() {
  			$(this).find('ul').css('visibility', 'hidden');
  		};

  });
  </script>

<script type="text/javascript" charset="utf-8">
// <![CDATA[
$(document).ready(function(){	
	$("#slider").easySlider({
		controlsBefore:	'<p id="controls">',
		controlsAfter:	'</p>',
		auto: true, 
		continuous: true
	});	
});
// ]]>
</script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30084381-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body onkeydown="enterkey()">
<div class="main">
  <div class="header">
    <div class="block_header">
          <div class="logoimage">
          <%= link_to(image_tag("logo.jpg"),:controller=>"home",:action=>"index") %>
          </div>

          <% if session[:webuser_name]==nil then%>
          <div class="register">
            <a href="#regedit-box" class="regedit-window">注册</a>
          </div>

          <div class="login">
            <a href="#login-box" class="login-window">登录</a>
          </div>
          <% else %>
        <div class="welcomeuser">
  <a href="javascript:void(0)" onclick="logout_s()">&nbsp;退出</a>
  <div class="yonghu">
  <p>
          用户：<%= session[:webuser_name] %>!
        </p>
  </div>
  <div class="yonghure"></div>
  </div>
	  <% end %>
      <div class="clr"></div>
      <div id="menuMain" >
	  <div>
	  <div>
	  <div>
      <ul>
		  <li class="active"><a href="/home/index"><span><span><span>首页</span></span></span></a></li>
  		  <li><a href="/strategy/shownorisk"><span><span><span>无风险套利</span></span></span></a></li>
        <li><a href="javascript:void(0)"><span><span><span>自动化交易</span></span></span></a>
                  <div class="level">
<ul>
  <%  @webuser = Webuser.find_by_name(session[:webuser_name]) %>
  <% if @webuser==nil %>
      <li class="begin"><a href="#login-box" class="login-window" >自动化设置</a></li>
      <li><a href="#login-box" class="login-window">自动化执行</a></li>
  <% elsif @webuser.ctp_account==nil|| @webuser.ctp_account=="" %>
      <li class="begin"><a href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>" >自动化设置</a></li>
      <li><a href="#autotrade-box"  class="autotrade_p">自动化执行</a></li>
  <% else %>
            <li class="begin"><a href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>" >自动化设置</a></li>
            <li><a href="/autotrade/personaltrading">自动化执行</a></li>
  <% end %>
            <li><a href="/autotrade/aboutautotrade">关于自动化交易</a></li>
          </ul>
</div>
        </li>
        <li><a href="javascript:void(0)"><span><span><span>我的账号</span></span></span></a>
                             <div class="level">
 <ul>
              <% if @webuser!=nil %>
              <% if @webuser.name=="administrator" %>
              <li class="begin"><a href="/admin" >个人信息管理</a></li>
           <% else %>
           <li class="begin"><a href="/webusers/edit/<%=@webuser.id%>" >个人信息管理</a></li>
           <% end %>
			<li><%= link_to("订阅的策略",:controller=>"usermanagement" ,:action=>"usertradecharge", :id=>@webuser.id) %></li>
                  <% else %>
                  <li class="begin"><a href="#login-box" class="login-window">个人信息管理</a></li>
                  <li><a href="#login-box" class="login-window">订阅的策略</a></li>
                  <% end %>
            </ul>
</div>
          </li>
        <li><a href="javascript:void(0)"><span><span><span>关于我们</span></span></span></a>
		<div class="level">
          <ul>
            <li><a href="/contactus/companyintro">公司介绍</a></li>
            <li><a href="/contactus/personintro">公司员工</a></li>
            <li><a href="/contactus/productintro">公司产品</a></li>
            <li><a href="/contactus/hire">招聘信息</a></li>
          </ul>
   </div>
        </li>
        </ul>
	 </div>
	 </div>
	 </div>
  </div>

      <script type="text/javascript">
          var clickflag ;
      $(document).ready(function() {
          $('a.login-window,a.regedit-window,a.autotrade_p').click(function () {

         		// Getting the variable's value from a link
         		var loginBox = $(this).attr('href');
                if (loginBox=="#login-box")
                clickflag="login" ;
              else
                    clickflag="regedit";
         		//Fade in the Popup and add close button
         		$(loginBox).fadeIn(300);

         		//Set the center alignment padding + border
         		var popMargTop = ($(loginBox).height() + 24) / 2;
         		var popMargLeft = ($(loginBox).width() + 24) / 2;

         		$(loginBox).css({
         			'margin-top' : -popMargTop,
         			'margin-left' : -popMargLeft
         		});

         		// Add the mask to body
         		$('body').append('<div id="mask"></div>');
         		$('#mask').fadeIn(300);

         		return false;
         	});

         	// When clicking on the button close or the mask layer the popup closed
         	$('a.close, #mask').live('click', function() {
         	  $('#mask , .login-popup').fadeOut(300 , function() {
         		$('#mask').remove();
         	});
         	return false;
         	});
         //
      });
      function login(){
          $.get("/home/index", { name:$("#name").attr("value"),password:$("#password").attr("value")}, function (data,status){
          if(data==$("#name").attr("value")) {
              location.reload();
          }
          else{
         $("#errormsg_position").css({"padding": "92px 0 0 30px"})
      $("#errormsg").html(data); }
          });
      }

      function logout(){
          $.get("/home/index", { logout:"logout"}, function (data,status){
          if(data=="logout") {
              location.reload();
           }
          });
      }
      function logout_s(){
          $.get("/home/index", { logout:"logout"}, function (data,status){
          if(data=="logout") {
              location.reload();
           }
          });
      }

      function regedit(){
          $.get("/home/index", { regedit_name:$("#regedit_name").attr("value"),regedit_email:$("#regedit_email").attr("value"),
              regedit_password:$("#regedit_password").attr("value"),regedit_password_confirmation:$("#regedit_password_confirmation").attr("value")}, function (data,status){
          if(data==$("#regedit_name").attr("value")) {
              location.reload(); }
              else{
              $("#regeditmsg_position").css({"padding": "93px 0 0 30px"})
          $("#regedit_errormsg").html(data) }
          });
      }
          function enterkey(){
              if ( event.keyCode=='13'&&$("#mask").length>0&&clickflag=="login" )
                   $(".clicksubmit_login").click();
              if ( event.keyCode=='13'&&$("#mask").length>0&&clickflag=="regedit" )
                   $(".clicksubmit_regedit").click();
          }
      </script>
      <div class="container">
      	<div id="content">
              <div id="autotrade-box" class="login-popup">
              <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
                <div style="width: 200px;height: 200px;background-color: white;">
                  请先设置参数！<br>
                  <a href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>">设置</a>
                  <a class="close">取消</a>
                </div>
      		</div>
          </div>
      </div>

      <div class="container">
      	<div id="content">
              <div id="login-box" class="login-popup">
              <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
                <%= form_tag ('/home/index') ,:class=>"signin",:remote => true  do %>
                    <div class="login_box_bg">

                         <div id="errormsg_position">
                        <div id="errormsg"></div>
                        <div class="column">
                          <div>
                             <label id="label_login">用户名:</label>
                            <%= text_field_tag :name, params[:name],:class =>"name-input" %>
                          </div>
                          <div>
                             <label id="label_login">密码:</label> &nbsp;
                            <%= password_field_tag :password, params[:password],:class =>"passwd-input" %>
                            <% Time::DATE_FORMATS[:stamp] = '%Y%m%d%H%M%S' %>
                            <a  href="/webusers/forgetpassword/<%= Time.now.to_s(:stamp)%>" id="forgetpassword">忘记密码？</a>
                          </div>
                        </div>
                        <div>
                           <div class="remember"><span id="rememberme"><input type="checkbox" />记住我</span>
                             <span id="noaccount">您没有账号？<a href="#regedit-box" class="regedit-window" onclick="$('.login-popup').fadeOut(300 , function() {});return false;" style="color:#8F0606;">注册</a>
                             </span>
                          </div>

                          <div  id="loginlink">
                             <a class="clicksubmit_login" href="javascript:void(0)" onclick="login()" style="text-decoration:none;color: white;">登录</a>
                          </div>

                          <div class="clear"></div>
                        </div>

                         </div>
                    </div>
                <% end %>
      		</div>
          </div>
      </div>

      <div class="container">
      	<div id="content">
              <div id="regedit-box" class="login-popup">
              <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btnrg_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>

                <form class="registerin">
                    <div class="regedit_box_bg">
                    <div id="regeditmsg_position">

                        <div style="font:12px Microsoft Yahei;color:#ff0e00;margin-left:20px" id="regedit_errormsg"></div>
						<div class="column">
                          <div>
                            <label id="label_register">用户名:</label>
                            <%= text_field_tag :regedit_name, params[:regedit_name] %>
                          </div>
						</div>
						<div class="column">
							<div>
								<label id="label_register">电子邮件:</label>
								<%= email_field_tag :regedit_email, params[:regedit_email] %>
							</div>
						</div>
						<div class="column">
							<div>
								<label id="label_register">设置密码:</label>
                              <%= password_field_tag :regedit_password, params[:regedit_password] %>
                            </div>
						</div>
						<div class="column">
							<div>
								<label id="label_register">密码确认:</label>
                              <%= password_field_tag :regedit_password_confirmation, params[:regedit_password_confirmation]  %>
                            </div>
                        </div>
						<div>
                          <a style="font:12px Microsoft Yahei;color:#8f0606;padding:0px 0 0 170px" href="#login-box" class="login-window" onclick="$('.login-popup').fadeOut(300 , function() {});return false;">您已有帐号?登入</a>
                           <div style="margin:20px 0 0 162px">
                            <a style="font:16px Microsoft Yahei;color:white ;text-decoration:none" class="clicksubmit_regedit" href="javascript:void(0)" onclick="regedit()">注册</a>
							</div>
      		</div>
				</div> 	</div>
                </form>
          </div>
      </div>
    </div>

      <div class="clr"></div>
    </div>
  </div>
  <div class="slider2">
  <div class="slice12">
    <h2>管理员</h2>
  </div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize_login">
    <div class="StrategyNews">
    <h2>用户管理</h2>
    <ul>
      <li><%= link_to "用户管理", webusers_path %></li>
    </ul>
    <h2>数据管理</h2>
        <ul>
      <li><%= link_to "保涨比较",:controller=>"admin" ,:action=>"comparison" %></li>
        </ul>
    <h2>网站管理</h2>
    <ul>
      <li><%= link_to "版本管理",:controller=>"admin" ,:action=>"currentversion" %></li>
    </ul>
  <p></p>
  </div>
<%= yield %>
    </div>
      <div class="clr"></div>
    </div>
</div>
</body>
</html>
