<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  
  <title>通天顺 家庭理财</title>
  <link href="/assets/123.png" rel="Shortcut Icon">
  <meta name="keywords" content="家庭理财服务" />
  <meta name="description" content="通天顺家庭理财--家庭理财规划方案设计、金融产品介绍、理财知识普及。" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta property="wb:webmaster" content="7b427579f6099f50" />
  <meta property="qc:admins" content="256222163764767411630566375" />
  <!-- <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3700511820" type="text/javascript" charset="utf-8"></script> -->
  <%= javascript_include_tag "jquery.min.js" %>
  <%# if !(params[:controller]=="childfinance" && params[:action]=="finance") %>
  <%= stylesheet_link_tag "bootstrap.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "bootstrap-responsive.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "styles.css", media: "all", "data-turbolinks-track" => true %>


  <%# end %>
</head>

<style>
    body {
        background: none repeat scroll 0% 0% rgb(243, 243, 233);
    }
    .main-body{padding: 20px;}
</style>

<script type="text/javascript">
    <% if params[:controller]=="usertargets" || params[:controller]=="userrisktolerance" || params[:controller]=="userfinanceplan" || params[:controller]=="userfinanceplanexe" %>
    <% if params[:controller]=="usertargets" && params[:action]!="p2s2_user_target_intro" %>
    <% if @webuser!=nil && @webuser.payforhouse!=1 && @webuser.ischarge!=1 %>
    location.href="/payment/buyhouse";
    <% end %>
    <% elsif @webuser!=nil && @webuser.ischarge!=1 %>
    location.href="/payment";
    <% end %>
    <% end %>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30084381-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<body>

<div id='main' class='welcome' style="width: 100%;">
  <!--
          <div id="xoverlay" style="display: block;">
            <b>您需要付费后才能享受理财师的规划服务。 </b> <a class="btns"  href="javascript:void(0)" id="submit" target="_blank">支付服务费</a>
            <a class="closes pull-right" style="padding-right: 15px;" href="javascript:">×</a>
          </div>
          <div id="lay2" style="height: 50px;"></div>
   -->
  <% if !(params[:controller]=="childfinance" && params[:action]=="finance") && !(params[:controller]=="blog" && (params[:action]=="index" || params[:action]=="all") ) %>
      <div class='row-fluid beta'>
        <div class="span6">
          <a href="/"><img style="height: 54px;" src="http://www.tongtianshun.com/assets/logo.png"></a>
          <!--      <span id="erweima"><img style="height: 54px;margin-left: 10px;" src="/assets/1.jpg"></span>  -->
        </div>
        <!--
        <div class="span6">
          <h4>家庭理财规划方案服务</h4>
        </div>
        <div class="span3">
          <h4 class="phone">客服电话：025-83428345</h4>
        </div>
        -->
        <div class="span6 right">
          <div id="log">
            <div id="all-topics" class="button rounder" onmouseover="loginPageDismiss('show');" onmouseout="loginPageDismiss('hide');">
              <a class="mixpanel_track" href="#" style="font-size: 14px">我们的服务</a>
              <div class="topics-hover"></div>
              <div id="all-topics-hover">
                <a href="/usersurvey/p1_usersurvey">
                  <img src="/assets/01_home.png"><b>月光族买房</b>
                </a>
<!--
                <a href="/usersurvey/p1_usersurvey">
                  <img src="/assets/05_infographics.png"><b>月光族 财务分析</b>
                </a>
                <a href="/bankinvest/select">
                  <img src="/assets/04_startup.png"><b>理财产品</b>
                </a>
-->                
              </div>
            </div>
            <div id="link-box">
              <% if session[:webusername]!=nil %>
                  <a class="pull-right rounder" onclick="logout()" href="javascript:void(0)">注销</a>
                  <% if session[:webusername]=='admin' %>
                      <a class="pull-right rounder" href="/admin"><%=session[:webusername]%>管理页面</a>
                  <% else %>
                      <a class="pull-right rounder" href="/usermanagement/family_asset_table"><%=session[:webusername]%> 的投资</a>
                  <% end %>
              <% else %>
                  <a class="pull-right rounder" href="/usermanagement/login" id="layout_login">注册登陆</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <%= yield %>
  <% if !(params[:controller]=="childfinance" && params[:action]=="finance") %>
      <div class="row-fluid main-footer">
        <div class="span2 offset4">
          <h4 class="tcol">我们的服务</h4>
          <a href='/usersurvey/p1_usersurvey' class='full' ><strong>月光族买房</strong></a>
<!--
          <a href='/payment/buyhouse' class='full' ><strong>买房规划</strong></a>
          <a href='/bankinvest/select' class='full' ><strong>理财产品</strong></a>
-->          
        </div>
        <div class="span2">
          <h4 class="tcol">帮助</h4>
          <a href='/payment' class='full' >收费服务</a>
          <a href='/home/methodology' class='full' >理论依据</a>
          <a href='/videohelp' class='full' >视频帮助</a>
        </div>
        <div class="span2">
          <h4 class="tcol">联系我们</h4>
          <a class='full blog btn-link'>博客</a>
          <a href="http://e.weibo.com/tongtianshun/profile" class='full' target="_blank">新浪微博</a>
          <a href="http://t.qq.com/tongtian1232008" class='full' target="_blank">腾讯微博</a>
          <a href='/contactus/aboutus#联系我们' class='full' >微信</a>
          <!--      <img style="width: 100px;" src="/assets/1.jpg"> -->
          <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL">邮件订阅</label>
            <input type="email" value="" name="EMAIL" style="width:100%;padding: 3px 0;float: left;max-width: 200px;" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
            <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" style="font-size: 14px;padding: 4px 10px;" class="btn btn-primary"></div>
          </form>
          <!-- <a href="http://eepurl.com/tonoL" target="_blank" class='full'>邮件订阅</a> -->
        </div>
        <div class="span2">
          <h4 class="tcol">关于通天顺</h4>
          <a href='/contactus/aboutus' class='full' >关于我们</a>
          <a href='/bankinvest/press' class='full' >媒体介绍</a>
          <!--      <a href="javascript:void(0)" class="full" onclick="question('habla_oplink_a')">在线客服</a>
      <a href='/contactus/serviceterm' class='full' >服务条款</a>
      <a href='/contactus/privacypolicy' class='full' >隐私政策</a> -->
          <p> <a style="border-bottom: 0;margin: 0;" href="http://www.miibeian.gov.cn" target="_blank">苏ICP备12035521</a> @2011-2014南京重人软件科技有限公司。<br></p>
          <!--<a style="border-bottom: 0;" href="http://webscan.360.cn/index/checkwebsite/url/www.tongtianshun.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/121b197dfbc4257819d11914a3ebdbb4"/></a>-->
          <div style="height: 100px;"></div>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">

    function loginPageDismiss(e){
        if(e=='show'){
            $("#all-topics-hover").show();
            $(".topics-hover").show();
        }
        else{
            $("#all-topics-hover").hide();
            $(".topics-hover").hide();
        }
    }

    $(".closes").click(function(){
        $("#xoverlay").hide();
        $("#lay2").hide();
    });
    function question(name)
    {
        if(document.all)
        {
            document.getElementById(name).click();
        }
        else
        {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, true);
            document.getElementById(name).dispatchEvent(evt);
        }
    }

    function logout(){
        $.get('/admin/userlogout',function(data){
            if(data=="s"){
                //   alert("退出成功！");
                location.reload();
            }
        })
    }
</script>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".blog").click(function(){
            location.href="/blog/index";
        })
    }else{
        $("#erweima").remove();
        $(".blog").click(function(){
            location.href="/blog/all";
        })
    }
</script>




</body>
</html>
