<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通天顺金融策略网</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= javascript_include_tag "GGS.js" %>
  <%= javascript_include_tag "jquery.min.js" %>
<%= stylesheet_link_tag "styles.css" %>
</head>

<body>

    <div id='popup-overlay' style="display: none; position: fixed; top: 0px; left: 0px; width: auto; height: auto; z-index: 25000; background-color: #fff; opacity: 0.9"></div>
	<div id='top-bar'></div>
	<div id='main' class='welcome'>
        <div class='main-header'>
            <div class='content' id='header'>
		        <div class='hdr-contents'>
        <a href='/' class='full' name='header-logo'>
					    <div id='logo' style="background: url(/assets/logo.jpg) 0px 0px no-repeat;"></div>
                    </a>
					<div class="beta">无风险，持续，资产增值</div>
            </div>
            </div>
            </div>

        <%= yield %>

	    <div class='main-footer'>
		    <div class='content'>
			<div class='table'>
			<div class='trow'>
                <div class='tcol last copyright'>
                    <h3>通天顺金融策略网</h3>
                    <div class='separator'></div>
                    <a href='/contactus/aboutus' class='full'>关于我们</a>
            </div>
                <div class='tcol'>
                    <h3>贵宾服务</h3>
                    <div class='separator'></div>
                    <a href='/myaccount/index' class='full last'>投资账号</a>

                  </div>
                <div class='tcol'>
                <h3>基金产品</h3>
                    <div class='separator'></div>
					<% Product.all.each do |p|%>
                <a href='/products/index/<%= p.id%>' class='full last'><%= p.pname%></a>
                     <%end%>   </div>

                        </div>
                        </div>
			<br/><br/>                
                        </div>
                        </div>
</div>

	<div class='footer'>
	    <p style="@media only screen and (min-width: 480px)"> 苏JCP备12035521 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@2011-2012南京重人软件有限公司 版权所有<br></p>
    </div>

</body>
</html>
