<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通天顺金融策略网 --<%=@pagetitle%></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "page.css" %>
<%= stylesheet_link_tag "main.css" %>
<%= stylesheet_link_tag "layerslider.css" %>
<%= stylesheet_link_tag "styles.css" %>
<%= stylesheet_link_tag "welcome.css" %>
<%= javascript_include_tag "DD_belatedPNG.js" %>
<!--[if IE 6]>   
  <script type="text/javascript" src="js/DD_belatedPNG.js" ></script>  
<script type="text/javascript">
   DD_belatedPNG.fix('#s-glow,img');
</script>
<![endif]-->

</head>

<body>
    <div id='popup-overlay' style="display: none; position: fixed; top: 0px; left: 0px; width: 3000px; height: 5000px; z-index: 25000; background-color: #fff; opacity: 0.9"></div>
            
	<div id='top-bar'></div>
	<div id='main' class='welcome'>
        <div class='main-header'>
            <div class='content' id='header'>
		        <div class='hdr-contents'>
		            <a href='http://www.tongtianshun.com' class='full' name='header-logo'>
					    <div id='logo' style="background: url(/assets/logo.jpg) 0px 0px no-repeat;"></div>
                    </a>
					<div id='beta'>无风险，持续，资产增值</div>
            </div>
            </div>
            </div>
        <%= yield %>
	    <div class='main-footer'>
		    <div class='content'>
			<div class='table'>
			<div class='trow'>
                <div class='tcol last copyright'>
                    <h3>通天顺金融策略网</h3>
                    <div class='separator'></div>
                    <a href='/page/terms' class='full'>关于我们</a>
                    <a href='/page/privacy' class='full'>联系我们</a>
                    <a href='/page/press' class='full last'>创业博客</a>
            </div>
                <div class='tcol'>
                    <h3>自动化交易</h3>
                    <div class='separator'></div>
                    <a href='/page/press' class='full last'>无风险套利</a>
                  </div>
                <div class='tcol'>
                    <h3>无风险套利</h3>
                    <div class='separator'></div>
                    <a href='/page/about' class='full'>捕捉机会</a>
                    <a href='/page/about#contact' class='full'>套利设置</a>
                    <a href='/page/press' class='full last'>常见疑问</a>
                  </div>
                <div class='tcol'>
                    <h3>合作机构</h3>
                    <div class='separator'></div>
                    <a href='/page/press' class='full last'>期货公司</a>
                        </div>
                        </div>
                        </div>
			<br/><br/>                
                        </div>
                        </div>

                        </div>
	<div class='footer'>
	    <p> 苏JCP备12035521 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@2011-2012南京重人软件有限公司 版权所有<br>
                        </p>
    </div>
</body>
</html>
