<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通天顺金融策略网 --首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag "reset.css" %>
<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>


  <script type="text/javascript">
  $(document).ready(function() {
  		$('.menu > li').bind('mouseover', openSubMenu);
  		$('.menu > li').bind('mouseout', closeSubMenu);

  		function openSubMenu() {
  			$(this).find('ul').css('visibility', 'visible');
              $(this).find('ul').css('z-index', '99');
  		};

  		function closeSubMenu() {
  			$(this).find('ul').css('visibility', 'hidden');
  		};

  });
  </script>

<script type="text/javascript" charset="utf-8">
// <![CDATA[
$(document).ready(function(){	
	$("#slider").easySlider({
		controlsBefore:	'<p id="controls">',
		controlsAfter:	'</p>',
		auto: true, 
		continuous: true
	});	
});
// ]]>
</script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30084381-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div class="main">
  <div class="header">
    <div class="block_header">
          <div class="logoimage">
          <%= link_to(image_tag("logo.gif"),:controller=>"home",:action=>"index") %>
          </div>

          <% if session[:webuser_name]==nil then%>
          <div class="register">
          <%= link_to "注册", :controller=>"webusers",:action=>"new" %>
          </div>

          <div class="login">
          <%= link_to " 登录", :controller=>"sessions",:action=>"new" %>
          </div>
          <% else %>
          <div class="welcomeuser"><p>
          您好，<%= session[:webuser_name] %>! <%= link_to "(不是 " + session[:webuser_name] +"?)", logout_path %>
          </p></div>
	  <% end %>

      <div class="clr"></div>

      <ul class="menu">
		  <li><%= link_to "首页", :controller=>"home", :action=>"index" %></li>
  		  <li><%= link_to "无风险套利",:controller => "strategy",:action =>"shownorisk" %></li>
        <li><%= link_to "自动化交易",:controller => "tradeinfo",:action => "todayinfo" %></li>
          <li><%= link_to "用户设置",:controller => "usermanagement",:action => "index" %></li>
        <li><%= link_to "信息",:controller => "contactus",:action => "companyintro" %>
          <ul style="visibility: hidden; ">
            <li><a href="#">交易信息</a></li>
            <li><a href="#">&nbsp;&nbsp;当日交易信息</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">&nbsp;&nbsp;公司介绍</a></li>
            <li><a href="#">&nbsp;&nbsp;公司员工</a></li>
            <li><a href="#">&nbsp;&nbsp;公司产品</a></li>
            <li><a href="#">&nbsp;&nbsp;招聘信息</a></li>
          </ul>
        </li>
        </ul>

      <div class="clr"></div>
    </div>
  </div>
<%= yield %>
</div>
</body>
</html>
