<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>通天顺金融策略服务网</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "jquery.js" %>
<script type="text/javascript" charset="utf-8">

// <![CDATA[
$(document).ready(function(){	
	$("#slider").easySlider({
		controlsBefore:	'<p id="controls">',
		controlsAfter:	'</p>',
		auto: true, 
		continuous: true
	});	
});
// ]]>
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30084381-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div class="main">
  <div class="header">
    <div class="block_header">
	  <%= link_to(image_tag("logo.gif"),:controller=>"home",:action=>"index") %>

      <div class="clr"></div>
      <div class="menu">
        <ul>
		  <li><%= link_to "首页", :controller=>"home", :action=>"index" %></li>
  		  <li><%= link_to "无风险套利",:controller => "strategy",:action =>"show",:id =>"1" %></li>
          <li><%= link_to "个性化交易",:controller => "home",:action => "comingsoon" %></li>
          <li><%= link_to "自动化交易",:controller => "home",:action => "comingsoon" %></li>
          <li><%= link_to "关于我们",:controller => "contactus",:action => "intro" %></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

<%= yield %>
</div>
</body>
</html>
