<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>通天顺 家庭理财</title>
  <link href="/assets/123.png" rel="Shortcut Icon">
  <meta name="keywords" content="家庭理财服务" />
  <meta name="description" content="通天顺家庭理财--家庭理财规划方案设计、金融产品介绍、理财知识普及。" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta property="wb:webmaster" content="7b427579f6099f50" />
  <meta property="qc:admins" content="256222163764767411630566375" />
 <!-- <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3700511820" type="text/javascript" charset="utf-8"></script> -->
  <%= javascript_include_tag "jquery.min.js" %>
  <% if !(params[:controller]=="childfinance" && params[:action]=="finance") %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min.css" %>
  <%= stylesheet_link_tag "styles.css" %>
  <% end %>
</head>

<style>
    body {
        background: none repeat scroll 0% 0% rgb(243, 243, 233);
    }
    .main-body{padding: 20px;}
</style>
<!--
<script type="text/javascript">
    <% if params[:controller]!="sales" || params[:action]!="login" %>
    QC.Login({
                btnId:"qqLoginBtn"	//插入按钮的节点id
            },function(reqData,opts){
                $("#log").hide();
                var dom= document.getElementById("qqLogin"),
                        _logoutTemplate=['<a><img src="{figureurl}" class="size_key" width="30" height="30"></a>','&nbsp;<a href="/personmanagement/personfinance" style="font-size: 14px;">{nickname}</a>&nbsp;<a href="#" style="font-size: 14px;" onclick="QC.Login.signOut();">退出</a>'].join("");
                dom && (dom.innerHTML =QC.String.format(_logoutTemplate,{
                    nickname: QC.String.escHTML(reqData.nickname),
                    figureurl: reqData.figureurl
                }))
            },function(opts){
                $("#log").show();
                logout();
            }
    );
  <% end %>
</script>
 -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30084381-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<body>
<div id='main' class='welcome' style="width: 100%;">
  <!--
  <% if (params[:controller]=="personmanagement" && params[:action]=="personfinance") && @webuser.username==session[:webusername] %>
      <% if @webuser.organuser=='2' %>
          <div id="xoverlay" style="display: block;">
            <b>您需要付费后才能享受理财师的规划服务。 </b> <a class="btns"  href="javascript:void(0)" id="submit" target="_blank">支付服务费</a>
            <a class="closes pull-right" style="padding-right: 15px;" href="javascript:">×</a>
          </div>
          <div id="lay2" style="height: 50px;"></div>
      <% elsif @webuser.risktolerance ==nil %>
          <div id="xoverlay" style="display: block;">
            <b>您能承受的风险度决定了您将得到的收益。</b> <a class="btns" href="/home/questions" target="_blank">评估看看</a>
            <a class="closes pull-right" style="padding-right: 15px;" href="javascript:">×</a>
          </div>
          <div id="lay2" style="height: 50px;"></div>
      <% elsif @webuser.dream ==nil || @webuser.organuser=='2' %>
          <div id="xoverlay" style="display: block;">
            <b>没有规划的梦想，等同于痴人说梦，让理财师们来帮你。</b> <a class="btns" href="/usersurvey/apply" target="_blank">登记梦想</a>
            <a class="closes pull-right" style="padding-right: 15px;" href="javascript:">×</a>
          </div>
          <div id="lay2" style="height: 50px;"></div>
      <% elsif @webuser.organusername==nil %>
          <div id="xoverlay" style="display: block;">
            <b>目前还没有理财师来帮您。</b>
            <a class="closes pull-right" style="padding-right: 15px;" href="javascript:">×</a>
          </div>
          <div id="lay2" style="height: 50px;"></div>
      <% elsif @hash2[0][1] ==nil %>
          <div id="xoverlay" style="display: block;">
            <b>理财师正在辛勤的帮您规划，请耐心等待。如果三个工作日内还没有回复，请直接联系我们。</b>
            <a class="closes pull-right" style="padding-right: 15px;" href="javascript:">×</a>
          </div>
          <div id="lay2" style="height: 50px;"></div>
      <% else %>
          <div id="xoverlay" style="display: block;">
            <b>恭喜您，您的家庭梦想规划书已制作完毕。</b> <a class="btns" href="/personmanagement/personfinance#评论">规划书点评</a>
            <a class="closes pull-right" style="padding-right: 15px;" href="javascript:">×</a>
          </div>
          <div id="lay2" style="height: 50px;"></div>
      <% end %>
  <% end %>
   -->
  <% if !(params[:controller]=="childfinance" && params[:action]=="finance") && !(params[:controller]=="blog" && (params[:action]=="index" || params[:action]=="all") ) %>
  <div class='row-fluid beta'>
    <div class="span8">
      <a href="/"><img style="height: 54px;" src="/assets/logo.png"></a>
<!--      <span id="erweima"><img style="height: 54px;margin-left: 10px;" src="/assets/1.jpg"></span>  -->
    </div>
    <!--
    <div class="span6">
      <h4>家庭理财规划方案服务</h4>
    </div>
    <div class="span3">
      <h4 class="phone">客服电话：025-83428345</h4>
    </div>
    -->
    <div class="span4">
      <div id="log">
      <% if session[:webusername]!=nil %>
          <a class="pull-right rounder" onclick="logout()" href="javascript:void(0)">注销</a>
          <% if session[:webusername]=='admin' %>
              <a class="pull-right rounder" href="/admin"><%=session[:webusername]%>管理页面</a>
          <% elsif session[:organuser]!='1' %>
                  <a class="pull-right rounder" href="/personmanagement/personfinance"><%=session[:webusername]%> 的投资</a>
          <% else %>
              <a class="pull-right rounder" href="/personmanagement/organfinance">我的产品</a>
          <% end %>
      <% else %>
          <a class="pull-right rounder" href="/sales/login?logintype=creat" id="layout_creat" onclick="question('change_creat')">注册</a>
          <a class="pull-right rounder" href="/sales/login" id="layout_login">登陆</a>
      <% end %>
    </div>
      <% if session[:qq]!=1 %>
      <span id="qqLogin" class="pull-right" style="margin: 29px 20px 0 0;"></span>
          <% end %>
    </div>
  </div>
   <% end %>
  <%= yield %>
  <% if !(params[:controller]=="childfinance" && params[:action]=="finance") %>
  <div class="row-fluid main-footer">
    <div class="span2 offset2">
      <h4 class="tcol">家庭理财服务</h4>
<!--      <a href='/home/questions' class='full' target="_blank">风险承受度评估</a>   -->
      <a href='/usersurvey/startup' class='full' >理财规划</a>
      <a href='/bankinvest/select' class='full' >理财产品</a>
      <a href='/personmanagement/movablewall' class='full' >有奖活动</a>
    </div>
    <div class="span2">
      <h4 class="tcol">家庭理财知识</h4>
      <a href='/womenfinance' class='full' >女人理财</a>
      <a href='/childfinance' class='full' >儿童理财</a>
      <a href='/grassroots' class='full' >屌丝理财</a>
      <a class='full blog btn-link'>全部内容</a>
    </div>
    <div class="span2">
      <h4 class="tcol">联系我们</h4>
      <a href="http://e.weibo.com/tongtianshun/profile" class='full' target="_blank">新浪微博</a>
      <a href="http://t.qq.com/tongtian1232008" class='full' target="_blank">腾讯微博</a>
      <a href='/contactus/aboutus#联系我们' class='full' >微信</a>
      <form action="http://tongtianshun.us6.list-manage2.com/subscribe/post?u=3f74fc5da7a10c7c684617798&amp;id=9b8f1ce444" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">邮件订阅</label>
        <input type="email" value="" name="EMAIL" style="width:100%;padding: 3px 0;float: left;max-width: 200px;" class="email" id="mce-EMAIL" placeholder="输入电子邮箱地址" required>
        <div class="clear"><input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" style="font-size: 14px;padding: 4px 10px;" class="btn btn-primary"></div>
      </form>
      <!-- <a href="http://eepurl.com/tonoL" target="_blank" class='full'>邮件订阅</a> -->
    </div>
    <div class="span2">
      <h4 class="tcol">我的帐号</h4>
      <% if session[:webusername]!=nil %>
          <% if session[:organuser]!='1' %>
              <!--  <a class="full" href="/sales/myorder">我的订单</a>  -->
              <a class="full" href="/personmanagement/personfinance"><%=session[:webusername]%> 的投资</a>
              <% if session[:personname]!=0 %>
                  <a class="full" href="/personmanagement/personinfo/1">个人信息设置</a>
              <% else %>
                  <a class="full" href="/personmanagement/personinfo/0">个人信息设置</a>
              <% end %>
          <% else %>
              <a class="full" href="/personmanagement/organfinance">我的管理页面</a>
              <a class="full" href="/sales/revise">密码设置</a>
          <% end %>
      <% else %>
          <!--<a class="full" href="/sales/login?order=1">我的订单</a> -->
          <a class="full" href="/sales/login">我的投资</a>
          <a class="full" href="/sales/login">个人信息设置</a>
      <% end %>
    </div>
    <div class="span2">
      <h4 class="tcol">关于通天顺</h4>
      <a href='/contactus/aboutus' class='full' >关于我们</a>
<!--      <a href="javascript:void(0)" class="full" onclick="question('habla_oplink_a')">在线客服</a> -->
      <a href='/contactus/serviceterm' class='full' >服务条款</a>
      <a href='/contactus/privacypolicy' class='full' >隐私政策</a>
      <p> <a style="border-bottom: 0;margin: 0;" href="http://www.miibeian.gov.cn" target="_blank">苏ICP备12035521</a> @2013南京重人软件科技有限公司。<br></p>
      <a style="border-bottom: 0;" href="http://webscan.360.cn/index/checkwebsite/url/www.tongtianshun.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/121b197dfbc4257819d11914a3ebdbb4"/></a>
      <div style="height: 100px;"></div>
    </div>
  </div>
      <% end %>
</div>

<!-- <script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('5644-792-10-3841');/*]]>{/literal}*/</script><noscript><a href="https://www.olark.com/site/5644-792-10-3841/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript> -->

<script type="text/javascript">
    $(".closes").click(function(){
       $("#xoverlay").hide();
       $("#lay2").hide();
    });
    function question(name)
    {
        if(document.all)
        {
            document.getElementById(name).click();
        }
        else
        {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, true);
            document.getElementById(name).dispatchEvent(evt);
        }
    }

    function logout(){
        $.get('/admin/userlogout',function(data){
            if(data=="s"){
             //   alert("退出成功！");
                location.reload();
            }
        })
    }
</script>

<script type="text/javascript">
    //平台、设备和操作系统
    var system ={
        win : false,
        mac : false,
        xll : false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf('Win') == 0;
    system.mac = p.indexOf('Mac') == 0;
    system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
    //跳转语句
    if(system.win||system.mac||system.xll){
        $(".blog").click(function(){
            location.href="/blog/index";
        })
    }else{
        $("#erweima").remove();
        $(".blog").click(function(){
            location.href="/blog/all";
        })
    }
</script>

    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/1011.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

<!--
     <script type="text/javascript">
        (function() {
            var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/459d9d12-066e-43ad-80a7-1f84c6cabfda.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
        function question(name)
        {
            if(document.all)
            {
                document.getElementById(name).click();
            }
            else
            {
                var evt = document.createEvent("MouseEvents");
                evt.initEvent("click", true, true);
                document.getElementById(name).dispatchEvent(evt);
            }
        }
    </script>
    -->
</body>
</html>
