<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通天顺金融策略网 --首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag "reset.css" %>
<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>

<script type="text/javascript">
    var clickflag ;
  // document ready
    $(document).ready(function() {
    //box
    $('a.login-window,a.regedit-window,a.autotrade-window').click(function () {
        // Getting the variable's value from a link
        var loginBox = $(this).attr('href');
            if (loginBox=="#login-box"){
                clickflag="login" ;
            }
            else{
                clickflag="regedit";
            }
            //Fade in the Popup and add close button
            $(loginBox).fadeIn(300);
            //Set the center alignment padding + border
       		var popMargTop = ($(loginBox).height() + 24) / 2;
       		var popMargLeft = ($(loginBox).width() + 24) / 2;
       		$(loginBox).css({
       			'margin-top' : -popMargTop,
       			'margin-left' : -popMargLeft
       		});// Add the mask to body
       		$('body').append('<div id="mask"></div>');
       		$('#mask').fadeIn(300);
            return false;
       	});
       	// When clicking on the button close or the mask layer the popup closed
       	$('a.close, #mask').live('click', function() {
       	  $('#mask , .login-popup,.login-popupop_sub').fadeOut(300 , function() {
       		$('#mask').remove();
       	});
       	return false;
       	});
        //easySlider
        $("#slider").easySlider({
       		controlsBefore:	'<p id="controls">',
       		controlsAfter:	'</p>',
       		auto: true,
       		continuous: true
       	});
        //menu
        $('.menu > li').bind('mouseover', openSubMenu);
        $('.menu > li').bind('mouseout', closeSubMenu);
        function openSubMenu() {
            $(this).find('ul').css('visibility', 'visible');
            $(this).find('ul').css('z-index', '99');
        };
        function closeSubMenu() {
            $(this).find('ul').css('visibility', 'hidden');
        };
  });
   //google-analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30084381-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>
<!-- ruby code -->
<% @webuser = Webuser.find_by_name(session[:webuser_name]) %>
<% Time::DATE_FORMATS[:stamp] = '%Y%m%d%H%M%S' %>
<!-- body -->
<body onkeydown="enterkey()">
    <div class="logo_welcome_nav">
        <div class="pagedingbu">
        </div>
        <div class="block_header">
            <div class="logoimage">
            <%= link_to(image_tag("logo.jpg"),:controller=>"home",:action=>"index") %>
            </div>

            <div class="welcomeuser">
        <!-- user hasn't login yet -->  
            <% if session[:webuser_name]==nil%>
            <div class="register">
                  <a href="#regedit-box" class="regedit-window">注册</a>
            </div>

            <img src="/assets/logreg.gif">
            
            <div class="login">
                  <a href="#login-box" class="login-window">登录</a>
            </div>

            <!-- user had logined in -->
            <% else %>
            <div class="register">  
                <a href="javascript:void(0)" onclick="logout()">退出</a>
            </div>
            <div class="login">
                <p>用户：<%= session[:webuser_name] %></p>
            </div>
            <img src="/assets/yonghutouxiang.gif">
            <% end %>

            <div class="weiboblock">
                <%= link_to(image_tag("weibo.gif"),"http://weibo.com/u/2858671002") %>
            </div>
            
        </div>  <!-- end of welcomeuser -->

            <div class="clr"></div>

            <div class="menuMain" >
              <ul>
                <% if params[:controller]=="home"  %><li class="active"><% else %><li><% end %><a href="/home/index"><span><span><span>首页</span></span></span></a></li>
                <% if params[:controller]=="strategywebs"  %><li class="active"><% else %><li><% end %><a href="/strategywebs"><span><span><span>策略库</span></span></span></a></li>
                <% if @webuser==nil %>
                    <% if params[:controller]=="strategys_combine"  %><li class="active"><% else %><li><% end %><a href="#login-box" class="login-window"><span><span><span>策略配置</span></span></span></a></li>
                <% else %>
                    <% if params[:controller]=="strategys_combine"  %><li class="active"><% else %><li><% end %><a href="/strategys_combine"><span><span><span>策略配置</span></span></span></a></li>
                <% end %>
                <% if params[:controller]=="autotrade"  %><li class="active"><% else %><li><% end %><a href="javascript:void(0)"><span><span><span>自动化交易</span></span></span></a>
                  <div class="level">
                    <ul>
                      <% if @webuser==nil %>
                          <li class="begin"><a href="#login-box" class="login-window" >自动化设置</a></li>
                          <li><a href="#login-box" class="login-window">自动化执行</a></li>
                      <% elsif @webuser.ctp_account==nil|| @webuser.ctp_account=="" %>
                          <li class="begin"><a href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>" >自动化设置</a></li>
                          <li><a href="#autotrade-box"  class="autotrade-window">自动化执行</a></li>
                      <% else %>
                          <li class="begin"><a href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>" >自动化设置</a></li>
                          <li><a href="/autotrade/personaltrading">自动化执行</a></li>
                      <% end %>
                      <li><a href="/autotrade/aboutautotrade">关于自动化交易</a></li>
                    </ul>
                  </div>
                </li>
                <% if params[:controller]=="webusers"||params[:controller]=="admin"||params[:controller]=="usermanagement"  %><li class="active"><% else %><li><% end %><a href="javascript:void(0)"><span><span><span>我的账号</span></span></span></a>
                  <div class="level">
                    <ul>
                      <% if @webuser!=nil %>
                          <% if @webuser.name=="administrator" %>
                              <li class="begin"><a href="/admin" >个人信息管理</a></li>
                          <% else %>
                              <li class="begin"><a href="/webusers/edit/<%=@webuser.id%>" >个人信息管理</a></li>
                          <% end %>
                          <li><%= link_to("订阅的策略",:controller=>"usermanagement" ,:action=>"usertradecharge", :id=>@webuser.id) %></li>
                          <li><%= link_to("收藏的策略",:controller=>"usermanagement" ,:action=>"collection", :id=>@webuser.id) %></li>
                      <% else %>
                          <li class="begin"><a href="#login-box" class="login-window">个人信息管理</a></li>
                          <li><a href="#login-box" class="login-window">订阅的策略</a></li>
                          <li><a href="#login-box" class="login-window">收藏的策略</a></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
                <% if params[:controller]=="contactus"  %><li class="active"><% else %><li><% end %><a href="javascript:void(0)"><span><span><span>关于我们</span></span></span></a>
                  <div class="level">
                    <ul>
                      <li><a href="/contactus/companyintro">公司介绍</a></li>
                      <li><a href="/contactus/personintro">公司员工</a></li>
                      <li><a href="/contactus/productintro">公司产品</a></li>
                      <li><a href="/contactus/hire">招聘信息</a></li>
                    </ul>
                  </div>
                </li>
              </ul>

        </div>    <!-- end of menumain -->

            <script type="text/javascript">
              //login
              function login(){
                  $.get("/home/index", { name:$("#name").attr("value"),password:$("#password").attr("value")}, function (data,status){
                      if(data==$("#name").attr("value")) {
                          location.reload();
                      }
                      else{
                          $("#errormsg_position").css({"padding": "89px 0 0 30px"})
                          $("#errormsg").html(data);
                      }
                  });
              }
              //logout
              function logout(){
                  $.get("/home/index", { logout:"logout"}, function (data,status){
                      if(data=="logout") {
                          location.reload();
                      }
                  });
              }
            //regedit
              function regedit(){
                  $.get("/home/index", { regedit_name:$("#regedit_name").attr("value"),regedit_email:$("#regedit_email").attr("value"),
                      regedit_password:$("#regedit_password").attr("value"),regedit_password_confirmation:$("#regedit_password_confirmation").attr("value")}, function (data,status){
                      if(data==$("#regedit_name").attr("value")) {
                          location.href="/webusers/regeditconfirm/1?"+("regedit_name="+$("#regedit_name").attr("value")+"&regedit_email="+encodeURIComponent($("#regedit_email").attr("value"))+"&regedit_password="+($("#regedit_password").attr("value")));
                      }
                      else{
                          $("#regeditmsg_position").css({"padding": "93px 0 0 30px"});
                          $("#regedit_errormsg").html(data);
                      }
                  });
              }
            //enterkey
              function enterkey(){
                  if ( event.keyCode=='13'&&$("#mask").length>0&&clickflag=="login" )
                       $(".clicksubmit_login").click();
                  if ( event.keyCode=='13'&&$("#mask").length>0&&clickflag=="regedit" )
                       $(".clicksubmit_regedit").click();
              }
        </script>

              <!--login-box -->
              <div id="login-box" class="login-popup">
                <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
                <form class="signin">
                      <div id="errormsg"></div>

                        <div class="login_username">
                          <label id="label_login">用户名:</label>
                          <%= text_field_tag :name, params[:name],:class =>"name-input" %>
                        </div>
                        <div class="login_password">
                          <label id="label_login">密码:</label>
                          <%= password_field_tag :password, params[:password],:class =>"passwd-input" %>
                          <a  href="/webusers/forgetpassword/<%= Time.now.to_s(:stamp)%>" id="forgetpassword">忘记密码？</a>
                        </div>

                        <div class="login_comment">
                            <input type="checkbox" />
                          <p>记住我</p>
                          <p>您没有账号？</p>
                            <a href="#regedit-box" class="regedit-window" onclick="$('.login-popup').fadeOut(300 , function() {});return false;" >注册</a>

                        </div>
                        <div class="login_submit">
                          <a class="clicksubmit_login" href="javascript:void(0)" onclick="login()" style="text-decoration:none;color: white;font-size:16px;font-family:Microsoft YaHei">登入</a>
                        </div>

                </form>
              </div>

              <!--regedit-box -->
              <div id="regedit-box" class="login-popup">
                <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btnrg_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
                <form class="registerin">

                      <div id="regedit_errormsg"></div>

                        <div class="regedit_username">
                          <label id="label_register">用户名:</label>
                          <%= text_field_tag :regedit_name, params[:regedit_name] %>
                        </div>


                        <div class="regedit_email">
                          <label id="label_register">电子邮件:</label>
                          <%= email_field_tag :regedit_email, params[:regedit_email] %>
                        </div>


                        <div class="regedit_password">
                          <label id="label_register">设置密码:</label>
                          <%= password_field_tag :regedit_password, params[:regedit_password] %>
                        </div>


                        <div class="regedit_confirm_password">
                          <label id="label_register">密码确认:</label>
                          <%= password_field_tag :regedit_password_confirmation, params[:regedit_password_confirmation]  %>
                        </div>

                      <div class="regedit_comment">
                        <p>
                        您已有账号？
                        </p>
                        <a href="#login-box" class="login-window" onclick="$('.login-popup').fadeOut(300 , function() {});return false;">登入</a>
                      </div>
                      <div class="regedit_submit">
                        <a class="clicksubmit_regedit" href="javascript:void(0)" onclick="regedit()">注册</a>
                      </div>
                </form>
              </div>

              <!--autotrade-box -->
              <div id="autotrade-box" class="login-popupop_sub">
                <h3>请先设置参数！</h3>
                <div class="login-popupop_sub_a">
                  <a id="popupop_sub_config" href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>">设置</a>
                  <a id="popupop_sub_cancell" class="close" href="javascript:void(0)" style="text-decoration:none;">取消</a>
                </div>
              </div>

        </div>    <!-- block_header end -->

    </div>   <!-- end of logo_welcome_nav-->
<!-- main end -->
    <div class="framework">
        <%= yield %>
    </div>
</body>
</html>
