<table class="rttableformat">
  <%  mysid = '010001' %>
  <%  myuname = session[:webuser_name] %>
  <%  @webuserstrategy = Webuserstrategy.find_by_username_and_strategyid(myuname,mysid) %>
  <%  if !@webuserstrategy then%>
    <p>您没有对该策略进行个性化配置，如果你想配置的话，请点击右边配置图标</p>
  <% end %>

	  <tr>
		<th>合约号</th>
		<th>近月合约价格</th>
		<th>远月合约价格</th>
		<th>最新价差</th>
		<th>持仓成本</th>
		<th>年化收益率</th>
		<th>更新时间</th>
		<th>测试时间</th>
	  </tr>
	<% rtxmlvalue = XmlSimple::xml_in('public/norisktradepair/SpreadCost/CSpreadCostStrRunOnTime.xml') %>
	<% rtvalue = rtxmlvalue['pair'] %>
	<% rtvalue.each do |rt| %>
		<tr>
		<td><%= rt["name"][0] %> </td>
		<td><%= rt["firstprice"][0] %></td>
		<td><%= rt["secondprice"][0] %></td>
		<td><%= rt["diffprice"][0] %></td>
		<td>
		<% if rt["diffprice"][0].to_i >0 %>
		<%= rt["computearbfee"][0] %>
		<% else %>
		<%= "--" %>
		<% end %>
		</td>
		<td>
		<% if rt["diffprice"][0].to_i >0 %>
		<%= number_to_percentage(100*(rt["computerateofreturn"][0].to_f),:precision=>1) %>
		<% else %>
		<%= "--" %>
		<% end %>
		</td>

		<td><%= rt["time"][0] %></td>
		<td><%= Time.now %></td>
		</tr>

          <%  if @webuserstrategy then%>
            <% if rt["computerateofreturn"][0].to_f > 0.1%>
                  <p>成交记录打印</p>
                  <% else %>
                  <p>无成交记录</p>
            <% end %>
          <% end %>
	<% end %>

	</table>