<table class="rttableformat">
	  <tr>
		<th>合约号</th>
		<th>近月合约价格</th>
		<th>远月合约价格</th>
		<th>最新价差</th>
		<th>持仓成本</th>
		<th>年化收益率</th>
		<th>更新时间</th>
		<th>测试时间</th>
	  </tr>
	<% rtxmlvalue = XmlSimple::xml_in('public/MyLib/SpreadCost/CSpreadCostStrRunOnTime.xml') %>
	<% rtvalue = rtxmlvalue['pair'] %>
	<% rtvalue.each do |rt| %>
		<tr>
		<td><%= rt["name"][0] %> </td>
		<td><%= rt["firstprice"][0] %></td>
		<td><%= rt["secondprice"][0] %></td>
		<td><%= rt["diffprice"][0] %></td>
		<td>
		<% if rt["diffprice"][0].to_i >0 %>
		<%= rt["computearbfee"][0] %>
		<% else %>
		<%= "--" %>
		<% end %>
		</td>
		<td>
		<% if rt["diffprice"][0].to_i >0 %>
		<%= number_to_percentage(100*(rt["computerateofreturn"][0].to_f),:precision=>1) %>
		<% else %>
		<%= "--" %>
		<% end %>
		</td>

		<td><%= rt["time"][0] %></td>
		<td><%= Time.now %></td>
		</tr>

	<% end %>

	</table>


