<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通天顺金融策略网 -- 无风险套利</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<%= stylesheet_link_tag "reset.css" %>
<%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "jquery.noty.css" %>
  <%= stylesheet_link_tag "noty_theme_growl.css" %>
  <%= stylesheet_link_tag "noty_theme_facebook.css" %>
  <%= stylesheet_link_tag "buttons.css" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.noty.js" %>
  <%= javascript_include_tag "xml2array.js" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>

  <script type="text/javascript">
  $(document).ready(function() {
  		$('.menu > li').bind('mouseover', openSubMenu);
  		$('.menu > li').bind('mouseout', closeSubMenu);

  		function openSubMenu() {
  			$(this).find('ul').css('visibility', 'visible');
              $(this).find('ul').css('z-index', '99');
  		};

  		function closeSubMenu() {
  			$(this).find('ul').css('visibility', 'hidden');
  		};

  });
  </script>

<script type="text/javascript" charset="utf-8">

// <![CDATA[
$(document).ready(function(){
	$("#slider").easySlider({
		controlsBefore:	'<p id="controls">',
		controlsAfter:	'</p>',
		auto: true,
		continuous: true
	});
});
// ]]>
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30084381-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body onbeforeunload ="return pageBeforeunload(event);" >
<div class="main">
  <div class="header">
    <div class="block_header">
          <div class="logoimage">
          <%= link_to(image_tag("logo.gif"),:controller=>"home",:action=>"index") %>
          </div>

          <% if session[:webuser_name]==nil then%>
          <div class="register">
          <%= link_to "注册", :controller=>"webusers",:action=>"new" %>
          </div>

          <div class="login">
          <%= link_to " 登录", :controller=>"sessions",:action=>"new" %>
          </div>
          <% else %>
          <div class="welcomeuser"><p>
          您好，<%= session[:webuser_name] %>! <%= link_to "(不是 " + session[:webuser_name] +"?)", logout_path %>
          </p></div>
	  <% end %>

      <div class="clr"></div>
      <ul class="menu">
		  <li><%= link_to "首页", :controller=>"home", :action=>"index" %></li>
  		  <li><%= link_to "无风险套利",:controller => "strategy",:action =>"shownorisk" %></li>
        <li><a href="javascript:void(0)">自动化交易</a>
        <ul style="visibility: hidden; ">
          <li><a href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>" >自动化设置</a></li>
          <li><a href="/autotrade/personaltrading">自动化交易</a></li>
          <li><a href="javascript:void(0)">常见问题</a></li>
        </ul>
        </li>
        <li><%= link_to "我的账号",:controller => "usermanagement",:action => "index" %>
            <ul style="visibility: hidden; ">
              <li><a href="javascript:void(0)">账号管理</a></li>
              <%  @webuser = Webuser.find_by_name(session[:webuser_name]) %>
              <% if @webuser!=nil %>
              <li><a href="/webusers/edit/<%=@webuser.id%>" >&nbsp;&nbsp;个人信息管理</a></li>
                  <li><a href="/usermanagement/trademanageindex">&nbsp;&nbsp;交易信息管理</a></li>
                  <% else %>
                  <li><a href="/sessions/new">&nbsp;&nbsp;个人信息管理</a></li>
                  <li><a href="/sessions/new">&nbsp;&nbsp;交易信息管理</a></li>
                  <% end %>
              <li><a href="#">策略管理</a></li>
              <li><a href="/autotrade/userreturnrate">&nbsp;&nbsp;无风险套利配置</a></li>
            </ul>
          </li>
        <li><%= link_to "信息",:controller => "contactus",:action => "companyintro" %>
          <ul style="visibility: hidden; ">
            <li><a href="#">交易信息</a></li>
            <li><a href="/tradeinfo/todayinfo">&nbsp;&nbsp;当日交易信息</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="/contactus/companyintro">&nbsp;&nbsp;公司介绍</a></li>
            <li><a href="/contactus/personintro">&nbsp;&nbsp;公司员工</a></li>
            <li><a href="/contactus/productintro">&nbsp;&nbsp;公司产品</a></li>
            <li><a href="/contactus/hire">&nbsp;&nbsp;招聘信息</a></li>
          </ul>
        </li>
        </ul>
      <div class="clr"></div>
    </div>
  </div>
  <div class="slider2">
  <div class="slice12">
    <h2>策略分类</h2>
  </div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
    <div class="StrategyNews">
    <h2>无风险套利</h2>
    <ul>
      <li><%= link_to "策略实时运行",:controller =>"strategy",:action =>"shownorisk" %></li>
    </ul>
  <p></p>
    </div>

  <div class="frame_norisk">

<%= yield %>
</div>
      <div style="float: right;width: 198px">
      <div id="title-top"><h3>订阅该系统: </h3> </div>  <!--  <input type="button" value="详细" id="subscribe">  -->
        <br><p id="psubscribe">该策略的定价为<%= Strategyweb.find_by_strategyid("010001").price%>元每月，您将有<%= Strategyweb.find_by_strategyid("010001").trydays%>天的免费试用期。
        <a class="btnB"  href="javascript:void(0)">
<span>
<span>
<span id="subscribe">详细</span>
</span>
</span>
        </a>
        <!--<input type="button" value="详细" id="subscribe"> </p>    -->
        <div id="menuop"></div>
  <div id="buttonWrap">
    <% @strategy_norisk=Strategyweb.find_by_strategyid_and_name("010001","无风险套利")%>
    <% if session[:webuser_name]==nil %>
        <a class="btnOwB" href="/sessions/new" >
          <span class="btnOwB">
            <span class="btnOwB">
             <span class="btnOwB">订 阅</span>
             </span>
             </span>
        </a>
          <% else %>
        <% if Subscribetable.find_by_subscribe_userid(Webuser.find_by_name(session[:webuser_name]).id)==nil %>
        <a class="btnOwB" href="/strategy/subscribe/<%=@strategy_norisk.id%>" >
  <span class="btnOwB">
  <span class="btnOwB">
   <span class="btnOwB">订 阅</span>
   </span>
   </span>
        </a>
        <% else %>
            <a class="btnOwB" href="javascript:void(0)" onclick="issubscribe()">
  <span class="btnOwB">
  <span class="btnOwB">
   <span class="btnOwB">已订阅</span>
   </span>
   </span>
        </a>
<% end %>
    <% end %>
   </div>
       <!-- <%= button_to "订阅" %> -->
        <script type="text/javascript">
            $("#menuop").hide();
            $("#subscribe").click(function(){ <!--点击按钮触发-->
                if($("#menuop").is(":hidden")){
                    $("#menuop").show();
                    $("#menuop").html("<p id='psubscribe'>订阅后，该策略将向您提供主力次主力，跨月套利对的无风险套利。</p>");
                }
                else
                $("#menuop").hide();
           });

            function issubscribe(){
                if(confirm('您钱真多，再付一次钱吧！')){
                    location.href=("/strategy/subscribe/<%=@strategy_norisk.id%>")
                }
            }

        </script>
      </div>
<div class="clr"></div>
  </div>
<div class="clr"></div>
</div>
</div>
</body>
</html>
