<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通天顺金融策略网 -- 无风险套利</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<%= stylesheet_link_tag "reset.css" %>
<%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "jquery.noty.css" %>
  <%= stylesheet_link_tag "noty_theme_growl.css" %>
  <%= stylesheet_link_tag "noty_theme_facebook.css" %>
  <%= stylesheet_link_tag "buttons.css" %>
<%= stylesheet_link_tag "datatables.css" %>
<%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.noty.js" %>
  <%= javascript_include_tag "xml2array.js" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>

  <script type="text/javascript">
  $(document).ready(function() {
  		$('.menu > li').bind('mouseover', openSubMenu);
  		$('.menu > li').bind('mouseout', closeSubMenu);

  		function openSubMenu() {
  			$(this).find('ul').css('visibility', 'visible');
              $(this).find('ul').css('z-index', '99');
  		};

  		function closeSubMenu() {
  			$(this).find('ul').css('visibility', 'hidden');
  		};

		$('.login_dl').bind('mouseover', showimg);
  		$('.login_dl').bind('mouseout', unshowimg);
	
  		function showimg() {
  			$('.loginimg').css('visibility', 'visible');
  		};

  		function unshowimg() {
  			$('.loginimg').css('visibility', 'hidden');
  		};
		
		
		
		
		
		
  });
  </script>

<script type="text/javascript" charset="utf-8">

// <![CDATA[
$(document).ready(function(){
	$("#slider").easySlider({
		controlsBefore:	'<p id="controls">',
		controlsAfter:	'</p>',
		auto: true,
		continuous: true
	});
});
// ]]>
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30084381-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 <script type="text/javascript">
 $(document).ready(function() {
 $('.registerzc').bind('mouseover', showimg);
  		$('.registerzc').bind('mouseout', unshowimg);
	
  		function showimg() {
  			$('.registerimg').css('visibility', 'visible');
  		};

  		function unshowimg() {
  			$('.registerimg').css('visibility', 'hidden');
  		};
});
 </script>

</head>

<body onkeydown="enterkey()" onbeforeunload ="return pageBeforeunload(event);" >
<div class="main">
  <div class="header">
  <div class="pagedingbu">
  
  </div>
  
    <div class="block_header">
          <div class="logoimage">
          <%= link_to(image_tag("logo.jpg"),:controller=>"home",:action=>"index") %>
          </div>

          <% if session[:webuser_name]==nil then%>
          <div class="register">
         <div class="registerzc">
            <a href="#regedit-box" class="regedit-window">注册</a></div>
            <div class="registerimg" style="visibility: hidden; " >
          </div>
          </div>
         <div class="logandreg"></div>
          <div class="login">
         <div class="login_dl">
            <a href="#login-box" class="login-window">登录</a></div>
		  <div class="loginimg" style="visibility: hidden; ">
          </div>
          </div>
          <div class="welcomeuser"><p></p></div>
          <% else %>
        <div class="register" style="display: none;">
          <a href="#regedit-box" class="regedit-window">注册</a>
        </div>

        <div class="login" style="display: none;">
          <a href="#login-box" class="login-window">登录</a>
        </div>
          <div class="welcomeuser">
		  <a href="javascript:void(0)" onclick="logout_s()">退出</a>
		  <div class="yonghu">
		  <p>
            用户：<%= session[:webuser_name] %>! 
			
			
			
          </p>
		  </div>
		  <div class="yonghure"></div>
		  </div>
	  <% end %>

      <div class="clr"></div>
      <div id="menuMain" >
	  <div>
	  <div>
	  <div>
      <ul>
		  <li ><a href="/home/index"><span><span><span>首页</span></span></span></a></li>
  		  <li class="active"><a href="/strategy/shownorisk"><span><span><span>无风险套利</span></span></span></a></li>
        <li><a href="javascript:void(0)"><span><span><span>自动化交易</span></span></span></a>
                  <div class="level">
<ul>
            <li class="begin"><a href="/autotrade/autotrade_s1/<%= Strategyweb.find_by_name("无风险套利").id %>" >自动化设置</a></li>
            <li><a href="/autotrade/personaltrading">自动化执行</a></li>
            <li><a href="/autotrade/aboutautotrade">关于自动化交易</a></li>
          </ul>
</div>
        </li>
        <li><a href="javascript:void(0)"><span><span><span>我的账号</span></span></span></a>
                             <div class="level">
 <ul>
              <%  @webuser = Webuser.find_by_name(session[:webuser_name]) %>
              <% if @webuser!=nil %>
              <li class="begin"><a href="/webusers/edit/<%=@webuser.id%>" >个人信息管理</a></li>
                  <li><a href="/usermanagement/trademanageindex">订阅的策略</a></li>
                  <% else %>
                  <li class="begin"><a href="#login-box" class="login-window">个人信息管理</a></li>
                  <li><a href="#login-box" class="login-window">订阅的策略</a></li>
                  <% end %>
            </ul>
</div>
          </li>
        <li><a href="javascript:void(0)"><span><span><span>关于我们</span></span></span></a>
		<div class="level">
          <ul>
            <li><a href="/contactus/companyintro">公司介绍</a></li>
            <li><a href="/contactus/personintro">公司员工</a></li>
            <li><a href="/contactus/productintro">公司产品</a></li>
            <li><a href="/contactus/hire">招聘信息</a></li>
          </ul>
   </div>
        </li>
        </ul>
	 </div>
	 </div>
	 </div>	
  </div>
      <script type="text/javascript">
          var clickflag ;
      $(document).ready(function() {
          $('a.login-window,a.btnBb,a.btnBa,a.regedit-window').click(function () {

         		// Getting the variable's value from a link
         		var loginBox = $(this).attr('href');
              if (loginBox=="#login-box")
             clickflag="login" ;
           else
                 clickflag="regedit";
         		//Fade in the Popup and add close button
         		$(loginBox).fadeIn(300);

         		//Set the center alignment padding + border
         		var popMargTop = ($(loginBox).height() + 24) / 2;
         		var popMargLeft = ($(loginBox).width() + 24) / 2;

         		$(loginBox).css({
         			'margin-top' : -popMargTop,
         			'margin-left' : -popMargLeft
         		});

         		// Add the mask to body
         		$('body').append('<div id="mask"></div>');
         		$('#mask').fadeIn(300);

         		return false;
         	});

         	// When clicking on the button close or the mask layer the popup closed
         	$('a.close, #mask').live('click', function() {
         	  $('#mask , .login-popup').fadeOut(300 , function() {
         		$('#mask').remove();
         	});
         	return false;
         	});
         //
      });
      function login(){
          $.get("/home/index", { name:$("#name").attr("value"),password:$("#password").attr("value")}, function (data,status){
          if(data==$("#name").attr("value")) {
              location.reload();
          }
              else{
          $("#errormsg").html(data) }
          });
      }

      function logout(){
          $.get("/home/index", { logout:"logout"}, function (data,status){
          if(data=="logout") {
              location.reload();
           }
          });
      }
      function logout_s(){
          $.get("/home/index", { logout:"logout"}, function (data,status){
          if(data=="logout") {
              location.reload();
           }
          });
      }

      function regedit(){
          $.get("/home/index", { regedit_name:$("#regedit_name").attr("value"),regedit_email:$("#regedit_email").attr("value"),
              regedit_password:$("#regedit_password").attr("value"),regedit_password_confirmation:$("#regedit_password_confirmation").attr("value")}, function (data,status){
          if(data==$("#regedit_name").attr("value")) {
              location.reload();  }
              else{
          $("#regedit_errormsg").html(data) }
          });
      }
          function enterkey(){
              if ( event.keyCode=='13'&&$("#mask").length>0&&clickflag=="login" )
                   $(".clicksubmit_login").click();
              if ( event.keyCode=='13'&&$("#mask").length>0&&clickflag=="regedit" )
                   $(".clicksubmit_regedit").click();
          }
      </script>
	  
	  
	  
      <div class="container">
      	<div id="content">
              <div id="login-box" class="login-popup">
              <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
                <%= form_tag ('/home/index') ,:class=>"signin",:remote => true  do %>
                    <div id="form_wrapper" class="form_wrapper">
                      <form class="login active">
                        <h3>登录</h3><br>
                        <div id="errormsg"></div>
                        <div class="column">
                          <div>
                            <label>用户名:</label>
                            <%= text_field_tag :name, params[:name],:class =>"name-input" %>
                          </div>
                          <div>
                            <label>密码:</label>
                            <%= password_field_tag :password, params[:password],:class =>"passwd-input" %>
                          </div>
                        </div>
                        <div class="bottom">
                          <div class="remember"><input type="checkbox" /><span>记住我</span></div>
                          <div>
                            <a class="clicksubmit_login" href="javascript:void(0)" onclick="login()">登录</a>
                          </div>
                          <a href="#regedit-box" class="regedit-window" onclick="$('.login-popup').fadeOut(300 , function() {});return false;">您还没有账号？请点击注册</a>
                          <div class="clear"></div>
                        </div>
                      </form>
                    </div>
                <% end %>
      		</div>
          </div>
      </div>

      <div class="container">
      	<div id="content">
              <div id="regedit-box" class="login-popup">
              <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>

                <%= form_tag do%>
                    <div id="form_wrapper1" class="form_wrapper1">
                      <form class="register1 active">
						<h3>注册</h3>
                        <div id="regedit_errormsg"></div>
						<div class="column">
                          <div>
                            <label>用户名:</label>
                            <%= text_field_tag :regedit_name, params[:regedit_name] %>
                          </div>
						</div>
						<div class="column">
							<div>
								<label>电子邮件:</label>
								<%= email_field_tag :regedit_email, params[:regedit_email] %>
							</div>
						</div>
						<div class="column">
							<div>
								<label>密码:</label>
                              <%= password_field_tag :regedit_password, params[:regedit_password] %>
                            </div>
						</div>
						<div class="column">
							<div>
								<label>密码确认:</label>
                              <%= password_field_tag :regedit_password_confirmation, params[:regedit_password_confirmation]  %>
                            </div>
                        </div>
						<div class="bottom">
                          <div class="actions">
                            <a class="clicksubmit_regedit" href="javascript:void(0)" onclick="regedit()">注册</a>
							</div>
                          <a href="#login-box" class="login-window" onclick="$('.login-popup').fadeOut(300 , function() {});return false;">您早已有帐号，请点击登录</a>
							<div class="clear"></div>
                        </div>
					</form>
				</div>
                <% end %>
      		</div>
          </div>
      </div>

      <div class="clr"></div>
    </div>
  </div>
  <div class="slider2">
  
  <div id="slice12">
    <ul>
  <li><a onmouseover="showintro()"></a>
  </li>
  </ul>
  </div>
  </div>
  
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
    

  <div class="frame_norisk">
  <div class="lframe_norisk"></div>
<div class="rframe_norisk"></div>
<%= yield %>

</div>
      <div style="float: right;width: 250px ;margin-top:-50px;" >

        <% @strategy_norisk=Strategyweb.find_by_strategyid_and_name("010001","无风险套利")%>
            <% if session[:webuser_name]==nil %>
            <div id="title-top">
	  <ul>
      <li><a class="login-window" href="#login-box" >订阅</a></li>
	  <li><a class="login-window" href="#login-box" >试用</a></li>
	  </ul>
            </div>
        <% else %>
            <% if Subscribetable.find_by_subscribe_userid(Webuser.find_by_name(session[:webuser_name]).id)==nil %>
                <div id="title-top1"><div class="top1left">
        <ul>
              <!-- <li><a class="login-window" href="/strategy/subscribe/<%=@strategy_norisk.id%>" >订阅</a></li> -->
          <% if Webuser.find_by_name(session[:webuser_name]).level==0 %>
              <li> <a class="login-window" href="/strategy/try/<%=@strategy_norisk.id%>" >试用</a></li>
          <% elsif Webuser.find_by_name(session[:webuser_name]).level==99&& @strategy_norisk.trydays-(DateTime.strptime(Time.now.to_s(:db),"%Y-%m-%d").to_i-DateTime.strptime(@webuser.leveldate.to_s(:db),"%Y-%m-%d").to_i)/86400<=0 %>
              <li><a  href="javascript:void(0)" onclick="havedtry()" >已过试用</a></li>
          <% elsif Webuser.find_by_name(session[:webuser_name]).level==99 %>
              <li><a class="login-window" href="javascript:void(0)" onclick="havetry()" >已试用 </a></li>
          <% end %>
        </ul> </div>
		<div class="top1right"> 
                  <ul>
                  	  <li><p>      <%= @trynotice  %></p>
                  	  </li>
                  	  </ul>
					   </div>
                </div>
      <% else %>
                <div id="title-top1"> <div class="top1left">   <ul><li><a href="javascript:void(0)" onclick="issubscribe()">已订阅</a></li> </ul></div>
				<div class="top1right"> 
                  <ul>
                  	  <li><p>      <%= @trynotice  %></p>
                  	  </li>
                  	  </ul>
					  </div>
                </div>
<% end %>
  <% end %>

	  <!--  <input type="button" value="详细" id="subscribe">  -->
      <div id="psubscribe">      
	  <p>该策略的定价为<%= Strategyweb.find_by_strategyid("010001").price%>元每月，您将有<%= Strategyweb.find_by_strategyid("010001").trydays%>天的免费试用期。
	   <p>订阅后，该策略将向您提供主力次主力，跨月套利对的无风险套利。</p>
	   </div>
	   
	   
  <!--      <a class="btnB"  href="javascript:void(0)">
<span>
<span>
<span id="subscribe">详细</span>
</span>
</span>
       </a>	  
--> 
   
	
        <!--<input type="button" value="详细" id="subscribe">    -->
        <div id="menuop"></div>
	<div id="celuojieshao">
	<h2>策略介绍:</h2>
	<div class="celuojieshaol">
	<h2>交易品种</h2>
	<h2>策略类型</h2>
	<h2>系统开始时间</h2>
	<h2>系统开发者</h2>
	</div>
	<div class="celuojieshaom">
	</div>
	<div id="celuojieshaor">
	<h2>交易品种</h2>
	<h2>策略类型</h2>
	<h2>系统开始时间</h2>
	<h2>系统开发者</h2>
	</div>
 
	</div>
	<div id="tiyijian">
	<h2>提点意见</h2>
	
	
 <div class ="remarkslist">

<iframe name="iframe_index" src="../noriskmessages" width="250" scrolling="no" height="400" marginheight="0" marginwidth="0" style="border:none"></iframe>
 </div>
	
	</div>
	
	<div class="adverise">
<h2 class="strategyconduction" >您的意见</h2>
 </div>
 <div class = "newremark">
 <iframe src="../noriskmessages/new" frameborder="0" scrolling="no" height="300" width="250" marginheight="0" marginwidth="0" style="margin-top: 0px\9"></iframe>
 </div>
	
   </div>
       <!-- <%= button_to "订阅" %> -->
        <script type="text/javascript">
            $("#menuop").hide();
            $("#subscribe").click(function(){ <!--点击按钮触发-->
                if($("#menuop").is(":hidden")){
                    $("#menuop").show();
                    $("#menuop").html("<p id='psubscribe'>订阅后，该策略将向您提供主力次主力，跨月套利对的无风险套利。</p>");
                }
                else
                $("#menuop").hide();
           });

            function issubscribe(){
                if(confirm('您钱真多，再付一次钱吧！')){
                    location.href=("/strategy/subscribe/<%=@strategy_norisk.id%>")
                }
            }
            function havetry(){
                alert("您已经在试用了！")
            }
            function havedtry(){
                alert("您已经试用过了！")
            }

        </script>
      </div>
    <div class="container">
     	<div id="content">
             <div id="showintro" class="login-popup">
             <a href="#" class="close"><%= image_tag ("close_pop.png"), :class=>"btn_close" ,:title=>"Close Window" ,:alt=>"Close"%></a>
               <%= form_tag ('/home/index') ,:class=>"signin",:remote => true  do %>
                   <%= image_tag("jieshao_youzi.gif")%>
               <% end %>
     		</div>
         </div>
     </div>
<div class="clr"></div>
  </div>
<div class="clr"></div>
</div>
</div>
</body>
</html>